<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>

        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai
                                Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci —
                                Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie
                                Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały na serwerze
                            UMK<span class="sr-only"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item disabled" href=""></a>
                            <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i
                                tabele</a>
                            <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły
                                naukowe i popularne</a>
                            <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w
                                wartościach ludzkich</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article" id="osobie">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Inne</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Baba i współcześni Mayo</h2>

            </b></p>

            <p class="text-center my-5"><b>Pełny zapis przemówienia wygłoszonego na
            ogólnopolskim zjeździe
            wielbicieli Sathya Sai w Łodzi, 1-4.05.2014</span></b></p>
            
            <p class="MsoNormal" style="margin-top:0cm;margin-right:1.0cm;margin-bottom:10.0pt;
            margin-left:1.0cm"><i><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Art-Ong Jumsai, urodzony w Tajlandii w
            rodzinie buddyjskiej. Jest naukowcem, pracował m.in. nad lądownikiem sondy
            marsjańskiej Viking. Był wiceministrem spraw zagranicznych Tajlandii i
            senatorem. Poświęcił się pracy pedagogicznej. Założył pierwszą na świecie poza
            Indiami szkołę wychowania w wartościach ludzkich w Bangkoku. Inne jego
            wypowiedzi na zjeździe w Łodzi czytelnik znajdzie w Sai Ram nr. 83.</span></i></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Składam moje pełne miłości pokłony boskim stopom
            Bhagawana Śri Sathya Sai Baby. Sai Ram! Dzisiaj będę mówił o czymś , co jest
            bardzo trudne. Jest to nasza przyszłość. Ponieważ to się jeszcze nie wydarzyło,
            wiec bardzo trudno o tym mówić. Wiemy, że Swami mówił, że przyjdzie
            trzykrotnie. Pierwszy raz przyszedł jako Sai Baba z Śirdi. Po Śirdi Sai Babie
            mieliśmy Sathya Sai Babę. Swami powiedział, że przyjdzie później jako Prema Sai
            Baba. Prema Sai wygląda bardzo podobnie jak Jezus. My wiemy z chrześcijaństwa,
            że Jezus pojawi się ponownie i wiemy, że od czasu do czasu pojawia się w
            różnych miejscach. To jest nasza przyszłość. Swami powiedział bardzo wyraźnie:
            w czasach Prema Sai na świecie będzie pokój. Więc pewnie za daleko nie zabrniemy
            z tymi wszystkimi naszymi problemami i trudnościami na ziemi. </span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Sai Baba powiedział na początku, że będzie z nami aż
            osiągnie wiek 96 lat. Ale odszedł przed tą datą. Co to oznacza? Zadaniem tego
            Sai Baby było przygotowanie nas wszystkich dla przyszłości świata. Jego
            zadaniem było przygotowanie pokoju na ziemi, aby gdy przyjdzie Prema Sai był
            już pokój. Więc kiedy przyjdzie Prema Sai? Swami mówił, że Prema Sai przyjdzie
            8 lat po tym, jak On odejdzie w wieku 96 lat<a href="#_ftn1" name="_ftnref1" title=""><span class="MsoFootnoteReference"><span class="MsoFootnoteReference"><span style="13.0pt;115%;&quot;Times New Roman&quot;,&quot;serif&quot;">[1]</span></span></span></a>.
            Wiele osób mówi, że powinniśmy kierować się hinduskim kalendarzem. Natomiast
            Swami mówiąc to, odnosił się do zachodniego kalendarza. Sathya Sai Baba to Śiwa
            inkarnowany jako Sai Baba. A jak wiemy, Śiwa jest niszczycielem, tym który
            niszczy. Więc coś musi być zniszczone. Jest to całe zło, wszystkie złe osoby,
            wszystkie problemy – to wszystko musi być zniszczone przez Sai Babę. Ale
            dlaczego Swami opuścił swoje ciało? Jest w tym coś, o czym naprawdę powinniśmy
            pomyśleć. Wszyscy wiemy, że jego czas jeszcze nie nadszedł. Widzimy, że wciąż
            jest wiele wojen i problemów, tak więc pokój jeszcze nie nastąpił. A Swami ma
            przyczynić się do zapanowania pokoju, zanim Prema Sai przyjdzie. Ale Swami
            zawsze powtarzał, że pojawi się ponownie w ostatnich 6 latach. 96 lat to był
            ten wiek, po którym miał opuścić ciało i te 6 lat odnosi się do tego wieku – 6
            lat wcześniej. Więc w ciągu tych 6 lat przed 96 rokiem życia będzie musiał
            oczyścić ten świat ze wszystkich wojen, ze wszystkiego tego, co negatywne. No
            ale jak widać opuścił swoje ciało już teraz. Ale jeśli słuchaliście Go uważnie
            to wiecie, że pojawi się jako młody mężczyzna, w formie takiej, jaką miał
            wcześniej w tym ciele.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Kiedy Bóg zstępuje do formy fizycznej, wtedy jest
            bardzo ograniczony. Tak jak Jezus Chrystus w formie fizycznej musiał zostać
            ukrzyżowany i nie mógł za wiele zrobić. Oczywiście Jezus jest Bogiem, podobnie
            jak Swami. Ale kiedy są w ciele fizycznym, są ograniczeni. Więc Swami opuścił
            ciało mając powód ku temu, celowo opuścił ciało. Wydaje się jakby umarł, ale w
            rzeczywistości On nie umarł. Teraz pojawia się jako przewodnik. W ciele
            fizycznym był bardzo ograniczony, a teraz, kiedy nie ma już więcej ciała, nie
            ma ograniczeń. My wiemy, że On nas nie opuścił, ponieważ pojawił się wielu
            osobom w czasie po opuszczeniu ciała. I za 2 lata rozpocznie się ostatnie 6
            lat, kiedy będzie On w postaci Sathya Sai Baby. No i także jest pewien czas
            dodatkowy, zanim Prema Sai się pojawi. Więc to jest 8 lat teraz i kolejne 8 lat
            zanim Prema Sai przyjdzie. Swami będzie miał bardzo dużo pracy, będzie musiał
            działać bardzo szybko, żeby przygotować świat na przyjście Prema Sai. Więc
            musimy naprawdę bardzo szybko zaangażować się w medytację i stać się
            instrumentem dla Swamiego. Pamiętajmy, że Swami nas nie opuścił, On wciąż jest
            z nami, cały czas. On jest tutaj, w tym momencie, pomiędzy nami. Możemy Go nie
            widzieć, ale On tu jest. Gdziekolwiek jest spotkanie wielbicieli Sai,
            gdziekolwiek modlimy się i śpiewamy bhadżany – Swami tam jest. Czuję tutaj
            ogromny spokój, czułem go zwłaszcza wtedy, kiedy śpiewaliście bhadżany.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Zgodnie z tym aspektem Śiwy - Śiwa jest
            niszczycielem – zaczną wydarzać się pewne rzeczy na świecie. Wszystkie złe
            osoby, które tworzą problemy, będą musiały być usunięte. Swami mówił, że
            nastąpi złote millenium. Millenium to tysiąc lat. Dlatego spodziewamy się
            tysiąca lat pokoju. Ci, którzy jeszcze nie są gotowi, po prostu będą musieli
            poczekać, żeby narodzić się 1000 lat później. Ale dla małej grupy, dla garstki
            tych, którzy są przy Swamim, będzie dana szansa żyć w tej złotej erze. W
            trakcie tego złotego tysiąclecia każdy z nas będzie mógł ponownie połączyć się
            z Bogiem. Musimy zrozumieć, że my jesteśmy bogami. Jezus w trakcie kazania na
            górze powiedział: „Wy jesteście bogami”. A Swami mówi to nam – że my jesteśmy
            bogami. Wydarzyło się tak, że jesteśmy w podróży od Boga, ale musimy skierować
            tę podróż ku Bogu.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Tak więc ci, którzy sa gotowi, będą ze Swamim, z
            Bogiem, w tym złotym millenium. A Swami pojawi się w formie Prema Sai. To jest
            coś, na co teraz czekamy. Ale przedtem wiele rzeczy musi się wydarzyć. Swami będzie
            musiał wybrać tych, którzy są gotowi i pozbyć się tych, którzy jeszcze nie są
            gotowi. Swami właściwie nie pozbywa się tych osób, ale prosi, żeby poczekały te
            1000 lat, a potem znowu będą mogły się narodzić i znowu walczyć. Ostatecznie
            każda z tych osób połączy się z Bogiem.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">W szkole Sathya Sai w Tajlandii proszę wszystkie
            dzieci, by zastanowiły się poważnie i powiedziały, czym jest prawda. Dałem im
            taką wskazówkę: co jest prawdą dzisiaj, będzie także prawdą jutro. Więc robię
            tak, aby dzieci między sobą dyskutowały, czym jest prawda. Gdy przyjdę juto, ta
            sama rzecz się wydarzy. To, co było prawdą, jutro też musi być prawdą, i jutro,
            i jutro. Z definicji wiem, że to samo pojutrze też musi być prawdą. Wiemy, że
            prawda jest zawsze prawdą, za 10 lat, za 100 lat, za 1000 lat. A przecież
            dzisiaj jest jutrem dla wczoraj, więc to, co było prawdą wczoraj, też musi być
            prawdą dziś. Wiec pytam się dzieci, czy ten stół jest prawdziwy, czy jest
            prawdą? I mówię: dziś mamy ten stół, jutro będziemy mieć ten stół, ale za 100
            lat on może się zepsuć. Dlatego ten stół nie jest odzwierciedleniem
            rzeczywistej prawdy. Tak wiec pytamy dzieci, czym jest prawda. Weźmy pod uwagę
            na przykład świat. Czy on jest prawdą? Coś około 4,5 mld lat temu ten świat nie
            istniał. Za kolejne 4,5 mld lat ten świat będzie całkowicie zniszczony.
            Ponieważ w tym czasie Słońce powiększy się 60 krotnie w stosunku do swoich
            obecnych rozmiarów. Ziemia spali się, już jej nie będzie. Więc ta ziemia nie
            jest prawdą. Co zatem jest prawdą? Weźmy pod uwagę Słońce. Pojawiło się ono 14
            mld lat temu, przedtem nie było Słońca. Cały wszechświat rozpoczął się od
            Wielkiego Wybuchu. I teraz w środku każdej z galaktyk mamy czarne dziury. One
            pochłaniają wszystko. Miliony gwiazd z naszej galaktyki jest pochłaniane przez
            te czarne dziury i znika. Pewnego dnia cały wszechświat nagle zniknie, więc nic
            we wszechświecie nie jest prawdą. I ostatecznie dzieci dochodzą do wniosku, że
            prawda nie istnieje. Odpowiadamy – nie, jest prawda. Musimy znaleźć coś, co się
            nie zmienia, nie ma narodzin, nie ma śmierci, cały czas jest stałym,
            niezmiennym bytem. Więc dzieci rozmawiają o tym. Większość z nich w szkole w
            tej chwili to buddyści, więc ostatecznie dochodzą do wniosku, że prawda
            istnieje i tą prawdą jest nirwana. </span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Swami mówi o człowieku, że po angielsku są to trzy
            litery: MAN. M to maja. Maja nie jest prawdą. Nie jesteście prawdą, ponieważ
            cały czas się zmieniacie. Wszyscy z nas starzeją się. Pewnego dnia będziemy
            musieli umrzeć. Więc to wszystko jest mają, nie jest to prawda. Tak więc
            pierwsza litera w angielskim słowie MAN to M – maja, nie jest ona prawdą.
            Następnie Swami mówi o literze A w środku tego słowa. I mówi, że to A oznacza atmę.
            Każdy z nas ma w sobie atmę. To jest Bóg, który jest wewnątrz. Wciąż nie jest
            to rzeczywista prawda, bo jest to Bóg indywidualny. I ta atma ostatecznie
            będzie musiała połączyć się z prawdziwym Bogiem. Swami mówi, że N – ostatnia
            litera – oznacza nirwanę. Nirwana oznacza, że nie ma narodzin, nie ma zmiany,
            nie ma śmierci, to stała rzecz, która nigdy się nie zmienia. Nirwana jest
            prawdą. No ale co w przypadku chrześcijaństwa? Co było, zanim pojawił się
            wszechświat? Bóg. Bóg istniał, zanim pojawił się wszechświat. A kiedy
            wszechświat się skończy – co zostanie? Bóg. Więc Bóg jest prawdą. Dla
            muzułmanów Allach jest prawdą. Więc zapytałem dzieci, niektóre z nich są
            chrześcijanami, niektóre muzułmanami, niektóre buddystami. Każde z nich
            wskazuje na prawdę – różne formy, różne imiona. Zapytałem dzieci, czy prawda
            może być różna, czy może się różnić. Ostatecznie dzieci zgodziły się, że prawda
            jest jedna i ta sama. Buddyści nazywają ją nirwaną, muzułmanie Allachem,
            chrześcijanie Bogiem. To wszystko jest jedno i to samo, żadnej różnicy. Więc
            nasze dzieci zaczynają rozumieć, że one wszystkie są jednym, są jednością. </span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Jak widzicie, ostatecznie wszyscy musimy powrócić do
            Boga. Naszym zadaniem jest w pierwszej kolejności odkryć atmę. To jest Bóg,
            który jest w każdym z nas. Następnie musimy połączyć się z Bogiem uniwersalnym.
            Buddyści nazywają to nirwaną. Dzieci zaczynają rozumieć bardzo głęboką prawdę.
            I teraz my wszyscy szukamy tej prawdy. Walczymy między sobą, ponieważ mamy
            różne przekonania, różne wyznania. Ale nasze dzieci w szkole Sathya Sai są
            wszystkie jednością. Mogą być buddystami, chrześcijanami, muzułmanami, sikhami,
            ale wszyscy są jednym.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">To jest podróż, którą każdy musi podjąć. Swami
            przybył po to, aby wziąć tych, którzy są gotowi by powrócić do Boga. Ale jak to
            zrobić? Wiemy, że w tym momencie doświadczamy bardzo wielu problemów. Jest tak,
            ponieważ my na ziemi niszczymy ten świat. Spójrzcie na tę największą i
            najbardziej gęstą dżunglę na świecie, jaką jest puszcza amazońska [dr Jumsai
            pokazuje slajd ze zdjęciem satelitarnym puszczy]. Zaledwie kilka lat później
            obszar ten wyglądał tak [slajd, na którym widać ten sam obszar z wyciętym
            drzewostanem]. Ponieważ w pewnym momencie Amerykanie powiedzieli
            Brazylijczykom: „Chcemy mieć więcej mięsa do jedzenia. Hodujcie dla nas bydło,
            żebyśmy mogli je konsumować”. Więc Brazylijczycy zgodzili się, że będą
            produkować dużo mięsa dla Amerykanów. No ale żeby hodować zwierzęta, nie można
            mieć dżungli. Więc zdecydowali się oczyścić puszczę amazońską z drzew.
            Spójrzcie jak to wyglądało. Różnica pomiędzy zdjęciami to 25 lat. Więc po
            prostu puszcza zaczęła znikać. W Tajlandii, w momencie gdy się urodziłem, 70%
            powierzchni kraju było pokryte lasami. Teraz z powodu wzrostu populacji,
            ponieważ musimy mieć miejsce pod uprawę ryżu, lasy stanowią tylko 18%
            powierzchni kraju. Widzimy ludzi wypalających lasy, aby oczyścić ziemię. Tak
            więc świat staje się coraz gorętszy i gorętszy. </span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">To zdjęcie przedstawia olbrzymią autostradę w USA.
            Na tej drodze znajduje się dużo samochodów. One spalają paliwo i znów
            przyczynia się to do ocieplenia świata. To jest to, co się dzieje – globalne
            ocieplenie. We wcześniejszych czasach promienie słoneczne padały na ziemię, a
            potem były odbijane. Dzisiaj, ponieważ mamy powłokę z dwutlenku węgla,
            promienie słoneczne wpadają do atmosfery, odbijają się tylko trochę i znowu
            wracają na ziemię. Świat staje się gorętszy i gorętszy, cały czas. Gdy dr
            Jumsai urodził się, około roku 1940, CO2 było na poziomie 300 ppm (części na
            milion), natomiast obecnie jest to 400 ppm. Temperatura wzrosła o około 1<sup>o</sup>C.
            A teraz wzrasta gwałtownie. Także stężenie CO2 w atmosferze ciągle rośnie. Cały
            świat jest dotknięty globalnym ociepleniem. Jeśli spojrzymy na średnią
            temperaturę na świecie [wykres], to wcześniej była niska, potem wahała się, a
            teraz jest już tylko wysoka. Zmieniła się pogoda, mamy coraz więcej burz i
            huraganów. Wasz kraj ocieplił się znacząco. W moim kraju, w Tajlandii,
            temperatura trochę wzrosła, ale nie za dużo. Ogromny problem jest na biegunie
            północnym – wszędzie topi się lód. No i biedne niedźwiedzie polarne nie mają
            gdzie się podziać. One muszą żyć na lodzie, a lód znika. Ostatecznie mogą
            utonąć w morzu. One oczywiście mogą pływać przez chwilę, ale nie mogą pływać
            cały czas. Spodziewamy się, że w ciągu 80 lat niedźwiedzie polarne mogą
            wyginąć. A kiedy znikają jakieś gatunki zwierząt, to wpływa na inne gatunki.
            Grenlandia także ma dużo lodu i śniegu. W ciągu kilku lat ten lód zniknie. To
            wszystko się topi, a ta woda spływa do mórz. W Austrii wcześniej było wiele
            obszarów wypełnionych lodem i śniegiem aż po same szczyty, a teraz to wszystko
            jest stopione. Tak więc zasięg lodu na biegunie północnym zmniejsza się. Znika
            też lód z Antarktydy. Poziom mórz wzrasta na całym świecie. Jest to zmiana
            około 20 cm w ciągu ostatnich 50 lat. W USA przygotowano nową mapę Florydy
            [slajd], ponieważ poziom mórz rośnie i np. Key West [popularna wyspa na
            południe od Florydy] może całe zniknąć pod wodą. Miałem nadzieję wysłać statek
            kosmiczny z Camp Canaveral, ale ten obszar także jest zagrożony i zniknie pod
            wodą [podobnie jak miasto Miami, co widać na mapie]. W Tajlandii Bangkok, moje
            rodzinne miasto, zniknie w ciągu 20 lat. Poziom mórz podniesie się wszędzie. </span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Ponieważ poziom wody podnosi się, zwiększa się także
            objętość i ciężar oceanów. To miejsce, w którym jesteśmy [Polska] to część
            euro-azjatyckiej płyty kontynentalnej. Tajlandia znajduje się na tej samej
            płycie kontynentalnej, co Polska. Cała ta płyta przesuwa się stopniowo w
            kierunku wschodnim. Tymczasem pacyficzna płyta kontynentalna przesuwa się na
            zachód. Ziemia stara się wyrównać ten rosnący nacisk wody. Krajem, który będzie
            tym najbardziej dotknięty, będzie Japonia. Ponieważ dwie płyty kontynentalne
            zbliżają się i zderzą się właśnie na jej wysokości. Japonia jest częścią naszej
            płyty kontynentalnej. Płyta euroazjatycka jest ponad wodą, a płyta pacyficzna
            jest bardzo nisko. Jeśli przyjrzymy się tej płycie pacyficznej w pobliżu
            Japonii, to jest ona dużo niższa. I teraz one zmierzają ku sobie, żeby się
            zderzyć. Japonia w bardzo niedługim czasie zanurzy się w Pacyfiku. Japonia
            zniknie. Wiele innych krajów również będzie miało dużo problemów. Przyjrzyjmy
            się Kalifornii. Leży ona pomiędzy płytą pacyficzną, która przesuwa się w
            stosunkowo szybkim tempie na wschód, a płytą północnoamerykańską. Wzdłuż
            wybrzeża Kalifornii znajduje się uskok San Andreas. Co w takim razie stanie się
            z Kalifornią? Ponieważ te płyty kontynentalne rozbiegają się właśnie w tym
            miejscu, niestety muszę wam powiedzieć, że Kalifornia też zniknie.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">To jest zaledwie kilka przykładów z tego, co się
            wydarzy. My jesteśmy częścią euroazjatyckiej płyty. Ale Indie i Australia są na
            innej płycie kontynentalnej. Aktualnie jest to najszybciej poruszająca się płyta
            kontynentalna na świecie. Ona zmierza by zderzyć się z obszarem bardzo blisko
            Tajlandii. Więc kilka lat temu mieliśmy ogromne tsunami w Tajlandii, zginęło
            5000 osób. Wszystkie te problemy mają miejsce na świecie. I to po prostu
            jest odpowiedź na pytanie, jak pewne osoby są usuwane ze świata. Pamiętajcie,
            że Swami posiada aspekt Śiwy. Śiwa jest tym, który niszczy. Ale to nie znaczy,
            ze on niszczy wszystko. On przesuwa ludzi po to, żeby przyszli później. Wasz
            kraj jest bardzo bezpieczny. Nie jesteście na styku płyt kontynentalnych. Nie
            macie tu wielu trzęsień ziemi. Tak więc mieszkacie w dobrym, bardzo bezpiecznym
            kraju. Ale większość krajów będzie miała dużo problemów. Padło pytanie o wyspy
            brytyjskie. W tym miejscu były silne trzęsienia ziemi w latach 1963-1998.
            Możemy też zauważyć, że było też dużo trzęsień ziemi w krajach Europy
            południowej. W Tajlandii jest bardzo bezpiecznie, w ogóle nie ma tam trzęsień
            ziemi. Jedynym problemem są tsunami, ponieważ przychodzą tam wielkie fale. To
            jest część planu Swamiego. Pewne osoby będą musiały poczekać i przyjść po
            złotym tysiącleciu. Ale jest jeszcze jeden wielki problem.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Ziemia obraca się wokół własnej osi. I teraz, w
            momencie gdy przybywa wody w morzach i oceanach, ziemia staje się z jednej
            strony cięższa. W Pacyfiku jest ogromny wzrost wagi. To jest jeszcze jedno
            niebezpieczeństwo. Może nastąpić przebiegunowanie ziemi. Gdy mieliśmy to
            wielkie trzęsienie ziemi w Japonii, biegun północny przesunął się o 25 cm.
            Kiedy było małe trzęsienie ziemi w Chile, biegun północny przesunął się o 10
            cm. Tak więc ten biegun zmienia się z powodu wzrostu ciężaru wody na ziemi.
            Będziemy doświadczać na świecie wielu problemów. My musimy po prostu trzymać
            się Swamiego. Pamiętajcie, że cokolwiek się dzieje, skupiajcie się na Bhagawanie
            w waszych sercach. Pamiętajcie, że Swami jest w każdym z was. W historii
            ludzkości przejdziemy przez bardzo trudny okres. Ale Swami jest z wami, nie
            musicie się martwić. Jednocześnie musicie mieć dużo miłości w sercach. Musimy
            pomagać innym ludziom, musimy kochać, musimy służyć. Wielu z was to bardzo
            szczęśliwe osoby, ponieważ wejdziecie w tę nową erę. No ale chcielibyśmy, żeby
            wszyscy nasi przyjaciele ze świata weszli tam także. To jest obszar, w którym
            musimy pomagać każdemu, służyć każdemu, dawać miłość. Ponieważ każdy jest
            Bogiem. To jest najważniejszy test dla każdego z nas. Jeżeli myślicie, ze
            wejdziecie do tej nowej ery sami – nie wejdziecie tam. Ale jeżeli pomyślicie:
            „nie pójdę tam sam, zabiorę wszystkich moich przyjaciół”, to wtedy możesz tam iść.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Swami mówi: kochaj wszystkich, służ wszystkim. I On
            nas poprowadzi do nowej ery. I ponieważ powiedział, że będzie z nami, zacznie
            pojawiać się w ciągu tych ostatnich 6 lat. Jeszcze tylko 2 lata i zacznie
            pojawiać się na całym świecie. Swami powiedział, że będzie pojawiał się tu i
            tam, na całym świecie. Ponieważ nadchodzi ogromny kryzys dla naszej ziemi,
            narodzi się nowa era. W objawieniu w Biblii czytamy, że bardzo niewiele osób
            przejdzie. Na końcu Biblii, w Apokalipsie św. Jana jest to opisane. Wiec mowa
            jest dokładnie o tym samym. Bardzo niewiele osób zostanie na ziemi. Święty
            tekst muzułmanów również mówi to samo. Wydaje się, że wszystkie religie są
            zgodne co do tego, że nastąpi kryzys.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Ja jestem naukowcem i widzę duży kryzys, do którego
            zmierza nasz świat. Bądźcie przygotowani. I to jest to, co musicie robić –
            przychodzić i wspólnie się modlić. Cały czas pamiętać o Bhagawanie Śri Sathya
            Sai Babie i mieć Go w swoim sercu. Mam ogromną wiarę w to, że Swami za 2 lata
            zacznie pojawiać się na całym świecie. Swami powiedział, że w ciągu tych
            ostatnich lat swego życia będzie wyglądał młodziej niż wtedy, gdy opuścił swoje
            ciało fizyczne. Już teraz Swami pojawia się tu i tam i objawia się wielu
            osobom. I po ostatnich 6 latach swego życia pojawi się ponownie. Pamiętajcie,
            że to jest tylko moje własne przekonanie. Ja bardzo w to wierzę. Nie mówcie
            wszędzie, ze Jumsai to powiedział, bo będę miał problemy. Ale muszę podzielić
            się z wami tym, co sam odkryłem, że świat się zmieni. Wcześniej zdarzało się, że
            pewne osoby przychodziły do Swamiego, a Swami materializował nową mapę świata.
            Na tej mapie widać było, że świat się trochę zmienił. Mapa, jaką mamy teraz, a
            mapa sprzed milionów lat, to też zupełnie coś innego. Na przykład Indie nie
            były połączone z Azją, były dużo bardziej na południe. Indie wyodrębniły się z
            południowego bieguna, zaczęły przesuwać się w górę i zderzyły się z Azją.
            Wcześniej nie było Himalajów, ale Indie uderzając w kontynent spowodowały, że
            wypiętrzyło się nowe pasmo górskie. Alpy w Europie są stare, ale Himalaje są
            stosunkowo młode w historii świata. Widzicie więc, że na świecie było i jest
            wiele zmian. I to jest coś, wobec czego powinniśmy zachować spokój i mieć cały
            czas Swamiego w sercu. Więc natychmiast zacznijcie praktykować cały czas
            utrzymując Swamiego w sercu. Do momentu, aż nie zaczniecie widzieć Swamiego w
            każdym. W dzisiejszym świecie musicie mieć to zrozumienie, to uczucie w sercu.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Tak wygląda obecna sytuacja na świecie. I to jest
            zadanie Swamiego, podczas gdy On jest cały czas na ziemi. To znaczy, że będzie
            On przychodził i pojawiał się, aby rozwiązać te wszystkie trudności. Więc
            pomagajcie ludziom wszędzie, żeby przybyli do Swamiego. Zacznijcie zajęcia z
            wychowania w wartościach ludzkich w waszym kraju. Wciąż jest czas, aby otworzyć
            szkołę, jeśli możecie to zrobić. Ja wiem, że w Polsce jest trudno z powodu
            rządu, ale powinniśmy starać się przynieść te ludzkie wartości i upowszechniać
            je.</span></p>
            
            <p class="MsoNormal"><span style="13.0pt;115%;
            &quot;Times New Roman&quot;,&quot;serif&quot;">Podsumowując, Swami nie odszedł, wciąż jest z nami.
            On po prostu porzucił tymczasowo to ciało fizyczne, ale wróci. I pomoże każdemu
            z nas, jeśli będziemy mieli Jego w swoim sercu. Świat stanie się miejscem
            wypełnionym pokojem. Złote millenium rozpocznie się już niedługo. A ci, którzy
            będą żyli w tym złotym millenium, wszyscy połączą się z Bogiem. Pamiętajcie o
            tym, jak uczyłem dzieci w szkole, czym jest prawda. Na początku nie było
            niczego innego niż Bóg i Bóg wszystko stworzył z siebie. W nauce jest bardzo
            jasno stwierdzone, że nie może powstać świat bez energii początkowej. Więc Bóg
            nie stworzył świata z niczego. Bóg stworzył go z siebie i stał się
            wszechświatem. W końcu cały wszechświat ponownie połączy się z Bogiem.</span></p>
            
            <p class="MsoNormal" style="text-align:right" align="right"><span style="
            13.0pt;115%;&quot;Times New Roman&quot;,&quot;serif&quot;">(oprac. JR) </span><span style="&quot;Times New Roman&quot;,&quot;serif&quot;"> </span></p>
            
            </div>
            
            <div><br clear="all">
            
            <hr width="33%" size="1" align="left">
            
            <div id="ftn1">
            
            <p class="MsoFootnoteText"><a href="#_ftnref1" name="_ftn1" title=""><span class="MsoFootnoteReference"><span class="MsoFootnoteReference"><span style="10.0pt;115%;&quot;Calibri&quot;,&quot;sans-serif&quot;">[1]</span></span></span></a>
            Swami już ogłosił, że Prema Sai narodził się, ale „boskość jeszcze w niego nie
            wstąpiła” i ujawni się za 8 lat licząc od listopada 2014, czyli około rok po
            odejściu Sathya Sai Baby, który pozostanie aktywny do 96 roku swego życia. 23
            listopada 2015 Swami będzie miał 90 urodziny.</p>

            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Inne</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>