<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
                 <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article" id="osobie">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Artykuły</li>
<li class="breadcrumb-item active" aria-current="page">Inne</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Bóg istnieje</h2>
                <h4 class="text-center">Tekst Richarda Bocka zaczerpnięty z artykułu Communicating Divinity

                    opublikowanego w Golden Age w 1980 r.</h4>

                   <p>W podróż do Niego wybrałem się zaraz po zawale serca. Zanim
dotarłem do <i><span style="font-style:italic">Aśramu</span></i>, poczułem się
dobrze. Nie pamiętałem już, że kiedyś byłem chory. Dostąpiłem audiencji u Baby,
a On zmaterializował dla mnie trochę <i><span style="font-style:italic">wibhuti</span></i>,
rozpiął mi koszulę i nałożył je na klatkę piersiową. Chociaż nic Mu nie
mówiłem, On zaraz po tym powiedział, że moje serce nie doznało szwanku (ten
zawał miałem we wrześniu, a w Indiach byłem w listopadzie). „Dobre serce, nie
martw się. Dlaczego się bać, gdy Ja tu jestem?” – powiedział. Potem
zmaterializował pierścień i polecił: „Noś go, zawsze będę z tobą.” Pierścień zawierał
podobiznę Baby. Stanowiło to dla mnie łączność z Nim i zaczęło zmieniać moje
życie. Wszystko to było tak naturalne, że nawet nie miałem czasu na jakiś
wstrząs. Słyszałem, że On tak postępuje. W rzeczywistości była to jedna z tych
rzeczy, co do których miałem pewne obawy. &nbsp;Zanim pojechałem do <i><span style="font-style:italic">Aśramu</span></i> powiedziałem do Indry Devi: „Mogę
zaakceptować wszystko, oprócz cudów.” Cuda te niepokoiły mnie, gdyż czytałem
wypowiedzi Ramakrishny, gdzie ostrzega on, że należy wystrzegać się mocy <i><span style="font-style:italic">siddhi</span></i>; one są zwodnicze. Bałem się, że
obnoszenie się z tymi mocami jest w jakimś stopniu egoistyczne i nie
najwyższego lotu. Dlatego miałem wątpliwości co do Jego motywów w czynieniu
cudów. Ale gdy się zbliżyłem i zacząłem ich doświadczać, zrozumiałem, że było
to dla Niego bardzo naturalne a motywacja tak zdrowa, że uznałem, iż przyszedł On
z innej przestrzeni. On nie stawał się czymś; On tym już był. Dlatego też nie
było niczego, co mogło Go zepsuć.</span></font></p>

<p class="MsoNormal" style="text-indent:21.15pt"><font "4" "Times New Roman" "#760000"><span style="13.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
#760000">Baba jest tutaj po to, by wyprowadzać ludzi do Światła z
szaleństwa, które sami sobie stworzyli. Dla każdego, kto się do Niego zbliży,
kto pragnie wyjść Mu naprzeciw, On zrobi wszystko, co może, aby pomóc, gdyż
taka jest Jego Misja, po to tu jest. W przypadku człowieka Zachodu zwykle
konieczny jest jakiś umysłowy wstrząs, aby wyrwać go ze świata materialnego, w
którym jest uwięziony, oraz z pojmowania, że wszystko da się rozpracować
naukowo. Dlatego Baba stwarza coś spoza czasu, łamiąc to, co wydaje się naukowymi
prawami natury i czyni tak zwany cud. Komuś przesiąkniętemu światem
intelektualnym bardzo trudno jest sobie z tym poradzić. Musi stawić temu czoło
i pytać. A jedyną odpowiedzią jest: Bóg. Intelektualiści na ogół nie mogą dojść
do Boga, gdyż do nich to nie dociera. Osoba o prostym umyśle, osoba z wiarą i
miłością może wziąć Boga w objęcia bez konieczności rozumienia Boga. Ale
intelektualista musi najpierw zrozumieć Boga, zanim Go obejmie. Tymczasem,
zrozumienie Boga jest niemożliwe! Miliony takich ludzi próbuje sobie z tym
poradzić i tracą zmysły, gdyż nie dają rady. A akt wstrzymania czasu zatrzymuje
ludzi i skłania ich do zastanowienia.</span></font></p>

<p class="MsoNormal" style="text-indent:21.15pt"><font "4" "Times New Roman" "#760000"><span style="13.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
#760000">Rzecz, która wstrząsnęła mną nie była wspomnianym stworzeniem
pierścienia. Było to coś, co zdarzyły się, gdy Indra Devi poprosiła Go, czy mogłaby
dostać jeszcze trochę uzdrawiającego popiołu, <i><span style="font-style:italic">wibhuti</span></i>,
ponieważ całą wcześniej otrzymaną ilość rozdała ludziom. On powiedział „Tak” i,
gdy ja się przyglądałem, rękami wykonał ruchy okrężne a potem ułożył dłonie
tak, jakby coś przyjmował. Następnie w powietrzu ukazała się urna o wysokości
około dziesięciu centymetrów i opadła w Jego dłonie. Zobaczyłem to i
pomyślałem: „To nie jest sztuczka magika, tego nie wytrzepał z rękawa, to jest
coś innego!” Teraz zdjął przykrywkę i wysypał całą zawartość popiołu na kawałek
papieru. Potem przechylił ponownie i znów wysypała się pełna zawartość, tak że
razem wysypał mniej więcej podwójną objętość, jaką mogła pomieścić urna.
Następnie wsypał połowę całej ilości popiołu z powrotem do urny a część z tego,
co pozostało rozdał ludziom, którzy znajdowali się w pobliżu. Resztę wsypał do torebki
zrobionej z chusteczki i wręczył Indrze. Dotknął tego i powiedział: „Teraz ta
ilość będzie niewyczerpywana, więc już ci nie zabraknie.” Cóż! Dzisiaj ma ona
to już dziesięć lat i ciągle zawartość się odnawia. Rozdała popiół tysiącom
ludzi. Ten cud był dla mnie o wiele bardziej znaczącym niż stworzenie
pierścienia. A było tak dlatego, że flirtowałem z koncepcją Boga i studiowałem
religię, ale nie miałem doświadczenia Boga. Po tym przeżyciu z Babą w moim
umyśle nie ma już wątpliwości czy Bóg istnieje.</span></font></p>

<p class="MsoNormal" style="text-align:right" align="right"><span style=">&nbsp;</span></font></p>

<p class="MsoNormal" style="text-align:right" align="right"><span style=">[z <i><span style="font-style:italic">Sanathana Sarathi</span></i>, December 2009, tłum. <a href="http://www.astro.uni.torun.pl/~kb/kb.htm" rel="no-follow">KMB</a>; 2010.01.02]</span></font><span style="10.0pt;
&quot;Times New Roman&quot;,&quot;serif&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></font></p>

<p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">&nbsp;</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Artykuły</li>
<li class="breadcrumb-item active" aria-current="page">Inne</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>