// Colors setup
$background-color: #f7f7f7;
$primary-color: #f7f7f7;
$secondary-color: #292b2c;
$tetriary-color: #ccc;

// Images setup
$header-background-image: "./img/header-background.jpg";
$cta-image: "./img/cta-image.jpg";
$footer-background-image: none;

// Header & Footer heights
$header-height: 250px;
$footer-height: 250px;

// Text setup
$l-height: 1.9rem;