<section class="article" id="osobie">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Strona główna</a></li>
          <li class="breadcrumb-item active" aria-current="page">O sobie</li>
        </ol>
      </nav>
    <article class="container">
        <h2>Przysięga składana na Konwokacji (uroczystości wręczenia dyplomów) na Uniwersytecie Śri Sathya Sai Baby w Puttaparthi (Andhra Predeś, Indie)</h2>
        <p>
            <blockquote class="blockquote text-right">
                <p class="mb-0">
                    Niniejszym uroczyście deklaruję i obiecuję, że jeśli zostanie mi przyznany stopień, na którego otrzymanie dostałem stosowną rekomendację, będę w życiu codziennym i rozmowach, w myślach, słowach i czynach zachowywał się jak przystoi członkowi Śri Sathya Sai Institute of Higher Learning; że zrobię wszystko, co w mojej mocy i możliwościach, aby wesprzeć sprawę zdrowego nauczania, człowieczeństwa i duchowości; i że na ile będzie to zależało ode mnie, będę działał na rzecz postępu socjalnego i wszelkiego dobra moich współziomków i bliźnich.
                </p>
                <footer class="blockquote-footer">Sanathana Sarathi,
                    <cite title="Sanathana Sarathi, vol. 54, p. 420 (Dec. 2011)">vol. 54, p. 420 (Dec. 2011)</cite>
                </footer>
            </blockquote>
        </p>
    </article>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Strona główna</a></li>
          <li class="breadcrumb-item active" aria-current="page">O sobie</li>
        </ol>
      </nav>
</section>