<section>
    <article>
        <h2></h2>
        <p>
            <ul class="list-group">
                <li class="list-group-item">Książka pt. Astronomiczne obliczenia nie tylko dla geografów zawiera mnóstwo praktycznych algorytów.</li>
                <li class="list-group-item">Algorytmy zamiany współrzędnych kartezjańskich na elipsoidalne — polska wersja mojej jedynej pracy naukowej, która zdobyła światowe uznanie (tu jest angielski oryginał, który najpierw został odrzucony przez redakcję międzynarodowego pisma naukowego Studia geoph. et geod. wydawanego w czeskiej Pradze, gdyż w złym świetle przedstawiłem w nim naprawdę marną pracę tamtejszego profesora).</li>
                <li class="list-group-item">Interferometr do obserwacji Słońca na częstotliwości 127 MHz — unikalna publikacja (do dziś nie spotkałem czegoś podobnego gdzie indziej) zawierająca szczegóły konstrukcyjne kompletnej radioastronomicznej aparatury odbiorczej (w tym schematy ideowe oraz omówienie funkcji wszystkich podzespołów); mieliśmy wiele próśb (nawet z zagranicy) o odbitki tego artykułu. Osoby pragnące zbudować amatorski radioteleskop magą też zaciekawić uwagi zawarte w tym dokumencie.</li>
                <li class="list-group-item">Zaćmienia Słońca i Księżyca — omówienie z listą zjawisk dla Polski w latach 1991 – 2040 r. (jest to wyciąg z angielskich artykułów o zaćmieniach: Słońca w Polsce w latach 900–2200, cieniowych Księżyca w Europie w latach 900–2200 i półcieniowych Księżyca na świecie w latach 1900–2200).</li>
                <li class="list-group-item">Czy potrzebna jest reforma kalendarza gregoriańskiego? — dowodzę, że nie; sporo pożytecznych informacji dla astronomów (tu jest oryginalny artykuł, który przed przyjęciem do druku musiał przejść aż 3 recenzentów!).</li>
                <li class="list-group-item">Jak poprawnie obliczać wschody i zachody? — krótki instruktaż dla każdego.</li>
                <li class="list-group-item">Wszystko o czasie: Część 1, Część 2 i Część 3 — wiele ciekawostek i praktycznych informacji związanych z pomiarami czasu i korzystaniem z niego.</li>
                <li class="list-group-item">Hinduska rachuba czasu — kalendarz i czas w Indiach od starożytności do dziś.</li>
                <li class="list-group-item">Kalendarz perski — o pewnym egzotycznym kalendarzu Arabów.</li>
                <li class="list-group-item">Dni juliańskie i daty kalendarzowe — przedstawiam tutaj stosunkowo prosty algorytm przeliczania JD na daty kalendarzowe i w przeciwną stronę.</li>
                <li class="list-group-item">Efemerydy Układu Słonecznego dla wszystkich — opis algorytmów i gotowe programy źródłowe na obliczanie położeń Słońca, Księżyca i wszystkich planet z dokładnością 1' w okresie ok. 600 lat ześrodkowanych na współczesności.</li>
                <li class="list-group-item">Nauka a wiedza wedyjska — o wyższości duchowości i ograniczoności nauki.</li>
                <li class="list-group-item">Znaczenie sanskrytu — o językach Indii, sanskrycie i sprawie polskiej.</li>
                <li class="list-group-item">Słowniczek sanskrytu — kilkaset słów wraz z transliteracją (uaktualniany).</li>
                <li class="list-group-item">Samoloty starożytności — UFO jako pojazdy ocalałe z atomowej wojny z czasów Śri Ramy.</li>
                <li class="list-group-item">Rok platoński a tzw. stała Niniwy — skrytykowałem (zasłużenie, ale zdecydowanie zbyt napastliwie) pewnego uznanego pisarza.</li>
                <li class="list-group-item">Złączenie planet dnia 12 stycznia 1994 r. — uzasadniam, że zjawisko takie ani nie jest groźne, ani szczególnie interesujące dla astronomów; w podobnym tonie napisałem komentarz do koniunkcji z 11 sierpnia 1999 r.</li>
                <li class="list-group-item">Ignorancja i kasa — krytycznie o larum w sprawie tzw. Planety X.</li>
                <li class="list-group-item">Tego nie da się przewidzieć — dementi o zagrożeniu w 2013 r. ze strony Słońca.</li>
                <li class="list-group-item">Szanse wygrania w lotku — analizuję wartość oczekiwaną wygranych w Toto Lotku i Multi Lotku dochodząc do nieoczekiwanych (smutnych) wniosków. </li>
              </ul>
        </p>
    </article>
</section>