<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Artykuły naukowe i popularne</li>
                </ol>
            </nav>
            <article class="container">
                <br>
            </p>
            <p class="western" style="margin-bottom: 0cm" align="LEFT">
            <font face="Times New Roman, serif"><font size="3">Poniższy komentarz 
            <i>Tego nie da się przewidzieć</i> znalazł się, obok innych sześciu, w materiale pt. 
            <i><b>Potencjalny czarny scenariusz. Czy Słońce</b></i><b> 
            <span style="font-style: normal">zresetuje</span><i> życie na Ziemi?</i></b>
            <span style="font-style: normal"></span><span style="font-style: normal">opatrzonym
            wprowadzeniem Redakcji.</span></font></font></p>
            
            <p class="western" style="margin-bottom: 0cm; text-align: right" align="RIGHT">
            <font face="Arial, sans-serif"><a href="http://www.nieznanyswiat.pl/"><i><b>Nieznany Świat</b></i></a>, 
            Nr 12/2012, s. 48-49.</font></p>
            <p class="western" style="margin-bottom: 0cm" align="LEFT"><font face="Arial, sans-serif">
            <font size="2"><b>W związku z prognozowanym przez część specjalistów na maj przyszłego
            roku potężnym wyrzutem koronalnym słonecznej masy, który mógłby
            zdezorganizować życie na Ziemi, zwróciliśmy się do kilku cieszących
            się autorytetem osób o podzielenie się opinią na ten temat. W ich
            gronie znaleźli się astronomowie oraz publicyści podejmujący w swoich
            artykułach problemy zagrożeń z Kosmosu.</b></font></font></p>
            
            <p class="western" style="margin-bottom: 0cm" align="LEFT"><font face="Arial, sans-serif"><font size="2"><b>	Wszystkim
            adresatom redakcyjnej sondy zadaliśmy to samo pytanie: czy i jakie
            niebezpieczeństwo dla planety wiąże się z obecną, wzmożoną
            aktywnością Słońca, w tym zwłaszcza prognozowanym w 2013 r. (w tym
            kontekście mówi się najczęściej o maju) tak silnym koronalnym
            wyrzutem jego masy, że – po dotarciu do Ziemi chmury cząsteczek
            – mógłby on spowodować światowy paraliż sieci energetycznych.
            Zwróciliśmy też uwagę na to, że gorąca dyskusja w internecie
            dotycząca sygnalizowanego problemu wzmogła się po znanej wypowiedzi
            jednego z najbardziej cenionych fachowców od tzw. pogody kosmicznej,
            prof. Mike'a Hapgooda z Wielkiej Brytanii, a także ogłoszeniu raportu
            NASA i Narodowej Akademii Nauk USA z 2009 r., ostrzegającego przed
            wspomnianą ewentualnością. A oto plon naszej ankiety.</b></font></font></p>
            
            <p class="western" style="margin-bottom: 0cm" align="LEFT"><br>
            </p>
            <p class="western" style="margin-bottom: 0cm; color: #800000" align="CENTER">
            <font color="#800000"><font face="Arial, sans-serif"><font size="5"><b>Tego
            nie da się przewidzieć</b></font></font></font></p>
            <br>
            
            <p class="western" style="margin-bottom: 0cm"><font face="Arial, sans-serif"><font color="#800000"><b>Dr
            Kazimierz Borkowski</b></font> – astronom, pracownik Centrum
            Astronomii Uniwersytetu Mikołaja Kopernika w Toruniu, stały
            współpracownik <i>Nieznanego Świata</i>.</font></p>
            <br>
            <p class="western" style="text-indent: 1.25cm; margin-bottom: 0cm">–
            <font face="Arial, sans-serif">Zagrożenie dla instalacji
            elektrycznych i urządzeń elektronicznych na Ziemi ze strony aktywnego
            Słońca jest jak najbardziej realne. Niestety, nie potrafimy nawet w
            przybliżeniu przewidzieć, kiedy może spaść na nas jakieś nieszczęście
            spowodowane wielkim wyrzutem masy z korony słonecznej. Obecny
            medialny <i>szum</i> na ten temat wpisuje się w szereg podobnych
            alarmów z niedalekiej przeszłości prowokowanych przez pewne kręgi,
            zainteresowane w zwiększeniu funduszy na określone badania naukowe
            lub w rozwinięciu produkcji przynoszącej krociowe zyski. W taki
            właśnie sposób, wskutek straszenia opinii publicznej możliwością
            upadku asteroidy na Ziemię podobno uzyskano dziesięciokrotny wzrost
            finansowania badań obiektów kosmicznych, które mogą zderzyć się z
            naszą planetą. Inni z kolei naukowcy zaserwowali nam wizję
            katastroficznych skutków ocieplenia klimatu wywoływanego rzekomo
            przez ludzką działalność. Wszyscy zaś wiemy, jakie owo zastraszenie
            oznacza konsekwencje dla ekonomii wielu krajów, a zatem także dla
            kieszeni przeciętnego zjadacza chleba. Wspomnijmy też wzniecanie
            paniki doniesieniami o nieuchronności różnych epidemii, na czym
            wzbogacili się nieliczni kosztem wielu.</font></p>
            <p class="western" style="text-indent: 1.25cm; margin-bottom: 0cm"><font face="Arial, sans-serif">	To,
            co napisał Mike Hapgood w <i>Nature</i> w kwietniu b.r., jest w swej
            istocie prawdą. Nigdzie jednak nie wspomina on o prognozie
            wystąpienia jakiegoś wielkiego wyrzutu koronalnego ze Słońca akurat w
            przyszłym roku. Nie pisze o tym dlatego, że takich prognoz po prostu
            nie ma, bowiem nie potrafimy tych zjawisk – nawet w
            przybliżeniu – przewidzieć. Ba, porządnie przewidywać nie
            umiemy tak, zda się, dobrze poznanej aktywności plamotwórczej Słońca
            (wiarygodne oceny wysokości kolejnego 11-letniego cyklu pojawiają się
            dopiero na krótko przed jego maksimum). </font>
            </p>
            <p class="western" style="text-indent: 1.25cm; margin-bottom: 0cm"><font face="Arial, sans-serif">Obecny
            <i>alarm</i> zasadza się tylko na trzech zdarzeniach na przestrzeni
            ok. 150 lat (w latach 1859, 1921 i 1989), które bynajmniej nie
            korelują z maksymalną plamotwórczą aktywnością Słońca, ani nawet ze
            wzmożoną liczbą silniejszych burz magnetycznych. W istocie więc,
            kolejny niebezpieczny dla nas wyrzut materii ze Słońca może nastąpić
            jutro albo za kilkadziesiąt lub kilkaset lat. </font>
            </p>
            <p class="western" style="margin-bottom: 0cm"><br>
            </p>
            <table width="750" align="center"><tbody><tr><td>
            <img src="../../../img/NS2012-Liczba Wolfa(styczen1749-maj2012).gif" name="Rysunek1" xheight="316" width="750" border="0" align="middle"><br clear="LEFT"><br>
            <p class="western" style="margin-top: 0cm"><font face="Arial, sans-serif"><i>Przebieg
            plamotwórczej aktywności Słońca (średnie miesięczne liczby Wolfa) w
            okresie styczeń 1749 – maj 2012. U dołu wykresu podano numery
            nieparzystych 11-letnich cykli. Strzałkami zaznaczono wystąpienie
            trzech największych wyrzutów koronalnych stowarzyszonych z pożarami i
            innymi uszkodzeniami telegrafów bądź sieci energetycznych.</i></font></p>
            <p class="western" style="margin-bottom: 0cm"><br></p></td></tr></tbody></table>
            <p class="western" style="text-indent: 1.25cm; margin-top: 1mm"><font face="Arial, sans-serif">Do
            wszczęcia wrzawy akurat teraz sprytnie wykorzystano bliskość maksimum
            aktywności Słońca w obecnym cyklu, ale jak już wspomniałem,
            cykliczność ta nie ma związku z pojawianiem się wielkich wyrzutów
            koronalnych, a w dodatku zanosi się na to, że to najbliższe maksimum
            będzie najniższym na przestrzeni blisko 100 lat (według ostatniej
            prognozy, z końca maja b.r., maksimum bieżącego, 24-go, cyklu
            wypadnie w maju przyszłego roku i będzie miało wysokość ok. 90, co
            jest najniższą wartością po tej z 16 cyklu w roku 1928). Jeśli zaś
            sądzić po częstości ich występowania, mamy jeszcze kilkadziesiąt lat
            do następnego. Warto też zauważyć, że owe trzy wielkie wyrzuty z
            przeszłości w swoich poważnych skutkach na Ziemi wcale nie miały
            globalnego charakteru. </font>
            </p>
            <p class="western" style="text-indent: 1.25cm; margin-bottom: 0cm"><font face="Arial, sans-serif">	Krótko
            mówiąc, <b>zagrożenie ze strony Słońca jest rzeczywiste</b>, podobnie
            jak to, że na Ziemię spadnie kiedyś jakaś duża asteroida czy kometa,
            ale <b>nie wiemy, kiedy takie wydarzenie nastąpi</b>. Zapowiedzi
            oparte na wiązaniu potencjalnie niebezpiecznych wyrzutów koronalnych
            z plamotwórczą aktywnością Słońca nie mają żadnego oparcia w faktach.
            Obecne medialne nagłośnienie tej groźby wydaje się celowym zabiegiem
            dla pozyskania znacznego wzrostu finansowania określonych badań
            naukowych i praktycznych przedsięwzięć. Jeśli te cele zostaną
            osiągnięte, zabieg ten – mimo iż budzący zastrzeżenia natury
            etycznej – może jednak kiedyś okazać się zbawiennym. </font>
            </p>
            
            <p></p>
            <p class="western" style="margin-bottom: 0cm"></p><hr>
            
            <div align="right"><small>[20 XI 2012 r.]</small>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Artykuły naukowe i popularne</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="#">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>