<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">temp</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Notatki
                z Boskiego Dyskursu z dnia 16 października 2015 r.</h2>
                <h5 class="text-center my-5">(Czwarty
                    dzień Ati</span> Rudra</span> Maha</span> Jadźni, Muddenahalli</span>)</h5>
              
                <p><i><span style="
                ">Om Sai Ram. Wszyscy prosimy Bhagawana</span> o obdarzenie nas Jego Boskim Dyskursem. Widzę Go
                siedzącego na krześle w pomarańczowej szacie. Powtarzam Jego słowa.</span></i></p>
                
                <p><span style="
                ">Ten święty kraj Bharatu</span>
                jest miejscem narodzin wielu wybitnych ludzi, którzy zyskali międzynarodową
                sławę. Ta kraina Bharatu</span> jest polem bitwy, z którego
                hinduscy przywódcy przepędzili zachodnich bohaterów. Ten kraj Bharatu</span> jest miejscem wielkiej wiedzy i doskonałości w
                muzyce, literaturze i sztuce. Urodziwszy się w tak wspaniałym kraju, o moi
                wielbiciele i moje dzieci, jest waszą <span class="GramE">odpowiedzialnością , </span>by
                podtrzymać i ochronić skarb i bogactwo dharmy tego wielkiego kraju.</span></p>
                
                <p><span style="
                ">Ucieleśnienia miłości, wielbiciele, uczniowie,
                chłopcy i dziewczęta. Każdemu człowiekowi bardzo trudno jest osiągnąć trzy
                rzeczy, które prowadzą do zdobycia bożej łaski. Pierwszą z nich są ludzkie
                narodziny. Druga to pragnienie wyzwolenia. Trzecią jest czcigodne towarzystwo
                zrealizowanych dusz lub mędrców. To wielka szansa dla nas urodzić się
                człowiekiem pośród 8&nbsp;400&nbsp;000 gatunków żywych istot na ziemi. Nie
                wystarczy jedynie urodzić się człowiekiem. Najważniejsze jest, by żyć jak
                człowiek.</span></p>
                
                <p><span style="
                ">Wielkim celem życia człowieka jest rozwinięcie
                pragnienia wyzwolenia – nic innego. Prawa droga dharmy to droga, na której
                aspirujecie do urzeczywistnienia w sobie Boga. Są cztery cele ludzkiego życia:
                dharma – prawe postępowanie, artha</span> – zdobycie
                bogactwa, kama – spełnienie ziemskich pragnień i moksza – wyzwolenie. Naprawdę
                znaczy to, że powinniście zdobywać pieniądze w sposób prawy, a następnie użyć
                ich, by czynić postępy na duchowej ścieżce i osiągnąć wyzwolenie. Na tym polega
                prawdziwe ludzkie życie.</span></p>
                
                <p><span style="
                ">Wielkim błędem jest myślenie, że będziemy mogli
                osiągnąć wyzwolenie dopiero po opuszczeniu fizycznego ciała. Nawet za życia,
                jeśli pozbędziecie się przywiązania do tego świata i do ziemskich pragnień,
                będzie to wyzwolenie. Powinniście wiedzieć, że <span class="GramE">nawet jeśli</span>
                przez przypadek w waszym sercu pojawi się pragnienie wyzwolenia, będzie to
                wasze wielkie szczęście. Ale <span class="GramE">nawet jeśli</span> otrzymaliście
                już ludzkie narodziny i rozwinęliście pragnienie wyzwolenia, to jeśli nie
                będziecie mieli przewodnictwa i towarzystwa wielkiej duszy, wtedy wasze życie
                okaże się zmarnowane. Kiedy wykorzystacie okazję przebywania z wielkimi i
                szlachetnymi duszami, kiedy będziecie uczyć się od nich, wtedy wasze życie
                znajdzie spełnienie.</span></p>
                
                <p><span style="
                ">Zostaliście obdarzeni inną wielką i dobrą okazją!
                Oprócz tego, że macie ludzkie ciało i rozwinęliście pragnienie wyzwolenia,
                oprócz tego, że przebywacie w towarzystwie samego Boga, wasze największe
                szczęście polega na tym, że urodziliście się w tym świętym kraju Bharatu</span>. To boska, święta i pełna chwały kraina. To kraj, w
                którym możecie osiągnąć najwyższy cel. Nawet wielkie boskie inkarnacje rodziły
                się z łona tej wspaniałej matki, jaką jest Bharat, a nie gdzie indziej. Bharat
                oznacza posiadanie właściwego poczucia oddania, a także właściwej tonacji i
                rytmu. Wielbicie Boga i doświadczacie Go. Kim jest Bharatija</span>
                [mieszkaniec Bharatu</span>]? To ktoś, kto dzięki obcowaniu
                z Bogiem doświadcza wielkiej radości i błogości. Nie jest cechę Hindusów, osób
                urodzonych w świętym kraju Bharatu</span>, jedynie gonienie
                za doczesnym bogactwem, cenienie przyjemności i wszelkich środków mających
                pomóc w osiąganiu przyjemności, popularności i sławy. To godne pożałowania, że
                urodziliśmy się Hindusami, ale nie zachowujemy się jak Hindusi. Bharatija</span> czerpie przyjemność wyłącznie z Boga. Moje drogie
                dzieci, macie wiele, wiele <span class="GramE">szczęścia że</span> urodziliście
                się w wielkim Bharacie</span>, że rozwinęliście pragnienie
                wyzwolenia i również zdobyliście boskie towarzystwo samego Boga. Nigdy nie
                powinniście zmarnować tej szansy. Skoro zdobyliście łaskę Sai, nie utraćcie
                jej! Wykorzystajcie ją dobrze! Jeśli raz ją stracicie, już nigdy więcej jej nie
                odzyskacie. To wasz podstawowy obowiązek zrobić dobry użytek z otrzymanej
                szansy.</span></p>
                
                <p><span style="
                ">Tak wiele dzieci przyjęliśmy do naszych instytucji
                edukacyjnych. To za mało, jeśli chłopiec lub dziewczyna pragną być studentami.
                Potrzebujecie również właściwego rodzaju szkoły. Oprócz tego potrzebni są wam
                odpowiedni nauczyciele. Te trzy rzeczy odpowiadają ludzkim narodzinom,
                pragnieniu wyzwolenia i towarzystwu wielkich dusz. W tym kraju Bharatu</span> wszystkie szkoły i uczelnie powinny stać się
                świątyniami Saraswati</span> [bogini wiedzy i talentów].
                Kiedy zapytacie <span class="GramE">uczniów: „co</span> robicie?”, <span class="GramE">oni</span> odpowiadają: „kupujemy wykształcenie”. Nie mówią:
                „studiujemy wiedzę”. Kiedy taki chłopiec kupi za pieniądze wykształcenie i
                będzie wyedukowany, co on zrobi ze swym wykształceniem? Będzie jedynie
                sprzedawał to, co kupił. Nic więcej. Kiedy chłopiec lub dziewczyna kupią
                wykształcenie za 1 lakh</span> [sto tysięcy] rupii, jedynym
                ich pragnieniem będzie zarobienie lakhów</span> rupii. Nigdy
                nie pomyślą o dobrobycie świata i o służeniu społeczeństwu.</span></p>
                
                <p><span style="
                ">Jaki jest sens zdobywania takiego bezużytecznego
                wykształcenia, które uczy was tylko logiki i dyskutowania, ale nie obdarza
                pożyteczną mądrością. Jaka jest korzyść z nauki i wykształcenia, które
                ostatecznie prowadzą was do śmierci. Powinniście zdobywać takie wykształcenie,
                które doprowadzi was do nieśmiertelności.</span></p>
                
                <p><span style="line-height:
                115%;">Narayan</span></span><span style="">
                Bhatt</span> [założyciel kampusu w Muddenahalli</span>]
                w ogóle nie miał pragnień. Miał tylko modlitwę. W pragnieniu jest poczucie „ja”
                i „moje”. W modlitwie jest poczucie „ty” i „nasze”. Zawsze mówił: „Stanie się
                wola Boga, nie moja”. Dzisiaj szybko rozwijają się instytucje edukacyjne
                imienia jego i Swamiego, a to dzięki modlitwom Narayana</span>
                Bhatta</span>. Król Bhagiratha</span>
                podobnie modlił się, aby niebiańska bogini Ganga</span>
                zstąpiła na ziemię i ugasiła pragnienie ludzi. Otrzymał tę łaskę od Pana Iśwary
                [Śiwy</span>]. Bhagiratha</span> całkiem
                bezinteresownie modlił się do Pana Iśwary, aby ugasił pragnienie ludzi na
                ziemi. Iśwara umieścił niebiańską Gangę</span> na swych
                skręconych włosach. Podobnie dzięki bezinteresownym modlitwom Narayana</span> Bhatta</span>, dziś sam Bóg
                wziął na siebie zadanie spełnienia jego pragnienia. Chociaż na świecie żyją
                miliony ludzi, jak wielu ludzi modli się bezinteresownie za innych. Może jeden
                lub dwóch ludzi. Nie wszyscy. Narayan</span> Bhatt</span>, z wielką modlitwą w sercu o dobro całego świata,
                poświęcił cały swój majątek lotosowym stopom Pana. Jego modlitwy znajdują dziś
                spełnienie dzięki bożej łasce. On nie zatrzymał dla siebie nawet jednej rupii.
                Myślał, że jeśli zatrzyma dla siebie choćby jedną rupię, nie otrzyma boskiej
                łaski i że byłby to przejaw jego braku wiary w Boga. Myślał: „On da mi wszystko
                i będzie opiekował się mną. Bóg dba o całe to rozległe dzieło stworzenia. Czy
                nie zadba o mnie?”. Oceanu samsary</span> nie pokonacie stosując
                pokutę, chodząc na pielgrzymki ani studiując święte pisma. Możecie osiągnąć
                wyzwolenie tylko służąc szlachetnym duszom.</span></p>
                
                <p><span style="line-height:
                115%;">Jadźnie</span></span><span style="">
                są częścią naszej indyjskiej kultury. Dlatego odprawiamy tę jadźnię</span>.
                Jadźnia</span> posiada jeszcze inną nazwę – poświęcenie. <span class="GramE">Nawet jeśli</span> nie macie do dyspozycji świętego ognia, w
                zupełności wystarczy, że będziecie mieli w umyśle bezinteresowne myśli. Nie ma
                większego poświęcenia niż ofiarowanie własnego ciała, umysłu i duszy służbie
                dla społeczeństwa. Poświęcenie nie polega na porzuceniu rodziny i odejściu do
                lasu. Prawdziwe poświęcenie to złożenie w ofierze egoizmu obecnego we własnym
                umyśle. Wtedy stanie się ono jogą.</span></p>
                
                <p><span style="
                ">Dziś, z powodu braku czasu, nie będę mówił wam zbyt
                wiele. Ale to, co powiedziałem wam, musicie zrozumieć, przemyśleć i
                praktykować. Dla mnie to wystarczy. Udzielam dyskursów od 85 lat. Ilu jest dziś
                ludzi, którzy przyswoili nauki Swamiego i demonstrują je swoim życiem. <span class="GramE">Tak więc</span> chciałbym powiedzieć wam, że samo słuchanie to za
                mało. Musicie rozmyślać nad moimi naukami i praktykować je w swoim życiu. W
                przeciwnym razie będzie to jak łapanie deszczu w sito – bezużyteczne. Kończę
                mój dyskurs błogosławiąc was, abyście wszyscy oczyścili naczynie swego serca,
                napełnili je czystymi i świętymi uczuciami i wiedli bardzo szlachetne życie.</span></p>
                
                <p><b><span style="font-size:10.0pt;
                &quot;Arial&quot;,&quot;sans-serif&quot;">Uwaga.</span></b><span style="font-size:10.0pt;
                &quot;Arial&quot;,&quot;sans-serif&quot;"> Prosimy pamiętać, że są to
                spisane notatki, małe, ożywcze przekąski pomagające nam działać jak bogowie
                (być jak Bóg), z dyskursu Sukszma</span> <span class="GramE">Baby</span>
                wygłoszonego w Muddenahalli</span>. Nie jest to relacja
                słowo w słowo, nie jest to pełen dyskurs. Te notatki nie obdarzą boskim
                uczuciem ani boską energią, jakie płyną w tym momencie w obfitości. Jeśli
                pragniecie relacji słowo w słowo i z serca do serca, jeśli chcecie doświadczyć
                boskiej energii, zanurzcie się w sobie lub uczestniczcie w dyskursach. Cieszmy
                się tymi pokornie spisanymi notatkami.</span></p>
                
                <p style="text-align:right" align="right"><span style="font-size:
                10.0pt;">[Źródło:</span><span style="font-size:9.0pt;line-height:115%"> </span><span style="font-size:10.0pt;
                "><a href="http://www.bhajanmusic.info/sukshma-baba-information/OCTOBER-2015-MUDDENAHALLI-DISCOURSE-ENGLISH#DIS-ENG-OCT017" rel="no-follow">bhajanmusic.<span class="GramE">info</span></span></a>; tłumaczenie:
                JR, 2015-10-25]</span></p>
                
                <p><span style="font-size:12.0pt;
                ">&nbsp;</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">temp</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>