<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Notatki z Boskiego Dyskursu z dnia 20 października 2015 r.</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Notatki z Boskiego Dyskursu z dnia 20 października 2015 r.</h2>
              <h5 class="text-center my-5">(Ósmy
                dzień Ati Rudra Maha Jadźni, Muddenahalli)</h5>

                <p><span style="">[Dyskurs
                wygłoszony w 75 rocznicę Dnia Deklaracji Awatara, kiedy młody Sathyanarajana
                porzucił podręczniki i ogłosił swą boską misję. Działo się to 20 października
                1940 r.]</span></p>
                
                <p><i><span style="
                ">Om Śri Sai Ram. Prosimy Bhagawana o obdarzenie
                nas tego wieczoru swym boskim orędziem. Widzę Go siedzącego na krześle w białej
                szacie. Powtarzam Jego słowa.</span></i></p>
                
                <p><span style="
                ">Nie jestem człowiekiem. Nie jestem aniołem, nie
                jestem półbogiem. Nie jestem braminem, kszatriją ani Wajśnawą. Nie jestem
                brahmaczarim. Nie jestem grihastą ani pustelnikiem. W istocie jestem
                nauczycielem odwiecznej prawdy, ucieleśnieniem prawdy, dobra i piękna.</span></p>
                
                <p><span style="
                ">On jest ucieleśnieniem wieczystej błogości,
                prawdziwym uosobieniem doskonałej mądrości. On jest najwyższym szczęściem. Jest
                ponad dualizmem i jest wiecznym świadkiem wszystkiego. On jest Jedyny i jest
                zawsze czysty. On jest celem wszystkich filozoficznych dociekań.</span></p>
                
                <p><span style="
                ">Bóg jest bezforemny. Jest rodzajem ignorancji mówić,
                że Bóg ma takie a takie imię i posiada taką a taką postać. On zawsze jest w
                stanie bezforemności, w którym nie ma żadnej określonej postaci. On inkarnuje się
                na ziemi dla czterech celów: aby ochraniać dobrych, edukować złych, umacniać
                dharmę i nauczać o wiecznej prawdzie.</span></p>
                
                <p><span style="
                ">Ucieleśnienia miłości. Spośród wymienionych czterech
                celów najważniejszy jest czwarty – nauczanie o odwiecznej prawdzie. Kiedy
                dzięki poznaniu prawdy odrzucimy dualizm, będziemy w stanie doświadczyć
                wspaniałej boskiej błogości. Bóg wiele razy inkarnował się na ziemi, ale zawsze
                pierwszym i najważniejszym jego celem było nauczanie prawdy. Bóg rzeczywiście
                jest ucieleśnieniem mądrości. Czym jest mądrość i prawda? Widzenie jedności w
                całym istnieniu to mądrość. Bóg jest ponad przeciwieństwami i ponad trzema
                gunami, czyli atrybutami. Cały świat pełen jest przeciwieństw. Coś jest
                pozytywne, a coś negatywne. Gdzie jest dzień, tam również jest noc. Gdzie są
                narodziny, tam śmierć jest nieunikniona. Gdzie jest zwycięstwo, tam jest też
                przegrana. Gdziekolwiek jest dobre imię, tam też zdarza się zła reputacja. Aby
                nauczyć nas, jak mamy zachować wewnętrzną równowagę w tym świecie dualności,
                inkarnuje się Bóg. Powiedziano, że joga jest zrównoważeniem. Jak długo
                wiedziemy życie w ciemności ignorancji, nie jest możliwe, byśmy posiedli
                równowagę wewnętrzną.</span></p>
                
                <p><span style="
                ">Bóg inkarnuje się na ziemi, aby nauczyć nas tej
                prawdy. Kiedy inkarnował się Rama, nauczał on prawdy na trzy sposoby.
                Przestrzegał on trzech ślubowań: jedna żona, jedno słowo, jedna strzała. W
                tamtych czasach obecne były wartości ludzkie. Kriszna powiedział: „Tego, kto
                podda się mnie, uwolnię od wszystkich grzechów”. Kiedy przyszedł Sai, on
                również miał trzy ślubowania. Co to były za ślubowania? Obdarzać wszystkich
                ludzi radością i chronić ich. Dzięki swej miłości, obdarzał ludzi wszystkim,
                czego im brakowało. Sai Baba ślubował brać w swe ręce tych, którzy zeszli ze
                ścieżki dharmy i wprowadzać ich z powrotem na drogę prawości. Od moich narodzin
                do dziś prowadzę swe życie tak, by zrealizować te trzy zobowiązania. Jak
                powiedział to przedmówca, „Moje życie jest moim przesłaniem”. Droga, jaką
                pokazuję, jest drogą prawdy. Życie, jakie demonstruję, jest życiem w prawdzie.
                Każde słowo, jakiego uczę, jest słowem prawdy. Prawda jest moim słowem. Dharma
                jest moją drogą. Miłość jest zasadą, jakiej uczę. Jeśli chcecie rozwinąć w
                sobie miłość, koniecznie musicie rozpoznać prawdę.</span></p>
                
                <p><span style="
                ">Jak długo posiadamy poczucie różnicy między samym
                sobą a innymi, z pewnością będziemy przebywać w mroku ignorancji. Jedynie
                wtedy, gdy doświadczymy jedności całego stworzenia, pozbędziemy się wszystkich
                smutków, przywiązań i cierpień. Słuchamy bardzo dobrych wykładów o lilach [boskich
                rozrywkach] Kriszny. Nie tylko Kriszna czynił cuda, współcześnie zdarzyło się
                bardzo wiele cudów Sai. Kiedy miałem 14 lat, na zaproszenie komisarza
                miejskiego udałem się do Hampi. Pojechał tam również Seszama Radżu ze swą żoną.
                Bóstwem czczonym w Hampi jest Wirupaksza. Wielu ludzi prosiło mnie, żebym
                wszedł do świątyni. Powiedziałem, że wolę pozostać na zewnątrz. Seszama Radżu
                miał o mnie złą opinię. To nie była nienawiść, ale myślał on, że nie słucham go
                i nie jestem mu posłuszny. Zamiast pomagać w domu, zawsze pomagałem innym poza
                domem. Ponieważ on był starszym bratem, a ja byłem młodszy, on oczekiwał, że
                będę go słuchał. Kiedy komisarz zaprosił mnie, musiałem tam jechać. Wszyscy
                weszli do świątyni, by oddać cześć bóstwu. Jakie było ich zdziwienie, gdy w
                miejscu bóstwa zobaczyli mnie! Seszama bardzo się rozgniewał: „Kiedy wołałem
                go, nie przyszedł, a teraz stoi w najświętszym miejscu świątyni. On jest
                bezczelny”. To jednak nie była prawda. Kiedy wyszedł na zewnątrz, ujrzał mnie
                siedzącego koło świątyni. Zdumiał się, widząc mnie zarówno wewnątrz, jak i na
                zewnątrz świątyni. Również komisarz był tego świadkiem.</span></p>
                
                <p><span style="
                ">Komisarz z powodu swego oddania zaczął płakać z
                radości i wychwalać mnie: „Sathya, ty nie jesteś zwykłym człowiekiem”. To była
                moja pierwsza lila. Ten sam Sathya, który był wewnątrz, był też na zewnątrz.
                To, co zdarzyło się wówczas, dzieje się również teraz. Bóg jest wszechprzenikający.
                Jest wewnątrz i na zewnątrz. Jest wszędzie. Komisarz był tak zachwycony, że
                chciał dać mi prezent. Postanowił uszyć ubranie i podarować je Swamiemu.
                Powiedziałem mu jednak, że nie przyjmuję od nikogo żadnych prezentów. Nie
                potrzebuję niczego. Nawet gdy ludzie prosili mnie wielokrotnie, mówiłem, że nie
                zamierzam nic przyjmować. W tamtych czasach modne było noszenie kolorowych
                szpilek do kołnierza. Żona komisarza prosiła Swamiego: „Nawet jeśli nie
                akceptujesz odzieży od nas, przyjmij proszę ode mnie tę szpilkę”. Ponieważ ciągle
                mnie prosiła, nawet Seszama Radżu zaczął się irytować. Powiedział do mnie
                szorstko: „Taki poważny komisarz mówi do ciebie, a ty nie słuchasz go”.
                Ponieważ oni wszyscy wywierali na mnie presję, zgodziłem się. Ze szpilką wpiętą
                w kołnierz mojej koszuli powróciłem do Urawakondy. Stało się tak, że kiedy
                szedłem z domu do szkoły, szpilka gdzieś mi spadła. Nie byłem smutny z tego
                powodu, że zgubiłem szpilkę. Noszenie szpilki od komisarza było ciężkim
                zadaniem. W rzeczywistości w ogóle o nią nie dbałem. Uważałem, że noszenie tej
                szpilki jest wielkim ciężarem, ponieważ komisarz mógł przyjechać i zapytać,
                gdzie ona jest. Ale kolorowa szpilka zgubiła się. Iluzja odeszła. Zwołałem
                wszystkich, zawołałem komisarza i usiadłem na kamieniu. Byli tam moi najstarsi
                wielbiciele, Hanumantha i Andżanejulu. Prosili mnie: „Zamiast siedzieć na
                kamieniu, chodź do naszego domu”. Nie mam żadnych związków z ludźmi, przywiązań
                ani rodziny. Przybyłem dla moich wielbicieli. W dniu 20 października 1940 powiedziałem
                tę prawdę. Hanumantha i Andżanejulu przyszli, usiedli u mych stóp i zaśpiewali
                pieśń <i>Manasa bhadźare guru ćaranam</i>.</span></p>
                
                <p><span style="
                ">W ciągu pierwszych 16 lat mego życia wydarzyło się
                mnóstwo lil. W ciągu następnych 16 lat było wiele cudów. W okresie lil tylko ludzie
                z mojego otoczenia wiedzieli o mnie. Przez następne 16 lat, w okresie cudów,
                zewsząd przybywało do mnie wielu ludzi, w tym król Mysore i królowa Czinczoli.
                Dziś ludzie z całego świata mogą oglądać uroczystości, jakie odbywają się tu, a
                to dzięki nowoczesnej technologii. W tamtych czasach nie było takiej techniki.
                Dokładnie w ten sam sposób, w jaki objawiłem się w świątyni, ukazałem się w
                wielu domach moich wielbicieli i wezwałem ich do siebie. Oni nie słyszeli o
                Puttaparthi. W tamtych czasach autobusy jeździły bardzo rzadko. Z Dharmawaram
                był tylko jeden autobus do Karnataka Nagapalli. Jeśli chcieliście przebyć rzekę
                Czitrawati z Karnataka Nagapalli, musieliście użyć wozu zaprzężonego w wołu lub
                iść pieszo. Nawet gdy królowa Mysore przyjechała samochodem do Karnataka
                Nagapalli, musiała dalszą drogę przebyć pieszo. Ludzie przybyli z zewnątrz
                wierzyli we mnie, ale nie można było tego powiedzieć o miejscowych. Oni zawsze
                powątpiewali i mówili: „Oni mówią, że ten chłopiec, który urodził się w naszej
                wiosce, jest Bogiem. Czy to możliwe?”. Ludzie z innych stron przybywali z
                wielką wiarą. Chcieli wybudować świątynię dla Swamiego. Przede wszystkim
                Subbamma podarowała mi jeden akr ziemi. Od przodu świątyni Satjabamy ofiarowała
                mi jeden akr ziemi, na którym postawiono wąski barak i nazwano go mandirem.
                Nawet wtedy, gdy przebywałem w tym mandirze, ilość wielbicieli wzrastała. Z
                powodu napływu coraz większej liczby wielbicieli z wielu stron, wielbiciele z
                Bangalore i z innych miejsc zakupili 10 arów ziemi i zbudowano Prasanthi
                Nilayam. Ono miało skromne początki, a teraz jest znane na całym świecie. Nawet
                wtedy, gdy rozmawiałem z moimi siostrami, one nigdy nie wierzyły mi. Kiedy
                zacząłem im opowiadać, że ludzie z całego świata będą odwiedzać Puttaparthi i
                że stanie się ono wielkim centrum pielgrzymkowym, one myślały, że oszalałem. Mówiły:
                „Tylko dlatego, że przyjeżdża 10-15 osób, Sathya robi się bardzo dumny i już
                mówi nam, że musi przenieść się ze starego mandiru do nowego. On nie tylko
                kupił ziemię wokół Prasanthi Nilayam, ale stawia tam wielkie budynki”. Żadna z
                nich nie wierzyła w moje słowa. Pewnego dnia usiadłem na krześle mojego brata
                Seszamy Radżu. Przyszedł z kijem i uderzył mnie. On był nauczycielem. Zrobił
                się bardzo zły: „Jestem nauczycielem, a ty jesteś małym chłopcem. Jak śmiesz
                siadać na moim krześle!”. Wtedy odparłem: „Przyjdzie taki czas, kiedy ty
                postawisz srebrne krzesło dla mnie, a ja będę siedział na nim w majestacie.
                Przyjdziesz i zobaczysz to”. Nawet to się stało! Cokolwiek powiedziałem, ludzie
                nie byli w stanie w to uwierzyć. Iśwaramma również była bardzo impulsywna.
                Pewnego razu przyszła do mnie i powiedziała: „Sathya, nie wiem, jak wielki
                jesteś, ale jesteś moim synem. Jest wielu ludzi, którzy przyjeżdżają tu i
                zapraszają cię w różne miejsca daleko stąd. Powinieneś przebywać tylko tu”.
                Odpowiedziałem Iśwarammie: „Jak długo będzie żyło to ciało, nie opuszczę Puttaparthi”.
                Ona uspokoiła się i była bardzo zadowolona. Czy to była Iśwaramma, czy ktoś
                inny, oni mieli bardzo wiele szczęścia. Dzięki swemu oddaniu Bogu i ofiarom
                Jemu składanym, otrzymali Boga jako członka swej rodziny. Wielkim błędem jest
                myśleć, że była to zupełnie zwyczajna rodzina.</span></p>
                
                <p><span style="
                ">Dlaczego dziś o tym opowiadam? Ponieważ jest tu
                wielu uczniów i studentów, którzy przybyli z różnych szkół i nie znają tych
                historii. Opowiadam im moją własną historię. Kiedy budowałem mandir, nikt mi
                nie wierzył. Pytali mnie: „W jakim celu budujesz tak wielką świątynię? Stajesz
                się coraz bardziej arogancki i wydajesz coraz więcej pieniędzy”. Powiedziałem
                im, że powstanie nie tylko ten mandir, ale inny, dużo większy. I nawet on
                będzie za mały. To, co działo się wtedy, ma miejsce również obecnie. Trzy lata
                temu, kiedy przybyłem do Muddenahalli, powiedziałem Narasimhamurthy’emu: „Nie
                myśl, że to jest mały ośrodek edukacyjny. On przemieni się w wielki aszram.
                Przyjadą tu ludzie z całego świata. Będą miały tu miejsce wielkie uroczystości.
                Zbudujemy wielkie audytorium i halę bhadżanową. Podobnie jak tamci ludzie nie
                wierzyli mi, tak w tym momencie on również mi nie uwierzył. Teraz już ma wiarę.
                Mówiłem mu: „Przebywasz tu 40 lat i wciąż są tu te same budynki. Dlaczego tak
                wielu ludzi teraz przyjeżdża tu, a wcześniej nie przyjeżdżało? Oni nie
                przybywają tu z powodu ciebie. Przybywają, ponieważ jest tu Sai Baba!
                Wielbiciele przyjeżdżają tu przyciągani magnetyczną siłą Boga. Nie trzeba mówić
                pszczołom, gdzie kwitnie kwiat. Nie trzeba zapraszać pszczoły do kwiatu. Gdziekolwiek
                rośnie kwiat, tam roi się od pszczół. Nikt nie musi mówić mrówkom, gdzie jest
                cukier. Mrówki same przyjdą do cukru. Nikt nie musi mówić innym, że Bóg tu
                jest. Wielbiciele sami z pewnością trafią w miejsce, gdzie jest Bóg.</span></p>
                
                <p><span style="
                ">Wczoraj powiedziałem również: „Magnetyczna moc Boga
                jest tutaj”. Z powodu rdzy i kurzu ego i przywiązania, nie jesteśmy przyciągani
                do Boga. Kiedy porzucimy ego i przywiązanie, kiedy rozwiniemy oddanie,
                automatycznie zaczniemy być przyciągani do Boga. Pasterze i pasterki mówili: „Kriszna
                nie jest nasz. My należymy do Kriszny!”. Ale Jadawowie twierdzili
                autorytatywnie, że Kriszna należy do nich! Z jednej strony mamy poddanie. Z
                drugiej strony jest władza i ego. Boga nigdy nie zdobędzie się przez ego i
                ostentację. Bóg pójdzie tam, gdzie jest poddanie. Możecie mi nie wierzyć, ale
                to miejsce jest bardzo zasłużone i chwalebne. To ziemia pokuty. Cały ten teren
                należał do aszramu Wiśwamitry w tretajudze. To tutaj Rama i Lakszmana waczyli z
                [demo nicą] Tataką i zabili wiele demonów. To nie jest właściwe myśleć, że to
                miejsce jest całkiem zwyczajne. Wielkim błędem jest myśleć, że ludzie tutaj są
                zwyczajni. Podobnie jak Rama powrócił jako Kriszna, a Kriszna przyszedł jako
                Sai, ludzie z jego otoczenia, którzy kochali go i wielbili, również będą rodzić
                się wciąż i wciąż. Nawet zanim jeszcze urodził się Rama, siedmiu Riszich
                przybyło do Ajodhji. Mnóstwo ludzi było zaskoczonych, kiedy dowiedzieli się, że
                do ich stolicy przybyli wielcy mędrcy, choć nic nie wydarzyło się. Nawet król
                Daśaratha był zdziwiony widząc nadchodzących mędrców, choć nic się nie działo.
                Ale oni wiedzieli, że pojawi się tam Bóg.</span></p>
                
                <p><span style="
                ">W przyszłości zobaczycie to miejsce pełne świętych i
                mędrców. Gdzie nie spojrzycie, wszędzie będziecie widzieć ochrowe i
                pomarańczowe szaty. Przybędzie tu mnóstwo wielkich świętych i wielbicieli.
                Przyjadą tu również ludzie piastujący wysokie stanowiska – prezydenci i
                ministrowie. Dlatego nasi uczniowie i studenci nie powinni myśleć, że uczą się
                w małym ośrodku edukacyjnym. To święty i chwalebny aszram. Tam gdzie jest
                miłość, tam nie ma zmartwień. Kiedy rozwiniecie miłość, nie doświadczycie
                żadnych zmartwień. Wszyscy powinniście szczerze i z wielką miłością zapraszać i
                witać wszystkich tych ludzi, którzy tu przyjeżdżają. Subbamma wstawała o
                czwartej rano, aby przygotować dla gości jedzenie. W tamtych czasach nie było
                hoteli. Musiała wstać wczesnym rankiem. aby przygotować jedzenie i robiła to do
                jedenastej wieczorem. „Dlaczego bierzesz na siebie tak wielki kłopot?” –
                zapytałem. Odpowiedziała: „To nie kłopot, to błogość! Dałeś mi tę wspaniałą
                okazję. Czego więcej miałabym potrzebować? Robię to z radością. Nie myśl, że to
                jest ciężar dla mnie”. Tak więc ktokolwiek przybywa do aszramu, powinniście
                wszyscy przyjąć i powitać gościa z miłością i oddaniem. Wielbiciele nie
                przybywają tu, by zyskać szacunek. Przybywają tu po miłość.</span></p>
                
                <p><span style="
                ">Obecnie nie posiadam fizycznego ciała. Pracuję przez
                wasze ciała. Wszystkie wasze ręce, nogi, oczy i uszy należą do Boga. On okrywa
                wszystko. Wszystkie wasze ręce, oczy i uszy są moje. Powinniście wiedzieć, że
                wasze ciała nie należą do was i że powinniście utrzymywać je święte i czyste.
                Ati Rudra Maha Jadźnia jest czasem świętym. To czas przejścia. Kończy się
                kalijuga i zaczyna satjajuga. To nie jest satjajuga, to PREMA juga. Kiedy znamy
                prawdę, że każdy należy do nas, wtedy w naturalny sposób rozwijamy miłość.
                Kiedy widzicie swe własne odbicie w lustrze, kochacie je i czujecie wielką
                przyjemność. Wiecie, że odbicie jest wami. Kiedy patrząc na innych będziecie
                myśleć, że „oni są kimś innym i ja jestem kimś innym”, wtedy nie będziecie
                mogli rozwinąć miłości.</span></p>
                
                <p><span style="
                ">Jest tylko jedna prawda, a ludzie mówią o niej w
                różny sposób. Dopiero wtedy, kiedy zrozumiecie, że Sai jest w każdym i każdy
                jest w Sai, rozwiniecie miłość. Kiedy rozwiniecie miłość, wtedy doświadczycie
                błogości. Wszystko jest miłością, miłością, miłością. Dopiero wtedy, gdy
                rozwiniecie miłość, będziecie mogli zrozumieć ten pierwiastek Sai. Swami
                przybył tutaj. Przyjechało tu tysiące ludzi i oni przyglądają się nam z myślą,
                że nie powinniśmy rozwijać w sobie dumy. Drzewo pełne owoców zawsze pochyla się
                nisko. Pokora jest bardzo ważna. Musicie kochać wszystkich z pokorą i
                posłuszeństwem.</span></p>
                
                <p><span style="
                ">Nasze warunki noclegowe są niewystarczające.
                Zamierzam zbudować jeszcze więcej budynków do kwaterowania wielbicieli. Stworzę
                też dla nich wszelkie udogodnienia. W przyszłym roku zostaną tu otwarte
                wszystkie rodzaje kantyn. Oprócz kantyn zostanie uruchomiony szpital. Dla osób
                chcących zostać tu przez jakiś czas dostępne będą wszelkie rodzaje udogodnień.
                Możemy pójść i zobaczyć wielki hall, jaki się tu buduje. Nie jest całą prawdą
                myślenie, że ta hala powstaje dla Swamiego. W przyszłości będzie tam
                przychodził i udzielał darszanów Prema Sai. Narasimhamurthy kiedyś zapytał:
                „Swami, czy potrzebujemy tak wielkiej hali?”. Odpowiedziałem mu: „Jeśli ty
                będziesz udzielał darszanów, ta hala nie będzie potrzebna. Jeśli ja będą
                udzielał darszanow, ta hala będzie odpowiednia”. Musicie to robić ze względu na
                mnie. Daję im mnóstwo pracy. Tylko wtedy, kiedy daję im dużo pracy, oni myślą o
                mnie. Kiedy myślą, że zadanie jest niemożliwe do wykonania, wtedy zwracają się
                do Boga. Małe projekty wykonują nie myśląc o mnie. Kiedy powierzam im wielki
                projekt, wtedy w sposób naturalny przychodzą do mnie i proszą: „Swami, musisz
                nam pomóc i obdarzyć nas siłą”. Wśród wszystkich wielbicieli ten rodzaj strachu
                prowadzi do oddania. To obawa i oddanie.</span></p>
                
                <p><span style="
                ">Architekci i inżynierowie bardzo ciężko pracują, by
                zakończyć te przedsięwzięcia na czas. Wy wszyscy siedzicie tu i słuchacie
                przemówień, cieszycie się prasadam i oglądacie jadźnię. Ci inżynierowie i
                architekci nie przyszli tu nawet na jeden dzień. Cały czas pracują. Nawet nasi
                chłopcy pomagają im w pracy. Oni wszyscy myślą, że to nie jest po prostu praca,
                ale że jest to praca Swamiego. Pracują więc z miłością. Kiedy parę dni temu
                poszedłem zobaczyć halę, nawet ja nie mogłem uwierzyć, że to mogło się zdarzyć.
                Teraz mam całkowitą wiarę w to, że gmach zostanie ukończony na czas, ponieważ
                nasi studenci tam pracują. Oni myślą, że jest to święta praca Swamiego i
                dlatego powinni wykonywać ją z miłością. </span></p>
                
                <p><span style="
                ">Dzieci posiadają bardzo wielką wiarę. Kiedy Kriszna
                chciał podnieść górę Gowardhana, przybyli wszyscy pastuszkowie i powiedzieli:
                „My również pomożemy ci, Kriszno. Pomożemy ci w twojej pracy”. Dziecko nie jest
                w stanie unieść nawet małego kamienia. Mimo to, kiedy Kriszna powiedział im, że
                zamierza unieść całą górę, oni wszyscy przybyli nie mając wątpliwości, z pełną
                wiarą. Nikt nie pytał mnie: „Jesteś małym chłopcem. Jak możemy ci pomóc unieść
                ją? Jeśli w jakiś sposób uniesiemy ją, a ona spadnie – co wtedy?”. Nikt nie
                zadawał pytań. W ogóle nie było wątpliwości. Pastuszkowie myśleli: „Kriszna
                powiedział, że to się stanie, więc powinniśmy przyłączyć się do tej pracy”.
                Kiedy powiedziałem moim studentom, że jest dużo pracy, oni wszyscy przyszli i
                oświadczyli, że z pewnością przyłączą się do mojej pracy. Chłopcy z innych
                kampusów poczuli się źle. Oni również chcieli pracować i mieć okazję do
                służenia.</span></p>
                
                <p><span style="
                ">Kiedy Rama budował wielki most, do pomocy zgłosiła
                się wiewiórka. Napełniała swoje ciało piaskiem, niosła go i wysypywała na most.
                Wiewiórka myślała: „Kiedy dokonuje się tak wielkie przedsięwzięcie, nie mogę
                siedzieć cicho. Również ja powinnam służyć”. Kiedy dokonują się tak wielkie
                przedsięwzięcia, również dla was nie jest właściwe po prostu siedzieć. Samo
                patrzenie nie sprawi radości. Działajcie i doświadczajcie przyjemności. Kiedy
                poświęcicie całą wykonywaną przez was pracę dla miłości Boga, wtedy rozpoznacie
                prawdę.</span></p>
                
                <p><span style="
                ">Awatar Sathya Sai pozostanie tu przez kilka lat. Po
                pewnym czasie powrócę jako Prema Sai. Zamieszkam w tym aszramie i nawet będę
                uczył tu prawdy. Zanim przyjdą deszcze, rolnik przygotowuje ziemię. W ten sam
                sposób ja przygotowuję to miejsce. Nie tylko szykuję to miejsce, również
                uprawiam wasze serca. Czekam, by usunąć interesowność i samolubstwo z waszych
                serc i zasiać ziarna miłości. Kiedy nadejdzie deszcz, wtedy będzie on
                użyteczny. Biorąc udział w tym wielkim zadaniu znajdziecie również spełnienie
                swojego życia.</span></p>
                
                <p><span style="
                ">Wcześniej była deklaracja. Dziś to jest deklaracją.</span></p>
                
                
                <p><b>Uwaga.</span></b> Prosimy
                pamiętać, że są to spisane notatki, małe, ożywcze przekąski pomagające nam
                działać jak bogowie (być jak Bóg), z dyskursu Sukszma Baby wygłoszonego w
                Muddenahalli. Nie jest to relacja słowo w słowo, nie jest to pełen dyskurs. Te notatki
                nie obdarzą boskim uczuciem ani boską energią, jakie płyną w tym momencie w
                obfitości. Jeśli pragniecie relacji słowo w słowo i z serca do serca, jeśli
                chcecie doświadczyć boskiej energii, zanurzcie się w sobie lub uczestniczcie w
                dyskursach. Cieszmy się tymi pokornie spisanymi notatkami.</span></p>
                
                <p class="text-right my-5">[Źródło:<a href="http://www.bhajanmusic.info/sukshma-baba-information/OCTOBER-2015-MUDDENAHALLI-DISCOURSE-ENGLISH#DIS-ENG-OCT021" rel="no-follow">bhajanmusic.info</a>;
                tłumaczenie: JR, 2015-11-03]</span></p>
                
                <p style="text-align:right" align="right"><span style="font-size:
                12.0pt;">&nbsp;</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Notatki z Boskiego Dyskursu z dnia 20 października 2015 r.</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>