<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">temp</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Notatki
                z Boskiego Dyskursu z dnia 18 października 2015 r.</h2>
                <h5 class="text-center my-5">(Szósty
                    dzień Ati Rudra Maha Jadźni, Muddenahalli)</h5>

                <p style=""><i><span style="
                ">Om Sai Ram. W ten
                bardzo pomyślny wieczór prosimy Bhagawana o obdarzenie nas swym boskim orędziem.
                Widzę Go siedzącego na krześle w pomarańczowej szacie. Powtarzam Jego słowa.</span></i></p>
                
                <p style=""><span style="
                ">Syn Nandy [Kriszna]
                powrócił jako Ananda Bala, dziecko błogości, aby bawić się ze swoimi
                towarzyszami zabaw. To powrócił ten sam Ramaczandra &nbsp;jako Aramaczandra –
                beztroski i pozbawiony zmartwień, aby odszukać swoje bratnie dusze. To jest ten
                sam Iśwara z Parthi, który przybył tu jako Muddenahalli Iśwara – Bóg Muddenahalli,
                aby rozpoznać swoich wielbicieli. To jest ten sam Maha Wisznu, który powrócił
                jako Mahe Wisznu – Wisznu tej ziemi, by wykonywać swoją pracę za pomocą swoich instrumentów.</span></p>
                
                <p style=""><span style="
                ">Ucieleśnienia boskiej
                miłości! Gdzie jest Bóg? Od niepamiętnych czasów ludzie poszukują Boga, udając
                się do wielu ośrodków duchowych, czytając wiele ksiąg i szukając Go wszędzie.
                Gdziekolwiek by Go nie szukać, nie da się zobaczyć Go za pomocą oczu. Czy
                mieszka On na Wajkuncie? Nie ma Go na Wajkuncie. Myślicie, że jest On na górze
                Kajlasa, ale tak naprawdę&nbsp; nie ma Go tam. Gdzie On naprawdę jest? Odpowiedzi
                udzielił sam Bóg: „Nie mieszkam na Wajkuncie, nie przebywam w sercach joginów. Kiedy
                tylko moi wielbiciele śpiewają, sadowię się w ich sercach”. Bez Boga
                wielbiciele nie mogą istnieć. Bez wielbicieli Bóg nie może istnieć. Kiedy rodzi
                się dziecko, rodzi się również matka. Dopóki dziecko nie narodzi się, ona jest
                tylko kobietą, nie matką. Dopiero wtedy, gdy rodzi się dziecko, kobieta
                zamienia się w matkę. Możecie szukać Boga wszędzie i nie znajdziecie Go. On
                będzie tam, gdzie mieszka wielbiciel. Gdzie jest czyste oddanie, tam jest
                również Bóg.</span></p>
                
                <p style=""><span style="
                ">Tego wieczoru, podczas
                prezentacji Bhagawaty, dowiedzieliśmy się nieco o historii Kriszny. Kriszna
                znaczy, że to, co przyciąga, jest pierwiastkiem Kriszny. Bóg pełen jest siły
                przyciągania. Chociaż magnes posiada swą siłę przyciągania, przyciągnie kawałek
                żelaza tylko wtedy, gdy zbliżymy żelazo do magnesu. Opiłek żelaza zostanie
                przyciągnięty jedynie wtedy, gdy nie będzie miał zanieczyszczeń takich jak ego,
                przywiązania lub złe cechy. Jeśli żelazo pokryte jest rdzą i kurzem, magnes nie
                przyciągnie go, choćbyśmy bardzo się starali. Tego samego Boga, którego Prahlada
                wielbił i czcił, Hiranjakaśipu nienawidził. Tego samego Krisznę, którego
                pasterze i pasterki kochali i wielbili, Kamsa nienawidził. Kriszna jest jeden i
                ten sam. Wisznu jest jeden i ten sam. Wszystko zależy od uczuć wielbicieli.
                Magnes może przyciągnąć tylko żelazo wolne od rdzy i kurzu. Możemy zbliżyć do
                magnesu brudny i zardzewiały kawałek żelaza, ale nic się nie zdarzy. Widząc, że
                żelazo jest brudne i zardzewiałe, głupotą jest myśleć, że magnes nie ma w sobie
                siły przyciągania. Wcale nie. Magnes z pewnością posiada w sobie moc. To z
                powodu zła obecnego w kawałku żelaza magnes nie przyciągnie go. Podobnie jest z
                człowiekiem pełnym rdzy i kurzu egoizmu i przywiązań. Nawet jeśli taki człowiek
                znajdzie się w obecności Boga, nie nastąpi w nim jakakolwiek przemiana. W
                przeciwnym razie jak mógł Rawana patrząc na Ramę nienawidzić go, skoro Ramę
                wielbiły nawet małpy? Takie wypaczenie spowodowane było złem obecnym w Rawanie.
                Nawet małpy, dzięki swym czystym uczuciom, mogły zobaczyć Boga w osobie Ramy.</span></p>
                
                <p style=""><span style="
                ">Bóg jest zawsze czysty,
                pełen błogości, zawsze taki sam. Faktycznie widzisz w lustrze tylko własne
                odbicie, nic więcej w nim nie znajdziesz. Kidy będziesz mówił z miłością do
                Boga, On również odpowie ci z miłością. Jeśli nienawidzisz Boga, w lustrze
                odbije się twoja własna nienawiść. Zatem tylko wtedy kiedy porzucisz swe
                negatywne cechy, będziesz w stanie rozpoznać Boga. Z powodu rdzy i kurzu
                egoizmu i przywiązania magnetyczna siła Boga nie przyciągnie cię.</span></p>
                
                <p style=""><span style="
                ">W gopalach i gopikach
                [pasterzach i pasterkach] nie było rdzy ani kurzu. Oni pragnęli Kriszny i
                niczego więcej. Kiedy Kriszna opuścił Brindawan i udał się do Mathury,
                wszystkich ogarnęła rozpacz. Nawet po przybyciu do Mathury Kriszna cały czas
                myślał o gopalach. Pasterzom w Brindawanie było bardzo smutno. Z powodu swych
                własnych postanowień Kriszna nigdy już nie miał powrócić do Brindawanu, a
                gopiki nie mogły jechać do Mathury. Pasterki cały czas wypatrywały Kriszny w
                Brindawanie. Kriszna miał bardzo bliskiego przyjaciela o imieniu Uddawa. Wysłał
                go z wiadomością dla gopik, a jednocześnie zamierzał ukazać Uddawie głębokie
                oddanie pasterek. Uddawa przybył do Brindawanu w celu uśmierzenia smutku gopik.
                Gopiki zawsze myślały o Krisznie. Ich umysły pogrążone były w pierwiastku
                Kriszny. Czerpały z tego błogość. Uddawa przyjechał do Radhy. Uddawa miał
                ciemną karnację jak Kriszna. Myśląc, że to Kriszna, zbiegły się gopiki. Uddawa
                wysiadł z rydwanu, aby przekazać Radzie wiadomość od Kriszny. Zaczął pouczać
                Radhę, że Kriszna jest wszędzie – jest wszechprzenikający. Radha zapytała: „O
                jakim Krisznie mówisz?”.&nbsp; Uddawa odparł: „Kriszna, który opuścił Brindawan i
                udał się do Mathury, przekazał ci wiadomość. Dlatego rozmawiam z tobą”. Radha
                wybuchła głośnym śmiechem: „Swoją filozofię zachowaj dla siebie! Mój Kriszna
                jest zawsze we mnie! Wystarczy, że zamknę oczy i widzę go cały czas. Do Mathury
                pojechała iluzja, a nie Kriszna. Mój Kriszna jest zawsze we mnie. Jestem
                cieniem Kriszny. Gdzie jest cień, tam musi być obiekt. Gdzie jest odbicie, tam
                powinien być również obiekt. Jeśli widzisz, że Radha wciąż żyje, to znaczy, że
                jest z nią Kriszna. Nie potrzeba wysłuchiwać twojej filozofii. W każdej chwili
                doświadczam tego i cieszę się tym!”.</span></p>
                
                <p style=""><span style="
                ">Jeśli przyjrzycie się
                bliżej temu, co działo się w Mathurze, zobaczycie wielką zazdrość pomiędzy małżonkami
                Kriszny, Rukmini i Satjabhamą. Każda z nich chciała, by Kriszna spędzał czas
                tylko z nią. One myślały, że Kriszna jest ciałem i pragnęły jego fizycznej
                postaci. Radha wiedziała, że Kriszna jest świadomością, pierwiastkiem energii.
                Wiedząc to zawsze była szczęśliwa. Radha nie doświadczała najmniejszego smutku.
                Gdziekolwiek pójdziecie, znajdziecie świątynie Radha Kriszny. Bardzo rzadko
                napotkacie świątynie Rukmini Kriszny lub Satjabhama Kriszny. Wielu ludzi nie
                znając duchowej relacji łączącej Radhę i Krisznę, postrzegają ten związek ze
                swego poziomu myślenia. Ich myślenie jest tylko ich własnym odbiciem, reakcją i
                oddźwiękiem. Złodziej myśli, że każdy jest złodziejem. Wielbiciel myśli, że
                każdy jest wielbicielem. Tak więc Radha nigdy nie była smutna. Nigdy nie
                pomyślała, że Kriszna jest ciałem. Kriszna jest formą Atmy, jest Bogiem. On
                jest świadomością, on jest energią. Nawet kiedy Sai Baba opuścił ciało, wielu
                wielbicieli płakało poszukując go wszędzie. Ciała są takie same u wszystkich.
                Ciało zbudowane z pięciu żywiołów nie jest trwałe. Nie uchronicie ciała przed
                śmiercią, niezależnie ile czasu na to poświęcicie i ile medykamentów zjecie.</span></p>
                
                <p style=""><span style="
                ">Nie bądźcie dumni ze
                swej młodości, pieniędzy i siły. Mogą zniknąć w jednej chwili. W każdej szkole
                są regulaminy i zasady. W szkole, zależnie od aktualnej godziny, może trwać
                lekcja, modlitwa lub przerwa obiadowa. Ten świat też posiada swoje zasady
                związane z miejscem, czasem i przyczynowością. Nawet właściciel, który
                wybudował szkołę, musi działać zgodnie z zasadami i regulacjami. Musi
                przestrzegać ich w większym stopniu niż inni. Podobnie kiedy Bóg zstępuje na
                ziemię jako boska inkarnacja w ludzkiej postaci, zdecydowanie musi przestrzegać
                praw miejsca, czasu i okoliczności. Każdy, kto rodzi się, musi umrzeć. Ale wewnętrzny
                mieszkaniec nieustannie jest tu obecny. Kiedy urzeczywistnicie tę boskość,
                wtedy porzucicie wszystkie przywiązania i smutki. Dlatego powiedziane jest, że
                mądrość to widzenie jedności w całym istnieniu. Nie ma choroby większej niż
                zachłanność. Nie ma większego wroga nad własny gniew. Nie ma większego smutku
                niż niedostatek. Nie ma większego szczęścia niż mądrość. Mądrość to nie jest po
                prostu wiedza. Wiedzę studiujecie&nbsp; na lekcjach – to część teoretyczna. Mądrość
                jest rzeczywistym doświadczeniem, nie wiedzą. Dopiero kiedy doświadczycie tego,
                poznacie jedność w całym istnieniu.</span></p>
                
                <p style=""><span style="
                ">Wczoraj studenci z
                Alike przebrali się w różne kostiumy i odegrali na scenie swoje role. Była tam
                również rola Sati [pierwszej małżonki Śiwy]. Sati grał chłopiec, nie dziewczyna.
                Dopiero po zdjęciu przebrania i usunięciu makijażu można było zobaczyć, że jest
                to chłopiec. Podobnie Śiwa i Daksza Pradźapati mieli założone różne kostiumy.
                Różnili się wyglądem. Kiedy założysz kostium, musisz grać przypisaną rolę.
                Kiedy chłopcy zdjęli swe kostiumy zrozumieli, że Śiwa był tylko odgrywaną rolą.
                Wszyscy nosimy różne przebrania i poruszamy się dokoła. Niektórzy przebierają
                się za nauczycieli, muzyków, mężczyzn i kobiety. Zakładając różne kostiumy
                zwane „ciałami” myślimy, że jesteśmy różni. Ale kostium nie jest prawdą. Kiedy
                przedstawienie kończy się, musimy go zdjąć. Tylko wtedy, kiedy zdejmiemy
                przebrania, zobaczymy prawdę i doświadczymy radości.</span></p>
                
                <p style=""><span style="
                ">Całe to widowisko życia
                jest tylko przedstawieniem i maskaradą. Różni ludzie na świecie zachowują się
                inaczej jako Malezyjczycy, Anglicy, Amerykanie i Hindusi. Wynika to z różnych
                przebrań, jakie założyli. Kiedy spojrzymy na pierwiastek Atmy obecny w każdym,
                wszyscy są równi i tacy sami. Zgodnie z odgrywaną w przedstawieniu rolą czasami
                musisz płakać, a czasami śmiać się. Odpowiednio do ról pojawią się różne
                uczucia. Pewnego dnia przedstawienie będzie musiało się zakończyć. Zdejmiecie
                wtedy kostium i zrozumiecie prawdę. Czasami reżyser również schodzi na scenę i
                bardzo szczerze mówi, że musicie odgrywać swoje role. W rzeczywistości reżyser
                nie ma roli ani prawdziwego obowiązku. Schodzi na dół, aby ukazać ideał. Czasem
                reżyser osobiście zakłada kostium i przychodzi jako aktor grający w sztuce.
                Podobnie w różnych jugach Bóg zstępuje w ludzkiej postaci, by odgrywać swą
                rolę.</span></p>
                
                <p style=""><span style="
                ">Jakie jest znaczenie
                boskiej inkarnacji? Z miłością i sentymentem do ludzi Bóg schodzi na ich poziom
                mając zarówno indywidualną, jak i boską świadomość. Awatar posiada zarówno
                indywidualną, jak i boską świadomość. Kiedy Bóg odgrywa rolę awatara, zatapia
                się w swej roli i gra doskonale. Wtedy mówicie, że jest to rodzaj jogamaji. Ale
                prawda jest taka, że awatar posiada boską świadomość. Boska świadomość jest
                zawsze obecna. Z powodu świadomości indywidualnej wygląda on jak zwykły
                człowiek. Tylko dzięki temu możecie obcować z nim, cieszyć się jego
                towarzystwem i pobierać nauki. Awatar ani na moment nie traci swej boskiej
                świadomości. Błędem jest polegając na jego indywidualnej świadomości myśleć, że
                jest on zwyczajnym człowiekiem, że rodzi się i umiera. To nieprawda. On tylko
                gra swą rolę w przedstawieniu, aby nauczyć zasad prawdy, prawości, miłości,
                pokoju i niekrzywdzenia. W ten sposób Bóg schodził na ziemię jako Rama, Budda,
                Jezus i Kriszna, aby grać swą rolę i uczyć ludzkość.</span></p>
                
                <p style=""><span style="
                ">Świadoma moc jest
                prawdą i niczym innym jak prawdą. Powiedziano w pismach, że Bóg jest wieczny i
                że świat jest iluzją. Wiedząc, że świat jest niczym więcej jak złudzeniem,
                wchodzicie w boską świadomość. Jak długo obecna jest iluzja i jak długo wy
                utożsamiacie się z odgrywanymi rolami, tak długo towarzyszyć wam będzie ego i
                przywiązanie. Nie jest właściwe utożsamianie się z rolą odgrywaną w
                przedstawieniu i myślenie, że ta rola jest waszą prawdziwą osobowością, waszym
                imieniem i waszym&nbsp; światem. Kim byliście przed przedstawieniem i kim będziecie,
                gdy kurtyna opadnie? Musicie odkryć tę prawdę. Kiedy tego dokonacie, nie będzie
                miejsca na pragnienie, smutek lub przywiązanie. Kiedy doświadczycie jedności
                całego istnienia, gdzie będzie przywiązanie i gdzie będzie smutek? Będzie tylko
                jedna prawda, o której mędrcy mówią na różne sposoby. Zorganizowałem wszystkie
                te programy, aby zaprowadzić was do boskiej obecności i w boskie towarzystwo. Dzięki
                temu możecie porzucić ego i przywiązania – i rozpoznać prawdę. Jakie uczucie,
                taki rezultat.</span></p>
                
                <p style=""><span style="
                ">Ten świat opiera się na
                waszym własnym umyśle. Czym jest umysł?&nbsp; Kłębkiem myśli! Umył to nic innego jak
                zlepek różnych myśli. On jest jak klucz. Kiedy obrócisz klucz w prawo – drzwi
                otwierają się. Obrócisz klucz w lewo – drzwi zamykają się. Kiedy skierujecie
                umysł ku Bogu, będziecie cieszyć się boską świadomością. Kiedy skupicie umysł
                na ziemskim życiu, będziecie w niewoli. To dlatego mówi się, że umysł jest
                odpowiedzialny zarówno za wasze zniewolenie, jak i za wyzwolenie. Po tym, jak
                przybyliście tu, przebywaliście w boskiej obecności i słuchaliście
                wartościowych przemówień, powinniście nauczyć się tych lekcji. Wasz wysiłek
                jest bardzo ważny.</span></p>
                
                <p style=""><span style="
                ">Było wielu ludzi, jak
                na przykład Kamsa, którzy mówili o filozofii. Kamsa opowiadał Wasudewie i
                Dewaki, że w rzeczywistości nie rodzimy się i nie umieramy, próbując w ten
                sposób uspokoić ich. Po tym, jak zabił tak wiele ich dzieci, mówił o filozofii.
                Jednak cały czas obawiał się własnej śmierci! Był kiedyś wielki posiadacz
                ziemski. Miał liczne stado krów. Doglądał ich jego sługa, który posiadał byka.
                Kiedy sługa prowadził stado krów, byka bogacza i własnego byka na pole,
                pomiędzy bykami wywiązała się walka. Byk służącego zabił byka gospodarza. Sługa
                bardzo się przestraszył. Z przerażeniem stanął przed bogaczem i zaczął
                tłumaczyć: „Panie, zdarzył się dzisiaj przykry wypadek. Doszło do walki miedzy
                waszym bykiem a moim”. Właściciel ziemski odparł: „Cóż takiego niezwykłego jest
                w tym zdarzeniu? Nawet ludzie walczą ze sobą. Dla zwierząt to naturalne, że
                walczą”. Służący miał powiedzieć, że byk właściciela nie żyje, ale z powodu
                zmieszania i strachu powiedział na odwrót. Bogacz słysząc to stwierdził: „Co w
                tym wielkiego. Wszystko, co rodzi się, musi umrzeć. Dlatego twój byk nie żyje.
                To zupełnie naturalne. Nie przejmuj się”. Biedny sługa zrozumiał swój błąd i
                wyjaśnił: „Faktycznie to mój byk zabił waszego byka”. Bogacz rozgniewał się i
                odparł: „Jak twój byk mógł zabić mojego! Będziesz musiał zapłacić za niego,
                inaczej nie puszczę cię do domu!”. Właściciel ziemski wygłaszał wielką
                filozofię, gdy najpierw usłyszał, że byk służącego nie żyje.</span></p>
                
                <p style=""><span style="
                ">Podobnie przybywa tu
                wielu wielbicieli i mówią oni, że jeśli naprawdę ma się dokonać ich transformacja,
                powinno stać się to dzięki łasce Bhagawana. Sami wkładają wielki wysiłek, żeby
                zarabiać pieniądze i troszczyć się o rodzinę, jednak jeśli chodzi o
                transformację, filozofują mówiąc, że tylko dzięki łasce Boga może ona nastąpić.
                Łaska Boga jest tu zawsze. Ona spływa na wszystkich jednakowo. Tak jak
                promienie słońca jednakowo świecą na wszystkich, tak łaska Boga spływa równo na
                wszystkich.</span></p>
                
                <p style=""><span style="
                ">Kiedy pierzesz swoją
                odzież, musisz wynieść pranie na dwór, na światło słoneczne, żeby wyschło. To
                jest twój wysiłek. Kapłani wrzucają wiele ofiar w ogień. Jakie jest twoje
                zadanie, kiedy siedzisz tutaj? Musisz wrzucić w ogień przynajmniej jednego
                spośród swoich wewnętrznych wrogów. Jeśli przynajmniej w jakimś stopniu
                pozbyłeś się swojego ego i przywiązań, możesz powiedzieć, że dołożyłeś wysiłku.
                Samo przychodzenie tu, słuchanie przemówień, przyjmowanie prasadam i
                wychodzenie nie jest właściwe. Musisz ofiarować w ogień przynajmniej jedną swą złą
                cechę. Kiedy jedną po drugiej pozbędziesz się swych złych cech, staniesz się
                doskonały. Samolubstwo jest przyczyną. Pierwotną przyczyną samolubstwa jest ego
                [ahamkara]. Kiedy odrzucisz ego, pozbędziesz się wszystkich negatywnych cech.
                Zatem musimy zredukować nasze ego i przywiązania – i rozwinąć boską świadomość.</span></p>
                
                <p style=""><span style="
                ">Może przyjść wiele
                boskich inkarnacji, ale mogą okazać się dla was bezużyteczne. Skoro
                narodziliście się w tym świętym kraju i jesteście świadkami tej świętej jadźni,
                musicie porzucić ego i przywiązania, urzeczywistnić Boga w sobie i cieszyć się
                boską błogością.</span></p>
                
                <p style=""><span style="
                ">Gdziekolwiek jest imię,
                tam jest też forma. Między nimi istnieje nierozerwalny związek. Kiedy
                wymawiacie imię Kriszny, Kriszna tu jest. Kiedy wymawiacie imię Sai, Sai tu
                jest. Bez imienia nie ma formy, bez formy nie ma imienia. Kiedy myślicie o
                postaci, natychmiast przypominacie sobie imię. Kiedy wypowiadacie imię,
                natychmiast pojawia się postać. Dlatego nie ma możliwości, by Boga tu nie było,
                lub był tylko tu. W każdym miejscu, gdzie wielbiciele o czystym sercu myślą o
                Nim, Bóg pojawi się. Jeśli chcecie rozwinąć w sobie czystą miłość, musicie
                porzucić ego i przywiązanie. Woda wydobyta z ziemi może zawierać różne
                zanieczyszczenia. Nie możecie pić takiej wody. Musicie usunąć z wody
                zanieczyszczenia i pić tylko czystą wodę. Podobnie, kiedy pozbędziecie się
                wszystkich złych cech i rozwiniecie czystą miłość do Boga, będziecie mogli
                naprawdę Go ujrzeć.</span></p>
                
                <p><b>Uwaga.</b>
                Prosimy pamiętać, że są to spisane notatki, małe, ożywcze przekąski pomagające
                nam działać jak bogowie (być jak Bóg), z dyskursu Sukszma Baby wygłoszonego w
                Muddenahalli. Nie jest to relacja słowo w słowo, nie jest to pełen dyskurs. Te
                notatki nie obdarzą boskim uczuciem ani boską energią, jakie płyną w tym
                momencie w obfitości. Jeśli pragniecie relacji słowo w słowo i z serca do
                serca, jeśli chcecie doświadczyć boskiej energii, zanurzcie się w sobie lub
                uczestniczcie w dyskursach. Cieszmy się tymi pokornie spisanymi notatkami.</span></p>
                
                <p class="text-right my-5">[Źródło:<a href="http://www.bhajanmusic.info/sukshma-baba-information/OCTOBER-2015-MUDDENAHALLI-DISCOURSE-ENGLISH%23DIS-ENG-OCT019" rel="no-follow">bhajanmusic.info</a>;
                tłumaczenie: JR, 2015-10-28]</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">temp</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>