<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">MOJE DOŚWIADCZENIA Z SUBTELNYM CIAŁEM BHAGAWANA ŚRI SATHYA SAI BABY

ROBERT BOZZANI</li>
                </ol>
            </nav>
            <article class="container">
              <h2>MOJE DOŚWIADCZENIA Z SUBTELNYM CIAŁEM BHAGAWANA ŚRI SATHYA SAI BABY

ROBERT BOZZANI</h2>

<p class="text-center"><font "2" "Calibri"><span style="11.0pt"><a href="https://saivrinda.org/wp-content/uploads/2015/07/ContinuesLight.jpg" rel="no-follow"><font "4" "Times New Roman" color="black"><span style="14.0pt;
&quot;Times New Roman&quot;,&quot;serif&quot;;color:windowtext;text-decoration:none"><img id="../../../img/Obraz 32" src="../../../img/Bozzani - My Experoence.jpg" width="310" height="238" border="0"></span></font></a></span></font></p><br>

<p>Robert
A. Bozzani spotkał się ze Swamim w 1974 r. Działał w Organizacji Sai w USA od
jej powstania w 1975 r. Także od tego roku był członkiem amerykańskiej Rady
Sathya Sai. Był też członkiem zarządu Sathya Sai Book Center of America w
latach 1989-2012. </span></font></p>

<divclass="text-center" class="text-center">

<hr width="100%" "2" class="text-center">

</span></font></div>

<p>Po
raz pierwszy spotkałem się z tym, co nazywa się „Subtelnym Ciałem Sathya Sai
Baby” w maju 2014 r., gdy otrzymałem e-mail zawierający zapis boskiego dyskursu
Swamiego w Kodaikanal. W dyskursie tym wspomniano, że do następnego roku
powstanie nowy budynek dla studentów. Ponieważ wcześniej byłem ze Swamim w
Kodaikanal dwa razy i wiedziałem, że taki budynek dla studentów został
zbudowany wiele lat temu, zastanowiło mnie to. Pomyślałem, że jest to jeden ze
starych dyskursów, a nie nowy. Zadzwoniłem do Davida Cornsweeta i spytałem, czy
ma adres e-mail Narasimha Murthy’ego, który był też wspomniany w tamtym
e-mailu. Napisałem list do Narasimha Murthy’ego, pytając, czy był to nowy
dyskurs. Odpisał mi tylko: „To prawda!” Tylko tyle się dowiedziałem.</span></font></p>

<p>Sama
idea pojawiania się Sathya Sai Baby w innym miejscu niż jego fizyczna postać,
lub w różnych miejscach, nie stanowiła dla mnie problemu, gdyż wierzę w Jego
wszechobecność i wszechmoc. Wracając nieco wstecz w czasie, trzy lata
wcześniej, w kwietniu 2011 r., podczas świąt Wielkanocy, miałem ciekawe
przeżycie. Moja żona Barbara przebywała w prywatnym domu opieki, a ja byłem
wtedy w Phoenix w stanie Arizona w odwiedzinach u pewnych przyjaciół Sai. W
sobotę, w przeddzień świąt, wziąłem do ręki książkę Swamiego i otworzyłem na
rozdziale 3. Swami napisał tam: „Stańcie się oddani postaci bez formy, a nie
formie.” Wyjaśnił, że jeśli czegoś nie widzieliście, a tylko czytaliście, jest
to idea bez formy do czasu, aż zobaczycie ją fizycznie.</span></font></p>

<p>Mówił
także o rytuale ofiarowania kwiatu na znak oddania. Swami powiedział, żeby
dawać kwiat, ale teraz powinien być to jego aspekt bez formy, którym jest
miłość. Zawsze chodzi o miłość:</span></font></p>

<p class="text-center"><b><i>Miłość w mowie to prawda;</span></font></i></b></p>

<p class="text-center"><b><i>Miłość w działaniu to prawość;</span></font></i></b></p>

<p class="text-center"><b><i>Miłość w myślach to spokój;</span></font></i></b></p>

<p class="text-center"><b><i>Miłość w zrozumieniu to niekrzywdzenie.</span></font></i></b></p>

<p>Miało
to dla mnie głęboki sens i wywarło na mnie wielkie wrażenie, szczególnie
dlatego, że następnego dnia, w Wielkanoc, Swami zdecydował się opuścić swoje
fizyczne ciało. Dla mnie istotą Jego przesłania było to, aby związać się z Jego
aspektem bez formy, musimy teraz żyć zgodnie z naukami, które nam wpajał, i żyć
w miłości. Czułem, że jest to bezpośrednia wskazówka Swamiego na naszą przyszłą
drogę po Jego <i><span style="font-style:italic">mahasamadhi</span></i>
(odejściu). Nie miałem problemu z przejściem na oddanie bezforemnej postaci.</span></font></p>

<p class="text-center my-5" style="line-height:normal"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Encinitas, czerwiec 2014</span></font></b></p>

<p>Po
przeczytaniu tamtego dyskursu z Kodaikanal w następnym miesiącu, w czerwcu 2014
r., odebrałem telefon od Davida Cornsweeta. Powiedział: „29 czerwca 2015 r.
Sathya Sai Baba przybędzie z wizytą do Encinitas” i że mam zaproszenie na to
spotkanie.</span></font></p>

<p>W
sobotę 28 czerwca poleciałem do San Diego i wieczór spędziłem tam z
przyjaciółmi. Tego dnia wieczorem zadzwonił do nas Dawid i powiedział:
„Przyjdźcie na lunch.” Gdy się tam zjawiliśmy, zobaczyliśmy całkiem sporą grupę
ludzi – zebrało się przynajmniej 20 osób. Naprawdę ucieszyłem się ze spotkania
przyjaciół, których dawno nie widziałem, w tym C. Sreenivasa z Bengaluru i dra
Ram Setty’ego.</span></font></p>

<p>Po
zjedzeniu wspaniałego lunchu nie bardzo wiedzieliśmy, co teraz nastąpi. Wtedy u
góry na balkon wyszedł młody dżentelmen – wówczas jeszcze nie wiedziałem, że
był to Madhusudhan – i powiedział: „Chodźcie tu na górę. Swami chce się z wami
widzieć.” Zaprosił tam dra Sandweissa, panią Sandweiss, Davida Sweetcorna z
żoną i mnie. Na piętrze był piękny pokój <i><span style="font-style:italic">pudźy</span></i>.
Dla mnie było to jak siedzenie ze Swamim – dokładnie tak jak doświadczaliśmy tego
wielokrotnie w pokoju interview w Prasanthi Nilayam. Swami siedział w swoim
krześle, mając Madhusudhana z jednej strony. Swami przywitał się z nami.</span></font></p>

<p>Komunikacja
ze Swamim przez Madhusudhana nie wyglądała tak, jakby ktoś mówił do mnie, a ja
bym to powtarzał – absolutnie nie. Nie było żadnego opóźnienia. Swami po prostu
komunikował przez niego, dlatego łatwo było wszystko pojąć – przynajmniej dla
mnie. Przez mniej więcej miniony rok podczas kilku okazji rozmowy ze Swamim w
ten sposób parokrotnie słyszałem nie Madhusudhana lecz znajomy głos Swamiego.
Swami mówił też: „Niektórzy mogą mnie widzieć i słyszeć (w Subtelnej Postaci)”
– czyli nie tylko Madhusudhan.</span></font></p>

<p>Najpierw
Swami rozmawiał z Sandweissami – były pytania i odpowiedzi – a potem ze mną. I
jak zwykle, tak zawsze mówił na audiencjach, Swami spytał: „Jak się masz,
Bozzani?” Potem równie typowo spytał o moją żonę: „Jak się miewa twoja żona?”</span></font></p>

<p>Moja
żona Barbara od kilku lat przebywała w domu opieki, więc odpowiedziałem:
„Swami, jest w domu opieki. Teraz wydaje się spokojna i zadowolona.” „Tak” –
powiedział – „znajduje się w bardzo szczególnym miejscu i wkrótce będzie
chodziła ze mną. Będzie też ze mną, gdy przyjdzie Prema Sai, gdyż takie miała
pragnienie.”</span></font></p>

<p>W
tym momencie już wiedziałem. Jeśli dotąd miałem jakieś wątpliwości, to teraz one
całkiem znikły, gdyż nikt nie znał tego sekretu. Tylko ja wiedziałem, że moja
żona wielokrotnie prosiła Sai Babę o możliwość bycia z Nim, gdy przyjdzie Prema
Sai. Nigdy jednoznacznie nie odpowiedział na te jej prośby, ponieważ zawsze
zachęcał nas, mówiąc, że teraz jest nasza szansa, w tym życiu, ale ja wiedziałem,
że jej głębokim pragnieniem było znaleźć się w obecności Prema Sai.</span></font></p>

<p>Potem
dyskutowaliśmy o innych sprawach, a następnie rozmawiał z Cornsweetami. Po tym
powiedział: „Okay,” co znaczyło, żebyśmy oddalili się, ale gdy wstaliśmy rzucił
jeszcze: „Przyjedźcie na Urodziny,” czyli około 23 listopada, jesienią 2014 r.</span></font></p>

<p class="text-center my-5"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Urodziny, listopad 2014</span></font></b></p>

<p>Oczywiście
zaplanowałem wyjazd na Urodziny. On polecił mi: „Pojedź do obu miejsc, Prasanthi
i Muddenahalli” i zaznaczył, że będzie obecny w obu tych miejscach. Nie bardzo
wiedziałem, co miał na myśli, ale zrobiłem tak, jak kazał. Zaplanowałem
przyjazd pod koniec listopada i byłem tam krótko – razem może 10 dni. Najpierw
pojechałem na dwa dni (22 i 23 listopada) do Prasanthi Nilayam. Przy <i><span style="font-style:italic">mahasamadhi</span></i> (grobowcu) Swamiego miałem
bardzo piękne przeżycie.</span></font></p>

<p>Przebywając
w <i><span style="font-style:italic">aśramie</span></i> w swoim pokoju, który
miałem od wielu lat, zdałem sobie sprawę, że było tam mnóstwo teraz
niepotrzebnych rzeczy. Zacząłem więc rozdawać je – pracownikom, sprzątaczom i
innym ludziom. Miałem z tym strasznie dużo pracy. Zanim wyjechałem pozostała
jeszcze jedna część pokoju, którą należało przejrzeć – ścienna szafa mojej
żony. Pomyślałem, że zajmę się tym przed wyjazdem następnego dnia.</span></font></p>

<p>W
dniu Urodzin, 23-go, wstałem wcześnie i zacząłem sprzątać tamto miejsce. Jakaż
niespodzianka! Znalazłem list zaadresowany do Śri Sathya Sai Baby. Nie wiedziałem,
co z nim zrobić, więc go otworzyłem i przeczytałem. Okazało się, że Barbara
napisała ten list, gdy ostatnim razem była w Prasanthi Nilayam– i był to jej
ostatni raz w tym życiu. Podczas tego ostatniego pobytu zostaliśmy wezwani na
„przedwyjazdową” audiencję, bezpośrednio przed wyjazdem. Swami wezwał nas i
mówił do Barbary w języku telugu przez 30 minut! Najwyraźniej przekazywał ważne
wiadomości wprost do duszy, gdyż nasz wszechwiedzący Sai wiedział wszystko, co
miało spotkać Barbarę w nadchodzących latach, jak i o tym, że jest to jej
ostatnia wizyta. Niemniej, chociaż Barbara była wezwana na interview, nie miała
okazji podania tego listu Swamiemu.</span></font></p>

<p>Westchnąłem
i postanowiłem zabrać list do domu, aby pokazać go naszej córce, gdyż w liście
tym Barbara przepraszała i prosiła o wybaczenie. Wybaczyła własnemu ojcu, który
opuścił jej matkę i ją, gdy ona była jeszcze mała. Więcej nawet – przyznała, że
wybaczenie mu sprawiło jej wielką trudność. Podczas jednej z ostatnich
audiencji u Baby w fizycznym ciele, On powiedział: „Pozbądź się wszystkich
uprzedzeń!” Wielu z nas raz po raz próbowało zachęcić ją do wybaczenia ojcu, a
i ona wiedziała, że musi to zrobić i wreszcie udało się to jej w czasie tej
ostatniej wizyty. Zapakowałem wiec ten list, aby zabrać go do domu.</span></font></p>

<p class="text-center my-5"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Muddenahalli</span></font></b></p>

<p>Później
pojechałem do Muddenahalli i zatrzymałem się w wybranym wcześniej hotelu w
pobliżu lotniska w Bengaluru, skąd było około 45 minut jazy do Muddenahalli.
Zjadłem lunch, trochę odpocząłem, po czym zadzwoniłem na numer kontaktowy w
Muddenahalli, jaki wcześniej otrzymałem. Przyjechało wielu zagranicznych gości,
a około 40 z nich mieszkało w tym hotelu. Wszystkie przygotowania – od
rezerwacji hotelu, przez załatwienie kierowcy, do zapewnienia posiłków w
Muddenahalli – były wzorowe.</span></font></p>

<p>Gdy
później tego dnia dojechałem do Muddenahalli, trwały już popołudniowe uroczystości
na uniwersyteckim stadionie. Swami wygłosił swój dyskurs w obecności
tłumaczenia na język angielski przez Narasimha Murthy’ego. Tak jak kiedyś Swami
osobiście wygłaszał dyskursy w języku telugu, a Gokak, Kasturi lub Anil Kumar
tłumaczył go na angielski, Madhusudhan przekazywał słowa Swamiego w telugu, a
Naranimha Murthy tłumaczył na angielski. W czasie kolejnych okazji słuchania
Swamiego teraz i kiedy był w fizycznym ciele zauważyłem, że na ogół podczas
dyskursów mówił w języku telugu, co było przekładane na bieżąco na angielski.
Inaczej było w przypadku bardziej osobistych rozmów lub pytań i odpowiedzi –
wtedy częściej mówił od razu po angielsku. Teraz Madhusudhan służył jako
„mikrofon,” przekazując przesłanie po angielsku.</span></font></p>

<p>Po
przerwie C. Sreenivas mówił o pięknym szpitalu zbudowanym w kształcie serca w
Raipurze, w którym przeprowadzono tysiąc operacji serca na dzieciach. Cały
tysiąc! W Indiach wiele dzieci rodzi się z wadami serca i jest to oczywiście
wielki problem wymagający pracy wielu specjalistów. Później mówiono o szkołach,
które zostały już zbudowane, a potem był program muzyczny w nadzwyczajnym
wykonaniu Pandita Shivakumara Sharmy grającego na santurze. Ta muzyka poruszyła
mnie do głębi; była czarująca i wreszcie „uchwyciłem” indyjską muzykę. Poczułem
do niej wielki szacunek.</span></font></p>

<p>Następnego
dnia rano poszliśmy z Davidem Cornsweetem na szczyt wzgórza w Muddenahalli.
Weszliśmy do pomieszczenia – ładnej sali bhadźanowej, gdzie zebrało się już
wielu ludzi. Zajęliśmy miejsca naprzeciw schodów prowadzących na piętro i windy.
Nie wiedziałem, co dalej będzie się działo.</span></font></p>

<p>Po
pewnym czasie otwarły się drzwi windy. Pojawił się Swami z Madhusudhanem i
pozdrawiał wszystkich oraz przyjmował listy, zwracając się do ludzi po imieniu.
Podszedł do swojego krzesła, usiadł, a potem mówił przez kilka minut. Następnie
śpiewaliśmy <i><span style="font-style:italic">bhadźany</span></i>, a po nich
Swami poszedł schodami na górę. W pewnym miejscu porannej sesji kilku z nas
zrobiło zdjęcia Swamiemu w czasie, gdy siedział na krześle. Zdjęcia zostały
zrobione pod niemal tym samym kątem. Ciekawe, że jedno z tych zdjęć zrobione
przez jednego z moich towarzyszy ukazywało promień światła nad krzesłem
Swamiego. Mój przyjaciel uważał, że chyba jego aparat ma jakąś wadę, ale ja
interpretowałem to jako błogosławieństwo, pojawienie się boskiego światła na
zdjęciu.</span></font></p>

<p>Po
lunchu pojechaliśmy z powrotem do hotelu, trochę odpoczęliśmy i wróciliśmy na
program wieczorny. Było to wspaniałe przeżycie, gdyż wszystko odbywało się dokładnie
tak samo, jak Swami robił to dawniej codziennie w Prasanthi Nilayam.</span></font></p>

<p>Kolejnego
dnia David i ja znów weszliśmy na wzgórze i znów zastaliśmy tam wielu ludzi.
Byłem zaskoczony tą liczbą ludzi. Swami jeszcze raz zjechał windą, przywitał
ludzi, przeszedł na przód, a gdy rozmawiał, nagle przez drzwi wniesiono wiele
rodzajów pożywienia. Pomyślałem: „O Boże, czy wszystkie te artykuły są
błogosławione, aby później dokarmiać ludzi ubogich?”</span></font></p>

<p>Po
<i><span style="font-style:italic">bhadźanach</span></i> Swami zaprosił nas
wszystkich na górę na lunch. Weszliśmy więc do wielkiej sali jadalnej.
Wcześniej miałem przywilej jeżdżenia w różne miejsca ze Swamim i spożywania
posiłku w salach w sytuacjach, gdy On był honorowym gościem, ale w tym
przypadku – o mój Boże! – było tam przynajmniej sto osób! Rozpoznałem wielu
przyjaciół. Kobiety posadzono z lewej strony pomieszczenia, a mężczyzn – z
prawej strony. Krzesło Swamiego znajdowało się w środku. Wszyscy siedzieliśmy i
czekaliśmy.</span></font></p>

<p>Otworzyły
się drzwi windy i wyszedł Swami z Madhusudhanem. Przeszli na prawą stronę sali
i Swami zaczął rozmawiać z ludźmi przy pierwszym stole, przy którym siedziało
kilka osób i ja. Z lewej strony miałem Davida. Potem Swami podszedł do mnie i
zaczął ze mną rozmawiać. Z jakiegoś powodu tego dnia rano coś mi kazało włożyć
list Barbary do kieszeni. Swami podszedł do mnie i powiedział: „Przyszedłeś
spóźniony.”</span></font></p>

<p>Początkowo
nie wiedziałem, co Swami ma na myśli, ale gdy się zastanowiłem, roześmiałem się
wobec wszechobecności Swamiego. Zrozumiałem, że odnosił się do poprzedniego
dnia, gdy przyjechałem późno na obchody Urodzin. Był to Jego typowy styl jednoznacznego
pokazywania swojej wszechobecności na bardzo osobisty sposób. Następnie
powiedział: „Zjedz to – smacznego,” i inne miłe, piękne życzenia, jak to zawsze
robi. W tym miejscu wyciągnąłem list Barbary, a On go przyjął i poszedł dalej.
Grupowo wyrecytowaliśmy modlitwę przed posiłkiem i, co jest zwyczajem podczas
posiłków ze Swamim, po modlitwie czekaliśmy aż Swami weźmie do ust pierwszy
kęs, po którym wszyscy zaczęliśmy jeść.</span></font></p>

<p>Wieczorem
znowu poszliśmy do mieszkania Swamiego na <i><span style="font-style:italic">bhadźany</span></i>.
Sala znów była pełna ludzi. Na zewnątrz było zimno, ale gdy Swami pojawił się
na dole, wyszedł na zewnątrz, pozdrowił ludzi, wziął listy, wrócił i siedział z
nami podczas <i><span style="font-style:italic">bhadźanów</span></i>. Jakże
piękny koniec tego poniedziałku.</span></font></p>

<p>Następnego
dnia rano poszliśmy na wzgórze nieco wcześniej i byliśmy pierwsi. Postanowiliśmy
usiąść na samym przedzie, w miejscu bliskim windy i schodów. Obaj zamknęliśmy
oczy i wyciszyliśmy się. Tego dnia przyszło niewielu ludzi, gdyż wyjechała duża
grupa z Singapuru.</span></font></p>

<p>Miałem
zamknięte oczy i trwałem w głębokim spokoju. David przerwał ten stan delikatnym
szturchnięciem i powiedział: „Tamten gość na schodach mówi, że Swami chce cię
widzieć.” Wszedłem po schodach i do pięknego pokoju, pokoju audiencyjnego,
takiego samego jak ten w Prasanthi Nilayam, ze Swamim siedzącym na swoim
krześle i starającym się zapewnić mi wszelkie wygody.</span></font></p>

<p class="text-center my-5" style="text-align:justify;line-height:normal;page-break-after:
avoid"><b><span style="14.0pt;
&quot;Times New Roman&quot;,&quot;serif&quot;;font-weight:bold">Znaczenie wybaczania</span></font></b></p>

<p>Swami,
tak jak w Prasanthi Nilayam, pozdrowił mnie i, kiedy usiadłem, spytał: „Jak się
masz?” i znów „Jak się miewa twoja żona?” Jak zwykle sprawiał, że poczułem się komfortowo.</span></font></p>

<p>Zauważyłem,
że list Barbary leży na stole obok Niego. Zaczął mówić o tym liście. Podkreślił
znaczenie przebaczania. Powiedział: „Najpierw musisz mieć wiarę. Jeśli jest
jakikolwiek strach, nie możesz mieć wiary” i „Aby usunąć strach, miej wiarę.”
Musimy mieć „stałą wiarę.” Nie można wierzyć, jeśli nie możemy wybaczyć.
Wszystko, czego nie lubimy, znajduje się w nas, a nie na zewnątrz. „Wierz, że
wszystko, co się stanie, jest w najlepszym twoim interesie, dla twojego
najwyższego dobra.”</span></font></p>

<p>Przypominam
sobie, że w postaci Sathya Sai często mówił: „Cokolwiek się dzieje, po prostu
ciągle mów: ‘Jest to dla mnie dobre.’” Teraz mówił: „Najpierw wiara, potem
wybaczanie” i „Jeśli nie możesz wybaczyć, nie możesz też kochać.”</span></font></p>

<p>Tak
więc jeśli nie możecie wybaczyć, albo zostanie choćby jedna osoba czy sytuacja,
której nie możecie wybaczyć, to nie możecie kochać. Innymi słowy wybaczanie
jest kluczem do dojścia do praktykowania boskiej miłości.</span></font></p>

<p>Wszystko
sprowadza się do stosowania jej w praktyce, życia nią. W takich chwilach, jak
sam tego doświadczyłem, nagle mówicie: „Jestem Bogiem i wy jesteście Bogiem.”
Wszystko staje się Jednym, a wy jesteście wolni od strachu, uprzedzeń i
negatywnych uczuć. Jak Swami ciągle powtarza: „Istnieje tylko Jeden.”</span></font></p>

<p>Potem
powiedział: „Zanurz się w serce, gdyż tam jestem.”</span></font></p>

<p>O
tym wiemy, gdyż tak nam mówiono. Ale teraz jest czas na zastosowanie tego w
praktyce i na urzeczywistnienie go – w tym okresie, kiedy On tu jest. Jest to
następny krok dla wszystkich, którzy dawniej mieli związek z Boskością jako
czymś zewnętrznym w stosunku do nich.</span></font></p>

<p>Inną
ważną sprawą w takim praktykowaniu jest to, że On jest w naszych sercach i
możemy zadawać Mu pytania, a odpowiedzi otrzymamy nie kiedyś później, lecz
natychmiast. Mówił o tym wielokrotnie: najpierw wiara, potem wybaczanie, potem
miłość – wtedy musimy wewnętrznie prosić Swamiego o prowadzenie, gdyż już wiemy
to, co Swami ciągle powtarzał: „Bóg jest miłością; żyj w miłości.”</span></font></p>

<p>W
głębi serca wiem, że właśnie to teraz powinniśmy robić – przynajmniej próbować
to robić i mocno wierzyć, że On chce, abyśmy tak żyli. Po tym powiedział, że
jestem wolny, a z wcześniejszego doświadczenia i wewnętrznego odczucia
zrozumiałem, że znaczyło to, iż po prostu mogę wracać do domu. Tak to odczułem.
Gdy odchodziłem, On rzucił jeszcze: „Przyjedź do Kodaikanal.” Ach, jakimż
szczęściem mnie to napełniło!</span></font></p>

<p>Odszedłem
i następnego dnia rano odleciałem z Bengaluru. W domu znalazłem się w przeddzień
Święta Dziękczynienia, co bardzo ucieszyło moją rodzinę.</span></font></p>

<p class="text-center my-5"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Kodaikanal, maj 2015</span></font></b></p>

<p>Naturalnie
po tym święcie wyczekiwałem na wyjazd do Kodaikanal na wiosnę 2015 r. W hotelu
zjawiłem się 8 maja i czekałem na jakąś wiadomość. Okazało się, że do
Kodaikanal mamy wyjechać w niedzielę 10 maja, co dało mi tak potrzebny dzień
odpoczynku między wyjazdami. Na niedzielę załatwiliśmy sobie samochody i
ustawiliśmy się w karawanie gotowi na całodzienną podróż. Wcześniej już tak
podróżowałem ze Swamim. Po drodze zatrzymywaliśmy się gdzieś na piękny posiłek
dla Niego i wszystkich Jego gości, a później zatrzymywaliśmy się jeszcze raz na
herbatę. Nie inaczej było tym razem.</span></font></p>

<p>Z
rana następnego dnia poszliśmy do <i><span style="font-style:italic">aśramu</span></i>,
który leży na szczycie wzgórza, w najwyższym miejscu Kodaikanal. Z jednej
strony tej posiadłości rozciąga się piękny narodowy las. Na miejscu znajdowała
się stołówka zbudowana w dziesięć dni, gdzie wszyscy się posilali. W sumie było
tam może 150 – 200 ludzi, w tym wielu studentów. Przychodziliśmy w to miejsce
wcześnie; śniadanie podawano od godziny ósmej, a o dziewiątej siedzieliśmy już
w sali poniżej, czekając na zejście Swamiego po schodach.</span></font></p>

<p>Na
sygnał rozpoczynało się śpiewanie <i><span style="font-style:italic">bhadźanów</span></i>.
Swami schodził w towarzystwie Madhusudhana i witał się z każdym, rozmawiając z
ludźmi i dając im rady w postaci mini-dyskursów. Prosił ludzi o wystąpienie i
opowiedzenie o własnych doświadczeniach, a także o zadawanie pytań, na które
odpowiadał sam lub kazał to robić studentom. To były bardzo ładne interakcje.</span></font></p>

<p>W
Kodaikanal Swami powiedział: „Idź i baw się.” Dla mnie wiele to znaczyło, gdyż
mam skłonność brania w życiu wszystkiego bardzo na serio. Zdałem sobie sprawę z
tego, że po prostu przestałem się bawić. Przypomniałem sobie nauki Swamiego:
„Życie jest grą, graj w nią. Życie jest miłością, ciesz się nią.” Dlatego na
resztę tego pobytu uznałem, że dał mi to zadanie, i postanowiłem odprężyć się i
cieszyć wszystkim. Jeszcze teraz wciąż upominam siebie, aby zwolnić, cieszyć
się boską miłością i bawić się.</span></font></p>

<p>Jakże
piękne tam było otoczenie! Ochotnicza obsługa była nadzwyczajna. Dużo padało i
było wiele błota, ale ochotnicy wszędzie stali wystawieni na żywioły przyrody,
z miłością kierując ludzi tam, gdzie powinni pójść, podając posiłki itd. Byli
to ludzie ze wszystkich sfer życia – lekarze, biznesmeni – i każdy pokornie
służył.</span></font></p>

<p>Obecność
Subtelnego Ciała dawała się odczuwać bardzo, bardzo silnie. Nie miałem żadnych
wątpliwości, że obcuję ze Swamim. Jedziecie tam, by się z Nim spotkać, ale jest
też coś, czego macie się nauczyć i On udziela niezbędnej lekcji. Te przeżycia w
Kodaikanal były najpiękniejszymi doświadczeniami, jakie tam miewałem. Jakże
cudowna była to wyprawa!</span></font></p>

<p>Opisując
swoje doświadczenia z Subtelnym Ciałem mogę tylko zachęcić ludzi do osobistego doświadczenia,
gdyż jak można powiedzieć: „On jest tutaj,” „Jego tam nie ma”? Bóg jest
wszędzie. Moja postawa to „udowodnij mi, że gdzieś Go nie ma,” gdyż jest to
niemożliwe. Pójdźcie i doświadczcie tego sami. Ileż to razy Swami mówił:
„Doświadczcie!” Mówił też: „Praktykujcie!” Ileż to razy powiedział: „Kim
jesteście, by mówić o mnie? Co wiecie o mnie? Świat pozna mnie przez to, jak
będziecie przestrzegać moich nauk.”</span></font></p>

<p class="text-center my-5"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Liczy się tylko miłość</span></font></b></p>

<p>Cofając
się nieco w czasie, tutaj, w Stanach, mieliśmy cudowne doświadczenie,
przygotowując oznakę na spince w kształcie złotego serca z napisem <i><span style="font-style:italic">It’s All About Love</span></i> (Ważna jest tylko
miłość). Przywiozłem trochę tych oznak, aby dać Swamiemu podczas wizyty w
Muddenahalli w listopadzie 2014 r. Dałem jedną z nich Swamiemu w czasie
audiencji. Potem, gdy odchodziłem, Swami powiedział: „Na następne Urodziny
przywieź 10&nbsp;000.” Dlatego na te nadchodzące Urodziny (w listopadzie 2015
r.) będzie 10&nbsp;000 oznak dla Niego. Ta oznaka jest bardzo prosta. Jest to
przesłanie na dzisiaj: „Liczy się tylko miłość.” Noszę ją praktycznie zawsze, a
powodem do tego jest przypominanie sobie, że gdy nieco zejdę z drogi, mam wrócić
i wcielać miłość w życie. Jeśli chcemy miłości, musimy wybaczać. </span></font></p>

<p class="text-center my-5"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Encinitas, Kalifornia, czerwiec 2015</span></font></b></p>

<p>Następne
doświadczenie przyniósł czerwiec 2015 r., gdy byliśmy w Kalifornii w Encinitas,
gdzie Swami wygłosił dyskurs na otwartym spotkaniu. Cóż to było za
doświadczenie! W czwartek 18 czerwca dostąpiłem przywileju bycia ze Swamim w
Sathya Sai Book Center of America. Jego podróżna grupa przyleciała na lotnisko
Los Angeles International Airport i po drodze do San Diego zatrzymała się na
lunch w Book Center w Tustin. Obecna była mała grupa gości i wieloletni
wolontariusze z Book Center.</span></font></p>

<p>W
Book Center Swami wstąpił do pokoju medytacji i pokoju audiencji. Pokój
audiencyjny, chociaż był zarezerwowany właśnie na ten cel, oczywiście jeszcze
nigdy dla tego celu nie był używany. Swami wzywał na interview, co z jednej
strony było błogosławieństwem, a z drugiej potwierdzeniem, że pokój ten
zasadnie czekał na spełnienie swojego zadania. W Book Center spożyliśmy lunch i
przebywaliśmy około dwóch godzin. W moim odczuciu On po prostu energetyzował
Book Center. Do tego dnia Book Center był jedynym budynkiem, którego Swami
zaakceptował na zbudowanie w USA, a stało się to przed wielu laty przez
wspaniałą duszę, jaką była Elsie Cowan. Dawno temu obiecał On Elsie, że
odwiedzi Book Center i dotrzymał słowa.</span></font></p>

<p>Potem
pojechaliśmy dalej na południe w kierunku San Diego. Następnego dnia towarzyszyliśmy
Swamiemu i Jego asyście w drodze powrotnej do Orange County, gdzie spożyliśmy
lunch w prywatnym domu w Irvine. On powiedział, że jedynym powodem przybycia w
to miejsce była czysta i boska miłość tej rodziny; nie mógł ich pominąć.
Rodzina śpiewała dla Niego, a potem On udzielił im interview.</span></font></p>

<p>Innym
powodem tego, że łatwo jest mi wierzyć w tę fazę Jego misji, jest to, że miałem
szczęście oglądania takich Jego zachowań, tj. odwiedzania prywatnych mieszkań
itp., gdy był w fizycznym ciele. Obecne „rutynowe” postępowanie było dokładnie
takie samo, jak te, których byłem świadkiem z fizyczną postacią Sathya Sai Baby.
Miałem ten przywilej, który bardzo pomógł mi teraz pogodzić różnice między
Subtelną Postacią i śmiertelną formą. Pamiętajmy też, że jak mówi nam Swami,
wszyscy mamy subtelne ciała.</span></font></p>

<p>Następnego
dnia odbyło się otwarte spotkanie w Encinitas. Było pięknie. Bardzo dopisała
frekwencja. Swami wygłosił dyskurs i odpowiadał na pytania ludzi. Wiele z tych
pytań miało osobisty charakter, a On zawsze odpowiadał z wielką miłością i
słodyczą, ale w taki sposób, by pouczyć wszystkich, żeby „Zamienili to w
miłość. Żyjcie w miłości.” To zapamiętałem z tych dyskursów.</span></font></p>

<p>Mieliśmy
szczęście, że w dniu otwartego spotkania przyszliśmy na miejsce wcześnie rano.
Wolontariusze już się zebrali i zaśpiewano kilka <i><span style="font-style:
italic">bhadźanów</span></i>. Potem Swami wyszedł, usiadł i rozmawiał z nami.
Wieczorem odbyło się podobne spotkanie, na którym On znów z nami rozmawiał i
ciągle przypominał nam o znaczeniu życia w jedności i pracy razem. Rano 22
czerwca, jeszcze przed nadejściem osób towarzyszących Swamiemu, David spędził
nas i czekaliśmy na Swamiego. On znów mówił dużo o konieczności współpracy w
jedności. Było to tak mocno podkreślane, że zrozumiałem, iż niezależnie jakie
mamy przydzielone zadania i wyzwania, bądź jakie one będą w przyszłości,
wszystko sprowadza się do tej samej lekcji: należy uczyć się kochać i żyć w
boskiej miłości. To samo przesłanie słyszałem wielokrotnie – najpierw wiara,
potem wybaczenie. W ten sposób możemy dojść do miłości. Ponadto należy kierować
się do serca – stamtąd możemy otrzymywać odpowiedzi natychmiast. „Jesteś Nim –
jestem Nim” – to także powtarzał.</span></font></p>

<p>Swami
wiele razy mówił: „Mogę dawać rady, ale każda dusza ma wybór, czy postąpi
zgodnie z nią, czy wybierze inną drogę do domu.” Myślę, że wszyscy
doświadczyliśmy, co to znaczy. Jeśli zboczymy z kursu, kiedyś i tak tam dotrzemy,
ale On daje nam bezpośrednio najlepsze pokierowanie, łagodnie wskazując
najskuteczniejszą ścieżkę prowadzącą do spokoju, życia w miłości i urzeczywistnienia
naszej boskości.</span></font></p>

<p class="text-center my-5"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Przyjdź, doświadcz i sam zdecyduj</span></font></b></p>

<p>Taką
mam podstawę z doświadczeń z Subtelną Postacią. Powiadam wam, moi bracia i siostry,
zanim podejmiecie decyzję, przynajmniej doświadczcie tego. Doświadczcie i
porównajcie to z sytuacjami, kiedy mieliście okazje przebywania w obecności
Swamiego w Prasanthi Nilayam. Zajrzyjcie do Jego pierwszego dyskursu, który
wygłosił w 1968 r., a w którym ogłosił światu, dlaczego przyszedł. Przyszedł, aby
doprowadzić do transformacji. W tamtym dyskursie powiedział, że „wszyscy są
zbrukani” i że przyszedł, by otworzyć nasze serca. Powinniśmy stale o tym sobie
przypominać. Bardzo łatwo jest zejść z kursu i winić – każdego i wszystko. Nie.
Musimy trzymać się nauk i stosować je w praktyce – żyjmy w miłości i tylko
miłości. Pamiętajmy, że Jego łaska transformuje nas na takich, jakimi On chce,
żebyśmy byli. To, co zdarzyło się w tych paru minionych latach, w tej fazie
przed przyjściem Prema Sai, jest niewiarygodne! Buduje się szpitale, buduje się
szkoły. W cudowny sposób! Nikt nie mógłby tego dokonać – tylko sam Swami.</span></font></p>

<p>Proszę,
zanurzcie się głęboko w siebie, otwórzcie serca i żyjcie w miłości. Moje ulubione
słowa Sai to: „Bóg jest miłością, żyj w miłości.” Sai Ram.</span></font></p>

<p class="text-center my-5" style="text-align:right;line-height:normal" align="right"><b><span style="14.0pt;&quot;Times New Roman&quot;,&quot;serif&quot;;
font-weight:bold">Robert A. Bozzani</span></font></b></p>

<p class="text-right my-5">[Żródło: <a href="https://saivrinda.org/my-sai-i/featured-article/my-experience-with-the-subtle-body-of-bhagawan-sri-sathya-sai-baba-robert-a-bozzani" rel="no-follow">https://saivrinda.org/my-sai-i/featured-article/my-experience-with-the-subtle-body-of-bhagawan-sri-sathya-sai-baba-robert-a-bozzani</a><br> tłum. KMB, 2018.02.05]</span></font></p>

</div>

            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">MOJE DOŚWIADCZENIA Z SUBTELNYM CIAŁEM BHAGAWANA ŚRI SATHYA SAI BABY

ROBERT BOZZANI</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>