<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">CHWAŁA BOGA W CHORWACJI</li>
                </ol>
            </nav>
            <article class="container">
              <h2><a href="http://www.bhajanmusic.info/sukshma-baba-pdf-articles" rel="no-follow">CHWAŁA BOGA W CHORWACJI</a></h2>
              
            <p class="text-center"><a href="http://www.bhajanmusic.info/sukshma-baba-pdf-articles" rel="no-follow">– NOWY ROZDZIAŁ W MISJI AWATARA</a></p>
            
            <p class="text-center"><a href="http://www.astro.uni.torun.pl/~kb/SSB/Inne/Connie-Interview.htm" rel="no-follow">Connie Shaw</a></span></font></p>
            
            
            <p>W
            powietrzu unosiły się pierwsze świeże, przyjemne zapachy wiosny. Atmosfera w
            Hypo Conference Centre (wielopiętrowym ośrodku konferencyjnym) w chorwackim
            Zagrzebiu była naelektryzowana, gdy o godz. 7:45 dnia 22 kwietnia 2015r.
            przed dostojnym zgromadzeniem tysiąc dystyngowanych wielbicieli Sai z całej
            Europy, Wielkiej Brytanii, USA i innych państw zajmowało swoje miejsca. Miał to
            być 12-godzinny dzień fascynujących wydarzeń. Z braku miejsc odprawiono 200
            ludzi, ale mówi się, że część bardziej zdeterminowanych dusz przedostała się do
            holu poza aulą zgromadzeń, aby posłuchać, co będzie się działo.</span></font></p>
            
            <p>Niczym
            zgłodniałe pszczoły, ciągle napływający wielbiciele przygotowywali swoje „lądowiska,”
            spragnieni powrotu do słodkiego Serca <i><span style="font-style:italic">Awatara</span></i>
            – niewidzialnego, a może widzialnego! Na przyjście Pana i Jego Teamu przygotowano
            proste, ale eleganckie podium z ręcznie dla Niego wykonanym królewskim krzesłem
            ozdobionym kwiatami, ametystem i innymi wielkimi kryształami. Głównymi
            elementami sceny były naturalnych rozmiarów zdjęcie Baby w pomarańczowej szacie
            i film o Nim wyświetlany wyżej na wielkim ekranie. Poniżej podwyższenia sceny znajdował
            się czarujący powitalny napis „Swami, kochamy cię” o wysokości około metra
            pomysłowo wykonany z żywych kwiatów. Kwiaty, w odcieniach czerwieni, błękitu,
            pomarańczy i żółci, ułożono (w niewidocznych doniczkach/dzbankach) tak, by
            uczestnicy mogli później zabrać je na pamiątkę. </span></font></p>
            
            <p>Wszystko
            to mogłam łatwo zobaczyć i zapamiętać, gdyż łaskawi organizatorzy, ku naszemu
            miłemu zaskoczeniu i głębokiej wdzięczności, zaprowadzili mojego męża, Jima
            Wrighta, i mnie do zarezerwowanych miejsc (kobiety i mężczyźni siedzieli
            osobno) z przodu sali oznaczonych nazwiskami. Niebawem grupa śpiewaków,
            składająca się z kobiet i mężczyzn, zaczęła perfekcyjnie intonować wedyjskie <i><span style="font-style:italic">śloki</span></i>. Nastawiłam uszu. Program był
            zaskakujący! Ponieważ w różnorakim charakterze służyłam Sathya Sai Babie przez
            34 lata i wiedząc, że po powrocie do USA będę zasypywana pytaniami,
            automatycznie nastawiłam się na zbieranie informacji. Zawsze wierzyliśmy, że
            my, którzy mieliśmy szczęście doświadczyć niezwykłych zdarzeń, podróży i
            przeżyć w ramach Pracy Sai, mamy obowiązek dzielenia się spostrzeżeniami z
            innymi. Błogosławieństwo jednego jest błogosławieństwem dla wszystkich.</span></font></p>
            
            <p>Ponieważ
            przyjaciele w Sai będą zadawać wiele pytań, trzeba być czujnym przez cały
            dzień, przez całe to 12-godzinne wydarzenie, aby wiernie opowiedzieć i
            dokładnie opisać ten historyczny dzień. Będą chcieli dowiedzieć się rzeczy
            takich jak:</span></font></p>
            
            <p><span>• </span></font>„Co czułaś w
            sercu, gdy usiadłaś na miejscu? Czy myślałaś, że Swami naprawdę tam był,
            niewidzialny? Skąd to wiedziałaś?”</span></font></p>
            
            <p><span>• </span></font>„Jakie wibracje
            temu towarzyszyły, jacy byli organizatorzy i uczestnicy?”</span></font></p>
            
            <p><span>• </span></font>„Czy była
            jedność i harmonia w organizacji i realizacji szczegółów całej imprezy?”</span></font></p>
            
            <p><span>• </span></font>„Jak prezentował
            się Team Sai, czyli Boska Świta, jak się zachowywali, jak mówili i
            współdziałali ze sobą, z Babą i z publicznością? Co w nich zrobiło na tobie
            największe wrażenie?”</span></font></p>
            
            <p><span>• </span></font>„Jak prezentował
            się podczas tłumaczenia i w czasie wolnym Śri Madhusudhan, młody dorosły
            jasnowidz i jasnosłyszacy, były student Sai? Czy stał, siedział lub klęczał
            podczas tłumaczenia? Co z jakością jego głosu, przekazu, postawy i całego
            zachowania? Czy uważasz, że jest on autentycznym „komunikatorem” dla Śri Sathya
            Sai Baby?”</span></font></p>
            
            <p><span>• </span></font>„Co Baba
            powiedział w swoich dyskursach? Co się w nich powtarzało, a co było nowe? Z
            kogo składała się publiczność i jak się różniła od tych, w których
            wysłuchiwałaś Jego dyskursów? Czy byli głównie dorośli, głównie ludzie z
            Zachodu? Ile było dzieci/uczniów? Ile kobiet w stosunku do mężczyzn?”</span></font></p>
            
            <p><span>• </span></font>„Co mieli do
            powiedzenia inni mówcy i kim byli? Jakim cieszyli się autorytetem, by
            przemawiać, jakie prezentowali wibracje i jak się zachowywali? Czy mogli
            okazywać fałszywe oddanie, duchowy autorytet, pokorę i czy mogli stanowić część
            wielkiego oszustwa w tym delikatnym okresie w historii awatarostwa Śri Sathya
            Sai Baby? Niektórym ludziom, szczególnie tym, którzy cieszyli się fizyczną
            bliskością Sai, trudno uwierzyć, że Sai Baba rzeczywiście aktywnie działa w
            Muddenahalli w południowych Indiach, prowadząc, kierując, przemawiając,
            budując, organizując i energicznie, z dużą szybkością, skutecznością i
            kompetencją, posuwając swoją Misję naprzód przez zakładanie nowych szkól,
            szpitali, jadłodajni, domów gościnnych, bloków hotelowych i infrastruktury na
            całej planecie, nie tylko w Indiach.”</span></font></p>
            
            <p><span>• </span></font>„Ponieważ byłaś pobłogosławiona
            <i><span style="font-style:italic">sewą</span></i> (pracą służebną), w której
            zabrałaś do Indii 48 grup ludzi chorych, i licznymi widzeniami (<i><span style="font-style:italic">interview</span></i>) u Swamiego, ponieważ Swami
            ukazywał się w twoim domu 57 razy i setki razy podczas tysięcy twoich wystąpień
            w tuzinach krajów, czy mogłaś stwierdzić, że zjawisko Muddenahalli, „Sukszma”
            Sai, czyli Sai w subtelnym ciele, jest rzeczywiście autentyczny? Czy mogłaś dać
            się oszukać?”</span></font></p>
            
            <p>
            <font xxface="Symbol"><span>• </span></font>„Czy byli tam
            ochroniarze, aby chronić świtę Sathya Sai? Gdzie stali i na co zwracali uwagę?”</span></font></p>
            
            <p><span>• </span></font>„Jak sądzisz,
            dlaczego Swami wybrał akurat Chorwację na miejsce tak ważnego zdarzenia, na
            jedno z głównych miejsc swojej globalnej podróży z tym Teamem?”</span></font></p>
            
            <p></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">Czysta, wysoka energia zjednoczonych serc</span></font></b></p>
            
            <p>Dzień,
            który właśnie się zaczynał, miał być pełen zaskoczeń i błogosławieństw. Na
            przykład, jakość i intensywność sumarycznej energii w auli wywołanej wibracjami
            uczestników spotkania były niezrównane. Energia ta była wysoka, zjednoczona i <i><span style="font-style:italic">sattwiczna</span></i> (zrównoważona duchowo). Nie
            było przeciwnych, nieharmonicznych energii, które zakłócałyby pokojową błogość,
            jaka przenikała to miejsce. W istocie, Karla, koordynator organizatorów, podkreślała,
            że Baba to Mistrz skrzypiec, a wielbiciele to instrumenty, którymi On tworzy
            muzykę. Każdy szczegół imprezy został przygotowany i wykonany z miłością i
            precyzją. Organizatorzy byli niezwykle uprzejmi, łaskawi, czujni na potrzeby
            uczestników i tryskali radością i niecierpliwym wyczekiwaniem. Chorwacja to
            zniszczony wojną w 1991 r. kraj ludzi o łagodnym sposobie mówienia i troskliwych,
            którzy odrodzili się duchowo w pokorze i z otwartym sercem. Być może Swami
            wybrał Chorwację ze względu na dojrzałe serca wielbicieli. Chorwatki są bardzo
            silnymi kobietami! Niewykluczone, że w przyszłości będą wzorami dla nas
            wszystkich.</span></font></p>
            
            <p></span></font></p>
            
            <p><b><span style="
            font-weight:bold">Niezwykła natura publiczności</span></font></b></p>
            
            <p>Inaczej
            niż publiczność składająca się z wielbicieli, do której przemawiał Sathya Sai,
            ta chorwacka publiczność składała się z dorosłych ludzi z Zachodu, głównie z
            Europy. Przeszli oni ogień wojny, finansowe ubóstwo, głód, brak zatrudnienia i
            zmiany klimatyczne. Zostali skarceni i zmiękczeni – przygotowani do Nowej
            Pracy.</span></font></p>
            
            <p></span></font></p>
            
            <p><b><span style="
            font-weight:bold">Wrażenia o Teamie Sai</span></font></b></p>
            
            <p>W
            końcu pojawia się <i><span style="font-style:italic">Awatar</span></i> i Jego
            Team. Wychodząc zza czarnej podwójnej kotary z bawełny za sceną, oświetleni
            dość jasnym Światłem, ustawili się w białych błyszczących strojach – wszystkie
            różne, ale dobrane harmonijnie. Śri Madhusudhan, skrótowo nazywany na ogół
            Madhu, wyglądał przystojnie, zdawał się być nieśmiały i chłopięcy, gdy ze
            spuszczonymi oczami wchodził za Babą na scenę.</span></font></p>
            
            <p>Dynamiczny,
            po czterdziestce, Śri Ravi Kasturi, ogromnie utalentowany organizator Teamu i
            Wysłannik Sai, który dysponował energią trojaczków i urokiem Kriszny, nie
            usiadł z Teamem, lecz magicznie doglądał wszystkiego zza kulis – organizowanie
            lunchu, kierowanie nierzucającym się w oczy ochroniarzem w brązowym mundurze
            (który stał z założonymi rękami przed publicznością, na prawo od krzesła Baby,
            na podłodze poniżej sceny). (Zastanawiam się, jak Ravi przedstawił
            ochroniarzowi jego obowiązki. Wszak, Honorowy Gość jest niewidoczny!) Śri Ravi
            jest niczym kombinacja szybkiego chochlika, pana cyrkowej areny, mistrza
            ceremonii, marszałka polnego i ostatecznego ochroniarza – wszystko to w jednym.
            Angażuje każdego z sercem, ale przy tym każdy wie, że to poważna sprawa, a nie
            żarty.</span></font></p>
            
            <p >Pierwszym
            mówcą był Isaac Tigrett, szacowny pan o siwych włosach, z brodą, dystyngowany
            założyciel sieci kawiarni Hard Rock Café i House of Blues (oraz niezliczonych
            innych interesów). Jego wysokiej, imponującej postaci towarzyszyła charyzma i
            znana przychylność <i><span style="font-style:italic">Awatara</span></i>. W
            początkowych uwagach potwierdził bardzo wysoką energię <i><span style="font-style:italic">Śakti</span></i> tej niezwykłej publiczności. „Ta
            publiczność ma najwyższą energię spośród grup, z którymi dotąd się spotykaliśmy”
            – powiedział. Wśród tysiąca uczestników było jakieś 950 kobiet i około 50
            mężczyzn i chłopców, włącznie z garstką dzieci!</span></font></p>
            
            <p >Tigrett
            zauważył, że zaświtał Nowy Dzień, w którym <i><span style="font-style:italic">Awatar</span></i>
            będzie potrzebował nas żyjących i służących sercem, a nie umysłem. Jego poranne
            i popołudniowe wystąpienia elektryzująco nawoływały publiczność do uwznioślenia
            własnego życia w służbie Bogu i cierpiącej ludzkości. Ludzie wstrzymywali
            oddech, gdy „<i><span style="font-style:italic">Tiger</span></i> (Tygrys),” jak
            go nazywał Baba, opowiadał jak kiedyś spytał Mistrza, dlaczego on, Izaac,
            urodził się w tak bogatej i wpływowej, ale zimnej i tragicznie rozbitej
            rodzinie. „Aby zmiękczyć twoje serce, Tigrett” – padła odpowiedź. Wszyscy odbierali
            go entuzjastycznie i doceniali jako mądrego Starszego albo starszego wujka.</span></font></p>
            
            <p >Siwowłosy
            Śri Narasimha Murthy, dyrektor szkoły Sri Sathya Sai School w Muddenahalli, będąc
            wysokim, dobrze zbudowanym i robiącym wrażenie, wyglądał oszałamiająco w swojej
            stylowej <i><span style="font-style:italic">kurcie</span></i> (rodzaj długiej
            koszuli) i dopasowanych do niej spodniach. Jego miłość i oddanie Sai Babie jest
            oczywista, a jego wystąpienia do głębi poruszyły publiczność. Śri Murthy,
            bardzo obrzucony oszczerstwami (niesłusznie i nieuczciwie), za podjęcie się
            ogromnego zadania i pozycji w Następnym Rozdziale Misji Sai, zaprezentował
            połączenie wewnętrznej łagodności i zewnętrznej siły, które zrobiły na piszącej
            wielkie wrażenie. Zmiękło jej serce, gdy później oglądała jego czułe, matczyne zachowanie
            w stosunku do maluchów podczas 3-godzinnej południowej przerwy. Ma on doskonałą
            pamięć do imion, zdarzeń i procesów i sprawia, że każdy rozmówca czuje uznanie
            i wyróżnienie z jego strony, a robi to z taką łatwością, gracją i umiejętnie
            jak czynił to Baba.</span></font></p>
            
            <p >Gdy
            szczupły, giętki doktor Srinivas, bardzo przekonujący i uznany lekarz,
            „ambasador” Sai i nadzwyczajny mówca, kończył swoje bardzo osobiste wykłady, za
            każdym razem trudno było znaleźć suche oczy. Jego usuwanie siebie w cień i
            nieco nieśmiałe zachowanie urzekały słuchaczy, a to wrażenie pogłębiało jeszcze
            to, co miał do powiedzenia. „Wykorzystajcie to doświadczenie, to życie, ten
            związek z Sai! Zostaliście wybrani – teraz zróbcie coś z tą szansą!” Jego
            zdolności motywowania ukierunkowane na serce są przykładem, jak sądzimy,
            zdolności przywódczych, które będą przejawiać przyszli liderzy ruchu Sai.</span></font></p>
            
            <p ></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">Duchowe doświadczenia</span></font></b></p>
            
            <p >Podczas
            porannej sesji, ku własnemu zdumieniu i zachwytowi, zobaczyłam jak subtelne
            ciało Isaaca Tigretta wstaje z jego krzesła znajdującego się z lewej strony
            sceny, patrząc na widownię, i przesuwa się wzdłuż rzędów kobiet recytujących <i><span style="font-style:italic">Wedy</span></i>, gdy tymczasem jego fizyczne ciało
            dalej siedziało na krześle! Niczym dobrotliwy dziadek z miłością pochylał się i
            błogosławił/dotykał czubka głowy każdej kobiety w uznaniu ich recytacji i wysokiej
            wibracji. Inna kobieta mówiła, że widziała jak Baba opuszcza swoje krzesło i
            błogosławi/klepie w głowę każdego z 1000 uczestników! Istotnie, pisząca czuła,
            że On osadził w każdym z nas żywy niebiesko-biały Zarodek Odnowionego Celu i
            Postanowienia.</span></font></p>
            
            <p ></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">W końcu jest Swami i Śri Madhusudhan Naidu</span></font></b></p>
            
            <p >Wreszcie
            przyszedł czas, by Śri Madhu zaczął tłumaczenie porannego Boskiego Dyskursu
            Jego Świątobliwości (to moje określenie), <i><span style="font-style:italic">Purna
            Awatara</span></i> (pełnego zstąpienia Boga, Stwórcy Kosmosu) Śri Sathya Sai
            Baby, dla Jego 23 milionów wielbicieli ze wszystkich wyznań znanego też jako
            „Swami,” czyli Mistrz. „Jak zaprezentuje się brat Madhu?” – zastanawiałam się.
            Czy on też wykona przekład dyskursu Baby w sposób równie wybitny jak ten,
            którym cieszyliśmy się przez lata w postaciach tak uwznioślających i
            elektryzujących tłumaczy jak ś.p. autor i tłumacz prof. N. Kasturi lub dr
            (profesor) Anil Kumar?</span></font></p>
            
            <p >Brat
            Madhu, że pozwolę sobie tak go nazywać, ukląkł po prawej stronie (patrząc z
            widowni) krzesła Baby. Najpierw powiedział, że Swami siedzi w krześle i ma na
            sobie pomarańczową szatę, taką jak ta na środku sceny. Madhu okazał się miękko
            mówiącym „komunikatorem,” ucieleśnieniem skromności, manier i poprawności.
            (Później tego dnia mój nowy przyjaciel Peter powiedział: „Nie ma możliwości,
            aby ten gość mógł fałszować Boski Dyskurs!” Ja się z tym zgodziłam.)</span></font></p>
            
            <p ></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">Uwagi o przekazie Dyskursu przez Śri Madhu Naidu</span></font></b></p>
            
            <p >Przed
            <i><span style="font-style:italic">Darśanem</span></i> (spotkaniem z) Sai i
            Boskim Dyskursem w Chorwacji, wielu przyjaciół zastanawiało się skąd mogliby
            mieć pewność, gdyby mieli szansę słuchać, że brat Madhu jest „prawdziwym
            artykułem,” „dobrym interesem,” „autentycznym diamentem,” a nie sprytną kopią. Mówiąc
            skrótowo, ich podstawowymi kryteriami na wykrycie podszywania się pod osobę
            prawą, która odgrywa rolę takiego „komunikatora/tłumacza” (nie medium, nie
            kanału, nie <i><span style="font-style:italic">guru</span></i>) dla Subtelnej
            Postaci Sathya Sai byłyby:</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Byłby
            on po prostu sobą, nie próbowałby naśladować prof. Kasturiego, dr-a Kumara ani
            nikogo innego. Miałby własny styl przekładu, własną osobowość i zachowanie w
            tej roli.</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Byłby
            skromny i nie promował swojej osoby (nie zagarniałby dla siebie uwagi kosztem
            Swamiego), nie stawiał siebie w centrum.</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Komunikator
            tłumaczyłby przesłanie wiernie, bez dodawania i odejmowania czegokolwiek,
            zwłaszcza w aspektach treści przesłania <i><span style="font-style:italic">Awatara</span></i>
            i Jego misji. Fundamentalne i historyczne wartości, czyli <i><span style="font-style:italic">sanatana dharma</span></i>, propagowane przez Babę
            byłyby wplecione niczym złota nić w Jego przesłanie do wielbicieli.</span></font></p>
            
            <p ><span style="font-size:18.0pt;x">• </span></font>Nie
            byłoby niezręcznych przerw i opóźnień, lecz proste przekazywanie przesłania, w
            którym nie byłoby niedorzeczności.</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Innymi
            słowy, przekład byłby natychmiastowy, bez zbytniego rozmywania.</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Brat
            Madhu miałby raczej głos sattwiczny (czysty, przyjemny), a nie szorstki,
            hałaśliwy.</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Byłaby
            zachowana charakterystyczna siła i szybkość przekazywania idei Baby.</span></font></p>
            
            <p ><span style="font-size:18.0pt;">• </span></font>Byłaby
            obecna nieomylna żywotność, mądrość i klarowność idei Sai.</span></font></p>
            
            <p >Śri
            Madhu Naidu wykazał i przekroczył wszystkie te oczekiwania i zastrzeżenia.
            Faktycznie, podczas przekładu wydaje się on tak pozbawiony „osobowości
            scenicznej” (co jest dobrą cechą, w opinii piszącej), że jest niejako przeźroczysty,
            dzięki czemu <i><span style="font-style:italic">Awatar</span></i> może przez
            niego bezproblemowo pracować. W swoich wibracjach bez wątpienia nie jest
            „głuchy,” ale brak w nim pompatyczności i dramaturgii; jest bardziej anielski
            niż większość mężczyzn, jakich spotyka się poza <i><span style="font-style:
            italic">aśramami</span></i> i klasztorami.</span></font></p>
            
            <p >Kilka
            razy, nieregularnie, pisząca te słowa widziała Sathya Sai w swoim krześle, co
            ją ekscytowało. Wibracja Baby była wyraźna, ale zawierała, dla piszącej, nowe
            zdecydowanie, intencje i niuanse, których nie doświadczaliśmy w przeszłości w
            Dyskursach, snach, na interview i w licznych Boskich przejawieniach.
            Podsumowując, z różnych wystąpień wynika, że jest najwyższy czas, byśmy my,
            wielbiciele, dorośli! On już nie będzie nas rozpieszczał, jak to było
            wcześniej, kiedy graliśmy role sprytnych żebraków, a On rolę Świętego Mikołaja.
            W tym Nowym Rozdziale On oczekuje od nas wkroczenia w naszą Boskość i stania
            się kimś w rodzaju, jak On to ujął, „pomagających ludzkości Aniołów.”</span></font></p>
            
            <p ></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">Sesja pytań i odpowiedzi</span></font></b></p>
            
            <p >Ludzie
            w całym zgromadzeniu na <i><span style="font-style:italic">Darśanie</span></i>
            Sai najwyraźniej mieli podobne pytania dotyczące tego, czy dalej należeć do
            (obecnie fermentującej i będącej w okresie przejściowym) Organizacji Sai
            (odpowiedzi szukać w sercu); jak postrzegać i usłyszeć Swamiego (praktykujcie
            słuchanie własnego wnętrza); i kiedy będziemy mieli więcej szkół Sai (w których
            nauczyciele są podobni do Swamiego – kochający dorośli, którym dzieci mogą
            ufać).</span></font></p>
            
            <p >Doskonały
            system nagłośnienia (dzięki bardzo doświadczonemu inżynierowi-akustykowi)
            pozwolił każdemu uczestnikowi usłyszeć odpowiedzi Swamiego tak, jak gdyby był w
            pokoju interview. Większość wielbicieli słyszało głos Swamiego podczas Jego
            śpiewu, albo Jego dźwięczny głos oratora kierowany do wielotysięcznych tłumów,
            bądź wewnętrzny Jego głos w snach. Jego odpowiedzi w czasie <i><span style="font-style:italic">Darśanu</span></i> Sai były łagodne, słodkie i rzeczowe.
            Dało się w nich odczuć Miłość, Mądrość i Siłę.</span></font></p>
            
            <p ></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">Osobiste potwierdzenia</span></font></b></p>
            
            <p >W
            czasie przerwy między porannym i popołudniowym dyskursem, gdy z mężem byliśmy zaproszeni
            (niezasłużenie, jak uznaliśmy) na lunch z Teamem Sai, Swami trzy razy przemówił
            do mnie przez brata Madhu. Ponieważ nie byliśmy w Muddenahalli, ani wcześniej
            nie spotykaliśmy się z Teamem Sai, nie istnieje możliwość, by Śri Madhusudhan
            mógł wiedzieć o pewnych rzeczach. On po prostu powtarzał to, co przekazywał
            Baba. Ponadto, na dowód obecności Swamiego, Baba wykreował dla znakomitego tłumacza
            dech zapierający medalion wysadzany diamentami przedstawiający stojącego Sai
            Babę w oprawie ze złota, którego za kulisami pokazał mi ten skromny lekarz. Żaden
            sztukmistrz nie mógłby wprawnym ruchem ręki w jednej chwili przedstawić tak
            pięknego i drogiego talizmanu.</span></font></p>
            
            <p ></span></font></p>
            
            <p ><b><span style="
            font-weight:bold">Nasza misja i intrygujący sen</span></font></b></p>
            
            <p >Gdy
            dobiegł końca ten zwrotny dzień w nowym rozdziale Sai, zachwycaliśmy się nad
            tym, jak w każdym szczególe po mistrzowsku zorganizowano całą tę imprezę. Przychodził
            mi na pamięć sen z Sai z poprzedzającej nocy. Baba powiedział w nim do mnie i
            grupy kobiet pracujących w jakimś projekcie Sai: „Już niebawem będę dokonywał
            nadzwyczajnych rzeczy. Czy będziecie gotowe wkrótce rzucić wszystko, gdy powiem
            ‘Raz-dwa-trzy, gotowe-start, chodźcie tam, gdzie jestem’?” Bez namysłu
            wszystkie powiedziałyśmy unisono: „Oczywiście, Swami! Tylko Ty się liczysz!” „Dobrze!”
            – odpowiedział – „Już wkrótce wszystkie będziecie mogły Mnie widzieć!”</span></font></p>
            
            <p >Podsumowując,
            przesłania Teamu Sai i samego Sathya Sai zdają się generalnie wskazywać na
            zbliżające się ekscytujące czasy, w których wszyscy wielbiciele będą wzywani do
            wzniesienia się w świadomości, do pogłębienia rozumienia i do wewnętrznego
            dostrojenia oraz do spójniejszego życia w miłości, wielbieniu i wdzięczności.
            Do tego na pewno dojdzie, gdyż wszyscy zobowiązaliśmy się do nierozerwalnej
            jedności, aby wywołać od dawna prorokowany Nowy Złoty Wiek Pokoju i Obfitości,
            w którym będziemy wykazywać Boskie cechy <i><span style="font-style:italic">Awatara</span></i>:
            skromność, zdyscyplinowanie, współczucie, bezinteresowne służenie, radość oraz
            pięć Ludzkich Wartości – pokój, prawdę, miłość, prawe postępowanie i
            niekrzywdzenie – te ponadczasowe cechy, które podtrzymują życie na Ziemi i
            które stanowią <i><span style="font-style:italic">Sanatana Dharmę</span></i>.
            Teraz nasze życia są Jego Przesłaniem, a nasza stała, szczera i bezinteresowna Miłość
            – rozciągająca się na łagodzenie ludzkiego cierpienia – jest naszą boską misją!
            Obyśmy przeszli każdą próbę na Ścieżce bez ścieżek i wytrwali w Boskiej
            Świadomości, radośnie służąc Mu w innych, aż do ostatniego oddechu!</span></font></p><br>
            
            <hr width="40%" align="center">
            <p style="margin-top:12.0pt;margin-right:0cm;
            margin-left:0cm;text-align:justify;
            ;">Connie Shaw służyła
            Sathya Sai Babie przez 34 lata i pełniła rozmaite funkcje w Organizacji Sai USA.
            Podróżowała do 60 krajów. Jest autorką książki „<i><span style="font-style:
            italic">Wake up Loughing:</span></i></span></font><i><span style=";font-style:italic"> <span>My
            Miraculous Life with Sai Baba</span></span></font></i>.” Shaw miała ponad 2000 wystąpień na
            temat Miłości, Mocy i Boskości Awatara, zarówno osobiście, jak też w 130
            miejscach przez Skype na pięciu kontynentach. O Bhagawanie Śri Sathya Sai Babie
            mówi: „Jest moim życiem i żyję, by kochać i słuchać Jego. On jest Jedynym
            Wykonawcą.”</span></font></p>
            
            <p class="text-right my-5">[tłum.
            KMB, Toruń, 20150609]</span></font></p>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">CHWAŁA BOGA W CHORWACJI</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>