<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Dyskurs
                Sathya Sai Baby z dnia 5 I 2016 r.</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Dyskurs
                Sathya Sai Baby z dnia 5 I 2016 r. <br> (Wizyta w Singapurze i Malezji
                
                <p><font>Dzień ten zaczął się od <i><span>satsangu</span></i> i <i><spanfont-style:
                italic">bhadźanów</span></i> w domu <strong><b><font><spanfont-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;">dr-a Ganesan Naidu
                i jego żony Suganthi. Obecni byli członkowie rodziny i goście. Swami podjechał
                samochodem i witany śpiewem wszedł do domu. Usiadł w swoim fotelu i nawiązując
                do ostatniej pieśni powiedział, że należy praktykować to, co się mówi: „Podążaj
                za mistrzem, staw czoło diabłu, walcz do końca i zakończ tę grę!” Potem Swami poprosił
                Śri C. Sreenivasa, aby wygłosił przemówienie.</span></font></b></strong></span></font></p>
                
                
                <figure class="float-left">
                    <img src="../../../img/Singapore2015Jan5.jpg" alt="Śri
                    C Sreenivas przemawia do zebranych w domu dr-a Ganesan Naidu">
                    <figcaption>Śri
                        C Sreenivas przemawia do zebranych w domu dr-a Ganesan Naidu</figcaption>
                </figure>

                
                <p><strong><b><font><span;">Po
                tym wystąpieniu Swami wygłosił dyskurs, zaczynając od stwierdzenia, że
                Sreenivas był przy Nim bardzo, bardzo długo – przez wiele żywotów.</span></font></b></strong></p>
                
                <p><strong><b><font>Tak jak reżyser obsadza różne role w różnych spektaklach tym samym
                aktorem, Bóg sprowadza ze sobą swoich ludzi, aby odgrywali role w Jego
                przedstawieniu za każdym razem, gdy je organizuje na nowo. W różnych okresach,
                w różnych epokach, gdy Bóg przychodzi jako Reżyser Boskiego Przedstawienia,
                sprowadza ze sobą swoich ludzi. Ci z nich, którzy grają dobrze, otrzymują
                szansę grania następnym razem. Ale ci, którzy sprawiają Reżyserowi zbyt wiele kłopotów,
                muszą odejść i siedzieć wśród widzów. Tak więc, jeśli wykonujecie dokładnie to,
                czego chce Reżyser, wówczas jest On zadowolony i cały czas trzyma was przy
                sobie. On dobrze wie o co chodzi w tym przedstawieniu. Możecie odgrywać
                nieznaczącą rolę w danej scenie, nie wiedząc jakie ma znaczenie w szerszym
                kontekście, ale Reżyser zna całą opowieść.</span></font></b></strong></p>
                
                <p><strong><b><font>Wszystko zaplanowałem, wszystko zostało już wykonane w moim umyśle, tak
                jak przebieg przedstawienia widzi w swoim umyśle reżyser. Wiem więc, kto odegra
                jaką rolę, przez jak długo, w jaki sposób – wszystko zostało już zdecydowane. Co
                zatem leży w waszych rękach? Macie być posłuszni, dobrze odgrywać swoją rolę.
                Jeśli dobrze ją zagracie, otrzymacie następną szansę zrobienia tego jeszcze
                lepiej. Mówię Sreenivasowi, że nagrodą za wykonanie dobrej pracy jest dalsza
                dobra praca. Gdy dostajecie nową dobrą pracę, powinniście wiedzieć, że
                spotkaliście się z uznaniem! Nic na tym świecie nie postępuje naprzód bez
                poświęcenia. Jest to fundamentalna podstawa wszystkiego. Gdyby słońce nie
                spalało siebie samego, nie mogłoby podtrzymywać świata. Wszystko na tym świecie
                zostało stworzone, aby promować tego rodzaju poświęcenie. Dlatego także to
                ciało, które otrzymaliśmy, jest stworzone dla innych. Ciało, które dobrze się prezentuje,
                ale nie ma poczucia poświęcenia, jest bezużyteczne, tak jak łódź, która na
                brzegu dobrze wygląda, ale jest usiana dziurami i nie nadaje się do przeprawy
                przez rzekę. To samo odnosi się do ciała. Prawdziwe poświęcenie to takie, które
                przewodzi, a nie idzie po śladach. Jedno z świętych pism pięknie mówi: „Dawaj
                szczerze, nie dawaj z nieszczerością. Dawaj hojnie; dawaj bez obaw; dawaj z
                pokorą; dawaj ze świadomością celu, jakiemu dar ma służyć.” Oto idealny sposób
                poświęcania się!</span></font></b></strong></p>
                
                <p><strong><b><font>Odkładanie robienia dobrych rzeczy na jutro nie jest dobre. Każda
                pojedyncza osoba jest ważna w Mojej misji. Nikt w pojedynkę nie może wykonać
                wszystkiego, co trzeba zrobić, aby uszczęśliwić świat. Ale gdy zbiorą się wszyscy,
                można dokonać o wiele, wiele więcej. W ostatnich czterech latach byliście
                świadkami wielu rzeczy, jakie się wydarzyły, przynoszących chwałę nie tylko Swamiemu,
                ale także wam. Oddanie wielbicieli Swamiemu sprawiło, że dokonało się tak wiele.
                Podczas gdy większość świata opłakiwała fakt, że straciła swojego Mistrza, wy
                tutaj świętujecie, dzieląc się tą radością z innymi, którzy są w potrzebie.
                Jest to właściwy sposób świętowania obecności Swamiego. Siedząc w Muddenahalli,
                cały czas myślę, co mógłbym zrobić dla Moich wielbicieli w Singapurze, którzy
                cały czas robią dla Mnie wszystko co mogą. Nie myślą o sobie. Mogę was
                zapewnić, że całe dobro, które czynicie, wróci do was, gdy będziecie w
                potrzebie. Niech wasze dzieci będą szczęśliwe, niech wiodą życie w <i><span>dharmie</span></i> i niech będzie to boskie życie, z
                którego będą czerpać boską radość. Dzieci, które urodziły się w rodzinie pełnej
                wiary w Boga, są naprawdę błogosławione i zawsze będą chronione. Przybyłem tu
                tylko po to, aby przynieść wam wszystkim moje szczodre błogosławieństwa za
                uczestniczenie w tej wielkiej Misji. Nie jest to misja szkól czy szpitali, lecz
                misja transformacji.</span></font></b></strong></p>
                
                <p><strong><b><font>Choćby nauczyciel był bardzo dobry, jeśli uczeń nie ma takiej woli,
                nauczyciel nie może dziecka nauczyć. Tak jak bardzo ważny jest dobry nauczyciel,
                tak samo ważny jest dobry uczeń. Podobnie, w tej misji transformacji ważni są
                wielbiciele, z jednej strony, i Pan, z drugiej. Wasza praca i wasze odwiedziny
                Muddenahalli zainspirowały wszystkich naszych uczniów i studentów, którzy piszą
                do Mnie, że chcieliby na miarę swoich skromnych możliwości zrobić coś więcej w
                pracy dla Swamiego. Ta transformacja jest dla Mnie ważna. Gdy już zasieje się
                nasienie, z upływem lat staje się ono silnym drzewem z licznymi owocami.</span></font></b></strong></p>
                
                <p><strong><b><font><span">(<i><span>Patrząc
                na młodzieńca robiącego zdjęcia aparatem, Swami mówił dalej<font><spancolor:#00008C">.</span></font></span></i><font><spancolor:#00008C">) Bóg, tak jak fotograf, także robi zdjęcia! Zawsze
                powinniście być gotowi. Nie wiecie, kiedy pstryknie i zrobi wam zdjęcie. Jeśli
                stale jesteście szczęśliwi, kiedykolwiek zrobi zdjęcie, otrzymacie dobry obraz.
                Zawsze bądźcie szczęśliwi. Zawsze bądźcie gotowi na wezwanie Boga. Zawsze
                bądźcie uśmiechnięci, niezależnie od sytuacji.</span></font></span></font></b></strong></p>
                
                <p><strong><b><font>W Delhi inaugurujemy nowy szpital. W chwili, gdy Indulal Shah usłyszał
                o tym szpitalu, przyszedł do Mnie z pytaniem, co może dla niego zrobić. Gdy
                pytałem, co chce, on odpowiadał Mi pytaniem, co może zrobić dla Mnie. Nawet
                teraz ciągle prosi Mnie o dalsze prace, chociaż powiedziałem mu, że pracował
                już dość i teraz jest czas, by odpoczywał i relaksował się. On odpowiada: „odpoczynek
                prowadzi do rdzewienia” (gra słów: <i><span>rest will
                lead to rust</span></i>); nie chce rdzewieć i stale prosi o jakieś zajęcie.</span></font></b></strong></p>
                
                <p><strong><b><font>Jedna osoba nie może zrobić wszystkiego. Gdy włączą się wszyscy, można
                wiele dokonać. Jedność jest bardzo ważna. Wy, wielbiciele z Singapuru, już
                jesteście przykładem dla reszty świata, który postrzega was jako wzory
                jedności, czystości i boskości. Pozostańcie takimi wzorami. W zespołowości leży
                odkupienie. Pojedyncza kropla, która spada z nieba, nie może dotrzeć do oceanu.
                Ale jeśli zbierze się wiele kropli, utworzą strumień. Dołączenie dalszych
                kropli przemienia strumień w rzekę, a rzeka może połączyć się z oceanem. Jeśli
                macie dziedzictwo, które chcecie przekazać swoim dzieciom, przekażcie je. W
                wielu doczesnych aspektach one poradzą sobie lepiej od was, ale czy także w
                poszukiwaniach duchowych? Jeśli tak jest, to jest czym się szczycić. Jeśli
                chcecie, by były szczęśliwe w swoim życiu, pokażcie im ścieżkę do Boga. Jest to
                wasza najważniejsza <i><span>dharma</span></i>.
                Później wasze dzieci poprowadzą swoje dzieci do Boga – to ich <i><span>dharma</span></i>. Wszystko inne jest drugorzędne.
                Wszystko inne jest tylko uboczne.</span></font></b></strong></p>
                
                <p><strong><b><font>Musicie coraz więcej praktykować słuchanie Swamiego wewnątrz siebie. On
                jest obecny w każdym z was. Powinniście szczerze pragnąć usłyszeć to, co On ma
                wam do powiedzenia. Nie przychodźcie z nastawieniem, że chcecie usłyszeć to czy
                tamto, albo uzyskać potwierdzenie tego czy owego. Przychodźcie! Przychodźcie z
                otwartym umysłem z pytaniem, które chcecie zadać, i czekajcie na odpowiedź
                Swamiego. Większość ludzi medytuje, by rozmawiać ze Swamim. Przychodźcie, by
                wysłuchać Swamiego, a nie rozmawiać z Nim; wtedy to będzie medytacja. Czasami
                Swami może coś powiedzieć. Czasami może nic nie mówić. Musicie po prostu
                czekać! Musicie to praktykować. <i><span>Sewa</span></i>
                (służba) to jedna część, ale <i><span>sadhana</span></i>
                (praktyka duchowa) jest też ważna. <i><span>Sewa</span></i>
                i <i><span>sadhana</span></i> same mogą przybliżyć
                was do Boga. Niekiedy jesteście tak zajęci <i><span>sewą</span></i>,
                że nie macie czasu dla samego Boga. Musicie wykroić czas na <i><span>sadhanę</span></i>. Ktoś może mieć czas na wszystko,
                ale jeśli spytać go o medytację, odpowiada: „Ach, nie mam czasu.” Cały czas
                otrzymaliście, aby być blisko Boga. Czas spędzony na robieniu czegoś, co nie
                zbliża was do Boga, jest faktycznie straconym czasem.</span></font></b></strong></p>
                
                <p><strong><b><font><span;">Swami
                zakończył swój mocny Dyskurs dając znak bratu Sumeetowi, a ten zaśpiewał <i><span>bhadźan</span></i> „<i><span>Remind
                me my Lord, who I am</span></i>” (Przypomnij mi mój Panie, kim jestem).</span></font></b></strong></p>
                
                <ptext-align:right" align="right"><font size="1" face="Arial" color="mediumblue"><span9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
                color:mediumblue;background:#FCFCFD" lang="EN-GB">[źródło: <a href="http://saivrinda.org/updates/singapore-malaysia-visit-day-2-morning-january-05-2016/" rel="no-follow">Sri
                Sathya Sai Vrinda</a>; tłum. i oprac. KMB, 2016.01.07]
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Dyskurs
                Sathya Sai Baby z dnia 5 I 2016 r.</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>