<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Bhagawan</li>
                </ol>
            </nav>
            <article class="container">
              <h2><a href="http://reconnectsrisathyasai.blogspot.com/2015/04/bhagavans-visit-to-tokyo.html" rel="no-follow">Bhagawan
                w Tokio</a></h2>
                
                <p style="""><b><span style="">&nbsp;</span></b></p>
                
                <p style="""><b><span style="">Pierwszy
                Boski Dyskurs w Japonii</span></b></p>
                
                <p style=""><span style="
                ">Data: 15 marca 2015 r.<br>
                Miejsce: „Workpia YOKOHAMA,” pok. „Yamayuri”</span></p>
                
                <p><span style="
                ">Widzę Go teraz jak siedzi w swoim
                krześle w jasnej pomarańczowej szacie. Jego stopy spoczywają na podnóżku, a
                ręce trzyma na podłokietnikach. </span></p>
                
                <p><span style="
                ">Teraz będę powtarzał to, co słyszę od
                Swamiego. </span></p>
                
                <p><span style="
                ">&nbsp;</span></p>
                
                <p><b><span style="
                ">„<i>Jato waćoniwartante aprapja
                manasasaha</i>”</span></b><span style="">
                &nbsp;(Boga nie da się opisać słowami, ani pojąć ludzkim umysłem).</span></p>
                
                <p><span style="
                ">Tak mówią <i>Wedy</i>.</span></p>
                
                <p style="
                "><b><span style=";">Właściwy
                instrument do zrozumienia Boga</span></b></p>
                
                <p><span style="
                ">Wczoraj, gdy siedziałem w Moim pokoju i
                jadłem obiad, widziałem na Moim stole dwa patyczki. Spytałem ich, czy są to dwa
                ołówki dla dzieci. Oni odrzekli: Swami, są to pałeczki, których Japończycy
                używają do jedzenia potraw. Ale czy tymi pałeczkami możemy wypić zupę?
                Pałeczkami mogą jeść tylko makaron, ale nie zupę. Podobnie, za pomocą umysłu
                nie możemy zrozumieć Boga. Słowami nie możecie opisać Boga. Tak jak
                potrzebujemy łyżki, by zjeść zupę, tak też potrzebujemy serca, by zrozumieć
                Boga. Umysł nie jest odpowiednim instrumentem do zrozumienia Boga. Dlatego
                powiadam: „Nie idźcie za ciałem, nie idźcie za umysłem, idźcie za sercem.”
                Dzisiaj wszyscy jesteście tutaj dlatego, że nie szliście za umysłem, lecz za
                sercem. Umysł ciągle się zmienia, zależnie od miejsca, czasu i okoliczności.
                Ale serce pozostaje wiecznie takie samo – we wszystkich miejscach, czasach i
                okolicznościach.</span></p>
                
                <p style="
                "><b><span style=";">Prawdziwi
                wielbiciele wiedzą, gdzie jest Bóg!</span></b></p>
                
                <p><span style="
                ">Wielu ludzi przybywa do Brindawanu na święto
                Budda Purnima. Na każdym kwiecie napisali „Sairam, Sairam” i udekorowali nimi
                całe miejsce. Przyszedłem i spytałem: „Umieściliście tu tak wiele kwiatów, ale
                żadne pszczoły nie przylatują. Dlaczego?” Oni odpowiedzieli: „Swami, one
                wyglądają jak prawdziwe kwiaty, ale nie są prawdziwe, tylko z papieru.” Kwiat
                może być piękny, ale gdy jest to papierowy kwiat, żadna pszczoła do niego nie
                przyleci. Niezależnie czy cukier jest biały, brązowy, czy innego koloru, mrówki
                poznają go. Chociaż cukier i sól wyglądają tak samo, mrówki znają prawdę. Nie
                da się ich oszukać, pisząc na słoiku z cukrem „Sól,” a na słoiku z solą –
                „Cukier.” Mrówki nie polegają na rzeczach zewnętrznych, lecz wiedzą, jaka jest
                wewnętrzna prawda, dlatego przychodzą. Chociaż kwiaty papierowy i prawdziwy
                wyglądają tak samo, pszczoły wiedzą, który jest prawdziwy, a który papierowy.
                Podobnie, wielbiciele wiedzą, gdzie Bóg naprawdę się znajduje. Prawdziwi
                wielbiciele wiedzą, że Bóg nie znajduje się na zewnątrz nas, lecz w środku.
                Schłodzona para wodna zamienia się w wodę, a dalsze schładzanie zamienia ją w
                lód. Podobnie, Bóg, który nie ma formy, pod wpływem oddania wielbicieli,
                zależnie od ich uczuć, zamienia siebie w formę. Tak jak chłodna para zamieniona
                w wodę w naczyniu przyjmuje formę naczynia, tak Bóg bez formy pojawia się wam
                tylko w formie takiej, do jakiej się modliliście – Jezusa, Allacha, Buddy,
                Ramy, Kriszny. Zatem, wszystko to zależy od was, a nie ode Mnie.</span></p>
                
                <p style="
                "><b><span style=";">Czym
                jest prawdziwe oddanie?</span></b></p>
                
                <p><span style="
                ">Nie jest właściwe, gdy wielbiciel modli
                się do Boga, uwielbia Go i oddaje Mu cześć tylko wtedy, gdy On robi to, o co
                wielbiciel prosi. Gdy spełniają się wasze pragnienia, myślicie, że wasze
                oddanie rośnie dzięki oddawaniu Bogu czci. Gdy nie dam wam tego, o co prosicie,
                gdy nie spełniam waszych pragnień, wasze oddanie maleje i myślicie, że nie
                jestem Bogiem. Gdy macie oddanie tylko wtedy, gdy spełniam wasze pragnienia, a
                tracicie oddanie, gdy ich nie spełniam, nie jest to prawdziwe oddanie. <b>Prawdziwe
                oddanie zachowujecie cały czas, wszędzie i niezależnie od okoliczności.</b> Wtedy
                ciągle myślicie, jak moglibyście przynieść Bogu radość, jak Go zadowolić.
                Fałszywi wielbiciele natomiast ciągle myślą, jak Bóg może przynieść radość im,
                jak może ich uszczęśliwić. Gdy macie prawdziwe oddanie, sami wiecie, że nie
                musicie o nic prosić, gdyż On da wam wszystko, co jest wam potrzebne. Właśnie
                dlatego często mówiłem: „O umyśle, o nic nie proś.” Tak więc, Bóg da wam bez
                proszenia wszystko, czego potrzebujecie. Gdy prosicie, znaczy to, że wątpicie w
                Niego. Jeśli już chcecie mieć jakieś pragnienie, powinno być to tylko jedno
                pragnienie: chcę Boga, i chcę Go kochać.</span></p>
                
                <p style="
                "><b><span style=";">Tam,
                gdzie jest miłość, tam jest odwaga, a więc również radość i szczęście</span></b></p>
                
                <p><span style="
                ">Dla Boga możecie porzucić każdego
                innego. Ponieważ Bharata, młodszy brat Ramy, był Ramie bardzo oddany, dla niego
                porzucił własną matkę Kajkeji. Podobnie postąpił Prahlada, porzucając ojca
                Hiranjakaśipu, gdyż był oddany Narajanie. Tak samo Mira poświęciła męża Ranę, a
                Wibhiszana dla Ramy porzucił brata Rawanę. Zatem, dla Boga powinniśmy być gotowi
                porzucić każdego. Gdy macie odwagę to uczynić, jesteście prawdziwymi
                wielbicielami. Gdy prawdziwie kochacie Swamiego, będziecie też mieli odwagę
                dokonać takiego poświęcenia. Gdy jest miłość, jest też odwaga. Gdy jest odwaga,
                jest też prawość, czyli <i>dharma</i>. Gdy jest <i>dharma</i>, jest też prawda.
                Tam, gdzie jest prawda, tam jest też Bóg, a gdzie jest Bóg, tam jest radość i
                błogość. Gdy macie prawdziwe oddanie, powinniście mieć też odwagę. Nie
                powinniśmy słuchać innych, zaśmiecając umysł i tracąc czystość. Nie powinniśmy
                polegać na umyśle, gdyż umysł jest samolubny. Tam, gdzie jest samolubstwo, tam
                jest też strach. Na skutek strachu schodzimy na złe ścieżki. Gdy schodzimy na
                złą ścieżkę, będziemy też mówić nieprawdę. Tam, gdzie jest nieprawda, tam nie
                może być Boga. Tam, gdzie nie ma Boga, nie może być radości ani szczęścia. Tak
                więc, jeśli bezinteresownie kochacie Boga, na pewno znajdziecie i Jego, i
                radość, i szczęście.</span></p>
                
                <p style="
                "><b><span style=";">Zrozumieć
                ciało subtelne</span></b></p>
                
                <p><span style="
                ">Jest to czas zmiany pór roku. Zimą jest
                śnieg – także na drogach Japonii. Z nadejściem wiosny pojawiają się różnorodne
                kwiaty i drogi są czyste. Ten świat jest pełen dwoistości. Gdy jedna pora
                odchodzi, druga przychodzi. Teraz też mamy zmianę pór. Ci, którzy rozwinęli ego
                i przywiązanie do ciała, którzy zależą od ciała grubego, czyli ciała
                fizycznego, nie zrozumieją niczego o ciele subtelnym. Nie można go zrozumieć za
                pomocą umysłu – musicie doświadczyć go w swoim sercu.</span></p>
                
                <p style="
                ;
                "><b><span style=";
                ">Trzy etapy na drodze do Sai</span></b></p>
                
                <p><span style="
                ">Jak już ogłosiłem to światu, będę
                działał dalej do 96 lat, prowadząc swoją misję. Nie tylko w Indiach, ale nawet
                w tym kraju, składacie ofiary swoim przodkom, ponieważ wierzycie, że chociaż
                ich ciała odeszły, oni wciąż są obecni i odbiorą wasze ofiary – w to wierzycie.
                Podobnie, Ja jestem obecny w subtelnym ciele i niosę wszystkim radość. Mnie to
                także sprawia radość. Ciało fizyczne jest jak szkoła podstawowa. Jeśli
                nauczyciel ma utrzymać wszystkie dzieci w ciszy, musi się nieźle
                nagimnastykować. Musi śpiewać piosenki, bawić się z nimi, rozmawiać – robić
                rozmaite rzeczy. Dzieci ze szkoły podstawowej, nie muszą odrabiać zadań
                domowych – uczą się tylko w szkole.</span></p>
                
                <p><span style="
                ">Dlatego też, gdy miałem ciało fizyczne,
                to co działo się w Prashanthi Nilayam, było jak szkoła podstawowa. Obecne ciało
                subtelne jest jak szkoła średnia. Dlatego musicie odrabiać zadanie domowe –
                tylko wtedy zrozumiecie. Co to za zadanie? Musicie praktykować to, o czym
                zawsze mówiłem – <b>bezinteresowną miłość i bezinteresowną służbę</b>. W
                przyszłości, gdy przyjdzie <i>awatar</i> Prema Sai, stanie się to
                uniwersytetem. Na uniwersytecie profesor przychodzi na zajęcia tylko od czasu
                do czasu. Student musi chodzić do biblioteki i sam studiować. Dlatego, jeśli
                zaczniecie ten rodzaj studiowania już teraz, w przyszłości będziecie mogli
                dobrze zrozumieć te rzeczy na tym uniwersytecie.</span></p>
                
                <p><span style="
                ">Wielbiciele w Japonii są jak pszczoły,
                które przyleciały z daleka – przyleciały i także częstują się i cieszą nektarem
                kwiatu. Ale z tego, że jesteście blisko mnie, nie wynika, że stajecie się
                drodzy dla mnie. Najpierw stańcie się mi drodzy, potem staniecie się mi bliscy.
                Na tej drodze są trzy etapy: samolubstwo, bezinteresowność i boskość. To samo
                zawiera się w określeniach „ja,” „my” i „On.” Gdy „ja” ubywa, „Sai” przybywa.
                Zakończę swój dyskurs, wyrażając nadzieję, że porzucicie swoje „ja”,
                zredukujecie je i zwiększycie „Sai” i że będziecie wieść radosne i szczęśliwe
                życie.</span></p>
                
                <p><span style="
                ">&nbsp;</span></p>
                
                <p><a name="7191979832904717833"></a><b><span style="">&nbsp;</span></b></p>
                
                <b><span style="font-size:14.0pt;"><br style="page-break-before:always" clear="all">
                </span></b>
                
                <p style="
                ""><b><span style="font-size:18.0pt;
                "><a href="http://reconnectsrisathyasai.blogspot.com/2015/04/the-question-and-answer-session-at-tokyo.html" rel="no-follow">Sesja
                pytań i odpowiedzi w Tokio</a></span></b></p>
                
                <p><b><span style="font-size:14.0pt;">&nbsp;</span></b></p>
                
                <p style="
                "><span style="">Data: 15 marca
                2015 r.<br>
                Miejsce: „Workpia YOKOHAMA,” pok. „Yamayuri”</span></p>
                
                <p><b><span style="
                ">&nbsp;</span></b></p>
                
                <p><b><span style="
                ">1 wielbiciel:</span></b><span style=""> Do bardzo
                niedawna nic nie wiedziałem o Muddenahalli. W ostatnim tygodniu w pobliskim
                Ośrodku Sai w tej sprawie wypytywałem działaczy. Na początku mówili, że ten
                ruch związany z Muddenahalli ma bardzo złe intencje i że nikt nie powinien się
                w to włączać. Po szczegółowych dociekaniach przyznali jednak, że chociaż sami
                myślą, że nie ma nic złego w tym, co się tam dzieje, ale dostali zalecenie, by
                tak mówić. Proszę zatem, abyś wyjaśnił, dlaczego powstał taki podział i
                konflikt między Muddenahalli i Sathya Sai Central Trust albo Organizacją Sathya
                Sai, tak by ci, którzy nie mają dobrych informacji, mogli zrozumieć.</span></p>
                
                <p style="
                
                "><b><span style="">Swami:
                </span></b><span style="">Dla
                oszczędności czasu będę mówił po angielsku. Czy wszyscy znacie opowieść
                Mahabharaty? Jest to historia dwóch typów kuzynów. Pandawowie to jeden typ, a
                Kaurawowie – drugi. Przywódcą Kaurawów był Durjodhana, a Pandawów Dharmaradźa. Pewnego
                dnia Kriszna wezwał obu do swojego pałacu. Dharmaradźa zawsze postępował prawą
                ścieżką. Niezależnie jak bardzo trudną bywała sytuacja, on nigdy nie porzucił
                prawości. Ale z powodu swojego prawego postępowania zawsze był biedny. Tym
                jednak się nie przejmował, gdyż czuł, że Kriszna darzył go łaską, która jest
                największym skarbem. Durjodhana natomiast, chociaż miał stu braci i wielkie
                królestwo, był bardzo zachłanny. Zabrał to, co należało do Pandawów i nigdy nie
                zwrócił. Kriszna wezwał obu i udzielił im rad. Do Durjodhany powiedział:
                „Wiesz, co jest właściwe – rób to. Nie rób tego, co jest złe.” Durjodhana
                odpowiedział: „Wiem, co jest właściwe, ale nie mam dość odwagi, by zgodnie z
                tym postępować. Wiem też, co jest złe, ale nie panuję nad sobą na tyle, by się
                pohamować. Ponieważ jestem niewolnikiem mojego umysłu, chociaż wiem, co jest
                dobre, nie potrafię zgodnie z tym postępować; wiem, co jest złe, ale nie mogę
                się powstrzymać.” </span></p>
                
                <p><span style="
                ">W istocie ten konflikt nie jest
                dzisiejszy – istnieje od dawna. Nie jest to konflikt między kuzynami czy braćmi
                albo organizacjami. Jest to konflikt między umysłem a sercem. Ludzie, którzy
                trzymają się umysłu, nigdy nie zrozumieją tego, co mówi serce. Ci, którzy
                słuchają serca, nigdy nie posłuchają umysłu. Bóg nie patrzy na umysł – On
                patrzy na serce.</span></p>
                
                <p><span style="
                ">Bhagawan mieszkał wiele lat w
                Puttaparthi. Nikt nie podawał w wątpliwość, dlaczego właśnie w Puttaparthi.
                Dlaczego Bhagawan nie urodził się w Japonii? Wszyscy ludzie, którzy pracowali i
                byli blisko Bhagawana, nigdy nie pytali, jakie mają <i>punjam</i> (zasługi), że
                są tak blisko. Taka była wola Bhagawana i w taki sposób chciał wykonywać swoje <i>lile</i>
                (boskie czyny). Dlaczego dzisiaj podają w wątpliwość to, co się dzieje? Kwiaty
                możecie pomalować na tysiąc sposobów, ale jeśli w nich nie ma nektaru, nie
                przylecą do nich żadne pszczoły ani motyle. Dla umysłu kwiaty wyglądają tak
                samo [jak naturalne] – mają odpowiednie ubarwienie i kształt, ale dla serca nie
                ma w nich nektaru. Tak więc, tam gdzie jest serce, tam jest Bóg. Różnica między
                tymi dwoma miejscami zawiera się w tym, że w jednym myślą tylko w oparciu o
                umysł: „Jak Swami, który mieszkał w Puttaparthi, może opuścić to miejsce i
                przebywać z kimś innym?” Ale nie mogą zadawać takich pytań, skoro wcześniej nie
                pytali, dlaczego Puttaparthi. Wszyscy wiecie, że Budda urodził się w pobliżu
                Lumbini, ale podróżował po całym świecie, aby rozpowszechniać buddyzm. Czy
                ludzie z tamtego miejsca mogą mówić, że powinien pozostawać tam i nie udawać
                się nigdzie indziej? Nikt nie jest właścicielem Boga. Bóg jest właścicielem
                wszystkich. Gdy przechodzę ze swojego salonu do swojej sypialni, co komu do
                tego? Radość znajduję tam, gdzie żyją według serca. Zbyt wiele umysłu nie jest
                dobre dla duchowości.</span></p>
                
                <p><span style="
                ">Takie samo ego miały <i>gopiki</i> w
                Brindawanie. Myślały, że Kriszna jest przypisany do Brindawanu i należy tylko
                do nich. Jedna drugiej zazdrościła, gdy Kriszna z kimś rozmawiał. Walczyły ze
                sobą o to, że Kriszna faworyzuje „ciebie, a nie mnie.” Aby złamać ich ego,
                Kriszna zaaranżował ową <i>rasa lilę</i>. W czasie tej <i>rasa lily</i> nad
                brzegiem Jamuny w noc z pełnią księżyca podzielił się na wiele kopii i tańczył
                z każdą <i>gopiką</i>, a ona myślała, że Kriszna tańczy tylko z nią. Wszystkie
                były bardzo szczęśliwe i zadowolone, że Kriszna był z nimi. Nad ranem, gdy
                skończyła się <i>rasa lila</i>, podczas powrotu wszyscy rozmawiali. Każda
                mówiła, że Kriszna przez całą noc tańczył tylko z nią. Zapomniały o całonocnej
                radości i teraz zaczęły się na tym tle kłócić. Zatem, jeśli chcecie walczyć o
                to, czy Kriszna jest z wami, czy ze wszystkimi, będziecie dalej walczyć. Ich
                nie obchodzi to, że Kriszna jest z nimi, ale to, że także z innymi. Tak więc,
                jeśli chcecie być zazdrośni, to niezależnie co Bóg zrobi, dalej będziecie
                zazdrośni.</span></p>
                
                <p><span style="
                ">Co wtedy zrobił Kriszna? Pomyślał, że
                nie był to dobry sposób na naukę dla <i>gopik</i> i postanowił udzielić im teraz
                nowej lekcji. Opuścił Brindawan i udał się do Mathury. Smutne <i>gopiki</i>
                wszędzie szukały Kriszny. Przestały jeść i spać i cały czas martwiły się o
                Krisznę. W tej sytuacji Radha powiedziała: „O szalone <i>gopiki</i>, zależy wam
                tylko na ciele Kriszny, a nie na prawdziwym Krisznie, który znajduje się
                wewnątrz. Złościłyście się, gdy Kriszna zabawiał się ze mną. Gdy bawił się ze
                wszystkimi, wy też się złościłyście. Teraz wyjechał do Mathury, a wy znów się
                gniewacie. Jeśli będziecie zależne od Kriszny na zewnątrz, zawsze będziecie
                nieszczęśliwe. Jeśli rzeczywiście wierzycie w Krisznę, znajdziecie Go wewnątrz
                siebie. Wtedy też skończy się cała ta walka.”</span></p>
                
                <p><span style="
                ">&nbsp;</span></p>
                
                <p><b><span style="
                ">2 wielbiciel:</span></b><span style=""> Swami, bardzo
                dziękujemy, że przybyłeś do Japonii. Przepełnia mnie taka błogość i szczęście.
                Bardzo chcielibyśmy dalej mieć tego rodzaju <i>satsangi</i> ze Swamim w Jego
                subtelnym ciele. Bylibyśmy bardzo wdzięczni, gdybyś mógł udzielić nam rady, jak
                dalej prowadzić nasz <i>satsang</i>.</span></p>
                
                <p style="
                
                "><b><span style="">Swami:</span></b><span style=""> Co to jest <i>satsang</i>?
                Jest to słowo w sanskrycie. <i>Sat </i>znaczy prawda. <i>Sanga</i> znaczy
                towarzystwo. Prawdziwym <i>satsangiem</i> jest towarzystwo prawdy. Prawdziwe
                jest tylko serce. Umysł jest fałszywy. Prawda nigdy się nie zmienia. Jest
                nieustraszona. Jest bezinteresowna. Chociaż mówienie tego wszystkiego jest
                dobre, ale Ja chciałbym, abyście znaleźli Mnie wewnątrz siebie. Musicie od
                czasu do czasu spotykać się, od czasu do czasu śpiewać razem <i>bhadźany</i> i
                dyskutować o Swamim. Jeśli będziecie śpiewać z czystą miłością i oddaniem,
                ciągle będę przychodził i przebywał z wami. Ja zawsze wyciągam rękę tak (dłonią
                otwartą w dół), aby dawać; tylko po miłość sięgam tak (dłonią do góry). Gdy gdziekolwiek
                będąc, dacie mi tę czystą miłość, bezinteresowną miłość, nieustraszoną miłość,
                miłość trzymającą się prawdy, zjawię się tam natychmiast. Gdy będziecie w taki
                sposób spędzać życie, każda chwila stanie się <i>satsangiem</i>. Jeśli
                będziecie szli za Mną, Ja pójdę za wami. Zatem, od czasu do czasu spotykajcie
                się wszyscy tutaj albo gdzie indziej i rozmawiajcie o tej prawdzie i
                bezinteresowności. Nie słuchajmy nadmiernie umysłu. Każdy dyskurs wygłoszony w
                Muddenahalli prześlę panu Makino, a on omówi go z wami. <b>Teraz mam tylko
                jedno przesłanie. Dosyć już rozmawialiśmy, dosyć dyskutowaliśmy. Nastał czas
                działania.</b> Nie napełnicie żołądka, patrząc na pożywienie. Żołądka nie
                napełnicie mówiąc o jedzeniu. Podobnie, <b>nie możecie nauczyć się duchowości,
                patrząc na Mój obraz, rozmawiając o Mnie. Możecie Mnie znaleźć tylko przez
                życie zgodne z Moimi naukami</b>. Jeśli pójdziecie w Moje ślady, w końcu
                osiągniecie Mnie. Czy wiecie, co jest do tego potrzebne? Czysta bezinteresowna
                miłość. Tam gdzie jest miłość, tam jest też odwaga. Tam gdzie jest odwaga, jest
                też <i>dharma</i>. Tam gdzie jest dharma, tam jest też <i>satja</i> (prawda).
                Tam gdzie jest <i>satja</i>, tam jest też Sai. Tam gdzie jest Sai, tam jest też
                <i>anandam</i> (błogość). Dam wam nowe miejsce na śpiewanie <i>bhadźanów</i>
                pod nazwą Sathya Sai Anandam. Odtąd wszyscy tam zbierajcie się, pamiętając o
                tym przesłaniu. Wkrótce zorganizuję miejsce na <i>bhadźany</i>, gdzie będziecie
                mogli się spotykać, śpiewać i dyskutować o naukach Swamiego oraz stosować się
                do nich.</span></p>
                
                <p style="
                
                "><span style="">&nbsp;</span></p>
                
                <p><b><span style="
                ">3 wielbiciel: </span></b><span style="">Czekałem na ten <i>satsang</i>.
                Bardzo się cieszę, że mogę tu być. Wyraźnie czuję Twoją obecność. Jednakże,
                mówiąc prawdę, chciałbym zobaczyć Twoją pomarańczową szatę – choćby przez
                chwilę. Czy mógłbyś, proszę, pozwolić mi zobaczyć Twoje subtelne ciało? Kiedy
                mógłbym je zobaczyć?</span></p>
                
                <p style="
                
                "><b><span style="">Swami:</span></b><span style=""> Fizycznymi
                oczami nie można Mnie zobaczyć. Będziesz musiał oglądać Mnie oczami
                wewnętrznymi. Obecnie jestem widoczny oczami mądrości. Ale, aby otworzyć to
                oko, musisz dołożyć starań. To już nie jest szkoła podstawowa, gdzie musisz
                tylko rysować po Moich rysunkach. Te dni minęły. Musisz dołożyć starań. Jakich
                starań? Musisz usunąć wszelkie ślady egoizmu. Nie wystarczy coś takiego jak 50%
                bezinteresowności. Albo jesteś bezinteresowny, albo nie. Tak więc, Swami
                zdecydowanie będzie widzialny i słyszalny dla każdego. Ale to wymaga
                niewielkiego wysiłku. Jeśli włożysz ten wysiłek, gwarantuję ci skutek. Na pewno
                tak się stanie, ale musisz dołożyć tych starań. Wcześnie, aby zobaczyć
                Swamiego, musiałeś kupić bilet na samolot, załatwić wizę, przyjechać do Indii i
                wtedy zobaczyć. Takie starania były potrzebne. Obecnie biletem jest
                bezinteresowna miłość, a bezinteresowna służba – wizą. Mając je, możesz przyjść
                i spotkać się ze Mną. To też nastąpi, Swami zapewnia. Ta kobieta była bardzo,
                bardzo chora, gdy przyjechała do Puttaparthi. Ludzie myśleli, że będzie miała
                raka. W Puttaparthi modliła się do Mnie: „Swami, pobłogosław mnie, abym wróciła
                zdrowa, gdyż muszę opiekować się rodziną.” Nie podszedłem i nie rozmawiałem z
                nią, ani jej nie pobłogosławiłem. Uzdrowiła ją jej wiara. Ochroni was wiara w
                Moje słowa.</span></p>
                
                <p><i><span style="
                ">Guru</span></i><span style="font-size:
                13.0pt;"> to 50%, wiara w <i>guru</i> –
                drugie 50%, razem 100%. Nie tylko w Indiach – także w Japonii. <i>Guru</i> jest
                bardzo ważny. Jeśli już idziecie za nim, idźcie w pełni. Wielu wielbicieli
                idzie za Mną tak jak je się lunch w bufecie – biorą to, co im się podoba,
                zostawiają to, co im się nie podoba. Ale wszystkie te składniki pokarmowe są niezbędne
                dla waszego wzrostu. Wszystkie Moje nauki są różnymi składnikami odżywczymi,
                niczym witaminy, minerały, węglowodany, białka itp. Dlatego musicie zjeść
                wszystko, co jest podawane i nie zostawiać jakiejś części. Każdy lubi jeść
                słodycze. Śpiewanie <i>bhadźnów</i> jest jak spożywanie słodyczy. Jest to
                najprostsza i najłatwiejsza praca. Ale gdy mówię o bezinteresownej służbie,
                jest to podobne do jedzenia gorzkich owoców. Niemniej, jest to także dla
                waszego zdrowia. Zatem, nie wykonujcie dla mnie obowiązków w oparciu o własną
                wygodę. Pokładajcie wiarę i stosujcie się do wszystkiego, co Swami mówi, do
                każdego słowa. Wtedy będziecie mogli Mnie osiągnąć.</span></p>
                
                <p><span style="
                ">Ten Xxxxx – on stracił wszelkie szczęście
                w życiu. Pomyślał, że żyć dalej nie ma sensu, więc powinien je zakończyć. Ale
                natchnęło go przeczytanie kilku linijek Mojego wystąpienia i dzisiaj siedzi
                tutaj i śpiewa <i>bhadźany</i>. „Jesteś Bogiem, jesteś Bogiem. Jestem Bogiem,
                ale ty też jesteś Bogiem.” Uwierzył w to zapewnienie. „Skoro jestem Bogiem,
                czemu miałbym myśleć tak negatywnie? Jestem czysty, jestem nastawiony
                pozytywnie.” <i>Jad bhawam tad bhawati</i> – jak myślisz, takim się stajesz.
                Myślisz, że jesteś prochem, prochem jesteś. Myślisz, że jesteś Bogiem, Bogiem
                jesteś. Wypełnijcie swój umysł pozytywnymi myślami, pozytywnymi słowami,
                podejmujcie pozytywne działania. Tak więc, wiara w słowa <i>guru</i> jest
                bardzo ważna.</span></p>
                
                <p><span style="
                ">Opowiem wam pewną historię. Kiedyś
                japoński <i>guru</i> wezwał kilku uczniów i kazał im przynieść trochę wody z
                rzeki. I co im dał? Dał im koszyki wykonane z bambusa. Każdy pomyślał: „Jak mam
                przynieść wodę w tym koszyku? Wycieknie.” Uczniowie uznali więc, że ich <i>guru</i>
                starzeje się i traci rozum. „Każe nam zrobić coś, co jest niemożliwe.” Ale był
                wśród nich jeden uczeń, który wierzył w słowa <i>guru</i>. Stwierdził, że skoro
                <i>guru</i> tak powiedział, musi to być prawda. Poszedł nad rzekę i próbował
                nabrać wody do koszyka. Próbował raz, dwa, trzy, sto razy – woda wyciekała. Ale
                nie poddawał się. Gdy zbliżył się zachód słońca, zmoczony koszyk zwolna
                napęczniał. Wszystkie szpary zasklepiły się i woda przestała wyciekać. Uczeń
                przyniósł w nim wodę i ofiarował <i>guru</i>. Nie jest to historia zapożyczona
                skądinąd – to historia Makino. Musicie przestrzegać wszystkiego, co powie <i>guru</i>,
                nawet gdy zadanie wyda się niemożliwe do wykonania. Słowo <i>guru</i> sprawi,
                że stanie się wykonalne.</span></p>
                
                <p><span style="
                ">Czy mamy jeszcze czas? OK, jeszcze jedno
                pytanie. Tamta pani.</span></p>
                
                <p><b><span style="
                ">&nbsp;</span></b></p>
                
                <p><b><span style="
                ">4 wielbiciel</span></b><span style="">: Jestem
                wdzięczna, że dostałam szansę zadania Bhagawanowi tego pytania. Tylko Swami
                może na nie odpowiedzieć. Swami, jak powiadasz, wszyscy jesteśmy Bogiem i
                jesteśmy jednością z Tobą. Jak to więc się dzieje, że rozwijamy przywiązania i
                ego, oraz że ciągle wracamy na ziemię? Czy jest to też częścią Twojej <i>lili</i>?
                Czy mógłbyś to wyjaśnić?</span></p>
                
                <p style="
                
                "><b><span style="">Swami:</span></b><span style=""> Czy widziałaś
                małe dzieci, jak przebierają się dla zabawy? Na szkolne zawody ubierają
                różnorakie stroje. Ktoś przebierze się na małpę, ktoś inny – na niedźwiedzia,
                inny – na boga, na Ramę, Krisznę. Ludzie są do tego podobni… Dla dzieci
                przebierać się na różnych ludzi to zabawa. Ale czasami ich przebranie tak im
                się podoba, że nawet po powrocie do domu nie chcą usunąć małpiego ogona.
                Dziecko, które otrzymało rolę małpy, później w ogóle nie chciało pozbyć się ogona.
                Chciało go nosić i wszędzie chodzić z nim. My tak samo rozwijamy przywiązania
                do rzeczy. Zapominamy o fakcie, że przebraliśmy się na różne istoty jedynie po
                to, by ucieszyć Boga. Po zakończeniu przedstawienia musimy usunąć przebranie.
                Ale, jak te dzieci, chcemy je nosić, ponieważ podoba się nam. Pięcioletnie
                dziecko tak postąpi, ale gdy dorośnie, zrozumie, że jest to niewłaściwe i już
                nie będzie nosiło przebrania. W rzeczy samej, gdy dorosłemu ktoś pokaże jego
                zdjęcie z dzieciństwa, on się nawet zdenerwuje. Właśnie w taki sposób
                wdzialiśmy przybranie wielbiciela z Japonii, z Indii, z Ameryki, z Kanady …,
                ale ostatecznie wszyscy jesteśmy istotami boskimi. Ucząc was bezinteresownej
                miłości, bezinteresownej służby, usuwam z was to przebranie. Makijaż zostaje
                zmyty z waszej twarzy za pomocą wody miłości i mydła bezinteresownej służby.&nbsp;
                Oto cała <i>lila</i>.</span></p>
                
                <p style="
                
                "><span style="">&nbsp;</span></p>
                
                <p><b><span style="
                ">5 wielbiciel:</span></b><span style=""> bardzo się
                cieszę, że mogłem uczestniczyć w tym spotkaniu i odczuwać Twoją obecność, mimo,
                że aż do dzisiejszego rana wahałem się tu przyjść. Mam jedno pytanie, z którym
                para się też wielu wielbicieli. Wielokrotnie mówiłeś, że nigdy nie korzystasz z
                pośredników. Dlaczego więc teraz używasz mediatora?</span></p>
                
                <p style="
                
                "><b><span style="">Swami:</span></b><span style=""> Jak przyszedłeś
                do Swamiego? Czy Swamiego poznałeś całkiem sam? Czy ktoś ci powiedział, że w
                Puttaparthi jest Swami?</span></p>
                
                <p style="
                
                "><span style="">&nbsp;</span></p>
                
                <p><b><span style="
                ">5 wielbiciel:</span></b><span style=""> Przez książkę.</span></p>
                
                <p style="
                
                "><b><span style="">Swami:</span></b><span style=""> Wszyscy
                dowiedzieliście się o Swamim w taki czy inny sposób, nieprawdaż? Ktoś dał wam
                książkę, ktoś opowiedział wam o Swamim, powiedział, że Baba mieszka w
                Puttaparthi i zasugerował, byście tam pojechali i zobaczyli Go. Czy nazwiesz
                ich mediatorami? Dlaczego wtedy nie pytałeś: „Dlaczego Swami nie przyszedł do
                mnie i bezpośrednio nie powiedział, abym przyjechał do Puttaparthi? W istocie
                pojechałeś i potem dziękowałeś ludziom, którzy powiedzieli ci o Swamim, za to,
                że pomogli ci znaleźć Swamiego. Jest to też sposób pokazania, że Swami jest
                wewnątrz. Otwórz trzecie oko, a będziesz mógł znaleźć Go wszędzie. Gdyby twój
                przyjaciel nie pojechał i sam nie zobaczył Baby w Puttaparthi, czy mógłby z
                przekonaniem o Nim ci opowiedzieć? Ponieważ sam doświadczył, powiedział ci z
                przekonaniem i pojechałeś. Podobnie, w ten sam sposób Swami mówi ci przez tych
                ludzi, że możesz znaleźć Go w swoim środku, możesz znaleźć Go wewnątrz siebie.
                Dołóż starań. Teraz nie musisz nigdzie jechać. Możesz znaleźć Swamiego
                wszędzie, gdzie jesteś. Tak jak powiedziałem: <b>„Biletem jest bezinteresowna
                miłość, wizą – bezinteresowna służba.”</b> Tak więc, oni przybywają tylko po
                to, by pomóc wam odnaleźć Swamiego w sobie. W dniu, w który, znajdziesz
                Swamiego w sobie, wokół siebie, nad sobą, pod sobą, przyjdziesz i podziękujesz
                im wszystkim. O ile nie zrobię czegoś innego, nikt nie uwierzy. Obecnie
                zabieram niektóre dzieci ze „szkoły podstawowej” i przyjmuję do „szkoły
                średniej.”</span></p>
                
                <p style="
                
                "><span style="">&nbsp;</span></p>
                
                <p><b><span style="
                ">6 wielbiciel:</span></b><span style=""> Kiedy byłeś w
                ciele fizycznym, wielu japońskich wielbicieli modliło się, abyś zechciał
                przyjechać do Japonii. Ale przybyłeś dopiero teraz, w subtelnej postaci. Jeśli
                istnieje jakiś szczególny powód lub znaczenie tego, że w tym czasie tu
                przychodzisz, czy mógłbyś nam to wyjaśnić? Drugie pytanie brzmi: gdy patrzymy
                na świat, a także na Japonię, widzimy liczne smutne sytuacje dotykające kobiet,
                dzieci, ludzi starszych i słabych, które wynikają z braku miłości lub braku
                wiary w Boga. Stan ten zdaje się pogarszać. Istnieje powiedzenie, że noc jest
                najciemniejsza przed świtem i że każda noc kończy się. Mocno więc wierzę, że z
                błogosławieństwami Swamiego, wszystko się poprawi. Mam odczucie, że Twoje
                przyjście do tego kraju w tym czasie może być ściśle związane z poprawą tego
                stanu. Bylibyśmy bardzo wdzięczni, gdybyś mógł coś powiedzieć w tej sprawie. I
                ostatnie pytanie: słyszałem, że Swami jest w Japonii już od wczoraj. Jeśli tak
                jest, czy mógłbyś potwierdzić, że byłeś ze mną dzisiaj rano, gdy się zbudziłem?</span></p>
                
                <p style="
                
                "><b><span style="">Swami:</span></b><span style=""> Wszyscy
                modliliście się, abym przyjechał do tego kraju. Wiem, że [do Indii] przyjechała
                cała grupa i śpiewała <i>Wedy</i>. Prosili Swamiego: przyjedź do Japonii,
                przyjedź do Japonii. Odpowiedziałem, że na pewno przyjadę, na pewno przyjadę.
                Widzicie, wtedy moje ciało było bardzo ważne dla wielbicieli. Wówczas każdego
                dnia do Puttaparthi przyjeżdżało tysiące wielbicieli, znosząc liczne trudy.
                Gdyby nie było Mnie w Puttaparthi przez jeden dzień, czuliby się bardzo źle.
                Nie mogłem odmawiać tak wielu ludziom dla dobra niewielu. Byli to prości
                ludzie, biedni ludzie, którzy włożyli ogromny wysiłek i całe oszczędności, by z
                wielu krajów przyjechać i Mnie zobaczyć. Jest to sytuacja podobna do tej, gdy któregoś
                dnia zamykasz biuro, a wszyscy klienci niepokoją się. Na rynku cały czas coś
                się dzieje, a ty powinieneś o tym ich informować. Gdy któregoś dnia nie
                zjawiasz się, wszyscy, którzy z tobą współpracują, zamartwiają się. Tak samo
                wielbiciele liczyli na widzenie Mnie w Puttaparthi. Ale teraz ci, którzy tam
                przyjeżdżają, nie liczą na widzenie Mnie – są szczęśliwi, widząc <i>Mahasamadhi</i>
                (grobowiec). Są szczęśliwi, robiąc tam <i>pranamy </i>(pokłony) i wracając.
                Wcale Mnie nie szukają. Dlatego teraz mogę swobodnie podróżować, gdzie Mi się
                podoba. Z tamtej pracy odszedłem na emeryturę i jestem wolny. Teraz przybywam
                wszędzie, gdzie Mnie wzywają. Poza tym, wtedy zorganizowanie Mojej wizyty tutaj
                wymagałoby wiele wysiłku z waszej strony. A gdybym odwiedził jeden kraj,
                wszystkie inne czułyby się źle. Jak mógłbym porzucić tych biednych ludzi w
                potrzebie i cierpiących, dla których przede wszystkim przyszedłem? Teraz, skoro
                już przybyłem tutaj, wy musicie przyjść do Mnie.</span></p>
                
                <p><span style="
                ">Wasze modlitwy są intensywne tylko
                wtedy, gdy jesteście w kłopotach. Właśnie dlatego czujecie Moją obecność przy
                sobie. Gdy dzieje się dobrze, bardzo szybko zapominacie. To tak samo jak z dziećmi,
                które cały czas bawią się, a do matki przychodzą tylko wtedy, gdy są głodne.
                Ponieważ byliście głodni, co znaczy, że byliście smutni, przyszedłem do was.
                Wszystkie takie rzeczy są jak przelotne chmury. Nie myślcie więc o nich zbyt
                wiele. Wasze zatrudnienie, wasza praca, wasza rodzina to Moja odpowiedzialność,
                Ja o nie zadbam. Ponieważ macie skłonność zapominać o Mnie w dobrych czasach,
                niekiedy posyłam trudności, abyście o Mnie pamiętali. W trudnych czasach wasze
                modlitwy są prawdziwe. Ponieważ przechodziliście trudności, modliliście się
                bardzo intensywnie, więc przyszedłem.</span></p>
                
                <p><span style="
                ">Jeśli chodzi o problem miłości na
                świecie, najpierw musicie rozwinąć miłość w sobie. Jeden Sai Baba, z sercem
                pełnym miłości, potrafił przemienić tak wielu ludzi. Gdybyście wy wszyscy
                rozwinęli tę samą bezinteresowną miłość i stali się Sai Babą, czy nie
                zmienilibyście świata? Sai Baba nie jest ciałem ani umysłem. Jest on sercem
                pełnym miłości. Gdy rozwiniecie takie serce, też staniecie się Sai Babą. Tylko
                wyobraźcie sobie ten pokój pełen ludzi z sercami przepełnionymi miłością – czy
                świat nie zmieniłby się? „Kocham Swamiego, kocham Swamiego” – to bardzo
                ograniczona miłość. „Kocham każdego, gdyż każdy to Swami” – oto nieograniczona
                miłość. Rozwińcie taką miłość, a będziecie w stanie zmienić świat. W rzeczy
                samej, nastał czas, by Moi wielbiciele wznieśli się i stali Mną.</span></p>
                
                <p><span style="
                ">Dość szkolenia. Teraz musimy pójść do
                bitwy. Co to za bitwa? Walka przeciwko wszelkiemu złu, wszystkiemu, co nie jest
                dobre, i zmienianie wszystkiego w dobro. Macie we Mnie dobrego dowódcę, ale wy
                też musicie być dobrymi żołnierzami. Ja, jako Mistrz, powiem wam, co robić. Ale
                wy, jako wielbiciele, musicie to właściwie wykonać.</span></p>
                
                <p><span style="
                ">&nbsp;</span></p>
                
                <p><b><span style="
                ">7 wielbiciel:</span></b><span style=""> Chciałbym, abyś
                pozwolił nam zrobić jedną rzecz. W Japonii mamy bardzo problematyczną sytuację,
                w której bardzo trudno wprowadzić właściwą edukację. Szczególnie dotyczy to
                kształcenia dzieci w szkole i ich wychowania. Dlatego prosimy Cię o pozwolenie
                na rozpoczęcie w Japonii Twojego edukacyjnego programu, SSEHV (WWL). A raczej,
                czy mógłbyś pokierować nami we wprowadzaniu w Japonii Twojego edukacyjnego
                programu? Bylibyśmy bardzo wdzięczni, gdybyś mógł powiedzieć coś na temat
                dzieci i edukacji.</span></p>
                
                <p style="
                
                "><b><span style="">Swami:
                </span></b><span style="">Nie
                musimy otwierać nowych szkół w celu Wychowywania w Wartościach Ludzkich (WWL). Przyczyną
                wszystkich dzisiejszych niepokojów na świecie jest to, że dzieci nie zostały
                właściwie wyedukowane. Uczy się je, jak zarabiać pieniądze, ale nie nauczono
                ich, jak z nich korzystać. Uczy się je, jakie mają prawa, ale nie nauczono ich,
                jakie mają obowiązki. Uczy się je tego, że są częścią społeczeństwa, ale nie
                nauczono tego, że społeczeństwo także należy do nich. Nauczono ich tylko o
                „ja,” „ja,” „ja,” a niczego o „my.” Największą z wszystkich wartości jest
                miłość. Gdy chcecie mieć czystą wodę w kranach, musicie dopilnować, aby czyste
                były zbiorniki. Nauczyciele są jak zbiorniki, a dzieci – jak krany. Zatem,
                rozwińcie program szkolenia WWL dla nauczycieli. Dzięki niemu dzieci otrzymają
                szkolenie automatycznie. Gdy zmieni się jeden nauczyciel, zmieni się też tysiąc
                uczniów. Gdy będziecie próbowali zmienić jedynie uczniów, uda się wam zmienić
                tylko jednego. Ci z was, którzy wierzą w WWL powinni, stworzyć zespół i zebrać
                razem dyrektorów szkół i nauczycieli i pracować z nimi w misji Wartości
                Ludzkich. Jeśli zbierzecie razem nauczycieli, rodziców i dyrektorów, bardzo
                łatwo będziecie mogli upowszechniać te wartości. Zatem, nie ma potrzeby
                organizowania tutaj nowych szkół, aby prowadzić tę edukację, gdyż istnieje dość
                szkół. Potrzeba tylko właściwego szkolenia nauczycieli, przez co uczniowie będą
                co rok zdobywać te nauki automatycznie.</span></p>
                
                <p><span style="
                ">W Indiach sytuacja wygląda inaczej.
                Przede wszystkim nie mamy szkół. Musimy tam zakładać szkoły, szkolić nauczycieli,
                uczniów i rodziców. W Japonii jest inaczej, dlatego rozwińcie program szkolenia
                nauczycieli – zbierajcie nauczycieli, szkolcie ich i pomagajcie im praktykować
                te wartości. Dzieci, patrząc na ich, będą się uczyć. Korzystajcie też z pomocy
                z innych krajów. Opracujcie program, a Ja przyślę wykładowców i nauczycieli z
                całego świata, aby wam pomogli.</span></p>
                
                <p><span style="
                ">W przyszłym roku, w tej samej porze,
                Swami przybędzie ponownie do Japonii. Przygotujcie do tego czasu konferencję
                dla nauczycieli na temat edukacji opartej na wartościach. Daleka podróż zaczyna
                się od pierwszego kroku. Postawcie pierwszy krok. Któregoś dnia osiągniecie
                cel.</span></p>
                
                <p><span style="
                ">Wyczerpaliśmy czas. Wiem, że są dalsze
                pytania – możecie wszystkie je spisać i przekazać Makino. Napiszcie je i
                dajcie, a Swami przyśle odpowiedzi.</span></p>
                
                <p><span style="
                ">Zaśpiewajcie jeden <i>bhadźan</i>. <i>Rama
                Rama Ram. Prema mudita</i>…</span></p>
                
                <p style="text-indent:
                35.45pt;"><span style="
                " lang="EN-US">&nbsp;</span></p>
                
                <p style="
                text-align:right;" align="right"><span style="font-size:10.0pt;" lang="EN-US">[tłum. KMB,
                Toruń, 20150607]</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Bhagawan</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        http://www.astro.umk.pl/~kb/personal.html>my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>