<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Dziennik z Kodaikanal</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Dziennik z Kodaikanal</h2>

              <p>
                <figure class="text-center">
                    <img src="../../../img/Dyskurs13-05-2014Cover.jpg"">
                    <figcaption>W dniach 12 – 21 maja 2014 r. Bhagawan Śri Sathya Sai Baba w
                        swoim <b><span style="font-weight:bold">Świetlistym Ciele</span></b> odwiedził
                        Kodaikanal, słynną górską placówkę w stanie Tamil Nadu w Indiach. Towarzyszyło
                        Mu ponad 100 studentów i gości. Bhagawan codziennie wygłaszał mowy na rozmaite
                        tematy. Poniższy tekst jest zapisem Powitalnego Dyskursu wygłoszonego przez
                        Swamiego w pierwszym dniu tej Boskiej Sesji..</figcaption>
                </figure>
                <p>Teraz
                    już wiem, że większość z nas rozumie fenomen Bhagawana; jak to On bardzo ładnie
                    ujął: Bhagawan jako Śri Sathya Sai Baba, który żył w ciele tak wiele lat, jest
                    tym, co znaliśmy. Niemniej, postanowił On odsłonić swoją drugą stronę, która jest
                    tym, co On robi dla znacznie młodszych ludzi, takich jak my tutaj.</span></font>
              </p>

                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Jesteśmy
                bardzo wdzięczni C. Sreenivasowi, który podjął się trudu przybycia z dalekiego
                Raipuru mimo nawału pracy, jaką wykonuje. Swami jest niezmiernie podekscytowany
                i uradowany tym, że może go przyjmować właśnie w tym miejscu. Swami chciałby
                przekazać część historii, którą Sreenivas opowiedział (w swoim wcześniejszym
                wystąpieniu). </span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">W
                roku 1993 Swamiemu ofiarowano tę posiadłość i Swami wyznaczył Sreenivasa, aby
                rozmawiał z odpowiednimi ludźmi w celu wykonania tego zadania. Trochę czasu
                zajęło wymyślenie sposobu, w jaki grupa przemysłowa, o której wspominał
                Sreenivas, może przekazać Bhagawanowi tę posiadłość, ale w końcu sprawy
                potoczyły się gładko i Bhagawan osobiście odwiedził to miejsce. Wtedy nie było
                dobrych dróg takich jak dzisiaj, ale On zadał sobie trud, żeby przyjechać do
                Kodaikanal z Bangalore przez Chennai (Madras). Oglądając tę posiadłość
                zauważył, że miejsce to ma pewne negatywności. Nie chodzi o tę wielką panią,
                która tu mieszkała, lecz o „miejsce samobójstwa,” o którym on (Sreenivas) nie
                chciał wspominać. Swami przeprowadził oczyszczanie całego terenu, chodząc
                wszędzie i usuwając negatywną energię. Potem przejął go pod swoje skrzydła.
                Swami odwiedzał to miejsce wielokrotnie z uczniami i studentami, a nawet ze
                Sreenivasem, Narasimhamurthim i wieloma innymi wielbicielami, którzy Mu
                towarzyszyli.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Ale
                istniał czas, na który Swami czekał. To, co teraz powiedział Sreenivas, jest
                tylko połowiczną prawdą. Pełna prawda to fakt, że był to dopiero pierwszy
                rozdział historii Boga i człowieka. Dziewczynka, której objawił się Jezus i
                przedstawił cel jej życia, była tylko wstępem do tej książki o Kodaikanal.</span></font></p>
                
                <p class="MsoNormal"><i><span style="&quot;Times New Roman&quot;,&quot;serif&quot;;
                font-style:italic">(Bezpośrednio przed wystąpieniem Bhagawana C. Sreenivas
                mówił o pani Idzie Scudder. Dom, w którym Bhagawan prowadził Letnie Seminaria w
                Kodaikanal należał kiedyś do rodziny Scudder z Ameryki. Kiedy Ida była mała, w
                tym właśnie domu objawił się jej Jezus Chrystus i polecił, aby służyła
                społeczeństwu prowadząc opiekę medyczną. W stosownym czasie założyła jeden z
                największym szpitali w Indiach, Christian Medical College w Vellore.)</span></font></i></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Następne
                rozdziały będą znacznie wspanialsze, gdyż Bhagawan postanowił&nbsp; rozpocząć tutaj
                nową rewolucję z młodymi studentami i uczniami, takimi jak wy. Dla Swamiego nie
                jest to czymś niemożliwym. </span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Rama
                walczył w wojnie za pomocą małych małp, które nie miały niczego w rękach poza
                kamieniami i kijami. Jak w ogóle można prowadzić taką wojnę przeciwko potężnemu
                Rawanie? Było to możliwe dzięki dwóm rzeczom.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Po
                pierwsze, była to Wola Pana Ramy. Ale sama Wola nie wystarczy. Ludzie powinni
                zebrać się i spowodować urzeczywistnienie tej Woli. Liczni wielcy mędrcy i
                święci zbudowali wiele rzeczy. Nawet wy codziennie, może trzy razy dziennie,
                śpiewacie „<i><span style="font-style:italic">Samasta loka sukhino bhawantu</span></i>”
                (Niech świat trwa w szczęściu). Dlaczego więc cały świat nie staje się
                natychmiast szczęśliwy? Ponieważ z samego codziennego śpiewania nic się nie
                wydarza. Aby to się wydarzyło, musimy dołożyć starań.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">W
                przypadku dzieci, jeśli usiądziecie i wyobrazicie sobie lody, możecie ciągle
                tak sobie wyobrażać, ale lody nigdy nie dostaną się do waszych żołądków.
                Musicie włożyć wysiłek na zdobycie ich, otwarcie opakowania, zjedzenie i
                strawienie. Bhagawan powiedział Sreenivasowi tylko jedno: „Twoje życie ma
                służyć społeczeństwu. Powinieneś być przy Mnie, a ja cię poprowadzę. Musisz być
                gotowy na wszelkie trudy i wysiłki, jeśli to pomoże innym.” Wtedy był bardzo
                młodym chłopcem. Niektórzy z was mogą być w jego wieku. Nie miał pojęcia, o
                czym Swami mówił, ale Bhagawan zapewnił go: „Przyjdzie dzień, kiedy zrobisz
                wielkie rzeczy w służbie społeczeństwu.” I ten dzień nastał, a będzie jeszcze
                wiele takich dni.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Najpierw
                jego matka zaczęła prowadzić Szpital Ogólny w Whitefield (Bangalore). Była
                dobrze wykształconą kobietą i bardzo oddaną. Wcześniej była w Afryce, gdyż sama
                była lekarzem, ginekologiem. Potem wstąpiła w sferę Swamiego, a Swami
                zdecydował, że ma służyć społeczeństwu poprzez otwarcie małego szpitala.
                Chociaż fizycznie już jej tu nie ma, jej duch żyje w sercu Sreenivasa, a on
                niestrudzenie kontynuuje tę misję upowszechniania opieki zdrowotnej, służby
                społeczeństwu w różnych częściach tego kraju.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Ta
                kobieta była <i><span style="font-style:italic">karma joginią</span></i>, to
                jest, kobietą oddaną swojej pracy, którą wykonywała jako jogę, jako unię z
                Boskością. W rzeczy samej, ostatnie tchnienie wydała na własnym krześle rano po
                dokonaniu otwarcia tego szpitala. Nie miała nikogo, kto by jej pomagał. Nie
                miała chłopców oddziałowych, pielęgniarek itp., ale sama zwykła brać miotłę,
                sprzątać cały szpital, potem szła do swojego gabinetu i zaczynała przyjmować
                pacjentów. Jej dzień zaczynał się o godz. 5 rano i kończył o 11 wieczorem. Mimo
                to znajdowała czas na zadbanie o swoją rodzinę, jak też wyjście po wskazówki i <i><span style="font-style:italic">darśan</span></i> (widzenie) Swamiego. Żyła jedynie
                dla służby i innego celu nie miała.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Szpital,
                o którym wspominał Sreenivas (CMC w Vellore) może być największym na świecie,
                czy chrześcijańskim szpitalem, ale jest to jeden szpital w jednym miejscu.
                Jednak to, co Bhagawan rozpoczął poprzez matkę Sreenivasa, rozmnoży się w
                wiele, wiele szpitali w wielu, wielu miejscach w Indiach i poza nimi.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Pewnego
                dnia wszystkie te szpitale razem będą stanowiły największy łańcuch szpitali na
                świecie zawsze oferujący całe medyczne wyposażenie całkowicie za darmo.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Jak
                już jakiś czas temu powiedział Swami, Jego <i><span style="font-style:italic">sankalpą</span></i>
                (wolą) jest, by tak się stało, ale będzie to dzięki wysiłkowi ludzi takich jak
                Sreenivas, który wyrzekł się wszystkiego. Dwa lata temu, gdy Bhagawan
                zakomunikował mu, że będzie musiał założyć szpital w Raipurze, Sreenivas porzucił
                wszystkie swoje prace w Bangalore i na dwa lata przeniósł się do Raipuru.
                Nigdzie się już stąd nie przenosił, aby wypełnić wolę Bhagawana, tak jak On
                postanowił. Trzeba podejmować wysiłki. Łaska Boga plus ludzki wysiłek równa się
                powodzenie. Sama Łaska Boga niczego nie osiągnie. Niewiele może przynieść też
                sam ludzki wysiłek.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Sreenivas
                ma też córkę, która nie przyjechała tutaj, gdyż zdaje egzaminy – zgodnie z
                życzeniem Bhagawana. Chce zostać lekarzem i oddać się służeniu społeczeństwu.
                Jak wspomniałem wcześniej, w nim ciągle żyje duch jego matki, a jego duch
                będzie żył w jego własnej córce. Ta rodzina okryje się chwałą, tak jak owa
                rodzina ze Zjednoczonego Królestwa, o której mówiłem, a której misją była
                opieka zdrowotna. Także rodzina Sreenivasa nie ustępuje takim rodzinom.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Wszyscy
                jesteście małymi chłopcami. Być może, gdy osiągniecie jego wiek, wszystko to
                zobaczycie na własne oczy. Nie tylko zobaczycie – będziecie także tak
                postępować. Tego wam Bhagawan błogosławi!</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Wracając
                do historii tego bungalowu – na tym się ona nie kończy. Po pewnym czasie
                Bhagawan postanowił, że bungalow ten nie będzie przypisany Jemu. Dla wszystkiego,
                co Swami powiedział lub zrobił, istnieje powód. Nikt tego nie rozumiał,
                włącznie ze Sreenivasem. Koniec końców Swami sprawił, że dzisiaj ten bungalow
                stał się świątynią – nie dlatego, że odwiedził go Jezus Chrystus lub Swami,
                lecz dlatego, że wy wszyscy jesteście tutaj. Tam gdzie są wielbiciele, tam jest
                Pan. A gdzie jest Pan, tam jest świątynia.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Teraz
                nie powinniśmy już nazywać tego bungalowem. Bungalow to budynek skonstruowany z
                kamieni, cegieł i zaprawy murarskiej. Ten natomiast jest zbudowany z miłości i
                więzi między Bhagawanem i Jego wielbicielami. Swami zapewnił Sreenivasa, że
                miejsce to z czasem będzie stwarzało wielu następnych Sreenivasów.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Dzisiaj
                zgromadzili się tutaj liczni wielbiciele. Swami jest niezmiernie szczęśliwy z
                tego, że ma was tu teraz wszystkich. Swami mówi, że nie przyszliście tu po
                prostu z własnej woli. To Bhagawan postanowił ściągnąć was razem w tym miejscu
                i czasie.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">W
                historii ludzkości istnieje bardzo, bardzo święty i bardzo wyjątkowy czas,
                kiedy Jeden Duch przechodzi do drugiego. Wkrótce Misja Bhagawana wzrośnie,
                rozszerzy się i dosięgnie wszystkich zakątków świata. Nowy Awatar, Bhagawan
                wróci już niebawem fizycznie, dla tych, którzy łakną Go w postaci nowego
                Awatara, kolejnego Sai Awatara. Dopóki wierzycie, że Bhagawan jest z wami,
                powinniście uczestniczyć w tej Misji, która będzie kontynuowana od tego Awatara
                do następnego. Tym, którzy nie rozumieją, o co tu w ogóle chodzi, Swami chce
                dać mały przykład.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Macie
                radioodbiornik. Na antenie są piosenki. Czy możecie je usłyszeć bez odbiornika?
                W eterze piosenki są stale. Istnieje wiele radiostacji. Mamy All India Radio.
                Mamy London Radio. Mamy American Radio. Wszystkie te wiadomości i piosenki
                teraz znajdują się w eterze, ale trzeba mieć instrument nazywany
                radioodbiornikiem, by wychwycić sygnał i zamienić go w dźwięki.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Nie
                da się tego zrobić bez odbiornika. Inną niezbędną rzeczą jest dostrojenie
                odbiornika. Musi być dostrojony do właściwej stacji. Dopiero wtedy będziecie
                mogli usłyszeć właściwą piosenkę. Gdy dostrojenie nie jest dość precyzyjne,
                będziecie słyszeli dużo szumów bez głosu.&nbsp; Umysł jest odbiornikiem. Swami jest
                dźwiękiem. Jeśli chcecie wychwycić Swamiego, nie tylko w formie audio, ale też
                wideo, musicie mieć bardzo, bardzo mocne połączenie. Wasz umysł powinien być
                nie tylko spokojny, ale także czysty.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Bez
                czystego i spokojnego umysłu bardzo trudno zrozumieć zjawisko Ducha.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">W
                czystym jeziorze możecie zobaczyć odbicie nieba, ale też możecie oglądać dno
                jeziora. Ale wymaga to spełnienia dwóch warunków. Po pierwsze, woda powinna być
                czysta, gdyż w błotnistej wodzie nie zobaczycie żadnego odbicia, nawet
                własnego. Po drugie, jeśli woda nie jest spokojna, jeśli porusza się tak jak w
                rzece, bardzo trudno zobaczyć w niej odbicie nieba. Swami odbije się w sercu,
                które jest spokojne i czyste. Najlepszy wiek na rozwinięcie tych cech przypada
                na okres tuż przed przejściem od dzieciństwa do dorosłości. Jest to doniosły
                etap, na którym rozumiecie najważniejsze rzeczy dotyczące życia. Wszystkie
                dzieci takie jak Naćiketas, Dhruwa czy Markandeja zdołali uchwycić ten fenomen
                w swoim bardzo młodym wieku. Zaraz gdy wyrośniecie z tego wieku, umysł zacznie
                zadawać zbyt wiele pytań i będzie dalece trudniej rozumieć.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Jest
                to poważny problem, stanowiący chorobę, na którą dzisiaj cierpi większość
                wysoko wykształconych ludzi. Mają oni zbyt wiele umysłu, a za mało serca. Swami
                uważa, że dzieci, które są tu obecne, są o wiele lepiej wyposażone do
                zrozumienia tego i przyjęcia do serca. Są to ludzie, którzy na życzenie
                Swamiego mogą zrobić o wiele więcej dla społeczeństwa niż nawet osoby
                wymienione wcześniej.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Jest
                tutaj dr Ram Shetty. Jest on jednym z tych sędziwych wielbicieli Bhagawana,
                którzy przybyli tu dla Bhagawana. Jutro będzie on opowiadał nam o swoich
                związkach z Bhagawanem. Gdy Bhagawan napomknął dr Ramowi Shetty: „Potrzebuję
                twojej małej pomocy do utrzymania mojego szpitala,” wiecie co odpowiedział?
                Powiedział: „Swami, powiedz, czy mam sprzedać dom i dać to Tobie?” Swami na to
                rzekł: „Nie, nie, nie! Jeśli sprzedasz dom, gdzie zamieszkasz?” On zaś
                powiedział: „Daj mi dwa pokoje w Muddenahalli; będę jadł <i><span style="font-style:italic">rasam</span></i> i <i><span style="font-style:italic">annam</span></i>
                (potrawy sojowe i ryżowe) i będę przebywał przy Tobie.”</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Są
                tu ludzie z Singapuru. Mieli też przyjechać ludzie z Kanady. Z pewnych powodów
                nie dotarli i teraz naprawdę bardzo żałują.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Wszyscy
                ci ludzie z Singapuru są bardzo, bardzo dobrymi przyjaciółmi. Jakiego rodzaju
                przyjaciółmi? Nie typu „Cześć, witaj.” Są to przyjaciele, którzy chcą zbierać
                się i służyć. W miastach takich jak Singapur ludzie zbierają się na ogół w
                weekendy, aby robić, wiecie co? Nie powinniśmy nawet wspominać takich rzeczy w
                tym świętym miejscu! (<i><span style="font-style:italic">Śmiech.</span></i>)
                Ale zbierają się oni, by śpiewać <i><span style="font-style:italic">bhadźany</span></i>
                (nabożne pieśni), prowadzić <i><span style="font-style:italic">satsangi</span></i>
                (rozmowy na tematy duchowe) i pogłębiać rozumienie Misji Swamiego oraz
                decydować o tym, jak ją kontynuować. Zebrałem ich tutaj dzisiaj po to, abyście
                wzięli ich za przykłady do naśladowania, uczyli się od nich i w przyszłości
                starali się stać takimi, jak oni.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Powinienem
                wspomnieć o wysiłkach i poświęceniu nauczycieli i seniorów tych instytucji.
                Narasimhamurthi przyszedł do mnie jako młody chłopiec w wieku dziewiętnastu
                lat. Przepełniał go strach i obawy. Nie wiedział, co ma robić w swoim życiu.
                Swami wezwał go i powiedział: „Twoje życie jest w Moich rękach.” Do dziś jego
                życie jest w rękach Swamiego. Nawet gdyby chciał, nie może się z nich wyrwać! (<i><span style="font-style:italic">Śmiech</span></i>.) Dlaczego? Ponieważ oddał się Mi,
                a Ja go zaakceptowałem. Gdy już raz zaakceptuję, nie oddaję. Zważajcie więc,
                zanim się oddacie, ale gdy to robicie, bądźcie tego pewni.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Jest
                tu Tigrett, który także w młodym wieku z wielkim entuzjazmem rozpoczął służbę
                na rzecz społeczeństwa. Wkrótce zaczął robić interesy. Nie wszyscy możecie to
                wiedzieć, gdyż mogło was jeszcze nie być na tym świecie, gdy on prowadził swoje
                interesy. Jest on dzisiaj tutaj, gdyż Swami wezwał go. Swami powiedział mu:
                „Chcę w Puttaparthi zbudować Szpital Superspecjalistyczny. Co możesz dla Mnie
                zrobić?” Tigrett odpowiedział: „Wszystko, co powiesz, Swami.” Swami wtedy
                rzekł: „Sprzedaj swój biznes; użyjemy tych pieniędzy do zbudowania szpitala.” W
                ciągu tygodnia wrócił, zrobił co trzeba i przywiózł do Puttaparthi to, czego
                Swami potrzebował.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Nie
                są to zwykli ludzie. Są to święci i mędrcy, którzy reinkarnowali się w
                rozmaitych postaciach. Jest to jeden z sekretów, który Swami dzisiaj wyjawia
                nam.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Gdy
                przychodził Rama, zapadła decyzja o Lakszmanie, Daśaracie, Sicie a nawet o
                Rawanie. Wtedy <i><span style="font-style:italic">sutra-dhari</span></i>,
                Reżyser, jakim był Rama, stał się też <i><span style="font-style:italic">patra-dharim</span></i>,
                aktorem. I to on rozegrał <i><span style="font-style:italic">Ramajanę</span></i>.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Także
                teraz, gdy Swami postanowił przyjąć postać Śri Sathya Sai Baby i przyjść na ziemię,
                zabrał ze sobą wszystkich tych ludzi. Oni mogą myśleć: „Byłem w Ameryce. Jestem
                w Londynie. Jestem w Japonii. Jestem w Singapurze. Jestem w Raipurze.” Ale
                wszystko to jest tylko wasz sposób postrzegania. Swami postrzega wszystkich
                jako Jedno i zdecydował sprowadzić wszystkich tych ludzi podczas swojego
                awatarostwa, aby kontynuować pracę, dla jakiej przyszedł. Zapewnia On też, że
                nie jest to wasze ostatnie urodzenie. Nastąpi jeszcze wiele, wiele narodzin;
                Bhagawan przyjdzie wiele, wiele razy i dalej będzie sprowadzał was wszystkich
                razem, gdyż podoba mu się towarzystwo wszystkich was obecnych tutaj.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Czym
                jest <i><span style="font-style:italic">moksza</span></i> (wyzwolenie)? <i><span style="font-style:italic">Moha-kszaja</span></i> (koniec ułudy) to <i><span style="font-style:italic">moksza</span></i>. Niektórzy ludzie już zastanawiają
                się, czy Ja osiągnę <i><span style="font-style:italic">mokszę</span></i>. Czym
                jest <i><span style="font-style:italic">moksza</span></i>? <i><span style="font-style:italic">Moksza</span></i> to nieprzywiązanie. Narodziny i
                śmierć nie są <i><span style="font-style:italic">mokszą</span></i>. Narodziny i
                śmierć następują po sobie cyklicznie do czasu, aż Pan postanowi inaczej.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Co
                przewyższa narodziny? Służenie Panu. Ludzie rodzą się z różnych powodów.
                Nieodparcie pragną dzieci, aby stać się bogatszymi, aby na starość dzieci
                opiekowały się nimi. Ilu ludzi rodzi się z wyłącznym celem służenia Bogu?
                Bardzo, bardzo niewielu. Swami mówi: tych, którzy rodzą się tylko dla Boga
                można policzyć na palcach. Znaleźć takich ludzi jest wielką rzadkością.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Dzisiaj
                Swami chce przedstawić temu zgromadzeniu jednego chłopca. Chłopiec ten napisał
                list do Narasimhamurthiego. W liście tym napisał m.in.: „Proszę pana, chcę
                zbudować instytucję taką jak ta w moim rodzinnym mieście.” Czy wiecie w jakim
                wtedy był wieku? Dwanaście lat! Powiedział Narasimhamurthiemu, że chce zbudować
                podobną placówkę oświatową w swoim mieście. Ile dzieci w jego wieku potrafi
                myśleć w ten sposób?</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Swami
                jest bardzo szczęśliwy, gdyż dzisiaj są jego urodziny. Podejdź. Ponieważ są to
                jego urodziny, jest dla niego prezent od Swamiego. (<i><span style="font-style:
                italic">Bhagawan podarował temu małemu chłopcu prezent urodzinowy, czemu
                towarzyszyły gratulacje wszystkich obecnych.</span></i>)</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">To
                dzięki jego pragnieniu dzisiaj wszyscy wiemy, że Narasimhamurthi już pojechał
                do Bijapuru i nabył ziemię pod następny kampus. Swami daje temu chłopcu w
                charakterze urodzinowego prezentu obietnicę, że ta szkoła w Bijapurze
                rozpocznie działalność w czerwcu przyszłego roku. (<i><span style="font-style:
                italic">Oklaski</span></i>.)</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Swami
                powiada, że na obdarzenie swoją Łaską potrzebuje powodu. Powodem jest wasza
                czysta modlitwa i pragnienie służenia społeczeństwu. Wykorzysta On was jako
                pretekst, by przynieść społeczeństwu tak wiele dobra. Szuka takich dzieci o
                czystym sercu, o szlachetnym sercu i liczy, że wielu z nas takimi się stanie.
                Swami wie, że wśród nas siedzących teraz tutaj jest wielu, którzy takimi są.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Czy
                Kodaikanal jest wygodny dla wszystkich obecnych tu dzieci? Czy Gopi podaje
                dobre jedzenie? Idźcie do niego i proście o to, co chcecie jeść. On przyrządzi
                i poda. Raz cięższy posiłek, raz lżejszy. Jeśli zjecie bardzo ciężki, nie
                będziecie mogli go strawić, ponieważ jest bardzo zimny. Jutro wszyscy powinni
                pójść na poranny spacer. Starszym jest nieco trudniej, gdyż brakuje wygód. Ale
                Swami zapewnia was, że w przyszłym roku będzie znacznie wygodniej, znacznie
                wygodniej niż to co mamy dzisiaj.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Sreenivas
                miał złamane serce, gdy Swami oddawał ten bungalow. Ale nie martw się
                Sreenivas, wszystko to wraca tylko do Mnie! (<i><span style="font-style:italic">Śmiech.</span></i>)</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Swami
                nie chce nie wspomnieć także o bardzo dobrym przyjacielu Srinivasa. Mówi, że
                jeśli na tym świecie ma być przyjaźń, musi być właśnie taka. To właśnie Mr.
                Kishore, który jest tym dobrym przyjacielem Sreenivasa, samodzielnie wspierał
                cały projekt szpitala w Raipurze. Na budowę szpitala wydał ponad 100 <i><span style="font-style:italic">krorów</span></i> (1 mld) rupii i przyrzeka zrobić
                jeszcze więcej.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">To
                właśnie on z miłością ofiarował ten bungalow dla Swamiego i całej naszej
                dzisiejszej młodzieży. Nie ma go tutaj, ale daje z siebie wszystko, aby
                przyjechać.&nbsp; Wykonuje on tylko pracę Swamiego. Kiedyś Swami spytał: „Dlaczego
                Mr. Kishore jest tak zajęty?,” na co Sreenivas odpowiedział: „Uważa, że musi
                zarobić trochę więcej, aby spełnić obietnicę daną Swamiemu.” Jest to jedyny
                powód, dla którego aż tak ciężko pracuje. Zajmuje dwupokojowe mieszkanie,
                jeździ bardzo zwyczajnym samochodem. Gdy popatrzycie na niego, nawet nie
                pomyślicie, że jest właścicielem tak dużego przedsiębiorstwa. Gdy otrzymujemy
                100 rupii, mamy sto sposobów ich wydania. Ale on, gdy dostanie 100 rupii,
                odłoży je i dopilnuje, aby trafiły z powrotem do Swamiego i wsparły Jego
                projekt. Tak postępuje nie tylko Kishore, lecz wielu obecnych tutaj ludzi.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Misja
                Bhagawana trwa tylko dzięki takim ludziom; inaczej wygasłaby dawno, dawno temu.
                </span></font></p>
                
                <p class="MsoNormal"><span style="
                &quot;Times New Roman&quot;,&quot;serif&quot;" lang="EN-GB">Madiyal Narayan Bhat </span></font><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">jest
                kolejną osobą, o której Swami chce powiedzieć. On też był małym chłopcem, takim
                jak wy, kiedy postanowił, że nie będzie wiódł życia nastawionego tylko na
                samolubne cele. Chciał służyć społeczeństwu i rozwijać ten kraj poprzez młodych
                ludzi, którym przyświecały podobne ideały. Jednym z nich był Narasimhamurthi,
                który wówczas do niego się przyłączył. Był z nimi też Narayan Rao, a później
                poszło za nimi wielu innych. Niestety, dzisiaj jest tu niewielu seniorów, gdyż
                trudno im podjąć tak długą podróż. Jedynym sposobem, w jaki możecie odwdzięczyć
                się </span></font><span style="&quot;Times New Roman&quot;,&quot;serif&quot;" lang="EN-GB">Bhatowi,</span></font><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">
                jest kontynuacja, tak długo jak zdołacie tego, o co on zawsze się modlił:
                rozpowszechniania przesłania Swamiego poprzez edukację w różnych miejscach
                stanu Karnataka; nie tylko tego stanu, ale różnych części tego kraju; nie tylko
                tego kraju, ale różnych części świata. (<i><span style="font-style:italic">Oklaski.</span></i>)</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Jedna
                lampa może zapalić wiele lamp. Jedynym wymogiem jest, by te inne lampy miały
                oliwę. Tą oliwą jest oliwa Miłości. Dopóki wasze serca są pełne miłości, miłość
                innych udzieli się wam, tak jak jedna lampa zapala drugą, i dalej wy będziecie
                mogli zapalić wiele innych lamp. Jest to <i><span style="font-style:italic">prakati</span></i>
                (rozwój). Jest to postęp. Zbieramy się i wzrastamy razem.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Rano
                dałem wam wszystkim aparaty fotograficzne. Co z nimi zrobiliście? Czy
                robiliście zdjęcia? Czy zwiedziliście okolice Kodaikanal, tak jak
                zamierzaliście? Czy podobało się? Jutro nie będzie zwiedzania. Jutro siedzimy
                tutaj. Pojutrze możecie znów pójść popływać łodziami, pojeździć na koniach i
                uczestniczyć w podobnych zajęciach na jeziorze i nad nim. Giri, ty tam nie idź
                i nie wsiadaj na konia! (<i><span style="font-style:italic">Śmiech.</span></i>)
                Złamałbyś mu grzbiet!</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Vijay
                Sai także był małym chłopcem, gdy przyszedł do Swamiego. Jego rodzina jest
                faktycznie związana ze Swamim od jego urodzenia. Służył Swamiemu rozmaicie i
                dalej to robi. Swami wezwał go i powiedział: „Otwieram Centrum Doskonalenia.
                Przyjdź tu i nauczaj Moje dzieci języka angielskiego.” Natychmiast się zgodził
                mówiąc: „Chętnie zrobię wszystko, co Swami każe.” Ilu jest tu tych chłopców z Centrum
                Doskonalenia? Ilu? Liczba? Dwudziestu chłopców. On będzie waszym nauczycielem
                angielskiego.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Swami
                chce też przekazać tę <i><span style="font-style:italic">śubha-wasthę</span></i>,
                tj. dobrą wiadomość. Dzięki wysiłkom wszystkich seniorów, którzy są tutaj
                obecni, Centrum Doskonalenia otrzymało z University of Mysore formalną zgodę na
                rozpoczęcie działalności w czerwcu. (<i><span style="font-style:italic">Oklaski.</span></i>)
                Jest to ten <i><span style="font-style:italic">tjaga-giri-sansthan</span></i>,
                o którym mówił Narayan Rao.</span></font></p>
                
                <p class="MsoNormal"><span style="&quot;Times New Roman&quot;,&quot;serif&quot;">Chłopcy
                zaśpiewają Swamiemu <i><span style="font-style:italic">arati</span></i>, a
                potem wszyscy pójdziemy na kolację. Grupowe pieśni.</span></font></p>
                
                <p class="MsoNormal"><font size="3" face="Calibri"><span style="font-size:12.0pt">&nbsp;</span></font></p>
                
                <p class="text-right my-5">[Tłum.
                z ang. KMB; Toruń, 2014.07.05]</span>
           
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Dziennik z Kodaikanal</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>