<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Z
                dyskursu Sukszma Baby z dnia 11-07-2015</li>
                </ol>
            </nav>
            <article class="container">
              <h2><a href="http://www.bhajanmusic.info/sukshma-baba-information/JULY-2015-MUDDENAHALLI-DISCOURSE-ENGLISH" rel="no-follow">Z
                dyskursu Sukszma Baby z dnia 11-07-2015 (Muddenahalli)</a></h2>
              </span></font></b></p>

                <p style=""><b><span style="font-weight:bold">Dyskurs Sai Baby wygłoszony do przyszłych
                <i><span style="font-style:italic">sewa dali</span></i> (wolontariuszy)</span></font></b></p>
                
                <p style=""><b><span style=";font-weight:bold">CZĘŚĆ 1</span></font></b><span style=""><br>
                <br>
                </span></font><b><span style=";
                font-weight:bold">♥</span></font></b><b><span style=";font-weight:bold"> </span></font></b><span style="">Nadejdą wspaniałe dni. Wszyscy absolwenci
                niczym rzeki połączą się z Oceanem i staną się jednym. W tej jedności jest
                wielka siła. Bądźcie jak Pandawowie, którzy trzymali się razem nawet żyjąc na
                wygnaniu w lesie i z wiarą, że Kriszna był stale z nimi, dlatego</span></font><font size="3"><span style=""> </span></font><span style="">nawet tam pędzili radosne życie.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥ </span></font></b><span style="">Jest to wasza rodzina, dlatego musicie o nią dbać i
                uczestniczyć we wszystkich programach. Pewien ojciec obchodził <i><span style="font-style:italic">szasztipurti</span></i> (60 urodziny), a jego synowie
                przebywali za granicą – jeden w Australii, jeden w USA i jeden w Rosji. W
                krajach tych są różne okresy świąt. Jeśli przyjadą do Indii tak jak im
                wygodnie, nie będzie dobrze. Urodziny ojca są ważniejsze niż ich wygoda.</span></font></p>
                
                <p style=""><span style="">&nbsp;</span></font><b><span style=";
                font-weight:bold">♥ </span></font></b><span style="">Obchody urodzin [Swamiego] planuje się z bardzo dużym
                rozmachem.&nbsp; BNN [Narasimhamurthy] martwi się, gdyż nigdy przedtem nie
                organizował tak wielkiego programu. Ja nie mam takich obaw, gdyż mam pełną
                wiarę w was wszystkich. W istocie niczego nie musicie robić; sam wszystko
                zrobię przez was! Gdy pewna uboga kobieta zauważyła Krisznę, z wahaniem
                podeszła do Niego i zaprosiła Go do odwiedzenia jej domu. Kriszna natychmiast
                się zgodził i powiedział, że przyjdzie następnego dnia. Wtedy ona zaczęła się
                naprawdę martwić, jak może Go ugościć, gdzie Go posadzi, co poda Mu do jedzenia
                itp. i modliła się, żeby nie przyszedł! Następnego dnia rano u drzwi jej domu
                zjawił się cały zastęp żołnierzy i służących. Oświadczyli jej, że ponieważ ma
                przyjść Kriszna, oni przychodzą, by wszystko zaaranżować. Przynieśli tron,
                kwiaty itd. i wystroili miejsce niczym Indra Bhawan (Pałac Indry). Przynieśli
                nawet nowe szaty i klejnoty dla tej kobiety. Zaraz gdy przyszedł Kriszna, ona
                upadła Mu do stóp i wyznała wszystkie swoje obawy i stwierdziła, że On sam o
                wszystko zadbał! Wtedy Kriszna rzekł: „Ty masz tylko mnie zaprosić, a ja zadbam
                o wszystko inne.”</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Gdy postanowiłem przyjść do Muddenahalli, aby
                kontynuować Moją misję, zabrałem ze sobą absolwentów i uczniów, którzy będą
                mnie słuchać i uczynią do niej swój wkład.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥ </span></font></b><span style="">Uczniami Swamiego są nie tylko ci, którzy uczą się w
                szkołach Swamiego; wszyscy, którzy słuchają Swamiego, są też Jego uczniami.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Jest wiele <i><span style="font-style:italic">wrind</span></i>
                (grup), każda ma swoją <i><span style="font-style:italic">dharmę</span></i>.
                Ale wszyscy oni muszą pracować w zgodzie. Wszyscy muszą szanować i kochać się
                nawzajem, nie dopuszczając żadnych różnic. Wszystkie różnice musza być rozwiązywane
                z miłością.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Gdy język dostanie się między zęby, ręce nie karzą
                zębów, wybijając je; ręce raczej zaopiekują się językiem.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥ </span></font></b><span style="">Tworzy się wiele komitetów do organizowania różnych
                wydarzeń. Muszą oni pracować razem tak jak narządy ciała. Każdy narząd ma
                specyficzną <i><span style="font-style:italic">dharmę</span></i>, specyficzną
                rolę do odegrania. Głowa nie powinna myśleć, że jest ważniejsza, gdyż jest
                wysoko w niebie, podczas gdy stopy znajdują się niżej, przy ziemi. Głowa
                znajduje się tam, gdzie jest, gdyż niżej są nogi, które ją podtrzymują.
                Podobnie, te komitety też nie powinny uważać się za ważniejsze od innych; grupy
                i komitety powinny rozwiązywać różnice przez miłość. Wiedzcie, że wszyscy
                pracują dla Boga! Gdy Bóg jest szczęśliwy, każdy jest szczęśliwy!</span></font></p>
                
                <p style=""><span style="">&nbsp;</span></font></p>
                
                <p style=";page-break-after:
                avoid"><b><span style=";font-weight:
                bold">CZĘŚĆ 2</span></font></b></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Gdy macie jakieś pytania, najpierw spytajcie starszych.
                Jeśli oni nie mogą odpowiedzieć, wtedy przychodźcie do Mnie. Ale starsi także zwracają
                się do Mnie po odpowiedzi, dlatego możecie równie dobrze pytać bezpośrednio
                Mnie. Rozwijacie nawyk pytania najpierw wewnętrznego mieszkańca swoich serc,
                zanim cokolwiek zrobicie. Nie powinniście zapominać o skarbie Boga w sobie, tak
                jak bogacz, który zapomniał o swoim bogactwie i ciągle żebrze, szukając
                wsparcia gdzie indziej.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Wasza prawa ręka nie powinna wiedzieć, co robi lewa.
                Pracujcie cicho. Ja jestem w waszych sercach i wiem wszystko. Pracujcie dla
                własnej radości. Nie powinniście tracić radości podczas pracy.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Nie myślcie, że niektórzy ludzie są wyżej lub niżej.
                Matka kocha swoje dzieci jednakowo, niezależnie które jest starsze lub młodsze
                i gdzie się urodziły. Kocham was wszystkich, gdyż widzę siebie w was
                wszystkich.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Różnice w rodzinie powinny pozostać w rodzinie i nie
                być dyskutowane na zewnątrz.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Wszyscy powinniście spotykać się w swoich grupach,
                dyskutować i planować. Wezwę was ponownie i będę z wami rozmawiał po powrocie z
                Nigerii.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Udaję się do różnych krajów dla dobra wielbicieli.
                Zakładam tam <i><span style="font-style:italic">aśramy</span></i>. Inicjujemy <i><span style="font-style:italic">aśramy</span></i> we Włoszech, w Chorwacji,
                Australii, Nigerii, Ameryce, na Śri Lance. W końcu powstanie ich 17. Każdy z <i><span style="font-style:italic">aśramów</span></i> będzie miał szkołę, szpital i
                będzie centrum wielu projektów <i><span style="font-style:italic">sewy</span></i>
                (służebnych).</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Przed nami wspaniałe czasy. Okazję do służenia
                otrzymają tylko ci, którzy służą bezinteresownie i mają czyste serca.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Wiedzcie, że robicie to dla własnej
                transformacji/urzeczywistnienia. Nie musicie iść w Himalaje; możecie Mnie
                osiągnąć przez służbę.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Swami jest szczęśliwy, że zebrali się absolwenci ze
                wszystkich instytucji. Więcej ludzi przyłączy się w przyszłości. Ludzie
                uczestniczący w konferencji młodzieży będą obserwować studentów i absolwentów,
                którzy pracują jako wolontariusze i będą próbować zrozumieć, dlaczego Swami dał
                im okazję służenia. Gdy wrócą w swoje strony, będą tam starali się naśladować
                ich i inicjować działalność służebną.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> 90-te Urodziny będą skromne w porównaniu do 95-tych,
                które będą ostatnimi tego <i><span style="font-style:italic">Awatara</span></i>.
                Przed 95-tymi Urodzinami zostanie zapoczątkowanych mnóstwo projektów. Będę o
                nie dbał jako Prema Sai.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Nie dopuszczajcie ego i przywiązania do głosu.
                Niezależnie jak dobrą pracę wykonacie, a ktoś o nią spyta, mówcie, że Swami
                jest wykonawcą. Wtedy wasze ego i przywiązania stopniowo zanikną.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Pewna firma przekazała materiały szkole w Gulbarga.
                Gdy BNN zapytał kilku studentów, kto je dał, ku swojemu zaskoczeniu usłyszał
                zgodne „Swami.” Powinniście rozwinąć podobną postawę. Mówić, że X zrobił to, a
                Y tamto, świadczy o małostkowości.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Pewna osoba przyszła do Swamiego, a gdy On ją zapytał
                o nazwisko, powiedziała, że nie ma żadnego, że porzuciła je, gdyż rozbudzało
                ego; gdy straci także formę, pozbędzie się również przywiązań. Nie musicie tak
                postępować i porzucać imion. Gdybyście to zrobili, nie mielibyście praw jazdy i
                nie moglibyście tutaj przyjechać. Ale powinniście pamiętać esencję tego
                przesłania i korzystać ze zdrowego rozsądku.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Bardzo szczęśliwy, że wszystkie moje dzieci przybyły.
                Więcej będzie ich w przyszłości.</span></font></p>
                
                <p style=""><b><span style=";
                font-weight:bold">♥</span></font></b><span style=""> Nie marnujcie swoich słów; pracujcie w milczeniu. Gdy
                będziecie pracować i czerpać z tego radość, inni widząc waszą radość i błogość,
                będą wiedzieli, że jest tu Swami i przyjdą do was.</span></font></p>
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                normal"><b><span style=";
                font-weight:bold" lang="EN-GB">&nbsp;</span></font></b></p>
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                normal"><b><span style=";
                font-weight:bold" lang="EN-GB">&nbsp;</span></font></b></p>
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                normal"><b><span style=";
                font-weight:bold" lang="EN-GB">&nbsp;</span></font></b></p>
                
                <p style="text-align:center;" align="center"><b><font size="5" face="Calibri"><span style="font-size:16.0pt;font-weight:bold">Z dyskursu Sukszma
                Baby z dnia 12-07-2015</span></font></b></p>
                
                <p style="text-align:center;" align="center"><b><font size="5" face="Calibri"><span style="font-size:16.0pt;font-weight:bold">(Muddenahalli)</span></font></b></p>
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                normal"><b><span style=";
                font-weight:bold">♥</span></font></b><b><span style=";font-weight:bold"> </span></font></b><i><span style=";font-style:italic">Om Śri Sai Ram. Baba siedzi
                odziany w pomarańczową szatę. Powtarzam to, co on mówi.</span></font></i></p>
                
                <p style=""><span style="">Tak, jak olej jest niewidoczny w nasionach sezamu i
                jak słodki sok kryją owoce, tak Bóg znajduje się wszędzie we wszechświecie.
                Świat grubej materii jest tym, co widzimy fizycznymi oczami. Jego podstawą jest
                świat subtelny. Widzimy kwiat, ale nie widzimy zapachu. Gdy kupujecie owoce,
                widzicie je, ale ich słodyczy nie można zobaczyć. Ogień znajduje się w drewnie,
                ale aby go zobaczyć, trzeba zastosować pewną procedurę. Inna procedura
                potrzebna jest, gdy chcemy zobaczyć masło w mleku. Aby zobaczyć Boga, musimy
                przestrzegać pewnej procedury. Zatem, aby doświadczyć Boga, musicie włożyć
                pewien wysiłek. Wkładanie wysiłku to <i><span style="font-style:italic">sadhana</span></i>.
                Co powinniśmy robić, by osiągnąć cel <i><span style="font-style:italic">sadhany</span></i>?
                Aby doświadczyć wewnętrznego Boga potrzeba wysiłku. <i><span style="font-style:
                italic">Ghi</span></i> (klarowane masło) jest już w mleku. Oliwa jest już w
                nasionach sezamu. Ogień jest w drewnie – nie przychodzi skąd inąd, już w nim
                jest. Ciało jest świątynią Boga. W tym grubym ciele Bóg przebywa w subtelnej
                postaci. Porzućcie to, co nie jest boskie, a Bóg wyjdzie. Rzeźbiarz usuwa
                wszystko, czego nie potrzebuje. Ciało jest czymś podobnym do kamienia. Wewnątrz
                ciała znajduje się święta statua. <i><span style="font-style:italic">Sadhana</span></i>
                usuwa wszystko, co nie jest Bogiem, dzięki czemu możecie zobaczyć świętą
                wewnętrzną statuę. Usuńcie tylko gniew, zazdrość, pychę, zachłanność, a
                przejawią się dobre cechy. Jedzenie, sen, prokreacja i strach to rzeczy, które
                człowiek dzieli z wszystkimi zwierzętami. Gdy człowiek nie praktykuje <i><span style="font-style:italic">dharmy</span></i>, jest gorszy od zwierzęcia. W
                stworzeniu jest pięć żywiołów. Gdy któryś z nich nie praktykuje swojej <i><span style="font-style:italic">dharmy</span></i>, traci swoje cechy i przestaje
                istnieć. Gdy człowiek praktykuje swoją <i><span style="font-style:italic">dharmę</span></i>,
                osiąga dostatek i szczęście. <i><span style="font-style:italic">Dharma</span></i>
                jest najważniejsza. Ludzka istota zdobywa bogactwo przez dharmiczną
                działalność. Prawdziwym obowiązkiem ludzi jest pragnienie <i><span style="font-style:italic">mokszy</span></i> (wyzwolenia). Dzisiaj człowiek źle
                rozumie prawdziwą <i><span style="font-style:italic">dharmę</span></i>. Myśli,
                że chrześcijaństwo, buddyzm i islam są różne. Fundamentalna <i><span style="font-style:italic">dharma</span></i> dotyczy serca. Wszystkie <i><span style="font-style:italic">Wedy </span></i>stwierdzają, że <i><span style="font-style:italic">dharma</span></i> dotyczy serca. Wiele rytuałów
                dotyczy świata i nie jest prawdziwą <i><span style="font-style:italic">dharmą</span></i>.
                Ważny jest sens kryjący się za rytuałem. Musicie słuchać serca, które jest
                wewnętrznym głosem i jest bardzo subtelne. Jest słodkie. Jest taka historyjka. Żona
                dzwoni do was, gdy jesteście na rynku. W tle panuje targowy zgiełk. Ten hałas
                sprawia, że żonę trudno usłyszeć. Ona każe wam przynieść <i><span style="font-style:italic">tomato</span></i> (pomidory), a wy przynosicie <i><span style="font-style:italic">potato</span></i> (ziemniaki). Dzieje się tak z powodu
                hałasu na targowisku. Trzeba przenieść się poza rynek, z dala od światowego
                zgiełku. Z powodu światowego zgiełku na zewnątrz nie możecie usłyszeć wewnętrznego
                głosu serca. Źródłem tego subtelnego głosu jest <i><span style="font-style:
                italic">sat-ćit-ananda</span></i> (byt-świadomość-błogość).</span></font></p>
                
                <p style=""><span style="">W umyśle ciągle krążą myśli. Umysł myśli o „moje” i „ja.”
                Jest to mentalny szum. Porzućcie go i słuchajcie wewnętrznego głosu. Oto inny
                przykład. Oglądacie telewizję, ale nic nie słyszycie, gdyż na zewnątrz panuje
                zbyt głośny hałas. Musicie zamknąć wszystkie okiennice i drzwi, aby odciąć się
                od zewnętrznego hałasu. Musicie też zwiększyć głośność w odbiorniku TV. Ciało
                jest jak dom. Macie cielesne pragnienia i pragnienia samolubne. Musicie je
                zredukować. Musicie zamknąć cielesne okiennice, aby usłyszeć głos z wnętrza. Na
                to ciało składa się 5 narządów postrzegania i 5 narządów działania – razem dziesięć.
                Zamknijcie oczy, uszy, nos, gdyż są one jak okna. Musimy patrzeć na rzeczy,
                które są dobre. Musimy chodzić do miejsc, które są dobre. Musimy słuchać
                rzeczy, które są dobre. Musimy praktykować panowanie nad zmysłami. Jednym z
                celów <i><span style="font-style:italic">sadhany</span></i> jest zapanowanie nad
                umysłem. Zwróćcie się do środka, a zobaczycie Sai. <i><span style="font-style:
                italic">SAI</span></i> znaczy „patrzcie zawsze do wewnątrz” (po angielsku: <b><i><span style="font-weight:bold;font-style:italic">S</span></i></b><i><span style="font-style:italic">ee <b><span style="font-weight:bold">A</span></b>lways
                <b><span style="font-weight:bold">I</span></b>nside</span></i>), aby zobaczyć
                Babę. W słowie <i><span style="font-style:italic">BABA</span></i> <i><span style="font-style:italic">B</span></i> oznacza byt (ang. <b><i><span style="font-weight:bold;font-style:italic">B</span></i></b><i><span style="font-style:italic">eing</span></i>), <i><span style="font-style:italic">A</span></i>
                – świadomość (<b><i><span style="font-weight:bold;font-style:italic">A</span></i></b><i><span style="font-style:italic">wareness</span></i>), <i><span style="font-style:
                italic">B</span></i> – błogość (<b><i><span style="font-weight:bold;font-style:
                italic">B</span></i></b><i><span style="font-style:italic">liss</span></i>), a <i><span style="font-style:italic">A – <b><span style="font-weight:bold">A</span></b>tmę</span></i>.
                Jest to prawdziwa <i><span style="font-style:italic">sadhana</span></i>.
                Kierujcie się do wewnątrz i słuchajcie cichego głosu ze środka. Ciało i zmysły
                tylko potęgują zewnętrzny szum. Ponieważ w budynku Prema Deep jest spokój,
                możecie mnie słyszeć. Nie możecie słyszeć, gdy jesteście w (hałaśliwym)
                Bangalurze.</span></font></p>
                
                <p style=""><i><span style=";font-style:italic">Joga</span></font></i><span style=""> i <i><span style="font-style:italic">dhjana</span></i>
                (medytacja) są niezbędne. <i><span style="font-style:italic">Joga</span></i>
                jest dla ciała, a medytacja dla umysłu. Ciało porusza się i trudno je ustalić.
                Umysł błądzi w koło i nie możecie usłyszeć Boga. Musicie panować nad ciałem i
                dziesięcioma zmysłami. Umysł jest bardzo subtelny. Może wędrować po całym
                świecie. Związek ciała z umysłem powoduje wzrost pragnień. Ciało jest niestałe
                za przyczyną umysłu. Ciało może być nieruchome, ale umysł może być niespokojny
                i wędrować. Umysł jest jak tkanina z nici. Jeśli myśli (nici) są święte,
                tkanina jest też święta. Dobry <i><span style="font-style:italic">satsang</span></i>
                (towarzystwo) jest niezbędny. Prowadzi on do nieprzywiązania. Nieprzywiązania
                potrzebujecie, aby robić dobre rzeczy. Wtedy umysł ma myśli o Bogu.&nbsp; Dobre
                towarzystwo daje dobre myśli, które rozwijają wiarę. Wiara to idea, że Bóg
                zadba o was. Rozwijajcie równowagę umysłu – taką samą postawę w bólu i przyjemności.
                Bóg daje wam tylko tyle kłopotów, ile możecie znieść. Tak jak matka schładza
                pożywienie dla małego dziecka, tak pomaga wam też Bóg. Musicie jednak
                doświadczyć skutków swoich działań. Myślcie o Bogu i nie przejmujcie się
                światem. Wtedy będziecie spokojni i szczęśliwi. Gdy myślicie o Bogu, trudy
                świata was nie niepokoją. Potrzebujecie więcej niż tylko przekonania.</span></font></p>
                
                <p style=""><span style="">Gdy dziecko się rodzi, nie wie, kto jest jego matką. &nbsp;Poznaje
                ją dopiero wtedy, gdy doświadcza usługi z jej strony. Bądźcie zadowoleni. Nie
                upadajcie, gdy się wam nie powiedzie, ani nie unoście się gdy jesteście
                szczęśliwi. Miejcie stały umysł. Tak jak małe dziecko cieszy jego odbicie w
                lustrze, tak my nabieramy pewności siebie, gdy patrzymy na własne twarze. Jak
                mamy być szczęśliwi, nie znając własnej prawdziwej natury? Oprzyjcie swoje
                życie na <i><span style="font-style:italic">mokszy</span></i>, a nie na pięciu
                żywiołach ciała. Najpierw poznajcie swój cel, a potem zakupcie bilet. Gdy
                poprosicie Boga o bogactwo, On wam je da. Gdy poprosicie Boga o swoją prawdziwą
                naturę, On ją wam da. Nie możemy wiecznie żyć, wymyślnie się strojąc i upiększając.
                Gdy uspokoicie ciało, ono sprawi, że umysł uspokoi się i będziecie panowali nad
                pięcioma zmysłami. Prowadźcie medytację i słuchajcie wewnętrznego głosu.
                Słuchajcie tego głosu, aby dotrzeć do Boga. Prawdziwa <i><span style="font-style:italic">sadhana</span></i> to słuchanie serca. Dojdziecie do <i><span style="font-style:italic">mokszy</span></i> i swojej prawdziwej natury tylko
                wtedy, gdy będziecie słuchali serca. Dobierajcie sobie dobre towarzystwo.
                Doświadczycie czegoś tylko wtedy, gdy będziecie to praktykować. Udoskonalacie
                się dzięki praktyce. To, co mówię, musicie praktykować i wizualizować.</span></font></p>
                
                <p style=""><span style="">&nbsp;</span></font></p>
                
                <div style="border:none;border-bottom:double windowtext 2.25pt;padding:0cm 0cm 1.0pt 0cm">
                
                <p style="border:none;padding:0cm"><b><u><font size="3" ><span style=";font-weight:bold">ZASTRZEŻENIE</span></font></u></b>: Proszę
                pamiętać, że są to notatki – zdrowe przekąski, które mają pomóc nam działać jak
                bogowie (BĄDŹCIE BOGAMI) – z dyskursów SUKSZMA BABY w Muddenahalli. Nie są to zapisy
                słowo w słowo pełnych dyskursów. Nie niosą one też Boskich Uczuć czy Boskiej
                Energii, które w czasie dyskursów płyną w obfitości. Jeśli chcecie mieć
                dosłowne przekazy, Boską Energię z serca do serca, zwróćcie się do swojego
                wnętrza lub uczestniczcie w tych dyskursach. Miłego czytania tych notatek. </p>
                
                <p style="border:none;padding:0cm"><font size="3" ><span style="" lang="EN-GB">&nbsp;</span></font></p>
                
                <p style="border:none;padding:0cm"><font size="3" ><span style="" lang="EN-GB">&nbsp;</span></font></p>
                
                </div>
                
                <span style=";
                font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" lang="EN-GB"><br style="page-break-before:
                always" clear="all">
                </span></font>
                
                <p style="text-align:center" align="center"><b><font size="5" ><span style="font-size:16.0pt;font-weight:bold">Kalendarz wydarzeń</span></font></b></p>
                
                <p style="text-align:center" align="center"><b><span style="font-weight:bold">(wg e-mailowego <i><span style="font-style:italic">Sukshma Baba Report</span></i> 77 16-7-15)</span></font>
                </b></p>
                
                <p><font size="3" ><span style=""><br>
                </span></font><span style="">Od 13 do 20 lipca
                Swami będzie w <strong><b><font >Nigerii</font></b></strong>.&nbsp;<br>
                Dowiedzieliśmy się, że tydzień ten będzie bardzo intensywny dla drużyny
                towarzyszącej. <br>
                &nbsp;<br>
                W poniedziałek Sukszma Baba przybył do <strong><b><font >Lagos</font></b></strong>.
                Wieczór spędzono rezydencji uczniów, gdzie miejscowi wielbiciele zgotowali powitanie
                w Nigerii. Po kolacji wszyscy udali się na spoczynek.</span></font></p>
                
                <p><span style="">Wyruszono
                do <strong><b><font >Enugu</font></b></strong>, gdzie
                mieszka <strong><b><font >ojciec Charles</font></b></strong>
                <b><span style="font-weight:bold">Ogada</span></b> i znajduje się jego szkoła.<br>
                &nbsp;<br>
                Uczniowie przedstawili wspaniałe pieśni, których tematem było „Wszyscy są
                jednym.”<br>
                &nbsp;<br>
                Swami wygłosił dyskurs, w którym zakominkował, że ustanowi szpital w Nigerii.<br>
                &nbsp;<br>
                Oczekuje się, że następne <i><span style="font-style:italic">bhadźany</span></i>
                i dyskurs w Muddenahalli odbędą się 23 lipca.<br>
                &nbsp;<br>
                <strong><b><font ><span style="font-weight:normal">Święto
                </span></font></b>Guru Poornima</strong> będzie obchodzone w Muddenahalli 31 lipca
                jako jednodniowe wydarzenie.<br>
                &nbsp;<br>
                Wyjazd do <b><span style="font-weight:bold">Wielkiej Brytanii</span></b> i <strong><b><font >Dubai </font></b></strong>potwierdzono na 26 i 27
                sierpnia.<br>
                Podróż do <b><span style="font-weight:bold">Wielkiej Brytanii</span></b> – od 28
                sierpnia do 3 września.<br>
                Wizyta w <strong><b><font >Australii</font></b></strong> odbędzie
                się 23 i 24 września. <br>
                Wizyta w <b><span style="font-weight:bold">Malezji</span></b> nastąpi w końcu września.<br>
                &nbsp;<br>
                Ustalono wizyty w Singapurze, Hongkongu i Malezji, ale nie są jeszcze potwierdzone.
                Odbędą się w końcu września.&nbsp;<br>
                &nbsp;<br>
                <strong><b><font >Wspaniała wiadomość – 11-dniowa Ati
                Rudram Maha Jadźńa </font></b></strong><strong><b><font ><span style="font-weight:normal">zostanie odprawiona w dniach</span></font></b></strong>
                13 do 23 października w Muddenahalli. Będzie to świetna okazja nieść całemu
                światu pokój i harmonię, oczyszczając przy tym siebie. Wszystko to w obecności tego,
                który sprowadził tutaj Śiwę.</span></font></p>
                
                <p><b><span style=";
                font-weight:bold"><a href="http://www.bhajanmusic.info/sukshma-baba-events" rel="no-follow">WORLD
                YOUTH CONFERENCE</a> (Światowa Konferencja Młodzieży)<br>
                oraz obchody 90-tych Urodzin Baby: &nbsp;</span></font></b><span style="">15 – 25 listopada.<br>
                <br>
                </span></font></p>
                
                <p style="text-align:right" align="right"><font size="2" ><span style="font-size:11.0pt">[tłum. i oprac. KMB, Toruń, 2015.07.17]</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Z
                dyskursu Sukszma Baby z dnia 11-07-2015</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>