<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Poranny
              dyskurs wygłoszony na konferencji Guru Wikas</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Poranny
              dyskurs wygłoszony na konferencji Guru Wikas 20 marca 2016 r. w Japonii</h2>
              <br>

              <p style="
              text-align:center" align="center"><b><font size="5"><span style="font-weight:bold"></span></font></b></p><!--br-->
              
              <p style="text-align:center" align="center"><b><font size="5"><span style="
              font-weight:bold"></span></font></b></p>
              
              <p style="margin-top:30.0pt;
              text-align:center;
              " align="center"><i><font><span style=";
              font-style:italic">Dzisiaj na świecie nie ma pokoju z powodu braku bojaźni
              przed grzechem i</span></font></i><font><span style=""><i><span style="font-style:italic">miłości do Boga oraz zaniku człowieczeństwa w ludziach.</span></i></span></font></p>
              
              <p style="
              " class="text-right"><font><span style="
              ">(Wiersz telugu) </span></font></p>
              
              <p style="
              "><font><span style="
              ">Drogie ucieleśnienia miłości!
              Nauczyciele, wielbiciele i dzieci!</span></font></p>
              
              <p style=""><font><span style="
              ">Wszyscy przybyliście tu dzisiaj z
              różnych części świata, aby podzielić się swoimi staraniami i przemyśleniami na
              temat pracy Guru Wikas, którą Swami was obdarzył.</span></font></p>
              
              <p style=""><img src="d2016.03.20-1.jpg" alt="2016-03-JAPAN-English-025" width="348" vspace="12" hspace="12" height="295" align="left"><font><span style="">Wysłuchaliście
              wielu mówców, którzy występowali w imieniu członków zespołów poszczególnych krajów,
              prezentując swoje przemyślenia. Nie ma wątpliwości, że wszyscy wzięli sobie to
              zadanie do serca i włożyli znaczny wysiłek w kraju, do którego należą. Nie ma też
              wątpliwości, że wykonując polecenie Swamiego, to oni skorzystali najwięcej.</span></font></p>
              
              <p style=""><font><span style="
              ">Wyboru ścieżki, którą będzie się
              podążać, można dokonać tylko wtedy, gdy zna się cel, do którego się zmierza.
              Gdy chcecie przyjechać do Japonii, musicie polecieć samolotem; gdy chcecie udać
              się do Ameryki, musicie polecieć samolotem. I podobnie robicie w przypadku
              Indii i Singapuru. Zatem, gdy już wiecie, dokąd chcecie jechać, łatwo jest tam
              się dostać.</span></font></p>
              
              <p style=""><font><span style="
              ">Co jednak zrobi ze swoim życiem ktoś,
              kto nie zna kierunku, kto nie wie dokąd chce lub powinien pójść? Jest on jak
              łódź bez sternika płynąca po wodach morza. Bezcelowo dryfuje po morzu.</span></font></p>
              
              <p style=""><font><span style="
              ">Dlatego pierwszą rzeczą, którą
              powinniście poznać, jest to, w jakim celu tu jesteście. Gdy będzie to jasne,
              wtedy bardzo łatwo będzie wam pójść właściwą ścieżką ku celowi. Oczywiście,
              będzie to pewien proces – musicie kupić bilet, załatwić paszport i wizę – nie w
              ostatni dzień, lecz znacznie wcześniej. Musicie też spakować swoje rzeczy,
              wsiąść na samolot i dotrzeć do celu. Ale cały ten proces następuje dopiero po
              tym, jak będziecie wiedzieli, dokąd chcecie jechać.</span></font></p>
              
              <p style=""><font><span style="
              ">Pierwszym i najważniejszym celem Guru Wikas
              jest transformacja siebie. Tak jak niewidomy nie może prowadzić innego
              niewidomego, ktoś kto nie jest przetransformowany, nie może transformować innych.
              Aby pomagać innym, najpierw trzeba mieć zdolność pomagania.</span></font></p>
              
              <p style=""><font><span style="
              ">Dziś rano, gdy Swami wstąpił na scenę,
              zobaczył dwie świeczki na ołtarzu. Zadaniem świeczek nie jest tylko stanie na
              ołtarzu, lecz spalanie siebie w celu dostarczenia światła innym. Wartość świeczek
              zawiera się w tym, że mogą się spalać i dawać innym światło, rozświetlając im
              życie. Podobne jest życie człowieka, który żyje w celu służenia innym. Przetransformować
              siebie można tylko przez takie poświęcenie zrodzone z miłości. Zatem najważniejszym
              obowiązkiem jest bycie chętnym do poświęcenia, które rodzi się z miłości do
              innych i prowadzi do transformacji siebie, a dzięki temu także transformacji innych.
              Tysiąc słów może nie wyjaśnić jakiegoś faktu, ale zrobi to jeden akt, który
              jest zgodny z tym faktem.</span></font></p>
              
              <p style=""><font><span style="
              ">Właściwy proces zawiera się najpierw w<i><span style="font-style:italic"> byciu</span></i> – byciu tym, czym chcecie, by inni
              byli; następnie <i><span style="font-style:italic">robieniu</span></i> – postępowaniu
              zgodnie z własną naturą; następnie <i><span style="font-style:italic">widzeniu</span></i>
              – przyglądaniu się temu, co dzieje się wokół; i wreszcie <i><span style="font-style:italic">mówieniu</span></i> – mówieniu innym, co trzeba
              zrobić, zgodnie z własnymi działaniami. Najpierw bądźcie dobrzy, następnie róbcie
              dobrze i dopiero wtedy, gdy widzicie, że coś jest niedobre, macie prawo mówić innym,
              jak mają postępować. Ktoś, kto praktykuje, uzyskuje ogromną moc. Słowa niemające
              pokrycia w praktykowaniu brzmią pusto. Tak więc, zdobywajcie tę moc
              transformacji przez praktykowanie.</span></font></p>
              
              <p style=""><font><span style="
              ">Przed chwilą Narasimha Murthy mówił o
              znaczeniu wiary w Boga. Bóg, jak angielskie słowo <i><span style="font-style:
              italic">GOD</span></i> podpowiada, jest stwórcą (ang. <i><span style="font-style:italic">Generator</span></i>), <i><span style="font-style:
              italic">O</span></i>rganizatorem i niszczycielem (<i><span style="font-style:
              italic">Destroyer</span></i>). Te trzy aspekty posiada także przyroda. Jeśli
              się rozejrzycie, stwierdzicie, że przyroda stwarza, podtrzymuje i niszczy to,
              co jest niepotrzebne. Przyroda jest prawdziwym odbiciem Boga – posiada te trzy
              cechy Boga.</span></font></p>
              
              <p style=""><font><span style="
              ">Człowiek, który jest stworzeniem
              przyrody, musi także dziedziczyć te cechy przyrody. Musi konsekwentnie pracować
              nad stwarzaniem tego, co jest dobre dla wszystkich. Następnie musi pomagać
              każdemu w utrzymywaniu stanu dobroci. W końcu musi transformować to, co jest
              złe, zatem niszczyć je przez przekształcanie na dobre.</span></font></p>
              
              <p style=""><font><span style="
              ">Najpierw musicie stworzyć dobro w sobie.
              Następnie musicie podtrzymywać to dobro przez przebywanie w towarzystwie ludzi
              dobrych. Wreszcie musicie zniszczyć zło w sobie i wokół siebie przez przekształcenie
              go na dobro. Gdy zapalacie świecę, nie niszczycie ciemności – przekształcacie
              ją w światło. Jako nauczyciele Guru Wikas musicie postępować tymi trzema
              ścieżkami – bycie dobrymi, trwanie w dobru i pomaganie innym w stawaniu się
              dobrymi przez transformację zła w dobro.</span></font></p>
              
              <p style=""><font><span style="
              ">Dzisiaj świat potrzebuje nie wielkich
              ludzi, lecz tylko dobrych. Tego, czego nie mogą osiągnąć <i><span style="font-style:italic">lakhy</span></i> (setki tysięcy) wielkich ludzi, może
              dokonać kilkoro dobrych ludzi. Jedno wiąże się z ilością, a drugie – jakością.
              Możecie zastanawiać się: „Co Swami może osiągnąć przez tych kilkoro ludzi,
              którzy siedzą tu w jakimś zakątku Japonii, mówiąc o transformacji całego
              świata? Czy jest to możliwe?” Możecie mieć takie wątpliwości, ale zapewniam
              was, że tak jak za pomocą tylko jednej świeczki możecie zapalić inną, a przez
              tę drugą kolejną, tak w tym przypadku wszystko może wymagać czasu, ale z
              pewnością się dokona. Trzeba tylko zapalić pierwszą wewnętrzną świeczkę. Jeśli
              zechcecie być tą świeczką, mogę was zapewnić, że z czasem zapłonie tysiące
              tysięcy świeczek i zniknie cała ciemność świata. </span></font></p>
              
              <img xheight="296" src="d2016.03.20-2.jpg" width="354" vspace="12" hspace="12" align="left">
              <p style=""><font><span style="
              ">Sprawia mi wielką radość widzieć, że
              przynajmniej niektórzy z was chcą być czynnikami takiej zmiany dokonującej się
              przez przemianę siebie, a tym samym przemianę innych. Gdy kazałem wam przyglądać
              się sobie, kazałem też patrzeć na innych na zewnątrz, gdyż świat jest po prostu
              reakcją, odbiciem i echem. Widzicie to, czym jesteście, czyli siebie. Zatem, o
              ile sami nie jesteście dobrzy, nie możecie widzieć dobra w innych.</span></font></p>
              
              <p style=""><font><span style="
              ">Nauczyciel musi widzieć dobro w uczniach,
              wspierać to dobro i zapobiegać złu. Jednym z najlepszych przykładów jest sam
              Swami, gdyż On postrzega wszystkich jako boskich i dlatego nie bierze pod uwagę
              ich błędów i szaleństw i kocha mimo ich niedostatków. Gdyby Swami ciągle wytykał
              to, co jest w was złe, co jest negatywne, czy sądzicie, że ktokolwiek z was siedziałby
              tu teraz? Swami skupia się na tym, co jest w was dobre, co jest boskie, a resztę
              ignoruje. Interesuje Go płomień, a nie otaczająca go ciemność. Im jaśniejszy
              jest płomień, tym mniejsza ciemność wokół. Ponieważ kocha was, wspiera i
              zachęca was do bycia bardziej boskimi, bardziej boskimi, bardziej boskimi,
              dzięki czemu wszystko inne zanika. Miłość do siebie i do Swamiego pobudza was
              do trwania na tej ścieżce boskości. Staracie się stać dobrymi nie z powodu nakazów
              prawa, lecz z powodu miłości. Obojętnie co moglibyście powiedzieć, jak namiętnie
              dyskutować, jak bardzo próbować sprzeciwiać się, prawdą pozostanie to, że ta bezinteresowna
              miłość jest możliwa tylko dzięki Boskości, a nie komukolwiek innemu.</span></font></p>
              
              <p style=""><font><span style="
              ">Możecie powiedzieć: nie dyskutujmy o
              tym, nie omawiajmy tego w szkole i z dziećmi, ale o ile nie będziecie dyskutować
              o Bogu i Jego bezinteresownej miłości, nie ma mowy, by program ten mógł być
              utrzymany. Gdy dzieciom dajecie Boga, dajecie im siłę, która leży w ogromnej
              wierze. W chwilach cierpienia i rozczarowania dziecko pomyśli o Bogu i będzie
              wierzyć, że ktoś je obserwuje i ochroni je. Z powodu małych niepowodzeń, które
              są jak przelotne chmury, dzieci schodzą na złe drogi, stosują złe metody, a nawet
              targają się na swoje życie, nie zdając sobie sprawy z jego wartości. Utrata
              kilku punktów na egzaminach, otrzymanie bury od starszych lub strata przyjaciela
              albo zerwanie związku doprowadza ich do takich skrajnych postaw, ponieważ
              brakuje im ufności w siebie, w swoją Jaźń, przez którą rozumiem Boskość. Dzieci
              będą miały tę ogromną wiarę w siebie i nie będą angażowały się w jakieś małoduszne
              zachowania, gdy będą wierzyły, że Boskość jest wewnątrz nich i że są czymś
              znacznie większym niż tylko zespół ciało-umysł.</span></font></p>
              
              <p style=""><font><span style="
              ">Podobnie, gdy odniosą sukces, gdy kiedyś
              staną się sławne, nie będą tego celebrować z ego i pychą – przyjmą to ze
              skromnością, gdyż wszystko to otrzymały z łaski Boskości. Dlatego ważne jest,
              aby zrozumieli Boskość wewnętrzną i zewnętrzna, którą nazywa się Bogiem; muszą
              w nią uwierzyć. Niektórzy mogą was nawet zniechęcać mówiąc: „Nie dyskutujcie
              takich tematów w szkole, gdyż może to prowadzić do nieporozumień i niepokojów.”
              Ale sami musicie dzisiaj zadać sobie pytanie, czy gdybyście nie mieli wiary w
              Boga, zaszlibyście tak daleko w swoim życiu. Każda ilość moralnych kazań,
              pouczeń, każdy program nauczania jest jak mówienie o słodyczach bez ich
              posmakowania. Chcecie, by ludzie prowadzili się moralnie, by przestrzegali wartości
              ludzkich, byli ludzcy, ale tego nie da się zrobić na siłę, przepisami prawa. <i><span style="font-style:italic">Papa bhiti</span></i>, czyli bojaźń grzechu nie może
              wynikać z obawy przed prawem. Gdy jest wymuszona, będzie przestrzegana do czasu
              istnienia siły wymuszającej; gdy siła ta zniknie, zniknie strach przed
              grzechem. Ale gdy strach pochodzi ze źródła, którym jest miłość, będzie trwał
              wiecznie.</span></font></p>
              
              <img xheight="303" src="d2016.03.20-3.jpg" width="361" vspace="12" hspace="12" class="text-right"><p style=""><font><span style="
              ">Aby w społeczeństwie panował spokój,
              bardzo ważne są trzy rzeczy. Pierwsze dwie to <i><span style="font-style:italic">sangha
              niti</span></i>, czyli jedność i moralność w społeczeństwie, oraz obawa przed
              złym postępkiem (<i><span style="font-style:italic">papa bhiti</span></i>). Ale
              bardziej fundamentalna od nich jest miłość do Boga, czyli <i><span style="font-style:italic">dajwa priti</span></i>. <i><span style="font-style:
              italic">Dajwa priti</span></i> jest jak korzeń drzewa, <i><span style="font-style:italic">papa bhiti</span></i> – jak jego pień, <i><span style="font-style:italic">a sangha niti</span></i> – jak jego gałęzie. Dzisiejszy
              system edukacji, cierpiąc z powodu własnego zła, chce jedności, moralności i
              strachu przed złym zachowaniem, ale w osiągnięciu tego nie pomoże żadne prawo.
              Wspomniane gałęzie i pień będą rozwijać się tylko wtedy, gdy podlewa się korzenie,
              które są głęboką wiarą w Boga. Drzewo możecie spryskać wodą od góry do dołu,
              ale jeśli korzenie nie dostaną wody, drzewo nie będzie rosło. Jednak bujnie urośnie
              nawet wtedy, gdy podlejecie same tylko korzenie. Zatem, nie pozwalajcie sobą sterować,
              gdy ludzie apelują o niedyskutowanie o Bogu w klasie, gdyż byłoby to jak
              podlewanie pnia i gałęzi, a nie korzeni.</span></font></p>
              
              <p style=""><font><span style="
              ">Duchowość to poznawanie własnego
              przeznaczenia, którym jest Bóg. Istnieją rozmaite ścieżki prowadzące do tego
              celu – są to religie. Na przykład, gdy podróżujecie autobusem, na drodze musicie
              przestrzegać pewnych reguł. Gdy podróżujecie samolotem, musicie przestrzegać
              reguł ruchu lotniczego. Podobnie, rozmaite religie uczą rozmaitych metod z
              zachowaniem pewnych reguł, w celu osiągnięcia przeznaczenia, czyli Boga.</span></font></p>
              
              <p style=""><font><span style="
              ">Można to przedstawić jeszcze prościej –
              duchowość jest jak program nauczania, a religie jak rozmaite szkoły uczące
              według tego programu we własnym języku i we własny sposób. W różnych szkoła
              mogą być różne mundurki, pory modlitw, rodzaje modlitw, różni nauczyciele i
              różne języki jako środki przekazu, ale treść lekcji jest ta sama, zgodna z
              programem nauczania. Żadna szkoła nie uczy, że istnieje pięć różnych słońc –
              japońskie, amerykańskie, indyjskie itd. i że istnieje pięć różnych rodzajów
              wschodów słońca. Gdy jesteście w Japonii, możecie nazwać je słońcem japońskim, w
              Ameryce – amerykańskim, w Indiach – indyjskim itd. Słońce jest to samo, a tylko
              wy znajdujecie się w różnych miejscach. Słońce możecie nazywać różnorako, ale w
              istocie jest tylko jedno. Podobnie, Bóg jest jeden, ale ludzie postrzegają Go z
              różnych perspektyw i nazywają Go różnymi imionami. Ponieważ zapisują się do różnych
              szkół religii, muszą przestrzegać reguł danej szkoły. Niektóre religie mogą
              mieć więcej wiernych, gdyż w ich szkołach są lepsi nauczyciele, ale nie znaczy
              to, że przedmiot nauczania jest inny.</span></font></p>
              
              <p style=""><font><span style="
              ">Drodzy, jeśli będziecie unikać tego
              tematu, wtedy dzieci nigdy nie poznają prawdy. Przyjmą nieprawdę za prawdę i
              będą dalej żyć w sposób małostkowy. Co zrobi matka, gdy dziecko mówi: „W łazience
              jest duch; nie chcę tam wchodzić”? Weźmie dziecko, otworzy drzwi do łazienki i
              pokaże, że nie ma tam ducha. Powie: „Nie bój się swojego urojenia.” Tak samo,
              gdy ludzie mówią, że jedna religia jest lepsza od innej, że inna jest gorsza,
              nie jest to właściwe, jest to złe – pokażcie im prawdę. Powiedzcie, że
              wszystkie religie wskazują na tego samego Boga, że to tylko błędna
              interpretacja doprowadziła do takich nieporozumień. Zewnętrzne atrybuty każdej
              religii mogą się różnić, tak jak w szkole mundurki bywają różne, tak jak podręczniki
              są napisane w różnych językach, tak jak modlitwy co do pór i rodzajów są różne,
              ale przedmiot nauczania jest ten sam.</span></font></p>
              
              <p style=""><font><span style="
              ">Zatem, nie ma sensu zajmować się tym
              problemem z zewnętrznej perspektywy. Musicie wejść w to głębiej i rozwiązać
              problem u podstaw. W przeciwnym wypadku będzie tak jak z człowiekiem, którego
              użądlił skorpion, a on poszedł do lekarza po pomoc. Lekarz dał mu jakąś maść i
              kazał zaaplikować w miejscu ukąszenia przez skorpiona. Ten niemądry człowiek poszedł
              na miejsce, gdzie został użądlony i posmarował maścią nie nogę lecz ścianę.
              Jaką korzyść odniesie cierpiąca noga, gdy posmarujecie ścianę? Podobnie,
              podchodzenie do spraw religii w niewłaściwy sposób nie rozwiąże problemu. Musicie
              robić to we właściwy sposób.</span></font></p>
              
              <p style=""><font><span style="
              ">Poświęcam tak wiele czasu tematowi wiary
              w Boga, który ma być podstawą waszych wysiłków, dlatego że widziałem pewien
              opór lub brak przekonania w rozwijaniu tego tematu. Możecie wierzyć lub nie,
              ale jeśli nie będziecie uczyć tej koncepcji Boskości i Boga, wszystkie inne
              wasze wysiłki będą tak skuteczne, jak próba przeniesienia wody w sicie. Możecie
              myśleć, że sito jest pełne wody, ale woda w mig zniknie.</span></font></p>
              
              <p style=""><font><span style="
              ">Tak, wasza metoda jest właściwa: pójść
              do szkoły, nawiązać jakąś relację przez dawanie im tego, czego chcą, a potem
              powoli wpajać to, czego przyszliście nauczać. Nie ma w tym nic złego. Dzieci z
              natury lubią jeść, grać – z natury lubią wszystko to, co je ekscytuje.
              Zacznijcie wasze związki w ten sposób, ale w końcu musi się to zmienić na to, z
              czym tam poszliście, by im dać. Do nauczycieli również należy podchodzić w
              podobny sposób. Idźcie tam, przebywajcie z nimi, by zrozumieć, czego potrzebują
              i pomagajcie im w sposób w jaki potraficie. Koniec końców, gdy was polubią z
              powodu waszej szczerej miłości do nich, będziecie mogli przekazać tę wiedzę,
              którą chcecie szerzyć.</span></font></p>
              
              <p style=""><font><span style="
              ">To, co zostało zrobione przez minione
              sześć miesięcy, to tylko „A, B, C, D,” tj. poznaliście podstawy. Poznaliście
              tylko abecadło tego przedmiotu. Teraz musicie zająć się słowami. Drugi etap
              Guru Wikas będzie polegał na tym, że do jakiejkolwiek szkoły pójdziecie i spotkacie
              się tam z nauczycielami, zawiążecie z nimi więzi miłości. Każde z was powinno
              mieć przynajmniej pięcioro ludzi, z którymi będzie was łączyć tak dobra przyjaźń.
              Dzięki tej przyjaźni dowiedzcie się, co pomogłoby im rozwinąć się na lepszych nauczycieli.
              Tego nie można załatwić przez jednodniowy program, albo jednodniową konferencję
              czy szkolenie. Trzeba to robić ciągle przez następne sześć miesięcy.
              Pozostańcie z nimi przez te sześć miesięcy, dowiedzcie się, jakie mają
              problemy, spróbujcie podsunąć im rozwiązania i pomóżcie, jak możecie. Zwróćcie
              uwagę na te ich problemy. Mogą to być osobiste sprawy wpływające na ich życie zawodowe,
              albo jakieś inne problemy, ale zanotujcie i dowiedzcie się, jakie to rozmaite
              czynniki utrudniają pracę nauczycieli. Wciągnijcie do ścisłej współpracy pięciu
              takich nauczycieli. Pięciu ma przypadać na jedną osobę, a nie na jeden kraj.
              Wolałbym, aby na początek nauczyciele współpracowali z nauczycielami, a nauczycielki
              z nauczycielkami. Sami mówiliście, że dzieci zawsze uważnie obserwują to, co
              robicie. Nawet jeśli jesteście dobrzy wewnętrznie, musicie też prezentować się
              dobrze na zewnątrz. Nie powinniście też przez pomyłkę dawać przykładu, który
              mógłby być źle odczytany przez dzieci i prowadzić do problemów. </span></font></p>
              
              <p style=""><font><span style="
              ">Gdy ta grupa urośnie, rozumienie poprawi
              się, zaufanie pogłębi się, wtedy przedyskutujemy następny etap. Obecnie mamy
              zadanie na najbliższe sześć miesięcy. Kiedyś w następnych sześciu miesiącach spotkamy
              się w Indiach.</span></font></p>
              
              <p style=""><font><span style="
              ">Jeśli są jakieś szczególne pytania,
              które przysłużą się wszystkim, możecie je zadawać.</span></font></p>
              
              <p style=""><font><span style="
              "></span></font></p>
              
              <p style=""><b><font><span style="
              ;font-weight:bold">Pytanie
              1:</span></font></b><font><span style="font-size:
              14.0pt;"> Swami, w
              szkole, do której chodzimy, nauczyciele oczekują, że wrócimy, by przedstawić im
              jakąś technikę. Co mamy im teraz powiedzieć?</span></font></p>
              
              <p style=""><b><font><span style=";
              font-weight:bold">Swami:</span></font></b><font><span style="">
              Pierwsze zagadnienie dla nich to transformacja siebie. Muszą zastanowić się nad
              sobą: jak są dobrzy lub źli, w jakich obszarach powinni się poprawić, jak mogą
              stać się bardziej kochający i lepsi w swoich umiejętnościach pedagogicznych.
              Oto narzędzia osobistej transformacji, których najpierw musicie im dostarczyć,
              aby mogli się udoskonalić. Jeśli są skromni i rzeczywiście chcą się poprawić,
              najłatwiej byłoby, gdyby rozejrzeli się, porozmawiali z własnymi kolegami, z
              własnymi uczniami, z własnymi seniorami, starając się znaleźć obszary, w
              których mogą się poprawić. Muszą mieć otwarty umysł i pokorę, by przyjąć
              sugestie i rady, a nie traktować ich negatywnie. Czy są na to gotowi? Spytajcie
              ich.</span></font></p>
              
              <p style=""><font><span style="
              ">Jednakże, zanim każecie im to zrobić,
              sami tak postąpcie. Zbierzcie odwagę i zapytajcie własną rodzinę, przyjaciół,
              wielbicieli: „Jak myślisz, w jaki sposób mógłbym się poprawić?” Nie wybierajcie
              tych, którzy są wyraźnie wam życzliwi i będą was chwalić – przystępujcie do
              każdego bez takich kalkulacji.</span></font></p>
              
              <p style=""><font><span style="
              ">Koniec z siedzeniem nad brzegiem i
              planowaniem nauki pływania. Musicie wejść do wody i zanurkować. Gdy już
              dowiecie się, co inni chcą od was, i uda się wam poprawić, będziecie mogli
              łatwo powiedzieć nauczycielom, z którymi się spotykaliście, aby zrobili to samo
              – zarówno w sprawach osobistych, jak i w pracy. </span></font></p>
              
              <p style=""><font><span style="
              ">Nie wymaga to żadnej struktury
              organizacyjnej ani szkolenia. Nie musicie nawet brać notesu, ponieważ gdy
              chwalą was, zapamiętacie, a gdy ganią, zapamiętacie nawet lepiej.</span></font></p>
              
              <p style=""><font><span style="
              ">Zacznijcie tak: pójdźcie najpierw do
              męża. Tylko on będzie miał sto rzeczy do powiedzenia o was – o ile tylko
              zapewnicie go, że nie wyrzucicie go z domu i nie przestaniecie odżywiać.</span></font></p>
              
              <p style=""><font><span style="
              ">(<i><span style="font-style:italic">Zwracając
              się do tłumacza, brata Genzo</span></i>) On martwi się, że jego żona tu siedzi
              i wszystkiego wysłuchuje, co może przynieść mu większe kłopoty. To dlatego nie
              tłumaczy (<i><span style="font-style:italic">śmiech</span></i>).</span></font></p>
              
              <p style=""><font><span style="
              "></span></font></p>
              
              <p style=""><b><font><span style="
              ;font-weight:bold">Pytanie
              2:</span></font></b><font><span style="font-size:
              14.0pt;"> Nawiązując do
              poprzedniego pytania, mówiłeś o najpierw „być,” potem „robić.” Martwię się, że
              nie jestem jeszcze przetransformowany. Ale próbuję – wkładam wysiłek, mam
              narzędzia i rozmyślam nad tym. Czy można w czasie całego tego procesu dzielić
              się nim z innymi?</span></font></p>
              
              <p style=""><b><font><span style=";
              font-weight:bold">Swami:</span></font></b><font><span style="">
              Tak, oczywiście; musisz to robić. Jeśli przeszliście jakąś ścieżkę, możecie też
              ostrzec innych. Musicie pomagać innym przejść tę samą drogę, ale oni będą szli
              za wami; nikt nie pójdzie przed wami. Wy musicie wyruszyć pierwsi.</span></font></p>
              
              <p style=""><font><span style="
              ">Nie wszystko pójdzie zbyt łatwo, ale
              nigdy nie obiecywałem, że będzie łatwo. Bądźcie więc na to gotowi, ale
              przyjmujcie wszystko w pozytywny sposób. Myślcie, że sam Swami mówi przez te
              liczne usta i pozwala wam dowiedzieć się, jak możecie się poprawić.</span></font></p>
              
              <p style=""><font><span style="
              ">Nasze dzieci w Muddenahalli są bardzo
              chętne do kaskaderskich wyczynów na motocyklach. Dostaję listy nawet od uczniów
              z siódmej i ósmej klasy, w których piszą: „Swami, pozwól nam uczestniczyć w wyczynach
              motocyklowych tak jak dzieciom z dwunastej klasy.” Ja im odpowiadam: „Gdy urośniecie
              i będziecie dostatecznie wysocy, aby poradzić sobie z motocyklem, na pewno dam
              wam taką możliwość.”</span></font></p>
              
              <p style=""><font><span style="
              ">Podobnie radzę wam, abyście nie byli
              zbyt niecierpliwi we wprowadzaniu w życie tego programu i nie zaczynali go
              wszędzie głosić. Najpierw sami zdobądźcie odpowiednie umiejętności, aby móc
              podjąć ten program. Macie jeszcze pewną drogę do przebycia. Gdy ją przejdziecie,
              podam wam wskazówki na następne kroki. Tymczasem możecie tworzyć te związki z
              pięcioma nauczycielami i dzielić się z nimi własnymi doświadczeniami nad
              poprawianiem siebie. Tak należy popychać te sprawy naprzód. </span></font></p>
              
              <p style=""><font><span style="
              ">Nie obawiajcie się, że w listopadzie
              będzie jakiś egzamin i Swami będzie pytał o wasze postępy. Nie, nic z tych
              rzeczy. To wy wiecie najlepiej, jak dobrzy lub źli jesteście.</span></font></p>
              
              <p style=""><font><span style="
              ">Włóżcie poważny wysiłek, bądźcie gotowi
              na poświęcenie, bądźcie gotowi odrzucać to, co nie jest dobre i przygarniać to,
              co jest właściwe. Zróbcie to wszystko, potem przyjdźcie to porozmawiamy więcej.
              Nie możecie budować wysokiego gmachu na wątłych fundamentach; fundamenty muszą
              być mocne. Lepiej teraz poświęcić więcej czasu i wysiłków, niż w przyszłości
              zmarnować cały wysiłek.</span></font></p>
              
              <p style=""><font><span style="
              ">Jeśli macie jeszcze coś, jakieś
              szczególne sprawy, możecie napisać o nich i przesłać. Gdy Swami uzna, że na coś
              trzeba odpowiedzieć, prześle odpowiedź.</span></font></p>
              
              <p style=""><font><span style="
              ">Na tym zakończę tę poranną sesję,
              ponieważ jest już późno. Proszę Sreenivasa, aby przedstawił końcowe uwagi o tym
              seminarium.</span></font></p>
              
              <p style=""><font><span style="
              ">(<i><span style="font-style:italic">Po
              krótkiej sesji pytań i odpowiedzi odprawiono </span></i>arati<i><span style="font-style:italic"> i rozdano </span></i>prasadam.)</span></font></p>
              
              <p style="margin-top:10.0pt;
              
              text-indent:35.45pt" class="text-right"><font size="2"><span style="font-size:11.0pt;line-height:115%;">[źródło
              </span></font><font color="#0101ff"><span style="color:#0101FF"><a href="https://drive.google.com/file/d/0B_d-MkauASQ9a3EzMTFGOWNzR1k/view" rel="no-follow"><font color="#0101ff"><span style=";color:#0101FF;text-decoration:
              none">www.divinebooklets.tk</span></font></a></span></font><font><span style="">,
              tłum. KMB, 2016.09.16]</span>   
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Poranny
              dyskurs wygłoszony na konferencji Guru Wikas</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>