<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Wspomnienia Narasimhamurthy’ego</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Wspomnienia Narasimhamurthy’ego</h2>
                
              <p><a href="http://saivrinda.org/author/kalchakrty/">Śri B.N. Narasimha Murthy</span></a>, przez przyjaciół nazywany Murthy Anna, to jeden z tych
                  wielbicieli, którzy mieli szczęście wieloletniego służenia Bhagawanowi w Jego
                  misji. Wywodzi się on z Loka Seva Vrinda (Regionalne Zrzeszenie Służebne) –
                  młodzieżowej organizacji stworzonej przez Madiyal Narayana Bhatta, wybitnego
                  działacza oświatowego z indyjskiego stanu Karnataka. W latach 1960-tych Loka
                  Seva Vrinda założyła dwie szkoły, w Alike i Muddenahalli, które działały pod
                  bezpośrednim nadzorem Bhagawana Baby.</p>
                  <p>Śri Narasimha Murthy został wybrany przez Bhagawana na
                  Kierownika Sathya Sai Hostel (akademika) w kampusie Brindavan Sri Sathya Sai
                  Institute of Higher Learning (później uniwersytetu) w Whitefield niedaleko
                  Bangaluru. Przez cztery dekady służby jako Kierownik kształtował charaktery
                  wielu tysięcy uczniów i studentów. Bhagawan dał mu też szansę kontynuacji <i><span style="font-style:italic">Satjam Śiwam Sundaram</span></i> – Jego oficjalnej
                  biografii, którą wcześniej spisywał prof. N. Kasturi. Śri Murthy jest też
                  autorem książki <i><span style="font-style:italic">Śri Satja Sai Diwja
                  Kripaśraja</span></i> (Śri Sathya Sai ucieleśnienie boskiego współczucia) –
                  autobiograficznej relacji z okresu kształtowania własnej osobowości oraz
                  rozwoju Sri Sathya Sai Loka Seva Institutions.</p>
                  <p style="
                  ">Obecnie kontynuuje swoją bardzo ważną rolę w misji Baby,
                  służąc jako Główny Mentor wspomnianych instytucji. </span></font></b></strong></p>
                  <p>Poniższe teksty są wyjątkami z rozmaitych wystąpień Murthy’ego
                  w Boskiej obecności i przedstawionych w <a href="http://saivrinda.org/blog/"><font color=""><span style=";font-weight:normal">jego blogu</span></font></a>.</span></font></b></strong></p>

                <p>
                    <figure class="float-left">
                        <img src="../../../img/ZwierzeniaMurthyego.jpg" alt="Swami - Murthi">
                        <figcaption>Swami - Murthi</figcaption>
                    </figure>
                </p>
                
                <p>Kiedyś
                do Swamiego przyszedł wielbiciel i powiedział: „Swami, Twojego <i><span style="font-style:italic">Darśanu</span></i> (widzenia) dostąpiłem dzięki
                zasługom zdobytym w wielu życiach.” Swami popatrzył na niego z miłością i
                stwierdził: „Wszystkie twoje zasługi z minionych żyć zostały zużyte wtedy, gdy
                po raz pierwszy mnie zobaczyłeś. Teraz możesz mieć tak liczne <i><span style="font-style:italic">Darśany</span></i> tylko dzięki Mojemu współczuciu.”<font ><span> [</span></font><a href="http://saivrinda.org/featured-blogs/being-his-instrument-fifty-years-of-love/">9
                VI 2016</a>]</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Bhagawan
                powiedział, że swoje życie zaplanował w sześciu fazach: pierwsza to <i><span style="font-style:italic">lile</span></i> (zabawy), druga – <i><span style="font-style:italic">mahimy</span></i> (cuda), trzecia – <i><span style="font-style:italic">upadeśa</span></i> (nauki), czwarta – <i><span style="font-style:italic">widja</span></i> (edukacja), piata <i><span style="font-style:italic">wajdja</span></i> (głoszenie <i><span style="font-style:italic">Wed</span></i>) i ostatnia, szósta – ustanowienie
                uniwersalnej esencji <i><span style="font-style:italic">Sanatana Dharmy</span></i>,
                czyli Ojcostwa Boga i Braterstwa Człowieka. W tym właśnie celu spędził 85
                chwalebnych lat transformując ludzi.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Potem
                wystawił nas wszystkich na bardzo trudny test! W 2011 r. porzucił fizyczne
                ciało, pozostawiając każdego z pytaniem „dlaczego?” Swami mówił, że pozostanie
                w postaci Sathya Sai przez 96 lat, ale nagle odszedł. Tak jak wszyscy
                wielbiciele, ja również przeszedłem zły okres wstrząsu, bezradności i
                lamentowania. A działo się to mimo, że byłem tak blisko Swamiego. W istocie,
                zostałem pobłogosławiony przez Swamiego spisaniem Jego biografii. Może
                pamiętacie, że prof. Kasturi napisał pierwsze kilka tomów <i><span style="font-style:italic">Satjam Śiwam Sundaram</span></i> (część 1, 2, 3 i 4)
                obejmujących życie Swamiego do roku 1980. Czwarta część została opublikowana w
                1980 r. Wtedy Swami miał tylko 55 lat. Następny tom nie pojawił się przez
                kolejne 25 lat. Nie miałem pojęcia, że pewnego dnia Swami poprosi mnie o
                napisanie o późniejszych latach Jego życia! Była to wyłącznie Jego łaska. Ja
                byłem tylko piórem Swamiego. Muszę wyznać, że nie mam takich zdolności czy umiejętności,
                by mienić się wielkim pisarzem, a w szczególności by zostać biografem Boga,
                biografem <i><span style="font-style:italic">Awatara</span></i>. Ale Swami
                wykorzystał mnie do napisania trzech następnych tomów. Piąty tom obejmował
                życie Swamiego w latach od 1980 do 1985, szósty – od 1985 do 1994, a siódmy –
                od 1994 do 2003. Myślałem, że następne 20 lat z łaską Swamiego rozłożę na 10 części!
                Możecie więc sobie wyobrazić, że mnie też czekał wstrząs.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Ale
                wkrótce przyszedł radosny czas, gdy Swami wrócił! Nie rzecz w tym, że wcześniej
                w ogóle gdzieś odszedł. Wszyscy słyszeliśmy lub czytaliśmy w <i><span style="font-style:italic">Biblii</span></i>, że Jezus Chrystus wrócił trzeciego
                dnia – nazywa się to zmartwychwstaniem. Swami objawił się mi trzy miesiące po
                opuszczeniu ciała. Było to w lipcu 2011 r. Kazał mi przenieść wszystkie Jego
                meble i rzeczy z Jego pokoju w <i><span style="font-style:italic">mandirze</span></i>
                Prem Deep (wcześniejsza rezydencja Swamiego, w której zamieszkiwał, gdy
                odwiedzał Muddenahalli) do Sathya Sai Anandam (rezydencja na szczycie wzgórza,
                która została zbudowana na polecenia Swamiego w lutym 2009 r.). Powiedział, że
                w Anandam będzie mieszkał od 15 lipca, a był to w owym roku dzień święta
                Gurupurnima. Reszta, jak się mówi, to historia. [<a href="http://saivrinda.org/featured-blogs/endless-bliss/">16 VI 2016</a>] </span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Swami
                wielokrotnie odwiedzał Muddenahalli – 29 razy, mówiąc ściśle. W istocie, samo
                Muddenahalli zostało zbudowane przez Bhagawana Śri Sathya Sai Babę cegła po
                cegle. Wszyscy ci, którzy pracowali tutaj i stanowili część jego rozwoju,
                doznali spełnienia w swoim życiu. Kiedyś podczas świętowania Diwali, w czasie
                pokazu fajerwerków Swami przyjechał samochodem i zauważył: </span></font><i><font "4"><span style=":13.0pt;font-style:italic" lang="EN-GB">Dajjaaldinam
                ajinadi devaadinam aaji pojindi</span></font></i><font "4"><span style=":13.0pt">, co znaczy: to, co było znane jako wzgórze diabła
                stało się teraz wzgórzem boskości.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Gdy
                Swami fizycznie odwiedzał ten kampus, zwykł przyjeżdżać rano lub przed
                południem i wyjeżdżać wieczorem. Nigdy nie zatrzymał się tutaj na noc. W 1979
                r., gdy służyłem Swamiemu w Muddenahalli, w czasie jednej z Jego wizyt
                poprosiłem: „Swami powinien zostać przynajmniej na noc.” Patrząc na mnie,
                stanowczo wypowiedział bardzo zagadkowe słowa. Powiedział: „Przybędę tutaj w
                dniu <i><span style="font-style:italic">purnima</span></i> (dzień pełni
                księżyca) i zamieszkam.” W ogóle nie rozumiałem znaczenia tego stwierdzenia, no
                i w czasie Jego fizycznej obecności taki dzień nigdy nie nastąpił. Ale, tak jak
                obiecał, chociaż wiele lat później, przybył tutaj (do Muddenahalli) w dniu
                Gurupurnima w swoim subtelnym ciele! Tajemnicze są Jego drogi, a zwykłym
                ludziom, takim jak my, trudno jest pojąć głębię Jego słów.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Przychodzi
                mi na pamięć inny ciekawy epizod. Po ukończeniu pisania siódmego tomu <i><span style="font-style:italic">Satjam Śiwam Sundaram</span></i>, Swami kazał mi
                napisać drugą część moich osobistych doświadczeń ze Swamim – dalszy ciąg mojej
                książki <i><span style="font-style:italic">Sri Sathya Sai Diwja Kripaśraja</span></i>.
                Książka ta obejmowała doświadczenia z pierwszych 18 lat mojego związku ze
                Swamim, od 1965 do 1983 r. Tak więc, ta moja niedawno wydana książka, <i><span style="font-style:italic">Sathya Sai Diwja Sannidhi</span></i> [<i><span style="font-style:italic">sannidhi</span></i> znaczy bliskość], zawiera moje
                wspomnienia doświadczeń ze Swamim w latach 1983 – 2011, co kończy mój związek z
                jego fizyczną postacią.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Później
                Swami kazał mi skupić energie na pisaniu trzeciej części – o tym, co On dokona
                przez swoje ciało subtelne. Tę książkę zatytułował <i><span style="font-style:
                italic">Satja Sai Diwja Anandam</span></i> [<i><span style="font-style:italic">ananda</span></i>
                to wyższe szczęście, błogość]. Wszyscy wiemy, że Swami jest wszechobecny, ale w
                pewnym momencie zastanawialiśmy się, co naprawdę znaczy to ciało subtelne.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Podzielę
                się z wami tym, co Swami powiedział mi o ciele subtelnym podczas tych licznych
                interakcji ze mną w minionych latach. Powiedział, że ma cztery ciała: grube (<i><span style="font-style:italic">sthula śarira</span></i>), subtelne (<i><span style="font-style:italic">sukszma śarira</span></i>), wyższe subtelne (<i><span style="font-style:italic">ati sukszma śarira</span></i>) i swoją
                wszechprzenikającą postać (<i><span style="font-style:italic">para sukszma
                śarira</span></i>). Wyjaśnił, że w tej ostatnie postaci, w ciele nad-subtelnym,
                przenika cały wszechświat – nie tylko jakieś miejsce na ziemi czy nawet całą
                Ziemi, na której żyjemy, ale obejmuje wszystkie galaktyki, gwiazdy i planety. W
                tej <i><span style="font-style:italic">para sukszma śarirze</span></i> jest On <i><span style="font-style:italic">pradźńa swarupa</span></i> – jest postacią samej
                świadomości, bez indywidualizowania. Indywidualizowanie zaczyna się od <i><span style="font-style:italic">ati sukszma śariry</span></i>, od Jego wyższej
                subtelnej formy, w której pojawia się nam w snach i podczas medytacji, by nami
                kierować. <i><span style="font-style:italic">Sukszma śarira</span></i>, czyli
                ciało subtelne, składa się z myśli, umysłu, intelektu z jego związkami, ale bez
                ciała fizycznego. Swami wyjaśnił, że w swoim subtelnym ciele może momentalnie
                przemieszczać się z jednego końca wszechświata do innego. I to robi! Dowodzą
                tego Jego odwiedziny USA, Kanady, Anglii, Singapuru, Dubai itd.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Jak
                mamy to wszystko pogodzić? Z jednej strony Śri Kriszna powiedział: „Ci, którzy
                rozumieją wewnętrzne znaczenie Mojego zstąpienia, będą wyzwoleni.” Z drugiej
                strony, stwierdził: „Nie próbuj Mnie zrozumieć. Doświadczaj Mnie i doznawaj
                błogości.”</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Co
                właściwie powinniśmy robić? Na szczęście nasz drogi Pan Sai Kriszna wskazał też
                wyjście z tego zagadkowego kalamburu. Odpowiedź zawiera się w prostej uwadze,
                którą często powtarzał: <font color=""><span style="">Jeśli
                Mnie doświadczysz, będziesz wyzwolony</span></font>. [<a href="http://saivrinda.org/featured-blogs/experiencing-him-is-the-key-to-liberation/">22
                VI 2016</a>]</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">27
                sierpnia 2011, cztery miesiące po opuszczeniu fizycznego ciała, Swami
                powiedział mi, że jego <i><span style="font-style:italic">sankalpą</span></i>
                (wolą) jest, aby na północy stanu Karnataka, w okręgu Gulbarga, powstała
                szkoła. Stwierdził, że już wybrał miejsce o powierzchni 50 akrów (ok. 20 ha) na
                zboczu zwróconym ku wschodowi i północy i że po wschodniej i południowej
                stronie jest tam droga. Mając te informacje, 6 września pojechałem do Gulbargi.
                Następnego dnia, zgodnie z poleceniem Swamiego na zgromadzeniu około 400
                wielbicieli w miejscowej sali w Gulbardze przedstawiłem trzy ogłoszenia.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Pierwsze
                ogłoszenie mówiło, że przed tegorocznymi (2011) urodzinami Swamiego odbędzie
                się <i><span style="font-style:italic">Bhumi Pudźa</span></i> (obrządek
                poświęcenia terenu pod budowę) kampusu Gulbarga. Drugie anonsowało otwarcie
                Szkoły Średniej w czerwcu 2012 r., a trzecie stwierdzało, że kompletny,
                majestatyczny budynek szkoły w kształcie pięciokąta będzie inaugurowany przed
                następnymi (listopad 2012) urodzinami Swamiego. Zwróćcie uwagę na to, że miałem
                to wszystko ogłosić, gdy jeszcze nawet nie znaleźliśmy owego terenu na szkołę!
                W istocie, jak można się domyślić, tylko Jego <i><span style="font-style:italic">wadźra
                sankalpa</span></i> (diamentowa wola) sprawiła, że wszystko odbyło się zgodnie
                z ogłoszeniami. <i><span style="font-style:italic">Bhumi Pudzię</span></i>
                przeprowadzono 21 listopada 2011 r., szkoła zaczęła działać w czerwcu 2012 r.,
                a 19 listopada 2012 r. inaugurowano budynek w kształcie pentagonu.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">To
                wszystko wzmocniło moją wiarę w Swamiego; wiedziałem, że nie ja byłem odpowiedzialny
                za założenie kampusu szkoły. Byłem tylko świadkiem, tylko narzędziem. Przez
                cztery miesiące poprzedzające inaugurację szkoły w Gulbardze Swami przychodził
                do nas codziennie rano o godz. 9:30 i przekazywał szczegółowe instrukcje na
                każdym kroku budowy. Gdy budynek nie był gotowy, wszyscy martwiliśmy się. Ale
                Swami był przy tym każdego dnia i brał na siebie odpowiedzialność. Wszystko
                dobrze się skończyło.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Następna
                szkoła miała powstać w okręgu Mandya (na południu stanu). Swami posłał mnie do
                Mandyi krótko po tym, jak budynek w Gulbardze zaczął funkcjonować w lutym 2012
                r. Pewnego dnia wezwał mnie i powiedział: „Co ty tu robisz? Jedź do Mandyi.”
                Przejęty kończeniem prac w Gulbardze, odpowiedziałem: „Swami, trzeba ukończyć
                tutaj ten budynek.” Swami zareagował na to tak mocno, jak tylko Bóg może to
                zrobić! Rzekł: „Ten budynek jest już gotowy.” A ów budynek nie został jeszcze
                nawet wzniesiony. Kazał mi pojechać do Mandyi i za siedem dni, w dniu święta
                Maha Śiwaratri o godz. 6:30 rano, o wschodzie słońca przeprowadzić <i><span style="font-style:italic">Bhumi Pudzię</span></i> dla przyszłego kampusu
                Mandya! Posłuchałem Go, ale zrobiłem to wielce zatrwożony. Trudno w to uwierzyć,
                ale zgodnie z instrukcjami Swamiego została tam przeprowadzona <i><span style="font-style:italic">Bhumi pudźa</span></i> i powstała szkoła ze
                wspaniałym budynkiem. Szczegóły projektów każdego budynku – tak w Gulbardze,
                jak i w Mandyi, a potem w kampusie dla dziewcząt w Jayapurze i chłopców w
                Bagalkot lub Bijapurze – zostały zaplanowane i podane przez Swamiego.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Mogę
                powiedzieć z pełnym przekonaniem płynącym z głębi serca, że za 10 lat te
                budynki w Karnatace będą uznane za architektoniczne arcydzieła. Ludzie będą tam
                jeździć – nie tylko dlatego, że szkoły te zbudował Sathya Sai Baba, ale także
                dlatego, że są to architektoniczne cuda. Każdy budynek jest majestatyczny i dumnie
                prezentuje się jako jedyna w swoim rodzaju zdumiewająca struktura.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Jak
                to wszystko było możliwe? Możemy zapisać tomy, starając się przedstawić Jego
                nieskończoną litość i łaskę, na końcu jednak wypadnie stwierdzić, że jest to
                wszystko po prostu przejawem Jego niezmierzonej miłości do ludzkości. Nic
                lepiej o tym nie zaświadczy niż cudowne doświadczenie Śri Srivatsana, głównego
                architekta. Gdy odprawialiśmy <i><span style="font-style:italic">Bhumi Pudzię</span></i>
                dla szkoły Sathya Sai Premaniketanam w okręgu Bijapur, Swami przekazał mu
                instrukcje, jak powinien wyglądać hol modlitw i audytorium. Architekt,
                zebrawszy się na odwagę, spytał: „Swami, po co tak wielki hol modlitw dla
                szkoły?”</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Odpowiedź
                Swamiego na to proste pytanie pokazuje jak dalekowzroczne są Jego plany! O ile
                nasze rozumienie Jego pracy i misji jest ograniczone, Jego plany wykraczają
                ponad czas, jak go zwykle pojmujemy. Na pytanie architekta Swami odpowiedział:
                „Zrób jak mówię! Ty patrzysz w przód na dwa-trzy lata. Ja patrzę na 100 lat.
                Przyjadą tu <i><span style="font-style:italic">lakhy</span></i> (setki tysięcy)
                wielbicieli, ponieważ szkołę tę założył Sathya Sai Baba a Prema Sai przybył tu
                i mieszkał przez kilka dni. Zrób to, co powiedziałem.” Nic lepiej nie podsumuje
                Jego <i><span style="font-style:italic">wadźra sankalpy</span></i>. [<a href="http://saivrinda.org/featured-blogs/his-vajra-sankalpa-transcends-time-space/">30
                VI 2016</a>] </span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Tak
                jak Pan Kriszna zbudował Dwarakę od zera, Swami zbudował <i><span style="font-style:italic">aśramy</span></i> Prasanthi Nilayam i Brindavan od
                zera. Ci z nas, którzy nie mieli szczęścia uczestniczyć w tamtych misjach, mają
                teraz inną szansę bycia świadkami rozwijania się kolejnej misji.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">W
                przypadku każdego budynku w każdym kampusie wszystko, od projektu
                architektonicznego i układu, do wzniesienia obiektu było nadzorowane i wykonane
                przez nie kogo innego, jak samego Swamiego! O ile każdy mógłby wymyślić i
                wykonać takie plany na papierze, ich realizacja w czasie mogła być naprawdę
                tylko dziełem boskości. Na przykład, gdy zaczęliśmy pracować nad planami,
                zdaliśmy sobie sprawę z tego, że ich realizacja wiązałaby się z ogromnymi
                kosztami. Pomyślcie tylko, czy jakiś Narasimha Murthy sam mógłby załatwić dość
                pieniędzy na takie przedsięwzięcia? Każdy może domyślić się, że planowanie i
                realizacja tak wspaniałych projektów dla ludzkości nie jest dla mnie możliwa,
                ani dla żadnej innej osoby.</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Kto
                więc to robi? Jest to dzieło Bhagawana Śri Sathya Sai Baby, który w przejawia
                się swojej subtelnej postaci. Chociaż sam jest niewidoczny, widać wszystkie Jego
                działania! Gdy Swami przyszedł, by zobaczyć miejsca budowy w Muddenahalli – bo tu
                także trwają budowy – powiedział naszemu inżynierowi, że ma dla niego jeszcze
                wiele pracy i że prace w Muddenahalli nigdy się nie skończą. Ciągle będzie się
                coś działo. Zastanówcie się przez chwilę: kto może mówić takie rzeczy? Czy
                Narayana Rao może coś takiego powiedzieć? Czy Narasimha Murthy może coś takiego
                powiedzieć? Nie. Może to zrobić jedynie Bhagawan Śri Sathya Sai Baba!</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Po
                co On robi tak wspaniałe rzeczy? Dwa lata temu w Londynie, gdy byliśmy ze
                Swamim w aucie, odbyła się ciekawa rozmowa. Rozmawiając z dr Girish Malhotrą,
                który kierował samochodem, Swami powiedział: „Nie myśl, że robię to wszystko,
                aby stać się sławnym – Ja już jestem sławny. Nie muszę robić nic więcej, by stać
                się jeszcze sławniejszy niż jestem. Robię to na przyjście Prema Sai.”</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><b><font "4"><span style=":13.0pt;
                font-weight:bold">Możecie spytać, po co 30 szkół w każdym okręgu Karnataki?
                Ponieważ Karnataka ma wielkie szczęście goszczenia trzeciego <i><span style="font-style:italic">Awatara</span></i> w serii <i><span style="font-style:
                italic">Awatarów</span></i> Sai, Prema Sai. On przyjedzie do kampusu Mandya,
                który założył Swami – do Sri Sathya Sai Niketanam. „Robię to wszystko dla Prema
                Sai. Ta subtelna forma pozostanie do 2022 r. jako przejściowa, między fizyczną
                postacią Sathya Sai i fizyczną postacią Prema Sai” – wyjaśnił kiedyś Swami.</span></font></b></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">To
                wszystko jest dla większości z nas całkiem nowe. Jak w tej sytuacji wszystko to
                zrozumieć? Istnieje tylko jeden sposób – otwórzcie serce, zamknijcie logikę,
                zamknijcie mózg. Dlaczego? Ponieważ wszystko to wykracza poza logikę. Takie
                rzeczy nie zdarzały się nigdy wcześniej – nie mają precedensu. W jednym ze
                swoich dyskursów podczas Maha Śiwaratri Swami powiedział, że taki <i><span style="font-style:italic">Awatar</span></i> nigdy wcześniej się nie pojawił i
                też w przyszłości nigdy już się nie pojawi. [<a href="http://saivrinda.org/featured-blogs/open-your-hearts-to-experience-divinity/">7
                VII 2016</a>]</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">Przy
                pewnej okazji Swami przemawiał do grupy wielbicieli, a ja miałem to szczęście,
                że uczestniczyłem w tej sesji. Swami powiedział: „Czy myślicie, że zawsze
                jestem tylko w Anandam lub Muddenahalli? Po tym jak opuściłem swoje fizyczne
                ciało, znajduję się w innej <i><span style="font-style:italic">loce</span></i>
                (świecie), która jest najwyższą <i><span style="font-style:italic">loką</span></i>
                w kosmosie, tj. w Satja Loce. Otaczają mnie tam stale najbardziej rozwinięte
                dusze, takie jak Sapta Riszi. Ale teraz, ze względu na Moją misję, większość
                czasu spędzam w Muddenahalli.” [<a href="http://saivrinda.org/featured-blogs/the-wind-beneath-our-wings/">21 VII 2016</a>]</span></font></p>
                
                <p style="margin-left:
                0cm;
                "><font "4"><span style=":13.0pt">[<i><span style="font-style:italic">Kończąc blog, w którym wspomina współczucie Swamiego
                okazywane Jego uczniom, Murthy napisał:</span></i>] Dostąpiłem tej wielkiej
                szansy służenia Swamiemu w Jego bliskości przez ponad 50 lat. Jest On niczym
                innym jak ucieleśnieniem miłości i współczucia. Gdy tak wystukuję te wspomnienia
                na klawiaturze, oczy zachodzą mi łzami wdzięczności. Muszę więc zakończyć w tym
                miejscu, aby odeszły mnie emocje. Może mam 70 lat, ale dla Swamiego jestem
                ciągle Jego dzieckiem, i stale tęsknię za Jego miłością i opieką, tak jak czyni
                to prawdziwe dziecko. A On nigdy mnie nie zawiódł. [<a href="http://saivrinda.org/featured-blogs/the-god-of-small-things/">28 VII 2016</a>]</span></font></p>
                
                <p style="
                
                " class="text-right"><font><span style="">[tłum. KMB, 2016-8-2]</span>
           
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Wspomnienia Narasimhamurthy’ego</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>