<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Jak Swami dał Polakom
swoją Rama Kata Rasa Wahini</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Jak Swami dał Polakom
swoją Rama Kata Rasa Wahini</h2>



<p class="text-center my-5">K.M. Borkowski</span></font></p></center>

<figure class="text-center">
    <img src="../../../img/Sai.jpg" alt="">
    <figcaption></figcaption>
</figure>

<p>Early morning in April 1995 I dreamed the following dream. Swami, playing the role of a priest, is walking towards the church where I used to attend Sunday Masses.</big></big></p><big><big>
    <p>I am running after Him expecting He will hear my confession. Right in front of the church entrance He, continuing walking, turns towards me. I look at Him, my face expressing a fear (like a child about to tell a parent about a tresspass) mixed with begging (to have mercy on me). He says in Polish (my native tongue), "You are frightened, aren't you?" "Yes, a bit." Then He said: "I will give you a tome which you will be using for the next three years." After this we entered the church, He went somewhere near the main altar, and I sat down on a bench to prepare for the confession.</p>
    
    <p>The word Swami used in my language for 'tome' meant a heavy, learned book like the Bible. So, on waking up I thought He wants me to work on the Bible itself. This thought filled me with apprehension, for I knew the Bible to be a mixture of many not very reliable stories and possible working on it would mean a long and boring undertaking, certainly not anything really interesting. Thus the main message of the dream was soon forgotten (however, I did write it down as it has been my custom to record all dreams with Swami).</p>
    <p>A few month later I borrowed from someone Swami's book Rama Katha Rasa Vahini (it is His version of the famous Indian epic Ramayana). After reading a few first pages I found it so much facinating that during all the following days and months my every free time was filled with this story of Rama. Even after fininishing reading both the volumes I could not put them just aside and did continue reading them again and again. No other book in my life ever impressed me to this extent. Naturally, then I felt such great writing should be made known to everybody, and so also to my fellow countrymen.</p>
    <p>While reading, each time I very vividly imagined the scenes described there and in my mind slowly begun to appear thoughts that I would be able to nicely render various episodes in Polish. The reader should know that at that time I had no experience in translation (I am an astronomer by profession) and in fact my English was not good enough. Yet, as months rolled by, seeing the importance of the book and having this great desire to share all the fantastic teachings contained therein, finally in November 1995 I started to translate them, page by page, chapter by chapter. At that time in my town we had a small group of Sai devotees who used to meet once a month or so.  Initially my translations were meant for this group only. We used to prepare homemade brochures with whatever I could translate of Sai Baba's writings or about Him. These later were being distributed all over the country.</p>
    <p>When I begun this translation I did not connect it in any way with what Swami told me in the dream. Later however I realized it must be but His will. This become clearly evident when the work was over and when to my delight I noted it took almost exactly three years! (In fact it was a few months longer, but there were breaks in the work.)</p>
    <p>The story did not end at these brochures. On and off I continued to work on these translations together with a few official editors within Polish Sathya Sai Organization to make them suitable for publishing, but the time spent on this additional work was relatively short. Eventually the books, comprising of about 700 pages, were published in 2001 (see <a href="http://www.sathyasai.org.pl/publikacje.php?tekst=t4.1#sathya" rel="no-follow">here</a>). The first volume is adorned with a photo of Swami and the second with a drawing by Ela Garwacka of Indian subcontinent with the Rama ayana (going) marked, both reproduced here.</p>
    <br>
    <p>You can view a larger image of the map below by clicking <a href="DrogaRamy.jpg" target="blank">here</a>.</p>

</div>
<figure class="text-center">
    <img src="../../../img/DrogaRamy-smaller.jpg" alt="">
    <figcaption></figcaption>
</figure>
<br><small>
</p>
               
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Jak Swami dał Polakom
swoją Rama Kata Rasa Wahini</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>