<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Jak Swami dał Polakom
swoją Rama Kata Rasa Wahini</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Jak Swami dał Polakom
swoją Rama Kata Rasa Wahini</h2>



<p class="MsoBodyText" style="text-align:center" align="center"><font "3" "Times New Roman"><span style="14.0pt">K.M. Borkowski</span></font></p></center>

<figure class="text-center">
    <img src="../../../img/Sai.jpg" alt="">
    <figcaption></figcaption>
</figure>

</p><p class="MsoBodyText"><font "3" "Times New Roman">&nbsp;</font></p>

<!--big--><!--big--><p class="MsoBodyText"><font "3" "Times New Roman"><span style="15.0pt">Wczesnym rankiem w kwietniu 1995 r. miałem następujący
sen. Swami w roli księdza idzie w kierunku kościoła, do którego zwykle chodzę
na niedzielne msze. Podbiegam za Nim od tyłu, licząc, że się u Niego wyspowiadam.
On, nie przestając iść, tuż przed wejściem do kościoła obraca się ku mnie. Ja
patrzę mu w oczy, mając na swojej twarzy wyraz strachu zmieszanego z błaganiem (aby
ulitował się nade mną). On w moim ojczystym języku pyta: „Co, w strachu?" „[Tak],
trochę” – odpowiadam. Następnie powiedział: „Dam ci księgę, którą będziesz nosił/używał
przez następne trzy lata.” Potem weszliśmy do kościoła. On przeszedł na przód
kościoła, gdzieś w okolice głównego ołtarza, a ja usiadłem w jednej z ostatnich
ławek, by przygotować się do spowiedzi.</span></font></p>

<p><font "3" "Times New Roman"><span style="
14.0pt">&nbsp;</span></font></p>

<p><font "3" "Times New Roman"><span style="
15.0pt">Słowo, które Swami użył na określenie ‘księga’ odebrałem jako Biblia. Dlatego
po przebudzeniu pomyślałem, że chce, abym pracował właśnie nad Biblią. Ta myśl wzbudziła
we mnie obawę, gdyż znałem Biblię jako zbiór wielu niezbyt wiarygodnych historii,
a perspektywa pracy nad nią oznaczała długie i nudne przedsięwzięcie – z pewnością
nic ciekawego. Sprawiło to, że szybko zapomniałem o głównym przesłaniu tego snu
(jednakże, zapisałem ten sen, gdyż mam zwyczaj notowania wszystkich snów ze
Swamim).</span></font></p>

<p><font "3" "Times New Roman"><span style="
14.0pt">&nbsp;</span></font></p>

<p><font "3" "Times New Roman"><span style="
15.0pt">Kilka miesięcy później pożyczyłem od kogoś książkę napisaną przez
Swamiego pod tytułem <i><span style="font-style:italic">Rama Katha Rasa Vahini</span></i>
(jest to Jego wersja słynnego hinduskiego eposu <i><span style="font-style:
italic">Ramajana</span></i>). Po przeczytaniu kilku początkowych stron książka wydała
mi się tak fascynująca, że odtąd przez wszystkie następne dni i miesiące cały
mój wolny czas wypełniała historia Ramy. Nawet po skończeniu czytania obu tomów
nie mogłem ich po prostu odłożyć na półkę, lecz dalej czytałem po wielokroć. Żadna
inna książka nigdy nie wywarła na mnie takiego wrażenia jak ta. Naturalnie,
uważałem wtedy, że tak wartościową rzecz powinien poznać każdy, a więc także
moi rodacy. </span></font></p>

<p><font "3" "Times New Roman"><span style="
14.0pt">&nbsp;</span></font></p>

<p><font "3" "Times New Roman"><span style="
15.0pt">Czytając tę księgę, za każdym razem żywo wyobrażałem sobie opisywane
tam sceny, a w moim umyśle coraz częściej zaczęły pojawiać się myśli, jak pięknie
mógłbym przedstawić poszczególne epizody po polsku. Czytelnik powinien
wiedzieć, że w tamtym czasie nie miałem doświadczenia w tłumaczeniu z
angielskiego (jestem z zawodu astronomem) i w istocie moja znajomość tego
języka nie była wystarczająca do takiej pracy. Niemniej, w miarę upływu
miesięcy, mając wciąż w głowie przekonanie o wielkiej wartości tej książki i
pragnienie podzielenia się tymi fantastycznymi naukami z innymi, w końcu w listopadzie
tego samego roku zacząłem tłumaczyć je na język polski – strona po stronie,
rozdział po rozdziale. W tamtym okresie w naszym mieście działała niewielka
grupa wielbicieli Sai, którzy spotykali się zwykle raz na miesiąc. Początkowo
moje tłumaczenia były robione z myślą o tej właśnie grupie. Cokolwiek udało mi
się przetłumaczyć z nauk Sai Baby lub o Nim, powielaliśmy w postaci broszur, które
później były rozprowadzane w innych grupach w całym kraju.</span></font></p>

<p><font "3" "Times New Roman"><span style="
14.0pt">&nbsp;</span></font></p>

<p><font "3" "Times New Roman"><span style="
15.0pt">Kiedy zaczynałem tłumaczyć <i><span style="font-style:italic">Ramakatę</span></i>,
&nbsp;nie łączyłem tego nijak z tym, co Swami powiedział mi w tamtym śnie. Jednak z
czasem uświadamiałem sobie, że musi to być wynik Jego woli. Stało się to
oczywiste, kiedy skończyłem pracę i ku własnemu zachwytowi stwierdziłem, że zajęło
mi to niemal dokładnie trzy lata! (Faktycznie trwało to kilka miesięcy dłużej,
ale w międzyczasie wystąpiły przerwy w tłumaczeniu.) </span></font></p>

<p><font "3" "Times New Roman"><span style="
14.0pt">&nbsp;</span></font></p>

<p style="border:none;padding:0cm"><font "3" "Times New Roman"><span style="15.0pt">Cała historia nie
skończyła się na broszurach. W późniejszym czasie kontynuowałem poprawianie tego
pierwszego tłumaczenia we współpracy z kilkoma oficjalnymi tłumaczami
Organizacji Sathya Sai w Polsce w celu doprowadzenia do stanu nadającego się do
opublikowania, jednak czas spędzony na tej dodatkowej pracy był względnie
krótki. Ostatecznie te dwa tomy, obejmujące w sumie około 700 stron, zostały
opublikowane w 2001&nbsp;r. (patrz <a href="http://www.sathyasai.org.pl/publikacje.php?tekst=t4.1#sathya" rel="no-follow">tutaj</a>). </span></font>
<!--br clear=ALL-->
<font "3"><span style="15.0pt">Pierwszy tom zdobi zdjęcie Swamiego
wśród kwiatów, a drugi – rysunek Eli Garwackiej przedstawiający mapę Indii z
zaznaczoną Rama-<i><span style="font-style:italic">ajaną</span></i> (drogą
Ramy). Oba te obrazki są załączone do tego tekstu.</span></font></p>

</div>
<figure class="text-center">
    <img src="../../../img/DrogaRamy-smaller.jpg" alt="">
    <figcaption></figcaption>
</figure>
<br><small>
<br><p class="text-right">[2010.12.20]
</p>
               
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Jak Swami dał Polakom
swoją Rama Kata Rasa Wahini</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>