<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Boska Abhajahasta</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Boska Abhajahasta</h2>
                </span></b></p>
<p style="margin-top:0cm
0cm"><span style="Arial
">Jest to poruszająca historia opowiedziana
przez Raviego M., byłego studenta Instytutu Sathya Sai, dziś Technicznego
Administratora w Super Speciality Hostel w Puttaparthi, w obecności Swamiego w
Brindawanie w 2003 r.</span></p>

<p style="margin-top:0cm
0cm"><span style="Arial
"></span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Pewnego dnia w 1992 r. po porannym <i>Darśanie</i>,
gdy przyszliśmy do Szpitala i przygotowywaliśmy się do swoich zajęć, pacjenci
otrzymywali śniadanie, a niektórzy byli myci albo przenoszeni do innych
pomieszczeń, ku naszemu najwyższemu zaskoczeniu zjawił się nie zapowiadany
Swami — nikt Mu nie towarzyszył.</span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Swami sam otworzył sobie drzwi i
wszedł. Nikt nie rozumiał co się dzieje, gdyż normalnie wiemy, kiedy Bhagawan
ma przyjechać i zwykle jest ktoś, kogo Bhagawan chce zobaczyć. Bhagawan pewnym
krokiem podszedł do recepcji sali operacyjnej, otworzył sobie drzwi do oddziału
intensywnej opieki medycznej i zatrzymał się przy pacjentce leżącej na jednym z
łóżek. Było nam wstyd, że nikt nie pośpieszył otworzyć drzwi Bhagawanowi. Dwóch
lub trzech z nas, wprawionych w zakłopotanie studentów, poszło za Bhagawanem
zastanawiając się, co też Go tutaj przywiodło.</span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Swami skierował się do owej kobiety
i obdarzył ją <i>Abhajahastą</i> (ręką uniesioną na znak błogosławieństwa i
ochrony). Jakże cudowną pozę przyjął wtedy Swami — nawet samo wspomnienie
tamtej <i>Abhajahasty </i>przyprawia mnie o ciarki. Miał w oczach owo
dalekowzroczne spojrzenie, pełne wyrozumiałości, współczucia, miłości i
litości, którym tylko On może obdarzyć. Nie wiem, czy ta kobieta w ogóle znała
Swamiego, ale wiedziała, że oto przyszła odpowiedź na jej nieszczęście, smutek
i cierpienie, jakiego doznawała po operacji. Zdołała tylko złożyć obie dłonie i
pozdrowić Swamiego. Swami popatrzył na nią i wyszedł. Nie powiedział ani słowa
do nikogo. Wsiadł do swojego samochodu i odjechał.</span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Zapragnąłem dowiedzieć się, co
sprowadziło tu Swamiego. Zacząłem wypytywać lekarzy, czym szczególnym
wyróżniała się ta kobieta. Okazało się, że nie było w jej przypadku absolutnie
niczego szczególnego. Bhagawan zstąpił jako <i>Awatar</i>, by łagodzić
cierpienie i oznajmia nam: „Każdy, kto Mnie potrzebuje, zasługuje na Mnie.”</span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Kobietę przyjęto w środku nocy. Była
w ciąży. Jej dziecko cierpiało na poważny stan ostrego zwężenia zastawki
dwudzielnej (<i>mitral stenosis</i>) i nie można było go uratować. Zastawka w
jego sercu była całkowicie zamknięta. W istocie nosiła martwe dziecko. Było
tylko kwestią kilku minut zanim i ona by umarła. Lekarze podjęli decyzję o
natychmiastowej operacji w celu odebrania porodu martwego dziecka, by uratować
ją przed niechybną śmiercią.</span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Obrzęk płuc sprawił, że w kilka
sekund z jej ust zaczęła wydobywać się piana i krew. Lekarze pośpiesznie
przenieśli ją do sali operacyjnej i otworzyli jej zastawkę. Uratowano ją.
Jednakże, leżąc tam w sali pooperacyjnej, przeżywała dokuczliwy ból cielesny po
dwóch operacjach oraz psychologiczny ból po utracie dziecka. Jak zwierzyła się
później jednej ze starszych pielęgniarek, myślała wtedy: „Co to za życie? Czy
warto żyć? Z kim mam dzielić swój smutek?”</span></p>

<p><span style="
"><span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>Te myśli 'dosięgły' Bhagawana.
Bhagawan jest zawsze otwarty na nasze cierpienia, zawsze jest dostępny, zawsze
osiągalny i zawsze obecny, gdy Go potrzebujemy. Cierpienie tej kobiety, która
prawdopodobnie nie była nawet Jego wielbicielką i nie znała Bhagawana, wezwało
Bhagawana i tam go sprowadziło. Tamta <i>Abhajahasta</i> była niezwykła —
zdawało się, że istniał miedzy nimi związek od wielu inkarnacji.</span></p>

<p style="text-align:right" align="right"><span style="">[z <i>Heart to Heart</i> Nr 7/2005 tłum.
KMB]<span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span></span></p>

<p><span style="
"></span></p>

<p><span style="
"></span></p>

<p><span style="
"></span></p>

<p style="text-align:center" align="center"><b><span style="font-size:16.0pt">Statystyka
operacji w szpitalach Śri Sathya Sai</span></b></p>

<p></p>

<p><b><span style="
">Puttaparthi Superspeciality Hospital</span></b></p>

<p><span style="
">Statystyka za okres 1991.11.22 – 2005.06.30</span></p>

<p><span style="
"></span></p>

<p><span style="
">Operacje kardiologiczne 14 813 </span></p>

<p><span style="
">Cewnikowanie
serca </span><span style="
">15 430</span></p>

<p><span style=""><span style="">&nbsp</span>” ”</span><span style="
"> – diagnostyczne 10 712</span></p>

<p><span style=""><span style="">&nbsp</span>” ”</span><span style="
"> – interwencyjne 4 311</span></p>

<p><span style="
">Operacje urologiczne 26 726</span></p>

<p><span style="
">Operacje oczu 26 239</span></p>

<p><span style="
">Prześwietlenia tomograficzne 4 141</span></p>

<p><span style="
"></span></p>

<p><span style="
"></span></p>

<p><b><span style="
">Bangalore Superspeciality Hospital</span></b></p>

<p><span style="
">Statystyka za okres 2001.01.19 – 2005.06.30 </span></p>

<p><span style="
"><span style="">&nbsp</span></span></p>

<p><span style="
">Operacje kardiologiczne 5 501</span></p>

<p><span style="
">Procedury cewnikowania 10 568</span></p>

<p><span style=""><span style="">&nbsp</span>” ”</span><span style="
"> – diagnostyczne 4 782</span></p>

<p><span style=""><span style="">&nbsp</span>” ”</span><span style="
"> – interwencyjne </span><span style="
">5 786</span><span style=""></span></p>

<p><span style="
">Operacje neurologiczne </span>4 865</span><span style="
"></span></p>

<p><span style="
">Prześwietlenia tomograficzne </span>15 835</span><span style="
"></span></p>

<p><span style="
">Prześwietlenia MRI </span>18 134</span><span style="
"></span></p>

<p><span style="
"></span></p>

<p style="text-align:right" align="right"><span style="">
[z <i>Heart to Heart</i> Nr 8/2005 tłum. KMB]<span style="mso-tab-count:1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
</span></span></p>

<p><span style="
"></span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Boska Abhajahasta</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>