<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Swami rozmawia z wyczekującymi chłopcami</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Swami rozmawia z wyczekującymi chłopcami</h2>
<p  class="text-center my-5"center>Relacja wielbiciela  
<a href="http://aumsairam0.tripod.com/waiting/waiting.htm" rel="no-follow">w internecie</a> z dnia 2 lutego 2004 r.</p>

<p>&nbsp;<br>
Dzisiejszy dzień był pamiętny dla wszystkich 21 wyczekujących chłopców. Od prawie półtora miesiąca planowali prezentację w Boskiej Obecności małego programu muzycznego. Swami ciągle bawił się z nimi w kotka i myszkę, ale wreszcie dziś czekanie zaowocowało. Zaraz jak Swami przyjechał na poranny <i>Darśan</i>, posłał po jednego z czekających chłopców. Wszyscy tam byliśmy, gdyż był to dzień świąteczny — Bakri Id [ważne muzułmańskie święto ofiary]. Swami powiedział chłopcu, że przybył wcześniej po to, by wysłuchać ich programu i spytał go, czy pozostali są gotowi na występ.<br>
Chłopiec poszedł do holu bhadźanowego, sprawdził gotowość innych i wrócił do Swamiego z potwierdzeniem. Następnie Swami wszedł do pokoju audiencyjnego i polecił im zaczynać. Potem przyszedł do holu bhadźanowego i usiadł na swoim fotelu. Wtedy usłyszeliśmy do głębi przejmujące śpiewanie przepięknych pieśni w wykonaniu oczekującej grupy chłopców. Większość z pieśni była kompozycjami Swamiego, takimi jak <i>Daja ćeta dhanjulu kawalara, Na mora winawa, Narajan bhadźo Narayan, Rama Rama Sita, Aharaha tawa</i>, ale były też inne w rodzaju <i>Kajse dźijun majn tere bin, Ujirum niwe ulagam niwe taje</i>.<br>
Skończyły się pieśni i miało się zacząć Arati. Swami polecił wstrzymać obrządek, ale <i>pudźari</i> już zapalił kamforę, dlatego Arati potoczyło się swoim trybem. Potem Swami spędził prawie godzinę rozmawiając z chłopcami. Oto wyjątki z tej rozmowy.</p>
<p><b>Swami</b>: Kto wysunął pomysł muzycznego programu?</p>
<p><b>Chłopcy</b>: My wszyscy, Swami. Ćwiczyliśmy w jednym z domów.</p>
<p><b>Swami</b> (do VC [prorektor]): Kim jest ten chłopiec?</p>
<p><b>VC</b>: Swami, on zrobił magisterium z nauk ścisłych (matematykę), a potem z nauk technicznych.</p>
<p><b>Swami</b>: Czy jest dobrym chłopcem? Jakie stopnie otrzymał?</p>
<p><b>VC</b>: Swami, to bardzo dobry chłopiec — z całych studiów otrzymał najwyższą ocenę.</p>
<p><b>Swami</b>: Tak. Daj mu pracę wykładowcy. W naszym Instytucie wykładowcom płacimy pensje wyłącznie według skali rządowej. (Do innego chłopca:) Co robisz?</p>
<p><b>Chłopiec</b>: IAS, Swami.</p>
<p><b>Swami</b>: Nie chcę IAS, odwróć to. Chcę SAI. Powiem ...</p><p>

Teraz Swami wypytywał większość z chłopców o ich kwalifikacje. Oni odpowiadali w stylu: MFM, MBA, M.S.(B) [angielskie skróty stopni otrzymywanych po studiach].
</p><p><b>Swami </b>(z uznaniem dla osiągnięć chłopców i zwracając się do żeńskich ważnych osobistości, <i>VIP</i>): Widzicie, ci chłopcy skończyli podwójne kierunki i teraz czekają, aż Swami da im pracę. Nie chcą iść na zewnątrz. (Po wielokrotnym usłyszeniu tytułów MBA, MFM, zauważył żartobliwie:) Po co aż tyle MBA i M.Sc.?</p>
<p><b>VC</b>: Swami, gdzie indziej wszystko to jest bardzo drogie. Muszą zdawać trudny egzamin wstępny, a potem muszą jeszcze zapłacić niemal 5 <i>lakhów</i> [500 000 rupii], by otrzymać miejsce. Po tym wszystkim nie otrzymują tak dobrego wykształcenia, jak tutaj.</p>
<p><b>Swami</b>: Tak, to prawda. Ale po ukończeniu studiów, nie powinni siedzieć bezczynnie. Ich rodzice łożyli na nich tak wiele. Muszą wracać i służyć rodzicom.</p>
Swami wskazał na przemysłowca wśród <i>VIPów</i> i poprosił, by podszedł.<p></p>
<p><b>Swami</b>: Jakie pensje płacisz w swoim zakładzie? Popatrz, wszyscy ci chłopcy ukończyli po dwa kierunki i czekają na Swamiego, by dał im okazję służenia.</p>
<p><b>Swami</b> (do chłopca): Co studiowałeś?</p>
<p><b>Chłopiec</b>: Swami – B.Com., MBA, M.Phil. Tylko Ty dałeś mi złoty medal.</p>
<p><b>Swami</b>: Swami daje wszystkim wszystko. Posłuchaj, powiem ci ważną rzecz. Twoja matka nie ma nóg. Nie może chodzić. Ale pracuje bardzo ciężko i żywi ciebie. Dlaczego nie zaczniesz pracować, nie zaopiekujesz się nią i nie dasz jej trochę odpocząć?</p>
<p><b>Chłopiec</b>: Przygotowuję dla niej posiłek i dopiero wtedy wychodzę do pracy na wieś. Nawet kiedy jeszcze mieszkałem tutaj w akademiku, zwykłem chodzić do domu i gotować dla niej.</p>
<p><b>Swami</b>: Ciągle się tu kręcisz. Kto się nią zaopiekuje?</p>
<p><b>Chłopiec</b>: Swami, przychodzę tylko dla Ciebie, nie ma innego powodu.</p>
<p><b>Swami</b> (z uznaniem): Widzicie, ten chłopiec chce tylko Mnie i niczego innego. Ogromnie się raduję widząc Moich chłopców tak troszczących się o rodziców. Jest to możliwe tylko u naszych chłopców. Gdzie indziej jest to wielka rzadkość. Jestem bardzo szczęśliwy, widząc jak dobrze się wszyscy zasługujecie. Ale czy udzielacie się w służbie Swamiego? </p>
<p><b>Chłopiec</b>: Tak, Swami. Wszyscy chodzimy do wiosek i organizujemy obozy medyczne, nauczanie dzieci, programy samo-zatrudnienia.</p>
<p><b>Swami</b>: <i>Ćala santoszam</i> [bardzo szczęśliwy].</p>
<p><b>Chłopiec</b>: Mam małą prośbę, Swami. Zdobyliśmy tyle tytułów. Moglibyśmy pójść na zewnątrz i szukać pracy, ale zamiast tego daj nam zdolność stworzenia pracy dla dziesięciu innych ludzi.</p>
<p><b>Swami</b>: O, wtedy wszyscy będziecie musieli zająć najwyższe stanowiska jako wielcy kierownicy.</p>
<p><b>Chłopiec</b>: Swami, prosimy, pozwól nam rozpocząć przemysł na małą skalę, który da pracę wielu miejscowym ludziom.</p>
<p><b>Swami</b>: Ale jak wówczas znajdziecie rynek?</p>
<p><b>Chłopiec</b>: Swami, jeśli nasze działania będą oparte na dobrych intencjach, rynek znajdzie się automatycznie.</p>
<p><b>Swami</b>: Bardzo dobrze. Jeśli macie tę ufność, tak się stanie. Wiara jest bardzo ważna.</p>
<b><i></i></b><i></i><p><i><b>VIP</b></i>: Tak, Swami. Uczciwość i lojalność są zasadnicze.</p>
<p><b>Swami</b>: Tak. Prawda, uczciwość i lojalność są bardzo ważne.</p>
<p><b>Chłopiec</b>: Ale, Swami, wszystko to jest tylko tutaj, a nie ma tego gdzie indziej.</p>
<p><b>Swami</b>: Tak, ale powinniśmy móc osiągnąć to samo nawet na zewnątrz.</p>
<p><b>Chłopiec</b>: Jeśli osiągniemy to tutaj, gdziekolwiek pójdziemy, będziemy mogli zrobić to samo.</p>
<p><b>Swami</b>: Zaraz po skończeniu nauki, musicie wracać i zaopiekować się rodzicami. <i>Matri Dewo bhawa, pitri Dewo bhawa</i>... Nigdy nie powinniście sprawiać im zawodu. Jeśli z waszego powodu matka uroni jedną łzę, będziecie płakać przez całe życie.</p>
<p><b>Swami</b>: Co Lawa i Kuśa mówili? (Swami dławił się pod wpływem emocji; mówił dalej ze łzami w oczach:) Chcemy opiekować się naszymi rodzicami — Ramą i Sitą — i chcemy służyć im przez całe nasze życie.</p>
<p><b>Chłopiec</b>: Swami, prosimy, nie przejmuj się tak bardzo; nie możemy znieść widoku Ciebie w takim stanie.</p>
<p><b>Swami</b>: To są łzy radości. <i>Idi ananda baszpamu</i> — a nie <i>śoka</i> [smutku] <i>baszapamu</i>. Bardzo się wzruszam widząc jak wy, chłopcy, wspaniale troszczycie się o swoich rodziców.</p>
<p><b>Chłopiec</b>: Swami, <i>mi anandame ma ananadamu</i>.</p>
<p><b>Swami</b>: <i>Abbo!!! Kadu bangaru, mi anandame Na ananadamu</i>.</p>
<p><b>Chłopcy</b>: Ciężko nam patrzeć, jak kulejesz i w ten sposób chodzisz. Prosimy, ulecz się.</p>
<p><b>Swami</b>: Nawet to dzieje się tylko dla waszego dobra.</p>
<p><b>Chłopcy</b>: Prosimy, wybacz nam nasze błędy.</p>
<p><b>Swami</b>: Tak, wybaczyłem i dlatego z wami rozmawiam. Nie odczuwam bólu, gdyż w ogóle nie mam świadomości cielesnej. Tamtego dnia w Brindawanie pewien chłopiec stojąc na żelaznym stołku przymocowywał <i>toranam</i> [feston] nad drzwiami. Otworzyłem drzwi a zaskoczony chłopiec spadł na Mnie wraz z żelaznym stołkiem. Kość pękła na trzy części. Lekarze powiedzieli 'Kość Boga jest bardzo mocna. Trudno ją zastąpić.' Dlatego w jej miejsce wstawili żelazny pręt. To przez ten żelazny pręt kuleję. Nie boli Mnie. Również to powoli odejdzie.  Patrzcie, nawet w tym wieku jestem bardzo piękny i zdrowy. Czy ktokolwiek inny może takim być? Lekarze poradzili trzyletni odpoczynek w łóżku, ale Ja już chodzę. Jestem bardzo zdrowy.</p>
<p><b>Chłopiec</b>: Swami, Twoja Miłość do nas jest tak wielka.</p>
<p><b>Swami</b>: <i>Aunu, Na Prema ćala aparamajnatidi</i> (Tak, Moja Miłość jest nieskończona). Wy chłopcy nie możecie tego zrozumieć.</p>
Swami wykreował <i>lingam</i> Wadźra (przeźroczysty kryształ) i dał go jednemu z chłopców nakazując, by go pilnował.<p></p>
<p><b>Chłopiec</b>: Swami, jesteśmy gotowi nawet na pracę sprzątacza u Twoich Lotosowych Stóp.</p>
<p><b>Swami</b>: Czy mogę dać tak niską pracę Moim chłopcom? <i>Mi gaurawame Na gaurawamu</i> (wasza godność jest Moją godnością). Dam wam pracę zgodną z waszymi kwalifikacjami.</p>
Była już prawie 9:40 rano, gdy Swami wstał ze swojego fotela i spytał głośno: <i>Em kawali</i>?<p></p>
<p><b>Chłopcy</b>: Swami, my Cię chcemy.</p>
<p><b>Swami</b>: Jestem gotów, bierzcie Mnie.</p>
<p><b>Chłopcy</b>: My też jesteśmy gotowi. Weź nas.</p>
<p><b>Swami</b>: <i>Santoszam. Santoszam</i>.</p><p>
Gdy odchodził trzymając jednego z chłopców za rękę, chłopcy zaczęli prosić: 'Swami, zatrzymaj nas przy sobie.' Swami żartobliwie powiedział: 'Widzicie, już się wzmagają wasze pragnienia.'<br>
Po południu Swami przyszedł około godz. 3:20. Przez jakiś czas trwało śpiewanie <i>Wed</i>. Nagle Swami zawołał Prof. Anila Kumara i kazał mu mówić. Nastąpiła ulewa pięknych przesłań, przeżyć i wierszy Swamiego w języku telugu. Wykład był bardzo inspirujący. Kumar mówił przez nieco ponad pół godziny i skończył. Rozległy się głośne oklaski. Swami polecił mu, by kontynuował, tak że otrzymaliśmy następne ponad pół godziny wykładu.<br>
Po wykładzie było Arati. Swami wstał. Arati odprawiał student z Koledżu Muzyki a inny wręczył kwiat. Swami kazał temu chłopcu zaśpiewać <i>Rama kathę</i> [Opowieść o Ramie]. Chłopiec zaśpiewał początkowy fragment. Swami z wielką miłością pobłogosławił obu chłopców. Gdy szedł w kierunku swojego pojazdu, zauważył czekających na Niego 'wyczekujących chłopców.' Przez jakiś czas rozmawiał z nimi po czym wskazał na pokój audiencji. Oczywiście, pobiegli tam jak na skrzydłach.<br>
Swami trzymał ich na audiencji przez 45 minut. Rozmawiał z każdym z osobna. Powiedział, że najbliższy czwartek (<i>purnima</i> [pełnia księżyca]) jest bardzo pomyślnym dniem i wtedy wręczy im umowy. Dla chłopca, który z rana otrzymał <i>Lingam</i>, Swami wykreował pudełko na ten <i>Lingam</i>! Każdy z chłopców otrzymał też osobne zdjęcie!<p></p>
<p class="text-right my-5">[tłum.: KMB; luty 2004] &nbsp;</p>


            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Swami rozmawia z wyczekującymi chłopcami</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>