<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Artykuły<span class="sr-only">(current)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                            <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach
                                ludzkich</a>
                            <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego
                                Wieku</a>
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai
                                Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci —
                                Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Michael Goldstein o Organizacji</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Michael Goldstein o Organizacji</h2>
                Michael Goldstein o Organizacji</span></b></p>

<p><span>Boskość chodzi
wśród nas w pięknej postaci naszego ukochanego Bhagawana Śri Sathya Sai Baby.
Powinniśmy docenić i wykorzystać błogosławieństwo tego Daru Boga – Jego
Obecności na świecie w ludzkiej postaci w czasie naszego życia. W takiej
właśnie intencji w okresie luty-czerwiec b.r. zorganizowano serię sześciu
(Londyn, Rzym, Buenos Aires, Singapur, Los Angeles i Nowy Jork) dwudniowych
spotkań pomyślanych także jako preludium do Obchodów 80-tych Urodzin oraz 8-mej
Światowej Konferencji. Spotkania te odbyły się z inicjatywy Prashanthi Council
(Rada Praśanti) Międzynarodowych (Overseas) Organizacji Śri Sathya Sai.
Omówienie poszczególnych spotkań można znaleźć w miesięczniku <i>Sanathana Sarathi</i> (numer czerwcowy i
lipcowy). Każde ze spotkań zaszczycał swą obecnością i ubogacał programy
treściwymi wykładami na temat nauk Bhagawana Przewodniczący wspomnianej Rady,
dr Michael Goldstein. Poniżej przedstawiamy wyjątki z pierwszego (drugie
dotyczyło nauk Swamiego) wystąpienia Przewodniczącego w pierwszym dniu
spotkania Strefy III w Singapurze, 29 maja 2004 r. oraz wybrane pytania i jego
odpowiedzi z późniejszej sesji.</span></p>

<p>
Wiele lat temu dobry
los pozwolił mi siedzieć u boskich lotosowych stóp Swamiego. Przeglądałem się
jak patrzył przez okno. Widziałem jego oczy. Miałem wrażenie, że Swami nie
patrzył na budynki ani na ludzi, ani na drzewa, ani żadne rzeczy w pobliżu
okna, ale raczej spoglądał poza Ziemię, we Wszechświat. </span></p>

<p>
I nagle powiedziałem
zuchwale, „Swami, pokażesz mi świat przez swoje oczy?” Swami popatrzał na mnie
i uśmiechając się jak boska Matka i Ojciec odpowiedział: „Gdybym ci pokazał,
nie chciałabyś swojej pracy, nie chciałbyś swojego domu, nie chciałbyś swojej
rodziny, nie chciałbyś swojego ciała.” </span></p>

<p>
Ileż to razy Swami
pouczał nas, że nie jesteśmy tym ciałem, nie jesteśmy tym umysłem, jesteśmy
boskim mieszkańcem, który zamieszkuje nasze duchowe serca. Wiele, wiele razy
Swami pouczał nas, byśmy zrozumieli, że ciało jest zaledwie środkiem dla
boskiego mieszkańca.</span></p>

<p>
Jestem bardzo
szczęśliwy, mogąc poinformować was że, stan zdrowia Swamiego radykalnie się
poprawia i że odmówił medycznych badań i leczenia kurując się z pomocą własnej
boskiej woli.</span></p>

<p>Swami pozwala nam oglądać siebie,
jak zmaga się ze swoją fizyczną formą. Pozwala nam patrzeć na widoczne fizyczne
cierpienie i ograniczenia formy. Musimy zadać sobie pytanie: „Dlaczego tak się
dzieje?” Jaką powinniśmy wyciągnąć naukę z tego ściskającego serce przeżycia?
Pewnie wszyscy zadawaliście sobie to pytanie. Skupmy się na Swamim. Mimo oczywistego
cierpienia i trudności, dalej troszczy się o swoich wielbicieli i o
wszechświat. Sami zobaczycie, kiedy opiszę wzrastającą rolę Swamiego w rozwoju
Organizacji Sai, że w istocie wzrosły Jego działania i zaangażowanie we
wszystko. Z własnego doświadczenia wiem, że wzrosły również Jego oczekiwania
wobec nas. Nie roztrząsajmy mistycznego znaczenia wypadków, jakim uległ Swami,
ani stanu Jego zdrowia – jest to strata czasu. Raczej przyjrzyjmy się temu, co
się dzieje na naszych oczach, zrozummy to, wyciągnijmy z tego wnioski i
wcielajmy je w życie. </p>

<p>Swami pozwolił nam oglądać siebie
z tym oczywistym fizycznym cierpieniem i niesprawnością. A w stanie tym Jego
miłość i aktywność względem nas wzrosły, a nie zmalały. On nie jest tym Jego
fizycznym ciałem i demonstruje nam to wszystko w najbardziej dramatyczny
sposób, ponieważ powinniśmy zrozumieć tę wieczną prawdę o sobie samych. Dzięki
doświadczeniom, jakie miałem ostatnio ze Swamim, widzę że Jego cierpienie nie
umniejsza Jego miłości, cierpienie to nie zmniejsza intensywności i
skuteczności Jego działań. Wydaje się, że cierpienie to faktycznie doprowadziło
do wzrostu Jego zaangażowania w nasze sprawy indywidualne i wspólne jako
Organizacji Śri Sathya Sai. </p>

<p>Gdy spojrzymy wstecz, możemy
stwierdzić, że On przez lata przykazywał nam poważnie traktować Jego duchowe
nauki i doświadczać ich prawdy. W dyskursie podczas święta Ugadi w marcu b.r.,
Swami powiedział, cytuję: „Wiele lat minęło a wasze stare zwyczaje nie zmieniły
się i żyjecie tak samo. Dzieje się tak dlatego, że nie czynicie wysiłku, by
doświadczyć pierwiastka boskości, który we wszystkich jest obecny w postaci
miłości.”</p>

<p>Jakże mocne to słowa. Wiele lat
minęło, a wy nie zmieniliście swoich nawyków, nie zmieniliście swojego życia.
Usłyszeć coś takiego od Swamiego! </p>

<p>Zgodnie z nauczaniem Bhagawana
Śri Sathya Sai Baby nasza wizja i nasza misja są duchowe. Dlatego są wiecznie
prawdziwe, są ekspansywne, są wszechogarniające, a ich substancją jest
bezinteresowna miłość. </p>

<p>Jako członkowie duchowej
organizacji, właściwie duchowego ruchu, musimy spytać siebie samych czy
kreujemy kinetyczną energię bezinteresownej miłości? Czy w naszych kolektywnych
działaniach jest duchowa współpraca? Jeśli nie, to czy nie lepiej, byśmy nie mieli
żadnej organizacji, zamiast poniżać święte imię Bhagawana Śri Sathya Sai Baby. </p>

<p>O ile porządek i zrozumienie są
warunkami wstępnymi powodzenia, biurokracja jest sprzeczna z duchowym procesem.
Dlatego strzeżmy się, byśmy nie zinstytucjonalizowali mierności, zważajmy, by
nie trywializować boskości. Centrum duchowe Sai jest jądrem międzynarodowej
Organizacji, którą Swami tak łaskawie pozwolił nam utworzyć w swoim imieniu.
Centrum Sai jest świętym miejscem, nie miejscem załatwiania interesów. Centrum
Sai jest świętym miejscem, nie miejscem spotkań towarzyskich.mso-spacerun: yes"> </span>Centrum Sai jest duchowym miejscem,
uniwersalnym miejscem, nie religijnym czy filozoficznym. Jako wielbiciele Sai,
jako duchowi aspiranci, zaczęliśmy tę monumentalną kampanię, by zrealizować
nasze boskie dziedzictwo, jednak sami stanowimy największą przeszkodę naszemu
duchowemu postępowi. </p>

<p>Musimy zapomnieć o ‘ja’ i ‘moje’,
musimy zapomnieć o pragnieniach i światowych przywiązaniach, musimy zapamiętać,
że jesteśmy boskim mieszkańcem, Bogiemmso-spacerun: yes">
</span>który zamieszkuje w naszych duchowych sercach i którego bezinteresowna
miłość nie zna żadnych granic. </p>

<p>Cieszę się, że mogę wam
zakomunikować, iż Swami bardzo łaskawie udzielił wskazówek dla zagranicznych
Organizacji Śri Sathya Sai. Niebawem zaczniemy wcielać w życie skarby, którymi
On tak wspaniałomyślnie nas obdarzył. Przywrócimy wielką duchową głębię Organizacji,
która nosi imię Inkarnacji Boskości, Bhagawana Śri Sathya Sai Baby. Ożywimy
wielki duchowy cel, zaangażowanie i wielki entuzjazm, który spowodował
pojawienie się tego duchowego ruchu i jego bezprecedensowo rozległy światowy
rozkwit. </p>

<p>W naszej Organizacji Sai gmatwany
się w sprawy kulturowe, społeczne, finansowe, w plany, zagadnienia
organizacyjne, itp., itd. Wiele z tych spraw pochodzi ze świata na zewnątrz
nas. Swami wielokrotnie mówił, że jest tylko jedna sprawa: transformacja każdego
z nas, która doprowadzi do przyjęcia całym sercem Jego Boskich nauk. Za tym
pójdzie cała reszta, wszystko rozwinie się jak powinno, wszystko będzie wolą
Boga, ponieważ w wyniku przyjęcia boskich nauk oddamy się. Na skutek naszego
poddania się zostaniemy przekształceni, zaś na skutek tej duchowej przemiany
nasze działania będą odbiciem <i>dharmy</i>
i podniosą w świecie boską świadomość. Podnoszenie tej świadomości w świecie
jest <i>sewą</i>. </p>

<p>Nie zachęcam do porzucania
naszych światowych obowiązków. Zachęcam do spełnienia naszych światowych
odpowiedzialności z mądrością i miłością, które przychodzą z wewnątrz nas.
Odrzucamy szukanie przyjemności i władzy; kochamy i służymy bezinteresownie, znajdując
Boga zawsze w każdym, wszędzie. To jest droga duchowości. </p>

<p>Czym jest ta Boska Misja, o
której tyle mówimy? Niektórzy myślą, że są to prace Swamiego, niektórzy
uważają, że są to słowa Swamiego, inni sądzą, że jest to pojawienie się i
działanie Organizacji Sai. Wszystkie te rzeczy są zaledwie pomniejszymi
aspektami tej misji, jak ziarna piasku na rozległej pustyni. Na tę boską misję
składają się wielkie mistyczne dzieła Pana Bhagawana Baby. Te małe widoczne
przejawy są zaledwie ziarenkami piasku na wielkiej pustyni.</p>

<p>Jaki jest cel Organizacji Sai? Cel
ten nie leży w liczbie nakarmionych ludzi głodnych, wyleczonych ludzi chorych,
nauczanych dzieci, otwartych centrów, zbudowanych szkół etc., etc. Wszystko te
rzeczy są dobre, lecz nie jest to cel Organizacji Sai. </p>

<p>Celem Organizacji Sai jest własną
wzorową postawą zainspirować, pobudzić każdego mężczyznę i kobietę, z którymi
się zetkniemy, do lepszego zrozumienia i postępowania w zgodzie z wiecznymi
duchowymi zasadami. </p>

<p>Na tyle, na ile każde z nas
zdoła, rośniemy duchowo i wywieramy korzystny wpływ na świat, jako osoby i
wspólnie jako Organizacja. Wtedy te służebne działania i instytucje będą
emanowały bezinteresowną miłością i będą naprawdę wartościowe. Będą zaspokajały
duchowy głód i potrzeby, zamiast dokarmiać ego ludzi postępujących
ostentacyjnie i nie mających żadnego pojęcia o bezinteresowności. Zwróćcie
uwagę na to rozróżnienie. </p>

<p>Powinniśmy przypomnieć sobie kim
byliśmy kiedyś i zauważyć kim staliśmy się po wstąpieniu do Organizacji Sai. Co
oznacza praca w Organizacji Sai? Co powinna znaczyć? Powinna znaczyć
pogłębianie oddania naszemu boskiemu Panu Bhagawanowi Śri Sathya Sai Babie.
Powinna znaczyć ciągłe dążenie do bycia zawsze świadomym własnej boskości.
Powinna znaczyć, że świadomie włączamy się w bezinteresowne działania i miłość
w świecie. Powinna znaczyć, że przyjęliśmy duchowy sposób życia wspierany przez
nasze organizacyjne programy i działania oraz utrwalany przez wiarę,
determinację i ufność we własne siły. Cele te są celem ludzkiego życia. Wszyscy
staramy się, świadomie bądź nieświadomie, osiągnąć te cele. </p>

<p>Jeśli mamy wiarę w Swamiego i
jego nauki, wówczas okazję pracy w charakterze wolontariusza [osoby funkcyjnej]
traktujemy jako wielki przywilej i szansę duchowego postępu. Każdy, kto
piastuje funkcję z jakiegoś innego powodu, innego niż pragnienie duchowego
postępu, zrobił błąd, który szkodzi jemu samemu, ludziom, którym ma służyć, i
Organizacji. </p>

<p>Moim zdaniem, są trzy warunki na
to, by osoba pełniąca funkcję w Organizacji Śri Sathya Sai była skuteczna. W
porządku ważności są to: bezinteresowność, dedykacja i kompetencja. Bez
bezinteresowności nie możemy służyć duchowo. Bez niej mamy do czynienia z
przywiązaniem. W obecności przywiązania nie może być uniwersalnej duchowej
perspektywy. </p>

<p>Osoby funkcyjne w Organizacji Śri
Sathya Sai poproszone o wystąpienie powinny najpierw mówić o duchowości zgodnie
z naukami Swamiego. Następnie mówcie o duchowej naturze Organizacji Śri Sathya
Sai według nauk Swamiego. Potem opowiadajcie o własnych doświadczeniach
duchowych starając się przedstawiać wzniosłe prawdy i wprowadzać ducha
bezinteresownej miłości. </p>

<p>Obyśmy wszyscy, dzieląc się naszą
miłością Sai podczas tych dwóch dni, zbliżyli się do realizacji naszego serca
serc, boskiego mieszkańca, Awatara <i>kali
jugi</i>, Bhagawana Śri Sathya Sai Baby. </p>

<p style="margin-left:35.4pt;text-indent:35.4pt"><i>Dźej</i> Sai Ram </p>

<p><!--[if !supportEmptyParas]--><!--[endif]--></p>

<h1><b style="mso-bidi-font-weight:normal"><u>Z sesji
pytań i odpowiedzi </u></b></h1>

<p><!--[if !supportEmptyParas]--><!--[endif]--></p>

<p>Pytanie 4: </b>Pojawiają się pytania o ubiór pań.</p>

<p>Odpowiedź: </b>Kiedyś powiedziałem Swamiemu, że na Zachodzie nowi
ludzie przychodzili do Centrów Sai i widzieli, że wszyscy chodzą boso, siedzą
na podłodze, mężczyźni oddzieleni od kobiet, i śpiewają w obcym języku. Ci nowi
ludzie czuli się obco, ponieważ nie zrozumieli, odchodzili i nie wracali. Swami
powiedział, że buty nie są ważne, że można nosić obuwie, można siedzieć na
krzesłach. Ale separacja mężczyzn i kobiet nie jest kulturą hinduską; jest to
sprawa duchowa. Skromność musi przeważyć, gdy cel jest duchowy. Jesteśmy tutaj,
by wyjść ponad przywiązanie do naszych ciał. Kobiety i mężczyźni powinni
ubierać się skromnie i nie ściągać na siebie uwagi.</p>

<p>Pytanie 6: </b>Czy centra powinny zmodyfikować praktyki, tak by
uwzględnić specyfikę kulturową? W Australii wielu postrzega nas jako kult.</p>

<p>Odpowiedź:</b> Nie jesteśmy kultem. Opowiem wam pewną historię. W
czasie ostatniego Ugadi w Whitefield odbyło się zebranie w Trayee. Swami
przyszedł i usiadł pomiędzy paru szczęśliwcami spośród nas. Przez długi czas
nie odzywał się, a potem wskazał na chłopców i powiedział, „Ci chłopcy
śpiewający <i>bhadźany</i> robią to bardzo
źle.” Następnie wyjaśnił: „Właśnie obchodziliśmy święto. Wielu ludzi przybyło z
różnych krajów i jest tutaj reprezentowanych wiele religii, a oni śpiewają
tylko <i>bhadźany</i> Sai. Nie rozumiecie,
że Swami jest uniwersalny.” Czy muszę mówić więcej? Organizacjamso-spacerun: yes"> </span>nigdy nie narzuci przydziałów ile
francuskich. chińskich, angielskich etc. <i>bhadźanów</i>mso-spacerun: yes"> </span>mamy zaśpiewać. To należy do wielbicieli,
którzy muszą rozumieć i odzwierciedlać uniwersalność przesłania Swamiego. Baba
sadzi swoje nasienie na wszystkich ziemiach świata, żeby boskie drzewo wrosło w
kontekst każdej kultury. Wiedzcie, że Swami przyszedł dla ludzkości a nie dla
jakiejś religii, grupy etnicznej czy społecznej.</p>

<p>Pytanie 7: </b>Pytanie dotyczy wegetarianizmu. Czy możemy mieć osoby
funkcyjne, które jedzą mięso?</p>

<p>Odpowiedź:</b> Nie. Swami powiedział „nie jedzcie mięsa, nie palcie,
nie pijcie.” W tym względzie nie można popełniać błędu. Oficjalni
przedstawiciele stanowią administracyjne przewodnictwo i są wysoce widoczni.
Dlatego powinni być wzorowi.</p>

<p>Pytanie 10: </b>Czy wielbiciele mogą realizować projekty wspólnie z
organizacjami humanitarnymimso-spacerun: yes"> </span>(np. z
Czerwonym Krzyżem)?</p>

<p>Odpowiedź:</b> Swami powiedział „Nie”. Ale czy to znaczy, że jeśli
pracujesz w uznanej organizacji humanitarnej, masz zostawić ich w kłopotliwej
sytuacji? Nie. Powinieneś postępować odpowiedzialnie i wycofywać się stopniowo
w miarę jak poszerzają się nasze własne działania służebne. Dąż do
bezinteresownej służby. Doskonała empatia prowadzi do doskonałego utożsamiania
się, co z kolei przynosi bezinteresowną miłość. Tamte rodzaje pomocy są
subtelne, ale duchowe nie są.</p>

<p>Pytaniemso-spacerun: yes"> </span>11: </b>Czy odprawianie
wielu rytuałów w centrach Sai jest właściwe?</p>

<p>Odpowiedź:</b> Nie.</p>

<p>Pytanie 15: </b>Jakie są podstawowe nakazy i zakazy dla wielbicieli,
szczególnie w przypadku, gdy centrum jest pełne politykowania?</p>

<p>Odpowiedź: </b>To znaczy, że centrum nie działa właściwie. Zwróć się do
Przewodniczącego centrum. A jeśli to zawiedzie, szukaj pomocy u osoby stojącej
wyższej w organizacyjnej hierarchii Sai. Oficjalne stanowiska muszą być
obsadzane w procesie selekcji, a nie wyborów. Ideałem powinno być zdecydowanie
na wspólnym zebraniu, kto może wypełnić obowiązki stanowiska. Różnice zdań
muszą być rozwiązywane z miłością, pokojowo i w harmonii. Jeśli jednak różnic
nie daje się usunąć, proszę ludzi o mianowanie kandydatów. Potem zasięgam rady
starszych. Na ogół opinie starszych są zgodne z wolą ludzi. Ponadto,
przeprowadzam rozmowę z przyszłymi funkcyjnymi i robię, co się da, by upewnić
się, że wielbiciele skorzystają najwięcej. Tak wygląda selekcja. Wybory są
konkursem osobowości, zaś naszym duchowym celem jest wyjść ponad osobowości.</p>

<p>Pytanie 16: </b>Czy Obozy Młodych Sai powinny być otwarte dla
dorosłych?</p>

<p>Odpowiedź:</b> Tak. W końcu wszystkie obozy dla dorosłych też są
otwarte do młodzieży. Nie tylko powinny być otwarte, ale regułą powinno być, że
dorośli doradcy młodzieży są obecni. Oczywiście cokolwiek robicie, musi być
dostępne dla każdego.</p>

<p>Pytanie 17: </b>Czy możemy unikać używania słowa „Sai”, gdy wstępujemy
do szkół publicznych?</p>

<p>Odpowiedź:</b> Powstał roboczy zespół, w którym dr Pal Dhall i prof.
Venkataraman pracują nad określeniem i ujednoliceniem rozumienia tego zagadnienia.</p>

<p>Pytanie 19: </b>Czy młodzi dorośli, mężczyźni i kobiety mogą być i
pracować razem?</p>

<p>Odpowiedź:</b> Nie. Separacja mężczyzn i kobiet nie jest związana z
kulturą Indii. To duchowość. Organizacja Sai jest ruchem duchowym, a nie
organizacją społeczną. Stosownie do tego musimy się zachowywać.</p>

<p>Pytanie 20: </b>Jak wpajać innym świadomość Boga?</p>

<p>Odpowiedź:</b> Bądź wzorem. Powinniśmy angażować się w służbę. Po
pierwsze jakość; ilość na drugim miejscu. Jakość to wszystko. Jesteśmy tutaj,
by demonstrować i być żywym przykładem boskich nauk Swamiego w kontekście
służby. Nie bądźcie pretensjonalni i nie traćcie z oczu nauk Swamiego.</p>

<p>Pytanie 21: </b>Czy organizacja Sai może ustanowić gałąź interesu, by
finansować swoje projekty?</p>

<p>Odpowiedź:</b> Nie. Nie przekraczajcie własnych zasobów czasu,
pieniędzy, wyposażenia czy jakiegokolwiek innego środka. Te środki to wszystko
– wynik leży w rękach Boga. To absurd, by zabiegać o pieniądze na finansowanie
duchowej służby.</p>

<p>Pytanie 22: </b>Czy warto wprowadzić kodeks postępowania dla osób
funkcyjnych?</p>

<p>Odpowiedź:</b> Tak, to konieczne. To wszystko już nadchodzi. <i>World Charter</i> i ogólne wskazówki (<i>guidelines</i>) zostaną z pewnością
poprawione i ogłoszone przed 80-tymi urodzinami Swamiego.</p>

<p>Pytanie 23: </b>Czy byłe zalecenia i decyzje, podjęte na poprzednich
światowych konferencjach, mają być wprowadzane w życie?</p>

<p>Odpowiedź:</b> Nie. Nie ma jednolitego wcielania w życie wcześniejszych
zaleceń i decyzji. Stare zalecenia zostaną przejrzane i przygotowane właściwe
dla wszystkich na nowo i sformułowane jasno.</p>

<p>Pytanie 24: </b>Ile wynosi kadencja osoby funkcyjnej? Czy mogą pozostać
na stanowisku dłużej niż cztery lata?</p>

<p>Odpowiedź:</b> Generalną regułą jest, że kadencja trwa dwa lata z
możliwością jednego przedłużenia o dwa lata. Jednakże mogą być wyjątki od tej
reguły. Nie chcemy tworzyć próżni. Ta reguła nie jest sztywna.</p>

<p>Pytanie 26:</b> W niektórych centrach Sai obchodzi się hinduskie święta
religijne w formie rytuałów takich jak <i>jadźnie</i>
i <i>abhiszeki</i>; odpycha to ludzi innych
religii. Proszę o radę, jak można poprawić tę sytuację.</p>

<p>Odpowiedź:</b> Jest tylko jedna religia i jest to religia miłości. I
jest tylko jeden Bóg, który jest wszechobecny. Religie powstały w różnych
epokach ludzkiej cywilizacji; różnią się akcentami, a nie w swej istocie. Bóg
przyjmował ludzką postać, by ratować człowieka w różnych czasach. To jest ruch
duchowy, a nie religijny. Jeśli w centrum przeważają wielbiciele hinduscy,
niech idą do <i>mandiru</i>, by odprawiać
swoje rytuały, by praktykować hinduizm; muzułmanie mogą pójść do meczetu,
chrześcijanie – do kościołów i tak dalej. W centrach Sai jednak wszyscy są
jednym. Zrozumcie, że Sai ucieleśnia wszystkie religie; nie ograniczajcie pracy
centrów tylko do litanii rytuałów i<i>
bhadźanów</i>, które znamionują jedną religię. Bądźcie bardziej otwarci. Jest
jednakże jedno do tego zastrzeżenie. <i>Bhadźany</i>
wyrażają adorację Boga. Jeśli nie potraficie śpiewać innych <i>bhadźanów</i> i piosenek, nic nie
zmieniajcie; nie jesteście gotowi na zmianę. Nie zmieniajcie nagle, w sposób,
który zostawia uraz. Niemniej starajcie się o szerszą perspektywę i o zrozumienie
duchowego przesłania Swamiego, by ostatecznie widzieć Boga we wszystkich Jego
formach.</p>

<p>Pytanie 27:</b> Widzimy, że działalność młodzieży wypacza się do
spotkań towarzyskich.</p>

<p>Odpowiedź:</b> Młodzież jest częścią organizacji Sai. Działalność musi
mieć charakter duchowy, a nie towarzyski.</p>

<p>Pytanie 28: </b>Czy rejki i uzdrawianie czakramimso-spacerun: yes"> </span>mogą być duchowymi praktykami prowadzącymi
do realizacji Boga?</p>

<p>Odpowiedź:</b> Te praktyki mogę skomentować tylko w kontekście
organizacji Sai. Działalność taka nie należy do organizacji Sai. Nie mam
kwalifikacji, by orzekać, czy te działania są konstruktywne czy nie. Pewnego
razu, osoba w USA, która praktykowała rejki, w swoich programach używała
imienia Swamiego. Poprosiłem go, by usunął imię Swamiego. Szczerze
odpowiedział, że jego nauczyciel rejki pytał o to Swamiego i otrzymał
błogosławieństwa. Aby sprawdzić wiarygodność tego twierdzenia, sprawę
przedstawiłem Swamiemu. Swami powiedział: „Nie, takie praktyki nie należą do
organizacji Sai; każ mu usunąć moje Imię z broszur itd.”</p>

<p>Nie kojarzcie Imienia Swamiego z
tymi praktykami.</p>

<p></span>[Na podstawie <i>Sanathana Sarathi</i> i <a href="http://www.saiaustralia.org.au/" rel="no-follow">Sai Australia</a> oprac. KMB]</span></p>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Michael Goldstein o Organizacji</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>