<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Inżynier Sai Baba</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Inżynier Sai Baba</h2>
<p>Jest to ciekawa historia o tym jak Sai przyjął rolę inżyniera, by
zapobiec wielkiej katastrofie w San Salvador, stolicy Salwadoru — małego kraju
nad Pacyfikiem w Ameryce Środkowej. Ukazała się ona w hiszpańskojęzycznym
czasopiśmie Sai Ameryki Łacińskiej <i>Sabidurai Sai</i>, tom IX, Nr 1.</p>

<p><span style="
;"><span> </span>Dnia 18 kwietnia 1998 r. w San
Salvador, stolicy Salwadoru, wieczór był cichy i spokojny. Nowy stróż nocny,
Felipe Flores, właśnie zaczął swoją pierwszą zmianę w elektrowni CEL, która
zapewnia prąd San Salvadorowi w oparciu o ropę naftową. Ponieważ była to
pierwsza nocna praca Felipe, jego przełożony wyjaśnił mu ścisłe reguły
bezpieczeństwa, które zabraniają wpuszczanie kogokolwiek na teren elektrowni
bez pisemnej zgody kierownictwa. Otrzymał też notatnik, by co godzinę zapisywać
co się wydarzyło.</p>

<p><span style="
;"><span> </span>O godz. 11 wieczorem wybuchł pożar w
obiektach sąsiadującej z CEL fabryki plastików. Strażacy, którzy przyjechali do
tej fabryki, krzykiem wezwali pracowników CEL, by się ewakuowali, gdyż ogień
mógł szybko się przenieść i spowodować wybuch. W elektrowni pozostał tylko
Felipe Flores — wszyscy inni pracownicy wyszli.</p>

<p><span style="
;"><span> </span>Niewiele minut później wewnątrz
elektrowni pojawił się człowiek, którego Felipe początkowo wziął za strażaka z
powodu pomarańczowej szaty. Strażak ten natychmiast zaczął wyłączać wszystkie
linie wysokiego napięcia, bez niczyjej pomocy przerzucając odpowiednie
dźwignie. Felipe uznał, że nie może być to strażak, gdyż postępował z taką
pewnością i znajomością instalacji, że raczej musiał być jednym z inżynierów.</p>

<p><span style="
;"><span> </span>Inżynier ten skierował się z kolei
do rozdzielni sterującej przepływem ropy naftowej. Felipe pobiegł za nim ze
swoim notesem w ręce, gdyż chciał zapisać jego nazwisko. Podczas, gdy inżynier
zamykał olbrzymie zawory, do poruszenia który normalnie trzeba dwóch ludzi,
Felipe spytał o jego imię. Inżynier rzucił przez ramię: „Sathya.” Felipe
zapisał to jako 'Satia.'</p>

<p><span style="
;"><span> </span>Kiedy wszystkie zawory zostały
zamknięte i inżynier odchodził, Felipe zdał sobie sprawę z tego, że nie spytał
inżyniera o nazwisko. Znów pobiegł za inżynierem i poprosił go o podanie
nazwiska. Inżynier Sathya ponownie przez ramię powiedział: „Baba.”</p>

<p><span style="
;"><span> </span>Wielki pożar strawił fabrykę
plastiku, ale dzięki bardzo szybkiej akcji inżyniera 'Sathya Baby' elektrownia
i otaczające miasto zostały uratowane przed ogromną eksplozją.</p>

<p><span style="
;"><span> </span>Następnego dnia Felipe poszedł do
biura CEL, by zdać kierownikowi sprawę z tego, co się wydarzyło. Kierownik był
zajęty, więc czekał przy biurku jego sekretarki. Sekretarka była wielbicielką
Sai Baby i na biurku trzymała małe zdjęcie Swamiego. Felipe zauważył zdjęcie
Sai Baby i zapytał: „Dlaczego pani trzyma zdjęcie inżyniera na biurku?”
Sekretarka wyjaśniła Felipe, że to nie jest inżynier, lecz Sai Baba, który
mieszka w Indiach. Felipe nie zgodził się z tym stwierdzeniem pokazując
sekretarce swój notatnik.</p>

<p><span style="
;"><span> </span>Poniżej znajduje się reprodukcja
oryginalnej strony z notatnika Felipe (w tłumaczeniu na polski).</p>

<p><i><span style="
;"><!--[if !supportEmptyParas]--><!--[endif]--></i></p>

<p><i>16:00 Początek zmiany. Nic szczególnego do odnotowania. Do pracy
zgłosił się Oscar Amaya.</i></p>

<p><i>17:00 Nic szczególnego do odnotowania.</i></p>

<p><i>18:00 Włączono przesyłanie prądu; generowane napięcie było w
normie.</i></p>

<p><i>19:00 Włączył się alarm w systemie transmisji z powodu za niskiego
napięcia i jego wahań.</i></p>

<p><i>20:00 Wskaźniki kontrolne układu przesyłowego są w normie.</i></p>

<p><i>21:00 Wszystkie przełączniki główne przesyłania energii 30- 2- 83
i wszystkie na deskach rozdzielczych oraz zdalne czujniki linii wysokiego
napięcia zostały wyłączone na polecenie inżyniera Satia Baby, który był
odpowiedzialny za tę zmianę; uzasadniał to pożar w fabryce Dinatec, która
bezpośrednio sąsiaduje z CEL, Soyapango. Dodatkowym uzasadnieniem była groźba
tragedii i potrzeba jej zapobieżenia. Służby ochrony i strażacy ewakuowali
wszystkich pracowników CEL, którzy byli na stanowiskach.</i></p>

<p><i><span></span><span style="mso-spacerun:
yes"></span>Uwaga: Wszystko udało się zrobić bez tragicznych następstw.</i></p>

<p style="margin-right:32.25pt;text-indent:27.0pt"><i><span style=";
"><span>
</span>Podpis:operator zmiany, Sr. Felipe Flores. </i></p>

<p><span style="
;"><!--[if !supportEmptyParas]--><!--[endif]--></p>

<p style="margin-left:35.4pt;text-indent:35.4pt"><span style=";
">– John Benher (Salwador)</p>

<p class="text-right my-5">[Z <i>Heart
to Heart</i> 8/2005 tłum. KMB, 20050810]<span> </span></p>

</div>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Inżynier Sai Baba</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>