<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                            <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                            <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Popularne modlitwy</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Popularne <i>mantry</i> i modlitwy</h2>
</b>


<p>Wszystkie przedstawione tutaj utwory znalazły się na płycie CD pt. <i>Prayers for the Day</i>, na której śpiewane są przez Carlę Pitarelli. W 2002 r. polska Organizacja Sathya Sai planowała wydać tę płytę wraz z dołączonym spolszczonym tekstem sanskryckim i objaśnieniami. Poniższe opracowanie zostało wykonane właśnie w tym celu, ale ponieważ płyta nie ukazała się a niektóre utwory są często śpiewane, udostępniam je w tej formie w nadziei, że materiał ten przyczyni się do lepszego ich rozumienia i dalszego 
popularyzowania. Są tutaj omówione wszystkie utwory z wyjątkiem dwóch (które opracowywał ktoś inny): 6-tego – <i>Brahmarpanam</i> i 11-tego – rozdział XII łatwo dostępnej w Polsce słynnej <i>Bhagawad Gity</i>. Zarówno sanskrycki tekst, jak też jego interpretacja oraz dodatkowe objaśnienia zostały oparte 
o rozmaite źródła (głównie internetowe), a w przypadkach rozbieżności w 
pisowni, decydowało brzmienie zapisu dźwiękowego na CD.
</p>
<ul class="list-group">
    <li class="list-group-item active"><b>Spis utworów</b></li>
    <li class="list-group-item">1) <a href="#1"><i>Omkaram bindu</i></a></li>
    <li class="list-group-item">2) <a href="#2"><i>Śloka</i> do Ganeśy</a></li>
    <li class="list-group-item">3) <a href="#3"><i>Guru</i> Brahma</a></li>
    <li class="list-group-item">4) <a href="#4"><i>Mantra</i> Sai<i>-Gajatri</i></a></li>
    <li class="list-group-item">5) <a href="#5"><i>Om Trajambakam</i></a></li>
    <li class="list-group-item">7) <a href="#7"><i></i>Modlitwa wieczorna</a></li>
    <li class="list-group-item">8) <a href="#8"><i>Omkar</i></a></li>
    <li class="list-group-item">9) <a href="#9"><i>Suprabhatam</i> Sathya Sai</a></li>
    <li class="list-group-item">10) <a href="#10"><i>Mantra Gajatri</i></a></li>
    <li class="list-group-item">12) <a href="#12"><i>Loka samasta</i></a></li>
  </ul>
<a name="1"></a>
<b><p>1) <i>Omkaram bindu</i></p><i>
</i></b>
<i><b>
Omkaram bindu sanjuktam<br>
Nitjam dhjajanti joginah<br>
Kamadam mokszadam ćaiwa<br>
Omkaraja namo namah</b></i>

<b></b><p><b>Treść:<br>
</b>
Z <i>bindu</i> jest stowarzyszona (<i>sanjuktam</i>) święta sylaba <i>Om</i>,<br>
o której zawsze (<i>nitjam</i>) medytują (<i>dhjajanti</i>) jogini.<br>
Pragniemy (<i>kamadam</i>) wyzwolenia (<i>mokszadam</i>) i (<i>ća</i>) dlatego (<i>iwa</i>)<br>
<i>Omkarowi</i> oddajemy pokłony (<i>namo namah</i>).</p>

<b></b><p><b>Znaczenie:<br>
</b><i>Omkar</i> jest najświętszym słowem Hindusów. Jest dla nich synonimem Najwyższego Boga, tak osobowego, jak bezpostaciowego. Jest on więc wszechobejmującym symbolem Imienia Boga. Ten pierwotny dźwięk, <i>pranawa</i>, uznawany jest jednocześnie za <i>mahamantrę</i>, najlepszy dla człowieka środek do realizacji Boga.</p>
<p>Powiedziane jest, że na bezczasowym początku istniał jedynie Brahman. Był to stan Najwyższej Ciszy. Z tej Najwyższej Ciszy wyłonił się Nada Brahman (<i>nada</i> znaczy potężny głos), dźwiękowy aspekt i wyraz Boga. Był to ów Pierwotny Dźwięk czyli <i>Omkar</i>. Z Pierwotnego Dźwięku powstało całe materialne stworzenie. Dźwięk ten, <i>pranawa</i>, ciągle przenika stworzenie i jest pierwiastkiem czy podstawą wszelkiego życia (<i>prana</i> + <i>wa</i> = to co przenika życie).</p>
<p>Nigdzie na świecie nie ma innego świętego symbolu o tak przeogromnym znaczeniu, jakie w praktyce ma ta wedyjska <i>mantra</i>. Cała bogata historia tej sylaby zawarta jest w objawieniach <i>Wed</i> i przekazach <i>upaniszad</i>. W jednym z wedyjskich wersetów czytamy (dosłownie):
</p><i>  Pradźapati</i> (Pan Stworzenia) <i>wai</i> (zaprawdę) <i>idam agra</i> (na początku) <i>asit</i> (był),<br>
  <i>Tasja</i> (Jego) <i>Wak</i> (Słowo) <i>dwitija</i> (wtóre = u Niego) <i>asit</i> (było),<br>
  <i>Wag</i> (Słowo) <i>wai</i> (zaprawdę) <i>paramam</i> (najwyższym) <i>Brahma</i> (Bogiem).

<p>Łatwo dostrzec w tej deklaracji bliskie podobieństwo do biblijnego "Na początku było Słowo ...", ale także nietrudno skojarzyć <i>AUM</i> (czyli <i>Om</i>) z chrześcijańskim <i>amen</i> lub muzułmańskim <i>amin</i>.</p>
<p>W tekście śpiewanej <i>śloki bindu</i> (plamka nakładana na czole między brwiami) symbolizuje związek oddzielnej <i>dźiwatmy</i> (człowieka) z nieprzejawionym uniwersalnym Brahmanem, Paramatmą, reprezentowanym przez <i>Om</i>. Jogini medytują o tym świętym związku. Dążąc do ostatecznego celu ludzkiego życia, wyzwolenia, oddajemy cześć Bogu w postaci <i>Omkaru</i>.</p>

<p>&nbsp;</p><a name="2"></a>
<b><p>2) <i>Śloka</i> do Ganeśy</p>
</b>
<i><b></b></i><p><i><b>Om (Om, Om) <br>
Wakratunda mahakaja<br>
Surja kotih samaprabha <br>
Nirwighnam kuru me Dewa<br>
Sarwa karjiszu sarwada</b>
</i>
<b></b></p><p><b>Treść:<br>
</b>O Panie o wygiętej trąbie (<i>wakratunda</i>), potężnym ciele (<i>mahakaja</i>),<br>
Ty o blasku (<i>prabha</i>) równym (<i>sama</i>) milionom (<i>kotih</i>) słońc (<i>surja</i>),<br>
Proszę Cię Boże (<i>Dewa</i>), zawsze (<i>sarwada</i>) usuwaj przeszkody (<i>nirwighnam kuru</i>) <br>
wszystkich (<i>sarwa</i>) mych (<i>me</i>) działań (<i>karjiszu</i>).</p>

<b></b><p><b>Znaczenie:<br>
</b>Niezwykle popularny w dzisiejszych Indiach słoniogłowy Ganeśa, nazywany też Ganapatim (władcą <i>ganów</i>) albo Wighnadźitem (pogromcą przeszkód) bądź Wighneśwarą (panem przeszkód), jest synem Śiwy. W tej <i>śloce </i>zwracamy się do Ganeśy jako Pana Przeszkód prosząc o usuwanie wszelkich trudności we wszystkich naszych dobrych przedsięwzięciach.</p>

<p>&nbsp;</p><a name="3"></a>
<b><p>3) <i>Guru</i> Brahma</p>
</b>
<i><b></b></i><b></b><p><b><i>Om (Om, Om)<br>
Guruh Brahma guruh Wisznu<br>
Guruh dewo Maheśwara<br>
Guruh sakszat Parabrahma<br>
Tasmai Śri Gurawe namah(a)</i>  </b>

<b></b></p><p><b>Treść:<br>
</b><i>Guru</i> jest samym Brahmą, jest Wisznu,<br>
Jest też boskim (<i>dewo</i>) Śiwą (Maheśwarą),<br>
<i>Guru</i> jest wprost (<i>sakszat</i>) Parabrahmanem,<br>
Temu (<i>tasmai</i>) <i>Śri Guru</i> pokłon (<i>namaha</i>).</p>

<b></b><p><b>Znaczenie:<br>
</b><i>Guru</i>, duchowy nauczyciel jest dla ucznia Bogiem, dlatego <i>guru</i> należy oddawać cześć niczym Bogu.</p>

<p>&nbsp;</p><a name="4"></a>
<b><p>4) <i>Mantra</i> Sai-<i>Gajatri</i></p>
</b>
<i><b></b></i><p><i><b>Om Sajiśwaraja widmahe<br>
Satjadewaja dhimahi<br>
Thannah sarwah praćodajat</b>
</i>
<b></b></p><p><b>Treść:<br>
</b>Wiemy (<i>widmahe</i>), że Sai jest Bogiem (Iśwaraja).<br>
Medytujmy (<i>dhimahi</i>) nad Bogiem (<i>Dewa</i>) Prawdy (<i>Satja</i>).<br>
Tego, który dla nas (<i>tannah</i>) jest wszystkim (<i>sarwah</i>) <br>
prosimy o inspirację (<i>praćodajat</i>).</p>

<b></b><p><b>Znaczenie:<br>
</b>Sai jest inkarnacją Najwyższego Boga. Medytujemy nad tym Bogiem Prawdy. Modlimy się, aby On, ta wszechwiedząca, wszechmocna i wszechobecna Boska Osoba, zniszczył nasze ego i ignorancję oraz poprowadził nas ku dobrym czynom.</p>
<i></i><p><i>Mantra</i> ta została objawiona w wigilię Bożego Narodzenia 1977 r. w <i>aśramie</i> Brindawan w obecności Bhagawana. Najlepiej recytować ją po przebudzeniu, rano między godz. 4 i 10. Recytacji może towarzyszyć wizualizacja postaci Sathya Sai w sercu pięciotwarzowej Weda Mata Gajatri, której figura stoi w Prasanthi Nilayam.</p>

<p>&nbsp;</p><a name="5"></a>
<b><p>5) <i>Om Trajambakam</i></p><i>
</i></b>
<i><b></b></i><p><i><b>Om Trajambakam jadźamahe <br>
Sugandhim puszti wardhanam<br>
Urwarukamiwa bandhanat <br>
Mritjor mokszijam amritat</b>
</i>
<b></b></p><p><b>Treść:<br>
</b>O trójoki Śiwo (<i>Trajambakam</i>) oddaję Ci cześć (<i>jadźamahe</i>). <br>
O Słodki (<i>Sugandhim</i>), który darzysz (<i>puszti</i>) dostatkiem (<i>wardhanam</i>), <br>
uwolnij mnie (<i>mokszija</i>) z więzów (<i>bandhanat</i>) <br>
śmierci (<i>mritjor</i>) do stanu nieśmiertelności (<i>amritat</i>) <br>
tak jak (<i>iwa</i>) <i>urwarukam</i> (rodzaj ogórka) odrywa się od rozłogów.</p>

<b></b><p><b>Znaczenie:<br>
</b>Oddaję Ci cześć, o słodki Panie nieprzejawionej wizji (tj. trójoki Panie Śiwo). O Ty, który darzysz wszystkich dostatkiem, wyrwij mnie z więzów śmierci niczym <i>urwarukam</i> od rozłogów.</p>
<p>Imię Śiwa symbolizuje pomyślność. Trójokiego nazywa się także Śankarą, co znaczy dobroczyńca. Dobry Pan Śiwa wykorzenia grzech i strach, i jest dawcą doczesnego szczęścia oraz wspiera dobro i pomyślność. </p>
<p><i>Mantrę</i> tę (pochodzącą z <i>Śukla Jadźurweda Sanhity</i>) recytujemy regularnie dla ochrony i pokoju.</p>


<p>&nbsp;</p><a name="7"></a>
<b><p>7) Modlitwa wieczorna</p>
</b>
<i><b>
</b></i><p><i><b>Kara ćarana kritam wak kajadźam karmadźamwa<br>
Śrawana najanadźamwa manasamwa aparadham<br>
Wihitam awihitamwa sarwam etat kszamaswa<br>
Dźaja dźaja karunabdhe Śri Mahadewa Szambo<br>
Śri Sai Natha Szambo.</b>
</i>
</p><p><b>Treść:<br>
</b>O Szambu (Śiwo), Łaskawy (<i>Śri</i>) Wielki Boże (<i>Mahadewo</i>) ulituj się <br>
nade mną i wybacz (<i>kszamaswa</i>) wszystkie (<i>sarwam</i>) te (<i>etat</i>) <br>
błędy popełnione (<i>kritam</i>) nieświadomie (<i>awihitam</i>) <br>
lub (<i>wa</i>) świadomie (<i>wihitam</i>), dokonane (<i>karmadźamwa</i>) <br>
ciałem (<i>kaja</i>), ręką (<i>kara</i>), nogą (<i>ćarana</i>) lub słowem (<i>wak</i>), <br>
bądź (<i>wa</i>) poprzez uszy (<i>śrawana</i>) i oczy (<i>najanadźam</i>)<br>
albo (<i>wa</i>) przez błądzenie (<i>aparadham</i>) umysłu (<i>manasam</i>). <br>
Chwała (<i>dźaja</i>) Tobie, o Promienny (<i>Śri</i>) Panie (<i>Natha</i>) Sai,  <br>
oceanie (<i>abdhe</i>) miłosierdzia (<i>karuna</i>).</p>

<p><b>Znaczenie:</b><br>
Zwracamy się do Boga o wybaczenie potknięć, jakie mogły się nam zdarzyć w ciągu dnia, odwołując się do Jego niewyczerpanej dobroci oraz wysławiając Jego wspaniałość. Modlitwę tę należy odmawiać lub śpiewać przed ułożeniem się do snu. </p>
<p>Istnieje też angielska odmiana tej modlitwy, której treść jest następująca: O Panie, skończyły się moje zadania tego dnia, których ciężar dziś rano złożyłem na Twoje barki. To Ty sprawiłeś, że chodziłem, mówiłem, myślałem i działałem. Składam więc u Twoich stóp wszystkie moje słowa, myśli i uczynki. Skończyły się moje obowiązki, teraz przyjmij mnie. Wracam do Ciebie.</p>

<p>&nbsp;</p><a name="8"></a>
<b><p>8) <i>Omkar</i></p><i>
</i></b>
<i><b></b></i><b></b><b></b><p><b><i>Om</i></b>  &nbsp; (intonowane 21 razy)<br>
<i><b>Śanti, śanti, śanti</b>
</i>
<b></b></p><p><b>Treść:<br>
</b><i>Pranawa</i>, pierwotny dźwięk <i>Om</i> (<i>AUM</i>).<br>
Pokój (<i>śanti</i>), pokój, pokój.</p>

<b><p>Znaczenie:</p>
</b><p><b></b><i>Pranawa</i> (<i>Om</i>) jest dźwiękiem pierwotnym, z którego wszystkie inne biorą początek. Jest to głos najwyższego uniwersalnego bytu nazywanego Brahmanem. Święta sylaba <i>Om</i> jest więc dźwiękowym symbolem Boga. Pewna <i>mantra</i> w <i>Jadźurwedzie</i> tak ją przedstawia: "O człowiecze, Ja, świetlany obrońca, ochraniam podstawę odwiecznej przyczyny – materię. Duch mieszkający tam w słońcu to Ja. Jestem<br>
rozległy jak atmosfera, niedościgły w zasługach, czynach i naturze. <i>Om</i> Mi na imię."</p>
<p>W Prasanthi Nilayam, <i>aśramie</i> Sathya Sai Baby, recytacja <i>Omkaru</i> należy do codziennej praktyki. Odbywa się ona wcześnie z rana. Wprawdzie liczba powtórzeń nie jest najważniejsza, ale praktykowane 21 intonacji można z pożytkiem połączyć z oczyszczaniem kolejnych 20 narządów i innych składników ludzkiej istoty zamykając ostatnim <i>Om</i> przygotowującym nas jako całość na połączenie z najwyższym Absolutem, na samorealizację.</p>
<p>Wspomniane składniki to: narządy działania (1. struny głosowe, 2. ręce, 3. stopy, 4. narządy wydalnicze i 5. narządy rozrodcze), organy zmysłów (6. oko, 7. ucho, 8. nos, 9. język i 10. skóra), prądy życiowe ciała (11. <i>prana</i>, 12. <i>apana</i>, 13. <i>wjana</i>, 14. <i>samana</i> i 15. <i>udana</i>) oraz powłoki (16. materialna, 17. prądów życiowych, 18. mentalno-emocjonalna, 19. intelektu i 20. błogości).</p>
<i></i><p><i>Omkar</i> kończy się trzykrotnym odśpiewaniem słowa <i>śanti</i> (pokój) w celu dalszego oczyszczenia (1) ciała, (2) umysłu i (3) duszy.</p>
<p>Praktykowanie recytacji <i>pranawy</i> sprawia, że uspokajamy się i przyśpieszamy spływanie Łaski.</p>

<p>&nbsp;</p><a name="9"></a>
<b><p>9) <i>Suprabhatam</i> Sathya Sai</p>
</b>
<i><b></b></i><b></b><p><b><i>Om, Om, Om</i><br>
1. <br>
<i>Iśwaramba sutah Śriman <br>
Purwa sandhja prawartate<br>
Uttiszta Sathya Saisza <br>
Kartawjam dajwam ahnikam</i><br>
2.<br>
<i>Uttisztottiszta Partisza <br>
Uttiszta dźagatipate<br>
Uttiszta karunapurna <br>
Loka mangala siddhaje</i><br>
3.<br>
<i>Ćitrawati tata wiśala suśanta soudhe<br>
Tisztanti sewaka dźana sthawa darśan artham<br>
Aditja kantir anubhati samasta lokan<br>
Śri Sathya Sai Bhagawan tawa suprabhatam</i><br>
4.<br>
<i>Twan nama kirtana rata stawa diwja nama<br>
Gajanti bhakti rasa pana praruszta ćittah<br>
Datum kripa sahita darśana maśu tebhjaha<br>
Śri Sathya Sai Bhagawan tawa suprabhatam</i><br>
5.<br>
<i>Adaja diwja kusumani mano harani<br>
Śri pada pudźana widhim bhawadanghri mule<br>
Kartum mahot sukataja prawiśanti bhaktah<br>
Śri Sathya Sai Bhagawan tawa suprabhatam</i><br>
6.<br>
<i>Deśantaragata budhastawa diwjamurtim<br>
Sandarśana abhirati sanjuta ćitta writja<br>
Wedokta mantra pathanena lasantja dźasram<br>
Śri Sathya Sai Bhagawan tawa suprabhatam</i><br>
7.<br>
<i>Śrutwa tawadbhuta ćaritram akhanda kirtim<br>
Wjaptam digantara wiśala dharatalesmin<br>
Dźidźńjasu loka upatistati ća aśramesmin<br>
Śri Sathya Sai Bhagawan tawa suprabhatam</i><br>
8.<br>
<i>Sita sati sama wiśuddha hridambu dźatah<br>
Bahwanganah kara grahita supuśpa haraha<br>
Stunwanti diwjanutibhih phanibhuszanam twam<br>
Śri Sathya Sai Bhagawan tawa suprabhatam</i><br>
9.<br>
<i>Suprabhatam idam punjam je pathanti dine dine<br>
Tej wiśanti paran dhama dźńana widźńana śobhitah</i><br>
10.<br>
<i>Mangalam Gurudewaja mangalam dźńana dajine<br>
Mangalam Partiwasaja mangalam Sathya Saine </i></b></p>

<b></b><p><b>Znaczenie:</b><br>
1. O synu Iśwarammy, o Wspaniały! Na wschodzie już świta. Codzienne obowiązki boskości, które podjąłeś, trzeba wypełnić, dlatego obudź się już, o Panie Sathya Sai!<br>
2. Zbudź się, zbudź, o Panie (Putta)Parthi! O Panie całego wszechświata i ludzkości! Zbudź się, o miłosierny Panie, by świat dostąpił pomyślności, szczęścia, dostatku i błogosławieństw.<br>
3. Nad brzegiem Ćitrawati, w obszernym miejscu pełnym błogości i pokoju, niecierpliwie czekają na Twój <i>darśan</i> ci, co pragną Ci służyć. Promienie słońca rozjaśniają świat. Ten piękny świt od Ciebie, o Panie Sathya Sai.<br>
4. Wielbiciele pochłonięci wyśpiewywaniem Twojej chwały radują się, gdy kosztują nektaru oddania. Bądź tak dobry i okaż swoją Łaskę darząc ich swym <i>darśanem</i>. Ten piękny świt od Ciebie, o Panie Sathya Sai.<br>
5. Przynosząc święte kwiaty o urzekających barwach i zapachu w celu czczenia Twoich Lotosowych Stóp w sposób nakazany przez pisma święte, Twoi wielbiciele przychodzą z wielką tęsknotą i żarliwością. Ten piękny świt od Ciebie, o Panie Sathya Sai.<br>
6. Mądrzy ludzie z odległych krajów, pchani pragnieniem Twego <i>darśanu</i>, przybyli tu i z zachwytem nieustannie recytują wedyjskie <i>mantry</i>. Ten piękny świt od Ciebie, o Panie Sathya Sai.<br>
7. Usłyszawszy cudowne o Tobie opowieści i kierowani rozgłosem, jaki sięga najdalszych horyzontów, gorliwi poszukiwacze Rzeczywistości przybyli tutaj i czekają. Ten piękny świt od Ciebie, o Panie Sathya Sai.<br>
8. Wielbicielki, których serca są wolne od światowych więzów niczym płatki lotosu (co woda ich się nie ima), które w cnotach i pobożności są jak Sita, świętymi hymnami wyśpiewują Twoją chwałę – chwałę Pana Śiwy z szyją wężem przystrojoną – w rękach nosząc śliczne girlandy kwiatów. Ten piękny świt od Ciebie, o Panie Sathya Sai.<br>
9. Ten kto codziennie recytuje ten poranny hymn na przebudzenie dostąpi stanu najwyższej inteligencji i mądrości.<br>
10. Niech nam błogosławi boski <i>Guru</i>, Ten co darzy mądrością; niech nam błogosławi Pan z Parthi, Sathya Sai.</p>

<p>&nbsp;</p><a name="10"></a>
<b><p>10) <i>Mantra Gajatri</i></p><i>
</i></b>
<i><b>
</b></i><b></b><p><b><i>Om bhur bhuwa swaha<br>
Tat sawitur warenjam<br>
Bhargo dewasja dhimahi<br>
Dijo jonah praćodajat</i>  </b>

<b></b></p><p><b>Treść:<br>
</b>Medytujemy (<i>dimahi</i>) o duchowym świetle (<i>bhargo</i>) tej godnej czci (<i>warenjam</i>) boskiej rzeczywistości (<i>dewasja</i>), źródle (<i>sawitur</i>) fizycznej (<i>bhur</i>), astralnej (<i>bhuwa</i>) i niebiańskiej (<i>swaha</i>) sfery egzystencji. Niech ta (<i>tat</i>) boskość oświeci (<i>praćodajat</i>) nasz (<i>jo nah</i>) intelekt (<i>dijo</i>).</p>

<b></b><p><b>Znaczenie:</b><br>
<i>Gajatri</i> to uniwersalna modlitwa, którą mogą z pożytkiem (duchowym i materialnym) powtarzać wszyscy ludzie niezależnie od epoki, płci, wieku czy części świata. <i>Wedy</i> informują, że gdy Pan Mahawisznu postanowił stworzyć świat, wówczas z Jego twarzy wyłoniła się <i>mantra Gajatri</i>. Występuje ona w trzeciej <i>mandali Rigwedy</i>. Ponieważ <i>Wedy</i> są odwieczne, taką jest również <i>Gajatri</i>. Odkrycie <i>mantry</i> przypisuje się mędrcowi Wiśwamitrze. Treść <i>mantry Gajatri</i> można wyrazić na wiele sposobów. Wyżej podaliśmy jeden z nich. Słowo <i>'GAJA-TRI-I'</i> wywodzi się od <i>'GAJAntam TRIjate Iti'</i>, co znaczy: tym, co ochrania recytującego, jest TO (czyli ta właśnie <i>mantra</i>), dlatego nie ma go w treści <i>mantry</i>.</p>
<p>Analizy skuteczności <i>mantry</i> wskazują, że korzyści płynące z jej recytowania, tak jak się to robi w <i>dźapie</i>, są dziesięciokrotnie większe niż przy śpiewaniu lub zwykłym mówieniu. Bezgłośna recytacja z poruszaniem ustami jest jeszcze skuteczniejsza, zaś największe korzyści zyskujemy z mentalnego jej powtarzania (mówi się, że tysiąc razy większe niż na głos!). W tym względzie ważne jest również miejsce: lepiej recytować nad rzeką niż w domu, jeszcze lepiej w miejscu hodowli krów, a najlepiej tam, gdzie przeprowadza się obrządek <i>Agnihotry</i> i w innych świętych miejscach oraz tam, gdzie mędrcy zdobywali mądrość. Najlepszą porą recytacji jest świt, kiedy to możemy liczyć na łaskę mądrości ze strony bogini Saraswati. Śri Baba zaleca jednak powtarzać ją także w południe i o zmierzchu. Powinno się ją też recytować w rozmaitych innych porach (włącznie z nocą) i sytuacjach (np. każdorazowo przed jedzeniem).<br>
Na pytanie, czy niepoprawna recytacja może zaszkodzić wielbicielowi, Swami odpowiada: "Tak, ma wtedy odwrotny skutek, zaciemnia umysł, ale jeśli recytujemy z Miłością, Bóg to przyjmuje". Bhagawan Baba poleca trzy-, dziewięcio- lub jedenastokrotne powtarzanie <i>mantry</i> przed posiłkiem. Tradycyjnie wymaga się 108-krotnego powtarzania, ale w zasadzie nie ma ścisłych ograniczeń co do liczby, gdyż konieczność liczenia rozpraszałaby umysł.</p>

<p>&nbsp;</p><a name="12"></a>
<b></b><p><b>12)</b> <b><i>Loka samasta</i></b></p><b><i>
</i></b>
<i><b></b></i><b></b><p><b><i>Loka samasta sukhino bhawantu </i></b> &nbsp; (3x)<br>
<i><b>Om śanti śanti śanti</b>
</i>
<b></b></p><p><b>Treść:</b><br>
Niech światy (<i>loka</i>) istnieją (<i>bhawantu</i>) tak samo (<i>samasta</i>) szczęśliwe (<i>sukhino</i>).</p>

<b></b><p><b>Znaczenie:</b><br>
W czasach wedyjskich na zakończenie wszystkich religijnych obrządków wypowiadano następujące błogosławieństwo (tzw. <i>śantistawę</i>): "Niechaj królowi, który sprawiedliwie rządzi krajem, dopisuje zdrowie i pomyślność. Niechaj dobrze wiedzie się krowom oraz braminom i niech ludzie całego świata będą szczęśliwi."</p>
<p>Ostatnia część tej modlitwy to <i>Loka samasta</i>, którą śpiewamy dla dobra wszystkich ludzi, gdyż, jak często podkreśla Bhagawan Śri Sathya Sai Baba, jest to wyrażanie ekspansywnej miłości wykraczającej poza krąg osób najbliższych i sięgającej aż do innych światów. Ponadto, nikt nie może żyć pełnią szczęścia, gdy inni cierpią. Szczęśliwi ludzie całego świata, to obiecany nam Złoty Wiek, dlatego prosimy, wznosimy modły o to, by dobry Sai ulitował się nad umęczonym ludem i jak najprędzej sprawił, że każdy człowiek bez wyjątku będzie szczęśliwy!</p>

<p>[Oprac. KMB, 2002.04.22, ostatnia modyf. 2006.04.26] 
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Popularne modlitwy</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>