<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Jak Prof. Venkataraman uwierzył w Swamiego
                    </li>
                </ol>
            </nav>
            <article class="container">
                <h2>Jak Prof. Venkataraman uwierzył w Swamiego</h2>
                <p>
                    W pierwszym numerze „<i>Heart to Heart”</i> z b.r.
                    Prof. Ganeshan Venkataraman, znany
                    ze swoich ciekawych i pełnych entuzjazmu artykułów oraz
                    energicznej działalności w Radio Sai (którego zespół
                    redaguje wspomniany miesięcznik), zamieścił swój obszerny (19
                    stron!) tekst pt. <i>Bóg, Awatar i intelektualista</i>.
                    Ustosunkowuje się w nim zasadniczo tylko do jednego z krytycznych
                    artykułów zamieszczonych tuż po Urodzinach Bhagawana Baby w
                    pewnym tygodniku w Kerali, w porywający sposób obnażając
                    niedorzeczność poczynań niektórych zajadłych przeciwników
                    Swamiego. Kilka końcowych ustępów tekstu Profesor poświęcił
                    sobie. Ten optymistyczny fragment przedstawiamy w nadziei, że dzięki
                    niemu i nam się udzieli troszkę z zapału i wiary, jakimi Swami
                    obdarzył Venkataramana.</font>
                    </font>
                </p>
                <br>
                <br>

                <p style="margin-bottom: 0cm">
                    <font>
                        <font>Niektórzy
                            z was mogą powiedzieć: 'Słuchaj, jesteś naukowcem, nieprawdaż? Jak
                            więc było z tobą? Czy kiedyś byłeś po drugiej stronie, a jeśli tak,
                            jakim sposobem przyszedłeś na tę?' Sądzę, że opisałem to wszystko w
                            jednym ze swoich wystąpień w radiu. Niemniej, przy obecnej okazji
                            należy się krótkie świadectwo. Tak, dawno temu byłem po
                            drugiej stronie. Jednak nie wypierałem się Boga, ani nie oczerniałem
                            Swamiego. Po prostu Swami był mi obojętny. Nie miałem Go, że tak
                            powiem, w swoim polu widzenia. Potem przyszła ta właściwa pora i
                            Bhagawan Baba przyciągnął mnie, i to mocno, za pomocą kilku wiele
                            mówiących, traumatycznych przeżyć.</font>
                    </font>
                    </font>
                </p>
                <font>
                    <font>

                        <p>Jak
                            Swami mówi w „<i>Gicie Wahini</i>,”
                            nieszczęście jest prawdziwie wielkim sprzymierzeńcem, gdyż przyciąga
                            do Boga. W moim przypadku, przyciągnęło mnie do Żywego i Kochanego
                            Boga. Muszę wspomnieć, że kiedy po raz pierwszy zbliżyłem się do
                            Swamiego, myślałem, że był po prostu świętym czy czymś w tym rodzaju.
                            Wtedy nie wiedziałem, że jest On <i>Awatarem</i>.
                            Uświadomiłem sobie to później. W tym początkowym okresie nie
                            wierzyłem również w materializacje. Odrzucałem je jako
                            niemożliwe, gdyż przeczyły wszystkim prawom nauki — było to
                            typowe uprzedzenie wynikające z ignorancji. Pewnego pięknego dnia,
                            gdy Swami zmaterializował dla mnie <i>wibhuti</i>,
                            doznałem szoku. Na własne oczy zobaczyłem materializację,
                            wykraczającą ponad tzw. prawa nauki i musiałem to zaakceptować.

                        </p>
                        <p> Od
                            tamtego czasu widziałem mnóstwo takich materializacji, w tym
                            kilka bardzo osobliwych. Pewnego popołudnia kilka lat temu wszyscy
                            siedzieliśmy na niższej części werandy w Sai Kulwant Hall. Było
                            gorąco. Kilku z nas otaczało Swamiego, a w holu siedziały tysiące
                            wielbicieli. Nagle, w środku rozmowy Swami na oczach wielkiego
                            zgromadzenia zmaterializował owoc figi. Następnie puścił tę figę w
                            obieg wśród nas. Gdy ją otrzymałem, stwierdziłem, że jest
                            zimna, jak gdyby została dopiero co wyjęta z jakiegoś głębokiego
                            zamrożenia! Wyobraźcie sobie otrzymanie zimnej figi w upalne letnie
                            popołudnie. Później Swami rozdzielił ją na kawałki i rozdał
                            nam. Ja też dostałem! Hmmm — była pyszna!!

                        </p>
                        <p> Zakończę
                            historią innej takiej materializacji, która była również
                            niezwykła na swój sposób. Zdarzyło się to, gdy byłem
                            Prorektorem. W tamtym okresie zawsze po
                            <i>Darśanie</i> Swami
                            wzywał mnie i kilka innych związanych z Instytutem osób do
                            pokoju <i>interview</i>,
                            gdzie spędzaliśmy z Nim jakiś czas. Owego dnia był wśród nas
                            Dyrektor Administracyjny naszego akademika. Dla umilenia spotkania
                            Dyrektor przyniósł ze sobą w srebrnym naczyniu orzeszki ziemne
                            zwane też fistaszkami. Dyrektor zaproponował je Swamiemu, który
                            zrazu odmówił, ale później wziął jeden orzeszek do ust.
                            Następnie zaczął dawać nam po jednym orzeszku. Zrobił w ten sposób
                            pełną rundę, potem drugą i przystąpił do trzeciej. Każdy wyciągał
                            rękę po to <i>Prasadam</i>
                            od Swamiego i ja uczyniłem to samo, gdy przyszła na mnie kolej. Ale
                            to co wpadło mi do ręki nie było orzeszkiem ziemnym lecz szklistą
                            plakietkę z jakimś obrazkiem. Spojrzałem pytająco na Swamiego, a On
                            powiedział: „Popatrz
                            co to jest.”
                            Podszedłem z plakietką do okna w pokoju <i>interview</i>
                            i próbowałem dojrzeć, co na niej jest, ale nie mogłem
                            zobaczyć, gdyż nie miałem ze sobą okularów. W związku z tym
                            Swami zrobił kilka docinków, po czym rzekł: „Plakietka
                            ta pokazuje Kosmiczną
                            Formę Pana. Osadzone są w niej postacie Śirdi Baby i Swamiego.
                            Zostawiłem tam także trochę miejsca dla Premy Sai. Czy Premę Sai mam
                            też dołączyć?”
                            Milczeliśmy, oszołomieni tym doświadczeniem. On zaś uśmiechnął się i
                            powiedział: „Nie,
                            nie dołączę Premy Sai, bo wy faceci bez wiary opuścilibyście Mnie i
                            poszli za Nim!” Wszyscy roześmialiśmy się.

                        </p>
                    </font>
                </font>
                </font>
                <p>
                    <font>
                        <font> Następnie
                            Swami wziął plakietkę i trzymając ją przy ustach zaczął na nią
                            dmuchać. Myślałem, że spowoduje jej zniknięcie, ale ona zamieniła się
                            w stuprocentowy, błyszczący sygnet! Swami podniósł go wysoko,
                            pokazując nam, oniemiałym z wrażenia. Powiedział: „Złotnik
                            potrzebowałby piętnaście dni na wykonanie takiego
                            sygnetu, a Ja zrobiłem to w mniej niż piętnaście sekund!”
                            Potem kazał mi wyciągnąć prawą rękę. Nie mogłem
                            wprost uwierzyć. W tym świecie, w którym było tylu wspaniałych
                            wielbicieli, Swami dawał ten nadzwyczajny sygnet właśnie mnie. No ale
                            to przecież Bóg. Jak kiedyś powiedział Ramakriszna
                            Paramahamsa, „Nikt
                            nie jest w stanie przewidzieć,
                            kto dostąpi Łaski Boga. Może być wielu zasłużonych ludzi, ale Pan
                            Bóg, z sobie tylko znanych powodów może wybrać kogoś o
                            wiele mniej zasługującego na wyróżnienie.”
                            To wielka prawda, którą mogę potwierdzić na podstawie własnego
                            doświadczenia.</font>
                    </font>
                    </font>
                </p>

                <p class="text-right my-5">[tłum.
                        KMB; 2006.02.12] &nbsp; &nbsp;</font>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Jak Prof. Venkataraman uwierzył w Swamiego
                    </li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>