<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                            <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                            <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">O Bhagawanie Śri Sathya Sai Babie</li>
                </ol>
            </nav>
            <article class="container">
                <h2>O Bhagawanie Śri Sathya Sai Babie</h2>
            <li class="list-group-item"> Preprint książki Rity Bruce wydanej w 1997 r. przez Dom Wydawniczy Limbus,
             Bydgoszcz: <a href="http://www.astro.uni.torun.pl/~kb/Books/WizjaSai1.pdf">Wizja Sai — Księga pierwsza</a>
             i <a href="http://www.astro.uni.torun.pl/~kb/Books/WizjaSai2.pdf">Księga druga</a>.
            </li><li class="list-group-item"> <a href="./iswaranna.html">Iśwaramma</a> i 
             <a href="./venkapa.html"><!--i-->Venkapa<!--/i--></a> — artykuły
              o rodzicach Sai Baby.</li>
            <li class="list-group-item"> <a href="./proroctwa.html">Przepowiednie o Sai Babie</a> 
              — bogaty zbiór cytowań o proroctwach w ostatnich 5000 lat
              zapowiadających adwent i misję Bhagawana Baby.</li>
            <li class="list-group-item"><a href="./wskrzeszenia.html"> Wskrzeszenia dokonane przez Sai Babę</a> — przegląd.
            </li><li class="list-group-item"> <a href="./face2face.html">Twarzą w twarz z Bogiem</a> 
             — wyznania wyjątkowego wielbiciela Kriszny.</li>
            
            <li class="list-group-item"> <a href="./baranowski.html">Aura miłości</a> 
              — naukowiec, dr F. Baranowski (USA), składa świadectwo o boskości
              Swamiego.</li>
            <li class="list-group-item"><a href="./upadhaya.html">Transformacja lekarza</a>
              — jak On potrafi zmienić człowieka!</li>
            <li class="list-group-item"><a href="./patel.html">Swami przyciąga lekarza, stomatologa Patela</a>.</li>
            <li class="list-group-item"><a href="./hansen.html"> Cudowne przygody Dunki Hansen</a>.</li>
            <li class="list-group-item">Wywiady z: <a href="./drucker.html">Al Druckerem</a>, 
              <a href="./yaga.html"> J. Jagadeesanem</a> 
              (<a href="SSB/Inne/Jaga-bio.htm">zob. też bio</a>)
              i <a href="./samuel.html">S. Sandweissem</a>
             (zob. teź <a href="./uwolnic.html">jego wykład</a> i  <a href="./wyklad.html">wystąpienie</a>),
            <a href="./safaya.html">dr Safayą</a>,
            <a href="./venkata.html">synem radży Venkatagiri</a>.
            </li>
            
            <li class="list-group-item"> <a href="./kodai.html">W Kodai</a> — wywiad 
            Radia Sai z A. Kumarem.
            
            </li><li class="list-group-item"> Ciekawsze wyjątki z książek:
             <a href="./u_kresu.html">U kresu drogi</a>
             H. Murpheta, <a href="./na_drodze.html">Na drodze ku
             Boskości</a> J.&nbsp;Hislopa,
             <a href="./boskie_wspomnienia.html">Boskie wspomnienia</a>
             D.&nbsp;Baskin,
            <a href="./inkarnacja.html">Inkarnacja Boga</a>
             V.&nbsp;Kanu oraz
             <a href="./anjatha.html">Anjatha śaranam nasti</a>
             Śmt. <a href="./madhura.html">Vijayammy</a>.</li>
            <li class="list-group-item"> Sharada Devi: <a href="./od_sirdy.html">Od Śirdi Sai do Sathya Sai</a> oraz z autobiografii <a href="./pedda.html">część 1</a>,
            <a href="./pedda2.html">część 2</a>.
            </li><li class="list-group-item"><a href="./moja_droga.html">Moja droga do Swamiego</a> 
              — jak Norma przekonała się do Sai.</li>
            <li class="list-group-item"><a href="./radio.html">Radio Sai zaprasza</a> —
              apel byłego prorektora uniwersytetu w Puttaparthi 
              (rektorem jest Sai Baba).</li>
            
            <li class="list-group-item"> <a href="./kim_jest.html">Kim jest Sai Baba</a> 
              — treść ścieżki dźwiękowej do filmu.</li>
            
            <li class="list-group-item"> <a href="./prezydent.html">Z wystąpienia Prezydenta
              Indii</a> na uniwersytecie w Prasanthi Nilayam, 22 XI 2002&nbsp;r.</li>
            
            <li class="list-group-item"><a href="./wspolczucie.html">Współczucie Sai</a> —
              reakcja Baby na tragedię wynikłą z głodu.</li>
            
            <li class="list-group-item"><a href="./zqm.html">Kochaj moją nieokreśloność</a>
             i inne teksty z Quarterly Magazine P. Mason.</li>
            
            <li class="list-group-item"><a href="./zapiski.html">Moje (KMB) notatki z pobytu u Baby w 1997 r.</a><!--br-->;
            
             <a href="./audiencja.html">Na audiencji u Bhagawana</a> —
              szczegółowe sprawozdanie Ljubicy Ljubic.</li>
            
            <li class="list-group-item"> Cuda na audiencji: <a href="./maly_cud.html">widzenie zmarłej żony</a>
             i <a href="./film.html">dlaczego Baba nie uzdrowi wszystkich</a>.</li>
            
            <li class="list-group-item"> <a href="./wibhuti.html">Wibhuti</a> —
              popiół, który leczy.</li>
            
            <li class="list-group-item"> <a href="./placzace_sari.html">Płaczące sari</a> —
              rzeczy też czują!</li>
            
            
            <li class="list-group-item">Wspomnienia pośmiertne: 
             Narayana Kasturi <a href="./kasturi.html">(1897–1987)</a>, 
             Indra Devi <a href="./indra.html">(1899 - 2002)</a>, 
             Lucas Ralli <a href="ralli.html">(1920–2003)</a> i 
             Howard Murphet <a href="./murphet.html">(1906–2004)</a>.
            
            </li><li class="list-group-item"> <a href="./chca_inkarnowac.html">Chcieliby się inkarnować dla Sai</a>.
            
            </li><li class="list-group-item"> Z Serca do Serca, <a href="./h2h1.html">Część 1</a> i
             <a href="h2h2.html">Część 2</a> — 15 artykułów
              z dwutygodnika Heart2Heart.
            </li><li class="list-group-item"><a href="./chlopcy.html">Swami i chłopcy</a> — ciekawa
             rozmowa Baby ze studentami z dnia 2 lutego 2004 r.</li>
            
            <li class="list-group-item"><a href="./inzynier.html">Inżynier Sai Baba</a> — 
            zapobiega wielkiej katastrofie stolicy Salwadoru.
            </li><li class="list-group-item">Ravi M.: <a href="./boska.html">Boska Abhajahasta (+ statytstyka szpitali na 30 VI 2005)</a>.
            </li><li class="list-group-item">Charles Penn: <a href="./wieczna_radosc.html">Wieczna radość ze służby</a>. 
            
            
            
            </li><li class="list-group-item"> <a href="./bog.html">Fragmenty wystąpień Hillcoatów</a>. 
            </li><li class="list-group-item"> S. Mahalingam: <a href="./wielka_prawda.html">O Prawdzie</a>. 
            </li><li class="list-group-item"> <a href="./swami.html">Wykładowca wspomina Sai Ma (+2 inne małe teksty)</a>.
            
            </li><li class="list-group-item"><a href="./yala.html">Prof. Jayalakshmi wspomina</a>.
            
            </li><li class="list-group-item"><a href="./nagroda.html"> Państwowa nagroda dla wykładowcy Uniwersytetu Sai</a>.
            </li><li class="list-group-item">Isaac Tigrett <a href="./isaac.html">o sobie i Sai Babie</a> oraz
            <a href="http://sai.5v.pl/SSB/Inne/Tigrett%20w%20Dallas.doc">jego wystąpienie w Dallas w 2009 r.</a> (plik Worda)<br>
            
            
            
            </li><li class="list-group-item"><a href="./sonya.html">Gdy On poruszy twoje serce</a>
             – Sonja Engman Wilson.
            </li><li class="list-group-item"><a href="./lingoo.html">Lingobhawa 27 lutego 2006</a>
            — pełna emocji relacja wielbiciela.
            </li><li class="list-group-item"><a href="./wspomnienia.html">Wspomnienia dwóch wielbicieli</a>.
            </li><li class="list-group-item"><a href="./sygnaly.html">Sygnały ze szpitala Swamiego w Whitefield</a>.
            </li><li class="list-group-item"><a href="./profesor.html"> Jak Swami przekonał Prof. Venkataramana</a>.
            </li><li class="list-group-item"><a href="./skutek.html"> Zadziwiająca przemiana — skutek sewy</a>.
            
            </li><li class="list-group-item"><a href="./muzulmanka.html"> Sai Baba w oczach muzułmanki</a> — Prof. Zeba Bashiruddin.
            </li><li class="list-group-item"><a href="./tredowaty.html"> Przemiana w rodzinie trędowatego</a>.
            
            </li><li class="list-group-item"><a href="./student.html">Uzdrowienie studenta z astmą</a>.
            </li><li class="list-group-item"><a href="./geeta.html">Geeta Mohan Ram</a> ciekawie opowiada o swojej przygodzie z Sai.
            </li><li class="list-group-item"><a href="./ariarajaha.html">Swami wybawia wielbiciela z kłopotu</a>. 
            
            </li><li class="list-group-item"> N. Kasturi — <a href="./prawda.html">Co to jest Prawda</a>.
            </li><li class="list-group-item"><a href="./sinclair.html">Piękne doświadczenia biznesmana</a>
            — James Sinclair.
            
            </li><li class="list-group-item"><a href="./pstryk.html">Pstryk, pstryk, pstryk</a> — N.S. Raghavan.
            </li><li class="list-group-item"><a href="./stworca.html">Stwórca</a>.
            </li><li class="list-group-item"><a href="./przemiana.html">Przemiana</a> — B.N. Narasimhamurthi.
            </li><li class="list-group-item">Michael Goldstein <a href="./goldstein.html">o Organizacji</a> i
            <a href="./goldstein2.html">wystąpienie w Rzymie</a> (2004.4.18).
            </li><li class="list-group-item">
            <a href="./przemowienie.html">Przemówienie</a> A. Rigopoulosa, Rzym (2004.4.18).
            </li><li class="list-group-item"><a href="./reddy.html"> Wystąpienie członka Prasanthi Council dr-a Reddy'go w USA</a>.</li>
            <li class="list-group-item"> <a href="./prasanthi.html">Prasanthi Nilayam 1993</a>
              — wydarzenia w aśramie w czerwcu i lipcu 1993 r.</li>
            <li class="list-group-item"><a href="./darsan.html">Darśan Dnia Iśwarammy</a> (6 maja 2004 r.) — Chris Parnell.
            </li><li class="list-group-item"><a href="./swiatecznie.html">Świątecznie w Prasanthi Nilayam</a>, lipiec 2004.
            </li><li class="list-group-item"><a href="./ofiara.html">Ati Rudra Maha Jadźńa w aśramie</a> — wielka ofiara 9 – 20 sierpnia 2006 r.
            </li><li class="list-group-item"><a href="./jak_to_bylo.html">Historia Ati Rudra Lingamu</a> — Bala Subramanian. </li>
            <li class="list-group-item"><a href="./sri_lanka.html">Swami pojedzie na Śri Lankę</a> — zapowiedź wyjazdu za granicę.
            </li><li class="list-group-item"><a href="./wlasne_dzieci.html">Własne dzieci Boga</a> — rzecz o sierocińcu Bhagawana.
            </li><li class="list-group-item"><a href="./patakam.html">Śri Sathya Sai Dina Dźanodharana Patakam</a> — inny sierociniec Baby w Andhra Pradeś.</li>
            <li class="list-group-item"><a href="./kim_jestem.html">Kim jestem</a> — zastanawia się David Jevons.
            </li><li class="list-group-item"><a href="./na_balkanach.html">Sai na Bałkanach</a>. 
            </li><li class="list-group-item"> Kalumnie w odwrocie <a href="./calumny.html">Część I</a> i
            <a href="./calumny2.html">Część II</a>; <a href="./odp_dzieninkarza.html">Odpowiedź na oszczerstwa</a>.
            
            </li><li class="list-group-item">Rewelacyjne książki Daniela Ostoji: <a href="./ksiazki_ostoji.html">tom I</a>,
            <a href="./RewelacyjnaKsiazkaII.html.html">II</a> i <a href="./RewelacyjnaKsiazkaIII.html">III</a> (zob. też <a href="./Ostoja-Sai-Net.html">angielskie recenzje</a>).
            
            </li><li class="list-group-item"><a href="./modlitwy.html"> Popularne modlitwy w sanskrycie</a> — teksty i tłumaczenia.
            </li><li class="list-group-item"><a href="./bhadza.html">Bhadźa Gowindam Śri Śankary</a> — tekst i tłumaczenie.
            <p></p>
            
            <p>
            
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="./spis.html">O Bhagawanie Śri Sathya Sai Babie</a></li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>