<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Sai Baba dał mi drugie życie!</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Sai Baba dał mi drugie życie!</h2>
                <b></b></font></font></p>
                    <p><br>
                    </p>
                    <p><font><font><font>	<font>Jest
                    to wzruszająca historia odważnego młodego chłopca z Radźastanu, Ravi
                    Solankiego, który teraz jest pełen radości, gdyż jego problemy
                    z sercem odeszły w zapomnienie jak zły sen dzięki skutecznej operacji
                    w Szpitalu Baby</font><font> w
                    Bangalore.</font></font></font></font></p>
                    <p><font><font><font>	<font>Kiedy
                    spojrzeć na wątłe ciało Raviego, przychodzi zwątpienie, ile on może
                    mieć lat. Można by powiedzieć, że nie więcej niż 6 lat. Problemy
                    sercowe mogą spowodować rozdźwięk między wiekiem a wyglądem ciała.
                    Ravi, chociaż wygląda na 6 lat, w rzeczywistości ma ich 12 i ma
                    kłopoty z sercem.</font></font></font></font></p>
                    <p><font><font>	Ojciec
                    Raviego, Rana Ram Solanki jest handlarzem ulicznym, który
                    zarabia na życie, sprzedając warzywa z wózka. Nie posiadał
                    wielkich ambicji oprócz pragnienia, by jego czwórka
                    małych dzieci urządziła się jakoś w życiu. Najstarsze z nich, syn,
                    uczy się w 10 klasie i dorabia w warsztacie naprawczym jednośladów.
                    Kolejnych dwoje to córki chodzące do 7 i 9 klasy. Najmłodszym
                    jest Ravi o wielkich, pełnych wyrazu oczach i jest dla wszystkich
                    oczkiem w głowie.</font></font></p>
                    <p><font><font><font>	<font>Od
                    </font><font>samego urodzenia Ravi
                    miał trudności z oddychaniem i okresy omdlenia. Lekarze w Jodhpur
                    (Radźastan) i specjaliści w Delhi wskazywali jednoznacznie, że w
                    sercu jest dziura. Wszyscy sugerowali to samo rozwiązanie: operację
                    serca. Ranę Rama przerażał fakt, że taka operacja wymagała od niego
                    zapłaty 250 – 300 tys. rupii. Lekarze potrafili odpowiedzieć na
                    jego pytania medyczne, ale byli bezradni, gdy pytał jak, przy swoich
                    ograniczonych możliwościach ma zdobyć tak wielką sumę.</font></font></font></font></p>
                    <p><font><font><font>	<font>
                    Lekarstwa, jakie przepisali Ravi</font><font>emu
                    lekarze, pozwalały mu przetrwać do wieku 8 lat. Omdlenia jednak nigdy
                    go nie odstąpiły, co sprawiało, że w ogóle nie mógł
                    uczestniczyć w grach i zabawach. Nie mógł chodzić do zwykłej
                    szkoły, ale by go zająć, rodzice załatwili mu małą szkołę odległą o
                    pięć minut drogi z domu. Cały ten czas rodziców dręczyła jedna
                    myśl: jak długo same lekarstwa utrzymają go przy życiu? Gorąco
                    modlili się do Boga, by obdarzył swoją łaską ich słodkie dziecko.
                    Rana Ram z żoną nie mogli wiedzieć, że wkrótce ich modlitwy
                    zostaną wysłuchane.</font></font></font></font></p>
                    <p><font><font>	Pewnego
                    dnia, gdy Ravi upadł zemdlony a Rana Ram wyszedł, wujek Raviego
                    pobiegł po Ranę. Tak się złożyło, że w tym czasie Rana sprzedawał
                    warzywa przy domu przedstawiciela służby zdrowia. W pośpiechu
                    zostawił swój wózek tam gdzie stał i pobiegł do domu.
                    Po paru chwilach niepokoju mały Ravi odzyskał świadomość. Dziękując
                    Bogu, ojciec Raviego wrócił do swojego wózka. Zapytany,
                    opowiedział o nieszczęsnym stanie swojego dziecka i wyraził obawy o
                    jego los. Wtedy to ów pracownik służby zdrowia powiedział
                    Ranie o Sai Babie i Jego szpitalach, które przeprowadzały
                    operacje serca za darmo. Poradził, by Rana zawiózł Raviego na
                    badania i leczenie do szpitala Swamiego w Banagalore.</font></font></p>
                    <p><font><font><font>	<font>Darmowe
                    leczenie i do tego w szpitalu superspecjalistycznym w tym
                    skome</font><font>rcjalizowanym
                    świecie wydaje się niewiarygodne i zbyt piękne, by było prawdą. Rana
                    Ram nie mógł więc uwierzyć. Nakłaniany, poprosił jednego z
                    krewnych w Bangalore, by sprawdził, czy taki szpital w ogóle
                    istnieje. Dopiero gdy otrzymał potwierdzenie, przywiózł
                    Raviego do Sri Sathya Sai Institute of Higher Medical Sciences w
                    Bangalore na badania. Tamtejsi lekarze po badaniach potwierdzili, że
                    Ravi miał skomplikowaną dziurę w sercu i że konieczna była operacja.
                    Przepisano mu lekarstwa i po pewnym czasie ponownie przyjechał do
                    szpitala na badania. W końcu ustalono datę operacji i przyjęto
                    Raviego do szpitala.</font></font></font></font></p>
                    <p><font><font><font><font>	Jak
                    na chłopca w jego wieku, perspektywę operacji Ravi przyjął całkiem
                    dzielnie. Gdy spytać go: „Nie bałeś się, gdy lekarze
                    powiedzieli ci, że potrzebujesz operacji?,” odpowiada: „Nie,
                    nie bałem się. Rodzice bardzo się martwili o przebieg operacji.
                    Pocieszałem ich mówiąc, by się nie przejmowali i że wszystko
                    pójdzie gładko.” Naprawdę uderzająca jest jego wiara w
                    lekarzy, którym powierzył swoje życie i w Babę. Chociaż nigdy
                    Baby nie widział osobiście, oglądał w telewizji jak Swami odprawia
                    Wibhuti Abhiszekę (kąpiel w </font><i><font>wibhuti</font></i><font>)
                    z figurą Śirdi Sai. </font></font></font></font>
                    </p>
                    <p><font><font><font><font>	Po
                    operacji Ravi bardzo szybko zdrowiał. Jego wujek pojechał do
                    Puttaparthi, by wyrazić wdzięczność całej rodziny Swamiemu za danie
                    Raviemu nowego życia. Rana Ram mówi: „Jesteśmy bardzo
                    szczęśliwi, że jego życie zostało uratowane. <i>Pehla dźanm uske Ma
                    ne dija, dusra dźanm Sai Baba ne dija</i> (Jego Matka dała mu
                    pierwsze życie, Sai Baba dał mu drugie życie).”</font></font></font></font></p>
                    <p><font><font><font><font>	Siedząc
                    w wygodnym łóżku w oddziale pooperacyjnym, ze starannie
                    wykonanym przedziałem we włosach, Ravi obdziela szerokim uśmiechem
                    wszystkich, którzy odwiedzają go, by porozmawiać. Ma bardzo
                    łagodne usposobienie. Na często zadawane pytanie, kim chciałby
                    zostać, gdy dorośnie, Ravi odpowiada cicho ale stanowczo: „Lekarzem,”
                    a przy tym w oczach stają mu łzy wdzięczności dla lekarzy, którzy
                    uratowali mu życie. Ojciec dopowiada za niego: „Ponieważ
                    lekarze uratowali mu życie, pragnie w przyszłości ratować życie
                    innych.” Chcąc podkreślić przyjazną postawę lekarzy w szpitalu,
                    Rana wyciąga z portmonetki wizytówkę głównego
                    kardiologa, który także uczestniczył w operacji. Mówi,
                    że chirurg ten dał mu ją z poleceniem dzwonienia 'o każdej porze,'
                    </font><font>kiedy tylko zajdzie
                    potrzeba porozmawian</font><font>ia
                    o zdrowiu Raviego. Rana jest uszczęśliwiony.</font><font>
                    Mówi:</font><font> „Już
                    paru ludziom powiedziałem o tym szpitalu. Jesteśmy bardzo wdzięczni,
                    że taki szpital istnieje.”</font></font></font></font></p>
                    
                    <p style="margin-left: 3cm"><font><font>		<font>—
                    Zespół <i>Heart to Heart</i></font></font></font>
                    </p><div align="RIGHT"><font><font>[tłum.:
                    KMB; 2006.02.13]	&nbsp; &nbsp;</font></font></div>
                    <p></p><hr><br>
                    <p></p>
                    <p><br>
                    </p>
                    <p align="CENTER"><font><font style="font-size: 20pt" size="5"><b>Wzruszająca
                    empatia</b></font></font></p>
                    <p><br>
                    </p>
                    <p align="CENTER"><font><font><b><font><font>Ashwin
                    V.,technik w SSSIHMS (Banga</font><font>lore),
                    były student Institutu Baby</font></font></b></font></font></p>
                    <p><br>
                    </p>
                    <p><br>
                    </p>
                    <p><font><font><font><font>Czy
                    macie pojęcie ilu pacjentów codziennie pisze do szpitala? Na
                    pewno nigdy byście nie zgadli. Przyjmowanie listów pacjentów
                    i odpisywanie na nie nie jest czymś, co przychodzi na myśl na
                    wzmiankę o szpitalu. Ale korespondencja może tutaj zająć wiele czasu.
                    Każdego roboczego dnia listonosz dostarcza do naszych drzwi kilka
                    garści listów. Gdybyście kazali mi opisać doświadczenie stąd
                    wynoszone, ująłbym to jednym słowem: bezcenne.</font><font>
                    </font><font>Trzeba to samemu
                    zobaczyć, żeby uwierzyć. </font></font></font></font>
                    </p>
                    <p><font><font><font>	<font>Listy
                    przychodzą z całego kraju od ludzi bardzo biednych. Niektórzy
                    proszą o spotkanie, niektórzy chcą </font><font>porady</font><font>,
                    niektórzy piszą o szczegóły przyjmowania i pobytu w
                    szpitalu. W naszym świecie korzysta się z szybkich i wygodnych
                    </font><font><i>e-maili</i>, ale jaki
                    wybór ma</font><font>ją
                    biedni i niepiśmienni ludzie w hinduskich wioskach? Papier, na którym
                    piszą czasami jest wyblakły, pismo często niepewne i pełne błędów.
                    Ramappa nie ma żadnych wcześniejszych badań lekarskich. Pisze, że nie
                    stać go na lekarza. Wszystkie pieniądze idą na wyżywienie jego
                    pięcioosobowej rodziny.</font></font></font></font></p>
                    <p><font><font><font><font>	Raz
                    po raz zdarzają się listy, do których przeczytania potrzeba
                    czyjejś pomocy. Weźmy na przykład list Anity. Do pewnego miejsca z
                    wysiłkiem odczytuje się poszczególne słowa, dalej widać, że
                    niosą one niewiele informacji. Anita cierpi na serce. List kończy się
                    śladem kciuka usmarowanego atramentem. Ona właściwie nie potrafi
                    pisać </font><font>—</font><font>
                    nie wie jak pisać. Czy trzeba lepiej wyrazić przeżywaną w milczeniu
                    desperację bezradnych, niepiśmiennych ludzi w naszych wsiach.</font></font></font></font></p>
                    <p><font><font><font><font>	Piszę
                    ten krótki tekst, chcąc podzielić się treścią jednego
                    szczególnego listu. Przyszedł od Anandy z Kalkuty. Na pierwszy
                    rzut oka jego pismo wygląda na sporządzone starannie kaligrafowanymi
                    i czytelnymi łacińskimi literami. Takie robi wrażenie dopóki
                    nie zauważy się podpisu. Niewątpliwie jest w języku bengali. Małe
                    literki napisane odręcznie jasno-niebieskim atramentem, podczas gdy
                    cały jego list zdradza inną rękę piszącą czarnym atramentem. Podobnie
                    jak wielu innych pacjentów, którzy język angielski
                    znają słabo, Ananda miał kogoś, kto pomógł mu napisać prośbę.
                    „Szanowny Panie — zaczyna się list. — Dziękuję za
                    zaproszenie mnie na operację do szpitala.” Był to pacjent z
                    chorobą wieńcową, który miał być operowany w naszym szpitalu w
                    </font><font>ow</font><font>ym
                    miesiącu. Wysłaliśmy mu wezwanie na określony termin w celu założenia
                    </font><i><font>bajpasu</font></i><font>.
                    Myślałem, że wiem do czego zmierza. Biedaczysko prawdopodobnie chce
                    odroczenia operacji. Niektórzy pacjenci borykają się ze
                    zdobyciem funduszy nawet na swoją podróż do Bangalore i często
                    nie mogą dotrzymać terminu. Byłem zupełnie nieprzygotowany na to, co
                    zawierał list. „Ucieszy pana wiadomość, że obecnie mam się
                    bardzo dobrze” — pisał. Ananda zdołał jakoś załatwić
                    sobie operację u siebie na miejscu i czuł się już dobrze. Ale bardzo
                    wzruszyła mnie prośba na zakończenie: „Tak więc, chciałbym
                    pokornie prosić, by był Pan tak dobry i anulował datę mojej operacji
                    oraz prosić, aby dał zamiast mnie szansę innemu biednemu pacjentowi.
                    Z poważaniem ...”</font></font></font></font></p>
                    <p><font><font>	To
                    robi wrażenie. Taka prosta prośba. Oto empatia, jaką mogą znać tylko
                    pacjenci, którzy cierpią. Oto spontaniczność i wrażliwość tych
                    ludzi, których określamy mianem 'biedota.' Czy rzeczywiście są
                    biedni? Na pewno nie.</font></font></p>
                    
                    <p align="RIGHT"><font><font><font><font>
                    [z <i>Heart to Heart</i></font><font>
                    2/2006 tłum.: KMB; 2006.02.15] &nbsp; &nbsp;</font>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Sai Baba dał mi drugie życie!</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        http://www.astro.umk.pl/~kb/personal.html>my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>