<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Transformacja
                    podczas obozu medycznego</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Transformacja
                    podczas obozu medycznego</h2>
                    <h5 class="text-center">Opowieść o transformującej mocy miłości Dr S. K. Upadhyay — okulista z Londynu</h5>
                    <p>
                        Jest to wyjątek z artykułu dr Upadhyayi  pt. “<i>Quality:
                    Not Quantity</i>” (Jakość a nie ilość) zawartego w zbiorze pt. 
                    “<i>Poświęcenie jest cechą charakterystyczną lekarza</i>.”
                        </big></p>
                        <p>
                        <b><font>
                    Poruszające doświadczenie z Nepalu </font></b>
                        </p>
                        <p>
                        <font><font>Czasami
                        lekarstwa czy też operacja nie są
                        konieczne do wyleczenia. <strong><b>Trzeba
                        przetransformować osoby
                        z otoczenia, które mogą
                        być przyczyną cierpienia, a nie sama choroba.</b></strong>
                        Jeden z obozów medycznych
                        został zorganizowany w górach Nepalu.
                        Codziennie bardzo dużo osób przybywało do obozu pokonując
                        duże odległości. <strong><b><font>Niektórzy
                        pokonywali 2-3 dni drogi, niosąc pacjenta na swoich barkach
                        lub na zaimprowizowanych noszach.</font></b></strong><font>
                        Obóz znajdował się na niewielkim płaskim obszarze otoczonym
                        wzgórzami o ośnieżonych szczytach. Dostępne
                        były tylko bardzo podstawowe udogodnienia, bez elektryczności
                        a tylko agregat prądotwórczy.
                        Mieliśmy mikroskopy potrzebne
                        do operacji, przyrządy diagnostyczne itp. — to wszystko przyciągnęło
                        ogromne tłumy. <strong><b>Codziennie
                        liczba pacjentów
                        zwiększała się, ponieważ osoby, które wróciły do
                        swojej wsi opowiadały
                        o miłości i opiece, pokazywały nowe okulary, darmowe leki,
                        ubrania i jedzenie, to wszystko, co otrzymali.</b></strong></font></font></font></p><font><font><font>
                        <p>
                        <font><font><strong><b><font>Oryginalny
                        gość </font></b></strong></font></font>
                        </p>
                        <p>
                        <font>Pewnego razu gdy nasi
                        wolontariusze sta<font>rali się
                        zapanować nad tłumem i nakłaniali ludzi, by ustawili się w kolejce</font>
                        zro<font>biło się poruszenie</font>.
                        <font>Dotąd </font>k<font>ażdy
                        chciał być pierwszy, gdy nagle coś się zmieniło. Wszyscy którzy
                        próbowali przepychać się, by być z przodu, rozstąpili się. </font>Na
                        kilka sekund <font>nastała
                        absolutna cisza. Przybył mężczyzna owinięty w biał</font>e
                        <font>prześci</font>e<font>radło</font>
                        i z twarz<font>ą</font> <font>zakrytą
                        materiałem. Tłum rozdzielił się i wycofał w </font>na <font>podobieństwo</font>
                         Morza Czerwonego, gdy<font>
                        rozdzieliło się, by Mojżesz mógł przejść. W</font>olontariusze
                        byli bardzo zaskoczeni.</font></p>
                        <div>
                        <p><b><font><font>Ktoś
                        zaczął wykrzykiwać</font>,<font> że
                        ten mężczyzna nie powinien tu być, bo jest trędowaty</font></font></b></strong><font>.
                        Ale wolontariusz, który przy<font>prowadził
                        go ze wsi, nie słuchał nikogo i szedł dalej w kierunku rejestracji.
                        Biedny mężczyzna trząsł się ze strachu i zakrywał swoją twarz. Cały
                        był we łzach, gdy go zapytałem dlaczego tak jest przeraż</font>o<font>ny.
                        Z wielką trudnością i smutkiem powiedział: </font></font><strong><b><font>“Czy
                        nie widzisz, <font> że jestem
                        trędowatym, społeczny w</font>yrzutek<font>,
                        nikt nie zbliża się do mnie. Mieszkańcy wsi zmusili mojego syna, by
                        nie kontaktował się ze mną i dlatego żyję poza wsią</font> jako
                        wygnaniec.” </font></b></strong>
                        </div>
                        <p>
                        <font><font><strong><b><font>Wyrzutek
                        społeczeństwa </font></b></strong></font></font>
                        </p>
                        <p>
                        <font><font>Żył
                        pełen wstydu i strachu, tak jakby to była jego wina. </font>Jest <font>to
                        przekleństwo niewiedzy, fałszyw</font>ych <font>wierzeń
                        i mitów w tej społec</font>z<font>ności.
                        </font></font><strong><b><font>Dodano
                        mu otuchy i powiedziano<font>, że
                        nie ma powodu do wstydu </font>ani <font>lęku,
                        ponieważ Bóg zadba o niego.</font></font></b></strong><font><font>
                        Został zbad</font>a<font>ny a
                        następnie wolontariusz zabrał go, pomógł mu się umyć i da</font>no<font>
                        mu jakieś ubrani</font>a<font>. Po
                        godzinie został przyprowadzony na inną konsultację u angielskiego
                        kolegi a </font></font><strong><b><font><font>angielski
                        kapłan, który pracował charyt</font>atywnie<font>
                        na tym obozie, pomógł mu usiąść w widoc</font>znym <font>dla
                        tłumów </font>miejscu <font>trzymając
                        go za rękę i poczęstował go filiżanką herbaty.</font></font></b></strong></p>
                        <P>
                        <font><font>Ktoś
                        spośród czekającego tłumu </font> wy<font>biegł
                        i powiedział: </font></font><em><i><font><font>“Nie
                        widzisz, że on jest trędowaty, częstujesz go herbatą, dotykasz go i
                        siedzisz obok niego. Zarazisz się, on nie powinien tu być.” </font></font></i></em>
                        </div>
                        <p>
                        <font><font>Odpowiedzieliśmy:
                        </font></font><em><i><font>“</font></i></em><strong><b><i><font><font>Proszę
                        pana, dla nas wsz</font>y<font>scy
                        są tacy sami. Traktujemy każdego na równi </font>a ten
                        przypadek jest uleczalny.</font></i></b></strong><em><i><font>
                        On<font> potrzebuje wsparcia i
                        miłości a nie odsunięcia. Nie powinieneś bać się. Żaden z lek</font>a<font>rzy,
                        żadna pielęgniarka i żaden wolontariusz nie boją się kontaktu z tą
                        chorobą.” </font></font></i></em><font>Trudno
                        <font>było </font>ich <font>przekonać</font>.
                        <font>Troskliwie zajęto się
                        </font>t<font>rędowaty</font>m<font>
                        mężczy</font>zn<font>ą</font> a
                        wolontariusze przygotowali dla niego tymczasowe schronienie
                        (namiot).</font></div>
                        <p>
                        <font><font><strong><b><font>Zaprzyjaźniając
                        się z samotnym</font> </b></strong></font></font>
                        </p>
                        <p>
                        <font>Podczas naszego pobytu w obozie
                        ten<font> chory męż</font>czyzna
                        <font>mieszkał </font>bardzo blisko
                        naszego pola namiotowego i<font>
                        wolontariusze nosili mu pożywi</font>e<font>nie,
                        siedzieli i rozmawiali z nim. Początkowo chciał położyć kres swojemu
                        życiu z powodu upokorzenia i zniewag, których doznał, ale
                        przyjęcie w obozie medycznym było dla niego nowym doświa</font>d<font>czeniem.
                        Poczuł się odrobinkę szczęśliwszy, podzielił się przeżyciami o tym
                        jak był pod presją całej wsi a nawet swojego syna i synowej, którzy
                        opuścili go. </font></font><strong><b><font>Teraz
                        nagle od<font>nalazł nadzieję i
                        mógł stawić czoło wyzwaniu, jakim jest ta choroba</font></font></b></strong><font>.</font></p>
                        <p>
                        <font><font>Rozmawialiśmy
                        z nim o ośrodku dla trędowatych Matki Teresy i o tym, z jaką</font>
                        <font>dumą trędowaci zajmują się
                        tam rzemiosłem</font>. Powiedzieli<font>śmy
                        mu również o naszym Swamim i Jego sł</font>ynnym powiedzeniu:
                        </font><em><i><font><font>‘dlaczego
                        się lękasz, gdy Ja tu jestem’</font></font></i></em><font>,
                        jak <font>również o potędze
                        modlitwy. Dostał zdjęcie Sw</font>amiego, swoje leki i </font><em><i><font>wibhuti</font></i></em><font>.</font></div>
                        <p>
                        <font><font><strong><b><font>Wyjazd
                        9 dni później </font></b></strong></font></font>
                        </p>
                        <p>
                        <font><font>W
                        końcu nadszedł dzień naszego </font>powrotu<font>.
                        Pakowaliśmy się, co smuciło </font> mieszka<font>ń</font>ców
                        wsi. Dla nich te 9 dni obozu<font>
                        medycznego były </font>jak <font>święt</font>o,
                        <font>coś nowego</font>. </font><strong><b><font>Nie
                        mieli <font>dotąd dostępu do
                        lekarzy, więc było</font> to ich <font>nowe
                        doświadczenie. Mog</font>li <font>rozmawiać
                        </font>z nami i zobaczyli<font>
                        medycynę od</font> nowej strony – troski i <font>miłości</font>.<font>
                        Chociaż za darmo, ale bez uszczerbku dla jakości.</font></font></b></strong></p>
                        <p>
                        <font>Pakowanie pr<font>awie
                        zostało zakończone a wolontariusze i mieszkańcy wsi pomagali nam
                        znosić bagaż</font>e z gór <font>na
                        drogę, gdzie czekał autobus i samochód ciężarowy. Pewna para
                        podeszła do mnie i zapytała, czy mógłbym poświęć im kilka
                        minut.</font></font></div>
                        <p>
                        <font><font><strong><b><font>Ponowne
                        połączenie rodziny </font></b></strong></font></font>
                        </p>
                        <p>
                        <font><font>Zaczęliśmy
                        rozmawiać. Byłem zaskoczony, gdy dowiedziałem się, że byli </font>to
                        syn i synowa tr<font>ę</font>dowatego.
                        <font>Mieli łzy w oczach</font> a
                        syn <font>z wielką trudnością
                        powiedział: </font></font><em><b><font><font>“Doktorze,
                        żyłem w ignorancji i w strachu przed kilkoma mie</font>szka<font>ńcami
                        ze wsi, którzy powiedzieli mi, że jeśli będę żył z chorym
                        ojcem, nie będą rozmawiać ze mną ani zapraszać na lokalne imprezy.
                        Ale wasz zespół otworzył </font>nam <font>oczy.
                        Proszę zaprowadzić nas</font> do ojca.”</font></b></em></p>
                        <p><font>Nie
                        mogliśmy uwierzyć w to co usłyszeliśmy. Swami</font> mówi:</font><em><i><font>
                        “Rób to co nale<font>ży,
                        Ja zajmę się resztą.”</font></font></i></em><font><font>
                        Co za transformacją!!! </font>M<font>artwiliśmy
                        się, co się stanie z chorym starcem, gdy w</font>yjedziemy. Ale Bóg
                        rozwi<font>ał nasze </font>obawy.</font></div>
                        <p>
                        <font><font><strong><b><font>Pierwsze
                        doświadczenie Miłości Boga </font></b></strong></font></font>
                        </p>
                        <p>
                        <strong><b><font><font>Był
                        to niezapomniany widok syna trzymającego ojca za rękę.</font></font></b></strong><font><font>
                        Ojciec płakał, syn płakał i wszyscy mieli oczy pełne łez radości!
                        Star</font>y <font>człowiek nagle
                        obrócił się i powiedział: </font></font><em><i><font>“<b>S</b></font></i></em><strong><b><i><font><font>łyszałem
                        o Bogu ale to jest pierwszy raz, kiedy doświadczyłem Jego Łaski i
                        Miłoś</font>ci - poprzez was</font></i></b></strong><em><i><font>.
                        Niech was Bóg <font>błogosławi”.</font></font></i></em></p>
                        <p><font>Mogliśmy
                        zbadać wiele osób i dać tysiące recept ale </font>to
                        uleczenie <font>stanowiło
                        </font>podsumowanie nauk Swamiego. <strong><b>Służcie
                        biednym, tak jak służy się Panu. W każdym postrzegajcie Boga,
                        wtedy nie będziecie mieć
                        zahamowań a Miłość
                        będzie płynąć od Swamiego poprzez was.</b></strong></font><font>
                        Sathya Sai Baba<font> oświadczył,
                        że jest ‘uzdrawiającym </font>pierwiastkiem we wszystkich
                        lekarzach. </font><em><i><font>Waidjo
                        Narajana Hari</font></i></em><font>’.</font></div><br>
                    
                        <p class="text-right my-5"
                        [Z <i>Heart to Heart</i> Nr 10/2005 tłum.
                        E.G. i J.R., kor. KMB; 2005.11.06]</p>
                        <p style="margin-bottom: 0cm" lang="pl-PL">
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Transformacja
                    podczas obozu medycznego</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>