<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Rozmowy z synem radży Venkatagiri</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Rozmowy z synem radży Venkatagiri</h2>

<table align="CENTER"><tbody><tr><td align="center">
<font style="font-size: 26pt" size="4"><b>
</b></td></tr></tbody></table>
<br><br>


<p style="margin-right: -0.07cm; text-indent: 0.74cm; margin-bottom: 0cm">
<i>Venkatagiri
przez wieki była siedzibą królewskiego rodu oddanego
wspieraniu, ochronie i szerzeniu </i>dharmy<i>. Ileż to świątyń
zbudowano, odnowiono i utrzymywano dzięki jego hojności! Trudno
zliczyć ilu dotąd wedyjskim </i>panditom<i> (uczonym w pismach)
patronowała ta królewska rodzina i ile książek religijnych
wydano przy jej wsparciu, by dotrzeć do mas. Zauważmy, że nawet
obecnie rodzina ta żywo interesuje się dobrem świątyń i </i>math
<i>(zakonów) mimo, że ich kraj i pozycję gruntownie zmieniły
polityczne zawieruchy.</i>
</p><div style="margin-right: -0.07cm; text-indent: 0.74cm; margin-bottom: 0cm" align="RIGHT">
		­―
<span>Bhagavan Baba (18 lutego 1964 r.)</span>	&nbsp; &nbsp;	</div>
<p>
<br>
</p>
<p>
Do około pięćdziesięciu
lat temu Venkatagiri było księstwem. Miejscowość o tej nazwie
znajduje się około stu kilometrów na północ od Chennai
(Madrasu). Po uzyskaniu przez Indie niepodległości (1947), wszystkie
księstwa z kolonii brytyjskiej zostały włączone do Indii bądź
Pakistanu, w zależności od położenia i składu demograficznego.
</p><p>
Radża (właśc. radźa czyli
król lub książę) Venkatagiri był jednym z pierwszych
wielbicieli Baby. Był ciekawą mieszanką człowieka Wschodu i Zachodu.
Wykształcenie zdobył w Anglii, obracał się w międzynarodowych
towarzystwach, polował na grubą zwierzynę i grywał w polo. Wyróżniał
się osobowością, zachowywał się jak prawdziwy książę a mówił
po angielsku tak jak angielski dżentelmen. Niemniej, w sprawach
religii był ortodoksyjnym Hindusem. Jako człowiek głęboko religijny,
żarliwie czcił Pana Ramę. Po raz pierwszy zobaczył Swamiego, gdy
Bhagawan dopiero co przestał być nastolatkiem. Wystarczyło jedno
spojrzenie, by radża był przekonany, że oto ponownie przyszedł jego
drogi Pan Rama. Od tego dnia dla radży Rama stał się Sairamą.</div>

	Swami często wyjeżdżał
do Venkatagiri i pozostawał tam przez długie okresy. Tamtejsze
otoczenie było sprzyjające — liczni wedyjscy uczeni i miłośnicy
muzyki. Nawiasem mówiąc, sam Swami dawał prywatne koncerty!
Gdy nadchodził czas na powrót Swamiego, radża zwykł kłaść się
na drodze, gdzie Swami przejeżdżał w samochodzie. Drogi nie były
brukowane, więc samochód wzbijał tumany kurzu. Oddany radża
chciał dosłownie kąpać się w tym świętym kurzu; tak głęboko uwielbiał
Babę! Aby zapewnić, że kurz pochodził wyłącznie od pojazdu Swamiego,
radża zabraniał wszystkim innym pojazdom przejeżdżać tą drogą.</div>

	To radża w tamtych
czasach w Puttaparthi zwykle organizował obchody świąt i załatwiał
wszystkie niezbędne sprawy. Swami często z nostalgią wspomina radżę
opisując go jako lojalnego wielbiciela, ustępującego jedynie
Hanumanowi — jest to nadzwyczajna pochwała, zważywszy że
pochodzi od samego Bhagawana.</div>

	Poniżej
przedstawiamy wyjątki z długiej rozmowy z młodszym synem radży, VGK
Rachandrą (<b>VGK</b>), zachowanej w archiwach Radio Sai. Rozmówcą
syna radży jest Prof. G. Venkataraman (<b>GV</b>).</div>
<p>
<br>
</p>
<p><b>GV:
</b>Sai Ram i witaj w naszym studio. Powiedz, proszę, parę słów
o swoim życiu.</p>
<p><b>VGK:
</b>Mój ojciec był ostatnim radżą w Venkatagiri. Po zniesieniu
księstw nikt inny nie był koronowany, jednak mój starszy brat
dalej nosi ten tytuł.</p>
<p><b>GV:
</b>Jak się nazywa twój brat?</p>
<p><b>VGK:
</b>To długie nazwisko, ale powiem wam jakie ma inicjały: VVVRK
Rachandra. Rachandra to dla nas wszystkich wspólne nazwisko.
Ja nazywam się VGK Rachandra — Gopala Krishna Rachandra. Mój
ojciec dowiedział się o Swamim w 1948 r. Mieliśmy wtedy bardzo wielki
bungalow w Bangalore na 21 akrach (ok. 8,5 ha) za pałacem maharadży
Majsuru (Mysore), a Swami często mieszkał w tamtym domu.</p>
<p><br>
</p>
<p><b>Pierwsze
spotkanie króla Venkatagiri ze Swamim</b></p>
<p><b>GV:
</b>Jak twój ojciec dowiedział się o Swamim w owym 1948 r.?</p>
<p><b>VGK:
</b>Jeden z krewnych powiedział mu, że wielki <i>mahatma</i> mieszka
w Puttaparthi. W tym akurat czasie Swami przebywał w Bangalore w domu
Sakammy.</p>
<p>Mój
ojciec był wielkim <i>bhaktą</i> Ramy. Moja babka zmarła w 1947 r., a
Swami odwiedził Venkatagiri po raz pierwszy w 1950 r. Ojciec poprosił
Swamiego, aby pokazał mu moją babkę. Miała na imię Ratnamma. Swami
powiedział: „Chodź, Ratnamma.” Ona wyszła ze ściany nie
jak senna zjawa czy spowita mgłą, lecz z krwi i kości. Wyglądała tak
jak za życia. Dotknęliśmy jej stóp. Do ojca powiedziała: „On
jest Śri Ramą, którego czcisz, ale ma cechy Śri Kriszny.
Będzie próbował cię zwieść, by zobaczyć czy odejdziesz z Jego
owczarni. Bądź więc ostrożny; nie opuszczaj Go.” Po kilku
minutach powoli wróciła tam, skąd przyszła. Działo się to w
sierpniu 1950 r. podczas pierwszej wizyty Swamiego w Venkatagiri.</p>
<p><b>GV:
</b>Spotkaliście się z Nim dwa lata wcześniej w domu Sakammy.
Opowiedz nam o tym spotkaniu.</p>
<p><b>VGK:
</b>Byliśmy tam wraz z 50–100 innymi ludźmi oczekującymi na
zewnątrz. Ktoś wszedł do środka i powiedział, że przyjechał radża
Venkatagiri. Swami odrzekł: „I co, czy on ma poroże na głowie?
Niech czeka, przyjmę go później.” Nie przyjmował nas
przez pięć dni, chociaż czekaliśmy od rana do wieczora. Nasze służące
otrzymały audiencję przed nami! Niechybnie wszystko to było
wystawianiem nas na próbę. Mój ojciec był bardzo
religijny i głęboko wierzący. Czekaliśmy więc i wreszcie, piątego
dnia zostaliśmy wezwani całą rodziną. Pierwszy cud, jakiego byliśmy
świadkami, dotyczył mnie. Miałem egzemę z wydzieliną płynu o
nieprzyjemnym zapachu. Pierwszą rzeczą, jaką Swami zrobił, było
dotykanie na całej powierzchni schorzenia i zdarzył się cud nad
cudami: egzemy do dziś nie ma. Zrobił to, chociaż nikt Go o nic
takiego nie prosił.</p>
<p>	W
1950 r. mój ojciec pojechał do Puttaparthi, a podczas tego
wyjazdu otworzył szkołę średnią w Bukkapatnam. Był to pierwszy
przypadek wizyty kogokolwiek z naszej rodziny w Puttaparthi.</p>
<p><b>GV:
</b>Jak to się stało, że twój ojciec otworzył tę szkołę w
Bukkapatnam?</p>
<p><b>VGK:
</b>Swami go o to poprosił, gdy spotkaliśmy się z nim w Bangalore. W
1949 r. latem mieszkaliśmy w naszym domu w Bangalore. Graliśmy w
krykieta, a ojciec był świetnym graczem w polo.</p>
<p><br>
</p>
<p><b>Swami
i krykiet</b></p>
<p><b>GV:
</b>Skoro mowa o krykiecie, G.V. Subba Rao wspominał kiedyś o
zdarzeniu, gdy ojciec kazał ci zajmować się Swamim. W tym czasie w
Madrasie odbywał się mecz krykieta o trofeum Ranjit, a ty bardzo
chciałeś wysłuchać relacji na żywo w radiu.</p>
<p><b>VGK:
</b>Nie o to trofeum, lecz był to mecz między Indiami i Indiami
Zachodnimi [Antyle i Barbados na Atlantyku].</p>
<p><b>GV:
</b>Subba Rao mówił, że Swami na żywo komentował ten mecz dla
ciebie.</p>
<p><b>VGK:
</b>Tak, calutki mecz, tak jakby go oglądał! Na przykład, jak Hazare
czuł się, gdy zranił się w kostkę, upadając przy próbie
złapania piłki. 
</p>
<p><b>GV:
</b>Oglądałem ten mecz — Everton Weekes wyszli na 90<!-- Nie wiem co to znaczy w tej grze ‘run out on 90’. Może przegrali 90-punktami? Może dokonali wyczynu na 90-kę. Trzebaby dorwać kogoś, kto zna się na krykiecie.
 -->.
Ale wróćmy do pierwszej wizyty twojego ojca w Puttaparthi.</p>
<p><br>
</p>

<table align="left"><tbody><tr><td align="center"><img src="../../../img/Venkaragiri-Raja-Swami.jpg"> &nbsp;
<!--br--><table align="center">
<tbody><tr><td><font size="-1" face="arial" color="blue">Sathya Sai Baba z królem Venkatagiri</td></tr></tbody></table><!--br-->
</td></tr></tbody></table>

<p><b>Podróż
Swamiego do Venkatagiri</b></p>
<p><b>VGK:
</b>Podczas tego pobytu ojciec zaprosił Swamiego do Venkatagiri.
Swami zgodził się i dodał: „Przyślij kogoś to pojadę.” W
tamtym czasie Swami nie miał samochodu. Ojciec przystał na to i
uzgodniono termin na zaraz po święcie Krisznasztami [Urodziny
Kriszny]. W tamtym okresie byłem ateistą.</p>
<p><b>GV:
</b>Mój Boże, mając takiego ojca?! Pozostałeś ateistą nawet po
tamtym cudownym wyleczeniu?</p>
<p><b>VGK:
</b>Tak, podchodziłem do tego wszystkiego sceptycznie. Wówczas
nie zrobiło to na mnie wrażenia. Ojciec powiedział: „Jedź i
przywieź Swamiego.” Ja odparłem: „Ojcze, nie chcę jechać.
Poślij kogoś innego.” Tak więc, poproszono o to jednego z moich
krewnych, który był dyrektorem ongiś mojej szkoły w
Venkatagiri. Zdecydowano, że samochód wyruszy z Venkatagiri
rano o godz. 5:30. W nocy jednak we śnie ukazał mi się Swami i dał mi
owoce mango. Po zjedzeniu mango strasznie zapałałem chęcią
natychmiastowego wyruszenia do Puttaparthi. Poszedłem więc do ojca,
zbudziłem go i powiedziałem mu, że natychmiast wyjeżdżam. Bardzo się
z tego ucieszył. Ojciec poinstruował mnie, abym przy przejeżdżaniu
przez ważniejsze miasta, takie jak Madanapalli czy Kadari, wysyłał
telegram. Wyjaśnił: „W oparciu o twoje informacje przygotuję na
czas <i>purnakumbhę</i> [ofiara w przystrojonym naczyniu] i słonie na
przyjęcie Swamiego w procesji.” Zgodziłem się zrobić tak, jak
sobie życzył.</p>
<p>Gdy
dotarłem do Puttaparthi, celebrowano tam Krisznasztami a Swami
przebywał w starym Mandirze. Tam się udałem. Nagle Swami stał się
błękitny. Nie tylko w moich oczach, ale widziało to także wielu
innych. Swami był błękitny i miał <i>namam</i> [znaki Wisznu
namalowane na czole] oraz pawie pióra we włosach. Potem
śpiewaliśmy <i>bhadźany</i>, po których poszliśmy spać.</p>
<p>	W
drogę wyruszyliśmy wcześnie rano. W każdym mieście, przez które
przejeżdżaliśmy, mówiłem Swamiemu, że mam wysłać telegram.
Swami odpowiadał: „Nie jest to potrzebne; czym się przejmujesz?
Ja tutaj jestem.” Tak więc jechaliśmy dalej bez wysyłania
telegramu. W jednym miejscu zatrzymaliśmy się na lunch. Mieliśmy ze
sobą kilka pustych naczyń. Swami dotykał je, a one wypełniały się
słodkościami i innymi artykułami. Najedliśmy się do syta i ruszyliśmy
w dalszą podróż. Gdy dojeżdżaliśmy do Tirupathi, byłem już
mocno roztrzęsiony, gdyż miały być poczynione przygotowania na
uroczyste przyjęcie Swamiego. Ale gdy wjechaliśmy do Venkatagiri,
okazało się, że wszystko było na swoim miejscu: <i>purnakumbha</i>,
słonie i akcesoria wraz ze służącymi w turbanach! Swami wysiadł z
samochodu i w procesji zabraliśmy go do pałacu, gdzie Swami poszedł
do swojego pokoju na odpoczynek. Nikt inny do dziś nie mieszka w tym
pokoju — pozostaje Swamiego. Zanim Swami zeszedł, wyznałem
ojcu, że nie wysłałem żadnego telegramu. On na to: „Zgłupiałeś?
Powiadasz, że nie wysłałeś, a przecież tutaj są.” I pokazał mi
plik telegramów: „Przejeżdżamy przez Madanapalli,”
„Mijamy Kadari” i tak dalej — telegramy ze
wszystkich miast, przez które przejeżdżaliśmy! Później
ojciec zaprosił naczelnika poczty i spytał, czy otrzymał jakieś
telegramy. On odrzekł: „Nie, proszę pana, nie otrzymaliśmy
znikąd żadnego telegramu.” „Więc czym są te telegramy?”
— dopytywał się ojciec. „Proszę pana, niewątpliwie są one
na urzędowych formularzach, ale nie ma na nich stempla Urzędu
Pocztowego” — powiedział naczelnik. Nie było stempla,
gdyż przyszły wprost od Swamiego!</p>
<p><br>
</p>
<p><b>Pobyt
Swamiego w Venkatagiri</b></p>
<p><b>GV:
</b>Jak długo Swami przebywał w Venkatagiri, gdy przyjechał tam po
raz pierwszy?</p>
<p><b>VGK:
</b>Piętnaście dni. Prowadziliśmy zapiski wszystkiego, co robił w
formie dziennika.</p>
<p><b>GV:
</b>Co więc robił w Venkatagiri?</p>
<p><b>VGK:
</b>Niewiele było imprez publicznych. Głównie rozmawialiśmy w
gronie rodzinym — raczej nie o filozofii; od czasu do czasu na
temat <i>Ramajany</i>. Najczęściej zabawialiśmy się. Na przykład,
nagle On pyta: „Jakiego koloru jest ubranie, które mam
na sobie?” W tamtym okresie nosił odzienie rozmaitego koloru.
„Swami, masz niebieskie ubranie.” „<i>Dunnapota</i>
(bawół), powinieneś odwiedzić okulistę. Mówisz, że to
niebieskie, gdy jest czerwone.” Przyglądam się ponownie i
widzę, że jest czerwone. Często bywał wyjątkowo figlarny. „Czego
chcecie?” — pytał. Dawał, cokolwiek sobie zażyczyliśmy.
Pewnego dnia siedzieliśmy wszyscy razem — kuzyn, brat itd. —
a On pyta: „Czego chcecie?” Ja mówię: „Chcę
mango” (a był to grudzień, nie pora na mango). Ktoś chciał
'gruszkę', ktoś inny 'morelę', które w Venkatagiri są
niedostępne. Swami odpowiada: „Tego wszystkiego chcecie? Tu w
pałacu jest niewielkie drzewo. Idźcie i z niego je sobie zerwijcie.”
Stwierdziliśmy, że wszystkie te różnorodne owoce, o które
prosiliśmy, tam wiszą — a to drzewo nie było nawet owocowe!
Swami w ogóle nie zbliżał się do drzewa. W całym życiu nie
jadłem tak smacznego mango, jak tamto.</p>
<p>	Któregoś
wieczora On leżał na łóżku, a ja masowałem Mu stopy. Miałem
szczęście, że dostąpiłem tego przywileju. Nie wiem jakie dobro
musiałem uczynić w poprzednich wcieleniach, ale na pewno nie w tym
życiu. Spytałem Go: „Swami, jaka jest różnica między
Tobą a innymi świętymi, takimi jak Ramana Maharshi, Ramakrishna
Paramahamsa czy Chaitanya Mahaprabhu?” Swami odpowiedział: „Oni
wznieśli się do poziomu Boga własnym wysiłkiem, Ja natomiast zszedłem
z poziomu Boga wraz z nieskończonymi mocami, aby odkupić ludzkość.”
Są to dokładnie te słowa, które wypowiedział w języku telugu.</p>
<p>	Bywało,
że Swami w nocy nagle wstawał, śmiał się i gestykulował. Raz spytałem
Go, co robi. „Rozmawiam z aniołami — odpowiedział. —
Nie widzisz?” „Jak mam widzieć, Swami? Daj mi specjalne
oczy, bym mógł widzieć.” „Na ten etap jeszcze nie
pora. Gdybyś ich teraz zobaczył, straciłbyś wzrok.”</p>
<p><b>GV:
</b>Mówiłeś, że Swami odwiedzał was wiele razy. Czy charakter
tych odwiedzin jakoś się zmieniał?</p>
<p><b>VGK:
</b>Bardzo. Co roku widać było zmianę. Mawiał do nas, że „Jest
to okres 'zabawowych' <i>lil</i>. Następnie przychodzi 'nauczanie,' a
potem 'służba.' Obecnie, w pierwszych kilku latach, doświadczacie
etapu figli, <i>Lil</i>.”</p>
<p><br>
</p>
<p><b>Publiczne
spotkanie z ascetami w Venkatagiri</b></p>
<p><b>GV:
</b>Jak długo trwały te <i>Lile</i>?</p>
<p><b>VGK:
</b>Jakieś 4–5 lat, do połowy lat 50-tych. Później,
myślę że w roku 1956, w Venkatagiri odbyła się pierwsza Konferencja
Boskiego Życia (Divine Life Conference Swamiego Shivanandy). Z <i>aśramu</i>
Shivanandy przyjechali wszyscy ludzie. Swamiego uważano za małego
chłopca, analfabetę, a dla 90% ludzi był magikiem.</p>
<p>	Ojciec
załatwił wielki palankin i chciał, by członkowie rodziny nieśli w nim
Swamiego. Swami powiedział: „Nie, nie chcę wsiadać do
palankinu. Pójdę piechotą z tymi <i>sannjasinami</i>.”
Tak więc, Swami szedł z pałacu do ratusza, gdzie odbywała się
konferencja — była to odległość około jednego furlonga [200 m].
To było pierwsze dla nich wielkie zaskoczenie. Dalej, na sali
przygotowano dla Swamiego wielki złoty tron, ale On usiadł razem z
wszystkimi innymi ludźmi. Ci ludzie myśleli, że Swami nie zna się na
filozofii wedyjskiej, dlatego rozmawiali tylko między sobą, ignorując
Go. Nigdy nie zwrócili się do Niego per Bhagawan czy choćby
Sai Baba. Swami śmiał się, lecz ja byłem wściekły. Przyszła kolej na
Swamiego, więc zaczął mówić. Wszyscy wstali i później
mówili: „Przybyliśmy tu, by okazać swoją wyższość, a to
On nas pokonał” i oddawali Mu pokłony. Było to pierwsze
spotkanie z tymi <i>sannjasinami</i>.</p>
<p><br>
</p>
<p><b>Jak
radża organizował święta w Puttaparthi</b></p>
<p><b>GV:
</b>Kiedyś słyszałem, jak Swami mówił, że dawniej wszystkie
święta w Puttaparthi organizował radża z Venkatagiri, gdyż tu nie
było nikogo, kto by to zrobił i że przywoził wszystkich z Venkatagiri
i razem przygotowywali obchody. Czy mógłbyś nam o tym coś
powiedzieć?</p>
<p><b>VGK:
</b>Przywoziliśmy <i>purohitów</i> [rodzinnych kapłanów]
i ludzi do przygotowania posiłków. Podczas Daśary Swami karmił
biednych. Członkowie naszej rodziny nieśli Swamiego w palankinie z
Mandiru. Gdy wracaliśmy było już między czwartą i piątą godziną po
południu. W tamtych czasach we wsi było wielu wrogo nastawionych
ludzi. Siadywali na krytych strzechą dachach i palili. Swami tylko
spojrzał i wszyscy znikali. Pojawiało się <i>wibhuti</i>, <i>kumkum </i>z
<i>kurkumy</i> i inne rozmaite rzeczy — wyglądał wtedy naprawdę
srogo. Jeden z naszych służących, który był bardzo słabej
postury, zdołał odrzucić bawoła, którego wpędzono, by zakłócić
procesję. Był to jeden z największych cudów, jaki widziałem,
gdyż nikt z nas wszystkich nie zdołałby zepchnąć tego bawoła, lecz
Swami dał mu aż tyle siły. Tego rodzaju wrogość panowała wtedy w
Puttaparthi.</p>
<p><b>GV:
</b>Czy masz pojęcie, skąd u ludzi brała się taka wrogość?</p>
<p><b>VGK:
</b>Myśleli, że jest taki jak oni; wszak tu się urodził. Czemu więc
tyle radżów, maharadżów, inteligencji i naukowców
do Niego przyjeżdża? Pytałem o to Swamiego. „<i>Doszana
bhuszanalu samana tisko</i>,” potępienie i pochwałę traktuj
jednakowo; bądź na nie obojętny — mówił i śmiał się.</p>
<p><b>GV:
</b>Powiadasz, że kiedyś ludzie byli wrodzy. Ale dzisiaj nie są. Skąd
ta zmiana?</p>
<p><b>VGK:
</b>To z powodu projektów dostarczania wody, szpitali i szkół.
Swami także żywił ludzi podczas klęsk głodowych.</p>
<p><b>GV:
</b>Kiedy była ostatnia wizyta Swamiego w Venkatagiri?</p>
<p><b>VGK:
</b>W lutym 1970 r.</p>
<p><b>GV:
</b>Czy był jakiś powód, dla którego później
przestał tam jeździć?</p>
<p><b>VGK:
</b>Mój ojciec umarł pierwszego czerwca 1970 r. Po tym Swami
już więcej nie przyjechał.</p>
<p><br>
</p>
<p><b>Swami
śpiewa</b></p>
<p>W
1951 r. Swami zapowiedział, że przyjedzie, wszyscy rozpoczęliśmy więc
przygotowania. Ojciec otrzymał telegram od jednej z najznamienitszych
artystek tamtego okresu — Nagaratnammy z Bangalore. Gdy
przyjechała, spytano ją jak się dowiedziała o Sai Babie? Oznajmiła,
że we śnie ukazał się jej Tjagaradża, muzykujący święty i wielki
wielbiciel Ramy, i powiedział jej aby skorzystała z <i>darśanu</i>
Swamiego. Dlatego, szukając Swamiego, przyjechała do Venkatagiri.
Miała wtedy około 80 lat. Zaraz jak zobaczyła Swamiego, zaśpiewała
pieśń „<i>Kannugontini Śri Rama</i>” — tę samą,
którą Tjagaradża śpiewał, gdy odnalazł w rzece straconą figurę
Ramy. Następnie śpiewała „<i>Ra Ra Ma intiki daka</i>”,
potem „<i>Nanu palimpa nadaći oćitiwo</i>” w różnych
<i>ragach</i> [rytmach]. A potem, myślę że dla sprawdzenia Swamiego,
prosiła o śpiewanie bardzo rzadkich <i>kriti</i> (rodzaj pieśni),
które nie cieszyły się popularnością — coś w stylu
„<i>Raghuwara aprameja</i>” w <i>radze kambodźi</i>.
Wtedy oboje śpiewali przez blisko dwie i pół godziny. Ona
prosiła Swamiego o zaśpiewanie, a potem przyłączała się, następnie
Swami prosił ją o zaśpiewanie czegoś i sam przyłączał się. W końcu
Swami przestał śpiewać i spytał ją, czego pragnie. Odpowiedziała, że
ma tylko dwa pragnienia: jedno, by nie cierpiała przed śmiercią, a
drugie, by w tym czasie wypowiadała 'Sai Ram.' Dokładnie tak się
stało. Osoba opiekująca się nią powiedziała nam, że odeszła w pokoju
recytując 'Sai Ram.'</p>
<p>	Swami
zwykł przychodzić na <i>bhadźany</i> do mojego domu w Madrasie, w
pobliżu 'Thousand Lights', położonego na 10-akrowej [4 ha] działce.
Gotowaliśmy tam coś do jedzenia i śpiewaliśmy, a Swami udzielał
audiencji. Na ogół przyjeżdżał do Madrasu w następny dzień po
swoich Urodzinach i zostawał aż do święta Pongal (w połowie stycznia)
— przez półtora miesiąca, całkowicie samodzielnie.
Jeszcze przechowuję list, w którym pisze: „<i>Bangaru</i>
[złotko], jestem tutaj sam. Oprócz stróża jest tu tylko
kilka kobiet, które gotują. Jest nudno; przyjedź więc i
zabierz Mnie do Venkatagiri.” Wziąłem samochód i
przywiozłem Go do Venkatagiri.</p>
<p><br>
</p>
<p style="margin-left: 1.27cm; margin-right: 1.38cm; text-indent: 0.64cm; margin-bottom: 0cm">
Drogi Czytelniku! W
rzeczywistości jest to bardzo długi wywiad przepełniony fascynującymi
opowieściami. Mamy nadzieję opublikować inne wyjątki z tej rozmowy
później, przy stosownej okazji.</p>
<p class="text-center my-5"><b>Cud w Venkatagiri</b></div>


<p>
Howard Murphet (1906 - 2004), autor książki <i>Man of Miracles</i> (Człowiek cudów), opisuje cudowne zdarzenie, jakie miało miejsce podczas odwiedzin Swamiego w Venkatagiri. W tamtym czasie Baba miał dwadzieścia cztery lata. Oto co pisał Murphet:
<figure class="float-left">
    <img src="../../../img/Venkatagiri-SwamiWithRama.jpg" alt="">
    <figcaption></figcaption>
</figure>
</p><p>
	Grupa dwudziestu do trzydziestu ludzi opuściła pałac radży kawalkadą samochodów, udając się na przejażdżkę po okolicy. Baba, który nigdy przedtem nie był w tym rejonie, poprosił radżę o zatrzymanie się przy pierwszym napotkanym piaszczystym miejscu. Kilka mil dalej znaleźli się przy suchym piaszczystym korycie rzeki. Tutaj się zatrzymali i wszyscy rozsiedli się na piasku przy młodym Swamim.
</p><p>	Baba mówił przez jakiś czas, a potem podwinął rękaw do łokcia i wsunął rękę głęboko w piasek przed sobą. Następnie wyciągnął rękę z piasku i wtedy nastąpił wielki rozbłysk błękitnego światła, które ogarnęło krąg o promieniu około dziesięciu stóp [3 m]. Następnie wszyscy zobaczyli, że Baba trzyma w ręce jakiś przedmiot o wysokości około ośmiu cali [20 cm]. Okazało się, że jest to statua Pana Ramy i Jego małżonki Sity.

</p></td></tr></tbody></table>
<p class="text-right my-5">

[Z
<i><a href="http://www.radiosai.org/Journals/" rel="no-follow">Heart to Heart</a></i> 11/2005 tłum. KMB; 2005.11.21—12.11] &nbsp; &nbsp;

            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Rozmowy z synem radży Venkatagiri</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>