<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Wieczna radość ze służby</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Wieczna radość ze służby</h2>

<p> </span>Od Bhagawana płynie Mądrość
wszechświata. Dostrajanie się do „Ścieżki Pana” jest błogim doświadczeniem,
którym cieszyć się mogą wszyscy. Ze stałym brzmieniem dźwięku Om szukaj Jego
lekcji, sięgaj wysoko i zbieraj dojrzewające owoce z gałęzi.</p>

<p> </span>Sai Baba ciągle nam powtarzał, że „Służba
innym jest przysługą oddawaną samemu sobie.” Wszyscy odczuwają wzbieranie fal
błogości po nawet najmniejszym akcie dobra dokonanego wobec kogoś innego.
Medytując 23 stycznia 1966 r. i czując głęboką harmonię ze Śri Sathya Sai Babą,
poprosiłem Go o ponowne wyjawienie sekretu wewnętrznego szczęścia. Po kilku
chwilach pisałem słowa płynące od Niego przez Wszechświat.</p>

<p> </span>„Popatrz na tamto wysokie drzewo;
jedna gałąź ma młode delikatne liście na najbardziej wysuniętych końcach.
Popatrz też na kwiaty, które w sposób pełen miłości ślą uśmiechy wszystkim
przechodzącym dołem tamtą drogą. Kwiaty w swojej — jak powiedzielibyśmy —
'świeckiej ignorancji' bez odpłaty wykonują piękną służbę. Kwiaty szczególnie
zadbały o swoją kolorystykę i delikatność. Patrz! Oddają nawet łagodny słodki
zapach. Oddają każdemu ptakowi, pszczole, owadowi lub człowiekowi perfumy
naturalnie słodsze i przewyższające egzotyką wszystkie te dostępne we
flakonach. Nawet mrówki z tego odległego wzgórza zostały zaproszone do
rozkoszowania się słodkim nektarem radosnych kwiatów otwierających się w
promieniach słońca.</p>

<p> </span>Ktoś mógłby powiedzieć, że kwiaty te
niewątpliwie nie mają pojęcia o Życiu, bo kto słyszał o żywej istocie, która
wkłada tyle wysiłku na samo tylko uśmiechanie się przez cały dzień do każdego,
kto spojrzy, albo rozdawanie za darmo miodu z miękkiego kielicha, albo
kłopotanie się zamykaniem kiosku na każdą noc poprzez składanie delikatnych
płatków, po to tylko, by chronić darmowe dobra na następny dzień rozdawania i
przekonać się szybko, że młodym jeszcze płatkom zaczyna brakować energii na
trzymanie się. A potem oglądać jak jeden po drugim płynnie spadają na ścieżkę,
gdzie są deptane przez tych samych ludzi, którzy wcześniej patrzyli na
wszystkie te uśmiechy i przez kilka sekund cieszyli się tą lotną słodyczą. Albo
oglądać jak zapas miodu przygotowanego z taką miłością zmniejsza się aż do
całkowitego wyczerpania w miarę jak zbierają go pszczoły i mrówki oraz
ćwierkające ptaki.</p>

<p> </span>Tak, Charles, masz tu naturalny
przykład dawania do samego końca. Tym kwiatom zostało zabrane wszystko,
włącznie z samym życiem. A jaki z tego pożytek, jaka korzyść?</p>

<p> </span>Boskość umieściła w świecie to
drzewo z jego zielonymi liśćmi i słodkim kwieciem dla jednego tylko celu: by
służyło. Otrzymało pewien czas życia. W istocie drzewo w oczach człowieka ma
długie życie, gdyż rzadko widzi się jakieś drzewo umierające ze starości.
Drzewo nie zna pojęcia ‘starość.’ Może uschnąć z powodu zaniedbania,
zanieczyszczenia powietrza lub gleby, a nawet z nadmiaru składników odżywczych.
Weź na przykład drzewo o płytkim ukorzenieniu. Gdy przychodzą łagodne deszcze,
ono bujnie się rozwija. Daj mu jednak zbyt dużo wody, a grunt utrzymujący
korzenie zmięknie. Korzenie w obecności nadmiaru wody nie są w stanie trzymać
się piasku czy żwiru albo ziemi na polu lub przy ścieżce.</p>

<p> </span>Tak więc, Charles, wszyscy powinni
wyciągnąć z tego głębokie nauki. Ci, którzy dają i dają, dostępują wiecznej
radości, pokoju i miłości. Otrzymują w darze owoce dobrej gleby, albo raczej –
jak powinniśmy powiedzieć poszukiwaczom prawdy – owoc Nieba. Zawsze można dawać
więcej, gdyż dobroć pomnaża się, nie ma końca; nie ma pojemnika dostatecznie
dużego, by pomieścić dobro, które zaczęło płynąć. SŁUŻ innym, gdyż jest to
dawaniem Mi siebie. Za każdą jednostkę, jaką dajesz, Ja odpłacę ci po trzykroć.
Ba, odpłacę ci dziesięciokrotnie. Wypróbuj Mnie, a przekonasz się. Mówię tym,
którzy znają radość dawania: 'Obejrzyj się za siebie!' Tak, spójrz wstecz i
przyznaj, że za każdym razem, gdy uznawałeś, iż tylko cud mógł cię uratować —
zachować przy życiu, zapełnić spiżarnię, uratować syna, uchronić przed
katastrofą — cud ten rzeczywiście się wydarzył! Boskie przewodnictwo zawsze
jest u boku Dającego. Tak, tych, którzy dają z siebie, będę darzył nieopisaną
radością i błogością. Więcej nawet — poprowadzę ich za rękę tymi płatkami
usłanymi Ścieżkami do Wiecznej radości!</p>

<p> </span>Z drugiej strony, przyglądaj się
sobie zawsze, gdy zaczynasz BRAĆ. Jest w tym nieporównanie mniej radości.
Możesz brać w przypadku czystej potrzeby, ale nigdy nikt nie zyska poprzez
branie. Nie muszę rozwodzić się nad tą sprawą. Złodziej, który bierze, ma na
karku całe siły policji usiłującej wsadzić go do więzienia. Istnie też inna
SIŁA, która dopadnie go o wiele szybciej niż jakakolwiek doczesna siła!
Przekona się, że wszystko automatycznie zwraca się przeciwko niemu, jego
najbliższym i jego własnemu umysłowi. Tylko Boskość wie jak przebaczyć
złodziejowi.</p>

<p> </span>Dalej, mamy myśliwego odbierającego
życie dzikich zwierząt kochających życie. Myśliwy ten musi pilnie baczyć na
każdy swój krok, gdyż wszystkie siły dżungli czy pola kierują się przeciwko
niemu. Nawet stworzenia, na które nie poluje, są świadome, że jest tam ktoś, od
kogo muszą się trzymać z dala. Tak, wszystkie siły kierują się przeciwko
polującemu na życie.</p>

<p> </span>Każdy swój czyn wykonuj w Moim
Imieniu. Każdej osobie przechodzącej w pobliżu twojej drogi posyłaj słodycz
swojego uśmiechu. Rozdawaj za darmo nektar ze swojego pucharu szczęścia,
życzliwości, błogości. Rozdawaj ciepło swojej miłości. Wyciągaj rękę, tak jak
Ja wyciągam Moją do ciebie.</p>

<p> </span>Gdy zobaczysz, że płatki Życia
opadają, przyjmuj, że tak jest, że istotnie te ręce używałeś dla dobra — przez
całe swoje życie. Gdy zda ci się, że widzisz swoje płatki życia spadające na
ścieżkę poniżej, nie smuć się lecz raduj. Radość, którą dawałeś, otrzymałeś po
to, by ją z chęcią wykorzystać dla dobrej służby. Artysta, wykonawca, śpiewak,
który dał godziny radości wielkim i małym widowniom, musi rozumieć, że chwile te
zostały dane innym dla pokrzepienia serc. Talenty nie są dziełem człowieka!
Ciągle muszę podkreślać, że [samą w sobie] służbę należy rozumieć jako pełną
odpłatę za doczesną działalność. Nie oczekuj niczego więcej. Gdy otrzymasz
brawa na bis, zawsze spełniaj te życzenia i raduj się takimi dodatkowymi
chwilami na scenie życia. W Moich oczach wszyscy są artystami i wszyscy są
gwiazdami sceny! Po otrzymaniu poświaty błogości z wykonanej służby Ja z kolei
dam ci Szczęście na całą Wieczność. O co jeszcze mógłbyś prosić?! Jedynie
Dający i jedynie Służący mogą iść tą Ścieżką w Błogości.</p>

<p> </span>Weź, Charles, te słowa i ROZDAJ je.
Każde jest cenne. Żadna perła z morza, żadne złoto z gór, żaden diament z
kopalni nie jest w stanie dać tej radości, jaką otrzymuje się z dawania i służenia
innym!”</p>

<p> </span>Są to słowa płynące przez
Wszechświat w Świetle Boskiego Pana zapisane u Jego Lotosowych Stóp. Wszyscy
mogą dostroić się do tego strumienia Mądrości, gdyż Jego słowa przeznaczone są
dla wszystkich ludzi świata. Słuchaj Jego słodkiego głosu; źródło tego
strumienia nie ma ograniczeń.</p>
<p style="text-align:right">[Artykuł
z <i>Sanathana Sarathi</i>, lipiec 1966; tłum. KMB]</span></p>

</div>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Wieczna radość ze służby</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>