<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Wielka Prawda</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Wielka Prawda</h2>
                <o:p></o:p></span></b></p>

                <p style=""><b><span style=";
">
                            <!--[if !supportEmptyParas]-->
                            <!--[endif]-->
                            <o:p></o:p>
                        </span></b></p>

                <p style=""><b><span style=";
">Śri Sanjay Mahalingam<o:p></o:p></span></b></p>

                <p style=""><b>
                            <!--[if !supportEmptyParas]-->
                            <!--[endif]-->
                            <o:p></o:p>
                        </span></b></p>

                <p style=""><span style="font-family:Arial;">Jest
                        to zapis wystąpienia w boskiej obecności Bhagawana Baby dnia 29 lipca 2005 r.<o:p></o:p></span>
                </p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p>Najukochańszy Bhagawanie, czcigodni starsi, siostry
                        i bracia! Swami rozpoczyna swoje Dyskursy melodyjnymi strofami. Przy jednej z
                        tych wspaniałych okazji (a każdy Dyskurs Bhagawana jest wspaniałym wydarzeniem)
                        Swami zaczął od następującego wiersza:<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p><i>Na
                            hum manuszjo, naća dewa, jakszo;<o:p></o:p></span></i></p>

                <p><i>Na
                            brahman, kszatrija, wajśja, śudra;<o:p></o:p></span></i></p>

                <p><i>Na
                            bramhaćari, na grihi wanastho, bikszur, naćaham.<o:p></o:p></span></i></p>

                <p><i>Satja
                            Bodhaka; Satjam, Śiwam, Sundaram!<o:p></o:p></span></i></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p>Nie
                        jestem człowiekiem, ani aniołem, ani półbogiem;<o:p></o:p></span></p>

                <p>Nie
                        jestem braminem, <i>kszatriją, wajśją</i> ani <i>śudrą</i>;<o:p></o:p></span></p>

                <p>Nie
                        jestem <i>brahmaćarim, grihasthą</i>, pustelnikiem ani żebrakiem.<o:p></o:p></span></p>

                <p>Jestem
                        Nauczycielem Prawdy; jestem Prawdą-dobrem-pięknem!<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p>Jakiej „Prawdy”? Zanim wrócimy do pytania, o jakiej
                        Prawdzie mówi Swami, podzielę się z wami trzema wydarzeniami, które utkwiły mi
                        w pamięci.<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p><b>Wszechwiedza
                            i wszechobecność Sai<o:p></o:p></span></b></p>

                <p>Parę miesięcy temu kilku studentów Bhagawana, którzy
                        obecnie pracują w Delhi, przyjechało po <i>Darśan</i> Bhagawan i zostało
                        pobłogosławionych prywatną audiencją. Jeden z nich powiedział: „Swami, w Delhi
                        nie czuję Twojej Obecności!” Swami odrzekł: „Czy w Delhi czujesz swoją
                        obecność?” Chłopiec odpowiedział: „Tak Swami, czuję swoją obecność, ale nie
                        Twoją!” Wtedy Swami stwierdził: „Twoja obecność jest Moją Obecnością!”<o:p></o:p></span></p>

                <p>Przed kilku miesiącami Bhagawan audiencją
                        pobłogosławił mnie. Swami od niechcenia spytał: „<i>Ha inka emi samaćaram</i>?”
                        (Co nowego?) „Swami, ostatnio odbyły się <i>akhanda bhadźany</i>. Moja siostra,
                        która tutaj przebywa, powiedziała mi, że uczestniczyła w całodobowym śpiewaniu
                        – pełne 24 godziny bez przerwy!” – odpowiedziałem. W rzeczywistości powiedziała
                        mi, że wyszła na dwie godziny, ale pomyślałem, że nie ma co zawracać
                        Bhagawanowi głowy tak nieznaczącymi szczegółami. Tak więc powiedziałem, że
                        przesiedziała 24 godziny. Swami popatrzył na mnie podejrzliwie i powiedział:
                        „24 godziny? Nie, nie, nie. Wyszła na dwie godziny i wróciła.” Potem Bhagawan
                        dodał – zwróćcie uwagę na te sześć słów: „Ja wiem. Ja zawsze bacznie
                        obserwuję.”<o:p></o:p></span></p>

                <p>Trzecie zdarzenie, które przyszło mi do głowy jest
                        związane z tegorocznym wyjazdem do Kodaikanal. Gdy jeden z wielbicieli
                        mimochodem zauważył: „Swami, w Kodaikanal wydajesz się o wiele szczęśliwszy niż
                        w Brindawanie lub Parthi. Zdajesz się być wolny od całego swojego ciężaru;
                        tutaj wyglądasz na znacznie radośniejszego i szczęśliwszego!” Swami natychmiast
                        zareagował, mówiąc: „Nie! Jestem taki sam wszędzie i zawsze!”<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p><b>Jaka
                            Prawda?<o:p></o:p></span></b></p>

                <p>Wróćmy teraz do stwierdzenia Swamiego: ‘<i>Aham
                            Satja Bodhaka</i> – jestem Nauczycielem Prawdy.’ O jakiej Prawdzie mówi
                        Bhagawan?<o:p></o:p></span></p>

                <p>Przypomina mi się piękna historyjka. Wszyscy
                        słyszeliśmy o królu Dźanace, władcy-joginie. Nawiasem mówiąc, jest to
                        najczęściej wzmiankowana postać w naszych <i>śastrach</i> i <i>puranach</i>
                        (starożytnych pismach świętych) jako wielki <i>dźidźńasu</i> (poszukiwacz
                        mądrości). Ten wielki duchowy aspirant zebrał na swoim dworze wszystkich
                        uczonych w pismach z całego królestwa aby nauczyli go Ostatecznej Prawdy. <o:p></o:p></span></p>

                <p>W trakcie dyskusji na zgromadzeniu zjawił się
                        okropnie wyglądający człowiek. Nazywano go Asztawakrą, gdyż ciało miał
                        powykręcane (<i>wakra</i>) w ośmiu (<i>aszta</i>) miejscach. Na jego widok
                        wszyscy uczeni wybuchli śmiechem. Uśmiechnął się nawet wielki król Dźanaka. Ów
                        człowiek na ten śmiech zareagował jeszcze głośniejszym śmiechem. Król Dźanaka
                        spytał: „Człowieku, wszyscy śmieją się z ciebie, a z czego ty się śmiejesz?”
                        Asztawakra odparł: „Królu! Ubolewam nad twoim położeniem. Spodziewasz się
                        Ostatecznej Prawdy od tego zgromadzenia szewców?” Tego dla króla było za wiele.
                        Nikt na jego dworze nie śmie nazywać szewcami najznamienitszych uczonych
                        królestwa. „Lepiej będzie dla ciebie, gdy uzasadnisz to stwierdzenie!” –
                        powiedział Dźanaka. Asztawakra wyjaśnił: „Królu! Szewcy potrafią tylko się
                        śmiać. A ci uczeni znają tylko skórę. Patrzą na to ciało i śmieją się, że jest
                        w ośmiu miejscach zdeformowane. Uczeni ci nie znają promiennej, pełnej
                        splendoru i chwały <i>Atmy</i>, która jaśnieje w tym ciele. Uważają mnie za
                        worek ze skóry wypełniony nieczystościami, mięsem i kośćmi i dlatego śmieją
                        się. Ale nie wiedzą, że jestem <i>ćajtanją</i> (czysta świadomość), jestem
                        Prawdą i <i>Sat-Ćit-Anandą</i> (prawda-świadomość-błogość)! Dlatego żal mi cię,
                        że od tego zgromadzenia szewców oczekujesz Ostatecznej Prawdy.”<o:p></o:p></span></p>

                <p>
                        <o:p></o:p>
                    </span></p>

                <p>Król Dźanaka zrozumiał, że miał do czynienia z <i>dźńanim</i>
                        (mędrcem) i upadł Asztawakrze do stóp. Wszyscy wiemy, że po tym nastąpiła
                        najdonioślejsza wykładnia <i>adwajty</i> (filozofii niedwoistości): <i>Asztawakra
                            Maha Gita</i>.<o:p></o:p></span></p>

                <p><i><span style="
11.0pt;;
">Upaniszada Brihadaranjaka</span></i> mówi: <i>Asato ma sad gamaja;
                            Tamaso ma dźjotir gamaja; Mritjor ma amritam gamaja</i>, co znaczy: Prowadź (<i>gamaja</i>)
                        mnie (<i>ma</i>) od nieprawdy (<i>asat</i>) do prawdy (<i>sad</i>, <i>sat</i>),
                        od ciemności (<i>tamas</i>) ku światłu (<i>dźjoti</i>), od śmierci (<i>mritju</i>)
                        do nieśmiertelności (<i>amritam</i>). W naszym Instytucie tę modlitwę śpiewamy
                        wszyscy codziennie. <o:p></o:p></span></p>

                <p>Śri Adi Śankaraćarja, największy propagator mądrości
                        <i>adwajty</i>, powiedział kiedyś: <i>Ślokar dhena parikszjami jedukhtam
                            grantha koti wihi</i> (Powiem wam w pół godziny to, co zawarto w niezliczonych
                        pismach świętych). <i>Brahma satjam, dźagan mithja, dźiwo Brahmai wana para</i>
                        (<i>Brahman</i> jest rzeczywisty, świat jest iluzją, a ty – indywidualna dusza
                        – jesteś nie kim innym tylko Uniwersalną Świadomością) – oto Prawda. A Bhagawan
                        zawsze kieruje nas ku tej Prawdzie.<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p><b>Nasz
                            zapomniany skarb błogości<o:p></o:p></span></b></p>

                <p>Był pewien żebrak, który całe życie spędził żebrząc
                        w jednym miejscu. Gdy przyszedł na niego czas dołączenia do większości, tj. gdy
                        zmarł, słusznie uznano, że należy pochować go w miejscu, gdzie na żebraniu
                        spędził całe życie. Kiedy zaczęto kopać, na głębokości ok. 1,5 metra usłyszano
                        brzęk metalu. Po odkopaniu okazało się, że żebrak całe życie stał na ogromnym
                        skarbie. Bhagawan powiada, że nasza sytuacja jest bardzo podobna. Jesteśmy
                        ucieleśnieniami wszelkiej błogości. Taką właśnie mamy naturę. Ale, zapomniawszy
                        o niej, spędzamy życie żebrząc o nieznaczące przyjemności zmysłowe i
                        zaniedbując własną Rzeczywistość. Gdyby ten żebrak zaniechał żebrania i zaczął
                        kopać, znalazłby skarb. Podobnie, jeśli my przestaniemy zabiegać o doczesne
                        przyjemności zmysłowe i zaczniemy zagłębiać się we własną jaźń, znajdziemy tam
                        ocean Błogości.<o:p></o:p></span></p>

                <p>Od siebie mogę z przekonaniem powiedzieć wam, że
                        jeśli raz, choćby na sekundę, staniemy twarzą w twarz z własną Rzeczywistością,
                        z nieskalaną, niesplamioną, wspaniałą Jaźnią, stanie się niemożliwe, abyśmy
                        kiedykolwiek ponownie gonili za czymkolwiek.<o:p></o:p></span></p>

                <p><i><span style="
11.0pt;;
">Śwetaśwataropaniszad</span></i> (<i>upaniszada Śweta Śwatur</i>)
                        mówi: <i>Swaćai tanaje, swajam sthasaje, swatma radźaje, sukhej ramej swatma
                            sinhasanej sthitwa, swatmano njahnja ćintai</i> (Utrwalony we własnej jaźni,
                        rozmyślając o własnej jaźni, osadzony na tronie własnej jaźni i przeżywając
                        błogość własnej jaźni, spędzam czas).<o:p></o:p></span></p>

                <p>Bhagawan powiada: „Chłopcy powinni mieć głowę
                        Śankary, serce Buddy i ręce Dźanaki.”<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p><b>Ty
                            jesteś ty<o:p></o:p></span></b></p>

                <p>Zaledwie kilka dni temu odbyła się Konferencja
                        Międzywyznaniowa (<i>Inter-Faith</i>) przemianowana przez Goldsteine na
                        „Konferencję Wewnątrzwyznaniową (<i>Intra-Faith</i>).” Rozważaliśmy o tym, co
                        wspólnego mają wszystkie wyznania. Jeśli jest coś wspólnego to jest to:<o:p></o:p></span></p>

                <p>—
                        Każda wiara, każda religia, każda prawdziwa doktryna zawsze próbuje wskazać
                        człowiekowi jego własną rzeczywistość;<o:p></o:p></span></p>

                <p>—
                        pokazuje, że nie jesteś tym ciałem, skórzanym workiem pełnym mięsa i kości;<o:p></o:p></span>
                </p>

                <p>—
                        nie jesteś tym umysłem, który jest eskadrą obaw, strachów i zaciekawień;<o:p></o:p></span></p>

                <p>—
                        ty jesteś ty, jesteś po prostu sobą, a jeśli potrafisz być sobą, będziesz
                        wszystkim.<o:p></o:p></span></p>

                <p>I
                        jest to Prawda, którą Bhagawan zawsze wpaja poprzez wszystkie swoje działania i
                        przedsięwzięcia i której tutaj mamy się nauczyć i wcielić w życie.<o:p></o:p></span></p>

                <p>Przy tych słowach pragnę podziękować Bhagawanowi za
                        to uświęcające doświadczenie stania w Jego Obecności i mówienia o Jego Chwale.<o:p></o:p></span>
                </p>

                <p>Dziękuję.<o:p></o:p></span></p>

                <p>Dźej Sai Ram!<o:p></o:p></span></p>

                <p>
                        <!--[if !supportEmptyParas]-->
                        <!--[endif]-->
                        <o:p></o:p>
                    </span></p>

                <p class="text-right my-5">[Z <i>Heart to Heart</i>
                        8/2006 tłum. KMB;
                        2006.08.13]<span> </span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Wielka Prawda</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>