<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Współczucie Sai</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Współczucie Sai</h2>
                </b></font> 

</p><p><table width="90%" align="center"><tbody><tr><td align="center"><small>
Fragment zapisków Williama Millera z listopada 2000 r., kiedy przebywał 
w Prasanthi Nilayam, udostępnionych w internetowym SatGuru.</small></td></tr></tbody></table> 

</p><p><!--br-->&nbsp;
Dla mnie wydarzenia związane z wielkimi obchodami 75-tych urodzin 
Sai Baby rozpoczęły się 30 października.  Następnego dnia Baba 
rozpoczął swój program wysyłania ponad 800 studentów i 100 
pracowników wydziałów do 350 wsi w okręgu z zadaniem rozdawania 
ubrań dla najbiedniejszych mieszkańców, a wszystkim artykułów 
żywnościowych. Przedtem zebrał wszystkich do Mandiru w celu 
przedyskutowania końcowych szczegółów. Po przedstawieniu artykułów 
żywnościowych i odzieżowych, jakie zebrano w tymczasowych <i>szedach</i>
[rodzaj baraków], 
zaczął opowiadać zdarzenie, które opisano w gazetach. Pewna bardzo 
biedna kobieta z dwojgiem dzieci straciła męża. Nie miała pracy, ani 
rodziny, która mogłaby ją wspomóc. Miała niewiele jedzenia. Dawała 
to dzieciom dopóki nie zabrakło. Kiedy skromne zapasy się wyczerpały 
w rozpaczy podała dzieciom truciznę, po czym sama się otruła. <br>

 
Gdy Baba opowiadał o tym wydarzeniu, wszyscy widzieli, że w Jego 
oczach zbierają się łzy. Zaczął się dławić i nie mógł dalej 
mówić. Zaczynał mówić i musiał przerywać. Trwało to prawie pięć 
minut. W końcu poszedł usiąść na swoim krześle. Wtedy powiedział, 
że kiedy dowiedział się o nieszczęściu tej rodziny, pomyślał, 
że nic takiego nigdy już nie powinno się w Indiach zdarzyć. <br>

 
Poza programem dla wsi Baba stworzył fundusz dla 300 najbiedniejszych 
spośród biednych rodzin, które otrzymają dom i depozyt 100000 rupii, 
z którego będą mogły czerpać około 1000 rupii miesięcznie na 
wyżywienie oraz kształcenie i utrzymanie dzieci. <br>

 
Takiego przypływu emocji u Baby nie pamiętają nawet wielbiciele, 
którzy byli przy Nim przez dziesięciolecia. <br>

 
Po wysłuchaniu tej relacji pomyślałem, że źle zrozumiałem istotę 
„spokoju, który przerasta wszelkie pojęcie". Kiedy pisma święte 
Wschodu mówią o <i>samadhi</i> (dosłownie: równowaga umysłowa), rozumią 
przez to, że do bólu i przyjemności, smutku i radości itd., można 
podchodzić jednakowo. Wszystko to są tylko przelotne chmury wrażeń 
i uczuć. Byłem przekonany, że oznacza to nie odczuwania smutku itd. 
Teraz widzę, jak nawet w wysokich stanach duchowych smutek może ciągle 
być obecny, a mimo to nie umniejszać wewnętrznego pokoju. <br>

 
Co prawda nie byłem obecny wtedy w Mandirze, ale kiedy wysłuchałem 
tej historii, rozmawiałem później o smutku Swamiego z jednym z 
uczestników tamtego spotkania. Powiedział on, że smutek pochodził 
z Jego współczucia – wczuwania się w to, co ktoś inny czuje. 
Rozmyślając o tym, zauważyłem ogromną zmianę w moim pojmowaniu 
tego, czym naprawdę jest współczucie. Kilka dni później Baba 
jeszcze raz opowiedział o tamtej kobiecie i jej dzieciach podczas 
dyskursu wygłaszanego do wielkiego zgromadzenia. Dwukrotnie wspomniał, 
że tamto wydarzenie zasmuciło Go. Nie ma dla mnie znaczenia, czy 
był to smutek, czy współczucie, czy oba naraz. Rozmowy o współczuciu 
już odbiły ważne piętno w moim wnętrzu. I chociaż program 
rozdawania mieszkań i opieki nad 300 rodzinami w obliczu istniejącego 
ubóstwa może dla racjonalnego umysłu wydawać się przysłowiową 
kroplą w morzu, Jego przykład współczucia i związanego z nim 
działania był dla nas wszystkich obecnych tutaj niczym całe tomy nauk.

 
</p><p class="text-right"><small> [tłum: KMB; <i>ŚM</i> 2/2001, s. 21] 
</small></p><small>
  
<!--br--><hr>File translated from
T<sub><font size="-1">E</font></sub>X
by <a href="http://hutchinson.belmont.ma.us/tth/">
T<sub><font size="-1">T</font></sub>H</a>,
version 3.13 on 20 Oct 2002 [2003.04.12].</small>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">Współczucie Sai</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        http://www.astro.umk.pl/~kb/personal.html>my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>