<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Artykuły<span class="sr-only">(current)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                            <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach
                                ludzkich</a>
                            <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego
                                Wieku</a>
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai
                                Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci —
                                Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">List otwarty do liderów ośrodków Sai i koordynatorów młodzieżowych w Malezji</li>
                </ol>
            </nav>
            <article class="container">
                <h2>List otwarty do liderów ośrodków Sai i koordynatorów młodzieżowych w Malezji (Poziom krajowy, regionalny i lokalny) <br> Data: 7-go października 2000 r.</h2>
                </small></font>
                   
                   </b><p><b>
                   </b> </p></div>
                   
                   <p align="right">
                    
                   
                   </p><p> &nbsp; &nbsp; 
                   <b>Drodzy bracia i siostry!</b> 
                   
                   <br> &nbsp; &nbsp; 
                   Niedawno wysłałem otwarty list do wszystkich liderów i 
                   koordynatorów ruchu Sai w Malezji na temat 'Zagrożenia wewnętrzne.' 
                   Dziś chciałbym poruszyć sprawę 'Zagrożeń zewnętrznych' 
                   w ruchu Sai. 
                   
                   <br> &nbsp; &nbsp; 
                   Internet stał się zarówno przekleństwem, jak i błogosławieństwem! 
                   Jest to błogosławieństwo dla tych, którzy pragną poszerzyć 
                   wiedzę i przekazywać wszystkim dobre i szlachetne idee za 
                   naciśnięciem klawisza, zaś przekleństwo dla wszystkich, którzy 
                   wykorzystują tę niesamowitą technikę, by pławić się w brudach i 
                   negatywności! 
                   
                   <br> &nbsp; &nbsp; 
                   Mam na myśli w szczególności rozpowszechnianie nieprawdy o 
                   Bhagawanie Babie przez siły, które mają swój plan działania. 
                   
                   <br> &nbsp; &nbsp; 
                   Niestety, ponieważ młodzież najszerzej korzysta z Internetu, 
                   to ona najczęściej inicjuje i ona pada ofiarą tej podstępnej 
                   kampanii mającej na celu oczernienie imienia jednej z 
                   najszlachetniejszych istot, jakie chodziły po ziemi, ba! – 
                   Istoty Boskiej, która chodzi po tej ziemi. 
                   
                   <br> &nbsp; &nbsp; 
                   Pozwolę sobie wyrazić to w najbardziej niedelikatny sposób, 
                   gdyż nie wiem jak lepiej pokazać ordynarność postępków 
                   podejmowanych przez pewne osoby! Czy zobaczywszy na ziemi 
                   kał bylibyście zdolni wziąć go i wręczyć przyjacielowi? 
                   
                   <br> &nbsp; &nbsp; 
                   Czy usłyszawszy ohydne pomówienia rzucane przez kogoś na waszego 
                   ojca i matkę przekazalibyście je swojemu przyjacielowi? 
                   
                   <br> &nbsp; &nbsp; 
                   A tak właśnie postępują niektórzy dorośli i młodzi! Niektórzy 
                   robią to w fałszywej niewinności plotkarza, który chociaż sam 
                   nie wierzy w plotkę, odczuwa rodzaj satysfakcji z faktu, że jest 
                   tym, który przekazał tę plotkę ... z poufnym szeptem 
                   „Czy słyszałeś, że ..." 
                   
                   <br> &nbsp; &nbsp; 
                   Są też inni, ci o słabej wierze, którzy włączyli się do ruchu 
                   Sai bez głębszych przekonań, chociaż być może na wiele lat! 
                   
                   <br> &nbsp; &nbsp; 
                   Inni, którzy być może nie dostąpili cudu czy wyróżnienia ze 
                   strony Sai, albo zostali przez Niego zignorowani po okresie 
                   znacznej osobistej uwagi, z zapałem chwytają te nieczystości 
                   i rozdają innym w nadziei, że i tamci zaprzeczą Boskiej sile 
                   i majestatowi Sai! 
                   
                   <br> &nbsp; &nbsp; 
                   To tak, jak w tej smutnej historii lisa, któremu obcięto ogon, 
                   a on teraz próbuje przekonać innych, że „obcięta kita" jest 
                   w modzie! W oryginalnym opowiadaniu inne lisy przejrzały podstępny 
                   plan i przepędziły chytrego lisa! Niestety, w przypadku ośrodków 
                   Sai i wielbicieli Sai, wiele „lisów Sai" nieświadomie pozwoliło 
                   poobcinać sobie ogony, pozbawiając się w ten sposób największej 
                   szansy całego życia! 
                   
                   <br> &nbsp; &nbsp; 
                   Mówię to wszystko z pełnym przekonaniem, gdyż wysławiam Boską Siłę, 
                   jaką stanowi Sai, z punktu widzenia osoby, która niegdyś była 
                   wielkim przeciwnikiem Sai! Nie jest to więc ślepa „mentalność 
                   stadna", której podlega, lecz mocne przekonanie oparte nie tylko 
                   o własne doświadczenie, ale także doświadczenia wielu innych -
                   wielbicieli, a nawet istot z 4-ego wymiaru! Dostatecznie dużo 
                   napisałem już o tym w 4-tomowym „<i>Journey to God</i>" (Podróż 
                   do Boga), więc nie ma potrzeby drążyć tego tematu. 
                   
                   </p><p> &nbsp; &nbsp; 
                   <b>Co mówi sam Sai?</b> 
                   
                   <br> &nbsp; &nbsp; 
                   Zacytuję wam wyjątek z pisma Śri Indulal Shaha, międzynarodowego 
                   przewodniczącego [Organizacji Sathya Sai]: 
                   
                   <br> &nbsp; &nbsp; 
                   „Kiedyś rozesłałem następujący fragment boskiego dyskursu 
                   Bhagawana Baby: <i>Wielu boleje z powodu tego, co piszą o mnie 
                   niektóre gazety! Wielu nalega, że należy coś z tym zrobić. 
                   Ja jednak wszystkich powstrzymuję, gdyż jest to najlepszy sposób 
                   traktowania tak chwalenia, jak i potępiania. Oceanowi obce są 
                   wystąpienie z brzegów i wyschnięcie. Zawsze jest pełny, zawsze 
                   pełen majestatu i niewzruszony.</i> 
                   
                   <br> &nbsp; &nbsp; 
                   W ciągu 35 lat towarzyszenia Bhagawanowi przy kilku okazjach 
                   wyjaśniał takie wydarzenia jako 'latanie na uchu słonia,' co znaczy 
                   że nie trzeba się nimi przejmować. Baba przypomina nam, że ludzie 
                   obrzucają drzewo kamieniami tylko wtedy, gdy są na nim owoce. 
                   
                   <br> &nbsp; &nbsp; 
                   Zastanówmy się również, co należałoby zrobić. Jest to dla nas 
                   test doświadczenia Boskości. Jakie zabezpieczenie, czy ogrodzenie 
                   powinniśmy zbudować wokół naszej organizacji? 
                   
                   <br> &nbsp; &nbsp; 
                   Pamiętajmy, że nic nie dzieje się bez Jego woli. Wszystko, co się 
                   zdarza, jest dla naszego dobra, zakładając, że jesteśmy świadomi 
                   naszego obowiązku i osobistego wysiłku, jaki winien za tym iść." 
                   
                   <br> &nbsp; &nbsp; 
                   Jeśli ktoś pyta mnie (tj. Jegę; czyt.: Dźega), kto najpierw 
                   ugnie się i złamie przy pierwszym podmuchu przeciwnego wiatru 
                   oskarżeń i brudu, odpowiadam: ci, co pozostali na peryferiach 
                   organizacji i ci, co żyli na peryferiach nauk Sai. Kandydatami 
                   do odejścia są także wszyscy ci, którzy oczekują czegoś od 
                   Sai, którzy chcą Jego ciągłej osobistej uwagi, którzy żyją 
                   ciągle na marginesie fizycznych cudów Sai, którzy nie wcielali 
                   w życie nauk Sai przez Służbę dla ludzkości i bezinteresowną 
                   miłość do wszystkich!! 
                   
                   <br> &nbsp; &nbsp; 
                   Zastanówcie się tylko spokojnie nad tym, kto „dpadł", czyli 
                   zwrócił się przeciwko Sai, a odkryjecie sami tę prawdę! Nie 
                   potępiajcie ich! Nie szkalujcie ich. Módlcie się tylko o Pokój 
                   i Miłość w ich życiu! 
                   
                   </p><p> &nbsp; &nbsp; 
                   „<b>Wielcy wielbiciele</b>" 
                   
                   <br> &nbsp; &nbsp; 
                   Niektórzy z was są przybici faktem, że tzw. „bliscy wielbiciele" 
                   Sai odwrócili się od Niego z powodu tego brudu, który przez uszy 
                   i oczy zapełnia ich umysły. 
                   
                   <br> &nbsp; &nbsp; 
                   Wielbiciele, którzy mieli wiele <i>interview</i>, ci co otrzymali 
                   boskie kreacje Baby (sygnety, breloczki itd.), ku naszemu wielkiemu 
                   zdumieniu odpadli! 
                   
                   <br> &nbsp; &nbsp; 
                   Ale czy jest to tak dziwne? Kto zdradził Jezusa? Czy byli to Jego 
                   wrogowie, czy ci najbliżsi Mu? Kto ośmielił się walczyć przeciwko 
                   Krisznie – Jego wrogowie, czy ci, co szukali u Niego wsparcia? 
                   
                   <br> &nbsp; &nbsp; 
                   Czy Rawana, demon który wystąpił przeciwko Ramie, nie był blisko 
                   Boskości? Czy nie od Boga otrzymał swoje moce? Czy Hiranjakaśipu 
                   (ojciec Prahlady), który wystąpił przeciwko bogom, a nawet samemu 
                   Narajanie, nie był blisko Boskości? Wszak to Boskość obdarzyła go 
                   niezwykłymi mocami, które użył przeciwko Niej! 
                   
                   <br> &nbsp; &nbsp; 
                   „<i>Purany</i>" i losy wszystkich wielkich postaci obfitują w opisy tych, 
                   którzy będąc blisko Boskości, którą czcili, zwracali się 
                   przeciwko Niej! Ile z was wie o wstrętnych oskarżeniach ciskanych 
                   na Buddę i Ramakrisznę Paramahansę za ich życia? 
                   
                   <br> &nbsp; &nbsp; 
                   Skoro Jezus, który wśród swoich 12 uczniów w ostatnich chwilach 
                   miał takiego, który się Go zaparł i drugiego, który Go zdradził, 
                   nietrudno sobie wyobrazić, czego można oczekiwać po fenomenie Sai 
                   z milionami wielbicieli! 
                   
                   <br> &nbsp; &nbsp; 
                   Odrobina inteligencji wystarczy, by dociec PRAWDY. 
                   
                   <br> &nbsp; &nbsp; 
                   Czy jakakolwiek istota na ziemi w czasie swojego życia pobudziła 
                   tyle dobrej i świętej pracy dla potrzebujących i doprowadziła 
                   do tak wielkich przemian w milionach ludzi zwracając ich w kierunku 
                   bezinteresowności i służenia biednym, chorym i potrzebującym? 
                   Czy ktokolwiek potrzebowałby wznosić tak ogromną, światową 
                   budowlę bezinteresownej służby i wartości ludzkich, aby oddawać 
                   się tego typu sprośnościom, o jakich się głosi? 
                   
                   <br> &nbsp; &nbsp; 
                   Osądźcie sami! Czy wasze życie nie uległo zmianie? Być może 
                   nie, jeśli jesteście ciągle na poziomie fizycznej postaci Sai, 
                   Jego cudów i <i>bhadźanów</i>! Jeśli jednak jesteście wśród tych, co 
                   przesłanie Sai czynią częścią swego życia, wasze doświadczenie, 
                   wasz podziw dla ogromu dokonań i tego, co można osiągnąć dla 
                   poprawy bytu wszystkich ludzi, będzie waszym wystarczającym 
                   świadectwem dowodzącym Boskiej wielkości Awatara <i>kali jugi</i>! 
                   
                   <br> &nbsp; &nbsp; 
                   Ulisses z greckiego podania musiał zatkać uszy sobie i swoim 
                   towarzyszom na statku, aby fałszywe i kuszące głosy „syren" 
                   nie doprowadziły ich do katastrofy podczas poszukiwania „złotego 
                   runa"!** 
                   
                   <br> &nbsp; &nbsp; 
                   Obecnie, w naszej podróży do „złotego wieku", głosy współczesnych 
                   syren kuszą wielbicieli odwodząc ich od Wiary, Przekonań, Dobroci 
                   i Miłości w kierunku nienawiści i negatywności! 
                   
                   <br> &nbsp; &nbsp; 
                   Nie mamy Ulissesa ze strożytności, który zatkałby nam uszy! 
                   Współczesnymi Ulissesami są beziteresowna służba i beziteresowna 
                   miłość, które Sai wpoił tym, którzy stosują się do Jego Nauk! 
                   Będą to zatyczki do uszu, które muszą pomóc nam pokonać te 
                   zdradliwe czasy! 
                   
                   <br> &nbsp; &nbsp; 
                   Proszę wszystkich! Nie przekazujcie tych brudów dalej! Nie 
                   dopuśćcie, by te nieczystości splamiły wasz umysł! Jeśli czujecie, 
                   że nie odpowiada wam ścieżka Sai, zejdźcie na pobocze, lecz 
                   nie ściągajcie na siebie grzechu postawienia się między Bogiem 
                   i Jego wielbicielem. 
                   Takie jest przesłanie każdej hinduskiej <i>wahany</i> (duchowej 
                   praktyki).
                   
                   <br> &nbsp; &nbsp; 
                   My zaś, którzy kochamy Sai – zróbmy więcej! Przejawiajmy Jego 
                   cuda, Jego <i>Wibhuti</i> (Boską Chwałę) w społeczeństwie przez stanie 
                   się Jego Boskim cudem, przez transformowanie społeczeństwa ku 
                   Miłości i Jedności, przez naszą bezinteresowną miłość 
                   i bezinteresowną Służbę! 
                   
                   <br> &nbsp; &nbsp; 
                   Proszę, zastanówcie się nad tym. Rozprowadźcie ten apel i 
                   postępujcie zgodnie z tym przesłaniem. 
                   
                   </p><p> &nbsp; &nbsp; 
                   Sai Ram i Boże błogosław! 
                   
                   <br> &nbsp; &nbsp; 
                   Wasz w służbie, 
                   
                   <br> &nbsp; &nbsp; 
                   J. Jagadeesan 
                   
                   </p><div align="right">
                                   <small>[tłum.: KMB; <i>ŚM</i> 1/2001, s. 39]</small></div>
                   
                   <p>
                   <!--br--></p><hr><small>File translated from
                   T<sub><font size="-1">E</font></sub>X
                   by <a href="http://hutchinson.belmont.ma.us/tth/" rel="no-follow">
                   T<sub><font size="-1">T</font></sub>H</a>,
                   version 3.13 on 20 Oct 2002 (popr. 2003-04-02).</small>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active">O Bhagawanie Śri Sathya Sai Babie</li>
                    <li class="breadcrumb-item active" aria-current="page">List otwarty do liderów ośrodków Sai i koordynatorów młodzieżowych w Malezji</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>