<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Wychowywanie w wartościach ludzkich</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Nadzwyczajna historia zwykłej dziewczyny</h2>
                <p>
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">Sudha Murty, przewodnicząca Infosys Foundation i pisarka, jest znana z umiejętności
                            zbierania ciekawych opowiadań o życiu zwykłych ludzi i składania tych relacji w wyjątkowe mieszanki
                            faktu i fikcji.</p>
                        <p>
                            Jej ostatni zbiór opowiadań pt. „Dzień, w którym przestałam pić mleko: prawdziwe historie stąd i
                            stamtąd” (wydany przez Penguin Books India) zawiera fascynujący zestaw postaci, z których każda
                            wywarła niezatarte wrażenie na autorce. Poniżej cytuję perełkę z rozdziału „Z Bombaju do Bangaluru”
                            – jedno z najbardziej podnoszących na duchu opowiadań tego zbioru.
                        </p>
                        <footer class="blockquote-footer">Ravi Narasimhan</footer>
                    </blockquote>
                </p>
                <p>
                    Był początek lata. Wsiadłam do pociągu Udyan Express na stacji Gulbarga. Jechałam do Bangaluru. Mój
                    przedział drugiej klasy z miejscami rezerwowanymi był przepełniony ludźmi. Usiadłam i zostałam zepchnięta w
                    róg miejsca do leżenia. Chociaż było przeznaczone dla trzech osób, siedziało nas tu już sześcioro…</p>
                <p>Przyszedł konduktor i zaczął sprawdzać bilety i rezerwacje. Nagle spojrzał w moim kierunku i spytał: „A pani  bilet?” „Już panu pokazywałam” – odpowiedziałam.</p>
                <p>„Nie pani. Dziewczyny chowającej się pod pani łóżkiem. Hej, wychodź. Gdzie masz bilet?” Zrozumiałam, że ktoś kryje się pod moim miejscem. Gdy konduktor krzyknął, dziewczyna wyszła z ukrycia.</p>
                <p>Była chuda, o ciemnej karnacji, przestraszona i wyglądała tak, jakby wylewnie płakała. Musiała mieć jakieś
                    trzynaście lub czternaście lat. Miała nieuczesane włosy i była ubrana w podartą spódniczkę i bluzkę. Trzęsła się i trzymała złożone ręce. Konduktor zaczął siłą wyciągać ją z przedziału. Nagle opadło mnie dziwne
                    uczucie. Wstałam i zawołałam konduktora. „Proszę pana, zapłacę za jej bilet” – powiedziałam.</p>
                <p>On popatrzył na mnie i odrzekł: „Proszę pani, jeśli da jej pani dziesięć rupii, będzie o wiele szczęśliwsza
                    niż z biletu.”</p>
                <p>Nie słuchałam go. Poprosiłam o bilet do ostatniej stacji, do Bangaluru, tak by mogła wysiąść gdzie chciała.
                </p>
                <p>Powoli dziewczyna zaczęła mówić. Powiedziała mi, że ma na imię Chitra (czyt. Ćitra). Mieszkała we wiosce
                    niedaleko od miasta Bidar. Jej ojciec wynajmował się do prac dla niewykwalifikowanych za płace ledwo
                    wystarczające na życie, a matkę straciła przy urodzeniu. Ojciec ponownie się ożenił i z macochą miał dwóch
                    synów. Ale kilka miesięcy temu ojciec zmarł. Macocha zaczęła ją często bić i nie dawała jej jedzenia.
                    Dziewczyna była wycieńczona takim życiem. Nie miała nikogo, kto mógłby ją wesprzeć, dlatego odeszła z domu
                    szukać czegoś lepszego.</p>
                <p>Gdy pociąg dojeżdżał do Bangaluru, powiedziałam Chitrze „Do widzenia” i wysiadłam z pociągu. Przyszedł mój
                    kierowca i zabrał moje torby. Poczułam, że ktoś na mnie patrzy. Gdy obróciłam się, stała tam Chitra i smutno
                    na mnie patrzyła. Ale przecież nie mogłam już nic więcej dla niej zrobić. Ze współczucia zapłaciłam za jej
                    bilet, jednak nawet na myśl mi nie przyszło, że mam się nią zaopiekować!</p>
                <p>Powiedziałam, żeby wsiadła do mojego samochodu. Mój kierowca przyglądał się dziewczynie z ciekawością.
                    Kazałam mu zawieźć nas do mojego przyjaciela Rama. Ram prowadził oddzielne schroniska dla chłopców i
                    dziewcząt. My, w Infosys Foundation, wspieraliśmy go finansowo. Pomyślałam, że Chitra może zamieszkać tam
                    przez jakiś czas, a gdy wrócę ze swoich objazdów, możemy porozmawiać o jej przyszłości.</p>
                <p>Wracając nie byłam pewna, czy Chitra w ogóle tam jeszcze będzie. Ku mojemu zaskoczeniu zobaczyłam Chitrę
                    wyglądającą na o wiele szczęśliwszą niż poprzednio. Ram zasugerował, żeby Chitrę posłać do pobliskiej szkoły
                    średniej. Natychmiast zgodziłam się i powiedziałam, że będę sponsorować jej wydatki dopóki będzie się uczyć.
                    Opuściłam schronisko z przekonaniem, że Chitra znalazła dom i nowe perspektywy na życie.</p>
                <p>Później byłam bardziej zajęta, tak że odwiedzałam schronisko tylko raz na rok. Ale zawsze wypytywałam o nią
                    przez telefon. Wiedziałam więc, że dobrze się uczy i robi zadowalające postępy. Zaproponowałam jej
                    sponsorowanie także studiów, jeśli zechce pójść do koledżu. Ona jednak powiedziała: „Nie, Akka. Rozmawiałam z przyjaciółmi i już postanowiłam. Chcę uzyskać dyplom z informatyki, abym po trzech latach mogła zaraz pójść do pracy.” Chciała być niezależna tak szybko, jak tylko można. Swój dyplom zdobyła z honorami.
                    Otrzymała też pracę w firmie komputerowej w charakterze technika sprawdzającego. Gdy otrzymała pierwszą
                    pensję, przyszła do mojego biura z sari i pudełkiem słodyczy.</p>
                <p>Pewnego dnia, gdy byłam w Delhi, otrzymałam telefon od Chitry. Była szczęśliwa. „Akka, moja firma wysyła mnie
                    do USA! Chciałam się z tobą spotkać i przyjąć twoje błogosławieństwa, ale nie ma cię tu w Bangalurze.”</p>
                <p>Mijały lata. Od czasu do czasu dostawałam od Chitry e-mail. Jej kariera rozwijała się świetnie. Była
                    oddelegowywana do kilku miast w USA i cieszyła się życiem. W duchu modliłam się, by zawsze była szczęśliwa,
                    gdziekolwiek się znajdzie.</p>
                <p>Wiele lat później zostałam zaproszona do wygłoszenia wykładu w San Francisco dla Kannada Koota, organizacji
                    zrzeszającej rodziny mówiące w języku kannada. Wykład miał się odbyć w auli konferencyjnej pewnego hotelu,
                    więc zdecydowałam się zamieszkać w tym właśnie hotelu. Po wykładzie zamierzałam wyjechać na lotnisko. Gdy
                    wymeldowywałam się z hotelu i chciałam zapłacić w recepcji za pobyt, recepcjonista powiedział: „Proszę pani,
                    nic nie musi pani płacić. Tamta pani już uregulowała pani rachunek. Musi znać panią bardzo dobrze.”
                    Odwróciłam się i zobaczyłam Chitrę.</p>
                <p>z młodym białym mężczyzną. Była ubrana w piękne sari i z krótko przyciętymi włosami wyglądała bardzo ładnie.
                    Jej ciemne oczy jaśniały szczęściem i dumą. Zaraz jak mnie zobaczyła, obdarzyła mnie promiennym uśmiechem,
                    uściskała mnie i dotknęła moich stóp. Byłam przytłoczona radością i nie wiedziałam, co powiedzieć. Byłam
                    bardzo szczęśliwa, widząc jak potoczyły się losy Chitry. Wróciłam jednak do zasadniczego pytania: „Chitra,
                    dlaczego zapłaciłaś mój rachunek? To nie jest w porządku.” Ona nagle rozpłakała się, objęła mnie i
                    powiedziała: „Bo ty zapłaciłaś za mój bilet z Bombaju do Bangaluru!”
                </p>
        <cite>[Z saidevotees_worldnet tłum. KMB; 20120904]</cite>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Wychowywanie w wartościach ludzkich</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        http://www.astro.umk.pl/~kb/personal.html>my site in <img src="../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>