<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Wychowywanie w wartościach ludzkich</li>
                </ol>
            </nav>
            <article class="container">
              <h2>Kochajmy rodziców</h2>
              Dawno temu rosła wielka jabłoń. Mały chłopczyk lubił codziennie przychodzić i przy niej się bawić. Wspinał się na szczyt, jadł jabłka, drzemał w cieniu drzewa. Kochał to drzewo, a drzewo kochało bawić się z nim. 

              <br>&nbsp;&nbsp;&nbsp;Czas mijał ... Mały chłopczyk dorósł i przestał codziennie bawić się przy jabłoni. Pewnego dnia wrócił do drzewa; wyglądał na zasmuconego. ,,Chodź pobawić się ze mną" — powiedziało drzewo do chłopca. ,,Nie jestem już dzieckiem, już się nie bawię przy drzewach — odpowiedział. — Chcę zabawek. Potrzebuję pieniędzy, by je kupić". ,,Przykro mi, ale nie mam pieniędzy ... Możesz jednak zerwać wszystkie moje jabłka i sprzedać je. W ten sposób zdobędziesz pieniądze". Chłopiec bardzo się ucieszył. Zebrał wszystkie jabłka z drzewa i odszedł szczęśliwy.  Nie wrócił już więc drzewo zasmuciło się. 
              
              <br>&nbsp;&nbsp;&nbsp;Któregoś dnia przyszedł, co niezmiernie uradowało drzewo. ,,Chodź pobawić się ze mną" — powiedziało. ,,Nie mam czasu na zabawę. Muszę pracować na utrzymanie rodziny. Potrzebujemy domu. Czy możesz mi pomóc?" ,,Przykro mi, ale nie mam domu. Możesz jednak obciąć moje gałęzie i zbudować sobie dom". Tak więc chłopiec poobcinał wszystkie gałęzie i odszedł uszczęśliwiony. Drzewo cieszyło się widząc jego szczęście, ale chłopiec potem już nie przyszedł. Drzewo znów było samotne i smutne. 
              
              <br>&nbsp;&nbsp;&nbsp;Pewnego upalnego letniego dnia chłopiec wrócił, co wprawiło drzewo w zachwyt. ,,Chodź pobawić się ze mną!" — powiedziało. ,,Smutno mi i starzeję się. Chciałbym pożeglować dla relaksu. Czy możesz dać mi łódź?" ,,Wykorzystaj mój pień na budowę łodzi. Będziesz mógł pływać daleko i być szczęśliwy". Chłopiec ściął pień drzewa i zbudował łódź. Odpłynął i długo nie pokazywał się. 
              
              <br>&nbsp;&nbsp;&nbsp;Po wielu latach w końcu wrócił. ,,Przykro mi mój chłopcze. Teraz już nie mam nic dla ciebie. Nie mam już jabłek ..." — powiedziało drzewo. ,,Nie mam zębów, by je jeść" — odpowiedział chłopiec. ,,Naprawdę nie mogę dać ci niczego ... Jedyne, co mi zostało, to obumierające korzenie" — ze łzami powiedziało drzewo. ,,Teraz już nie potrzebuję wiele; wystarczy mi miejsce na odpoczynek. Po wszystkich tych latach jestem już zmęczony" — odparł chłopiec. ,,Świetnie! Stare korzenie drzewa są najlepszym miejscem oparcia i odpoczynku. Chodź, usiądź ze mną i odpocznij sobie". Chłopiec usiadł, a drzewo cieszyło się i uśmiechało przez łzy ... 
              
              <p>
              <br>&nbsp;&nbsp;&nbsp;<i>To opowiadanie przeznaczone jest dla nas wszystkich. Drzewo jest naszym rodzicem. Kiedy byliśmy mali, uwielbialiśmy bawić się z Mamą i Tatą ... Kiedy dorośliśmy, opuściliśmy ich ... przychodząc jedynie, kiedy potrzebowaliśmy czegoś albo kiedy byliśmy w tarapatach. Niezależnie od okoliczności, rodzice zawsze dadzą wszystko, co mogą, aby nas uszczęśliwić. Możecie pomyśleć, że chłopiec był okrutny wobec drzewa, ale tak wszyscy się zachowujemy ... Kochajmy więc swoich rodziców. </i>
              </p><p align="right">
              &nbsp;&nbsp;&nbsp;<small>[Opracowano na podstawie książki Shel Silverstein <i>The Giving Tree</i>;
              <br> z SatGuru tłum. KMB (czerwiec 2001 r.); <i>ŚM</i>] 
              </small>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Wychowywanie w wartościach ludzkich</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>