<section class="article" id="osobie">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">O sobie</li>
        </ol>
    </nav>
    <article class="container">
        <h2>Parę słów o sobie</h2>
        <p>O — czytasz! Miło mi. Trochę się obawiam, że Cię zanudzę. Ale w końcu zawsze możesz przerwać czytanie
            ... Pochodzę z Żelichowa — to taka mała wioska między Krzyżem i Człopą, całkiem na północy
            województwa wielkopolskiego. Moi kochani, nieżyjący już Rodzice przyjechali tam, na tzw. Ziemie
            Odzyskane, z Rzeszowszczyzny zaraz po II wojnie światowej (z tamtego okresu mam tu mały dokument o
            ich pomocy Żydom) i wkrótce potem, w 1948 r., urodziłem się im ja jako szóste dziecko (później
            przybyło mi jeszcze troje rodzeństwa, ale dorosłego wieku doczekało się tylko siedmioro z nas). Po
            ukończeniu Technikum Rolniczo-Lniarskiego w Przygodzicach koło Ostrowa Wlkp. w 1968 r. przyjechałem
            studiować astronomię do Torunia, gdzie zadomowiłem się na dobre.</p>
        <p>Szczęśliwym trafem zaraz po studiach dostałem ciekawą pracę w radioastronomii przy Obserwatorium
            Astronomicznym UMK. Przez siedem lat zajmowałem się głównie budową aparatury elektronicznej i
            radiowymi obserwacjami Słońca (z tych badań złożyłem pracę doktorską), a potem rozmaitymi aspektami
            radiowej techniki wielkobazowej, VLBI (to metoda obserwacji astronomicznych, w której uczestniczy
            kilka radioteleskopów odległych o tysiące kilometrów, a komputerowe opracowanie zapisanych danych
            pozwala na uzyskiwanie obrazów obiektów kosmicznych o fantastycznych rozdzielczościach kątowych —
            nawet mikrosekundy łuku!). Uczestniczyłem też przy powstawaniu naszego największego instumentu
            badawczego, 32-metrowego radioteleskopu.</p>
        <figure class="float-left">
            <img src="http://www.astro.umk.pl/~kb/KB97Praga.jpg" alt="Ja jesienią 1997r.">
            <figcaption>Ja jesienią 1997r.</figcaption>
        </figure>
        <p>Na początku lat dziewięćdziesiątych ubiegłego wieku skończyło mi się nieprzerwane pasmo powodzenia w
            życiu — pierwsza wielka porażka (tak to wówczas odbierałem; dziś jest inaczej) to niezatwierdzenie
            habilitacji przez warszawską komisję (przyczyną była niezrozumiała postawa pewnego superrecenzenta).
            W 2001 r. przyszedł drugi krach — byłem zmuszony rozstać się z rodziną (nie wytrzymała moja cudowna
            skądinąd żona, ponieważ zdecydowanie inaczej niż ja postrzega świat i obowiązki wobec naszych
            wspaniałych dzieci, a mamy ich troje).
        </p>
        <p> Wspomniane wyżej niepowodzenia bledną jednak wobec wyróżnienia, jakie spotkało mnie w tym życiu. W
            1992 r. zrządzeniem przyjaznego losu rozpoznałem w niezbyt jeszcze wówczas u nas znanym guru
            (nauczycielu), Sathya Sai Babie, prawdziwie boską istotę i mam powody, by sądzić, że przyjął mnie na
            ucznia, chociaż może takiego z tylnych ławek. Dlaczego uważam to za wielkie wyróżnienie? Ponieważ
            przekonałem się, że naprawdę nieliczni mogą stać się Jego wielbicielami; ponadto minęła już dekada
            mojego 'pobierania' u Niego nauk — dekada niemal nieustających odkryć i przeżyć duchowych. Jeśli,
            drogi Gościu, dziwisz się mojej naiwności, bo słyszałeś o krytycznych opiniach o Sai Babie, powiem
            Ci tylko, że całkiem dobrze znam te zarzuty i ludzi za nimi stąjących, których generalnym błędem
            jest założenie, iż On jest tylko człowiekiem. Nie mam żadnych wątpliwości co do tego, że Baba będzie
            przez tysiąclecia sławiony i czczony, jako najwyższa w znanych dziejach ludzkości postać na Ziemi, a
            wszystkie przyszłe pokolenia będą nam zazdrościć wielkiego przywileju życia w Jego czasach.
        </p>
    </article>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">O sobie</li>
        </ol>
    </nav>
</section>