<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Wychowywanie w wartościach ludzkich</li>
                </ol>
            </nav>
            <article class="container">
                <article class="container">
                    <h2>Sprawdź sam jak płodnością i płcią rządzi Księżyc</h2>
                    <p>Strona ta składa się z dwóch części: </p>
                    <ul class="list-group">
                        <li class="list-group-item">Wyjątków z pewnego artykułu, w którym donosi się o odkryciu cyklu płodności kobiet
                            związanego ściśle z fazami Księżyca</li>
                        <li class="list-group-item">Prezentacji mojego programu, który generuje praktyczne obliczenia tego cyklu w
                            oparciu o datę i czas urodzenia się kobiety. Program ten można pobrać pod wskazanym w tej części adresem.
                        </li>
                    </ul>
                    <p>
                        Cytując artykuł, pominąłem nieistotne w tym kontekście opisy ciernistej drogi odkrywcy, który musiał borykać się
                        z oporem materii socjalistycznej rzeczywistyści tamtych czasów a także z nieufnością ortodoksyjnych lekarzy. Ta
                        nieufność do nienaukowej astrologii normalnie nie powinna specjalnie dziwić, jako że mało jest solidnych
                        potwierdzeń faktycznego wpływu układu planet na życie ludzi. Odkrycie Jonasa wydaje się jednak bazować właśnie
                        na danych eksperymentalnych i weryfikowalnych. W moim odczuciu wyniki przedstawione przez tego lekarza, jeśli
                        nie są naciągane, są w ogóle najdobitniejszym dowodem na istnienie takiego wpływu. O ile pamiętam, inne dowody
                        opierały się na kilku-, co najwyżej kilkudziesięcioprocentowych korelacjach, gdy tu jest bardzo blisko 100%!
                        Jedyne, co budzi moje wątpliwości, to ten wręcz niesłychany stopień korelacji położenia Księżyca z płcią
                        poczętego dziecka. Dziwi mnie też to, że w ciągu tych kilkudziesięciu lat, jakie upłyneły od pierwszych
                        publikacji, astrologowie prawie wcale nie szermowali tym nad wyraz mocnym argumentem na korzyść astrologii.
                        Prywatnym potwierdzeniem działania opisanej tu metody wyboru płci dziecka jest wiadomość od przyjaciela, który
                        zapoznawszy się z pierwszą wersją tej strony, poinformował mnie, że przed laty właśnie takim sposobem 'dorobił'
                        się syna po córce (korzystał wtedy z opisu w jakiejś książce).
                    </p>
                    <p>
                        Wiedza o terminach dni płodnych może też przyczynić się do naturalnego uniknięcia niechcianej ciąży, a tym samym
                        chociaż w niewielkim stopniu ograniczyć prawdziwą rzeź niewiniątek, jaką obserwujemy na całym świecie w postaci
                        przerywania ciąży. Tę stronę i łatwy w obsłudze program udostępniam mając to na uwadze.
                    </p>
                    <p>
                        <blockquote class="blockquote text-right">
                            <h4>Narodziny w rytmie faz Księżyca</h4>
                            <h5>Dr Jonas [czeski lekarz] ustalił, że niezależnie od cyklu miesiączkowego dni płodne następują wówczas,
                                kiedy Księżyc znajduje się w fazie, w jakiej był on w momencie narodzin danej kobiety, i że cykl ten
                                przez całe życie jest niezmienny. Utrzymuje on również, że w momencie zapłodnienia o przyszłej płci
                                dziecka decyduje pozycja Księżyca w znaku męskim lub żeńskim.</h5>
                            <p> Metoda ta wychodzi z założenia (potwierdzonego w toku badań naukowych), że przyczyną licznych
                                nieprzewidzianych ciąż, jakie pojawiają się przy stosowaniu naturalnej antykoncepcji, jest istnienie nie
                                znanego dotychczas drugiego – oprócz miesiączkowego – cyklu płodności kobiety. Ten drugi cykl płodności
                                podlega rytmom kosmicznym (wpływowi planet, a w szczególności Księżyca); stąd i nazwa: "metoda
                                kosmobiologiczna." Jak więc widać, wspomniana metoda stanowi praktyczną konsekwencję, opisywanego w
                                numerze 12/93 "Nieznanego Świata", zjawiska oddziaływania Księżyca na organizmy żywe.
                                Metoda kosmobiologiczna jest uzupełnieniem naturalnych sposobów zapobiegania ciąży. Nie zastępuje ich –
                                chociaż dopiero ona gwarantuje ich skuteczność, oprócz tego zaś stwarza dodatkowe, nieznane dotychczas
                                możliwości w sferze planowania rodziny, a to w dwojaki sposób. Po pierwsze, dzięki metodzie tej można
                                wyznaczyć termin owulacji z dokładnością do godziny, co daje szansę zajścia w ciążę kobietom, które
                                miały z tym trudności. Po drugie – daje ona możliwość wyboru płci dziecka z blisko stuprocentowym
                                prawdopodobieństwem trafnej diagnozy.
                            </p>
                            <footer class="blockquote-footer">Fragmenty artykułu z <cite title="Source Title">Nieznanego Świata, Nr
                                    7-8/1994, str. 71-73</cite></footer>
                        </blockquote>
                    </p>
                    <p>
                        <blockquote class="blockquote text-right">
                            <p>
                                W trakcie swej lekarskiej praktyki dr Jonas dokonał spostrzeżenia, że kobiety o dużej wrażliwości
                                odczuwały cyklicznie powtarzające się okresy wzmożonego pociągu seksualnego. Co prawda punkt szczytowy
                                tej fazy u każdej z badanych kobiet przypadał na inny dzień, lecz za to powracał <strong>regularnie i
                                    niezmiennie po upływie niespełna 30 dni.</strong>
                            </p>
                            <p>
                                Fakt, że owulacji w obrębie kobiecego cyklu towarzyszy faza wzrastającej pobudliwości seksualnej, jest
                                powszechnie znany. Jednakże daty ustalone przez dr Jonasa często nie pokrywały się z terminem
                                jajeczkowania.
                            </p>
                            <p>
                                Kontynuując swoje poszukiwania zaczął on gromadzić wszelkie dostępne dane, a także dogłębnie
                                przeanalizował astronomiczno-astrologiczne oraz ginekologiczne uwarunkowania odkrytego przezeń zjawiska.
                                Później nastąpiła faza obliczeń, szeregowania wyników w tabelkach i ich interpretacji. Na końcu dr Janas
                                dokonał niemalże epokowego odkrycia: <strong>oprócz znanego nam cyklu miesiączkowego ponad wszelką
                                    wątpliwość istniał jeszcze drugi, indywidualny cykl płodności, który ustalał się w momencie narodzin
                                    kobiety i precyzyjnie wybijał rytm przez wszystkie jej płodne lata.</strong> Ten drugi cykl jest
                                wyznaczony przez fazę Księżyca w chwili, kiedy kobieta przyszła na świat. Każde ponowne wejście Księżyca
                                w tę fazę oznacza czas płodny i możliwość poczęcia.
                            </p>
                            <p>
                                W ten sposób w ręku doktora Jonasa znalazł się klucz, za pomocą którego można dokładnie przewidzieć
                                najpłodniejsze dni każdej kobiety. Wyliczenia te mogą zostać wykorzystane w dwojaki sposób: <strong>by
                                    zapobiec poczęciu lub zwiększyć prawdopodobieństwo zajścia w ciążę.</strong>
                            </p>
                            <p>
                                Należy przypuszczać, że w czasach, kiedy ludzie w znacznie większym stopniu żyli w wewnętrznej harmonii
                                z rytmami Kosmosu, comiesięczna owulacja pokrywała się z właściwą fazą Księżyca tak, że na ogół nie było
                                wtedy dwóch cykli. U niektórych kobiet zjawisko to ma miejsce także dzisiaj. Inne z kolei zauważyły, że
                                ich cykl miesiączkowy przestawił się na cykl "księżycowy", gdy przez pewien czas żyły w większej
                                zgodności z rytmem przyrody.
                            </p>
                            <p>
                                To samo dzieje się u kobiet, które od conajmniej sześciu miesięcy usiłowały zajść w ciążę – jak wykazało
                                niedawno pewne studium "Planetary Eugenics" z Kaliforni. Również u nich cykl miesiączkowy przesunął się
                                w ten sposób, że okres jajeczkowania coraz bardziej zbliżał się do fazy płodnej w cyklu "księżycowym".
                                <strong>Najwidoczniej silna chęć posiadania dziecka jest w stanie wywołać w organizmie kobiety zmiany,
                                    które w naturalny sposób ułatwią osiągnięcie tego celu.</strong>
                            </p>
                            <p>
                                To, że rytm dyktowany przez fazy Księżyca ma większą siłę oddziaływania na organizm kobiety niż zwykły
                                cykl miesiączkowy, wynika również z następującej obserwacji: jeśli u kobiet, które od dłuższego czasu
                                nie miały owulacji, chcemy ją ponownie wywołać za pomocą specjalnego masażu tkanki łącznej, wówczas
                                zabieg ten rokuje o wiele większe nadzieje, gdy rozpocznie się go parę dni przed przewidywanym terminem
                                owulacji w cyklu "księżycowym", a nie, jeśli zostanie on dokonany w przypadkowym terminie czy też w
                                połowie cyklu miesiączkowego.
                            </p>
                            <p>
                                Ze statystyk różnych klinik położniczych na świecie wynika, że <strong>najwięcej dzieci przychodzi na
                                    świat około pełni księżyca</strong>, w drugiej zaś kolejności w okolicy nowiu. U wszystkich
                                dziewczynek, które rodzą się w tych dwóch fazach Księżyca, dni płodne w cyklu "księżycowym" pojawiają
                                się znów około pełni albo nowiu. Bardzo możliwe, że i ten rytm stanowi pewną naturalną prawidłowość, od
                                której człowiek w znacznym stopniu się oddalił.
                            </p>
                            <p>
                                [...] W tym czasie czeski badacz miał okazję zebrać i porównać wiele tysięcy przypadków. Jego teza
                                okazała się całkowicie niepodważalna. Ponadto dokonał on jeszcze jednego sensacyjnego odkrycia: okazało
                                się, że na podstawie obliczeń astrologicznych <strong>można ustalić z blisko 100-procentową
                                    nieomylnością przyszłą płeć dziecka.</strong>
                            </p>
                            <p>
                                Klasyczna astrologia rozróżnia męskie i żeńskie znaki zodiaku. I tak np. Lew jest znakiem męskim, Panna
                                – żeńskim, Waga – znów męskim, Skorpion – żeńskim itd. W trakcie swojej wędrówki przez zodiak Księżyc
                                mniej więcej co dwa i pół dnia przechodzi ze znaku męskiego do żeńskiego i na odwrót. Dr Jonas odkrył,
                                że <strong>pozycja Księżyca w znaku męskim lub żeńskim w momencie poczęcia decyduje o przyszłej płci
                                    dziecka.</strong>
                            </p>
                            <p>Po tym odkryciu opracował on 8000 wyliczeń dla kobiet, które życzyły sobie, aby ich dziecko miało
                                określoną płeć. Mimo istnienia prawdopodobieństwa, że niektóre z tych kobiet nie dotrzymały wyznaczonego
                                terminu poczęcia, <strong>95% spośród nich urodziło dzieci o płci zgodnej z "zamówieniem".</strong>
                            </p>
                            <p>
                                [...] Nowsze badania potwierdzają, że za pomocą systemu dr Jonasa możliwy jest wybór przyszłej płci
                                dziecka z 98-procentowym prawdopodobieństwem sukcesu.
                            </p>
                            <p>
                                [...] Metoda kosmobiologiczna jest więc tymczasem jeszcze bardzo mało znana. Jak twierdzi dr H. Farsky z
                                Zurychu, obecnie w Europie działa około 60 lekarzy, którzy zajmują się rozpowszechnianiem tego systemu.
                                Ci, odpowiednio przeszkoleni przedstawiciele świata medycyny, na życzenie sporządzają dla swoich
                                pacjentów dokładny roczny kalendarz płodności.
                            </p>
                            <p>
                                Zapytane przez nas kobiety zapłaciły za takie wyliczenia 150 do 280 marek. Pomimo, że wszystkie bez
                                wyjątku były bardzo zadowolone z rezultatów – również za inne środki trzeba przecież płacić – możliwe,
                                że opłata tej wysokości stanowi dodatkowy czynnik, który przeszkadza popularyzacji omawianej metody.
                            </p>
                            <p>
                                Istnieje też wiele książek mówiących o teoretycznych założeniach kosmobiologicznej regulacji poczęć. Nie
                                podano w nich jednak, o ile wiadomo, adresów, pod którymi można zamówić wyliczenia. Nie zawierają one
                                także praktycznych wskazówek, jak samodzielnie dokonać takich obliczeń.
                            </p>
                            <p>
                                Kolejnym powodem powolnego rozpowszechniania metody dr Jonasa jest niewątpliwie również
                                <strong>astrologiczno-astronomiczny składnik</strong> tej koncepcji. Wielu naukowców nie ma do niego
                                zaufania. <strong>Wynika to w dużej mierze z uprzedzeń lub niewiedzy, po części jednak jest uzasadnione
                                    nierzetelnością niektórych astrologów, a nade wszystko horoskopów prasowych.</strong>
                            </p>
                            <p>
                                Ponadto istnienie drugiego, niezależnego cyklu płodności u kobiety nie mieściło się w ramach
                                dotychczasowych twierdzeń naukowych. Mniej konsrwatywni ginekolodzy przyznają jednak, że całokształt
                                problemów, które wiążą się w kobiecym organizmie z jajeczkowaniem, nie został do dziś do końca
                                wyjaśniony. Amerykańscy seksuolodzy Masters i Johnson twierdzą np., że istnieje kilka owulacji i że
                                nawet stosunek płciowy, względnie orgazm może wywołać dodatkową owulację (w przypadku królików fakt ten
                                został udowodniony). Być może u kobiety dodatkowa owulacja pojawia się wówczas, gdy stosunek płciowy
                                przypada na czas płodny w obrębie cyklu "księżycowego".
                            </p>
                            <p>
                                Fakt, że u wielu kobiet doszło do zapłodnienia w fazie przed, w trakcie oraz tuż po miesiączce, a więc w
                                okresie, który uważany jest za niepłodny, również wskazuje na istnienie jakiegoś dodatkowego, nieznanego
                                dotychczas uwarunkowania. Jedynie część takich przypadków w zadowalający sposób udaje się wyjaśnić tym,
                                iż pod wpływem szczególnej sytuacji stresowej, choroby itp. owulacja niepostrzeżenie przesunęła się w
                                czasie.
                            </p>
                            <p>
                                Już w roku 1930 Harold Saxton Burr i jego współpracownicy z Uniwersytetu w Yale wykryli, że w całkiem
                                nieoczekiwanym momencie, w fazie między dwiema miesiączkami, może dojść do owulacji. [...] Tylko u 30%
                                badanych kobiet nie zaobserwowano owulacji poza "prawidłowym" czasem. U 70% z nich natomiast
                                jajeczkowanie pojawiało się niekiedy w dniach, kiedy zgodnie z panującymi teoriami nie powinno nastąpić.
                                [...].
                            </p>
                            <footer class="blockquote-footer">Hanna Schultke</footer>
                        </blockquote>
                    </p>
                    <h3>Obliczanie dni płodnych i płci dziecka</h3>
                    <p>
                        Jedną z przeszkód upowszechnienia tej naturalnej metody regulacji urodzin wymieniono problemy z dostępem do
                        odpowiednich obliczeń. Tak było dawniej, gdy komputery nie były tak powszechnie dostępne, jak obecnie. W istocie
                        obliczenia są dużo prostsze niż np. przy generowaniu horoskopu. Ale też nie są trywialne. Przede wszystkim
                        potrzebne są procedury obliczania położeń Słońca i Księżyca, a są one zasadniczo powszechnie dostępne. Położenie
                        Księżyca na niebie liczone wzdłuż ekliptyki, czyli jego tzw. długość ekliptyczna mówi, w którym znaku zodiaku
                        się on znajduje (znaki zajmują po 30 stopni długości ekliptycznej). Czyli mamy stąd informację o płci. Różnica
                        długości ekliptycznych Słońca i Księżyca to faza Księżyca (przy 0 stopniach jest nów, przy różnicy równej 180
                        stopni – pełnia).
                    </p>
                    <p>
                        Na tych podstawach jeszcze w 1994 r. przygotowałem fortranowski program do obliczania kalendarza cyklu
                        księżycowego, o którym mowa w powyższym artykule. Program ten, o nazwie Cykle udostępniam tutaj, obecnie w nieco
                        udoskonalonej postaci, za darmo jako <a href="http://www.astro.uni.torun.pl/~kb/Efemerydy/Cykle.exe"> plik
                            wykonawczy</a>. Obecna wersja ma dokładniej obliczane położenia Słońca (lepiej niż 2") i Księżyca (błąd
                        mniejszy od 10"). Po uruchomieniu pod Windowsami program otwiera okno DOS-owe, w którym użytkownik podaje
                        kolejno:
                        <ul class="list-group">
                            <li class="list-group-item">Dane urodzenia kobiety, tj. <br>
                                Rok <br>
                                Miesiąc (od 1 do 12) <br>
                                Dzień (od 1 do 31) <br>
                                Godzinę i minuty w postaci hhmm, np. 305 (trzecia pięć) lub 2345 (za kwadrans północ) <br>
                                Numer strefy czasowej (1 dla czasu zimowego w Polsce, 2 – dla czasu letniego)</li>
                            <li class="list-group-item">Przedział lat, dla których ma być liczony kalendarzyk (np. 2008, 2010).</li>
                            <li class="list-group-item">Nazwę pliku na wyniki obliczeń (domyślnie Cykle.txt) <br>
                                Program może za jednym razem objąć maksymalnie 620 miesięcy księżycowych, czyli 50 lat. </li>
                            <li class="list-group-item">Numer strefy czasowej dla wyników oraz wskaźnik (0 lub 1) mówiący, czy w
                                kalendarzu uwzględniać zmianę czasu na letni (1), czy nie (0). Jeżeli użytkownik wybierze domyślną opcję
                                z czasem letnim, zostanie dodana 1 godzina do czasów obliczonych w okresie między ostatnią niedzielą
                                marca i ostatnią niedzielą października, licząc niedziele od godziny 1:00 UTC czyli GMT (tj. od 2:00 CSE
                                czyli czasu środkowoeuropejskiego). Należy pamiętać, że ta reguła na okres czasu letniego obowiązuje u
                                nas od 1996 r. i kiedyś może zostać zmieniona.</li>
                        </ul>
                    </p>
                    <p>
                        Każdą wpisaną liczbę program powtarza w celu ewentualnego poprawienia (ponownego wpisania) lub zaakceptowania
                        przez użytkownika poprzez naciśnięcie klawisza Enter (w przypadku problemów można przyjrzeć się <a
                            href="http://www.astro.uni.torun.pl/~kb/Efemerydy/CyklePrzyklad.gif"> przykładowemu zrzutowi okna DOS </a>z
                        zaznaczonymi wpisami użytkownika; strzałka oznacza Enter).
                    </p>
                    <p>
                        Zawartość pliku wynikowego może wyglądać np. tak:
                        <pre>                        KALENDARZ CYKLU KSIEZYCOWEGO na lata 2008-2010
                        dla kobiety urodzonej w dniu 1982 04 20 o godz. 13:41 czasu strefy Nr  2
                        [0=GMT, 1=CSE (zimowy w Polsce), 2=CWE (letni w Polsce) itd.]. Faza Ksiezyca
                        w tym momencie wynosi 316.0 stopni (ok. 26 dni po albo  4 dni przed nowiem).
                       
                        W kazdym slupku podano datę: miesiac, nizej - dzien, nizej - godzine i
                        minuty (hh:mm), w czwartym wierszu - plec (M - chlopiec, F - dziewczynka)
                        oraz znak zodiaku, a w piatym - liczbe godzin od momentu wejscia Ksiezyca 
                        w ten znak i do wyjscia z niego (w sumie, przed zaokragleniem, 54.6 godzin).
                        Daty i godziny podano w czasie strefy  1 (czas zimowy) i  2 (letni).
                        <pre>
                       
                              Kalendarz dni plodnych w roku 2008 (czas letni od 30 III do 26 X)
                          I     II   III    IV    V     V     VI   VII   VIII   IX    X     XI   XII 
                         4 Pi  3 Ni  4 Wt  2 Sr  2 Pi 31 So 30 Po 29 Wt 27 Sr 25 Cz 25 So 23 Ni 23 Wt
                        14:13 10:38  5:15 21:50  9:52 18:39  1:11  6:46 12:45 20:24  6:41 19:12 12:04
                        F Sko M Str F Koz M Wod F Ryb M Bar F Byk M Bli F Rak M Lew F Pan M Wag F Sko
                        54 .9 54 .2 55 .1 54  1 51  3 48  6 45 10 41 14 37 17 35 20 33 22 32 22 33 22
                       
                              Kalendarz dni plodnych w roku 2009 (czas letni od 29 III do 25 X)
                          I     II   III    IV    V     VI   VII   VIII   IX    X     XI   XII 
                        22 Cz 21 So 22 Ni 21 Wt 21 Cz 19 Pi 19 Ni 17 Po 15 Wt 14 Sr 13 Pi 12 So
                         7:34  4:07 23:37 17:23  6:45 17:06  1:18  8:21 15:08 22:32  6:28 17:55
                        M Str F Koz M Wod F Ryb M Bar F Byk M Bli F Rak M Lew F Pan M Wag F Sko
                        33 21 34 21 34 21 32 23 30 25 26 28 23 32 19 36 16 39 14 41 13 42 12 42      
                       
                              Kalendarz dni plodnych w roku 2010 (czas letni od 28 III do 31 X)
                          I     II   III    IV    V     VI   VII   VIII   IX    X     XI   XII   XII 
                        11 Po 10 Sr 11 Cz 10 So 10 Po  9 Sr  8 Cz  7 So  5 Ni  4 Po  3 Sr  2 Cz 31 Pi
                         8:30  2:01 21:10 17:05 10:16  1:08 13:42  0:20  9:26 17:33  0:24  8:56 19:05
                        M Str F Koz M Wod F Ryb M Bar F Byk M Bli F Rak F Rak M Lew F Pan M Wag F Sko
                        13 42 13 42 13 42 12 43 10 45  7 47  4 51 .5 54 52  3 50  5 48  7 47  7 47  7
                        -----------------------------------------------------------------------------
                       
                                        Obliczenia wykonano programem CYKLE 2.0 (KMB) dnia 2008.09.03</code></pre></pre>
                    </p>
                    <p>
                        Dane te mogą posłużyć jako test, gdyż dostaje się je po zaakceptowaniu przez użytkownika wszystkich wartości
                        domyślnych, tj. używając wyłącznie klawisza ENTER (wtedy też wyniki znajdą się w pliku Cykle.txt). Nieco inny
                        opis tabelek dostaje się przy generowaniu kalendarzy z jednym czasem strefowym dla całego roku (tj. bez czasu
                        letniego od wiosny do jesieni).
                    </p>
                    <p>
                        Na początku powyższej tabelki, dla kalendarzyka na 2008 r., w górnym wieszu jest tutaj: 'I', co oznacza miesiąc
                        styczeń. Niżej mamy '4 Pi' czyli 4 dzień miesiąca i piątek. Poniżej tej daty znajduje się moment czasu 14:13
                        (czternasta trzynaście, tutaj: czasu strefy 1 czyli czasu środkoweuropejskiego) optymalny na poczęcie dziecka,
                        które będzie rodzaju żeńskiego (litera F w czwartym wierszu, poniżej godziny). Płeć dziecka determinuje pobyt
                        Księżyca w znaku zodiaku (tutaj skrót Sko oznacza znak Skorpiona), więc można się spodziewać dodatkowej
                        nieokreśloności na granicy znaków. Tę niepewność można oszacować w oparciu o dwie liczby widniejące w ostatnim
                        wierszu: pierwsza wyraża czas w godzinach (tutaj 54 godziny), od kiedy Księżyc już przebywa w tym znaku, a druga
                        – ile godzin jeszcze w nim pozostanie (tutaj jest .9 czyli tylko 0.9 godzin; liczby poprzedzone kropką dotyczą
                        wyłącznie wartości mniejszych niż 0.95 godziny, w przeciwnym wypadku są one zaokrąglane do liczb całkowitych). W
                        tym przypadku formalnie pozostaje więc mniej niż 1 godzina do zmiany płci (związanej z przejściem Księżyca w
                        następny znak), co raczej wyklucza wybór tego terminu na zaplanowanie upragnionej dziewczynki. Najlepiej, gdy
                        lewa i prawa liczba są porównywalne (bo znaczy to, że Księżyc znajduje się w okolicy środka znaku zodiaku).
                        Analogicznie, ostatnie dane z 2010 r. oznaczają dzień 31 grudnia i godzinę 19:05; tu również płeć żeńska nie
                        jest zbyt pewna, gdyż Księżyc wejdzie do znaku męskiego już za ~7 godzin, licząc od tej optymalnej godziny
                        poczęcia, tj. od 19:05.
                    </p>
                    <p>
                        Jeśli nie możemy skorzystać z reguł czasu letniego 'zaszytych' w programie, praktyczne mogłoby być generowanie
                        dwóch kalendarzy: jednego na czas zimowy (np. z opcjami strefy 1, 0, zamiast domyślnych 1, 1), drugiego – na
                        czas letni (opcje 2, 0). Użytkownik powinien dobrze zapamiętać, że gdy wygeneruje kalendarzyk cały w czasie
                        środkowoeuropejskim (zimowym), wtedy w okresie obowiązywania czasu letniego do wszystkich godzin tabelki musi
                        dodać 1 godzinę (gdy w wyniku dodawania uzyska godzinę większą niż 24:00, znaczy to, że moment wypada w
                        następnym dniu!).
                    </p>
                    <p>
                        KMB, 27 sierpnia 2008 r.
                        Ostatnia zmiana: 3 września 2008
                    </p>
                    <h3>Dodatek (dopisany 3 kwietnia 2013 r.)</h3>
                    <p>Do badań statystycznych opisanej prawidłowości, tj. związku płci dziecka ze znakiem zodiaku, w którym Księżyc
                        przebywał w czasie zapłodnienia, potrzebne są tablice astrologiczne. Przeglądając literaturę, znalazłem takie
                        tablice w książce Joanny M. Woolfolk pt. The only astrology book you’ll ever need (wyd. popr. z 2006 r.).
                        Wprawdzie obejmują one lata 1900 – 2100, ale można z nich odczytać tylko dzień wstępowania Księżyca w dany znak.
                        Ponieważ Księżyc przebywa w danym znaku zaledwie nieco ponad dwa dni, istotne jest, czy wstąpił tam na początku
                        doby, czy pod jej koniec, a także o jakiej porze dnia przeszedł do następnego znaku. W związku z tą sytuacją
                        przygotowałem własny program do wyznaczania momentów wkraczania Księżyca do poszczególnych znaków z dokładnością
                        do ułamka sekundy w oparciu o bardzo dokładne efemerydy Jet Propulsion Laboratory DE/LE405, które są powszechnie
                        używane przez astronomów do precyzyjnych obliczeń wszelkich zjawisk w Układzie Słonecznym.</p>
                    <p>
                        Tabelę dat i godzin czasu środkowo-europejskiego można pobrać <a
                            href="http://www.astro.uni.torun.pl/~kb/Efemerydy/ZodM1950-2050.txt">stąd </a> w postaci pliku tekstowego o
                        nazwie ZodM1950-2050.txt. Taki format jest wygodny do czytania programem komputerowym, ale można z tego pliku
                        korzystać także wczytując go do dowolnego edytora tekstowego. Ponieważ tabela jest szeroka (154 znaki), to aby
                        jej nie "rozsypać", należy w edytorze wyłączyć zwijanie wierszy i wybrać czcionkę typu maszynowego, np. Courier.
                    </p>
                    <p>
                        Tabela składa się z ok. 1350 wierszy i 38 kolumn. Pierwsza i ostatnia kolumna zawiera rok. Między nimi jest
                        dwanaście grup kolumn odpowiadających poszczególnym znakom zodiaku. Każda grupa zawiera kolejno numer miesiąca
                        (kolumna oznaczona MM; tutaj liczba 1 odpowiada styczniowi) roku podanego z lewej lub prawej strony tabeli,
                        dzień tego miesiąca (dd) i godzinę z minutami (hh.mm). Oto początkowy fragment tej tabeli z wyciętymi środkowymi
                        grupami kolumn (dla znaków od Lwa do Koziorożca).
                        <pre><code>Rok MM dd hh.mm MM dd hh.mm MM dd hh.mm MM dd hh.mm  ...  MM dd hh.mm MM dd hh.mm  Rok
                        Baran        Byk     Bliznieta       Rak     ...     Wodnik       Ryby   
                1949 12 26 21.05 12 29  9.58 12 31 22.13  1  3  7.56  ...   1 18 13.07  1 20 19.41 1950
                1950  1 23  5.37  1 25 18.08  1 28  6.43  1 30 16.50  ...   2 14 20.57  2 17  4.11 1950
                1950  2 19 14.01  2 22  2.12  2 24 15.03  2 27  2.03  ...   3 14  2.52  3 16 10.59 1950
                1950  3 18 21.21  3 21  9.32  3 23 22.28  3 26 10.17  ...   4 10  8.24  4 12 16.38 1950
                1950  4 15  3.32  4 17 16.00  4 20  4.54  4 22 17.02  ...   5  7 15.22  5  9 22.34 1950
                1950  5 12  9.18  5 14 21.59  5 17 10.52  5 19 22.50  ...   6  4  0.18  6  6  5.57 1950
                1950  6  8 15.44  6 11  4.12  6 13 17.05  6 16  4.45  ...   7  1 10.19  7  3 14.51 1950
                1950  7  5 23.24  7  8 11.13  7 11  0.02  7 13 11.34  ...   7 28 19.55  7 31  0.19 1950
                1950  8  2  8.03  8  4 19.06  8  7  7.44  8  9 19.27  ...   8 25  3.53  8 27  9.02 1950
                1950  8 29 16.44  9  1  3.19  9  3 15.45  9  6  3.54  ...   9 21  9.59  9 23 16.09 1950
                1950  9 26  0.32  9 28 11.08  9 30 23.26 10  3 11.59  ...  10 18 15.27 10 20 21.53 1950
                1950 10 23  6.59 10 25 18.03 10 28  6.22 10 30 19.03  ...  11 14 22.14 11 17  3.38 1950
                1950 11 19 12.39 11 22  0.08 11 24 12.38 11 27  1.13  ...  12 12  7.34 12 14 11.10 1950
                1950 12 16 18.58 12 19  6.10 12 21 18.49 12 24  7.18  ...   1  8 18.35  1 10 20.56 1951
                1951  1 13  3.05  1 15 13.10  1 18  1.36  1 20 14.06  ...   2  5  5.04  2  7  7.29 1951
                1951  2  9 12.43  2 11 21.33  2 14  9.18  2 16 21.51  ...   3  4 13.11  3  6 16.45 1951
                1951  3  8 22.16  3 11  6.33  3 13 17.36  3 16  6.06  ...   3 31 19.02  4  2 23.44 1951
                1951  4  5  6.16  4  7 14.52  4 10  1.41  4 12 14.04  ...   4 28  0.32  4 30  5.13 1951
                1951  5  2 12.26  5  4 21.47  5  7  8.51  5  9 21.13  ...   5 25  7.41  5 27 11.05 1951
                1951  5 29 17.53  6  1  3.33  6  3 15.03  6  6  3.31  ...   6 21 17.04  6 23 18.49 1951</code></pre>
                    </p>
                    <p>Księżyc przechodzi kolejno przez znaki od lewej ku prawej. Np., tak jak zaczyna się tabela, 26 grudnia 1949 r. o
                        godz. 21:05 (czasu środkowo-europejskiego) wstąpił do znaku Barana, 29 grudnia o 9:58 do Byka, 31 grudnia o
                        22:13 do Bliźniąt, a do Raka już w następnym roku (1950; podanym z prawej strony tabeli) 3 stycznia o 7:56. </p>
                    <p>
                        W tabeli podano tylko obliczenia dla lat 1950 – 2050, gdyż z wcześniejszych lat raczej nie będzie danych
                        statystycznych o zapłodnieniach. Z drugiej strony, w przyszłych latach znacząco odległych od współczesności nie
                        jest znana relacja czasu efemeryd (dynamicznego) i czasu ziemskiego, ze wzgledu na nieregularność rotacji Ziemi.
                        Chociaż dokładność 1 minuty czasu tej tabeli zapewne udałoby się zachować na następne 100 lat, to jednak za
                        kilkadziesiąt lat można będzie takie dane obliczyć na nowo z uaktualnionymi relacjami wspomnianych czasów, a do
                        tego czasu te dane i tak byłyby bezużyteczne dla celu wymienionego na początku tego Dodatku. Jeśli jednak komuś
                        są potrzebne podobne obliczenia dla innych lat, łatwo mogę wygenerować odpowiednią tabelę, podobną do wyżej
                        opisanej. Chcę też dodać, że sam nie mam w planach badań statystycznych opartych o te obliczenia oraz ewentualne
                        dane być może dostępne np. w szpitalach (z porodówkami). Udostępniając powyższą tabelę liczę, że może przydać
                        się lekarzom w ich badaniach.
                    </p>
                </article>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Wychowywanie w wartościach ludzkich</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        http://www.astro.umk.pl/~kb/personal.html>my site in <img src="../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>