<article class="container">
    <h2>Rozmaitości z progu Złotego Wieku</h2>
    <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item"><a href="ksiezycowe_cykle_plodnosci.html">Księżycowe cykle płodności.</a></li>
      </ul>
</article>