<article class="container">

</article>

<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Wyzwanie roku 2000</h2>

                <h4 class="text-center my-5">>Wykład <a href="../Nauki/Adwajta.htm">
                    Davida Jevonsa</a> z dnia 9 lipca 2000&nbsp;r. w Langley, Kanada</h4>
                <p>
                Gdy tak patrzę na to wielkie zgromadzenie cieszę się ogromnie 
                widząc wiele znajomych twarzy. Wiem, że wielu z was przebyło duże 
                odległości, nawet z innych krajów, aby być tutaj tego ranka. Ann i 
                ja odczuwamy pokorę wobec takiego oddania. W moim pojęciu rodzina Sai, 
                której wszyscy jesteśmy częścią, jest czymś, co winniśmy cenić 
                bardzo wysoko. Prawda jest taka, że gdziekolwiek znajdziecie się na 
                świecie, jeśli spotkacie kogoś z tej rodziny Sai, wiecie od razu, jak 
                zostaniecie potraktowani, jakimi wartościami ludzkimi będziecie się 
                dzielić, jaką drogą oddania pójdziecie. Naprawdę jesteśmy jedną 
                globalną rodziną, która wyrasta ponad podziały rasowe, kulturowe 
                i wyznaniowe i którą łączy wspólna miłość do Sai Baby i nasze 
                pragnienie pomagania mu w jego boskiej misji. Kiedy więc Ann i ja 
                otwieramy dziś przed wami nasz dom, robimy to wiedząc na pewno, że 
                wy zrobilibyście to samo dla nas. W końcu nasz dom w rzeczywistości 
                nie jest naszym, gdyż nie posiadamy nic. Wszystko należy do Boga. Tak 
                naprawdę nie jesteśmy z Ann dla was dziś gospodarzami. Gospodarzem 
                jest Bóg, a my jesteśmy po prostu Jego realizatorami. 
                <p>
                Tutaj, w Kolumbii Brytyjskiej, w przeszłości byliśmy raczej na 
                peryferiach wydarzeń świata, zwłaszcza jeśli chodzi o Organizację 
                Sai. Ma to oczywiście i dobre i złe strony. Często jako ostatni 
                słyszymy najświeższe wiadomości albo pogłoski, z powodu strefy czasowej, 
                w jakiej żyjemy oraz ponieważ jesteśmy bardzo oddaleni od głównych 
                ośrodków komunikacyjnych świata. Z drugiej strony, jeśli nie 
                słyszeliśmy czegoś, nie musieliśmy się tym martwić i mogliśmy 
                skupiać się na naszych celach. Dziś jednak Internet zmienił to 
                wszystko. Ta puszka Pandory może natychmiastowo rozpowszechniać 
                informacje po całym świecie. Kłamstwa i pogłoski rozchodzą się 
                tak samo szybko, jak prawda. Trzeba więc wykorzystać zdolności 
                rozróżniania i wykazać zdrowy rozsądek w stosunku do tego, co czytamy, 
                gdzie czytamy i w co uwierzymy. Wiem, że właśnie z powodu tego, co 
                opublikowano w Internecie, dla wielu wielbicieli Sai był to bardzo 
                trudny rok. Również dla Ann i dla mnie. Z różnych źródeł na całym 
                świecie w Internecie przewinęło się wiele przygnębiających historii 
                o Sai Babie i działalności Organizacji Sai. Ukazały się strony 
                internetowe oskarżające Sai Babę o nadużycia seksualne, a Organizację 
                o nadużycia finansowe. Strony te odwiedzają tysiące ludzi. W niektórych 
                krajach pojawiły się krytyczne artykuły prasowe oraz reportaże 
                telewizyjne. Słyszy się, że na tym nie koniec. Jak mamy całą tę 
                informację traktować, w szczególności w sytuacjach, gdy się nas 
                do tego wywołuje? 
                </p><p>
                Osobiście wierzę, że te wydarzenia są istotną częścią boskiego 
                dramatu życia, a więc muszą się dokonać. Około trzy lata temu, kiedy 
                byliśmy na <i>interview</i> u Sai Baby, on nie pytany nagle powiedzał 
                ,,<i>Nadchodzi wielki skandal</i>" i ,,<i>Kiedy przyjedziecie tu do 
                <font size="2" face="Arial"></font></i><font size="2" face="Arial">aśramu<i></i></font><i>, dostępne będzie 
                po trzy pokoje dla każdego</i>". Wówczas nie rozumieliśmy, co to ma 
                znaczyć, ale być może odnosiło się to do zjawisk, jakie odsłaniają się 
                obecnie przed nami na całym świecie. Osobiście wierzę, że stanowią 
                one gigantyczną <i>lilę</i>, czyli boską grę, którą Sai Baba zainicjował 
                w dwóch celach. Po pierwsze, ma ona stanowić próbę wiary jego 
                wielbicieli. Każde z nas musi indywidualnie zdecydować, jak będzie 
                reagować na te historie. Po drugie, ma na celu skłonienie nas do zbadania 
                rzeczywistości postaci fizycznej, w szczególności fizycznej postaci 
                Sai Baby. Jest faktem, a mogę zaświadczyć o tym przed wami opierając 
                się na własnym doświadczeniu, że im bardziej zbliżycie się do 
                Sai Baby, tym trudniejsze stają się te stosunki. Im bardziej zbliżycie 
                się do ognia, tym pewniejsze jest, że się poparzycie. Znam niektórych 
                najbardziej oddanych wielbicieli Sai Baby, którzy nigdy nie byli w Indiach, 
                którzy go nigdy nie widzieli ani nie rozmawiali z nim, ale którzy mają 
                absolutną wiarę w to, kim i czym on jest. Z drugiej strony, ci z nas, 
                którzy mieli bliższy kontakt z Sai Babą, byli zmuszeni pogodzić się 
                z pytaniem o jego postać. Czujemy potrzebę pytania i analizowania, 
                dlaczego decyduje się on zachowywać w określony sposób, dlaczego robi 
                to, co jest dla nas rzeczą niewłaściwą, mimo faktu, że ostrzegał nas 
                ,,<i>Nigdy nie próbujcie mnie zrozumieć</i>". 
                </p><p>
                Musimy zdawać sobie sprawę z tego, że Sai Baba, tak jak my, odgrywa rolę 
                w tym wielkim dramacie życia. On nie jest swoim ciałem, tak samo jak my 
                nie jesteśmy naszymi ciałami. Wszyscy jesteśmy aktorami odgrywającymi 
                jakieś role. Wszyscy jesteśmy aspektami Boga, iskrami boskiej energii, 
                które zdecydowały przyjąć postać fizyczną. Istotna jest jednak nie 
                forma fizyczna, lecz aspekt boski, <i>atma</i>, duch, który panuje nad tą 
                formą. Chciałbym teraz przeczytać wam coś, co Sai Baba powiedział całkiem 
                niedawno. ,,<i>Nie dajcie się zwieść tym, że mówię, śmieję się, jem 
                i chodzę tak, jak wy. Nie ulegajcie ułudzie tego poczucia ciała. Wszystkie 
                moje czyny są zawsze bezinteresowne, bezinteresowne, bezinteresowne. Nie 
                ma we mnie ani śladu samolubstwa. Mocno uwierzcie w tę prawdę. Jeśli 
                będziecie mieli pełną wiarę, gdziekolwiek się znajdziecie, wszystkie 
                wasze pragnienia zostaną spełnione nawet bez waszego proszenia. Cierpieć 
                będą tylko ci, którzy nie mają pełnej wiary. Rozwińcie więc ufność. 
                Jest to pierwsza duchowa praktyka, jakiej musicie się podjąć. Musicie 
                zdecydować się podjąć ją teraz. Wyzwolenie można zdobyć w tym życiu. 
                Znają mnie miliony. Miliony do mnie przyjdą, ale tylko garstka osiągnie 
                wyzwolenie.</i>" 
                Sai Baba mówił tak podczas tegorocznego święta Śiwarathri. Wyraźnie 
                ostrzega nas, byśmy nie przywiązywali się do jego postaci i roli, jaką 
                odgrywa, roli która ma jeden i tylko jeden cel, mianowicie pomóc nam 
                osiągnąć wyzwolenie. Niektórzy wielbiciele, których znam, mają zabawne 
                pojęcie o tym, czym jest wyzwolenie. Niektórzy uważają, że jest to 
                dar czy błogosławieństwo, które Sai Baba rozdaje za dobre zachowanie tak, 
                jak słodycze. Zawsze wspominam zdarzenie podczas <i>interview</i> sprzed 
                kilku lat. Sai Baba chodził po pokoju pytając ludzi, czego chcą. Doszedł 
                do pewnej kobiety i spytał: ,,<i>Czego chcesz?</i>", na co ona odpowiedziała 
                bez namysłu: ,,Proszę o wyzwolenie, Swami". Sai Baba popatrzył na nią 
                bardzo surowo i powiedział: ,,<i>Teraz?</i>", co miało znaczyć: ,,Czy 
                jesteś gotowa umrzeć teraz i stracić całą tożsamość duszy?" Kobieta 
                pośpiesznie dodała: ,,Nie teraz, Swami, dopiero kiedy będę na to 
                gotowa!" Wyzwolenie trzeba zdobyć. Trzeba je osiągnąć wkładając 
                w to własny wysiłek. Nie jest to podarunek. Wyzwolenie przychodzi do 
                nas całkiem naturalnie, kiedy uwalniamy się od przywiązań do formy 
                i przestajemy utożsamiać się z ego. <i>Guru</i> nie obdarowuje wyzwoleniem. 
                Pomaga wielbicielowi osiągnąć je, a raczej powinienem powiedzieć — 
                odzyskać je, ponieważ wyzwoleni już jesteśmy. Po prostu zapomnieliśmy 
                o tym. Sai Baba zrobi wszystko, albo powie wszystko jeśli pomoże nam 
                to przypomnieć sobie ten fakt. On nawet poświęci siebie, swoje imię 
                i reputację, jeśli pomoże to nam osiągnąć cel. 
                </p><p>
                Dlaczego tak trudno nam uwierzyć, że nie jesteśmy ciałami? Dlaczego 
                nie możemy zaakceptować faktu, że jesteśmy istotami czysto duchowymi? 
                Dlaczego nie możemy zmienić naszego zaprogramowania i dzięki temu 
                uwolnić się od mocno zakorzenionego przekonania o tym, kim i czym 
                jesteśmy? Niedawno czytałem artykuł dr-a Deepaka Chopry na temat 
                pewnych aspektów mechaniki kwantowej, w którym zauważa, że nasze 
                fizyczne ciała są kompletnie wymieniane co dwa i pół roku. W takim 
                okresie zostaje zamieniona każda komórka naszego ciała. Jak to się 
                więc dzieje, że mimo iż każda komórka zostaje odnowiona, nasze 
                ciała dalej chorują? Dlaczego, na przykład, jeśli mamy w ciele 
                komórki rakowe, kiedy obumrą wymieniamy je na nowe komórki rakowe 
                zamiast na zdrowe komórki? Dzieje się tak ponieważ jesteśmy tak 
                silnie i głęboko zaprogramowani, że wytwarzamy komórki rakowe 
                zamiast zdrowych, gdyż są one tym, w co wierzymy, że tym jesteśmy. 
                Dokładnie tak samo jest ze światem wokół nas. Stwarzamy świat 
                przez to, jak postanowimy go doświadczyć, co z kolei wynika z naszego 
                zaprogramowania. Sai Baba ciągle nam przypomina, że nie jesteśmy 
                ciałami, że nie powinniśmy przywiązywać się do ciał, ani do jego 
                ciała w szczególności. W <i>aśramie</i> w Puttaparthi po śmierci 
                żony przez wiele lat mieszkał pewien wielbiciel, emerytowany oficer. 
                Spędził wiele czasu w bezpośredniej bliskości Sai Baby, aż pewnego 
                dnia niespodziewanie Sai Baba powiedział mu, że powinien wyjechać 
                i zamieszkać w Madrasie. On protestował utrzymując, że nie chce 
                wyjeżdżać i żyć gdzie indziej, ale na próżno. Musiał więc 
                wyjechać do Madrasu, a ponieważ był samotnym starszym człowiekiem, 
                opiekowali się tam nim wielbiciele Sai. Kilka miesięcy później zmarł 
                na raka, a tamci wielbiciele przyjechali do Sai Baby i powiedzieli: 
                ,,Swami, to bardzo nieładnie z twojej strony wysyłać tego 
                starego człowieka do Madrasu, gdzie umarł w samotności. On cię tak 
                bardzo kochał. Dlaczego to zrobiłeś?" Sai Baba odpowiedział: 
                ,,<i>Był za blisko mnie, był zbyt przywiązany do mojej postaci i nie 
                osiągnąłby wyzwolenia, gdybym go stąd nie odesłał.</i>" Musimy więc 
                uświadomić sobie, że istnieje niebezpieczeństwo w zbyt mocnym 
                przywiązaniu do postaci Sai Baby — w istocie do każdej fizycznej 
                rzeczy. Jeden ze znanych nam wielbicieli miał ostatnio sen z Sai Babą, 
                który nam opowiedział.  W śnie tym setki wielbicieli, wszyscy ubrani 
                na biało, szli drogą przechodząc przed Sai Babą, ale nie zwracali 
                żadnej uwagi na jego postać. Sai Baba stał uśmiechając się i 
                wprowadzając ich własnymi rękami, w sposób oczywisty bardzo 
                zadowolony z takiego obrotu sprawy. 
                </p><p>
                Nie powinniśmy łączyć żadnej postaci z celem i powodem naszego 
                istnienia — ani Sai Baby, ani męża, ani żony czy dziecka. 
                Powinniśmy utożsamiać się jedynie z Bogiem, a nie z żadną postacią Boga. 
                Sai Baba sam powiedział, że jego ciało nie jest niczym szczególnym. 
                Ciała fizyczne przychodzą i odchodzą. Są po prostu prochem. O tym 
                mówi też symbolika <i>wibhuti</i>. Z prochu powstaliśmy i w proch się 
                obrócimy.  Powinniśmy utożsamiać się z boskością w naszym ciele, 
                z boską <i>atmą</i>. Dlatego też Sai Baba nalega, abyśmy byli świadomi 
                boskości w jego ciele. To ona jest tak szczególna w jego ciele. Chodzi 
                o jego boskość. On mówi, że nie jesteśmy w stanie nawet zacząć 
                wyobrażać sobie realiów tej boskości. Ostatnio powiedział, że 
                już wkrótce będziemy świadkami tej boskiej mocy przejawiającej się 
                w świecie. Cytuję za niedawnym dyskursem: ,,<i>Wkrótce nastąpi wiele 
                wydarzeń. Pojawi się wiele ogromnych projektów. Już bardzo bliski 
                jest czas, że ludzie będą oglądali mnie w różnych miejscach 
                w tym samym czasie. Będę podróżował samochodem, ale w tym samym 
                czasie będę udzielał </i>darśanu<i> na placu Sai Kulwant i jednocześnie 
                będę wygłaszał dyskurs na stadionie Hill View.</i>" Tak mówił Swami 
                w tym roku, który — jak sam mówi — rozpoczyna Złoty Wiek. 
                Złoty Wiek już się rozpoczął i, posługując się analogią samolotu, którą 
                Sai Baba tak lubi, samolot wyzwolenia startuje w jego 75 urodziny, 
                które przypadają na 23 listopada 2000&nbsp;r. Jest to więc rok ważny 
                dla wszystkich wielbicieli, gdyż chcąc znaleźć się na tym kosmicznym 
                samolocie, musimy mieć bilet wstępu! Jasne jest, że odbędzie się 
                proces selekcji w celu wyłonienia tych, którzy polecą tym samolotem. 
                Proces ten nie jest kierowany przez jakąś zewnętrzną siłe. Zostanie 
                przeprowadzony przez nasze własne jaźnie w oparciu o nasze myśli, 
                słowa i czyny. 
                </p><p>
                Ile z was było w Vancouver w ubiegłym roku, kiedy przyjechał do nas 
                i przemawiał Indulal Shah, przewodniczący Światowej Organizacji Sai? 
                Przywiózł wtedy osobiste przesłanie od Sai Baby, które przekazał nam 
                pod znamiennym tytułem: ,,<i>Końcowe postanowienia Swamiego</i>". Dlaczego 
                Sai Baba użył tych szczególnych słów? ,,<i>Końcowe</i>" (ang. <i>final</i>) 
                przed czym? W tym osobistym przesłaniu Sai Baba zawarł zadziwiające 
                stwierdzenia, takie jak: ,,<i>Nie roztrząsajcie tego, co powiedziałem 
                przed 1996&nbsp;r. Nie stawajcie się wielbicielami mojej postaci, bądźcie 
                wielbicielami moich nauk. Nie czcijcie mojej osoby, ani postaci żadnego 
                z poprzednich </i>awatarów<i>. Pozbądźcie się wszystkich moich zdjęć oraz 
                figur bóstw z waszych ołtarzy</i>". Jasne jest, że Sai Baba stara się 
                wprowadzić zmianę w sposobie naszego traktowania go i w rzeczywistości 
                wszystkich <i>awatarów</i>. Chce, byśmy wyszli ponad fizyczną postać. 
                Nie jest też bez znaczenia to, że tak Ann, jak i ja przechodziliśmy 
                ten trudny proces, chociaż w badzo różny sposób. Przez ostatnie pięć 
                lat Sai Baba odrywał Ann od jego postaci, do której bardzo się 
                przywiązała. Dostąpiliśmy przywileju bliskich stosunków z Sai Babą. 
                Zna on nasze twarze i twarze naszych dzieci i wielokrotnie rozmawiał 
                z nami. Kiedy chodzicie na <i>darśan</i> dzień w dzień przez wiele dni 
                tylko po to, by być przezeń ignorowani, możecie poczuć się dotknięci. 
                Zaczynacie mówić sobie: ,,Cóż ja takiego zrobiłem? Dlaczego na mnie 
                nie spojrzy? Czy mnie nie poznaje? Czy nie wie, kim jestem? Czy nie 
                wie, że tu jestem? Czy już nie zasługuję na jego uwagę?" Zaczynacie 
                błagać o spojrzenie, uśmiech, jakiś znak uznania, tylko po to, by 
                zadowolić własne ego. Próbujecie się targować mówiąc: ,,Swami, 
                jeśli dasz znak aprobaty mojej obecności, to ja zrobię dla ciebie 
                to i tamto albo zrezygnuję dla ciebie z tego czy owego!" Ale wszystko 
                to na próżno. Proces ten ciągnie się i ciągnie. W naszym przypadku 
                trwało to do ostatniej minuty. W czasie jednego trzytygodniowego pobytu 
                Sai Baba w ten sposób kazał Ann czekać aż do dnia wyjazdu zanim 
                się odezwał do niej mówiąc z udawanym zdziwieniem: ,,<i>O, jesteś tu</i>", 
                tak jakby nie wiedział! 
                </p><p>
                Jeśli chodzi o mnie, czułem trochę zadowolenia z tego procesu uzdrawiania, 
                gdyż w rzeczywistości nie jestem przywiązany do postaci Sai Baby, 
                odłączanie od niej nie stanowiło więc dla mnie poważnej próby. 
                Zasłużona kara przyszła jednak w tym roku. Gdy zacząłem czytać 
                wszystkie te negatywne historie o Sai Babie w Internecie, moja wiara 
                doznała bardzo głębokiego wstrząsu. Gotowało mi się w umyśle 
                cały czas, gdy ignorowałem własne doświadczenia i zacząłem 
                wierzyć doświadczeniom innych. Wtedy, pewnego dnia zaświtało mi, 
                że przecież nie pociągała mnie fizyczna forma Sai Baby, tak jak było 
                to w przypadku Ann. Moja uwaga skupiała się na tym, jak ta forma 
                powinna się zachowywać. Jeśli Sai Baba postępował w sposób, który 
                uważałem za niewłaściwy, wtedy nachodziły mnie wątpliwości i strach 
                i podawałem w wątpliwość moją dotychczasową wiarę w fakt, że był 
                <i>awatarem</i>. Byłem przywiązany do tego, co sobie wyobrażałem o właściwym 
                jego zachowaniu.  Musiałem nieustannie przypominać sobie ostrzeżenie 
                Sai Baby: ,,<i>Nigdy nie próbuj mnie zrozumieć</i>". Nigdy nie zrozumiemy 
                dlaczego Sai Baba postępuje tak, jak postępuje, choćby dlatego, że 
                jego działania wykraczają poza czas i przestrzeń. On widzi przeszłość, 
                teraźniejszość i przyszłość. Jego stosunki z nami nie opierają się 
                na naszych fizycznych tożsamościach z tego życia, lecz na ścieżce 
                ostatecznego przeznaczenia. Tak więc, Ann i ja przeżywaliśmy trudny 
                okres przechodzenia ponad formę i utożsamiania się z Bogiem, który 
                jest w nas, zamiast w jakimś zewnętrznym przejawieniu. 
                </p><p>
                Kiedy byłem w Indiach na obchodach 70 urodzin Sai Baby, miałem wspaniałe 
                przeżycie, które dobitnie potwierdziło tę prawdę w bardzo osobisty 
                sposób. Były to też moje 60 urodziny i czułem, że ponieważ mam bliskie 
                stosunki z Sai Babą, zrobi on w ten dzień dla mnie coś naprawdę 
                szczególnego. W pewnej książce przeczytałem o małym obrządku, jaki Sai 
                Baba odprawiał dla niektórych wielbicieli przy tak znaczących urodzinach. 
                Cóż, pewnie zgadujecie, co się zdarzyło. Znalazłszy się w pierwszym rzędzie 
                na <i>darśanie</i>, byłem pełen oczekiwań na błogosławieństwo, ale Sai Baba 
                przeszedł z drugiej strony całkowicie mnie ignorując. Równie dobrze 
                mogłoby mnie tam nie być. Forma zignorowała formę, a ja byłem bardzo 
                rozczarowany. Moje ego szybko podniosło swoją brzydką głowę i powiedziało: 
                ,,Swami, jak mogłeś MI zrobić coś takiego!!", tak jakby to MI było 
                ważne! Wyszedłem z placu darśanowego, by stwierdzić, że znów skradziono 
                mi sandały. Była to już trzecia para sandałów, jakie straciłem w czasie 
                tego pobytu. Nie wiem co to jest z ginięciem tych moich sandałów, 
                gdyż ich rozmiar, 13, jest tak duży, że nie znam żadnego Hindusa, który 
                mógłby je nosić! Tak czy inaczej, krótko potem szedłem ulicą Puttaparthi 
                do znajomego szewca, aby poprosić o zrobienie nowych sandałów. Szedłem 
                tą ruchliwą ulicą rozmyślając o własnych sprawach, kiedy nagle zauważyłem 
                mężczyznę kaukaskiej urody idącego prosto na mnie. Nigdy w życiu nie 
                widziałem tego człowieka, ale kiedy podszeł bliżej zauważyłem, że 
                nosił przewiązaną wokół szyi chustę identyfikacyjną grupy holenderskiej. 
                Zatrzymał się przede mną, złapał mnie mocno za ramiona, spojrzał mi 
                w oczy i pięknym łagodnym głosem powiedział doskonałą angielszczyzną: 
                ,,Czy nie wiesz, że Swami bardzo cię kocha?" Potem zwolnił uścik ramion i 
                odszedł. Stałem oniemiały. Przepełniały mnie rozmaite uczucia, a do oczu 
                napłynęły mi łzy. Wiem na pewno, że tym mężczyzną był Sai Baba. Pokazywał 
                mi, że wszechobecny Bóg jest wszędzie. Ponadto, pod koniec naszego ostatniego 
                <i>interview</i> podczas tamtego pobytu, gdy już wychodziliśmy z pokoju, Sai 
                Baba spojrzał bardzo głęboko na Ann i powiedział: ,,<i>Pamiętaj, zawsze 
                jestem z tobą. Jestem zawsze z tobą!</i>" To ,,<i>jestem</i>" trwa teraz 
                zawsze przy nas. Tu tkwi przesłanie, które powinniśmy zrozumieć. Owa 
                wszechobecna, wszechmocna, wszechwiedząca Siła, którą nazywamy Bogiem, jest 
                zawsze z nami. Jeśli myślicie, że kiedy wyjeżdżacie z Puttaparthi, 
                opuszczacie Sai Babę, to znaczy, że nawet nie zaczęliście rozumieć prawdy, 
                jakiej nas naucza. Wszechobecny aspekt Sai Baby jest w takim samym stopniu 
                obecny tutaj dzisiaj, teraz, w tym budynku, jak w <i>aśramie</i> w Indiach. 
                W całym kosmosie nie ma takiego miejsca, gdzie nie ma Boga. 
                </p><p>
                Wiem, że wielu z nas ma trudności z utożsamieniem się z duchową siłą 
                wewnątrz nas, z naszą <i>atmą</i>. Pytamy siebie: ,,Gdzie ona jest? Czym 
                jest? Skąd mam wiedzieć, kiedy jestem z nią w kontakcie?" Chciałbym 
                przeczytać wam teraz wyjątek ze wspaniałego artykułu opisującego 
                doświadczenie tej rzeczywistości. Mówimy, że jesteśmy Bogiem, że nie 
                różnimy się od Boga, ponieważ Sai Baba tak nam powiedział. Ale czy 
                rzeczywiście w to wierzymy? Czy postępujemy według tej wiary? Bardzo 
                niewiele z nas miało przeżycie bliskie śmierci, kiedy jest się wyrzucanym 
                z ciała i zmuszanym rozpoznać prawdziwą tożsamość. Chciałbym opowiedzieć 
                wam o doświadczeniu pewnego człowieka, który to przeżył! Tak się składa, 
                że relacja pochodzi od lekarza. 
                </p><p>
                Niekiedy ludzi niespodziewanie spotyka doświadczenie Boga. 
                Kilka lat temu 
                miałem pacjenta, który naprawiał antenę na dachu sąsiada i przypadkowo 
                chwycił kawałek drutu myśląc, że nie jest pod napięciem, a było tam 
                12000 woltów. Kiedy więc dotknął go, natychmiast zmarł. Jak się umiera? 
                Napięcie 12000 V wywołuje w sercu szczególny rodzaj skurczu mięśni. 
                Tak więc spadł na ziemię z wysokości 5 – 7 metrów, ale na szczęście 
                upadł na pierś pod dokładnie takim kątem, w takie miejsce, z takim impetem, 
                który wzbudził inny prąd powodujący rozkurcz. Był to nadzwyczajny wypadek 
                — tak, jakby Bóg wezwał go, a potem nagle zmienił zdanie. Wszystko 
                to trwało kilka sekund. Człowieka tego przewieziono z miejsca wypadku do 
                szpitala. Powiedział on: ,,Myśli moje ciągle wracały do tej przerwy". Ten 
                krótki moment, ten przedział czasu kiedy był nieżywy, nazywał ,,przerwą". 
                Pytają go: ,,Dobrze, a co było w tej przerwie?" ,,Czysta, nieograniczona 
                radość. Była to absolutna błogość" — odpowiedział. Spytany, czy był 
                świadomy, rzekł: ,,O tak, byłem świadomy". Na pytanie ,,Czego byłeś 
                świadomy?" odpowiedział: ,,Byłem świadomy, że byłem świadomy". Proszą 
                go: ,,Czy możesz wyrazić to konkretniej? Byłeś świadomy, że byłeś świadomy. 
                Co to znaczy?" On na to: ,,Tak. Był to stan pełnego przebudzenia. Mogę o 
                nim powiedzieć jedynie: jestem. Nie jestem tym, czy tamtym. Po prostu 
                jestem. Było to doświadczenie mojej własnej nieśmiertelności. Było to 
                przeżycie nieskończoności. Przeżycie błogości, czystej radości. Byłem tak 
                pogrążony w tym stanie, że wszystko inne było tylko ideą. I raz na zawsze, 
                całkowicie, bezwzględnie pozbyłem się uczucia, które ludzie nazywają 
                strachem."</menu>
                <p>
                Myślę, że jest to cudowny opis prawdziwej naszej istoty i częściowo 
                dotyczy rzeczywistości <i>atmy</i>. Trudno jest uświadomić sobie po 
                pierwsze, że rzeczywistość ta jest w nas cały czas, a naszym naturalnym 
                stanem jest bezgraniczna radość, błogość, pokój i spokój, a po drugie, 
                że tą rzeczywistością jest rzeczywistość Boga. Ktoś pewnego razu skarżył 
                się Sai Babie, że tak łatwo jest powiedzieć ,,Jestem Bogiem", ale 
                bardzo trudno to wiedzieć i według tego żyć. W odpowiedzi Sai Baba wziął 
                swoją chusteczkę i po prostu upuścił ją mówiąc: ,,<i>Jest to tak łatwe, 
                jak puszczenie tej chusteczki. Żebyś wiedział, więcej potrzeba energii 
                na trzymanie się twojego ego, niż na pozbycie się go.</i>" Taka jest 
                rzeczywistość. Musimy ciężko walczyć, by zdobyć a potem utrzymać 
                naszą tożsamość ego, obraz osoby, za jaką się uważamy, nasze imię, 
                sławę, dobra materialne i kulturalne, wykształcenie, nasze miejsce 
                w społeczeństwie, a to wszystko zniknie, kiedy umrzemy. Dlaczego więc 
                przywiązujemy do nich tak dużą wagę? Dlaczego życie staje się walką ego, 
                z jednym ego występującym przeciw drugiemu? Dlaczego nasze zdanie jest 
                o wiele ważniejsze niż zdanie kogoś innego? Skoro wszyscy jesteśmy 
                Jednym z Bogiem, to skąd biorą się te podziały jeśli nie z umysłu? 
                Nie są one rzeczywiste. To iluzja.
                
                </p><p>
                Chciałbym dać wam jeszcze jeden ciekawy przykład tej ,,jedności". Około 
                sześciu miesięcy temu miałem sen o tej arenie, ujeżdżalni koni, w której 
                dziś siedzimy. Przyjmuję, że sen ten jest albo symboliczny, albo odnosi 
                się do jakiegoś okresu w przyszłości. W moim śnie arena ta była pełna 
                ludzi siedzących na ziemi, tak jak wy dziś, lecz służyła jako schronienie 
                i jako stołówka, gdyż karmiliśmy ludzi. Poza budynkiem szalała groźna 
                burza, albo był to jakiś rodzaj naturalnej katastrofy. Służyliśmy 
                jako ośrodek ratunkowy. Uznałem, że był to ciekawy chociaż nietypowy 
                sen, ale nie opowiadałem go, gdyż był nieco apokaliptyczny w swej wymowie, 
                a nie lubię mówić o takich rzeczach, gdyż wywołują strach u niektórych 
                ludzi. Jednak dwa tygodnie temu Marina, wielbicielka Sai i nasza droga 
                przyjaciółka, przyszła do mnie i mówi: ,,Chcę opowiedzieć ci sen, 
                jaki niedawno miałam, tym bardziej, że byłeś w nim ty". I opowiedziała 
                mi ten sam sen, który miałem ja sześć miesięcy wcześniej. Jasne wydaje 
                się więc, że gdy Bóg buduje coś, buduje to w więcej niż jednym celu. 
                Znajdujemy się w ujeżdżalni, zbudowanej na życzenie mojej żony, 
                która chciała jeździć konno w suchych warunkach podczas zimowych słot 
                panujących w tych okolicach, ale jeśli te sny niosą prawdziwe zapowiedzi, 
                to wyjdzie na to, że budynek ten ma inne przeznaczenie, co jest także 
                widoczne dzisiaj. 
                </p><p>
                Sai Baba mówi, że jesteśmy Bogiem, że nie jesteśmy różni od Boga 
                i jako tacy możemy stwarzać cokolwiek zapragniemy. Możemy robić, co 
                chcemy. Możemy być, czymkolwiek chcemy być. Możemy się zaprogramować 
                do zrobienia czegokolwiek, albo bycia kimkolwiek chcemy. Nie różnimy 
                się od Boga. Posiadamy wszystkie moce Boga, jednak cierpimy na amnezję! 
                Zapomnieliśmy o tym jednym ważnym fakcie. Mamy oczywiście całą 
                wieczność na ponowne odkrycie tego faktu, niemniej czas fizyczny 
                odgrywa pewną rolę w tym dramacie. Pamiętacie analogię startującego 
                samolotu, jaką używa Sai Baba. Jeśli chcemy znaleźć się w tym samolocie 
                wyzwolenia, musimy zacząć przygotowywać się w tym krótkim czasie, jaki 
                jeszcze nam pozostał. Musimy przeprogramować się, stosować się do nakazów, 
                jakie dał nam Sai Baba, żyć zgodnie z <i>dharmą</i>, oczyścić nasze 
                ciała i umysły, przygotować się na nadchodzące wielkie wydarzenia, 
                wydarzenia, które są ,,wspanialsze, niż moglibyśmy kiedykolwiek 
                wymyśleć". Posłuchajcie znów słów Sai Baby. 
                </p><p>
                ,,<i>Jako ciało, umysł i dusza jesteście snem, lecz to, czym rzeczywiście 
                jesteście, jest czystym istnieniem, wiedzą i błogością. Jesteście Bogiem 
                Wszechświata. Stwarzacie cały ten wszechświat i wchłaniacie go. Żeby 
                osiągnąć nieskończone, trzeba uwolnić się od marnego, ciasnego 
                więzienia indywidualności. Kierujcie się sercem. Czyste serce sięga 
                poza intelekt. Czerpie inspirację. Wewnątrz was jest potężny ocean 
                boskiego nektaru. Szukajcie go wewnątrz siebie. Poczujcie go. Poczujcie 
                go! Jest on tutaj, jako Jaźń. Nie jest to ciało, nie jest to umysł, ani 
                intelekt. Wszystko to są tylko jego przejawy. Ponad nimi jesteście wy. 
                Ukazujecie się jako uśmiechające się kwiaty, jako mrugające gwiazdy. 
                Cóż takiego jest w tym świecie, by sprawiło, że zapragniecie 
                czegokolwiek?</i>" 
                </p><p>
                Jakże magiczne i pełne znaczenia są te słowa. Czegóż więcej można 
                pragnąć? Taka jest prawdziwa natura rzeczywistości. Jesteśmy Bogiem tego 
                Wszechświata. Sai Baba powiada, że pierwotnym grzechem człowieka było 
                to, że zapomniał o tym fakcie, że uwierzył, że jest oddzielony od 
                Boga. Dlatego mówi: ,,<i>Jesteś Bogiem! Jesteś Bogiem! Nie jesteś ego. 
                Jesteś </i>atmą<i>. Jesteś jaźnią. Jesteś trwały. Ciało nie jest trwałe. 
                Aspekt fizyczny nie jest Jaźnią. Jesteś Jaźnią, a nie fizyczną 
                materią. Jesteś Bogiem. Jesteś Bogiem. Tak ciągle myśl. Nie myśl 
                o swoim ciele. Myśl o Bogu. Ciało przychodzi i odchodzi. Ciało rodzi 
                się i umiera, ale ty nie jesteś ciałem. Ciało to tylko proch. Ty 
                jesteś wieczny.</i>" 
                Ile razy Sai Baba musi to powtarzać, zanim go posłuchamy i zaczniemy 
                badać prawdziwą naturę naszej rzeczywistości. Mam taką jedną małą 
                grę, która pomaga mi w tym. Zawsze wyobrażam sobie, że Bóg siedzi 
                na moim ramieniu. Gdziekolwiek idę, cokolwiek robię, jestem świadomy, 
                że Bóg tam jest i ciągle przygląda się wszystkiemu, co myślę, 
                mówię i robię. Gdy mam podjąć decyzję, jak postąpić w określonej 
                sytuacji, po wyborze sposobu działania pytam Boga na ramieniu, czy to, 
                co zamierzam zrobić, jest właściwe. Niemal natychmiast stwierdzam, 
                że Bóg z ramienia, który w rzeczywistości jest moim sumieniem, 
                odpowiada ,,Tak" lub ,,Nie". Gdy ten głos mówi ,,Nie", rozpatruję 
                sprawę jeszcze raz. Oczywiście, wielokrotnie zdarza mi się zapomnieć 
                tak postępować, ale i w takich przypadkach idea Boga na ramieniu jest 
                przydatna w retrospektywnym ocenianiu działań podjętych wcześniej. 
                </p><p>
                Jedną z wielu rzeczy, jakich nauczyłem się przy Sai Babie, jest to, że 
                jest on doskonałym zwierciadłem. Odbija w naszą stronę dokładnie to, 
                czym jesteśmy, co chcemy od niego usłyszeć. Może to w sposób oczywisty 
                prowadzić do nieporozumień, szczególnie w pokoju <i>interview</i>, gdy 
                mówi różne rzeczy różnym ludziom. Jeśli wierzyć sprawozdaniom wielbicieli, 
                Sai Baba wypowiadał sprzeczne stwierdzenia na przykład o tym, czy 
                Jezus umarł na krzyżu, czy nie, czy istoty pozaziemskie i UFO są 
                rzeczywiste, czy Ziemia ulega zmianom i nastąpią kataklizmy. Takie 
                sprzeczności skłaniają niektórych ludzi do wniosku, że nie wie on, 
                co mówi, co jest absolutną bzdurą. Dokładnie wie on, co mówi i, co 
                jest ważniejsze, do kogo to mówi. Rzecz w tym, że osobie, do której 
                mówi, mówi on dokładnie to, co ona chce usłyszeć. Odbija jej 
                oczekiwania, jest jej zwierciadłem. Mogą zdarzyć się wielkie 
                nieporozumienia, gdy ludzie idą do Sai Baby i pytają na przykład: 
                ,,Swami, czy mogę poślubić tę osobę?" Sai Baba odpowie: ,,Tak, tak, 
                błogosławię", a potem małżeństwo nie sprawdza się i winią oni za to Sai 
                Babę. Trzeba być bardzo ostrożnym zadając pytania <i>awatarowi</i>. 
                Pytanie zawsze powinno brzmieć: ,,Czy powinienem" albo ,,Czy moim 
                przeznaczeniem jest", a nie ,,Czy mogę"! Osobiście wierzę, że Sai Baba 
                zawsze da nam to, co chcemy, nawet jeśli jest to dla nas niewłaściwe, 
                jeśli on uzna, że pomoże nam to przemóc to, rozładować nasze pragnienia 
                i przywiązania do tego i w efekcie postępować szybciej królewską 
                drogą ku wyzwoleniu. Sai Baba powiedział: ,,<i>Daję wam to, co chcecie, po 
                to, byście chcieli to, z czym przyszedłem żeby dawać.</i>" Bądźmy więc 
                zawsze ostrożni w relacjach z Sai Babą, szczególnie będąc w pokoju 
                <i>interview</i>. Regularnie stwierdzam, że kiedy Sai Baba powiedział coś 
                kontrowersyjnego w pokoju <i>interview</i>, późniejsze porównanie notatek 
                obecnych tam osób ujawnia, że wszyscy inaczej zinterpretowali jego słowa. 
                </p><p>
                Większość z nas przejdzie trzy etapy na drodze do wyzwolenia, które 
                zostały określone jako dualizm (<i>dwajta</i>), warunkowy dualizm 
                (<i>wiśisztadwajta</i>) i nie-dualizm (<i>adwajta</i>). Zaczynamy od 
                postrzegania siebie jako coś zupełnie 
                oddzielne od Boga. Bóg jest wszechpotężnym Stwórcą, doskonałą istotą 
                żyjącą gdzieś bardzo daleko w Niebie. Dlatego oddajemu Mu cześć. 
                Następnie przechodzimy do etapu, w którym nawiązujemy pewne stosunki 
                z Bogiem, i kiedy ciągle jeszcze postrzegamy Go jako oddzielnego, ale 
                również jako część naszej rodziny i kogoś, komu bezpośrednio zależy 
                na naszym dobru i postępie duchowym. Wielu wielbicieli, którzy czczą 
                Sai Babę jako Boga, znajduje się na tym etapie. Na ostatnim etapie 
                uświadamiamy sobie, że jesteśmy jednym z Bogiem, że nie ma w ogóle 
                żadnego rozdziału między nami. Wszystko, co łączy się z tożsamością 
                jednostkową jest iluzją. Nigdy nie było rozdziału i takiego nie będzie. 
                Jest to duży skok w świadomości, jaki musimy kiedyś zrobić. To tego 
                skoku wymaga od nas Sai Baba właśnie teraz. Samolot wyzwolenia 
                już wkrótce wystartuje. Sai Baba domaga się od nas, abyśmy znaleźli 
                się w tym samolocie. Nie znaczy to, że musimy być tam w Puttaparthi, 
                aby wejść na pokład tego samolotu. Oznacza to, że w życiu codziennym 
                winniśmy stać się niedualistyczni. Powinniśmy zdać sobie sprawę z 
                tego, że wszyscy są jednym, że wszystko jest Bogiem i że energią 
                Boga jest miłość. Obyśmy wszyscy uznali to za pierwszoplanowe zadanie 
                w życiu. Wszak tu na ziemi przebywa <i>awatar</i> tego Wieku. Dostąpiliśmy 
                przywileju być wcieleni tu i teraz. Sai Baba powiedział, że w 
                nadchodzących latach nasze zdjęcia będą wisiały na ścianach naszych 
                wnuków, a oni będą nas czcić za to, że znaliśmy i kontaktowaliśmy 
                się z tym wielkim <i>awatarem</i>. Będą mówić, że był taki to a taki, kto 
                znał Sai Babę. Będą o was pamiętać z racji tej styczności. Obyśmy byli 
                godni tych naszych narodzin. Podejmijmy wyzwanie i spróbujmy dostać 
                się na pokład samolotu wyzwolenia. Jednocześnie pamiętajmy o ostrzeżeniu 
                Sai Baby: ,,<i>Miliony mnie zna. Miliony przyjdą do mnie, ale tylko garstka 
                uzyska wyzwolenie</i>". Obyśmy wszyscy znaleźli się w tej garstce. Jak 
                możemy to sobie zapewnić? Jest to tak proste. Kochaj wszystkich. 
                Pomagaj wszystkim. Dostrzegaj Boga w każdym człowieku i każdej rzeczy. 
                </p><p>
                      </p><p class="text-right my-5">[tłum.: KMB; listopad 2000&nbsp;r. 
                (<i>Światło Miłości</i> Nr 1 (styczeń 2001), 24–28)]</small>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>