<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>

        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai
                                Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci —
                                Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie
                                Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały na serwerze
                            UMK<span class="sr-only"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item disabled" href=""></a>
                            <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i
                                tabele</a>
                            <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły
                                naukowe i popularne</a>
                            <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w
                                wartościach ludzkich</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="./programy_i_tabele.html">Materiały do ściągnięcia</a></li>
                    <li class="breadcrumb-item"><a href="./programy_i_tabele.html">Programy i tabele</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kalkulator daty juliańskiej</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Kalkulator daty juliańskiej</h2>

                <p class="text-center">(See note on this Polish version at the
                    <a href="#bottom">page bottom</a>)</span>
                    <p>

                        <table width="100" cellspacing="0" cellpadding="5" border="1" align="center">

                            <tbody>
                                <tr>
                                    <td>
                                        <form name="ThisForm">


                                            <table cellspacing="0">
                                                <tbody>
                                                    <tr xvalign="bottom">
                                                        <td width="170"> <sup><sup></sup></sup>
                                                        </td>
                                                        <td><b>
                                                                <select name="DayList"
                                                                    onchange="EvalJD(document.ThisForm)">
                                                                    <option selected="">1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                    <option>18</option>
                                                                    <option>19</option>
                                                                    <option>20</option>
                                                                    <option>21</option>
                                                                    <option>22</option>
                                                                    <option>23</option>
                                                                    <option>24</option>
                                                                    <option>25</option>
                                                                    <option>26</option>
                                                                    <option>27</option>
                                                                    <option>28</option>
                                                                    <option>29</option>
                                                                    <option>30</option>
                                                                    <option>31
                                                                    </option>
                                                                </select></b></td>
                                                        <td><select name="MonthList"
                                                                onchange="EvalJD(document.ThisForm)">
                                                                <option selected="">styczeń</option>
                                                                <option>luty</option>
                                                                <option>marzec</option>
                                                                <option>kwiecień
                                                                </option>
                                                                <option>maj</option>
                                                                <option>czerwiec</option>
                                                                <option>lipiec</option>
                                                                <option>sierpień</option>
                                                                <option>wrzesień
                                                                </option>
                                                                <option>październik</option>
                                                                <option>listopad</option>
                                                                <option>grudzień
                                                                </option>
                                                            </select></td>


                                                        <td>
                                                            <input type="text" name="YearBox" size="4"
                                                                onblur="EvalJD(document.ThisForm)">
                                                        </td>

                                                        <td><select name="ADBC" onchange="EvalJD(document.ThisForm)">
                                                                <option selected="">r.n.e.
                                                                </option>
                                                                <option>r.p.n.e.
                                                                </option>
                                                            </select></td>

                                                        <td> </td>

                                                        <td>
                                                            <input type="text" name="dayofweek" size="10"
                                                                onchange="EvalJD(document.ThisForm)">
                                                        </td>
                                                        <td> </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="6" nowrap=""> Juliański numer
                                                            <!--sup-->dnia (w południe; JDN):</td>
                                                        <td valign="bottom" nowrap="">
                                                            <input type="text" name="JD" size="8"
                                                                onblur="EvalCiv(document.ThisForm)"> =
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" nowrap="">
                                                            Zmodyfikowany dzień juliański (MJD):</td>
                                                        <td nowrap="">
                                                            <input type="text" name="MJD" size="8"
                                                                onblur="EvalCiv(document.ThisForm)"> =<br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" nowrap="">
                                                            Dzień roku (dla kal. gregoriańskiego):</td>
                                                        <td nowrap="">
                                                            <input type="text" name="NYR" size="3"
                                                                onblur="EvalCiv(document.ThisForm)">
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="7">
                                                            <table cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr valign="top">
                                                                        <td>Kalendarz:
                                                                        </td>
                                                                        <td><input type="radio" name="thiscal"
                                                                                value="auto" checked=""
                                                                                onclick="SetGreg(document.ThisForm)">
                                                                        </td>
                                                                        <td nowrap="">domyślny (juliański/gregoriański)
                                                                            <!--br-->
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td><input type="radio" name="thiscal"
                                                                                value="julian"
                                                                                onclick="SetJulian(document.ThisForm)">
                                                                        </td>
                                                                        <td>tylko juliański
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </td>
                                </tr>


                                <tr>
                                    <td nowrap="">(Wypełnij<sup></sup>poniższe pole
                                        w celu przeliczenia interwału)
                                        <form name="Delta" onsubmit="CancelSubmit()">
                                            Od tej daty po <input type="text" name="delta" size="10" onblur="SetDiff()"
                                                onchange="SetDiff()"> dniach nastąpi:</form>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <form name="ThatForm">
                                            <table cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="170"><sup><sup></sup></sup>
                                                        </td>
                                                        <td><b>
                                                                <select name="DayList"
                                                                    onchange="EvalJD(document.ThatForm)">
                                                                    <option selected="">1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                    <option>9</option>
                                                                    <option>10</option>
                                                                    <option>11</option>
                                                                    <option>12</option>
                                                                    <option>13</option>
                                                                    <option>14</option>
                                                                    <option>15</option>
                                                                    <option>16</option>
                                                                    <option>17</option>
                                                                    <option>18</option>
                                                                    <option>19</option>
                                                                    <option>20</option>
                                                                    <option>21</option>
                                                                    <option>22</option>
                                                                    <option>23</option>
                                                                    <option>24</option>
                                                                    <option>25</option>
                                                                    <option>26</option>
                                                                    <option>27</option>
                                                                    <option>28</option>
                                                                    <option>29</option>
                                                                    <option>30</option>
                                                                    <option>31
                                                                    </option>
                                                                </select></b></td>
                                                        <td>
                                                            <select name="MonthList"
                                                                onchange="EvalJD(document.ThatForm)">
                                                                <option selected="">styczeń</option>
                                                                <option>luty</option>
                                                                <option>marzec</option>
                                                                <option>kwiecień</option>
                                                                <option>maj</option>
                                                                <option>czerwiec
                                                                </option>
                                                                <option>lipiec</option>
                                                                <option>sierpień</option>
                                                                <option>wrzesień</option>
                                                                <option>październik</option>
                                                                <option>listopad</option>
                                                                <option>grudzień
                                                                </option>
                                                            </select></td>

                                                        <td>
                                                            <input type="text" name="YearBox" size="4"
                                                                onblur="EvalJD(document.ThatForm)">
                                                        </td>

                                                        <td><select name="ADBC" onchange="EvalJD(document.ThatForm)">
                                                                <option selected="">r.n.e.
                                                                </option>
                                                                <option>r.p.n.e.
                                                                </option>
                                                            </select></td>

                                                        <td> </td>

                                                        <td>
                                                            <input type="text" name="dayofweek" size="10"
                                                                onchange="EvalJD(document.ThatForm)">
                                                        </td>
                                                        <td> </td>
                                                    </tr>

                                                    <tr>
                                                        <!--td-->
                                                        <td colspan="6"> Juliański numer dnia (JDN):</td>

                                                        <td>
                                                            <input type="text" name="JD" size="10"
                                                                onblur="EvalCiv(document.ThatForm)">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7">
                                                            <table cellspacing="0">
                                                                <tbody>
                                                                    <tr valign="top">
                                                                        <td>
                                                                            <!--sup-->Kalendarz:</td>
                                                                        <td>
                                                                            <input type="radio" name="thatcal"
                                                                                value="auto" checked=""
                                                                                onclick="SetGreg(document.ThatForm)">
                                                                        </td>
                                                                        <td nowrap="">domyślny (juliański/gregoriański)
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td><input type="radio" name="thatcal"
                                                                                value="julian"
                                                                                onclick="SetJulian(document.ThatForm)">
                                                                        </td>
                                                                        <td> tylko juliański
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        <ul class="list-group">
                                            <li class="list-group-item">Aby kalkulator działał, w przeglądarce musi być
                                                włączona obsługa skryptów
                                                Java. W przypadku Netscape lub I.E. wymagane są wersje 3.0 lub wyższe.
                                            </li>
                                            <li class="list-group-item">Niektóre pola można edytować. Można zmieniać
                                                datę
                                                lub numer dnia,
                                                by otrzymać dzień tygodnia i pozostałe opisy daty.</li>
                                            <li class="list-group-item">Po zmianie zawartości pola, aby uaktualnić
                                                pozostałe, należy kliknąć
                                                poza kalkulatorem lub nacisnąć klawisz Tab (nie naduszać Enter).</li>
                                            <li class="list-group-item">W trybie "domyślny" następuje automatyczna
                                                zmiana
                                                kalendarza juliańskiego
                                                na gregoriański w dniu 4/15 października 1582 r. (wtedy został
                                                wprowadzony
                                                także
                                                w Polsce). Po tej dacie, gdy chce się
                                                mieć kalendarz juliański (który obowiązywał np. w angielskich koloniach
                                                do 1753 r.), trzeba wybrać opcję 'tylko juliański'.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p id="bottom">
                            Przerobiony (przez <a href="http://www.astro.uni.torun.pl/~kb/kb.htm">KMB</a>)
                            na język polski program z witryny <a href="http://www.nr.com/julian.html">Numerical
                                Recipes</a>.
                            W stosunku do oryginału ta wersja wylicza też MJD i numer dnia w roku dla zadanej
                            daty (na razie tylko kalendarza gregoriańskiego).<br>
                            This page has been adapted (by
                            <a href="http://www.astro.uni.torun.pl/~kb/personal.html">KMB</a>)
                            from the <a href="http://www.nr.com/julian.html">Numerical Recipes site</a> by translation
                            the textual content into Polish and small extension of the algorithm to have
                            the Modified Julian Date and the Day of the year for given date (presently
                            works fine for Gregorian calendar only) also displayed.
                            <small> 2004.01.30</small>
                        </p>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="./programy_i_tabele.html">Materiały do ściągnięcia</a></li>
                    <li class="breadcrumb-item"><a href="./programy_i_tabele.html">Programy i tabele</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kalkulator daty juliańskiej</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script>
        // < !--hide script from old browsers.See Copyright Notice at end of file.
        var IGREG = (14 + 31 * (10 + 12 * 1582));
        var JGREG = 2299160;
        var civcheck = new Civil(5, 23, 1948, 1);
        var istwo = false;
        function Initialize() {
            if ((navigator.appName == "Netscape") &&
                (navigator.appVersion.substring(0, 1) == "2")) {
                alert("Wymagana przegladarka w wersji przynajmniej Netscape 2.X\nWyświetlane wartości mogą być niepoprawne.");
                istwo = true;
            }
            SetToday(document.ThisForm);
            SetToday(document.ThatForm);
            SetDelta();
        }
        function SetToday(form) {
            var now = new Date();
            var day = now.getDate();
            var month = now.getMonth() + 1;
            var year = now.getYear();
            if (year < 199) { year += 1900 };
            if (year < 2000) { year += 100 };
            form.MonthList.selectedIndex = month - 1;
            form.DayList.selectedIndex = day - 1;
            if (istwo == true) {
                form.MonthList.selectedIndex = 0;
                form.DayList.selectedIndex = 0;
            }
            form.YearBox.value = year;
            form.ADBC.selectedIndex = 0;
            form.JD.value = "nie wybrano";
            form.IGREG = IGREG;
            form.JGREG = JGREG;
            EvalJD(form);
        }
        function SetGreg(form) {
            form.IGREG = IGREG;
            form.JGREG = JGREG;
            EvalCiv(form);
        }
        function SetJulian(form) {
            form.IGREG = 1.e30;
            form.JGREG = 1.e30;
            EvalCiv(form);
        }
        function CancelSubmit() { return false; }
        function tolong(val) {
            if (val >= 0) { return Math.floor(val); }
            else { return Math.ceil(val); }
        }
        function EvalJD(form) {
            var id = form.DayList.selectedIndex + 1;
            var mm = form.MonthList.selectedIndex + 1;
            var iyyy = tolong(form.YearBox.value);
            var ysgn = 1 - 2 * form.ADBC.selectedIndex;
            var jy = ysgn * iyyy, ja, jm, jul;
            var mjul = 0;
            if (iyyy < 1) {
                alert("Wpisz dodatni rok i wybierz r.n.e. lub r.p.n.e.\n(Nie było roku 0.)")
                return;
            }
            mjul = tolong(Math.floor(365.25 * (jy - 1)) - Math.floor(Math.floor((jy + 99) / 100) * 0.75) + 1721425);
            if (jy < 0) ++jy;
            if (mm > 2) jm = mm + 1;
            else { --jy; jm = mm + 13; }
            jul = tolong(Math.floor(365.25 * jy) + Math.floor(30.6001 * jm) + id + 1720995);
            if (id + 31 * (mm + 12 * ysgn * iyyy) >= form.IGREG) {
                ja = tolong(0.01 * jy);
                jul += 2 - ja + tolong(0.25 * ja);
            }
            form.MJD.value = jul - 2400000.5;
            form.NYR.value = jul - mjul;
            form.JD.value = jul;
            civcheck = caldat(jul, form);
            SetDoW(form, jul);
            SetDelta();
            if (civcheck.mm != mm || civcheck.dd != id || civcheck.yyyy != iyyy
                || civcheck.ab != ysgn) {
                form.JD.value = "nie ma!";
                form.dayofweek.value = "???";
                document.Delta.delta.value = "???";
            }
        }
        function EvalCiv(form) {
            civcheck = caldat(form.JD.value, form);
            form.MonthList.selectedIndex = civcheck.mm - 1;
            form.DayList.selectedIndex = civcheck.dd - 1;
            form.YearBox.value = civcheck.yyyy;
            form.ADBC.selectedIndex = (civcheck.ab > 0 ? 0 : 1);
            SetDoW(form, Math.round(form.JD.value));
            SetDelta();
        }
        function Civil(mm, dd, yyyy, ab) {
            this.mm = mm; this.dd = dd; this.yyyy = yyyy; this.ab = ab;
        }
        function caldat(julian, form) {
            var civ = new Civil(5, 23, 1948, 1);
            var ja, jalpha, jb, jc, jd, je;
            julian = tolong(julian);
            if (julian > form.JGREG) {
                jalpha = tolong(((julian - 1867216) - 0.25) / 36524.25);
                ja = julian + 1 + jalpha - tolong(0.25 * jalpha);
            } else { ja = julian; }
            jb = ja + 1524;
            jc = tolong(6680 + ((jb - 2439870) - 122.1) / 365.25);
            jd = tolong(365 * jc + 0.25 * jc);
            je = tolong((jb - jd) / 30.6001);
            civ.dd = jb - jd - tolong(30.6001 * je);
            civ.mm = je - 1
            if (civ.mm > 12) civ.mm -= 12;
            civ.yyyy = jc - 4715;
            if (civ.mm > 2) --civ.yyyy;
            civ.ab = 1;
            if (civ.yyyy <= 0) { civ.yyyy = 1 - civ.yyyy; civ.ab = -1; }
            return civ;
        }
        /* for older browsers: */
        dowstr = new Object;
        dowstr[0] = "niedziela";
        dowstr[1] = "poniedziałek";
        dowstr[2] = "wtorek";
        dowstr[3] = "środa";
        dowstr[4] = "czwartek";
        dowstr[5] = "piątek";
        dowstr[6] = "sobota";
        function SetDoW(form, jull) {
            /*  var dowstr = new Array("nie","pon","wto","śro","czw","pią","sob"); */
            var dow = Math.round((jull + 1) % 7);
            form.dayofweek.value = dowstr[dow];
        }
        function SetDelta() {
            var diff = parseFloat(document.ThatForm.JD.value)
                - parseFloat(document.ThisForm.JD.value);
            document.Delta.delta.value = "  " + diff;
        }
        function SetDiff() {
            document.ThatForm.JD.value =
                Math.round(parseFloat(document.ThisForm.JD.value)
                    + parseFloat(document.Delta.delta.value));
            EvalCiv(document.ThatForm);
        }
        // end hiding script from old browsers -->
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>