<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Dawne
                dinozaury, asteroidy i Kata Tjuta</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Dawne
                dinozaury, asteroidy i Kata Tjuta</h2>
                
                <p style="margin-top:11.25pt;margin-right:14.2pt;margin-bottom:
                11.25pt;margin-left:14.2pt;"><img src="../../../img/AncientDinosaurs_1.jpg" width="151" height="90" align="left"><span style="
                ">Ostatnio naukowcy doszli do
                wniosku, </span><span style=";
                "><i>ż</i></span><span style="
                ">e gazy dinozaurów mog</span><span style="
                ;"><i>ł</i></span><span style="">y spowodowa</span><span style=";"><i>ć</i></span><span style="">
                ogrzanie ziemi. Alcheringa potwierdza to i podaje informacje o kometach, które
                spad</span><span style=";
                "><i>ł</i></span><span style="
                ">y na Ziemi</span><span style=";
                "><i>ę</i></span><span style="
                "> 65 milionów lat temu.</span></p>
                
                <p style=""><span style="
                ;">Najnowsze obliczenia i analizy
                badaczy wskazują, że gigantyczne dinozaury mogły spowodować ogrzanie naszej
                planety swoimi gazami. Wyznaczyli oni ilość metanu wydzielanego przez
                zauropody, włącznie z gatunkiem znanym jako Brontosaurus.</span></p>
                
                <p style=""><span style="">Przeskalowując
                wiatry trawienne krów, naukowcy oceniają, że cała populacja dinozaurów
                wytwarzała 520 milionów ton gazów rocznie.</span></p>
                
                <p style=""><span style="">Sugeruje
                to, że gazy takie mogły być kluczowym czynnikiem ocieplenia się klimatu 150
                milionów lat temu. Więcej można przeczytać </span><a href="http://au.news.yahoo.com/queensland/a/-/world/13624512/dinosaur-gas-may-have-warmed-the-earth-uk-study/" rel="no-follow"><span style="">tutaj</span></a><span style=""> oraz
                na </span><a href="http://www.bbc.co.uk/nature/17953792" rel="no-follow"><span style="">BBC Nature</span></a><span style="">.</span></p>
                
                <p style=""><span style="
                ;">Podobne informacje przekazał mi
                Alcheringa podczas sesji ze Świętym Kamieniem z gwiazd australijskich tubylców
                nazywanym Kamieniem Alcheringi. Działo się to w 1994 r. W tym samym czasie
                astronomowie obserwowali rozpadającą się kometę Schoemaker-Levy 9 i wpadającą w
                Jowisza.</span></p>

                <figure class="text-center">
                    <img src="../../../img/AncientDinosaurs_2.jpg" alt="Brązowe
                    plamy wskazują miejsca, gdzie fragmenty komety Shoemaker-Levy 9 wdarły">
                    <figcaption>Brązowe
                        plamy wskazują miejsca, gdzie fragmenty komety Shoemaker-Levy 9                 się do atmosfery Jowisza w lipcu 1994 r.</figcaption>
                </figure>
                
                <p style=""><span style="">Obserwowano
                9 fragmentów na orbicie kolizji z Jowiszem, niecierpliwie wyczekując zderzenia
                z tą planetą. Widziałam wtedy tych astronomów w TV jak w podnieceniu oglądali
                upadek fragmentów na Jowisza. Nazwali je ‘Sznurem pereł.’</span></p>
                
                <p style=""><span style="">Zdarzyło
                się to w 1994 r., tym samym, w którym otrzymaliśmy informacje o tym, że Uluru
                było asteroidą. Miałam przekonanie, że na Jowiszu rozegrało się to samo, co
                wcześniej na Ziemi.</span></p>
                
                <p style=""><span style="">Dziennik
                „</span><em><b><span style=";
                ">The Book of Love</span></b></em><span style="
                ;">” (Księga miłości) zaczęłam
                pisać, siedząc ze świętym kamieniem Alcheringa, w dniu 22 sierpnia 1994 r.
                (Wtedy nie miałam pojęcia jak rzeczy się potoczą.)</span></p>
                
                <p style=""><span style="
                ;">Mówi się, że istnieją cykle w
                cyklach.</span></p>
                
                <p style=""><b><span style="
                "></span></b></p>
                
                <p style=""><b><span style="
                ">Problem dinozaurów: brak tlenu</span></b></p>
                
                <p style=""><span style="">Alcheringa
                powiedział, że dinozaury stały się tak wielkie i niebezpieczne, że Hierarchia
                Gwiezdnych Światów podjęła trudną decyzję o ich wyniszczeniu.</span></p>
                
                <p style=""><span style="">Te
                ogromne gady roślinożerne wyjadały wszelką trawę i zielone liście z drzew,
                niszcząc w ten sposób drzewa, a w konsekwencji także atmosferę, gdyż dwutlenek
                węgla nie mógł już być zamieniany na tlen.</span></p>
                
                <p style=""><span style="">Na
                domiar złego ogromne dinozaury-zabójcy walczyły ze sobą i zabijały się
                nawzajem. Ich ciała były tak wielkie, że bardzo długo ulegały rozpadowi.
                Panował straszny smród rozkładających się zwłok gadów roślinożernych, a ziemska
                atmosfera była pozbawiana tlenu.</span></p>
                
                <p style=""><span style="">Po
                decyzji o wyniszczeniu dinozaurów, gwiezdni ludzie spreparowali asteroidę i
                sprowadzili na naszą ziemię. Rozpadła się ona na dziewięć części, a główne
                ciało spadło w środku ziemi nazywanej obecnie Australią.</span></p>
                
                <figure class="text-center">
                    <img src="../../../img/AncientDinosaurs_3.jpg" alt="Kometa
                    rozpadła się na dziewięć części">
                    <figcaption>Kometa
                        rozpadła się na dziewięć części</figcaption>
                </figure>
                
                
                <p style=""><span style="">Ta
                skała (albo <i>inselberg</i>) znana jest jako <em><b><span style="font-family:
                &quot;Arial&quot;,&quot;sans-serif&quot;">Uluru</span></b></em>. Trzy lata temu zostałam wezwana
                przez Alcheringę by usiąść do komputera i szukać poprzez Google odpowiedzi na
                podsuwane pytania. W końcu napisałam artykuł na temat odnalezienia ogromnego
                krateru powstałego po upadku asteroidy w starożytnym Morzu Eromanga, jaki
                istniał w środku Australii. Artykuł ten jest przedstawiony w mojej witrynie na
                stronie zatytułowanej </span><a href="uluru.htm"><span style="">Mówi
                Alcheringa</span></a><span style=";
                "> (oryginał: </span><a href="http://www.valeriebarrow.com/sacred-now/uluru/alcheringa-tells-the-story-of-uluru.html" rel="no-follow"><span style="">Alcheringa tells the Story of Uluru</span></a><span style="">).</span></p>
                
                <p style=""><span style="">Zaledwie
                tydzień temu w nocy, zaraz po zobaczeniu nagłówków o badaniach naukowych nad
                możliwością ocieplenia klimatu ziemi przez gazy dinozaurów, otrzymałam pobudkę
                od Alcheringi, aby napisać nieco więcej o związku z Kata Tjutą i Uluru.</span></p>
                
                <p style=""><span style="">Wcześniej
                Alcheringa mówił, że asteroida i jej siedem części upadło w różnych miejscach
                świata, a główną część stanowiła góra Uluru (albo Ayers Rock) znajdująca się w
                Australii. Upadając w płytkim Morzu Eromanga, wypchnęła przed sobą materiał dna
                morza tworząc bardzo wysokie kopce, które dzisiaj nazywamy Kata Tjuta (albo
                Olgas).</span></p>

                <figure class="text-center">
                    <img src="../../../img/AncientDinosaurs_4.gif" alt="Zarys płytkiego Morze Eromanga na tle dzisiejszej Australii">
                    <figcaption>Zarys płytkiego Morze Eromanga na tle dzisiejszej Australii</figcaption>
                </figure>
                
                <p style=""><span style="
                ;">Jeśli mogę zrobić tu małą
                dygresję, gdy przeczytacie jak St. Germain </span><span style="
                ">(<i>wydawcy książki <em><b><span style="serif&quot;">Earth Birth Changes </span></b></em><em><span style="serif&quot;">(Zmiany </span></em>związane z rodzeniem
                się Ziemi) wyrazili uprzejmie zgodę na zacytowanie jego obrazowego opisu </i></span><a href="germain-atlantis.htm"><span style="serif&quot;">Upadku
                Atlantydy</span></a><em><span style="
                "> </span></em><i><span style="
                ">(<a name="St_Germain's_description_of_the_Fall_of_">angielska
                wersja </a></span></i><a href="http://www.valeriebarrow.com/sacred-now/from-spirit/st-germain-on-the-fall-of-atlantis.html" rel="no-follow"><span style="serif&quot;">St Germain's description of the Fall of
                Atlantis</span></a><span style="
                ">)) </span><span style=";
                ">opisuje reakcję ziemi na upadek asteroidy gdzieś w okresie od
                10000 do 14000 lat temu, łatwo zrozumiecie, jak to musiało wyglądać (a było
                jeszcze gorzej), gdy niszczono dinozaury przed 65 milionami lat.</span></p>
                
                <p style=""><span style="">Naukowcy
                nie zgadzają się z tym, że Uluru jest asteroidą. Jego bryła sięga sześć
                kilometrów w głąb ziemi. Mówi się, że Uluru jest bogate w <i>arkozę</i> (<i>arkose</i>
                - rodzaj skały osadowej) i <i>feldspar </i>(rodzaj krystalicznego minerału).
                Pokazano, że asteroidy zawierają <i>feldspar</i>. </span></p>
                
                <p style=""><span style="">Kata
                Tjuta natomiast jest skalnym konglomeratem bardzo podobnym do materiału z dna
                pradawnego morza. Naukowcy twierdzą, że Uluru jest nachylone pod kątem 85</span><span style="">°, zaś Kata Tjuta –
                około 20°. Dużą część Uluru i Kata Tjuty pokrywa muł i piasek. Oba górotwory są
                naprawdę masywne, o czym można się przekonać patrząc na to, co jest nad powierzchnią
                otaczającego obszaru.</span></p>

                <figure class="text-center">
                    <img src="../../../img/AncientDinosaurs_5.jpg" alt="Widok na Kata Tjutę z zachodu na wschód – w głębi widać Uluru">
                    <figcaption>Widok na Kata Tjutę z zachodu na wschód – w głębi widać Uluru (po drodze znajduje się pradolina)</figcaption>
                </figure>
                <p style=""><span style="">Naukowcy
                utrzymują, że</span><span style=";
                "> </span><span style=";
                ">Uluru i Kata Tjuta są częściami pozostałości olbrzymich pokładów
                osadów powstałych setki milionów lat temu. A jednak Kata Tjuta jest
                konglomeratem skalnym podobnym do dna pradawnego morza i wciąż się rozpada.
                Uluru jest arkozowym piaskowcem bogatym w <i>feldspar</i> i posiada naturalną
                szarą barwę.</span></p>
                
                <p style=""><span style="">Całą
                środkową Australię, nazywaną ‘Czerwonym Centrum,’ pokrywa czerwona gliniasta
                ziemia bogata w tlenek żelaza, o czym wspomina St. Germain w swoim opisie
                Upadku Atlantydy.</span></p>
                
                <p style=""><span style="">Wracając
                do zachęty Alcheringi do napisania tego artykułu, przekazał mi on obraz tego,
                jak to się stało, że Uluru stoi nachylony: uderzając pod kątem w dno morza,
                wyniósł materiał z dna w postać Kata Tjuty pod mniejszym kątem i utworzył
                GIGANTYCZNY krater, który od tamtego czasu wysechł, a następnie ponownie
                napełnił się po ‘Upadku Atlantydy,’ którego skutki dotknęły całą ziemię.</span></p>

                <figure class="text-center">
                    <img src="../../../img/AncientDinosaurs_6.jpg" alt="Szkic dna morza przy Kata Tjucie i Uluru (kliknij na rysunek,

by zobaczyć go w większej rozdzielczości) ">
                    <figcaption>Szkic dna morza przy Kata Tjucie i Uluru (kliknij na rysunek,

by zobaczyć go w większej rozdzielczości) </figcaption>
                </figure>
                
                <p style=""><span style="">Alcheringa
                przypomniał mi o tym, jak naukowcy odkryli pradolinę między Uluru i Kata Tjutą
                pod czerwonym piaskiem, który je łączy. Pod powierzchnią piasku leżą niewidoczne
                kopce nazywane amini-Kata Tjuta. Dla mnie one wskazują bezpośrednie
                przepchnięcie pradawnego dna morza przez nadlatującą asteroidę.</span></p>
                
                <p style=""><span style="">Na
                stronach </span><a href="http://www.publish.csiro.au/paper/RJ9980255.htm" rel="no-follow"><span style="">The Rangeland Journal</span></a><i><span style=""> </span></i><span style="">CSIRO
                można zapoznać się z naukową analizą oraz dalszymi informacjami na temat
                pradawnego dna morza i procesu odwadniania pradoliny przy Kata Tjucie i Uluru</span></p>

                <figure class="text-center">
                    <img src="../../../img/AncientDinosaurs_7.jpg" alt="Basen Sudbury">
                    <figcaption>Basen Sudbury</figcaption>
                </figure>
                
                <p style=""><span style="
                ;">Pewien naukowiec z 1995 r.
                pokazał mi widoczny na powyższym zdjęciu krater w pobliżu miasta Sudbury w
                stanie Ontario w Kanadzie. Wydaje się on być skutkiem upadku bolidu. W
                późniejszym czasie wypełnił się wodą. Ów naukowiec powiedział, że rozumie
                informację od ‘góry’ o Uluru. Wszystko znajduje się na środku hipotetycznego
                centralnego basenu, który obejmuje Basen Armadeus, o czym pisałam w </span><a href="http://www.valeriebarrow.com/sacred-now/uluru/alcheringa-speaks-about-asteroids-uluru-and-the-earth.html" rel="no-follow"><span style="">innym artykule</span></a><span style=""> (</span><a href="uluru2.htm"><span style="">polska wersja</span></a><span style="">).</span></p>
                
                <p style="margin-bottom:12.0pt"></p>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Dawne
                dinozaury, asteroidy i Kata Tjuta</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>