<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Odwiedziny
bardzo świętego miejsca wewnątrz nas – BOSKIEJ JAŹNI</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Odwiedziny
bardzo świętego miejsca wewnątrz nas – BOSKIEJ JAŹNI</h2>

<div class="Section3">

<p><img src="../../../img/AVisit-Val_2.jpg" alt="Valerie Barrow with Brian Wewiss" width="150" height="113" align="left"><a name="ja-content-main1"></a>Dzieje naszych przeszłych żyć nosimy w Duszy. Nasza
Dusza jest tym, czym jesteśmy. Umowa Duszy, którą spisaliśmy zanim przyszliśmy
ze Świata Światła jest ‘ściągana’ od momentu, gdy staliśmy się małym embrionem
i rozwijającym się płodem.</span></p>


<div class="Section4">

<p>Niedawno wróciłam z
inspirujących praktycznych warsztatów terapii opartej o regresję do poprzednich
wcieleń, które odbyły się w Coolum, Sunshine Coast, w australijskim stanie
Queensland. Dr Brian Weiss, psychiatra i hipnoterapeuta prowadził te warsztaty
na zaproszenie domu wydawniczego Hay House (</span><a href="http://www.hayhouse.com/" rel="no-follow">www.hayhouse.com/</a>).</p>

<p>Dr Weiss jest emerytowanym
Przewodniczącym Psychiatrii w Mount Sinai Medical Centre w Miami, U.S.A.</span></p>

<p>Będąc tradycyjnym
psychoterapeutą, dr Weiss był pełen sceptycyzmu i zdumiał się, gdy jedna z jego
pacjentek zaczęła przypominać sobie bolesne przeżycia przeszłego życia, które
zdawały się zawierać klucz do jej nawracających koszmarów i ataków strachu.
Napisał on wiele książek, które obok CD są wymienione na jego <a href="http://www.brianweiss.com/" rel="no-follow">internetowej stronie</a>. </span></p>


<figure class="text-center">
    <img src="../../../img/AVisit-Val_2.jpg" alt="Valerie rozmawia z dr Brianem Weissem, który podpisuje
    dla niej książkę">
    <figcaption>Valerie rozmawia z dr Brianem Weissem, który podpisuje
        dla niej książkę</figcaption>
</figure><br>

<figure class="text-center">
    <img src="../../../img/AVisit-Val_3.jpg" alt="Było 600 uczestników ale dr. Weiss prowadził warsztaty
    w bardzo kameralnym stylu">
    <figcaption>Było 600 uczestników ale dr. Weiss prowadził warsztaty
        w bardzo kameralnym stylu</figcaption>
</figure><br>

<figure class="text-center">
    <img src="../../../img/AVisit-Val_4.jpg" alt="Miejsce warsztatów w Hyatt
Regency Coolum, Queensland, Australia. Zadaszenie wygląda jak rozpostarte białe skrzydła anioła
czuwającego nad wszystkimi"><br>
    <figcaption>Miejsce warsztatów w Hyatt
Regency Coolum, Queensland, Australia. Zadaszenie wygląda jak rozpostarte białe skrzydła anioła
czuwającego nad wszystkimi</figcaption>
</figure>


<p>Pracując z ludźmi techniką regresji
w poprzednie życia, stwierdziłam, że oni często wchodzą do przestrzeni między
życiami, którą Mistrzowie nazywali <i>Światem Światła</i>. Do tego miejsca
wracamy po opuszczeniu naszego ziemskiego ciała. Tam mamy czas na przegląd
zakończonego życia i przygotowanie się na podpisanie umowy z innymi duszami.
Potem wracamy do nowego ciała i odgrywamy życie, które ma pomóc nam w
rozwijaniu charakteru. Nasza umowa z innymi duszami stwarza okazję wspierania
ich w uzdrawianiu i rozwijaniu ich charakteru. Często zdarza się, że umowa z
innymi duszami dotyczy tych, z którymi mamy niezałatwione emocjonalne sprawy z
wielu wcześniejszych wcieleń.</span></p>

<p>Nazywa się to <b><i>Karmą</i></b>,
która oznacza działanie. Karma może przejawiać się w postaci dobrych cech
charakteru, albo niezbyt dobrych. Nowe życie stwarza możliwość zajęcia się
uregulowaniem czynów z poprzednich żywotów. Możemy skupić się na rozwijaniu
dobrych cech charakteru i/lub stosowaniu uzdrawiania, przebaczania, miłości i
pokoju w stosunku do innych problemów.</span></p>

<p>Korzyści ze stosowania
Regresji w poprzednie życia są w istocie takie same jak te z zaawansowanej
Medytacji, która daje wgląd w jaźń i wiedzę o niej. Gdy pracujecie z terapeutą
(który tylko pomaga wam w skupieniu się), zawsze to wy panujecie i, jeśli
chcecie, łatwo możecie wyjść ze stanu zmienionej świadomości.</span></p>

<p>Sześć lat temu
uczestniczyłam w konferencji na temat terapii przez regresję w przeszłe życia,
która odbywała się w New Delhi w Indiach. Przyjechali profesjonaliści z całego
świata. Poruszano też inne tematy związane z sięganiem do tajemnic jaźni, takie
jak kinezjologia [studia ruchów ciała], NLP [neurolingwistyczne programowanie],
odzyskiwanie darów ze starożytności, EFT [terapia poprzez opukiwanie], odzyskiwanie
duszy [po traumach], uzdrawianie na odległość, oddech a regresja do poprzednich
żyć, kolory i uzdrawianie poprzez czakry.</span></p>

<figure class="text-center">
    <img src="../../../img/AVisit-Val_5.jpg" alt="Konferencja w New Delhi, 10 marca 2006 r.">
    <figcaption>Konferencja w New Delhi, 10 marca 2006 r.</figcaption>
</figure>

<p>Stan świadomości to taki
stan, kiedy jesteście skupieni. Zmieniony stan świadomości jest podobny do
śnienia na jawie, gdy jesteście świadomi swojego bezpośredniego otoczenia, ale
wasz punkt skupienia powędrował do innego czasu. Możecie myśleć o spotkaniu w
gronie swojej kochanej rodziny, jakie odbyło się w ubiegłym tygodniu, a może
wasz umysł skupił się na szczęśliwym zdarzeniu z dzieciństwa. Jesteście tam i tutaj
jednocześnie.</span></p>

<p>Jeśli ten miniony czas był
szczęśliwy, odczucia z tamtego czasu trwają przy was aż do teraz.</span></p>

<p>Porada może być pomocna,
gdy odczucia i wspomnienia nie są szczęśliwe, lub są wręcz traumatyczne i ciągle
tkwią w was złe uczucia, gniew, uraza. Ten istniejący w was niepokój może
wyzwolić się w każdym momencie, chociaż nie ma nic wspólnego z waszym
bezpośrednim otoczeniem lub życiem.</span></p>

<p><i>Wszyscy w naszej
Duszy nosimy historie przeszłego życia. Nasza Dusza to to, czym jesteśmy. Umowa
Duszy, jaką spisaliśmy przed przyjściem ze Świata Światła jest ‘ściągana’ już
od chwili, gdy byliśmy małym embrionem i gdy płód zaczynał rosnąć.</span></i></p>

<p>Jakże cudowna jest ‘forma
życia’! Najpierw jesteśmy embrionem składającym się z komórek, które kształtują
się w postać małego dziecka, a to dojrzewa do dorosłości. Nasza Dusza nie tylko
pomaga nam rozwinąć się w dojrzałą osobę, lecz duch ten utrzymuje też całe
ciało w sprawności. Wszak nasze fizyczne ciało bez ducha nie przeżyłoby zbyt długo.</span></p>

<p>Nasz duch stanowi siłę
życiową – jest to siła, dar od Stwórcy Wszystkiego dla naszej Boskiej Jaźni.
Jest to energia najświętsza ze wszystkiego, co istnieje, co znajduje się
wewnątrz nas. Jest to Miłość. Uniwersalna Miłość. Istnieje ona w całym stworzeniu.</span></p>

<p>O iskrze, która daje nam
życie można myśleć symbolicznie jako o punkcie w kole. Koło jest wszystkim,
czym jesteśmy: ciałem fizycznym, ciałem emocjonalnym, ciałem mentalnym,
czującym ciałem i duszą. Punktem jest Stwórca – wewnętrzne słońce. To Wewnętrzne
Światło stanowi iskrę, która daje życie. Sprawia ono, że zaczynamy tykać jak
zegarek oraz utrzymuje wszystko razem.</span></p>

<p>Jest to Boska Jaźń a
Uniwersalny Bóg jest Czystą Miłością. Jesteśmy dziećmi Boga.</span></p>

<p>Jak wielu ludzi wie, Boga
można odwiedzić i z Nim porozumiewać się. Jest to najświętsza podróż do naszego
wnętrza.</span></p>

<figure class="text-center">
    <img src="../../../img/AVisit-Val_6.jpg" alt="">
    <figcaption></figcaption>
</figure>

<h3 class="text-center my-3">Afirmacja:</h3>

<p class="text-center"><br>"Jestem Czystym Światłem Świadomości</span> <br>
Przenikającym wszystko <br>
I sprowadzającym wszystkich do Światła Boga.</span>"</p>

            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Odwiedziny
bardzo świętego miejsca wewnątrz nas – BOSKIEJ JAŹNI</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>