<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Książki Valerie Barrow</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Książki Valerie Barrow</h2>

<p align="center"><img src="../../../img/maingrpk.gif" alt="Flying Saucer and Australian Aboriginal" width="457" height="371">


<p><i><span style="font-style:italic">THE
BOOK OF LOVE by a Medium</span></font></i><span style="
"> (Księga miłości napisana przez medium) została napisana przez
australijską autorkę Valerie Barrow. Jest to próba wyprowadzenia z ukrycia ‘mediumowości’
i nadania poważania i wiarygodności tej sztuce w umysłach ogółu społeczeństwa. </span></font></p>

<p><span style="
">Medium to nie tylko ktoś, kto
otrzymuje przesłania z niewidzialnego źródła, ale to też osoba, która pozwala niewidzialnej
osobowości przejąć ziemskie ciało i komunikować się przez nie.</span></font></p>

<p><span style="
">Poniżej znajduje się recenzja <i><span style="font-style:italic">The Book of Love</span></i> napisana przez Christine
Paul i opublikowana w 1996 r. w październikowym numerze <i><span style="font-style:italic">Silver Cord Magazine</span></i>. </span></font></p>

<p><span style="
">&nbsp;</span></font></p>

<p style="
"><span style="
">Jest to prawdziwy duchowy klejnot – napisany prostym językiem
wprost z serca. Valerie Barrow, wyjątkowo uzdolnione medium, zaprasza nas do
wspólnej z nią zadziwiającej podróży, z głębokimi objawieniami na tej drodze.</span></font></p>


<p style="
"><span style="
">Valerie, jako „Ambasador Ducha”, przez wiele lat była ‘jasnomówiącym’
kontaktem z Gwiezdnymi Ludźmi. Obecnie, dzięki obecności legendarnego Kamienia Alcheringa
(sprowadzonego na Ziemię przez Gwiezdnych Ludzi i przekazanego starożytnym
plemionom Aborygenów) potrafi przekazywać kosmiczne przesłania o ogromnym
znaczeniu dla całej ludzkości. Przesłania te przychodzą podczas serii ‘nasiadówek’
z tym kamieniem i tworzą rodzaj dziennika.</span></font></p>

<p style="
"><span style="
"><br>
W rzeczywistości sam Kamień jest też stróżem historii. A mówi ona o starodawnych
dziejach, kiedy Ziemię zamieszkiwały zaawansowane cywilizacje, które przyszły
tu z innych światów. Ludzie, którzy przybyli z innych planet, aby zamieszkać na
Ziemi, przywieźli wtedy ze sobą plejadańską energię. „Ludzie tej Ziemi przyjęli
ich z otwartymi rękami. (Kamień przechowuje historię w jej energii zmian, jakie
zaszły na ziemi.) W pewnym sensie jest to dziennik, ale jest to Księga Miłości,
gdyż cały czas próbuje zamienić te energie w energie miłości.” </span></font></p>

<p style="
"><span style="
"><br>
Zanim Valerie otrzymała Kamień Alcheringa, została zbudzona w nocy przez
Świetlną Istotę i telepatycznie zapytana, czy jest gotowa zacząć pisać książkę.
Poinformowano ją, że Sai Baba pomoże jej. Nie bardzo wiedząc, co książka będzie
zawierała, pełna obaw Valerie zgodziła się, pocieszając się, że czegokolwiek
Duch sobie życzy, jest to dla najwyższego dobra. W kilka miesięcy później w
tajemniczych okolicznościach Kamień trafił pod jej opiekę.</span></font></p>


<!--br-->
<img src="../../../img/ufo.jpg" alt="Cloudship UFO in the skies over Canyonleigh" width="300" height="197" align="right">



<p style="
"><span style="
">Kamień pochodzi z boskiego źródła, dlatego kiedykolwiek Valerie
siedzi z nim albo ‘romansuje z kamieniem’ w rzeczywistości jest zabierana do
Świetlnej Istoty, która ma łączność z Grupą Dusz, której częścią ona sama jest.
W ten sposób ma dostęp do pamięci duszy Świetlnej Istoty, która istnieje w
wymiarze światła na Wenus.</span></font></p>


<p style="
"><span style="
">Głównym wątkiem tej książki są codzienne cuda. Zanim odwiedziła
Sai Babę w Indiach, zastanawiała się, czy nie jest w jakiś sposób połączona z
Białym Orłem (White Eagle), który przez pewien czas pojawiał się w
channelingach. Jakby w odpowiedzi, po otwarciu książki Białego Orła Valerie
znajduje obrazek Sai Baby, który się w niej pojawił. Zrozumiała, że tych dwóch
Mistrzów dzieli tę samą energię.</span></font></p>

<p style="
"><span style="
"><br>
Podobnie, po powrocie z Indii Valerie stwierdziła, że energia zmieniła się, a
Świetlna Istota przedstawia się jako Sanat Kumara. „Powiedział nam, że jest
Świetlną Istotą i że Biały Orzeł był jego aspektem oraz że nigdy nie inkarnował
się na tej Ziemi. W jakiś sposób odczułam, że on pokazuje nam, iż podobnie jest
z nami wszystkimi na tej Ziemi. Że my, w osobach, które przebywają teraz na tej
Ziemi jesteśmy aspektami, nie ‘nadduszą’ (tj. zbiorem osobowości, którymi
byliśmy), lecz raczej Istotami Światła z innych światów, które nigdy nie
inkarnowały się na Ziemi, a w istocie jesteśmy Mistrzami nas samych.”</span></font></p>


<table width="410" align="left"><tbody><tr><td><!--br-->
<img src="../../../img/uluru.jpg" alt="Uluru, an ancient asteroid?" width="400" height="232">

</tr><td>
<p style="
"></font></p></tr<td></td></tr></tbody></table>

<p>Czy Uluru jest 
    starożytnym asteroidem? Czy środkowa Australia jest starodawnym kraterem po upadku
    asteroidu? Czy Uluru podniósł się znów dzięki ruchom Ziemi niczym 
    ‘Feniks’ z popiołów?</p>
<p style="
"><span style="
">Valerie, ze swoją wielką sympatią do Aborygenów i ich sposobu
postrzegania Ducha, podróżuje do Uluru z grupą duchowych poszukiwaczy. I
właśnie w tym kontekście przedstawiony jest jeden z najbardziej intrygujących
wglądów książki. Porównuje się Księgę Objawień z Aborygeńskim Dreamtime. Czy
Uluru rzeczywiście był asteroidem z odległych galaktyk, który spadł na ziemię?
Jeśli tak, jakie są implikacje dla Australii, która obecnie jawi się jako jeden
z pionierskich krajów na świecie w ruchach New Age?</span></font></p>


<p style="
"><b><i><span style="font-weight:bold;font-style:italic">„The
Book of Love” to podnoszący na duchu, inspirujący, dający energię i płynący z
serca zapis duchowej przygody w najlepszym gatunku.</span></font></i></b></p>

<p style="">&nbsp;</span></font></p>

<p style=""><b><span style="
"><a href="http://www.valeriebarrow.com/order.php" rel="no-follow">Jak zamawiać</a></span></font></b></p>

<p style="">Książka <i><span style="font-style:italic">The Book of Love</span></i> jest dostępna z: </span></font></p>

<p>Alcheringa Books</span></font></p>

<p>$10.00 (australijskie dolary, za przesłanie do
dowolnego miejsca w Australii) </span></font></p>

<p>USD$15.00 - przesłanie do dowolnego miejsca na
świecie (opłata zawiera koszt przesyłki pocztą lotniczą oraz koszty pakowania)</span></font></p>

<p>&nbsp;</span></font></p>

<p>Zamówienia pocztowe należy kierować na adres: </span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Alcheringa
Books</span></font></i></b></p>

<p>PO Box 925, Bowral, </span></font></p>

<p>NSW 2576 Australia</span></font></p>

<p>&nbsp;</span></font></p>

<p>Telefon +61 2 48 68 1045, lub Fax +61 2 48 68 2530</span></font></p>

<div style="border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;
margin-left:0cm;margin-right:7.5pt">

<p style=";border:none;padding:0cm"><span style="
">&nbsp;</span></font></p>

</div>

<p>&nbsp;</span></font></p>

<p style="margin-right:7.5pt;text-align:center" align="center"><font size="2" face="Tahoma" color="#000066"><span style="font-size:11.0pt;">© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Książki Valerie Barrow</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>