<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Gerry Bostock opowiada o Gwiezdnych Ludziach i przodkach w Australii</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Gerry Bostock opowiada o Gwiezdnych Ludziach i przodkach w Australii</h2>
  

<p style="" class="text-center"><span style="
"><img id="Obraz 1" src="../../../img/trio.png" alt="Helen and Val with Gerry Bostok " width="403" height="397"></span></font><span style="
"><br>
<br>
</span></font></p>

<p style="" class="text-center"><span style="
">Helen i Val z Gerry Bostockiem</span></font><span style="
"> </span></font></p>

<p style="
"><b><span style="
;font-weight:bold">&nbsp;</span></font></b></p>

<p style="
"><b><span style="
;font-weight:bold">Kuri<i><span style="font-style:italic"> </span></i>i<i><span style="font-style:italic"> </span></i>kangur</span></font></b></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Gerry, rozumiem, że
istnieli Aborygeni, którzy mieszkali w rejonach Gosford i Kariong i że znani
byli jako <i><span style="font-style:italic">Kuringai</span></i>. Czy tak?</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">To od <i><span style="font-style:italic">Kuringai</span></i> wywodzi się nazwa <i><span style="font-style:italic">Kuri</span></i>. <i><span style="font-style:italic">Kuri</span></i>
to nazwa ludzi a <i><span style="font-style:italic">ngai</span></i> znaczy
‘jestem’ – jestem <i><span style="font-style:italic">Kuri</span></i>. <i><span style="font-style:italic">Nga</span></i> oznacza rdzeń słowa osoba, tak jak w
łacinie człowiek, kobieta itd. <i><span style="font-style:italic">Ngia</span></i>
to ‘ja jestem,’ <i><span style="font-style:italic">ngni</span></i> – ty lub
twoje. Tak więc, ty jesteś lub cokolwiek twoje to <i><span style="font-style:
italic">nga ngni</span></i>. <i><span style="font-style:italic">Kangaru</span></i>
(kangur) nie jest nazwą zwierzęcia; jest to stwierdzenie. Kiedy Banks, Cook i
Parkinson przybyli do Botany Bay i w końcu potrafili rozmawiać z Aborygenami za
pomocą języka migowego, Parkinson pokazał im rysunek tego dwunożnego zwierzęcia.
Następnie wskazał na właśnie czmychające zwierzę i pokazał ruch zwierzęcia, a
Aborygeni, z którymi próbował się porozumieć powiedzieli ‘<i><span style="font-style:italic">kangaru</span></i>.’ W związku z tym, przyjął on, że
słowo to oznacza to zwierzę. Kangur w podstawowej formie gramatycznej w języku <i><span style="font-style:italic">Kuri</span></i> wymawia się po prostu jako <i><span style="font-style:italic">ka</span></i> lub <i><span style="font-style:italic">nga</span></i>,
ale <i><span style="font-style:italic">nga</span></i> znaczy też ludzki, zatem
jest to <i><span style="font-style:italic">kuringai</span></i>. Końcówka <i><span style="font-style:italic">ru</span></i> pochodzi od <i><span style="font-style:
italic">waru waru</span></i>, które znaczy ‘odchodzić.’ A więc, <i><span style="font-style:italic">kangaru</span></i> znaczy ‘oto on idzie.’</span></font></p>



<p style="
"><b><span style="
;font-weight:bold">Różne języki a plemienne regiony</span></font></b></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Zasadniczo to, o czym mówią
te języki jest tłumaczeniem z aborygeńskich plemion. To tak jak z Komanczami. <i><span style="font-style:italic">Comanche</span></i> w rodzimych językach Ameryk
znaczy ‘ludzka istota.’ U Aborygenów są to osoby należące do jakiegoś obszaru.
Zatem, <i><span style="font-style:italic">Kuringai</span></i>, ‘<b><span style="font-weight:bold">jestem Kuri</span></b>’ znaczy właściwie ‘to jest mój
rejon,’ ‘to stąd pochodzę.’ Zwykle taki obszar rozciągał się od rzeki do rzeki
i od brzegu morza do gór. Istnieją tzw. linie pieśni (<i><span style="font-style:italic">song lines</span></i>). Gdy Aborygeni biorą urlop i
wracają do plemiennego życia, śpiewają te pieśni lub opowiadają historie. Jeśli,
na przykład, góra miała kształt tylnych nóg psa, opowiadają lub śpiewają pieśń
o drodze, jaką przeszedł pies, gdy stracił swoją nogę. Opowiadając tę historię,
można było odnajdować własną drogę z punktu A do punktu B.</span></font></p>



<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 2" src="../../../img/word-map.png" alt="wanjina map of australia" width="375" height="315"></span></font><span style="
"><br>
<br>
</span></font></p>

<p style="" class="text-center"><i><span style="
;font-style:italic">Mapa świata</span></font></i><span style="
"> Australii</span></font><span style=""> </span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak więc, jeśli szłaś do
jakiegoś miejsca lub góry o kształcie psich tylnych nóg, śpiewałaś pieśń o tym
miejscu lub opowiadałaś tę historię. Aby przejść do następnego punktu wędrówki,
opowiedziałabyś następną cześć historii, mogłoby to być związane z wyśnionym
miejscem jakiejś kobiety. Zmieniłabyś kierunek i poszła do tego miejsca.
Opowiadasz historię i śpiewasz tę pieśń o owym śnie i o tym, jak sen się
spełnił. Te pieśni były swego rodzaju <b><i><span style="font-weight:bold;
font-style:italic">mapami świata</span></i></b>.</span></font></p>



<p style="
"><b><span style="
;font-weight:bold">Świat ducha i jego wymiary</span></font></b></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Twórca pieśni, którym mógł
być mężczyzna lub kobieta, był odpowiedzialny za zapisanie historii plemienia w
postaci tych pieśni. Pieśni te opowiadały o wielkich legendach, o bieżących
wydarzeniach albo wyśnione historie. Ale oni sami nie wymyślali i nie mówili
potem, jak to byli błyskotliwi tworząc daną pieśń. Szli do buszu i medytowali.
Właściwe informacje otrzymywali drogą channelingu od <i><span style="font-style:
italic">Moba</span></i>. Było to więc wydarzenie duchowe – tak dla mężczyzn,
jak i kobiet.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Mówiąc <i><span style="font-style:italic">Mob</span></i>, masz na myśli Ducha?</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak, rodowe Duchy.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Jaką rolę odgrywają
elementale?</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">W tym społeczeństwie są też
elemetale, <i><span style="font-style:italic">pierwotne byty</span></i>, takie
jak w krainach górskich, na przykład od Cape York aż do Portland w Wiktorii.
Wzdłuż Great Divide<sup>1</sup> istnieją włochaci faceci, których niektórzy
Australijczycy nazywają <i><span style="font-style:italic">yowies</span></i>.
My ich nazywamy<i><span style="font-style:italic"> dulaghal</span></i> a w
innych społecznościach plemiennych odpowiednio inaczej. W Ameryce Północnej ich
nazwa to <i><span style="font-style:italic">susquash</span></i> albo <i><span style="font-style:italic">big foot</span></i> (wielka stopa); w Himalajach są
to <i><span style="font-style:italic">yeti</span></i>. </span></font></p>

<p><span style="">Natomiast mali włochaci
ludzie znani są jako <i><span style="font-style:italic">greelagogs</span></i>
albo <i><span style="font-style:italic">Junjavi</span></i>; zależnie do której
grupy plemiennej należysz, możesz mieć inną nazwę. W Australii jest pięćset
różnych narodów. W irlandzkiej gwarze nazywają się <i><span style="font-style:
italic">leprechauns</span></i>, w skandynawskiej – <i><span style="font-style:
italic">loki</span></i>.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Gerry, sądziłam, że g<i><span style="font-style:italic">eelagogs</span></i> to wielkie istoty.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Nie, te małe włochate mogą
mieć wzrost od sześciu cali (15 cm) do trzech stóp (90 cm) – wszystkie one
stanowią różne typy. No i, oczywiście, w puszczy (lesie deszczowym) północnego
Queensland masz małych Aborygenów, takich jak pigmeje – z tyłu za Townsville i
w innych podobnych miejscach.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Czy mówisz o 4-tym
wymiarze? <sup>2</sup> </span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Nie ... one są rzeczywiste,
stanowią oddzielne społeczności – trzymają się razem. Tak jak <b><i><span style="font-weight:bold;font-style:italic">biali aborygeni</span></i></b>,
którzy włóczą się po centralnej pustyni. Niektórzy nazywają ich <b><span style="font-weight:bold">Wandjina</span></b> – mają jasną lub brązową skórę,
niebieskie oczy i jasne włosy (czasami wyblakłe od słońca). Mój ojciec
opowiadał, że widywał ich podczas II wojny światowej, gdy pracował na drodze
przez pustynię do Darwin.</span></font></p>

<p><span style="">Są, naturalnie, obok innych
rzeczy także istoty zmiennokształtne<sup>3</sup>. Tak samo jak w Ameryce
Północnej. My żyjemy w trzecim wymiarze, czyli społeczeństwie materialnym, zaś
te elementale, które znamy pod tą nazwą czyli włochaci ludzie, mogą istnieć w
tym wymiarze ale także w czwartym wymiarze.</span></font></p>



<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 3" src="../../../img/roo.png" alt="weather-map of dust storm" width="500" height="345"></span></font><span style="
"><br>
<br>
</span></font></p>

<p style="" class="text-center"><i><span style="
;font-style:italic">Oto on idzie</span></font></i><span style="
">!</span></font><span style=""> </span></font></p>

<p style="
"><b><span style="
;font-weight:bold">&nbsp;</span></font></b></p>

<p style="
"><b><span style="
;font-weight:bold">Aborygeni i gwiezdni ludzie</span></font></b></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Gerry, czy możesz mi
powiedzieć, co Kuri myślą o istnieniu gwiezdnych ludzi?</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Cóż, nie wiem – to zależy
od grupy. Ale w przypadku Bundjalungów, moich ludzi, wierzymy, że pochodzimy z
gwiazd. Wierzą w to także, oczywiście, ludzie, których mamy w zachodniej
Australii, nazywani <i><span style="font-style:italic">Wandjinan</span></i> (Gerry
z przekonaniem kiwa głową). Jest całe mnóstwo Aborygenów, których wierzenia
zasadzają się na pochodzeniu z gwiazd. To tacy ludzie jak David Unaipon, który
mówi o legendzie Plejad w plemieniu Bundjalung. Tak samo jest z Indianami Hopi
– oni też mówią o pochodzeniu z Plejad. Niektórzy antropolodzy poszukiwali
związków między Australią i Hopi, ale nie zostały one jeszcze dowiedzione.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Być może wiąże się to z
tym, że kiedyś, jak się przypuszcza, wszystkie lądy były połączone razem.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Istnieje grupa rdzennych
Afrykańczyków, którzy mówią o ciemnej gwieździe i czarnych dziurach – chodzi
bodajże o Syriusza. Od zawsze mają tę historię w swoich Snach i naukach o
układzie słonecznym, ale NASA odkryła to dopiero niedawno. </span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Niedawno oglądałam wideo o
Sfinksie w Egipcie, w którym kwestionowano jego prawdziwy wiek. Nawiązali też
do twarzy na Marsie, która jest podobna do Sfinksa. Wspomniano, że w Afryce
istnieje rasa tubylców, którzy twierdzą, że pochodzą z Marsa. Pomyślałam, że to
ciekawe. Afrykańscy tubylcy zdają się mieć inne korzenie rasowe niż
australijscy Aborygeni, a mimo to mają coś wspólnego z rodzimymi Indianami
Ameryki, nieprawdaż? Wydaje się, że jest tu pewne podobieństwo.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak. Naukowcy musieli
wymyślić nową nazwę Australoid, gdyż dotąd mieli typy Negroidów, Kaukazoidów,
Mongoloidów. Typ Australoid stosuje się wyłącznie do opisu australijskich
Aborygenów. Myślę, że rdzenni Indianie Ameryki należą do typu Polinezyjskiego
ze swoim odrobinę azjatyckim wyglądem. Dzięli wykorzystaniu nowego narzędzia w
postaci badań DNA stwierdzono, że każdy człowiek posiada w sobie przynajmniej
niewielką część DNA Aborygenów.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">To pasuje do naszej
historii, nieprawdaż, Gerry? Do tego, że człowiek ma swoje początki tutaj i że
stąd rozszedł się na cały świat.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak. I taki punkt widzenia
mają też Aborygeni. Uważają, że zaczęliśmy tutaj i cała nasza rasa stąd się
wywodzi – oni nie przyszli tutaj z innego miejsca na Ziemi, jak chcą nam wmówić
antropologowie. Moim osobistym zdaniem, antropologowie zasadzają swoje
postrzeganie w chrześcijaństwie, wierząc, że początek ludzkości był w Raju,
tzn. w Etiopii. Stąd mieli rozprzestrzenić się po świecie. My jednak mówimy, że
w rachubę wchodzi dwojaka ewolucja. Oni twierdzą, że ewolucja zaczęła się w
Afryce, a my mówimy: nie, ona zaczęła się tutaj, od nas.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Wspomniałeś o słynnym
Aborygenie Davidzie Unaipon. Czy on powiada, że wierzy iż przodkami byli
gwiezdni ludzie czy też jest to zawarte w historiach Snów?</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak mówią historie Snów. Na
banknocie pięćdziesięciodolarowym zobaczysz podobiznę Davida i zobrazowane jego
wynalazki – takie jak krzyżowe nożyce do strzyżenia i projekt helikoptera oparty
na rozwiązaniach Leonardo da Vinciego. Mówił po grecku i po łacinie –
przetłumaczył <i><span style="font-style:italic">Historie Aborygenów</span></i>
na grecki i łacinę. Jego faworyzowanym wynalazkiem jest wieczny ruch, który
nikogo nie zainteresował, co jest wielką szkodą.</span></font></p>

<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 4" src="../../../img/uniapon1.png" alt="Aboriginal David Unaipion on the Australian Fifty Dollar Note" width="308" height="261"></span></font><span style="
"><br>
<br>
</span></font></p>

<p style="" class="text-center"><span style="
">Rdzenny Australijczyk David Unaipon na banknocie
pięćdziesięciodolarowym</span></font><span style=""> </span></font></p>

<p style="" class="text-center"><span style="
">&nbsp;</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">David Unaipon opowiadał też
o historiach Snów mówiących o tym, że zwierzęta na Ziemi pochodzą z gwiazd. Czy
to prawda?</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak. Zostały stworzone
przez <i><span style="font-style:italic">Baiame</span></i>, przez <i><span style="font-style:italic">Wollumbina</span></i> albo inne bóstwo stosownie do
regionu. W niektórych miejscach tym bóstwem był mężczyzna, w innych – kobieta.&nbsp;
Tak więc, na górnym krańcu Australii mamy stwórcę w postaci <i><span style="font-style:italic">Warramelangi</span></i>, który jest rodzaju żeńskiego
i nosi nietypowe worki wokół szyi służące do zbierania ostryg i ryb. Ta postać
wyszła z morza i wokół jej stóp zebrało się błoto, dzieki temu mogła stworzyć
ląd. Ta historia opowiada jak ona przeszła aż do Melangi w Północnym Terytorium
stwarzając po drodze ląd. Ta historia znajduje się w pierwszym dokumencie<b><span style="font-weight:bold">, <i><span style="font-style:italic">The Land My
Mother</span></i> </span></b>(Ziemia moja Matka), w którego powstawaniu brałem
udział. W innych miejscach, tak jak w Nowej Południowej Walii a także w części
Queensland, mówi się o <i><span style="font-style:italic">Baiame</span></i>, a <i><span style="font-style:italic">Baiame</span></i> to bohater nieba. <i><span style="font-style:italic">Baiame</span></i> zszedła <i><span style="font-style:
italic">tam z góry</span></i>, aby uczyć bystrych facetów latania<sup>4</sup>.
Gdy ktoś był wyszkolony w sztukach magicznych, był odwiedzany przez istoty z
innego świata.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Gerry, na posiadłości
przyjaciela widzieliśmy światła elementali i sądzimy, że patrzyliśmy na duszki
(<i><span style="font-style:italic">fairy</span></i>) igrające na wodzie.
Aparat cyfrowy ukazał smugi energii wyglądające jak stojące tam także istoty
anielskie. Czy są to światła <i><span style="font-style:italic">min min</span></i>,
jak je nazywają Aborygeni?</span></font></p>

<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 5" src="../../../img/min.jpg" alt="trails of light" width="480" height="361"></span></font><span style=""><br>
<br>
</span></font></p>

<p style="" class="text-center"><span style="
">Światła <i><span style="font-style:italic">min min</span></i> na
jeziorze Hemphill</span></font><span style=""> </span></font></p>

<p style="" class="text-center"><span style="
">&nbsp;</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak, widziałem je uchwycone
przez cyfrowy aparat fotograficzny. Jeśli są dość jasne, można dostrzec w nich
wzory geometryczne. Podczas niektórych obrzędów Aborygenów można widzieć kule
światła, a są one bardzo liczne – jak bąbelki w szamponowej kąpieli. </span></font></p>

<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 6" src="../../../img/orb-bubble.jpg" alt="Orbs of Light" width="480" height="360"></span></font><span style=""><br>
<br>
</span></font></p>

<p style="" class="text-center"><span style="
">Orby światła przez rdzennych Aborygenów nazywane światłami <i><span style="font-style:italic">min min</span></i></span></font><span style="
"> </span></font></p>

<p style="" class="text-center"><span style="
">&nbsp;</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Pierwsze wspomnienie czegoś
takiego mam z czasu, gdy miałem 3 lub 4 lata. Babcia zabrała mnie wtedy nocą
nad brzeg wody, aby pokazać mi Rybaka-Ducha. Było to czerwone światło
poruszające się zygzakiem po wodzie. Powiedziała ‘Widzisz to? Jest to
rybak-duch – szuka dusz. Oni umarli. Nie przychodź sam nocą nad wodę’.</span></font></p>

<p><span style="">W moim uzdrawianiu używam
jasnej czerwieni przechodzącej przez kryształ, która wzmacnia energię
uzdrawiającą. Ona rozbija guzy u ludzi – jest to dobre dla rozpraszania
energii. Zmiękcza guz i rozprasza go.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">W świecie Zachodu ludzie
opowiadają, że widzieli anioły. Czy Aborygeni widują anioły lub coś w tym
rodzaju?</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Nie – zasadniczo jest to
Światło. Duch jest Światłem i właśnie dlatego światła <i><span style="font-style:italic">min min</span></i> uznaje się za duchowych ludzi. To,
jak postrzegasz Ducha, zależy od praktyki. Ty możesz zobaczyć istotę taką jak
Jezus, ale w tym właśnie niektórzy postrzegaliby energię – twój umysł
przekształca ją na obraz.</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Tak, to tak jak ten sam
przedmiot w różnych krajach, o różnych językach, opisywanoby w różny sposób.
Tak to rozumiem.</span></font></p>

<p style="
"><span style="
">Artykuł ten jest wyborem z większej całości. Dalej następuje seria
regresji Gerrygo przeprowadzona przez Val. Zostały one tutaj pominięte, ze
względu na na rozmiar tej strony internetowej. Całość można przeczytać
pobierając plik, do którego link podany jest na końcu tej strony.</span></font></p>

<p style="
"><span style="
">&nbsp;</span></font></p>

<p style="
"><b><span style="
;font-weight:bold">Telepatia</span></font></b></p>

<p style="
"><span style="
">Gerry mówł o telepatii:</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">We wszechświecie zasadniczo
każdy komunikuje się telepatycznie. Język w pewien sposób zmienia swoją naturę
tak, że możliwe jest rozumienie się między istotami róznych ras.</span></font></p>



<p style="
"><span style="
">Ciekawe, że Gerry mówi iż rdzenni ludzie Ziemi często porozumiewali
się za pomocą telepatii. On widział jak gwiezdni ludzie używali technologii
opartych na kryształach. </span></font></p>

<p style="
"><span style="
">Energia kryształów otworzyła drogę na wszechświat i pozwoliła na
kosmiczne podróże. Zdawał sobie też sprawę z tego, że otwarcie się na pamięć
swoich gwiezdnych ludzi pomogło mu pełniej zobaczyć własną podróż, zawsze
związaną z wszelakim życiem, niezależnie od rasy, w karmicznej perspektywie.
Życie w jakimś ciele zawsze przebiegało podobnie do życia z innego czasu.
Widział, że przebieg jego późniejszego życia przypominanego w regresjach łączył
się karmicznie z tym pierwszym, którego doświadczył na Statku Bazowym Rexegena.
</span></font></p>

<p style="
"><span style="
">Pamiętał, że istniały dwie różne hierarchie ludzi światła. Jedne to
<i><span style="font-style:italic">Drakonianie</span></i> i <i><span style="font-style:italic">Reptilianie</span></i>, których motywacje zasadzały
się na panowaniu i władzy, a drugie – Istoty Błękitnego Światła, które łączyły
się ze Źródłem całego Stworzenia, bazując na miłości i podejmowaniu decyzji dla
dobra wszystkich. Pamiętał też, że petroglify (rysunki wyryte w skale)
pochodziły z macierzystych planet Plejad i Syriusza, zaś egipskie hieroglify
zawierały w sobie te oraz piktoglify innych gwiezdnych ludzi, wymieszane w znacznie
późniejszym okresie. </span></font><span style="
"><br>
<br>
</span></font></p>

<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 7" src="../../../img/postscript-end.jpg" alt="Glyphs from Kariong" width="487" height="321"></span></font><span style=""><br>
<br>
</span></font></p>

<p style="" class="text-center"><span style="
">Glify wyryte laserem na skałach w Kariong</span></font><span style="
"> </span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">&nbsp;</span></font></i></b></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">W miarę jak coraz bardziej wciągałam
się w pracę z <i><span style="font-style:italic">Niewidzialnymi Istotami</span></i>,
które na ogół przedstawiały się jako Istoty Światła, Mistrzowie itp., zauważyłam,
że wszystkie mówią że są <i><span style="font-style:italic">Extra Terrestrials </span></i>(ET,
tj. istotami pozaziemskimi). Wydaje się, że nadszedł czas, że chcą by ludzie
wiedzieli, że oni pragną pomagać i że byli i są częścią naszej psychiki. Pora,
żebyśmy wszyscy o tym wiedzieli. Kiedy naukowcy przyjmą do wiadomości istnienie
innych światów i innych Istot, będzie to przełom w dziedzinach, w których obecnie
wiele rzeczy nie pasuje do siebie.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Dla mnie zagadką było to,
że tacy ludzie jak Carl Sagan, który bada gwiazdy, nie mogą zaakceptować faktu,
że poza naszym układem słonecznym jest życie, bo nie widzą go fizycznie. Chcą
najpierw je zobaczyć.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Racja, ale fizycy kwantowi
przełamują wszystkie te opory. Czy oglądałeś film <b><i><span style="font-weight:
bold;font-style:italic">What the Bleep do we know?</span></i></b> On pomaga
ludziom zrozumieć inne rzeczywistości.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak, mówi on o szamanizmie
i duchowości. To, co mnie tam zaciekawiło, to <i><span style="font-style:italic">kto
zobaczył owe statki</span></i>. On nie mógł zobaczyć statków, ponieważ nie
należało to do jego świadomości.</span></font></p>



<p style=""><span style="
">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
"><img id="Obraz 8" src="../../../img/endeavour.jpg" alt="HMS Endeavour" width="480" height="322"></span></font><span style=""><br>
<br>
</span></font></p>

<p style="" class="text-center"><span style="
">Replika fregaty </span></font><i><span style="
;font-style:italic">HMS Endeavour</span></font></i><span style="
">, w której kapitan Cook przypłynął do Botany Bay</span></font><span style="
"> </span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">&nbsp;</span></font></i></b></p>

<p style="margin-top:5.25pt;margin-right:0cm;margin-bottom:
5.25pt;margin-left:15.0pt"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b><span style="
"> </span></font></p>

<p><span style="">Dokładnie taka sama była
reakcja Aborygenów, kiedy przypłynął kapitan Cook. Gdy Cook dobił do brzegu w Botany
Bay, miejscowi ludzie wykonywali swoje codzienne obowiązki – nikt nie zwracał żadnej
uwagi na przybyszów. Byli to obcy ludzie, ale nikt ich nie widział, nie
zauważali żadnej różnicy. Dopiero w obliczu konfrontacji z ich <i><span style="font-style:italic">kurrijees</span></i> (szamanem), gdy przybysze
próbowali wyjść na brzeg, Aborygeni zaczęli sobie zdawać sprawę, że coś się
dzieje. Jest to opisane w dzienniku pokładowym Endeavoura. Gdy oglądasz takie
rzeczy <i><span style="font-style:italic">jak <b><span style="font-weight:bold">What
the Bleep</span></b></span></i> i znasz tę historię z Australii, możesz je
powiązać.<br>
<br>
Zastanawiam się więc nad reakcją na ET, którzy nie przychodzą z rzeczywistości znanej
ludziom. Erich von Daniken mówił o aniołach w kapsułach kosmicznych u Majów i w
Europie. On widział ET, ale wszyscy wtedy myśleli, że on jest pomylony. Było to
na początku lat 1970-tych.<br>
<br>
</span></font></p>

<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Tak ... ale wielu ludzi kupowało
jego książki. Inni ludzie odbierali ET jako aniołów ze skrzydłami.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p><span style="">Mówiłeś, że Aborygen-Mędrzec
potrafił <i><span style="font-style:italic">shape shift</span></i> (zmieniać formę).
Czy miałeś na myśli ich zdolność zmiany wyglądu, tak że wydawali się czymś
innym? </span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Tak ... Z drugiej strony,
mamy zapisy pierwszysch osadników, którzy rozmawiali z Aborygenami. W swoich
dziennikach mówią o tym jak mądrzy Aborygeni potrafili wyciągać nici babiego
lata ze swojego splotu słonecznego, robić z tego lasso i przemieszczać się na
nim po drzewach. Być może uzywali słowa ‘nić’, by wyjaśnić jak to robili, gdyż
nie sądzili, aby biali ludzie mogli rozumieć lewitację.</span></font></p>



<p style="
"><b><i><span style="
font-weight:bold;font-style:italic">Gerry:</span></font></i></b></p>

<p><span style="">Inna interesująca rzecz dotyczy
szamańskiego szkolenia tych ludzi w sztuce skakania po drzewach i wyciągania
babiego lata z brzucha. Nauki te otrzymywali od <i><span style="font-style:
italic">Baiame </span></i>czyli Boga Stwórcy, który przychodził bardzo często,
by ich nauczać. Kojarzy się to z wizytami ET na tej planecie.</span></font></p>

<p style="
"><span style="
">&nbsp;</span></font></p>

<p style="
"><span style="
">Pełny wywiad Valerie Barrow z Gerrym Bostockiem możecie
przeczytać pobierając plik stąd: <br>
<b><span style="font-weight:bold"><a href="docs/Interview-Gerry-Bostok.pdf"><font><span style="">Pobierz pełną wersję wywiadu</span></font></a></span></b></span></font></p>

<p style="margin-bottom:12.0pt"><span style="
">__________________________</span></font></p>

<h1><b><span style="
"><span style="">Przypisy</span></span></font></b></h1>

<p style="
"><sup><span style="
">1 </span></font></sup><span style="">Great Dividing Range na
wschodnim wybrzeżu Australii.</span></font></p>

<p style="
"><sup><span style="
">2 </span></font></sup><span style="">Inna częstość
rzeczywistości w stosunku do częstości materii 3-go Wymiaru.</span></font></p>

<p style="
"><sup><span style="
">3 </span></font></sup><span style="">Byty zdolne so dostosowania
swojej częstości tak, by mogły wchodzić i wychodzić z 3-go i 4-go Wymiaru.</span></font></p>

<div style="border:none;border-bottom:solid windowtext 1.0pt; 0cm 1.0pt 0cm;
margin-left:15.0pt;margin-right:30.0pt">

<p style="
"><sup><span style="
">4 </span></font></sup><span style="">W
sensie jak lewitować, bilokować się, wchodzić do kontinuum przestrzeni i <i><span style="font-style:italic">shape shift</span></i> (zmieniać formę), a także jak
powodować pojawianie się i znikanie przedmiotów.</span></font></p>

<p style="
"><span style="
">&nbsp;</span></font></p>

</div>

<p><font size="2" face="Calibri"><span style="font-size:11.0pt">&nbsp;</span></font></p>

<p style="" class="text-center"><span style="
">© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Gerry Bostock opowiada o Gwiezdnych Ludziach i przodkach w Australii</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>