<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta w świętym miejscu na Cave Hill</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Wizyta w świętym miejscu na Cave Hill (Jaskiniowej Górze) w Środkowej Australii 5 godzin drogi od Uluru i z powrotem</h2><img src="../../../img/cave-hill_image001.jpg" alt="Aboriginal rock art showing core of suns and movement of Earth" v:shapes="Obraz_x0020_1" width="563" height="421"><!--[endif]--></span><br>
<br>
</span><span style="
">Naskalne rysunki Aborygenów wyobrażające jądro słońc i ruch Ziemi <br>
– podobne rysunki znajdują się na Górze Jaskiniowej –<br>
(<i>Foto: Witryna <a href="http://www.ayersrockresort.com.au/cave%E2%80%90hill/" target="_blank" rel="no-follow">Ayers Rock Resort</span></a></i>)</span></p>



<p>Zadzwonił do mnie człowiek imieniem
Paul, mówiąc, że czytał mój artykuł <a href="uluru.htm" target="_blank">Historia Uluru</a></i> w mojej witrynie i
chciał przeczytać książkę „<i>Alcheringa when <span class="GramE">the</span>
first Ancestors were created</i>.”</p>

<p>Po tygodniu znów zadzwonił i spytał, czy
on wraz z żoną, synem i przyjaciółką mogą nas odwiedzić zanim wybiorą się na
wycieczkę do środkowej Australii, a w szczególności do świętego miejsca
nazywanego Cave Hill (Jaskiniowa Góra), gdzie są naskalne rysunki datowane
metodą węglową na ponad 20000 lat. Interesowali się szczególnie związkami tego
miejsca z Śnioną Historią (Dreaming Story</i>)
Siedmiu Sióstr z Plejad. Byli to profesjonaliści planujący urlop, ale posiadali
pewne zdolności ezoteryczne i byli przekonani, że oczekiwano od nich wykonania
pewnej ‘specjalnej pracy uzdrawiania’ w pobliżu Uluru i Kata Tjuta, chociaż nie
bardzo <span class="GramE">wiedzieli jakiego</span> rodzaju pracę mają wykonać.</p>

<p>By się nie rozwodzić, powiem, że
zaprosili mnie do towarzyszenia im w wyprawie na Uluru, zapłacili za mój bilet
lotniczy, przyjęli do swojego locum, zarezerwowali wspólne miejsce na podróż minibusem
do Cave Hill. W tym czasie mój mąż był służbowo w Hong Kongu, co dawało mi swobodę
w decydowaniu. Oczywiście, kiedy pierwszy raz spotkaliśmy się z Paulem i tymi
dziewczynami, uścisnęliśmy się tak, jak gdybyśmy znali się od wieczności – nie
było żadnego problemu związanego ze wspólną podrożą czy mieszkaniem razem.</p>

<p>8-mego października 2011 r. wczesnym
ranem, w 11 osób <span class="GramE">wyruszyliśmy jako</span> turyści w podróż
przez niekończącą się czerwoną pustynię bitą drogą do Curtain Springs, farmy
bydła na obszarze miliona akrów (ponad 4000 ha).</p>



<p style="
><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
;mso-no-proof:yes"><!--[if gte vml 1]><v:shape id="Obraz_x0020_2" o:spid="_x0000_i1026"
 type="#_x0000_t75" alt="Curtain Springs station - on the way to Cave Hill"
 style='width:412.5pt;height:220.5pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image002.jpg" o:title="Curtain Springs station - on the way to Cave Hill"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image002.jpg" alt="Curtain Springs station - on the way to Cave Hill" v:shapes="Obraz_x0020_2" width="550" height="294" border="0"><!--[endif]--></span><br>
<br>
</span><span style="
">Farma Curtain Springs – po drodze do Cave Hill</span></p>



<p>Po krótkim odpoczynku ruszyliśmy dalej i
wkrótce <span class="GramE">zjechaliśmy</span> z głównej drogi na wyboistą polną
drogę. Ostatnio sporo padało w tym rejonie, dlatego wszędzie było zaskakująco
dużo zieleni – drzewa w ciągu 6 miesięcy wyrastały na 8 stóp (prawie<span class="GramE"> 2,5 m</span>) i wyglądały jak wszędzie stojący ludzie. Dzień był
zbyt upalny, by pokazywały się dzikie zwierzęta. Ponieważ była to wiosna,
dalekie widoki były upstrzone kwiatami buszu wszelakiego koloru. W końcu na
horyzoncie pojawiła się Góra Conner, którą turyści często mylą z Uluru.</p>



<p><!--[if gte vml 1]><v:shape
 id="Obraz_x0020_3" o:spid="_x0000_i1027" type="#_x0000_t75" alt="Mt Conner - often mistaken for Ayers Rock by many travellers"
 style='width:412.5pt;height:167.25pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image003.jpg" o:title="Mt Conner - often mistaken for Ayers Rock by many travellers"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image003.jpg" alt="Mt Conner - often mistaken for Ayers Rock by many travellers" v:shapes="Obraz_x0020_3" width="550" height="223" border="0"><!--[endif]--></span><br>
<br>
</span><span style="
">Mt. Conner znajduje się w linii prostej 115 km na wschód od Uluru, a dalej,
<o:p></o:p><!--/p--><br>

na</span><span style="
"> tym samym kierunku na zachód id Uluru znajduje się Kata Tjuta</span><span style="font-size:14.0pt;font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
"> <br>
</span><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
">&nbsp;(<u><a href="http://www.valeriebarrow.com/images/mtconner-large.jpg" rel="no-follow">zdjęcie
w większej rozdzielczości</a></u>)</p>



<p>Lubię myśleć o niej jako o ‘kapsule
czasu<span class="GramE">,’ gdyż</span> zachowuje wysokość (poziom) tego obszaru
taką, jaka była bardzo dawno temu. Mówi się, że na jej szczycie można znaleźć
muszle morskie.</p>

<p>Na koniec skręcamy na inną polną drogę
przez czerwoną pustynię, prowadzącą do Cave Hill. Daleko z przodu można stąd
dostrzec Góry Musgrave.</p>



<p style="
><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
;mso-no-proof:yes"><!--[if gte vml 1]><v:shape id="Obraz_x0020_4" o:spid="_x0000_i1028"
 type="#_x0000_t75" alt="Mt. Conner in the distance on road to Cave Hill"
 style='width:412.5pt;height:93pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image004.jpg" o:title="Mt"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image004.jpg" alt="Mt. Conner in the distance on road to Cave Hill" v:shapes="Obraz_x0020_4" width="550" height="124" border="0"><!--[endif]--></span><br>
<br>
</span><span style="
">Droga do Cave Hill; w oddali widać Mt. Conner (</span><u><a href="http://www.valeriebarrow.com/images/dusty-red-road-large.jpg" rel="no-follow">zdjęcie w
większej rozdzielczości</a></span></u>) </p><br>

<p style="
><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
;mso-no-proof:yes"><!--[if gte vml 1]><v:shape id="Obraz_x0020_5" o:spid="_x0000_i1029"
 type="#_x0000_t75" alt="The view from Cave Hill looking towards Musgrave Mountains"
 style='width:412.5pt;height:90.75pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image005.jpg" o:title="The view from Cave Hill looking towards Musgrave Mountains"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image005.jpg" alt="The view from Cave Hill looking towards Musgrave Mountains" v:shapes="Obraz_x0020_5" width="550" height="121" border="0"><!--[endif]--></span><br>
<br>
</span><span style="
">Widok z Cave Hill w kierunku Gór Musgrave </span><span style="
">(</span><u><a href="http://www.valeriebarrow.com/images/musgrave2-large.jpg" rel="no-follow">zdjęcie w
większej rozdzielczości</a></span></u>"></p><br>

<p><!--[if gte vml 1]><v:shape
 id="Obraz_x0020_6" o:spid="_x0000_i1030" type="#_x0000_t75" alt="The view from Cave Hill looking towards Musgrave Mountains"
 style='width:412.5pt;height:90.75pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image006.jpg" o:title="The view from Cave Hill looking towards Musgrave Mountains"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image006.jpg" alt="The view from Cave Hill looking towards Musgrave Mountains" v:shapes="Obraz_x0020_6" width="550" height="121" border="0"><!--[endif]--></span><br>
<br>
</span><span style="
">Inny widok z Cave Hill w kierunku Musgrave Mountains &nbsp;<o:p></o:p><br>

(</span><u><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
"><a href="http://www.valeriebarrow.com/images/musgrave1-large.jpg" rel="no-follow">zdjęcie w
większej rozdzielczości</a></span></u>)</span><span style="

"> </p><br>

<p><!--[if gte vml 1]><v:shape
 id="Obraz_x0020_7" o:spid="_x0000_i1031" type="#_x0000_t75" alt="base of Cave Hill"
 style='width:412.5pt;height:141pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image007.jpg" o:title="base of Cave Hill"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image007.jpg" alt="base of Cave Hill" v:shapes="Obraz_x0020_7" width="550" height="188" border="0"><!--[endif]--></span><br>
<br>
</span><span style="
">Podnóże Cave Hill – idąc ze strony wejścia, łatwo można je przegapić. <br>

<span style="
">&nbsp;(</span><u><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
"><a href="http://www.valeriebarrow.com/images/top-entrance-large.jpg" rel="no-follow">zdjęcie
w większej rozdzielczości</a></span></u><span style="

">)</p>



<p>Kiedy dojechaliśmy na miejsce,
powiedziano nam, że przybędzie Starszy Tubylec, aby pokazać nam Grotę (Cave),
ale niestety nie zjawił <span class="GramE">się. </span>Podobno brał udział w
ważnym obrządku pogrzebowym. W tej sytuacji naszym przewodnikiem został nasz
kierowca (młoda kobieta), która opowiedziała nam śnione historie.</p>

<p style="
"><span style="
">Wszyscy, Paul, dziewczyny i ja, zorientowaliśmy się, że ta ‘góra’ była
zbudowana z takiej samej skały, jak Uluru, odległa o dobrze ponad 100 <span class="GramE">km. Gdy</span> o tym rozmawialiśmy wskazując na feldspar</i> w skale, podszedł do nas
japoński turysta. Pokazując i wymachując rękami mówił: „<i>Feldspar, Feldspar</i>!!</i>" <span class="GramE">i</span>
przytakiwał energicznym ruchem głowy. Wyglądało to tak, jak gdyby <b style="font-weight:normal">Duch</b> przysłał go na potwierdzenie,
chociaż on z pewnością tego sobie nie uświadamiał. Tak, to była ta sama skała,
co na Uluru i musiała oderwać się od pierwotnej głównej bryły, gdy przybyła tu
z gwiazd.</p>

<p style="margin-top:0cm;margin-right:30.05pt;margin-bottom:
0cm;margin-left:15.05pt;margin-bottom:.0001pt;text-align:justify;line-height:
130%;"><span style="

"></p>

<p style="margin-top:0cm;margin-right:30.05pt;margin-bottom:
0cm;margin-left:15.05pt;margin-bottom:.0001pt;text-align:justify;line-height:
130%;"><span style="

"></p>

<p><!--[if gte vml 1]><v:shape
 id="Obraz_x0020_8" o:spid="_x0000_i1032" type="#_x0000_t75" alt="On top of Cave Hill showing rock is the same as at Uluru with flecks of Feldspar"
 style='width:412.5pt;height:206.25pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image008.jpg" o:title="On top of Cave Hill showing rock is the same as at Uluru with flecks of Feldspar"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image008.jpg" alt="On top of Cave Hill showing rock is the same as at Uluru with flecks of Feldspar" v:shapes="Obraz_x0020_8" width="550" height="275" border="0"><!--[endif]--></span><span style="font-size:12.0pt;
font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
"><br>
<br>
</span><span style="
">Na szczycie Cave Hill – widać tu te same skały, co na Uluru, z płytkami feldsparu</i>.</span><span style="
"><o:p></o:p><br>

&nbsp;</span>(<u><a href="http://www.valeriebarrow.com/images/same-rock-large.jpg" rel="no-follow">zdjęcie w
większej rozdzielczości</a></span></u><span style="
"></p>



<p>To by znaczyło, że w pewnych porach dnia
i roku skała ta miałaby różne odcienie, podobnie jak to dzieje się na Uluru.
Nic dziwnego, że Starsi Tubylców uważają ją za tak świętą. Zrozumiałam też, że
grota na Cave Hill to miejsce, gdzie afgański handlarz wędrujący z wielbłądami
znalazł ów święty kamień Alcheringa, który zawinięty w łykowy papier
przechowywałam przez dwa lata (<a href="alcheringa.htm" target="_blank">kliknij
tu, aby przeczytać o Kamieniu Alcheringa</a>). W jasnowidczych wizjach zawsze
widziałam ten <span class="GramE">kamień jako</span> kiedyś leżący w Grocie o
Jasno-błękitnym/Białym Odcieniu w Środkowej Australii.</p>

<p>Gdy wspinaliśmy się do groty, poproszono
nas, abyśmy nie robili żadnych zdjęć. Cała nasza czwórka przeżywała intensywne
ezoteryczne wspomnienia tego, co się tutaj wydarzyło oraz majestatyczność
naskalnych malowideł. Istnieje tam wiele rysunków na sklepieniu, niektóre jeden
na drugim. Wiek najstarszych z ochrowych malunków, głównie czarnych i białych,
datuje się na 24000 lat, a te najmłodsze, czerwone, żółte i białe – na 70 lat.</p>

<p>Powiedziano nam, że obszar ten stanowił
część „songline’ów”</i> [linii czy dróg
opiewanych w pieśniach Aborygenów] Siedmiu Sióstr, Perentie i Mrówki Miodowej. Songline</i> Siedmiu Sióstr, dotyczący czasu
stwarzania, ciągnie się od rejonu zatokowego w Northern Queensland, przez Northern
Territory (Terytorium Północne) do Cave Hill i dalej przez South Australia
(Australia Południowa) aż do Great Australian Bight (</span><span style="
font-weight:bold">Australijska Wielka Zatoka)</span><span style="
">.</p>

<p>Paul widział starożytne rysunki, które
przypominały mu systemy gwiazdowe, głównie Lutnię lub Plejady oraz Oriona i
Syriusza. Inne koła w szeregu kojarzyły mu się z przepowiedniami jądra słońc, o
których mówi się, że podlegają harmonizowaniu (<span class="GramE">ang. alignment</i>), które</span> ma się
zakończyć podczas przesilenia zimowego w grudniu 2012 r. i jest stowarzyszone z
podnoszeniem świadomości Ziemi i każdego człowieka.</p>



<p style="
><span style="font-size:12.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
;mso-no-proof:yes"><!--[if gte vml 1]><v:shape id="Obraz_x0020_9" o:spid="_x0000_i1033"
 type="#_x0000_t75" alt="Rock art at Mutijulu Springs suggesting the alignment of the core of suns to the Earth"
 style='width:412.5pt;height:308.25pt;visibility:visible'>
 <v:imagedata src="../../../img/cave-hill_image009.jpg" o:title="Rock art at Mutijulu Springs suggesting the alignment of the core of suns to the Earth"/>
</v:shape><![endif]--><!--[if !vml]--><img src="../../../img/cave-hill_image009.jpg" alt="Rock art at Mutijulu Springs suggesting the alignment of the core of suns to the Earth" v:shapes="Obraz_x0020_9" width="550" height="411" border="0"><!--[endif]--></span><span style="font-size:12.0pt;
font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
"><br>
<br>
</span>
<p>Zdjęcie naskalnego rysunku wykonane w Mutitjulu Springs (zdjęcie nie ma
    żadnych ograniczeń wynikających z praw autorskich). Rysunek
    zawiera sznur słońc, które,
    jak wierzymy, wyobraża jądro słońc, z którym harmonizuje się Ziemia. 
    Malowidła na sklepieniu Cave Hill są o wiele wyraźniejsze (</span><u><a href="http://www.valeriebarrow.com/images/art-mutijuilu-large.jpg" rel="no-follow">wersja w
        większej rozdzielczości</a></p></p></u>


<p>Dyskretnie nadmieniłam naszej przewodniczce,
że jesteśmy mediami i że mamy wykonać ezoteryczną pracę w czerwonym centrum
Australii. Spytałam: „Czy uważa pani, że
gdy wszyscy odejdą moglibyśmy wrócić tu do groty, zwrócić się do Przodków Groty
i zarejestrować sesję?</i>” Od razu zrozumiała, o czym mówiłam i bez wahania
zgodziła się. Myślę, że gdyby nie musiała przygotowywać dla wszystkich lunchu,
przyłączyłaby się do nas!</p> <br>
<p class="text-center"><a href="cave-hill1.htm">Następna strona</a></p>
</i></b></p>

<p style=""><span style="
"></p>

</div><br>

<p style="text-align:center" align="center"><span style="font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;color:#000066">© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta w świętym miejscu na Cave Hill</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>