<!doctype html>
<html lang="pl"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">    <title>Kazik Borkowski (PL)</title>
</head><body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    
                </ol>
            </nav>
            <article class="container">
               <h2>Rozdział 12</h2>
               <h4 class="text-center my-5">Przesłanie Alcheringi</h4>



            <p>Usiedliśmy
            obok drzewa Babci, ogromnego czerwonego drzewa gumowego, które rosło w pobliżu wejścia
            do hieroglifów. Gerry zagrał na swoim bębnie Czerokezów i zaśpiewał na
            przywitanie obecności Alcheringi. Dźwięk bębna grzmiał mi w uszach.</p>
            
            
            <p>Gdy
            zjawił się Alcherniga, szarpnęło moim ciałem. Jego obecność była znacznie bardziej
            intensywna niż kiedykolwiek wcześniej. Głośno mówił i machał moimi rękami. </p>
            
            
            <p>„Jestem tu. Sprawia mi wielką przyjemność przywitanie was
            wszystkich w tym starożytnym miejscu. Długo czekałem na ten dzień.</p>
            
            <p>Dzisiaj w tym miejscu zadanie dobiega końca. Będzie jeszcze coś
            do zrobienia, ale ta praca udostępniania zapisów jest niemal skończona. Zatem
            dziękuję wam szczerze za to, że umożliwiście jej wykonanie. Teraz dowie się
            wielu, gdyż wykonaliście dobrą robotę. Pozostało tylko jedno końcowe
            przesłanie, które zamknie ten rozdział. </p>
            
            <p>Z centrum galaktyki przychodzi na tę Ziemię nowa energia, która
            wpłynie na samą Ziemię i wszystko na niej. Jest to część naturalnego cyklu,
            który przebiega we wszechświecie. Zachodzi podnoszenie energii, przyśpieszanie
            ruchu cząsteczek, atomów i komórek. Podnosi ona też świadomość ludzi, którzy
            żyją na Ziemi.</p>
            
            <p>Nie jest więc przypadkiem, że coraz więcej ludzi zaczyna myśleć
            o swoich innych aspektach niż w przypadku tych, którzy żyją w materialnym
            świecie. Przychodząca energia niszczy wszystko, co powstrzymuje ludzi przed
            wiedzą, że są Bogiem.</p>
            
            <p>Zachodzi oddzielanie, rozdział między cieniem i boskim światłem.
            Ludzie są stopniowo wznoszeni do wyższej świadomości, a ich ciała powoli
            ulegają zmianie. Zaczynają zmieniać dietę, nawyki picia, sposób życia. Szukają
            świeższego powietrza i wody. Wszystko to jest częścią dorastania do boskiego
            światła, boskiej energii, która jest prawdziwą częścią Boga.</p>
            
            <p>Z biegiem czasu ludzie będą decydowali czy chcą pójść za energią
            Boga, czy w inną stronę. Jeśli pójdą za wolą Boga, zmiany, które zachodzą,
            przebiegną łatwo; przemieszczą się do wyższego wymiaru i połączą ze swoją
            anielską jaźnią.</p>
            
            <p>Jest to wolność, oderwanie się od karmicznego koła. Tu mogą być
            wolni od ciągłego przychodzenia i odchodzenia, wolni od chorób, dysharmonii i
            wszystkiego, co jest sprzeczne z boskim światłem.</p>
            
            <p>Wraz z wzniesieniem, które zachodzi, komórki będą funkcjonowały
            na wyższej częstotliwości. Mózg i fizyczne ciało już zaczynają ulegać
            restrukturalizacji.</p>
            
            <p>Jest to coś podobnego do rytmu tonów muzycznych, który przechodzi
            tam i z powrotem w melodii i harmonii. Myślcie o tym jak o instrumentach, które
            dostrajają się, jak o muzycznych tonach i wibracjach, które przynoszą harmonię
            na całej Ziemi. Wiedzcie, że dzieje się to w wielu miejscach we wszechświecie,
            a między nimi Bóg łączy wszystkie tony.</p>
            
            <p>Wielu zacznie przypominać sobie, że są prawdziwie istotami
            światła i czymś więcej niż wydaje się w świecie fizycznym. Ci, którzy wybiorą
            pamiętanie, wrócą do nieograniczonej przestrzeni istoty światła, boskiej
            istoty.</p>
            
            <p>Cała wiedza i rozumienie znajduje się w każdym. Jest tylko
            kwestia otwarcia drzwi, by pozwolić przejawić się tej pamięci.</p>
            
            <p>Pierwszą i najważniejszą rzeczą jest posiadania pragnienia
            połączenia się z boską energią. Stąd wynika wszystko inne. Niektórzy mogą
            nazwać to intuicją. Jeśli pójdziecie za nią, swoje życie uczynicie łatwiejszym.
            Po prostu skupcie się na tej sprawie – nie obawiajcie się, gdyż przychodzimy z
            miłością w naszych sercach i chcemy jedynie pomagać.</p>
            
            <p>W głębi serca proście o pokój i dziękujcie Bogu za pomoc w
            zaprowadzeniu pokoju na tej Ziemi. Poczujcie słowa w swoim sercu i niech one
            wysyłają swoją energię. Zawsze zachowujcie tę energię w swoim sercu.</p>
            
            <p>Jeśli myślicie i działacie z miłością, karmiczna reakcja ponownie
            zwraca ją do was. Wkładajcie miłość w każdą czynność – jest to naprawdę bardzo
            proste. Jeśli wszyscy na Ziemi będą myśleli i działali z miłością, wróci ona do
            nich z mocą boskiego źródła i w całym wszechświecie nastanie pokój.</p>
            
            <p>Właśnie
            dlatego wszystkie te istoty znajdują się w małych ziemskich ciałach – by wprowadzić
            działanie miłości do tej sfery i dzielić się nią. Czy jest to zrozumiałe?”</p>
            
            
            <p>Odezwała
            się Karen: „Tak, ale dlaczego to zrobiliśmy?”</p>
            
            
            <p>„Ponieważ dawno temu zobowiązaliście się to zrobić. Każde z was
            tak postąpiło. Teraz otworzy się pudełko Pandory i jego zawartość rozejdzie się
            i doprowadzi do zrozumienia. Dotknie to wielu i zmieni ich życie, gdyż
            przelotnie zobaczą światło.</p>
            
            <p>A
            wszystko sprowadza się właśnie do tego – do pokonania ciemności przez światło
            miłości.”</p>
            
            <figure class="text-center">
                <img src="../../../img/Chapter12.jpg" alt="">
                <figcaption></figcaption>
            </figure>
            
            
            
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body></html>