<!doctype html>
<html lang="pl"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">    <title>Kazik Borkowski (PL)</title>
</head><body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    
                </ol>
            </nav>
            <article class="container">
               <h2>Rozdział 4</h2>
               <h4 class="text-center my-5">Alcheringa mówi o dzieciach i narodzinach<br>
                Regresja Charlesa Brendona</h4>
                
                <p>O śnie nie było mowy. Czas było zrobić sobie filiżankę gorącej
                herbaty, na zewnątrz popatrzyć na gwiazdy i znaleźć Plejady i z powrotem do
                domu, do mojego gabinetu posiedzieć z kamieniem Alcheringa. Lepiej będzie
                zebrać całą historię i zająć się własnym życiem.</p>
                
                
                <p>Niestety, spytałam: „Alcheringa, a co z tamtymi dziećmi?”
                Połączenie nastąpiło natychmiast.</p>
                
                
                <p>Głos Alcheringi przepełniało współczucie. 
                </span></font><p>„Pierwsza grupa nowych
                dzieci nie była udana – wszystkie zmarły.”</font>
                
                
                <p>„O, mój Boże” – wydyszałam.</p>
                
                
                <p>„Był wielki smutek wśród tych matek i wszystkich, którzy
                pracowali nad udoskonalaniem tej nowej rasy. Musisz zrozumieć ­­– z powodu tej
                katastrofy, w której stracili statek bazowy, ludzie znaleźli się w
                nieprzyjaznym środowisku. Cierpieli strasznie na choroby, zatrucia, z powodu
                skrajnie gorącego słońca i trudności w oddychaniu. Nie mieli właściwego
                wyposażenia na wykonanie tego zadania. Dodatkowo, pod wpływem sytuacji, w
                której się znaleźli, nie potrafili się tak skoncentrować jak mogliby lub jak
                powinni.</p>
                
                
                <p>Dlatego nieco zmienili swoje procedury, pracowali szybciej i
                wykorzystywali zdobywaną wiedzę. Kobiety ponownie zgłosiły się na ochotnika.
                Wszyscy ciężko pracowali nad krystalicznym światłem, które wpajano małym,
                nienarodzonym dzieciom. Nowych ludzi nazywano <b><i>Uluru</i></b>. Oznacza to ‘Dar Boga.’ W
                końcu gwiezdnym ludziom udało się – Ziemia jest teraz pełna ich potomstwa.”</p>
                
                
                <p>Paliły mnie oczy. „Dlaczego więc mam takie poczucie winy?”</p>
                
                
                <p>„Odpowiedź na to będziesz miała wkrótce.”</p>
                
                
                <p>Mój nos domagał się Kleenexu  (chusteczki higienicznej), podreptałam więc tu i tam, szukając go. Wtedy przypomniałam
                sobie moje inne pytanie: „A co to za ludzie-koty, o których mówił mój mąż?”</p>
                
                
                <p>„Rzeczywiście, moje dziecko, była misja z wojownikami, <span class="SpellE">Syrianami</span> i Leoninami. Przybyli na Ziemię wyegzekwować karę
                za okropny czyn, jakiego <span class="SpellE">Reptilianie</span> dopuścili się na
                statku bazowym i tamtej misji. Ci ludzie musieli odpowiedzieć za swoje postępki
                i, ku twojej wczorajszej konsternacji i małego wybuchu sprzeciwu, musieli
                zostać zniszczeni. Może się to wydać trochę za surowe, ale oni otrzymali
                możliwość wyboru. Zdecydowali postąpić wbrew danemu słowu, dlatego nie było
                przebaczenia. Te jednostki przeszły do innych form i tam otrzymały pomoc.”</p>
                
                
                <p>„I mój mąż John kierował tą misją?”</p>
                
                
                <p>„John był wtedy <span class="SpellE">Himelem</span>, syriańskim dowódcą. Po przybyciu jego statków do waszego
                obozu, on przeprowadził rekonesans okolicy, tak jak to odegrał wczoraj w <span class="SpellE">Kariong</span>. W kostkę ukąsił go wąż, jeszcze inna kreacja <span class="SpellE">Reptoidów</span>, i doznał poważnego uszczerbku w wyniku zatrucia
                jadem. Jego światło uległo znacznej redukcji, gdy znalazł się na granicy
                śmierci.</p>
                
                
                
                <p style="text-align:center" align="center"><span style="font-size:12.0pt;mso-bidi-font-size:
                11.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;color:#002060"><!--[if gte vml 1]><v:shapetype
                 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
                 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
                 <v:stroke joinstyle="miter"/>
                 <v:formulas>
                  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
                  <v:f eqn="sum @0 1 0"/>
                  <v:f eqn="sum 0 0 @1"/>
                  <v:f eqn="prod @2 1 2"/>
                  <v:f eqn="prod @3 21600 pixelWidth"/>
                  <v:f eqn="prod @3 21600 pixelHeight"/>
                  <v:f eqn="sum @0 0 1"/>
                  <v:f eqn="prod @6 1 2"/>
                  <v:f eqn="prod @7 21600 pixelWidth"/>
                  <v:f eqn="sum @8 21600 0"/>
                  <v:f eqn="prod @7 21600 pixelHeight"/>
                  <v:f eqn="sum @10 21600 0"/>
                 </v:formulas>
                 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
                 <o:lock v:ext="edit" aspectratio="t"/>
                </v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" style='width:252pt;
                 height:333.75pt' filled="t" fillcolor="#bffbdb">
                 <v:fill color2="#400424"/>
                 <v:imagedata src="Chapter4_1.jpg" o:title=""/>
                </v:shape><![endif]--><!--[if !vml]--><img src="../../../img/Chapter4_1.jpg" v:shapes="_x0000_i1025" width="336" height="445"><!--[endif]--></p>
                
                
                <p style="text-align:center" align="center"><span style="font-size:12.0pt;mso-bidi-font-size:
                11.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;color:#002060">Rysunek gwiezdnego
                człowieka <span class="SpellE">Leonina</span></p>
                
                
                <p><span class="SpellE">Leoninowie</span> rozproszyli się po Ziemi w
                celu wyeliminowania tych, którzy działali przeciwko edyktowi <span class="SpellE">Elohim</span>. Niewielu
                ocalałych <span class="SpellE">reptilianów</span> ukryło się w pieczarach pod
                ziemią.</p>
                
                <p>Himel był zły, że musi leżeć
                bezradnie w waszym obozie, podczas gdy <span class="SpellE">Leoninowie</span>
                działali. Nie potrafił zrozumieć, dlaczego stracił moc. Jego słabość bardzo
                dezorientowała go i smuciła. Ty i inni z tej społeczności nauczyliście się
                pokonywać te emocje i potrafiliście mu pomóc.</p>
                
                <p><span class="SpellE">Himel</span></font></span> bardzo przywiązał się do ciebie, moje
                dziecko, i kochaliście się wzajemnie. Gdy na Leoninów przyszedł czas odejścia,
                on postanowił zostać z tobą. Faktem jest też to, że jego światło zostało do
                tego stopnia zredukowane, że już nie mógł być w pełni sprawny we własnym
                społeczeństwie. Wiedział, że będzie bardziej przydatny, gdy zostanie na Ziemi.</p>
                
                <p>To była trudna dla niego decyzja – wewnętrznie był wojownikiem,
                jednak nie było już dla niego roli, którą tak dobrze odgrywał.”</p>
                
                
                <p>„Mówiąc ‘kochaliście się wzajemnie’, masz na myśli nasze
                współżycie płciowe?” – spytałam</span>.</p>
                
                
                <p>„Kochaliście jedno drugiego i byliście też sobie oddani, ale nie
                współżyliście seksualnie. Rasa, z której <span class="SpellE">Himel</span> się
                wywodził była rasą samych mężczyzn. Rozmnażali się poprzez proces, który
                uznalibyście za klonowanie, nie zasadzał się on na zapłodnionym jaju. Ich
                reprodukcja to oddzielenie z ich jestestwa, mówmy, syna tej samej jednostki.
                Był to specjalny mechanizm wytwarzany przez umysł, który odbywał się za
                pozwoleniem Źródła. Był to bardzo święty akt. Wyobraź sobie odrywanie części
                energii i replikację. Tak właśnie działo się w tej rasie samej męskiej energii.
                Był to zaawansowany sposób rozmnażania się.”</p>
                
                
                <p>„Czy zatem, <span class="SpellE">hmm</span>..., czy</span>
                mieli oni organy płciowe?”</p>
                
                
                <p>„Nie, moje dziecko, nie mieli. Ale mieli pewien sposób
                przeżywania częstotliwości w rozmaitych aspektach swojego ciała. Było to
                unoszące uczucie, które dreszczem rozchodziło się przez ich ciała, podobne do
                uczucia orgazmu, które natychmiast łączyło ich ze Źródłem.</p>
                
                <p>Chciałbym, abyś zrozumiała to, gdyż seksualne przeżycie ludzi na
                tej Ziemi w rzeczywistości jest sposobem łączenia się ze Źródłem, poprzez
                miłość i spełnienie w tym zjednoczeniu.</p>
                
                <p>Jest to wspaniały dar, dla małych ziemian jest to metoda
                poznania i rozumienia Boga w najgłębszy i najbardziej budujący sposób. Powinni
                jedynie zrozumieć, na czym powinni się skupiać. Zamiast na niższej anatomii
                fizycznego ciała powinni skupiać się na sercu i miłości. Jest to wspaniały
                sposób doświadczania Źródła.</p>
                
                <p>Intencje mają tu wielkie znaczenie, moje dziecko. Seks
                doświadczany na Ziemi nie spowoduje połączenia ze Źródłem, jeśli dokonuje się
                go z niewłaściwym nastawieniem.”</p>
                
                
                <p>Uśmiechnęłam się. „Czy to dlatego, gdy
                rodziłam moje dzieci, mimo bólu, przeżywałam olbrzymi orgazm czy ekstazę?”</p>
                
                
                <p>„Tak, to jest to samo.”</p>
                
                
                <p>„A co powiesz na temat twojego ze mną małżeństwa w czasie owej
                misji? W jaki sposób mieliśmy dzieci? Czy mieliśmy organy płciowe?”</p>
                
                
                <p>„Mieliśmy je w fizycznych ciałach, które wtedy nosiliśmy. Dzieci
                otrzymywaliśmy poprzez zbliżenie i łącząc się w zgodzie, w pragnieniu i,
                oczywiście, w miłości. Nasze współdziałanie miało intencję. Polegało na
                rozprowadzaniu energii między nami i skupianiu się na tym, co nazwałabyś
                organami rozrodczymi. Nie były one u nas całkiem takie same, ale były. Więc
                energię można było skupiać i utrzymywać w tej części fizycznego ciała.”</p>
                
                
                <p>„Kiedy</span></font></span> zaszłam w ciążę jako gwiezdna matka z
                naszymi dziećmi, jak wówczas te dzieci rozwijały się?”</p>
                
                
                <p>„Nowe istoty rozwijały się w bardo podobny sposób, jak rośnie
                embrion w fizycznej matce ziemianina. Rosły we własnej małej komorze energii i
                były odżywiane przez bas obojga. Faktycznie oboje przemawialiśmy do świadomości
                nienarodzonego dziecka i była umowa między całą trójką – matką, ojcem i
                dzieckiem. Duch czy dusza, która wchodziła w dziecko była tą, z którą się
                łączyliśmy i umawialiśmy, zgadzając się na wejście tego życia w embrion. W tym
                czasie uzgadniany był projekt na jego życie i przyszłość.”</p>
                
                
                <p>„Jak dziecko się rodziło? <span class="SpellE">Hmm</span>..., czy</span> miałam pochwę?”</p>
                
                
                <p>„Nie było pochwy takiej jak u fizycznych istot ziemian. Pod
                wielu względami fizyczne istota ziemianina jest bardzo podobna do gwiezdnych
                ludzi, za wyjątkiem tego, mówmy, przesadnego rozwoju organów płciowych.</p>
                
                <p>Jako <span class="SpellE">liriańska</span> [z gwiazdozbioru Lutni]
                matka, nosiłaś nasze pierwsze dzieci w swoim ciele. </span>Na
                twoim ciele była linia ciągnąca się od pępka do <span class="SpellE">czakry</span>
                u podstawy kręgosłupa. We właściwym czasie to miejsce łatwo się otwierało.
                Trochę jak zamek błyskawiczny.</p>
                
                <p>Dziecko ze swoim workiem owodniowym było wyjmowane i umieszczane
                w specjalnym pojemniku. Tam rosło do momentu, gdy przychodziła pora na pęknięcie worka i wydostanie się z niego dziecka. Proces
                ten był wynikiem milionów lat rozwoju.”</p>
                
                
                <p>„Czyli</span></font></span> gdy dziecko było zabierane z mego ciała,
                nie było gotowe narodzić się?”</p>
                
                
                <p>„Nie, moja droga. Było odżywiane i uważnie obserwowane.
                Odżywiane było światłem ze Źródła. I, obok ciebie, przez inne <span class="SpellE">liriańskie</span> kobiety. Gdy to nienarodzone dziecko rosło w
                worku owodniowym, one odżywiały je trochę jak ‘nianie.’ Było trzymane w
                pojemniku do czasu, który był wybierany przez samo dziecko; wtedy worek pękał.
                Było to nieco podobne do wychodzenia [kurczęcia] z jajka.</p>
                
                <p>Dziecko w worku owodniowym było widoczne dla wszystkich. Ci,
                którzy opiekowali się maleństwem znali się na rzeczy i potrafili komunikować
                się z nim i wysyłać mu światło miłości. Dziecko rodziło się w bardziej
                zaawansowanym stanie niż dzieci, które rodzą się z ziemskich ciał.
                Powiedziałbym, że było na etapie <span class="SpellE">czetro</span>- lub
                pięcioletniego dziecka.”<span style="mso-spacerun:yes">&nbsp; </span></p>
                
                
                <p>„Co</span></font></span> się stało, kiedy znaleźliśmy się na Ziemi
                bez całej tej dotąd dostępnej nam techniki?” – spytałam</span>.</p>
                
                
                <p>„W istocie mieliście pewne wyposażenie techniczne na ocalałym
                statku. Istniało wiele ras, które już rozumiały ten proces. Metody, które ty i
                inni użyliście na Ziemi nie odpowiadały dokładnie takiemu sposobowi, w jaki ty
                i ja otrzymaliśmy dzieci, ale rozumieliście ten proces.</p>
                
                <p>Od wolontariuszek pobierano jajo i łączono z komórkami
                pierwotnych stworzeń podobnych do małp. Siła światła ożywiała jajo, które
                zaczynało się dzielić. Ponieważ były problemy z zamrażaniem i innym technicznym
                wyposażeniem, którego brakowało, bardzo szybko wszczepialiście maleńki embrion
                chętnym gwiezdnym matkom. Odbywało się to przez miejsce podobne do zamka
                błyskawicznego u tych kobiet. Przebywał on tam i był odżywiany aż przychodził
                czas jego wyjścia.</p>
                
                <p>Ponieważ nie było sprzętu do utrzymywania dziecka na zewnątrz,
                matki kontynuowały noszenie. Dziecko rodziło się przedwcześnie, kiedy było
                jeszcze całkiem małe, ale było już bezpieczne, przeżywało.</p>
                
                <p>W miarę postępu doświadczeń, które prowadziliście, trzeba było
                wprowadzać poprawki do całego procesu. Komórki pobierano z różnych części ciała
                wyprostowanych stworzeń podobnych do małp. Różne komórki zachowywały się
                różnie. To było coś, co musieliście rozpoznać i w końcu zrozumieć.</p>
                
                <p>Problemy stwarzała też częstotliwość, która istniała na tej
                Ziemi. Rozwój nowej komórki implantowanej małemu embrionowi nie następował tak
                jak to znaliście w światach, z których przybyliście.</p>
                
                <p>Ocalali gwiezdni ludzie zaczęli to rozumieć i dostosowywać się
                do tego. Mieli też pewne informacje od <span class="SpellE">reptiliańskich</span>
                ludzi, którzy przyszli do was i przebywali z wami. <span class="SpellE">Przyszli</span>,
                gdyż nie chcieli już wiązać się z hierarchią <span class="SpellE">Reptoidów</span>.</p>
                
                <p>Pierwsze eksperymenty były bardzo trudne i nie poszły tak jak
                zaplanowano. Jednak odbyło się więcej
                doświadczeń i w końcu stworzono nową rasę taką, w ramach
                której</span> duch czy dusza mogła zostać wchłonięta przez każdą nową
                jednostkę. Kiedy to nastąpiło, owa jednostka mogła rodzić się w ziemskim
                wymiarze i z łatwością żyć w tej atmosferze.</span></p>
                
                <p>Teraz już to rozumiesz. Przekazuję informacje stopniowo, abyś
                mogła zrozumieć i dostrzec szerszy obraz. Bardzo się cieszę z tego, jak
                zareagowałaś. Bo też na długo przed twoim przyjściem na tę Ziemię zgodziłem się
                ci pomagać i ty to wiesz."</p>
                
                
                <p>Westchnęłam. „Cóż, nie jest to aż tak okropne, jak sądziłam.
                Myślę, że rozumiem – dziękuję ci.”</p>
                
                
                <p>„Bardzo proszę, moje dziecko. Jestem wielce zadowolony, że
                mogłem przekazać ci tę wiedzę. Myślę też, że ty doświadczasz więcej ze swojego
                wnętrza niż z samych tylko słów.”</p>
                
                
                <p>Zadzwonił telefon i była to znów Karen. Alcheringa nagle
                odszedł.</p>
                
                <p><span style="mso-spacerun:yes">&nbsp;</span></p>
                
                <p>„<span class="SpellE">Valerie</span>, rozmyślałam o tym i
                przypomniałam sobie coś więcej. Teraz to wygląda inaczej. Mam na myśli to, że w
                rzeczywistości udało się nam, nieprawdaż? Bo to, co jest ważne to wynik. Jeden
                błąd, to po prostu błąd. Jestem pewna, że przy ich zdolnościach gwiezdni ludzie
                musieli naprawić wszystkie pozostałe, zanim się narodziły. Teraz czuję się
                lepiej. A ty?”</p>
                
                
                <p>„Tak, oczywiście” – odpowiedziałam.</p>
                
                
                <p>„Pomyśleć tylko – być kimś, kto rodzeniem zapoczątkował całą
                rasę. Czy możesz sobie wyobrazić ilu musimy mieć potomków?”</p>
                
                
                <p>Nagle poczułam się źle. „Karen, rozumiem jakie</span>
                to może mieć znaczenie dla ciebie, będącej nauczycielką szkoły podstawowej na
                emeryturze itp. Ale ja na razie mam pewne poczucie winy w tej materii.” </p>
                
                
                <p>Karen natychmiast podchwyciła: „Zatem</span>
                powinnaś jeszcze trochę to przemyśleć – musisz to przepracować. Teraz, dzięki
                wczorajszemu dniowi w <span class="SpellE">Kariong</span> mam o wiele lepszy
                wgląd w moje życie. Powinnyśmy poprosić <span class="SpellE">Gerry’go</span></span> , </span>aby zabrał nas tam
                jeszcze raz – jest tam jeszcze dużo więcej do odkrycia.”</p>
                
                
                <p>W głowie miała teraz krystaliczną jasność: „Karen, pozwól, ze ja
                się zajmę załatwieniem tego. Dobrze? Za kilka miesięcy będziemy mieli Boże
                Narodzenie i to może być doskonały moment.”</p>
                
                
                <p>„Będziesz z tą swoją winą czekać aż do Świąt?”</p>
                
                
                <p>„Nie – muszę to jakoś rozpracować. Nie bardzo wiem, co robić.”</p>
                
                
                <p>„Może byś poszła do uzdrawiacza?” – zasugerowała</span>
                Karen.</p>
                
                
                <p>„Uzdrawiacz? Co miałby uzdrawiać?”</p>
                
                
                <p>„OK, pójdź do psychiatry – pomyśl tylko ile różnych rodzajów
                lekarstw każe ci zażywać.”</p>
                
                
                <p>„W porządku – przyjmuję twój punkt widzenia” – ustąpiłam – „ale</span> jak uzdrawiacz może mi pomóc?”</p>
                
                
                <p>„Może ci pomóc zrzucić, rozładować to.”</p>
                
                
                <p>‘Rozładować’ – podobało mi się brzmienie tego słowa [ang. <span class="SpellE"><i style="mso-bidi-font-style:normal"><span style="font-style:
                italic;mso-bidi-font-style:normal">release</span></i></span>].</p>
                
                
                <p>Spędziłyśmy godzinę na rozważaniu różnych możliwości. Gerry
                wyjechał w podróż do Ameryki, więc nie był osiągalny. Ustaliliśmy, że będzie to
                Charles <span class="SpellE">Brenden</span>. Karen i ja spotkałyśmy go na
                seminarium. Pamiętałam go jako</span> miłego spokojnego
                człowieka; mówił, że pracował w klinice. Przez dwa nieszczęsne dni nosiłam ze
                sobą jego numer zanim zadzwoniłam.</p>
                <br>
                
                <p class="text-center"><img src="../../../img/Image164.gif"></p><br>
                
                
                <p>„<span class="SpellE">Valerie</span>, jakże miło cię usłyszeć. Od
                bardzo dawna czekam na sposobność pracy z tobą.”</p>
                
                <p><span style="mso-spacerun:yes">&nbsp;</span></p>
                
                <p>„Czekałeś?”</p>
                
                
                <p>„Tak. Kiedy pierwszy raz spotkaliśmy się, wiedziałem, że mamy we
                dwoje pracę do wykonania.”</span></p>
                
                
                <p>To było nawet przekonujące: „Charles, mam taki problem, ja ...”</span></p>
                
                
                <p>„Czemu</span></font></span> nie miałabyś się ze mną spotkać?
                Moglibyśmy porozmawiać twarzą w twarz. Czy godzina druga ci odpowiada?”</p>
                
                
                <p>„Acha – tak, druga chyba mi
                pasuje."</p>
                
                
                <p>Klinika zdawała się być
                instytucją spółdzielczą, ale była urządzona ze smakiem. Recepcjonista okazał
                się bardzo sprawny i zaprowadził mnie prosto do gabinetu Charlesa.</p>
                
                
                <p>Charles i ja usiedliśmy w
                fotelach naprzeciwko siebie. On wyglądał tak, jak go zapamiętałam – był osobą
                łagodną, niemal nieśmiałą. Na chwilę opanowała mnie panika – nie miałam
                pojęcia, co on zamierza zrobić. Po prostu powiedz mu, <span class="SpellE">Valerie</span>,
                i zobacz, co się stanie, to człowiek typu New <span class="SpellE">Age</span> –
                pomyślałam.</p>
                
                
                <p>„Charles, całkiem niedawno miałam
                wspomnienie poprzedniego życia. Jest w tym coś, co sprawia mi pewne
                problemy."</p>
                
                
                <p>„Rozumiem" – odpowiedział
                Charles ­– „jak do tego doszło?"</p>
                
                
                <p>„Nowy znajomy zabrał mnie do <span class="SpellE">Kariong</span>. Są tam pewne hieroglify wyryte w skałach." Pokazałam
                Charlesowi kilka zdjęć. „Te obrazki zdają się wywoływać u ludzi
                wspomnienia."<span style="mso-spacerun:yes">&nbsp; </span>Skupiony na zdjęciach
                Charles potakiwał głową.</p>
                
                
                <p>Mówiłam dalej: „W moim przypadku
                w jednym z tych wspomnień byłam świadkiem narodzin dziecka, które było wynikiem
                nieudanego eksperymentu. Dziecko umarło po czterech dniach, a teraz mam
                to..."</p>
                
                
                <p>Łza spłynęła po policzku
                Charlesa. „Tak, wiem o tym niepowodzeniu, rozumiem też skąd są te uczucia. Mam
                bardzo silnie wrażenia z tych zdjęć, a także odczucia co</span>
                do pewnych nowych znajomych. Istnieją jakieś bardzo dawne więzy rodzinne."</p>
                
                
                <p>Charles oparł się na plecach o
                fotel i zamknął oczy. „Obok mnie stoi mój ojciec, czekając aż oderwę się od
                fizycznego ciała i odłączę od niego. Wiem, że moja fizyczna forma umiera z
                powodu licznych obrażeń. W lewym boku czuję ból. </p>
                
                <p>Teraz mam się ponownie urodzić z
                tej samej mojej matki, jak cudownie! Tym razem jestem nowo wykreowaną ziemską
                formą. Dla niektórych mój wygląd jest kontrowersyjny; są też tacy, którzy są
                mną przerażeni. Rodzę się cały owłosiony. Oddychanie sprawia ból."</p>
                
                
                <p>Charles wyprostował się i
                popatrzył prosto na mnie; w oczach zdawał się mieć niezwykłą miłość i troskę.
                „Mądrość i boska interwencja będą decydujące dla losów nowych form życia na
                Ziemi. Musisz wybaczyć sobie, gdyż całe stworzenie jest stworzeniem Boga. Nigdy
                nie osądzaj, że ktoś jest nieudany lub nie."</p>
                
                
                <p>Gdy Charles mówił dalej, serce
                zaczęło mi walić.</p>
                
                
                <p>„Wtedy nie żyłem długo. Wiesz, w
                obecnym życiu do czwartego roku nie mogłem znieść, gdy ktokolwiek na mnie
                patrzył. Teraz rozumiem dlaczego</span>."</p>
                
                
                <p>Desperacko pragnęłam, by łzy
                popłynęły mi po twarzy. „Widziałam wewnątrz tego dziecka światło. Pochodziło od
                Boga, i kochałam je bardzo. Tę samą miłość odczuwałam do dziecka, które
                nosiłam."</p>
                
                
                <p>Charles pochylił się ku mnie:
                „Tak, nawet teraz czuję twoją miłość jako</span> matki.
                Obudziło się wspomnienie mojego pierwszego doświadczenia na Ziemi. Teraz
                rozumiem."</p>
                
                
                <p>On wrócił. Charles był moim
                dzieckiem w tamtym odległym czasie.</p>
                
                
                <p>Charles ujął mnie za rękę,
                pociągając, bym wstała. „Ciągle mamy misję odnalezienia naszej rodziny światła
                i miłości i ponownego zjednoczenia jej. Jest to jak sen, który się spełnił, tyle że</span> lepiej. Teraz czuję, że w tym ziemskim życiu
                przychodzi spełnienie. Jest podniecenie i radość, miłość i pokój. Tym jestem.
                Dziękuję za łaskę i miłość Boga."</p>
                
                
                <p>Teraz Charles wziął mnie w
                ramiona i zaczął płakać. Powiedziałam to, na co czekałam prawie milion lat:
                „Tak mi przykro."</p>
                
                
                <p>Płakał i płakał, chwilami jak
                dziecko. Ja także chciałam płakać, ale nie mogłam. Ale wewnątrz czułam się już
                dobrze – ból głowy odszedł.</p>
                
                
                <p><span style="font-size:11.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;color:#002060"><o:p>&nbsp;</o:p></span></font></p>
                
                <p style="text-align:center" align="center"><!--[if gte vml 1]><v:shape id="_x0000_i1026"
                 type="#_x0000_t75" style='width:327pt;height:213.75pt' filled="t" fillcolor="#bffbdb">
                 <v:fill color2="#400424"/>
                 <v:imagedata src="Chapter4_2.jpg" o:title=""/>
                </v:shape><![endif]--><!--[if !vml]--><img src="../../../img/Chapter4_2.jpg" v:shapes="_x0000_i1026" width="436" height="285"><!--[endif]--></span></font></p>
                
                <p style="text-align:center" align="center"><o:p>&nbsp;</o:p></span></font></p>
                
                <p style="text-align:center" align="center"><o:p>&nbsp;</o:p>

            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body></html>