<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wywiad z Despiną Nikolakakos</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Wywiad z Despiną Nikolakakos</h2>
               <h5 class="text-center">która odwiedziła Uluru w dniach 24 – 25 kwietnia 2010 r.,<br>
                na krótko przed wyjazdem do Południowej Francji<br>
                a w szczególności do<i><span style="font-style:italic"> Val des Dieu </span></i>czyli<i><span style="font-style:italic"> Doliny Boga</span></i> </span></font></b></p></h5>
               <br>

<p style="text-align:center" class="text-center"><img src="../../../img/despina.jpg" alt="Despina Nikolakakos" width="338" height="450"><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center">Despina Nikolakakos</span></font> </span></font></p><br>

<p style="text-align:center" class="text-center"></font></p>

<p>Despina powiedziała mi, że do Uluru pojechała 24 kwietnia 2010
r., co przypadło na jej dzień urodzin. Planowała pojechać do Francji później i
w pewnym momencie zapytała swoich ‘przewodników,’ do którego miejsca powinna
się wybrać, „Uluru czy Francja?” Odpowiedź brzmiała: „Jedź najpierw do Uluru, a
potem do Francji; będziesz wiedziała, co robić.”</span></font></p>

<p>Despina przyleciała do Uluru samolotem. Zaskoczył ją nietypowy
dla czerwonej pustyni widok licznych drzew i krzaków. Był to wynik obfitych
opadów deszczu w tym rejonie, a faktycznie to w większej części Centralnej
Australii przerwana została wtedy dziewięcioletnia susza.</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Co więc przyciągnęło twoją uwagę po przyjeździe?</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Gdy szłam wokół samego Uluru, zobaczyłam formację chmur. W
rzeczywistości szłam po obszarze znanym jako obszar mężczyzn u podstawy Uluru.
Spontanicznie obróciłam się, spojrzałam w górę i pomyślałam: „<i><span style="font-style:italic">O! Ta wygląda jak anioł. O Boże, a ta jak delfin.</span></i>”
Myślałam, że śnię. Poczułam potrzebę zrobienia zdjęcia – i o to właśnie byłam
proszona przez całą podróż do Uluru.</span></font></p>



<p></span></font></p>

<p style="text-align:center" class="text-center"><img src="../../../img/despina-angel.jpg" alt="Angel Cloud" width="500" height="375"><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center">Formacja anioła w chmurach przy Uluru</span></font> </span></font></p>

<p style="text-align:center" class="text-center"></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Co później zobaczyłaś na zdjęciach?</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>W rzeczywistości miałam te same odczucia, które towarzyszyły mi
przez cały czas pobytu. Energia tych odczuć jest więc zawarta w zdjęciach. To
nieczęsto mi się przydarza. Po prostu ciągle widziałam energię Aniołów i tę
serdeczną energię, która temu towarzyszy.</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Było to więc miłe przywitanie, nieprawdaż?</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Tak ... Czułam się naprawdę radośnie, gdyż byłam tu na własną
rękę i bardzo niewiele rzeczy zaprzątało mi umysł, gdy przebywałam przy Uluru.</span></font></p>



<p></span></font></p>

<p style="text-align:center" class="text-center"><img src="../../../img/despina-clouds.jpg" alt="Cloud Formation" width="480" height="360"><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center">Formacja delfina z chmur przy Uluru</span></font> </span></font></p><br>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Chcesz powiedzieć, że nie potrafiłaś myśleć, a te przeżycia
przychodziły cały czas z uczuć?</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Miałam mniej ego, czy też myślenia. Nie miałam wyboru – to był pewien
stan bytu, który mnie ogarnął i działałam z punktu wyższego ja. Myślenie nie
było potrzebne. Zauważyłam, że im bardziej po prostu działałam w oparciu o otrzymywaną
inspirację, tym więcej było tej energii i tym byłam szczęśliwsza. Żadnego planu
w tym nie było.</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Cudownie. Wygląda to tak jak w moim przypadku – gdy byłam w obecności
Awatara Sai Baby, nie mogłam myśleć. Cały czas byłam otoczona przez spokojną,
kochającą i radosną energię, a w tej sytuacji nie ma potrzeby myślenia. W
rzeczywistości jesteśmy poza naszym umysłem, wyniesieni do wzniosłego stanu
świadomości. To samo odczuwałam też, gdy byłam przy Uluru.</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Miałam bardzo klarowne podpowiedzi, że powinnam być tam w dniu
moich urodzin. Tego dnia pojechałam z wycieczką Sunrise Tour i o świcie
poprosiłam kierowcę autobusu, aby wysadził mnie przy trasie dla pieszych przy
Uluru, tak bym mogła spędzić tam ten dzień sama. Uzgodniłam, że później po
południu spotkam się z nim w Centrum dla Gości.</span></font></p>

<p>Zauważyłam, że chociaż przeszłam ponad 20 km w skwarze dnia,
ciągle czułam się pełna energii. Było tak, gdyż trwałam głęboko w chwili teraz
i w otoczeniu tak wysokich energii. Potem, w niedzielę, która była jednocześnie
dniem Anzac (wojska), przyszedł dzień ‘<b><i><span style="font-weight:bold;
font-style:italic">Puszczania</span></i></b>.’</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Czy możesz opowiedzieć o cudownym zdjęciu Drzew oświetlonych wieloma
pionowymi tęczami?</span></font></p>


<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Rano, o wschodzie słońca w dniu urodzin wzięłam udział w wycieczce
z niewielką grupą i, jak już wspomniałam, poprosiłam kierowcę o wysadzenie przy
Uluru.</span></font></p>

<p><!--br-->
Przeszłam 2 km trasą Liru od Centrum dla Gości do podstawy góry.</span></font></p>

<p><!--br-->
Zaczęłam spacer ścieżką wokół podstawy Góry w jedną ze stron, ale pomyślałam: ‘Nie,
to nie wydaje się dobre’ i zawróciłam, idąc teraz wokół Uluru w kierunku przeciwnym
do ruchu wskazówek zegara. Szłam już prawie trzy godziny, gdy moja uwaga została
skierowana ku rzędowi drzew gumowych stojących w cieniu obok Skały. Przynajmniej
50 m od trasy spacerowej. Nie były bardzo wysokie, ale były potężne i
przypominały mi żołnierzy.</span></font></p>

<p><!--br-->
Gdy z tej odległości połączyłam się z nimi, otrzymałam wiadomość: „<i><span style="font-style:italic">Zrób zdjęcie a później sama zobaczysz</span></i>.” W
ciągu 10 sekund wykonałam zdjęcie i poszłam dalej w aurze mocy tych drzew.
Później otrzymałam pobudkę, by spojrzeć na to zdjęcie i aż mi się wyrwało na
głos: „<b><i><span style="font-weight:bold;font-style:italic">O mój Boże</span></i></b>.”
Wtedy to zobaczyłam te tęcze. Wiem, że nie pochodziły one od słońca; dla mnie
były one jak duchy drzew.</span></font></p>

<p></span></font></p>

<p style="text-align:center" class="text-center"><img src="../../../img/despina-soldiers.jpg" alt="Soldier Trees with rainbows, Uluru" width="500" height="375"><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center">Żołnierze-drzewa z tęczami przy Uluru</span></font> </span></font></p>





<p>Uwielbiam obejmować drzewa. Czasami, gdy jestem naprawdę ‘obecna,’
czuję, że mogę przejść wprost przez nie. Ale tu widziałam coś innego. Zdawało
się, że są one opiekunami tej części ziemi przy Uluru.</span></font></p>

<p><!--br-->
Dla mnie był to jasny przekaz, że to co czułam wobec tego obszaru i Skały było
żywe i aktualne. Czułam też, że powinnam zdjęcia te pokazać ludziom.</span></font></p>

<p><!--br-->
Później pokazywałam je ludziom i niektórzy z nich płakali. Była to odruchowa
reakcja – w sercach wiedzieli, że była to prawda. Była w nich wiedza, która
łączyła się z energią w zdjęciu.</span></font></p>


<p>Każdy krzak, skała czy kawałek gruntu miał związaną z sobą szczególną
energię. Często spotykałam drzewa tworzące krzyż a w środku było coś w rodzaju
koła, które niejako zapraszało, by w nie wejść; był to wir Światła – coś pięknego,
gdy się w nim stało.</span></font></p>

<p><!--br-->
Inne miejsca były albo wyraźnie żeńskie, albo wyraźnie męskie, zaś ci
Żołnierze-drzewa sprawiały wrażenie obojnakich.</span></font></p>

<p><!--br-->
Po kolejnej pół godzinie spaceru doszłam w pobliże Mutujulu Springs. Zabrakło
mi czasu na zatrzymanie się w tym miejscu, gdyż w Centrum Gości czekał na mnie
autobus.</span></font></p>

<p><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center"><img src="../../../img/despina-pool.jpg" alt="Walpa Gorge, Kata Tjuta" width="375" height="500"><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center">Wąwóz Walpa w górach Kata Tjuta</span></font> </span></font></p>

<p style="text-align:center" class="text-center"></font></p>



<p>Przez cały czas słyszałam kraczącą na mnie wronę – wiedziałam,
że muszę tu wrócić następnego dnia. Zaczęłam przekonywać wronę, mówiąc: „Nie
mogę zostać, ale obiecuję, że wrócę jutro.” Wtedy przestała krakać. (<i><span style="font-style:italic">Śmiała się na myśl, że rozmawiała z wroną.</span></i>)</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Dobrze znam Mutujulu Springs – to tam miałam swoją inicjację z Goolagaią,
Czarną Olbrzymką i z siedmioma siostrami. Istnieje opowieść rdzennych
mieszkańców o siedmiu siostrach z Plejad, które duchem mieszkają w tamtym
miejscu. Zaś ta Goolagaia, gdy przyszła do mnie, powiedziała, że przechowuje
energię ziemi ósmej siostry, która obiecała powrócić, gdy nadejdzie właściwy
czas. Na twoim zdjęciu oświetlonych tęczami drzew widzę, że jest siedmiu, jak
ich nazywasz, żołnierzy. Być może one symbolicznie odpowiadają siedmiu siostrom
z Plejad, które strzegą Skały do czasu, aż Ósma Siostra wróci.</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>


<p>Hmm, ciekawe. Następnego dnia zrobiłam to samo – zabrałam się na
wycieczkę o wschodzie słońca i załatwiłam z kierowcą, by pod koniec dnia zabrał
mnie.</span></font></p>

<p>Pamiętam, że znów szłam trasą Liru (<i><span style="font-style:
italic">całkiem sama</span></i>). Zobaczyłam drzewo rozdarte na dwoje w połowie
wysokości i rosnące w dwóch różnych kierunkach. Zaczęła we mnie wzbierać złość.
Powiedziałam do moich przewodników: „Wiecie co, jestem zmęczona trwaniem w
rozdarciu i oddzieleniu. Chcę całości – oddzielność to nonsens, chcę całości.
Całe dwa kilometry do podstawy Uluru przeszłam utrwalając to uczucie ‘chcę
całości.’</span></font></p>

<p><!--br-->
Byłam zła i miałam dosyć, a nie wiedziałam skąd wewnątrz mnie się to bierze.
Chciałam i byłam gotowa zakończyć to uczucie oddzielenia. Podziękowałam tamtemu
drzewu za ten wgląd. Zostałam zainspirowana do odwiedzin Uluru i bardzo się
cieszę, że to uczyniłam. <b><span style="font-weight:bold">Było to dla mnie tak
uzdrawiające</span></b>.</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Ja też miałam podobne przeżycie, gdy przeszłam całą długość
trasy Liru. Wybrałam się, aby poszukać kluczyków do samochodu, które, jak
myślałam, zgubiłam w pobliżu Skały. Gdy szłam, nie wiedzieć czemu, wezbrała we
mnie złość. Czułam, że obok mnie idzie duchowy człowiek, niższy ode mnie.
Faktycznie maszerowałam z taką złością, że wiedziałam, iż on ma trudności z
nadążeniem za mną. Na końcu trasy znajdował się mały płot, tak że trzeba było
skręcić w prawo i przejść parę kroków, by go obejść. Właśnie wtedy ten duchowy
człowiek, a myślę, że był to Alcheringa lub Sai Baba, powiedział do mnie cicho:
„Czy dalej chcesz ze mną pracować?” Sprawił, że zaśmiałam się z siebie i odpowiedziałam:
„Oczywiście, że chcę.”</span></font></p>

<p>Gdy skręcałam, by zejść z trasy Liru, było to niczym zerwanie z
rozmaitymi ścieżkami dawnych przywiązań. <i><span style="font-style:italic">Liru</span></i>
znaczy ścieżka węża, co sugeruje zrzucanie starej skóry przez węża i uwalnianie
karmicznych pozostałości. Po tym moje kluczyki cudownie pojawiły się w kieszeni
kurtki. (<i><span style="font-style:italic">Obie śmiałyśmy się z podobieństwa
naszych przeżyć.</span></i>)</span></font></p>

<p><br>
</span></font><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Podobnie było ze mną 25 kwietnia, w dniu Anzac. Zbudziłam się z
myślą: „Ten dzień jest dla mnie dniem puszczania.” <i><span style="font-style:
italic">(Było to przed jej pójściem trasą Liru.</span></i>)</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Val:</span></font></i></b></p>

<p>Dlaczego duch kazał ci pojechać najpierw do Uluru, a dopiero potem
do Francji?</span></font></p>

<p><b><i><span style="
font-weight:bold;font-style:italic">Despina:</span></font></i></b></p>

<p>Miałam uczucie zamykania się pętli energii, która przychodziła przez
Uluru. Wewnętrznym okiem widziałam to jako prostokąt łączący się z Francją. Gdy
byłam w Dolinie Boga w pobliżu Mt. Bugarach, zostałam zainspirowana, by zakopać
jeden z moich lemuriańskich kryształów zalążkowych. Po tym miałam uczucie ‘bycia
dobrą dziewczyną’ i tego, że zrobiłam to, o co mnie proszono. Było to niemal na
końcu podróży po Francji i wtedy doznałam poczucia spełnienia. Byłam gotowa, by
pójść dalej.</span></font></p>



<p></span></font></p>

<p style="text-align:center" class="text-center"><img src="../../../img/despina-valley.jpg" alt="Red Earth, Val des Dieu - Valley of God, France" width="500" height="375"><br>
<br>
</span></font></p>

<p style="text-align:center" class="text-center">Czerwona ziemia w Val des Dieu (Dolinie Boga) we Franc</span></font">ji </span></font></p>





<p>Później dowiedziałam się, że w tym samym czasie inna kobieta z
naszej grupy we Francji zawędrowała na drugą stronę tego wzgórza i uznała, że
musi połączyć energię Uluru do tego samego miejsca. Ona nie wiedziała, co ja
zrobiłam, ani ja, co ona. Później rozmawiałyśmy. Obie zostałyśmy zainspirowane
przez ‘coś,’ by odprawić te ceremonie połączenia. Cieszyłyśmy się, gdy w
rozmowie uświadomiłyśmy sobie to wszystko.</span></font></p>



<p style="margin-top:0cm;margin-bottom:
0cm;":>Ta dolina we Francji (Val des Dieu) ma wiele czerwonej ziemi –
tak jak Uluru. Nic o tym nie wiedziałam do czasu, gdy tam pojechałam. Kiedy to
zobaczyłam, uśmiechnęłam się – było to ładne nawiązanie do domu w Australii.</span></font></p>

<p></span></font></p>



<p></span></font></p>

<p>Despina uprzejmie zgodziła się, abyśmy opublikowali jej
wspaniałe zdjęcia. Jeśli chcecie skontaktować się z Despiną, można do niej
pisać na adres despina.gevurah(at) gmail.com.</span></font></p>

<div style="border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;
margin-right:30.0pt">

<p style="border:none;padding:0cm"><span style="line-height:
130%;"></span></font></p>

</div>

<p style="text-align:center" class="text-center">© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wywiad z Despiną Nikolakakos</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>