<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Zatoka Marii</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Les Saintes Maries de la Mer, Zatoka Marii na wybrzeżu Morza Śródziemnego w Camargue</h2>
               <br>
<p style="text-align:center"><img id="Obraz 1" src="../../../img/evocation_image001.jpg" alt="Roadsign at the entrance of the town of Les Saintes Maries de la Mer" width="384" height="569"></span><br>
<br>
</span>Znak drogowy przy wjeździe do miasta Les Saintes Maries de la
Mer</span></p>

<p></span></p>

<p>Valerie Barrow i jej mąż John spędzili koniec września, cały
październik i początek listopada 2010 r. podróżując przez Zjednoczone
Królestwo, Francję i Egipt. Poniżej jest opowieść o odwiedzinach Zatoki Marii na
południu Francji i nieoczekiwanej przez nich świętej uroczystości, która tam
się odbyła.</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 2" src="../../../img/evocation_image002.jpg" alt="Renactment notice - Evocation of the arrival of Les Saintes Maries de la Mer" width="525" height="400"></span><br>
<br>
</span>Plakat o inscenizacji Wspomnienia przybycia <i><span style="font-style:italic">Les Saintes Maries de la Mer</span></i></span> <br>

(Świętych Marii z Morza)</span></p>

<p></span></p>

<p></span></p>

<p>Przemieszczając się z miejsca na miejsce podczas podróży,
byliśmy ciągle kierowani. Jedyną rzeczą, jaką chciałam osiągnąć zanim
wyruszyliśmy w podróż z Australii była Zatoka Marii na południu Francji, dokąd,
jak się mówi, uciekli członkowie rodziny Jezusa po tym jak został ukrzyżowany. </span></p>

<p style="text-align:center"><img id="Obraz 3" src="../../../img/evocation_image003.jpg" alt="The Carmargue Cross of Les Saintes Maries de la Mer" width="172" height="159"></span><br>
<br>
</span>Krzyż Camargue w Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p style="
;
"><span style="
;">Pewnego
czwartkowego popołudnia przyjechaliśmy samochodem do małej wioski nad Zatoką
Marii. Plakat pokazany na zdjęciu widzieliśmy wszędzie w tej wiosce. Wcześniej
nie mieliśmy pojęcia, że wieczorem w najbliższą sobotę miało się tu odbyć
odegranie sceny dopłynięcia Marii. Taki spektakl odbywa się tutaj tylko raz na
rok w październiku i okazało się, że przyjechaliśmy akurat na czas, by go
obejrzeć. <b><i><span style="font-weight:bold;font-style:italic">Dzięki Ci,
Duchu Święty!</span></i></b></span></p>

<p></span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 4" src="../../../img/evocation_image004.jpg" alt="Idol of St Sarah, (also known as the black Kali, servant girl to the Marys and Patron Saint of Gypsies" width="525" height="396"></span><br>
<br>
</span>Figura św. Sarah, znanej też jako czarna Kali,<br>
służąca Mariom i Święta patronka Cyganów</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 5" src="../../../img/evocation_image005.jpg" alt="Mary Salome who holds an alabastar jar often associated with Mary Magdalene and Mary Jacobe (also known as Mary, Mother of James (in Latin, <em>Jacobe</em>) standing in a boat" width="525" height="392"></span><br>
<br>
</span>Maria Salome, z lewej strony, trzymająca alabastrowy kielich <br>

(często kojarzona z Marią Magdaleną) oraz, z prawej, Maria
Jacobe <br>

(znana też jako Maria, matka Jakuba) stoją
w łodzi</span></p>

<p></span></p>

<p>Dzień odpoczynku był mile przez nas widziany, tym bardziej, że
stwarzał okazję do zwiedzenia i zapoznania się z miejscem.</span></p>

<p>Znaleźliśmy kościół p.w. Saintes-Maries-de-la-Mer, z którego
figury Marii Salome i Marii Jacobe wraz z Sarah są niesione do morza podczas
dorocznego religijnego święta na wiosnę. Mówi się, że te Marie stanowiły
rodzinę Jezusa. Ale święto to nie jest tym wspomnieniem, które mieliśmy
zobaczyć w sobotę. Więcej o tym święcie można przeczytać <a href="jehanne-third.htm#gaul" target="_blank">tutaj</a>.</span></p>

<p></span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 6" src="../../../img/evocation_image006.jpg" alt="The medieval fortress church of Saintes-Maries-de-la-Mer" width="525" height="697" border="0"></span><br>
<br>
</span>Średniowieczny kościół-forteca Saintes-Maries-de-la-Mer</span></p>

<p></span></p>

<p>Ludność pojezierza Camargue to cyganie o silnym hiszpańskim
wpływie. Przez prawie dwa tysiące lat zachowali oni legendę o przypłynięciu
Marys (kilku Marii). Terminu „cyganie" używa się w stosunku do Egipcjan,
którzy uciekli ze świątyń, a wielu z nich było początkowo uzdolnionymi
kapłanami i kapłankami, gdy Egipt przeżył najazd na długo przed 1 r.p.n.e. (Inne
legendy mówią, że zostali wyrzuceni z Egiptu za udzielanie schronienia
dzieciątku Jezus.) Znali oni tę „rodzinę” i chcieli ich chronić. Znali więc też
Esseńczyka (Jezusa), którego nazywali Issą. Swoje tajemnice przechowywali w
kartach Tarota.</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 7" src="../../../img/evocation_image007.jpg" alt="Map of Camargue Region of South France" width="525" height="290" border="0"></span><br>
<br>
</span>Mapa regionu Camargue na południu Franc</span>ji</span></p>

<p></span></p>

<p>Region Camargue leży w delcie rzeki Rhone. Obfituje w jeziora i
tereny bagienne, które dają schronienie ponad 400 gatunkom dzikich ptaków. Znany
jest jako kraina francuskiego westernu. Na wolności żyją tu białe konie i
czarne byki. Konie, gdy się rodzą, są czarne lub ciemnobrązowe, ale z wiekiem
stopniowo stają się białe. Cyganie to hodowcy stadnych zwierząt i znakomici
jeźdźcy konni. Do skierowania byków w określoną stronę używają długich kijów o potrójnym
zakończeniu. Przed zasadniczym odegraniem historii wspomnianej uroczystości, na
„scenę” spędzają stada owiec, kóz i byków, aby popisać się swoimi
umiejętnościami. Powiedziano nam, że tutejsze byki nie są takie same jak w
Hiszpanii, które mają wielkie rogi skierowane w dół. Byki z Camargue mają rogi
skierowane ku niebu. Gdy walczą z bykami, byki nie są zabijane, ale po ich
zmuszeniu do posłuszeństwa są przystrajane kwiatami. </span></p>

<p></span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 8" src="../../../img/evocation_image008.jpg" alt="John making the bull submissive with a parley cloth" width="525" height="401" border="0"></span><br>
<br>
</span>John zmuszający byka do posłuszeństwa za pomocą białej kurtki</span></p>

<p></span></p>

<p>John i ja zajęliśmy najlepsze miejsca na plaży, by oglądać „<b><i><span style="font-weight:bold;font-style:italic">Wspomnienie</span></i></b>". Niecierpliwy
tłum stopniowo zebrał się wokół ogrodzonego obszaru, gdzie scena miała zostać
odegrana.</span></p>

<p></span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 9" src="../../../img/evocation_image009.jpg" alt="Riders on white horses prepare for the evocation of Les Saintes Maries de la Mer" width="525" height="398" border="0"></span><br>
<br>
</span>Jeźdźcy na białych koniach przygotowują się na przypomnienie <br>

przybycia Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 10" src="../../../img/evocation_image010.jpg" alt="Oxen drawing a wagon across the sands in preparation for the evocation of Les Saintes Maries de la Mer" width="525" height="397" border="0"></span><br>
<br>
</span>Wół ciągnący wóz po piasku w ramach przygotowań do wspominania <br>

Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 11" src="../../../img/evocation_image011.jpg" alt="The sun sets on the crowds gathered for the evocation of Les Saintes Maries de la Mer" width="525" height="396" border="0"></span><br>
<br>
</span>Zachód słońca nad tłumem zebranym na wspominanie <br>

Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p>W pobliżu nas zainstalowano skomplikowane oświetlenie sceny. Dla
zabawienia oczekujących ludzi grano romantyczną muzykę. W inscenizacji nie było
religijnej nuty, lecz raczej odgrywanie legendy. Wreszcie wpędzono owce na tę
piaszczystą scenę sięgającą wody; na galopujących koniach wjechali odświętnie
ubrani jeźdźcy, a później przyprowadzono kozy, białe konie i czarne byki. Prowadzili
je w paradzie Cyganie. Po tym, o 8-mej wieczorem, spędzono zwierzęta ze sceny,
pozostawiając puste miejsce na rozpoczęcie właściwego przedstawienia –
Wspomnienia. Mała, oświetlona reflektorem łódź powoli zmierzała do brzegu.</span></p>

<p>Na ich powitanie i dla wskazania drogi do miejsca, gdzie znajdowali
się cyganie, rozpalono dziewięć ognisk.</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 12" src="../../../img/evocation_image012.jpg" alt="Nine bonfires were lit for the evocation of Les Saintes Maries de la Mer; the caravan crossing to position" width="525" height="397" border="0"></span><br>
<br>
</span>Na wspominanie Les Saintes Maries de la Mer rozpalono dziewięć
ognisk; <br>

cygański wóz przejeżdża na swoje stanowisko</span></p>

<p></span></p>

<p>Cyganie, ubrani na modłę sprzed 2000 lat, zgromadzili się na
brzegu i pomagali uciekinierom wysiąść na ląd. Chociaż obszar ten należał wtedy
do Imperium Rzymskiego, ten region pozostawał odizolowany i bezpieczny. </span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 13" src="../../../img/evocation_image013.jpg" alt="Small orbs linger above the dray and the actors at the evocation of Les Saintes Maries de la Mer" width="525" height="395" border="0"></span><br>
<br>
</span>Małe <i><span style="font-style:italic">orby</span></i>
utrzymują się nad bryczką i aktorami <br>

wspomnienia Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p>Byliśmy, John jak i ja, ogarnięci napływającymi emocjami – łzy
płynęły nam po policzkach. Z głośnika padały słowa opisujące tę historie po
francusku; w duchu strofowałam siebie za to, że nie zabrałam ze sobą
magnetofonu, aby móc później to przetłumaczyć.</span></p>

<p>Ponieważ nie rozumieliśmy, co było mówione, nastawiliśmy się na
obserwowanie. Dawało nam to sposobność wewnętrznego pojmowania, słuchania
podpowiedzi własnej duszy, a tak John jak i ja pamiętaliśmy, że
uczestniczyliśmy w tamtych starożytnych wydarzeniach.</span></p>

<p style="text-align:center"></span></p>

<p style="text-align:center"></span></p>

<p style="text-align:center"><img id="Obraz 14" src="../../../img/evocation_image014.jpg" alt="A large blue orb lingers above the evocation of Les Saintes Maries de la Mer" width="525" height="396" border="0"></span><br>
<br>
</span>Wielki błękitny <i><span style="font-style:italic">orb</span></i>
utrzymuje się nad sceną <br>

wspomnienia Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p>Miałam silne odczucie, że gwiezdny statek towarzyszy całej tej
imprezie. Wytwarzana tu energia była ewidentna, a była ona pokojowa i piękna. Poprosiłam
‘<i><span style="font-style:italic">górę</span></i>’, aby pokazali się, gdy
robiłam po ciemku zdjęcia. Zdjęcia są poruszone, ale widać na nich Światło z
eteru. Pierwsze, jak możecie zobaczyć, jest dużym Błękitnym <i><span style="font-style:italic">Orbem</span></i>, który – jak podpowiada mi mój
mentor – jest niczym stroboskopowa kamera używana przez naukowców podczas
obserwacji zdarzeń w głębokich wodach. Z punktu widzenia Gwiezdnych Ludzi,
używają oni podobny stroboskop w celu obserwowania tego, co się dzieje w
cięższej atmosferze naszego ziemskiego planu. Służy on także do podnoszenia
energii zachodzących zdarzeń.</span></p>

<p><span lang="EN-GB"></span></p>

<p style="text-align:center"><img id="Obraz 15" src="../../../img/evocation_image015.jpg" alt="Two blue orbs linger above the wagon train at the evocation of Les Saintes Maries de la Mer" width="525" height="395" border="0"></span><span lang="EN-GB"><br>
<br>
</span>Dwa <i><span style="font-style:italic">orby</span></i> utrzymują
się nad cygańskim wozem podczas <br>

wspominania Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 16" src="../../../img/evocation_image016.jpg" alt="Enlargment of the blue orb above the evocation of Les Saintes Maries de la Mer" width="247" height="227" border="0"></span><br>
<br>
</span>Powiększenie błękitnego <i><span style="font-style:italic">orba</span></i>
znad sceny <br>

wspominania Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 17" src="../../../img/evocation_image017.jpg" alt="Three blue orbs along with many other orbs linger nearby the 
cattle being corralled at the evocation of Les Saintes Maries de la Mer" width="525" height="397" border="0"></span><br>
<br>
</span>Trzy błękitne <i><span style="font-style:italic">orby</span></i>
(oraz wiele innych <i><span style="font-style:italic">orbów</span></i>) wiszą w
pobliżu bydła <br>

spędzanego do zagrody podczas wspominania
Les Saintes Maries de la Mer</span></p>

<p></span></p>

<p>Gdy przybyła cała rodzina, jej członkowie zostali przywitani i
podprowadzeni bliżej oczekującego tłumu, oglądającego przedstawienie. </span></p>

<p>Niżej jest więcej zdjęć. Możecie na nich zobaczyć <i><span style="font-style:italic">orby</span></i> widoczne poprzez dym. Zwróćcie też uwagę,
że na dwóch różnych zdjęciach widać duże czerwone bądź fioletowe <i><span style="font-style:italic">orby</span></i>, przy czym przez jeden prześwituje
inny znajdujący się za nim.</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 18" src="../../../img/evocation_image018.jpg" alt="Orbs visible behind bonfires and smoke at the evocation of Les Saintes Maries de la Mer - large purple orb in the foreground" width="525" height="395" border="0"></span><br>
<br>
</span><i><span style="
;font-style:italic">Orby</span></i> widziane za ogniskami i dymem podczas wspominania <br>

Les Saintes Maries de la Mer – są to
wielkie purpurowe <i><span style="font-style:italic">orby</span></i> w tle</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 19" src="../../../img/evocation_image019.jpg" alt="Orbs visible behind bonfires and smoke at the evocation of Les Saintes Maries de la Mer - large purple orb in the foreground" width="525" height="395" border="0"></span><br>
<br>
</span><i><span style="
;font-style:italic">Orby</span></i> widziane za ogniskami i dymem podczas wspominania<br>

Les Saintes Maries de la Mer – są to
wielkie purpurowe <i><span style="font-style:italic">orby</span></i> w tle</span></p>

<p style="text-align:center"></span></p>

<p>Podczas jednej ze scen widziałam blade białe światło lejące się pasmami
w dół z niewidocznego statku gwiezdnego. Zrobiłam zdjęcie.</span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 20" src="../../../img/evocation_image020.jpg" alt="Lines of light descending at the evocation of Les Saintes Maries de la Mer" width="525" height="392" border="0"></span><br>
<br>
</span>Smugi światła schodzące na inscenizację Les Saintes Maries de la
Mer</span></p>

<p></span></p>

<p>Wspomnienie, jako święta uroczystość, odgrywa Świętość, przez co
stanowi zawieszenie czasu i przestrzeni. Energia Wspomnienia jest sumą świętej
energii i dwu-milenijnego oddania Dwóm (lub Trzem) Mariom oraz ich ucieczce z
towarzyszami do Galii. Tradycja tego wspominania Jezusa i jego towarzyszy
przywołuje ową energię, która otaczała jego wyznawców oraz Marie. Smugi światła
wskazują, że Boskość jest tu obecna, zalewając świętą energią aktorów,
uczestników i wszystkich obserwatorów Wspomnienia.</span></p>

<p>Gdy wszyscy ocaleni z morza ustawili się w szeregu przed tłumem,
naliczyłam ich dziewięcioro – nie trójkę, jak sobie wyobrażałam. „Jak to
możliwe?” – zastanawiałam się. Pamiętajcie, że nie rozumieliśmy nic z tego, co
mówiono po francusku. </span></p>

<p></span></p>

<p style="text-align:center"><img id="Obraz 21" src="../../../img/evocation_image021.jpg" alt="The Nine members of the small boat - surrounded by bonfires, facing the cross at the evocation of Les Saintes Maries de la Mer" width="525" height="394" border="0"></span><br>
<br>
</span>Dziewięcioro członków załogi niewielkiej łodzi przy ogniskach
naprzeciwko <br>

krzyża podczas wspomnienia Les Saintes
Maries de la Mer</span></p><br>

<p>Dlatego później zapytałam o to Alcheringę. Oto co odpowiedział:</span></p>

<p>„<b><i><span style="font-weight:bold;font-style:italic">Zapewniam
cię, że przybyła wtedy, ponad dwa tysiące lat temu, więcej niż jedna łódź. Cyganie
przywitali rodzinę, a ci na łodziach znali wszystkich ludzi, którzy czekali na
ich przybycie. </span></i></b></span></p>

<p><b><i><span style=";
;font-weight:bold;font-style:italic">Byli z nimi brat Jakub, Święty
Jan i Józef z Arymatei...</span></i></b> </span></p>

<p><b><i><span style=";
;font-weight:bold;font-style:italic">Oni poszli dalej w różne
miejsca</span></i></b><b><i><span style=";
;font-weight:bold;font-style:italic"> ... Motka Maria, jej dwie <a href="#daughters">córki</a>* też z nimi byli ... i, oczywiście, Maria Magdalena,
która została w tym regionie ... przenosząc się tylko znad wybrzeża w góry i po
drodze głosząc nauki. Te nauki nie były religią – nauczali czerpiąc ze Źródła,
Źródła Stworzenia. Po prostu przekazywali ‘sposób życia,’ ‘jak żyć.’ Bo w
tamtym czasie praktykowano składanie ofiar i istniało niewolnictwo. Oni
pragnęli powstrzymać te praktyki i zachęcali ludzi do wzajemnej miłości, do kochania
zwierząt, kochania wszystkiego, co jest na tej ziemi i do docenienia i kochania
Matki Ziemi. Takie nauki przekazywali. Jezus powiedział: „Kochajcie się
nawzajem tak jak ja was ukochałem."</span></i></b> (Sai Baba mówi podobnie,
stwierdzając, że Bóg jest miłością i że jesteście Bogiem.)</span></p>

<p><b><i><span style=";
;font-weight:bold;font-style:italic">„Uczniowie Jezusa, jak ich
nazywano, byli prostymi ludźmi – lojalni i kochani</span></i></b><b><i><span style="
;font-weight:bold;
font-style:italic"> ... otaczała ich specjalna energia ... wszyscy byli
‘uchrystusowieni.’ I ludzie to dostrzegali. Kiedy wiec mówili i wyciągali ręce,
gdy komunikowali się z ludźmi, ludzie rozpoznawali tę energię Ducha Świętego,
która im towarzyszyła.</span></i></b>"</span></p>

<p>W czasie podróży otrzymałam stopniowo wgląd w więcej rzeczy na
temat rodziny Jezusa. Były to dla nas lekcje Starożytnej Historii – o tym, co stało
się z uczniami po ukrzyżowaniu Jezusa, o późniejszych losach Kościoła
Chrześcijańskiego w połączeniu z Egiptem, o historii naszych własnych Dusz a
nawet o wcześniejszych wielkich zmianach ziemi w okolicach Morza Śródziemnego
przed 12000 lat, przed 60 milionami lat. John, mój mąż, normalnie nie jest
otwarty na te rzeczy, ale w czasie tej podróży dobrze się z tym czuł i sam też otrzymywał
przesłania od swojego mentora.</span></p>

<p>Podzielę się tymi licznymi historiami w kolejnych artykułach związanych
z naszą podróżą — w tej witrynie.</span></p>

<p class="text-right"><span style="
;">Z miłośnią,</span></p>

<p class="text-right"><b><i><span style="
;font-weight:bold;
font-style:italic">Valerie</span></i></b></p>

<p class="text-right">_________________________</span></p><a name="daughters"></a>

<p><span style="
;">* Patrz <a href="rosemary.htm">Regresja Rosemary/Ruth</a> o jej życiu jako przyrodniej
siostry Issy–Jezusa oraz <a href="jehanne-third.htm">Regresja Jehanne/Judith</a>
o jej życiu jako przyrodniej siostry Issy–Jezusa.</span></p>

<p></span></p>


<p class="text-center"><img id="Obraz 22" src="../../../img/evocation_image022.jpg" alt="The illuminated Camargue Cross of Les Saintes Maries de la Mer  is carried into the evocation" width="525" height="392" border="0"></span><br>
<br>
</span>Oświetlony Krzyż Camargue niesiony na<br>

wspomnienie Les Saintes
Maries de la Mer</span></p>

<p></span></p>

</div>

<p style="text-align:center"></span></p>

<p style="text-align:center">© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Zatoka Marii</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>