<!doctype html>
<html lang="">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski ()</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Newsletter, luty 2013r.</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Newsletter, luty 2013r.</h2>
<p>

<img src="http://sai.5v.pl/Val/http://sai.5v.pl/Val/images/news2013Feb01.jpg" alt="">
        <figcaption></figcaption>
    </figure>

    </p>

    <p>Witam wszystkich!</p>

<p>Oto newsletter z
lutego 2013. Nasza Matka Ziemia minęła „punkt zwrotny” i teraz energię trzeba
zakotwiczyć. Pojawiają się dalsze informacje o starożytnych historiach i o
Alcherindze. Dajemy tu też kolejne wiadomości o Kariong.</span></p>



<p><b>Orby w luksorskiej Świątyni Karnak</span></b></p>

<p>Jedna z przyjaciółek
przebywała ostatnio w Egipcie, gdzie odwiedziła święty komeks <a href="http://en.wikipedia.org/wiki/Karnak" target="_blank" rel="no-follow"><span style="">Świątyni Karnak</span></a> w Luksorze. Jest
też znany pod nazwą Święta Świątynia Sekhmet. Sekhmet przedstawia się w postaci
Lwicy, ale na tym zdjęciu ma zdecydowanie twarz Obcego – jest to skutek
szczególnego oświetlenia. Podobają mi się te orby…</span></p>



<p style="

" ><figure class="float-left">
                    <img src="http://sai.5v.pl/Val/images/news2013Feb01.jpg" alt="Moja przyjaciółka Sonja w świątyni Sekhmet ... piękne Orby!">
                    <figcaption>Moja przyjaciółka Sonja w świątyni Sekhmet ... piękne Orby!</figcaption>
                </figure>

<p><b>Starożytna Atlantyda</span></b></p><br>

<p ><figure class="float-left">
                    <img src="http://sai.5v.pl/Val/images/news2013Feb02.jpg" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb03.jpg" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/faroe.jpg" v:shapes="Obraz_x0020_4" width="350" height="350" border="0" ><!--/p-->

<!--p class=MsoNormal style='
'-->W uzupełnieniu moich <a href="JourneyAcrossTheAtlantic.htm">artykułów</a> z podróży przez Atlantyk i
wglądu otrzymanego na Islandii a mówiącego, że było to miejsce części Atlantydy
ze wspaniałą, świętą górą w kształcie piramidy pokazano nam, jak pradawni
mieszkańcy Islandii wchodzili na tę górę, by złożyć wschodzącemu słońcu i
Skandzie, synowi boga Śiwy, ceremonialną ofiarę ognia. Ciekawe, że ludzie z
północy jeszcze dzisiaj nazywani są Skandynawami.</span></p>

<p>W czasie przepływania
przez Ocean Atlantycki mieliśmy odwiedzić Wyspy Faeroe, ale niestety obszarowi
temu zagrażał huragan <a href="http://en.wikipedia.org/wiki/Hurricane_Isaac_(2012)" target="_blank" rel="no-follow"><span style="">Isaac</span></a> i uznano, że płynąć tam
byłoby zbyt ryzykowne.</span></p>

<p>Oto inne góry z Morza
Północnego i okolic Bieguna Południowego, które wyglądają jak piramidy..</span></p>

<p>W witrynie Scienceray
napisano: „Czy to możliwe, że Antarktyda w niezbyt odległej przeszłości była na
tyle ciepła, że istniała tam starożytna cywilizacja? W jeszcze większe
zakłopotania wprawia pytanie, czy rozwinęła się tam zaawansowana kultura. Czy
pozostały jakieś struktury pogrzebane pod lodem? Ciekawe, że zespół badaczy
utrzymuje, iż znalazł dowody na istnienie kilku starożytnych piramid na
pokrytym lodem kontynencie Antarktydy.”</span></p>

<p style="

" ></span></p>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb04.jpg" alt="Pyramids in Antarctica" v:shapes="Obraz_x0020_5" width="403" height="403" border="0"></p>



<p ><span style="
;"><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb06.jpg" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/icepyramid2.jpg" v:shapes="Obraz_x0020_6" width="631" height="424" border="0"></span></span></p><br>

<p><span style="
;"><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb08.jpg" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/icepyramid3.jpg" v:shapes="Obraz_x0020_7" width="689" height="232" border="0"></span></span></p>

<p>Więcej można
przeczytać w witrynie <a href="http://scienceray.com/biology/man-made-ancient-pyramids-found-on-antarctica/" target="_blank" rel="no-follow"><span style="">Scienceray</span></a>.</span></p>



<p><b>Jarlarm a starożytna Atlantyda</span></b></p>

<p>Dalej otrzymuję
pobudki do studiów nad starożytną Atlantydą. Dwie przyjaciółki i ja (razem
byłyśmy trzy) otrzymałyśmy sygnał, żeby usiąść do Świętej Wyroczni (Tabliczki Ouija,
które powiedziały ‘BÓG jest obecny’) i odebrać przesłania. Zostałyśmy też
poproszone przez ‘górę’ aby drogą channelingu przyjąć przekazy od mieszkańca
Atlantydy imieniem Jarlarm (wymawianego <b style="mso-bidi-font-weight:normal">Jalum</b>).
Powiedział on, że będzie przekazywał nam liczne informacje o Ziemi i co się
działo na niej przed Upadkiem Atlantydy około 10500 lat temu, kiedy to
przepadła większość zapisów.</span></p>

<p>W międzyczasie moją uwagę zwrócił
grudniowy numer <i style="mso-bidi-font-style:normal">National
Geographic Magazine </i>z 2012 r. Artykuł nosił tytuł <i style="mso-bidi-font-style:
normal">North Sea Secrets</i> (Tajemnice Morza Północnego) i dotyczył
archeologów, którzy zagłębiali się w dawny zaginiony świat Doggerland. Zdjęcie
poniżej pokazuje, jak łatwo zauważyć, że Wyspy Brytyjskie kiedyś były połączone
z kontynentem Europy, zanim podniósł się poziom mórz i je oddzielił.</span></p>

<p></span></p>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb09.jpg" alt="The Europe that was" v:shapes="Obraz_x0020_8" width="382" height="572" border="0"></span><br>
<br>
<i>Europa jaką kiedyś była. Pokazano zasięg pokrywy lodowej w Zjednoczonym<br>
Królestwie. Obraz w większej
rozdzielczości jest dostępny <a href="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/uksheath1.jpg" target="_blank" rel="no-follow"><span style="">tutaj</span></a>.</i></span><br><br><br></p>

<p>Zauważyłam, że od czasu „punktu zwrotnego” 21 grudnia 2012 r. i
podniesienia świadomości odkryto wiele nowych rzeczy dotyczących pradawnych
czasów. </span></p>

<p>Wskazywano już, że
wykonano mapy tylko 15% dna ziemskiego oceanu – kometniejsze są nawet mapy
Księżyca i Marsa. Obecnie, dzięki nowej satelitarnej technologii w zastosowaniu
do archeologii możemy oczekiwać wiele dalszych odkryć na dnach oceanów i gdzie
indziej. O satelitarnej archeologii można przeczytać więcej w witrynie <a href="http://ngm.nationalgeographic.com/2013/02/exore/satellite-archaeology" target="_blank" rel="no-follow"><span style="">National Geographic</span></a>.
Satelitarna archeologia jest gwałtownie rozwijającą się dziedziną. Tu znajdują
się wyniki przeszukiwania internetu <a href="http://au.search.yahoo.com/search?fr=yfp-t-501-s&amp;p=Satellite%20Archaeology&amp;ei=UTF-8" target="_blank" rel="no-follow"><span style="">na temat archeologii
satelitarnej</span></a>. </span></p><br>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb10.jpg" alt="Unknown circular image in waters of Yucatan" v:shapes="Obraz_x0020_9" width="400" height="240" border="0"></span><br>
<br>
<i>Nieznany okrągły obiekt w wodach Jukatanu. </i></span></p>



<p>Dalsze informacje i
wyniki badań opartych na archeologii satelitarnej można znaleźć w witrynie </span>Typepad</span>. Dla mnie wszystko to jest bardzo
ekscytujące.</span></p>



<p ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/bar.gif" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/bar.gif" v:shapes="Obraz_x0020_10" width="120" height="26" border="0"></span></span></p>



<p><b>Chmury jak statki, galaktyki i ich
mieszkańcy</span></b></p>

<p>Możecie pamiętać, że
mieliśmy dzień w Canyonleigh, kiedy to Valerie i jej przyjaciele o podobnych
zainteresowaniach malowali starożytne symbole (<a href="cloudship.htm" target="_blank"><span style="">z
relacją możecie zapoznać się tutaj</span></a>).</span></p>

<p>W internecie
znaleźliśmy czarującą stronę na <a href="https://www.facebook.com/UfoKruhyVObili" rel="no-follow">Facebooku</a> z licznymi
podobnymi zdjęciami chmur.</span></p><br>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb12.jpg" alt="Cloudship in setting sky" v:shapes="Obraz_x0020_11" width="386" height="450" border="0"></span><br>
<br>
<i>Statki z chmur na niebie podczas zachodu</i></span></p><br>

<p>Jest to bardzo ciekawa
witryna. Można przeglądać ją godzinami... Chmury soczewkowe, pokazane niżej, są
rzadkością. </span></p><br>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb13.jpg" alt="Twin lenticular cloudships" v:shapes="Obraz_x0020_12" width="600" height="450" border="0"></span><br>
<br>
<i>Podwójna chmura soczewkowa</i></span></p>



<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb14.jpg" alt="Twin lenticular cloudships" v:shapes="Obraz_x0020_13" width="600" height="441" border="0"></span><br>
<br>
<i>Chmury otaczające szczyty gór</i></span></p>



<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb15.jpg" alt="galaxy" v:shapes="Obraz_x0020_14" width="600" height="316" border="0"></span><br>
<br>
<i>... w galaktyce daleko, daleko stąd</i></span></p>



<p>Ten <a href="https://www.facebook.com/UfoKruhyVObili" target="_blank" rel="no-follow"><span style="">Facebook</span></a> zawiera bardzo dużą
kolekcję podobnych zdjęć. Jak mówiliśmy, można tu spędzić wiele godzin... </span></p>



<p><b>Starożytne kontakty z ludźmi z nieba</span></b></p>

<p>Znalazłam bardzo
ciekawą przeglądową dyskusję o ludziach z nieba. W witrynie <a href="http://trswartz.hubpages.com/hub/skypeoe" target="_blank" rel="no-follow"><span style="">Hubpages</span></a> napisano:</span></p>

<p><i>Nawet pobieżny ogląd starożytnych
cywilizacji ujawnia opowieści o dziwnych istotach, które przyszły z nieba i,
współdziałając z ludźmi, dały im religie, wiedzę i technologie, po czym wróciły
do swoich miejsc zamieszkania wśród gwiazd. Mimo to, nasza historia ma skłonność
zakładać, że te legendy są po prostu mitami. Jednakże, biorąc pod uwagę
współczesne opowieści o UFO i domniemanych kontaktach, dostrzegamy zaskakujące
podobieństwa między spotkaniami z UFO i owymi starożytnymi relacjami. Jedyną
różnicą jest to, że dawni ludzie nie mieli prawdziwego pojęcia o realności
życia na innych anetach. Dla nich dziwne istoty przylatujące na ziemię z
nieba w jaśniejących rydwanach byli bogami, aniołami lub demonami.</span></i></p>

<p><i></span></i></p>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb16.jpg" alt="Sky Peoe" v:shapes="Obraz_x0020_15" width="520" height="374" border="0"></span><br>
<br>
<i>Ludzie z nieba</i></span></p>



<p>Artykuł dyskutuje
pochodzenie człowieka w różnych miejscach, od Czasu Śnienia do Bogów-Ryb
Mezopotamii i Filistynów. Podano tam bardzo ciekawy cytat z apokryfy <i style="mso-bidi-font-style:normal">Nowego Testamentu</i>: <br>
<br>
</span><i>Starożytne historie o
stworzeniach z nieba były wecione w strukturę tego, co później stało się
współczesną zorganizowaną religią. Koptyjskie teksty gnostyczne, napisane
między pierwszym i drugim wiekiem naszej ery zawierają ustępy z opisami
starożytnych spotkań z obcymi istotami nazywanymi Archonami. Pierwsza
Apokalipsa Jana stwierdza: „Nie są całkiem obcy, gdyż pochodzą od Upadłej
Sofii, bogini, która stworzyła ich, gdy przynosiła ludzką rasę ze Źródła,
królestwa Przedwiecznego. Dlatego nie są całkiem obcy, lecz są naszymi
krewnymi.”</span></i></p>

<p>(Apokryfy podobno są
dokumentami z czasów początków chrześcijaństwa. Nazywają się apokryfami, gdyż
oryginalne dokumenty nie zostały napisane w <i style="mso-bidi-font-style:normal">koine</i>,
starożytnej grece tamtej epoki. Nie znaczy to, że są nieprawdziwe, ale że
władze Kościoła uznały, że nie należą do Biblii.) Więcej można przeczytać <a href="http://trswartz.hubpages.com/hub/skypeoe" target="_blank" rel="no-follow"><span style="">tutaj</span></a>.</span></p>



<p ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/bar.gif" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/bar.gif" v:shapes="Obraz_x0020_16" width="120" height="26" border="0"></span></span></p>



<p><b>W centralnej Australii znaleziono
miejsce po upadku asteroidy</span></b></p>

<p><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;
;"></span></p>

<figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb17.jpg" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/65million.jpg" v:shapes="Obraz_x0020_17" width="300" height="272" border="0" >
<p><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;
;">

Jeden z największych
obszarów po upadku na Ziemię asteroidy odkryto w głębi Australii.</span></p>

<p>Jak donoszą badacze z Australian
National University i University of Queensland, strefa ta, która znajduje się
Basenie Wschodniego Warburton w północnowschodniej części południowej
Australii, powstała po upadku asteroidy o rozmiarach do 20 kilometrów między
298 i 360 milionami lat temu. </span></p>

<p>Współautor tych badań,
dr Andrew Glikson z Australian National University, mówi, że teren wokół
miejsca zderzenia z ziemią wykazuje zmiany spowodowane falą uderzeniową i
gorącem wywołane tym impaktem. Gliksnon stwierdza, że „metamorficzny teren
pouderzeniowy obejmuje obszar ponad 30&nbsp;000 km<sup>2</sup>, co czyni go
trzecim co do wielkości tego typu miejscem odkrytym na Ziemi.”</span></p>

<p>Więcej na ten temat
można przeczytać witrynie <a href="http://www.abc.net.au/science/articles/2013/02/15/3691311.htm?site=science&amp;topic=latest" target="_blank" rel="no-follow"><span style="">ABC Science</span></a>.
</span></p>

<p></span></p>

<p style="
mso-outline-level:5;"><b><i><span style="
text-transform:uppercase;
">Komentarz Valerie: </span></i></b><b><span style="

text-transform:uppercase;
"></span></b></p>

<p>„Góra” nigdy nie
podała mi ‘daty ‘ kiedy na Ziemię przybyła asteroida Uluru. Mówili, że
sprowadzili ją, aby zniszczyć dinozaury.</span></p>

<p>Naukowcy na ogół akceptują
to, że dinozaury wyginęły 65 mln lat temu. Nawiasem mówiąc, dyskutują oni o
innej asteroidzie, która uderzyła w Ziemię i zniszczyła dinozaury. Według ich
teorii wbiła się w ziemię w pobliżu <a href="http://en.wikipedia.org/wiki/Bimini" target="_blank" rel="no-follow"><span style="">Bimini</span></a>... W niedawnym channelingu
Duchowa Istota, Alcheringa, <a href="MtAtlan.htm">omawia miejsce upadku</a>.</span></p>

<p>Ostatnie studia
wskazują także (chociaż naukowcy o tym nie mówią) na miejsce impaktu w pradolinie
między Uluru i Kata Tjutą, gdzie, jak ‘góra’ nam pokazała, Uluru jako asteroida
uderzyła w centrum Australii, wypychając w górę dno morza i tworząc Kata Tjutę.</span></p>

<p>Jednakże St Germain
powiedział, że to asteroida spowodowała ostateczny upadek Atlantydy oraz
wszystkie pozostałe małe Atlantydy na całej Ziemi. <a href="germain-atlantis.htm">Przeczytajcie tutaj</a>, co powiedział St Germain.</span></p>

<p>Doniesienie witryny ABC
Science i powiązane analizy są bardzo bliskie tego, co ‘góra’ pokazała mi, gdy
pracowałam nad Centralną Australią i olbrzymim kraterem powstałym w wyniku
upadku Uluru w tamtym rejonie i późniejszym uniesieniem się go. Mogło to być w
czasie, gdy w Centralnej Australii istniało Morze Eromanga. Możecie więcej
przeczytać w moim artykule <i style="mso-bidi-font-style:normal"><a href="uluru1.htm">Historia Kata Tjuty i mórz lądowych</a></i> oraz <i style="mso-bidi-font-style:normal"><a href="uluru.htm">Historia Uluru</a></i>,
gdzie omówiono znaczenie Morza Eromanga i rozpad asteroidy na części.</span></p>

<p ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/bar.gif" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/bar.gif" v:shapes="Obraz_x0020_18" width="120" height="26" border="0"></span></span></p>



<p><b>Wiadomości o Kariong</span></b></p><br>



<figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb19.jpg" alt="decay on hieroglyph" v:shapes="Obraz_x0020_19" width="200" height="228" border="0" ><p><span style="
;"></span></span></p>

<p>Ciągle dużo się dzieje
w sprawie hieroglifów w Kariong w NSW, Australia.</span></p>

<p>Steven Strong zebrał
liczne naukowe świadectwa – proszę przeczytać jego artykuł „<a href="http://wakeup-world.com/2012/10/29/re-writing-australias-history-the-egyptian-connection/" rel="no-follow">Poprawianie
historii Australii: związki z Egiptem</a>” w witrynie <i style="mso-bidi-font-style:
normal">Wake-Up-World</i> (Obudź się świecie) [spory fragment tego artykułu
przytoczono w <a href="http://www.valeriebarrow.com/books-and-news/newsletters/212-newsletter-february-2013.html" rel="no-follow">oryginalnej
wersji tego <i style="mso-bidi-font-style:normal">Newslettera</i></a>].
Spotkałam go, kiedy miał wykład w Księgarni Teozoficznej na temat jego książki <i style="mso-bidi-font-style:normal">Forgotten Origins</i> (Zapomniane początki).
Miesiąc później ja też miałam prelekcję. Kierownik księgarni zasugerował, że
powinnam się z nim spotkać, gdyż w jego książce wspomina się o hieroglifach w
Kariong, o których mówi moja książka <i style="mso-bidi-font-style:normal">Alcheringa</i>.
W 1995 r. wielu tzw. pracowników światła i mediów odwiedziło to miejsce. Praca
Stevena jest naukowa. Był też przyjmowany przez rdzenne emiona i pozwolono mu
powtórzyć wiele opowieści usłyszanych od Starszych tych emion. Ich opowieści
są podobne do otrzymanych przez nas od ‘góry.’ Wspólne są stwierdzenia, że
rdzenne ludy były pierwszymi ludźmi, że ich początki były tutaj, a nie przyszli
z Afryki lub skąd inąd, że ich przodkowie pochodzą z ejad, że opowiadają o
powrocie siedmiu sióstr i w szczególności ósmej siostry.</span></p>

<p>Część obszaru Kariong
jest zagrożona sprzedażą deweloperom.</span></p>

<p>Steven Strong przedstawia
też aktualności na YouTube „<a href="https://www.google.com.au/search?q=%22+Egyptians+in+Australia%22+Youtube&amp;rlz=1C1CHMO_en-gbAU491AU491&amp;oq=%22+Egyptians+in+Australia%22+Youtube&amp;aqs=chrome.0.57j60j0l3j62.8411&amp;sourceid=chrome&amp;ie=UTF-8" target="_blank" rel="no-follow"><span style="">Egyptians in Australia</span></a>"
(Egipcjanie w Australii); obecnie dostępne są części 1 do 6.</span></p>

<p>W tejże witrynie
znajduje się artykuł Stronga z 11 lutego 2013 r. pt. <a href="http://wakeup-world.com/2013/02/11/more-evidence-of-an-ancient-egyptian-and-eiadian-presence-in-australia/" target="_blank" rel="no-follow"><span style="">Evidence of an Ancient
Egyptian and eiadian Presence in Australia</span></a> (Dowody na obecność w
Australii starożytnych Egipcjan i ejadan).</span></p>



<p ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/bar.gif" alt="http://www.valeriebarrow.com/http://sai.5v.pl/Val/images/bar.gif" v:shapes="Obraz_x0020_22" width="120" height="26" border="0"></span></span></p>



<p><b><i style="mso-bidi-font-style:normal"><span style="
11.5pt;
">Alcheringa –
When the First Ancestors were Created</span></i></b></p>

<p><em><span style="font-style:normal">Miło
nam zaoferować promocyjnie dwie książki za 20,00 dolarów australijskich: </span></em><b><i>Alcheringa, when the first ancestors
were created</span></i></b><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;
"> oraz </span><b><i>The Book of Love, by a Medium.</span></i></b></span></p>

<p><span style="">Prześlijcie
mi zamówienie ze strony </span><a href="http://www.valeriebarrow.com/books-and-news/order-books.html" rel="no-follow"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Book Order</span></a><span style=""> a ja wam odpiszę.</span></p>

<p style="

" ><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb20.jpg" alt="Book cover - Alcheringa, when the first ancestors were created" v:shapes="Obraz_x0020_23" width="257" height="387" border="0"></span></span></p>



<p style="
mso-outline-level:3;"><b><span style="font-size:16.0pt;13.5pt;

">Zakotwiczanie nowych energii</span></b></p>

<p>Ziemia, nasza Matka,
wstąpiła w okres przejściowy, kiedy ustalają się nowe energie piątego i
szóstego wymiaru. Nastał czas skupienia się na tym, by dzięki naszym myślom
rzeczy stawały się dzień po dniu coraz lepsze. Potwierdził to <a href="http://www.cosmicsaibaba.com//20130205.php" rel="no-follow">Kosmiczny Sai Baba</a>:</span></p>

<p style="
11.25pt;margin-left:11.25pt;"><i style="mso-bidi-font-style:normal"><span style="font-size:font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;
">Obecnie, kiedy Ziemia przeszła już do Nowego Wieku, ludzie na Ziemi powinni
pracować po prostu nad uwalnianiem wszystkiego, co przeszło do przeszłości i
postępować w przyszłość. Postępować, jak powiedziałem, z myślami, które
przyniosą zmianę i rozwój każdemu i wszystkiemu na tej Ziemi. Bo myślokształty
niosą energię… A <b style="mso-bidi-font-weight:normal">energia myśli</b>
przejawia się i wpływa nawet na rośliny czy drzewa. Tak więc, nawet to może się
zmienić na lepsze. To samo dotyczy klimatu.<span style=""> </span></span></i></p>

<p><span style="font-size:mso-bidi-

">(Valerie:) Możemy wzrastać wraz z samą Matką Ziemią dzięki afirmacji:<br>
<br>
Jestem Czystym Światłem Świadomości</span></p>

<p><span style="font-size:mso-bidi-

">Przenikającym wszędzie</span></p>

<p style="11.25pt;
"><span style="font-size:mso-bidi-font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;
">I prowadzącym każdego w Światło Boga</span></p>

<p style="
11.25pt;margin-left:11.25pt;"><span style="font-size:mso-bidi-
color:blue;">‘Góra’
poprosiła nas, abyśmy odprawili ceremonię z pieśnią w celu zakotwiczenia nowej energii
w środku Ziemi podczas równonocy jesiennej (na półkuli południowej) w dniu 20 marca
2013 r. Kto się do nas przyłączy? Skupimy się na Głównym Krysztale Alcheringa
oraz na Uluru w Centralnej Australii.</span></p>

<p ><span style="

;"><figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="http://sai.5v.pl/Val/images/news2013Feb21.jpg" alt="Alcheringa Crystal today" v:shapes="Obraz_x0020_24" width="400" height="300" border="0"></span><br>
<br>
<i>Kryształ Alcheringa do połowy zagrzebany w ziemi, gdyż został umieszczony </i></span></p>

<p ><i>na mrowisku. Rdzenni
mieszkańcy uważają, że jest on święty.</span></i></p>



<p style="

" ><em><b><span style="
color:#FF33FF">Niech będą z wami Błogosławieństwa i Uniwersalna miłość. Val.</span></b></em><span style="
color:#FF33FF;"></span></p>



<p><span>Materiał zaczerpnięty z innych stron internetowych nie
koniecznie jest wspierany przez Valerie Barrow czy jej witrynę. Materiały z
innych stron są reprodukowane tutaj dla wygody czytelnika.</span></span></p>

<p><span style=";
115%">
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Newsletter, luty 2013r.</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../index_en.html">my site in <figure class="float-left">
                    <img src="./img/placeholder.png" alt="lorem ipsum">
                    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
                </figure>

<img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>