<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta w Glastonbury: Opactwo i Glastonbury Tor</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Wizyta w Glastonbury: Opactwo i Glastonbury Tor</h2>
               <br>
<p class="text-center">
<img src="../../../img/glastonbury_7e51d241.jpg" name="grafika1" width="569" height="376" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Widok
z lotu ptaka na Opactwo Glastonbury (źródło: Google images)</font></font></font></p>
<p>
Według
tradycji jest to najwcześniejsze sanktuarium chrześcijańskie w
Brytanii. Legenda  głosi, że Józef z Arymatei przywiózł tutaj Jezusa
i zbudowali kościół z wikliny i gliny. Zapiski historyczne mówią, że
stał tu w 600 r.n.e. i że spłonął podczas pożaru w 1184 r., który
zniszczył całe opactwo.</font></font></font></p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_m7fdf191d.jpg" name="grafika2" width="550" height="412" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Ulotka
z Opactwa Glastonbury </font></font></font>
</p>
<p>
Świadectwa
archeologiczne dowodzą, że chrześcijaństwo w Somerset było obecne od
najwcześniejszych dni. Glastonbury było ważnym miejscem pielgrzymek –
nazywano go nawet „Drugim Rzymem.” Opactwo to stało się
największe i najbogatsze w Anglii. Mówi się, że odwiedzili je św.
Brygida, św. Dawid i św. Patryk.</font></font></font></p>
<p>
W
Opactwie Glastonbury wyuczył się św. Dunstan i był tutejszym opatem
do czasu, aż został arcybiskupem Canterbury. To on wprowadził
benedyktyńską regułę w Glastonbury i w Anglii. Inny mnich z
Glastonbury, Sigeric, został arcybiskupem Canterbury w X w.</font></font></font></p>
<p>
Według
legendy w 1191 r. mnisi znaleźli pogrzebane szczątki króla Artura i
jego królowej Guinevere. W 1278 r. zostali ponownie pogrzebani w
prezbiterium w obecności króla Edwarda I i królowej Eleanor.</font></font></font></p>
<p>
Stały
tu kolejno trzy kamienne kościoły Opactwa. Widoczne pozostałości
datują się na lata od 1184 aż do 1539, kiedy Opactwo zostało zajęte
nakazem króla Henry’go VIII, podczas akcji Rozwiązywania
Klasztorów. Stopniowo klasztor uległ ruinie i był wykorzystywany jako
‘kamieniołom,’ źródło materiału budowlanego. Kuchnia
Opactwa jest jednym z ocalałych budynków. Tutaj w okresie od kwietnia
do października odbywają się pokazy na temat życia mnichów.</font></font></font></p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_3905e493.jpg" name="grafika3" width="377" height="500" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Kuchnia
Opactwa jest jednym z zachowanych budynków w Opactwie Glastonbury</font></font></font></p>
<p>
Za
Kaplicą św. Patryka znajduje się Święte Cierniste Drzewo Glastonbury,
które zakwita dwa razy w roku. Mówi się, że Święty Cierń powstał z
drzewa, które wyrosło, zgodnie z legendą, gdy Józef z Arymatei wbił
swoją laskę w grunt w Glastonbury, a ona pokryła się liśćmi.</font></font></font></p>
<p>
Teren
Opactwa obejmuje 36 akrów (około 14 hektarów)  z uprawą na handel
specjalnie dobranych drzew, polnych kwiatów i bulw. Są tu dzikie
zwierzęta, stawy oraz sad z cydrami (drzewami jabłecznika).</font></font></font></p>
<p>
W
1907 r. ruiny wykupiono i otoczono opieką. Opactwo jest obecnie
organizacją dobroczynną: „</font></font></font><i>naszymi
jedynymi dochodami są wasze, goście, datki</i></font></font></font>."
</font></font></font><b>Powyższa
informacja pochodzi z ulotki wręczanej podczas wstępowania na teren
Opactwa</b></font></font></font>.
Adres opiekunów tego miejsca to: The Custodian, Glastonbury Abbey,
Somerset, BA6 -9EL, Anglia. </font></font></font><u><a href="http://www.glastonburyabbey.com/contact.php?&amp;dx=1&amp;ob=3&amp;rpn=index&amp;sid=cb8802ab573a496dd5ff6a21b1af01c8" target="_blank">Z
Opactwem Glastonbury można kontaktować się tutaj</font></a></u></font>.</font></font></font></p>
<p>
<br><br>
</p>
<p style="margin-bottom: 0cm;" align="CENTER">
<img src="../../../img/glastonbury_6cf7f94c.jpg" name="grafika4" width="550" height="414" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br></font></font></font><br>
</p>
<p style="margin-left: 2cm; margin-right: 2cm; ">
Upamiętnienie
Józefa z Arymatei w Opactwie Glastonbury </font></font></font><i>[Napis
na tablicy: Według tradycji Somerset Józef z Arymatei był wujem Marii
Dziewicy, był podróżnikiem, który jeździł do Brytanii, by kupować
cynę w Kornwalii i ołów w Somerset. Podczas jednej lub więcej takich
wypraw zabrał ze sobą młodego Jezusa. W Glastonbury zbudowali małe
proste miejsce oddawania czci, maleńki kościół, ze splecionych gałęzi
wierzby oblepionych gliną. Ten 'wiklinowy (ang. wattle) kościół' był
później często nazywany „The Old Church” (Starym
Kościołem)]</i></font></font></font></p>
<p>
Kiedy
John i ja przyjechaliśmy do miasta Glastonbury, zdumiała nas liczba
ludzi i tamtejszych sklepów z wszelkiego rodzaju artykułami, które
można nazwać  ‘ezoterycznymi gadżetami’ o konotacji 'new
age'. Wielu ludzi wyglądało na szczęśliwych, inni zdawali się
zagubieni, jakby szukali czegoś. Lepiej poczuliśmy się, gdy weszliśmy
do Opactwa Glastonbury za wysokimi kamiennymi murami.  Opactwo
prowadzi organizacja charytatywna, chociaż jest własnością prywatną
ludzi, którzy mieszkają w Australii. Jest to miłe, ciche miejsce o
spokojnej energii. Z przyjemnością chodziliśmy wokół ruin i
spacerowaliśmy po zielonych trawnikach.</font></font></font></p>
<p class="text-center">
<img src="../../../img/glastonbury_2dde6fbe.jpg" name="grafika5" width="550" height="412" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>John
Barrow wśród ruin Kościoła w Opactwie Glastonbury</font></font></font></p>
<p>
Natknęliśmy
się na pierwotne miejsce Wattle i Daub nazywane 'The Old Church"
(Stary Kościół). Po odwiedzinach Camargue w południowej Francji i
obejrzeniu spektaklu odtwarzającego wylądowanie rodziny Jezusa po
ucieczce z Egiptu, na pamięć przychodzi nam Józef z Arymatei, wuj
Matki Marii, który po krótkim pobycie w Galii udał się z innymi w
znaną sobie drogę handlowania oraz wydobywania cyny w miejscu dziś
znanym jako Kornwalia i Walia. W tamtym czasie Glastonbury było wyspą
otoczoną bagnistymi terenami (podobnymi do tych w Camargue). Było to
bezpieczne miejsce w czasach, gdy Wyspy Brytyjskie były jeszcze pod
okupacją Imperium Rzymskiego. Wcześniej Józef podróżował z Issą
bardziej na północ, do Szkocji. Wiele dowodów na to, że Jezus tam
podróżował podaje Barry Dunford w swojej witrynie
</font></font></font><u><a href="http://www.sacredconnections.co.uk/holyland/christ_mission.html" target="_blank">www.sacredconnections.co.uk/holyland/christ_mission.html</font></a></u></font></p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_5c0d0a46.jpg" name="grafika6" width="459" height="330" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Issa
w Szkocji (źródło: www.sacredconnections.co.uk)</font></font></font></p>
<p>
<br><br>
</p>
<p>
Donoszono,
że Józef nabył ziemię od miejscowego władcy, Arviragusa, aby założyć
miejsce nauki i spotkań. Stąd mamy budynek  Wattle i Daub.</font></font></font></p>
<p>
Jezus
(wolę go jednak nazywać Issą) mówił o sobie, że przychodzi wprost od
Ojca (mając na myśli niebo)). Nigdy nie miał zamiaru zakładać nowej
religii. Chciał pomagać ludziom w przemianie ich życia. Chciał
zniechęcić do ofiar, do niewolnictwa; chciał, by ludzie zrozumieli
skąd w rzeczywistości przyszedł oraz przekazać przesłanie, które
przyniósł w imieniu Ojca: aby ludzie </font></font></font><i><b>kochali
się wzajemnie tak jak On ich umiłował</b></i></font></font></font>.
Przemawiał klarownie, będąc oświeconym przez Boskie Światło, tak że
ludzie byli zmuszeni zatrzymywać się, słuchać i podziwiać Jego słowa.
Czynił cuda.</font></font></font></p>
<p>
On
był namaszczonym. Słowo „Chrystus” pochodzi od greckiego
słowa </font></font></font><i>Christos</i></font></font></font>.
To zaś jest starodawnym greckim tłumaczeniem hebrajskiego słowa 
</font></font></font><i>masiah</i></font></font></font>
(mesjasz), które znaczy „namaszczony.” Później, gdy
rozwinął się kościół i religia, zaczęto ją nazywać
„chrześcijaństwem”.(ang. </font></font></font><i>Christianity</i></font></font></font>).
 </font></font></font>
</p>
<p>
Podczas
ostatniej wieczerzy Issa miał powiedzieć: „To jest moje ciało,
to jest moja krew." I na tym skupił się kościół, a w
rzeczywistości nie jest to najważniejsze. Centralną sprawą jest
Miłość, najważniejsze jest Święte Królestwo Boga, kosmiczne królestwo
jedności ducha. </font></font></font>
</p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_5b65fb59.jpg" name="grafika7" width="465" height="353" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Przesłanie
Issy-Jezusa: kosmiczne królestwo jedności Ducha</font></font></font></p>
<p>
Issa
w swoich naukach często posługiwał się symboliką. Jego 'krew' i
'ciało' nie dotyczyły tej ziemi. Dawał do zrozumienia wszystkim, że
Jego Krew była Święta i Jego Ciało było Święte oraz że przyszedł
wprost od Ojca, czyli z innego świata. Jest to Święty Graal
(Kielich). Jest to Sangreal [oryginalna nazwa Świętego Graala] …
Królewska Krew … Święta Krew i Święte Ciało, w którym płynęła.
On przybył z Kosmosu.</font></font></font></p>
<p>
Przesłanie
Issy brzmiało: „Kochajcie się nawzajem jak ja was kochałem”
oraz „Królestwo Boga jest wewnątrz was.”</font></font></font></p>
<p>
Na
podstawie mojej zgody i umowy z Istotami Światła korzystają one z
mojej  krtani, by przeze mnie przemawiać. Wielokrotnie byłam
pobłogosławiona obecnością Istoty Światła, która jest Jezusem i jej
mówieniem do nas. W szczególności zdarzyło się tak podczas pierwszej
medytacji nowego millenium. Wszyscy w pomieszczeniu czuliśmy Jego
obecność, gdy przejął moje ciało. Liczni z zebranych mogli zobaczyć
Go (jasnowidząc) ubranego w bladoniebieskie i białe szaty (tuniki) .
Stał z rękami uniesionymi w kierunku obecnych w pomieszczeniu.
Wszyscy, włącznie ze mną, byli wzruszeni do łez i przytłoczeni Jego
obecnością. Dzielił się z nami swoją energią, prawie wcale nie
mówiąc. Ale powiedział:</font></font></font></p>
<p>
„<i><b>Wielu
ludzi oczekuje mojego powrotu, ale ja nigdy nie odszedłem. Wystarczy,
że tylko poprosicie, a ja przyjdę.”</b></i></font></font></font></p>
<p>
Pomieszczenie
przepełniało ciepłe uczucie Uniwersalnej Miłości i Pokoju. A gdy
usiadłam, zauważyłam ślady stóp na dywanie, które długo nie znikały. 
</font></font></font>
</p>
<p>
Wracając
do naszej wizyty w Opactwie Glastonbury, odnaleźliśmy miejsce, gdzie
mnisi odkryli pogrzebane szczątki Artura i jego królowej Guinevere.</font></font></font></p>
<p>
<br><br>
</p>
<p style="margin-bottom: 0cm;" align="CENTER">
<img src="../../../img/glastonbury_4fbf4979.jpg" name="grafika8" width="550" height="413" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br></font></font></font><br>
</p>
<p style="margin-left: 2cm; margin-right: 2cm; ">
Pamiątkowa
tablica w Opactwie Glastonbury wskazująca miejsce na cmentarzu, gdzie
znaleziono szczątki Artura i Guinevere </font></font></font><i>[Napis
na tablicy głosi: Miejsce starożytnego cmentarza, gdzie w 1191 r.
mnisi kopiąc odkryli groby Artura i Guinevere]</i></font></font></font></p>
<p>
<br><br>
</p>
<p style="margin-bottom: 0cm;" align="CENTER">
<img src="../../../img/glastonbury_58198dab.jpg" name="grafika9" width="566" height="424" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br></font></font></font><br>
</p>
<p style="margin-left: 2cm; margin-right: 2cm; ">
Pamiątkowa
tablica w Opactwie Glastonbury zaznaczająca miejsce, gdzie odkryto
groby Artura i Guinevere </font></font></font><i>[Napis
na tablicy głosi: Miejsce grobu króla Artura. Mówi się, że w roku
1191 z południowej strony kaplicy dla kobiet znaleziono ciała króla
Artura i jego królowej. 19 kwietnia 1278 r. ich szczątki zostały
przeniesione w obecności króla Edwarda i królowej Eleonor do grobowca
z czarnego marmuru w tym miejscu. Grób ten przetrwał do roz-wiązania
Opactwa w 1539 r.]</i></font></font></font></p>
<p>
W
końcu, przed opuszczenie Opactwa, znaleźliśmy Święte Cierniste
Drzewo, o którym się mówi, że wyrosło z laski, którą Józef z Arymatei
wetknął w ziemię na wzgórzu Wearyall po drodze do Tor.</font></font></font></p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_m250779f5.jpg" name="grafika10" width="550" height="414" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Valerie
pod Świętym Ciernistym Drzewem </font></font></font>
</p>
<p>
Ciężko
było wspinać się bez poręczy do Tor górującego nad Opactwem na
wysokości 158 m n.p.m. Są tam ruiny kościoła św. Michaelsa,
zburzonego w 1539 r. na rozkaz króla Henryka VIII. Tam także
powieszono, ciągano i  poćwiartowano ciało ostatniego mnicha Opactwa 
Glastonbury. Postanowiłam nie 'dostrajać się' do tamtej energii.</font></font></font></p>
<p>
Ale
energia tam u góry zatykała dech. Łatwo stąd było widzieć jak miasto
Glastonbury zostało zbudowane na wyspie. Rozległe równiny otaczały w
koło miasto, na których kiedyś niewątpliwie były bagna. Góry wznosiły
się daleko od tego miejsca po wielkim kole, które miało otwarcie,
niczym bramę, przez które kiedyś wtargnęło morze i zalało równiny.</font></font></font></p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_7962b787.jpg" name="grafika11" width="379" height="500" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Valerie
i John w Glastonbury Tor </font></font></font>
</p>
<p>
Brama
ta znajdowała się od strony Walii. Łatwo teraz było mi zrozumieć,
dlaczego Glastonbury było kiedyś nazywane Wyspami Awalonii i trwało
jako kraina bagien, gdy król Artur rządził 1500 lat temu i,
oczywiście, kiedy żył tam Józef z Arymatei.</font></font></font></p>
<p class="text-center">
<img src="../../../img/glastonbury_307219e5.jpg" name="grafika12" width="550" height="409" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Widok
z Glastonbury Tor </font></font></font>
</p>
<p>
Mówi
się, że Józef zmarł w Glastonbury dnia 27 lipca 82 r. n.e. Na jego
nagrobkowym kamieniu napisano po łacinie: „</font></font></font><i>Po
tym jak pogrzebałem Chrystusa, przyjechałem na te Wyspy; myślałem:
wstąpiłem w moje miejsce spoczynku</i></font></font></font>.”</font></font></font></p>
<p>
Później
odwiedziliśmy Chalice Well (Studnię Kielicha) i jej Święte Wody.
Chalice Well jest jedną z najstarszych brytyjskich studni. Jest
umiejscowiona w Vale of Avalon, miedzy słynnym Glastonbury Tor i
Chalice Hill (Górą Kielicha).</font></font></font></p>
<p>
<br><br>
</p>
<p class="text-center">
<img src="../../../img/glastonbury_30f12c59.jpg" name="grafika13" width="384" height="500" border="0" align="BOTTOM"></font><font face="Tahoma, sans-serif"><br><br></font></font></font>Studnia
kielicha z </font></font></font><i>Vesica
Piscis</i></font></font></font>
(znakiem ryb) na pokrywie </font></font></font>
</p>
<p>
<i><b>Przejdź
do CZĘŚCI DRUGIEJ</b></i></font></font></font>:
naszej wizyty w </font></font></font><u><a href="stonehenge.htm">Stonehenge
i Avebury</font></a></u></font>
</font></font></font>
</p>
<p style=" border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm;">
<br><br>
</p>
<p style="margin-bottom: 0.35cm" align="CENTER"><font face="Tahoma, sans-serif">©
</font></font></font><u><a href="copyright.htm"><font face="Tahoma, sans-serif">Copyright
Valerie Barrow</font>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta w Glastonbury: Opactwo i Glastonbury Tor</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>