<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Casa Dom Ignácio – rezydencja Medium <i>Jana od Boga</i> w Abadianie w Brazylii</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Casa Dom Ignácio – rezydencja Medium <i>Jana od Boga</i> w Abadianie w Brazylii </h2>
              
<p style=""><b><i><span style="
">Miejsce najświętsze</span></i></b></p><br><br>

<p style=""><span style="
">O ‘cudownych uzdrowieniach’,
które zdarzają się w Casie (domu) po raz pierwszy dowiedziałam się z książki Shirley
MacLaine <b><i>Going Within</i></b>, <i>(Kierując się do własnego wnętrza)</i>,
gdy przeczytałam relację z jej wizyty w tamtym miejscu. Została wtedy, w 1991
r., uleczona z raka żołądka.</span></p>

<p style="text-align:justify"><span style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image001.jpg" alt="Photograph of a painting of St Ignatius, Spanish Mystic, at Casa Dom Ignácio" width="515" height="391"></span></p>

<p style="text-align:center" align="center"><span style="">Zdjęcie obrazu św. Ignacego,
hiszpańskiego mistyka, w Casa Dom Ignácio</span></p>

<p style=""><span style="
"></span></p>

<p style=""><span style="
">Później, w 2001 r., Robert
Pellegrino-Estrich i jego żona odwiedzili Southern Highlands (Południowe Wyżyny
w Australii), gdzie mieszkamy. Miał tam publiczne wystąpienie na temat ich
książki <b><i>The Miracle Man and the life story of Joao de Deus</i></b> <i>(Człowiek
cudów i historia życia Joao de Deusa).</i></span></p>

<p style=""><span style="
">Na okładce tej książki
napisano, że Joao przyjmuje 1000 ludzi dziennie, a aż 11 milionów było
leczonych w ciągu 30 lat. On sprawia, że niewidomi znów widzą, a całkowicie sparaliżowani
znów chodzą. Przekłada się to na więcej operacji dziennie niż w dużym szpitalu
przez miesiąc. Dlaczego nie ma krwawienia, gdy okazyjnie wykonuje fizyczne
operacje? Jak można to robić bez znieczulania? Wyleczył 139 przypadków AIDS.
Jak on usuwa guzy bez dotykania pacjenta? Donoszono, że przywrócił zmarłego do
życia, który okazał się całkowicie wyleczony, co zostało potwierdzone przez
lekarzy. Dlaczego odmawia zapłaty?</span></p>

<p style=""><span style="
">Wszystko to zostało zapisane 10
lat temu, ale Joao ciągle pracuje. Poświęcił swoje życie tej pracy przez 54
lata i nigdy nie brał urlopu. Gdy jest przejęty przez <i>‘jednostkę/istotę</i>’
(ang. <i>entity</i>), później nic nie pamięta. Prosił, aby wszystkie przebiegi
leczenia były dokumentowane w postaci zdjęć i zapisów wideo. Wydaje się, że
jest najpotężniejszym Medium na ziemi.</span></p>

<p style="text-align:justify"><span style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image002.jpg" alt="Photograph of John of God at Casa Dom Ignácio" width="390" height="520"></span></p>

<p style="text-align:center" align="center"><span style="">Zdjęcie Jana od Boga w
Casa Dom Ignácio</span></p><br>

<p style=""><span style="
">Stwierdziłam, że coraz więcej
ludzi, których znałam ruszało w tę daleką podróż do jego Casy i dostępowało
uzdrowień – nie wszyscy na poziomie fizycznym, ale w jakiś sposób była leczona
ich Dusza, ich Duch, ich Umysł i/lub Ciało.</span></p>

<p style="text-align:justify"><span style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image003.jpg" alt="Waiting room at Casa Dom Ignácio" width="517" height="387"></span></p>

<p style="text-align:center" align="center"><span style="">Poczekalnia w Casa Dom
Ignácio</span></p>

<p style="text-align:center" align="center"><span style=""></span></p>

<p style=""><span style="
">Casa jest świętym miejscem z
kryształami o szerokości ponad metr i czasami wysokości ponad metr, które są
zaprogramowane na przechowywanie Boskiego Światła i odmawianych przez
odwiedzających modlitw oraz wolontariuszy, którzy pracują z Joao w jego pokoju<i>
‘current’</i>. Gdy Joao operuje, wiele mediów asystuje mu siedząc w medytacji i
utrzymując Boskie Światło w tym domu (w Casie). Trwa to niekiedy 3 do 4 godzin
– to właśnie jest nazywane <i>current</i>.</span></p>

<p style="text-align:justify"><span style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image004.jpg" alt="Waiting room at Casa Dom Ignácio" width="519" height="392"></span></p>

<p style="text-align:center" align="center"><span style="">Poczekalnia w Casa Dom
Ignácio w innym ujęciu</span></p>

<p style="text-align:center" align="center"><span style=""></span></p>

<p style=""><span style="
">Sama Casa zbudowana jest na
terenie, gdzie głęboko pod ziemią uformowały się kryształy. Pozwala to istotom
duchowym, czy duchowym doktorom, jak ich nazywają, przychodzić do ziemskiej
atmosfery i pozostawać tu na czas wykonywania pracy uzdrawiania.</span></p>

<p style=""><span style="
">Ta sama energia uwalnia także
wszystkie ‘niepożądane <i>entities</i>,’ jako że, jak się mówi, do 60 % chorób
u ludzi wywołane jest przez ‘przylgnięte <i>entities</i>.’ </span></p>

<p style=""><span style="
">Jeśli zastanawiacie się nad
rolą kryształów, pomyślcie o pierwszych radiowych odbiornikach krystalicznych i
wykorzystaniu kryształów w technologiach eksploracji kosmosu.</span></p>

<p style=""><span style="
"></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image005.jpg" alt="Photograph of Valerie and friend at the entrance to Casa Dom Ignácio" width="514" height="387"></span></p>

<p style="text-align:center" align="center"><span style="">Zdjęcie Valerie i jej
przyjaciółki przy wejściu do Casa Dom Ignácio</span></p>

<p style="text-align:center" align="center"><span style=""></span></p>

<p style=""><span style="
">W listopadzie 2010 r. pewna
przyjaciółka zabrała moje zdjęcie w jedną z podróży do Casy. Stanęła w długiej
kolejce setek ludzi, którzy codziennie odwiedzają to miejsce, gdy Medium, Joao,
jest na miejscu i, jak się mówi, jest w <i>‘Entity</i>.’ Oznacza to, że on,
jako Medium, pozwala Duchowej Istocie (ang, <i>Entity</i>) opanować swoje ciało
i przez niego dokonywać cudownych wyleczeń. Joao-in-entity wziął od
przyjaciółki moje zdjęcie, zaordynował ziołowe lekarstwa i postawił znak krzyża
na zdjęciu. Ten znak wskazywał, że miałam osobiście złożyć wizytę w Casie w
Brazylii, aby poddać się duchowej operacji.</span></p>

<p style=""><span style="
"></span></p>


<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image006.jpg" alt="Valerie Barrow floating in the air at the entrance to Casa Dom Ignácio" width="510" height="391"></span></p>

<p style="text-align:center" align="center"><span style="">Brama nie jest
poruszona, a ja zdaję się pływać – dziwne zielone światło <br>
zdaje się skądś
przychodzić. Spójrzcie też na następne zdjęcie.</span></p>

<p style=""><span style="
"></span></p>

<p style=""><span style="
">Skorzystałam z proponowanych leków
ziołowych. Doznałam też odczucia, że jestem wzywana do odwiedzenia Casy. Od
wielu lat cierpiałam na liczne rakowe schorzenia skóry, diagnozowane jako rak
podstawnokomórkowy, które rozwinęły się w postać raka płaskokomórkowego.
Wylądowałam nawet w szpitalu w celu przeszczepień skóry na obu nogach, co na
dobre przykuło mnie do łóżka na 2 tygodnie, by wyzdrowieć miesiąc później.
Teraz cierpię na łuszczycę, co sprawia, że trudno rozpoznać, kiedy zaczyna
powstawać zmiana rakowa.</span></p>

<p style=""><span style="
">Inną postacią raka jest
czerniak. Moja matka zmarła z powodu czerniaka, dlatego pomyślałam, że pora,
abym poszukała pomocy. Niedawno dodało mi otuchy stwierdzenie, że ostatnie
rakowe zmiany na skórze moich nóg to ‘rogowacenie,’ które jest zaledwie
pierwszym krokiem do raka. Znaczyło to, że doświadczam leczenia na odległość.
Ktoś nade mną pracuje. Muszę więc tam pojechać. John, mój mąż, miał ze mną
jechać, ale w ostatniej chwili zrezygnował. </span></p>

<p style=""><span style="
">Zaraz po przybyciu, zostałam
zaprowadzona do osobnego pomieszczenia na <i>‘interwencję</i>,’ którą większość
ludzi nazywa ‘Duchową Operacją.’ Wyszło, że mam leżeć na swoim łóżku przez 24
godziny. Jedzenie przynoszono mi do pokoju. Przez następne 8 dni musiałam
odpoczywać i w ogóle nie pracować przy komputerze. Stwierdziłam, że otrzymałam
wgląd w moje zdrowie. To był niezbędny czas pozostawania samą, jaki
potrzebowałam, aby zaszło uzdrowienie. Po 8 dniach trzeba było znów stanąć w
kolejce do Joao-in-entity do <i>‘korekty’</i> i w celu usunięcia ‘duchowych
szwów.’ Joao posłał mnie ponownie na <i>‘interwencję’</i> i powtórzyła się ta
sama procedura, co oznaczało, że w sumie spędziłam 16 dni w szpitalu, a nasz
pobyt był zaplanowany jedynie na 19 dni. Taka sytuacja nie byłaby zbyt zabawna
dla Johna. </span></p>

<p style="text-align:justify"><span style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/joaodedeus_image007.jpg" alt="Valerie Barrow photographed at Casa Dom Ignácio" width="514" height="388"></span></p>

<table width="514" align="center"><tbody><tr><td><p style="text-align:justify"><span style="
">Znów dziwne zielone światło – i zdjęcie wygląda na nieostre. Tu
wydaje się, że to już nie jest moja twarz. Podoba mi się różowe światło na tle
mojego serca. Spytałam o nie Joao-in-entity, a on powiedział: „Widać tu
energię, która istnieje w Casie.” Na drugim planie z prawej strony zdaje się
znajdować rząd duchowych istot.</span></p></td></tr></tbody></table>

<p style="text-align:justify"><span style="
"></span></p>


<p style=""><span style="
">Nie każdy może odczuć
zachodzenie duchowej operacji, ale ona się odbywa. Miałam szczęście być świadomą
tego, jak duchowe palce poruszają się w moim ciele, jak przepływają przeze mnie
fale uzdrawiającej energii. Przez pierwszy dzień czułam, że dochodzę do siebie
po znieczuleniu. W umyśle miałam kompletny mętlik. Zaczęłam czuć się lekka.
Poproszono mnie, abym położyła się w kryształowym łóżku. Takie łóżka są
dostępne w Casie, ale też w różnych miejscach na świecie. Jest to ogromne
metalowe ramię na stojaku sięgające ponad łóżko. Ramię rozdziela się na więcej
ramion utrzymujących kryształy o różnych barwach, które ustawia się nad
czakrami ciała. Światło pulsuje przez kryształy, zapewniając uzdrawianie ciała
leżącego na łóżku. Podczas ostatniego takiego zabiegu poczułam, że leżę na
miękkiej chmurze w kosmosie, nie chcąc wracać. Zabiegi takie doprowadzają do
równowagi energii światła w ciele.</span></p>

<p style=""><span style="
">Teraz, kiedy wróciłam do domu,
ciągle mam świadomość, że duchowi lekarze pracują nade mną. Mówi się, że
uzdrawianie może zająć do 40 dni, a czasami nawet do 3 lub 4 miesięcy. Dostałam
dalsze ziołowe tabletki, które robi się z kwiatów i liści amerykańskiego krzewu
z gatunku Passiflora, ze specjalną energią dla każdego pacjenta. Piję też
pobłogosławioną wodę, która jest dostępna w Casie. Pacjentów prosi się, aby nie
przestawali zażywać żadnych leków oficjalnej medycyny, które dotąd zażywali.</span></p>

<p style=""><span style="
">John i ja tęskniliśmy za sobą.
On powiada, że nigdy już nie będziemy podróżować osobno. Z powodu niedawnych
wybuchów wulkanu w Chile, nasz lot przebiegał zmienioną trasą, co wydłużyło
podróż z 14 do 21 godzin. W podróży moje kostki były dwukrotnie większe niż
normalnie – nigdy przedtem nie miałam ich tak spuchniętych. Muszę jeszcze
przejść dodatkowe trzy sesje na kryształowych łóżkach, które są dostępne tu na Południowych
Wyżynach.</span></p>

<p style=""><span style="
">John nie czuł się dobrze –
dostał silnej czerwonej wysypki na całym ciele. Wiemy, że jest to najprawdopodobniej
alergiczna reakcja na jakieś lekarstwa, które bierze. Coś mi się przypomina, że
w Casie sugerowano, że inna osoba może przejąć na siebie część dolegliwości,
pomagając tym samym uzdrowić pacjenta. Ponieważ moje ciało pokrywa teraz
łuszczycowa czerwona wysypka, jestem przekonana, że John pomaga mi uwolnić się
od karmy tego ciała, która pozostała po duszy zamieszkującej je przede mną.
Łuszczyca jest dziedziczona przez rodzinne DNA, i może być trudna do wyleczenia
na drodze duchowej. To zadziwiające! Oboje wyglądamy tak, jak gdybyśmy
przechodzili odrę. To naprawdę zabawne. Jakiż to byłby problem, gdybym musiała
znosić to wszystko sama. </span></p>

<p style=""><span style="
">Podczas leczenia w Casie
zdobyłam wiele doświadczeń i otrzymałam wspaniałe informacje. Ale to jeszcze
nie koniec…</span></p><br>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/bar.gif" alt="bar" width="120" height="26"></span></p>

<p style="text-align:justify"><span style=""></span></p>

<p style="line-height:
130%"><i><span style="
">Uzdrawianie na Kryształowych Łóżkach</span></i><span style="
">, pobłogosławione przez Casę, jest dostępne pod adresami:<br>
<br>
Amanda Grant, Burradoo, Southern Highlands, NSW <br>
Tel. kom.: 0415 541 115 <br>
Southern Highlands official John of God Casa<br>
<a href="http://houseoffaithandlove.com/John_Of_God/Australia.html">http://houseoffaithandlove.com/John_Of_God/Australia.html</a>
<br>
Linda Walker-Muschelknautz, Moss Vale, Southern Highlands, NSW <br>
Tel. kom.: 0435 839707</span></p>

<p style="text-align:center" align="center"><span style=""></span></p>

<div style="border-bottom:solid windowtext 1.0pt; 0cm 1.0pt 0cm">

<p style=""></p>

</div>

<p></p>

<p style="text-align:center" align="center"><span style="">© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Casa Dom Ignácio – rezydencja Medium <i>Jana od Boga</i> w Abadianie w Brazylii</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>