<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Kariong
                i starożytni Egipcjanie w Australi</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Kariong
                i starożytni Egipcjanie w Australi</h2>
                <img src="../../../img/Kariong0.jpg" name="grafika1" width="150" height="82" border="0" align="right">
                <p>Jak
                    wiele lat temu powiedział Alcheringa, miejsce z egipskimi
                    hieroglifami w Kariong stanowi ‘Bramę’ a same glify
                    znaczą różne rzeczy dla różnych ludzi. Powiedział też, że z czasem
                    udostępni klucze do tej historii. I to się już stało.
                Alcheringa
                w Kariong dnia 11 grudnia 2011 r.</b></font></font></font></p>
                <p style="">
                <b>Film
                dokumentalny 'Wirritjin' – jest to słowo lub filozofia ludzi
                Ramindjeri (rdzennych mieszkańców Wyspy Kangurów) oznaczające
                "Blackfella Whitefella Dreaming together (Faceci ciemny i biały
                śniący razem)."</b></font></font></p>
                <p style="">
                11 grudnia 2011
                r. odwiedziliśmy Kariong, aby wysłuchać dwóch prelekcji –
                jednej wygłoszonej przez Steve Stronga, a drugiej – przez dr
                Hans-Dietera von Senffa. </font></font>
                </p>
                <p style="">
                Spotkaliśmy się
                też z ekipą nagrywającą film dokumentalny </font></font><i>Blackfella
                Whitefella Dreaming Together</i></font></font>.
                Udzieliłam wywiadu do części o śnieniu ‘Białego faceta,’
                w której sfilmowano przekaz Alcheringi.</font></font></p>
                <p style="">
                
                <br><br>
                </p><center><iframe src="http://www.youtube.com/embed/NkBTRzWi4vc?rel=0" allowfullscreen="" width="640" height="360" frameborder="0"></iframe></center>
                <br><br>
                
                <p></p>
                <p style="">
                Ten wywiad
                możecie obejrzeć także na </font></font><span style="text-decoration: none"><a href="http://www.youtube.com/watch?v=NkBTRzWi4vc&amp;feature=youtu.be" target="_blank" rel="no-follow">YouTube</font></a></span></font>
                (dzięki Olivii Olley i ekipie filmowej).</font></font></p>
                <p style="">
                 </font>
                </p>
                <p style="">
                Zapis tekstowy
                przekazu Alcheringi można przeczytać </font></font><span style="text-decoration: none"><a href="alcheringa-speaks-kariong20111211.pdf">tutaj</font></a></span></font>.</font></font></p>
                <p style="">
                <br>
                </p>
                <p style="">
                Setki, jeśli nie
                tysiące, ludzi potrafiło rozpoznać swój związek z opisaną historią
                zwykłych ludzi, którzy przypomnieli sobie, że byli Gwiezdnymi Ludźmi
                i to jak zostali stworzeni pierwsi ludzie przed dziewięćset tysiącami
                lat (patrz książka </font></font><span style="text-decoration: none"><a href="http://www.astro.uni.torun.pl/~kb/Val/book-alcheringa.htm" rel="no-follow"><i>Alcheringa,
                when the first ancestors were created</i></font></a></span></font>
                lub e-książka </font></font><span style="text-decoration: none"><a href="http://www.astro.uni.torun.pl/~kb/Val/starship.htm" rel="no-follow"><i>Gwiezdni
                ludzie ponownie</i></font></a></span></font>).</font></font></p>
                <p style="">
                W swoim
                przekazie Alcheringa odniósł się do swojego przesłania sprzed 16 lat
                w Kariong na temat egipskich hieroglifów. Wtedy powiedział nam, że
                miejsce to jest ‘Bramą’ i że glify znaczą różne rzeczy
                dla różnych ludzi. Powiedział też, że z czasem udostępni klucze do
                tej historii oraz że więcej faktów zostanie ujawnionych. Tak się też
                stało.</font></font></p>
                <p style="">
                Nasza historia
                mówi, że australijscy tubylcy są nie tylko ‘pierwszymi
                mieszkańcami’ Australii, ale że są też ‘Pierwszymi
                Ludźmi.’ Ci rdzenni mieszkańcy mówią, że nie przyszli skądinąd,
                ale że ich początki są w tym kraju, który teraz nazywamy Australią, i
                że później rozeszli się do innych miejsc na Ziemi.</font></font></p>
                <p style="">
                Starsi plemienia
                Ramindjeri utrzymują, że ich przodkowie ośmiokrotnie okrążyli nasz
                glob.</font></font></p>
                <p style="">
                Oto cytat
                wypowiedzi Wujka Ruebena Kelly, Starszego plemienia Dhungutti
                (Kempsey) i ostatniego człowieka w NSW (Nowej Południowej Walii),
                który ma prawo przeprowadzać ceremonię inicjacji chłopców: </font></font><i>Nasze
                legendy mówią, że przyszliśmy na waszą planetę w statku kosmicznym
                wykonanym z energii. Gdy wpadł w atmosferę Ziemi, zamienił się w
                kryształ</i></font></font>.</font></font></p>
                <p style="">
                Ta historia jest
                podobna do tej, którą pamiętamy jako gwiezdni ludzie, chociaż w
                naszej pamięci statek kosmiczny został zaatakowany. Ale teraz wiem
                też, że ten statek kosmiczny jest obecnie kryształem Moldavite.</font></font></p>
                <p style="">
                Starsi innych
                plemion mówią, że ich przodkowie przybyli z Plejad i wskazują na owe
                7 gwiazd na niebie.</font></font></p>
                <p style="">
                Znam inną
                historię wywodzącą się z tego samego miejsca (Kariong) opisaną przez
                Paula White’a. Według niej glify zostały rozszyfrowane w postać
                losów dwóch egipskich książąt i ich załogi ocalałych z uszkodzonej
                łodzi. Jeden z książąt został ukąszony przez węża i zmarł. Podobno
                działo się to 5000 lat temu
                (</font></font><span style="text-decoration: none"><a href="http://www.crystalinks.com/egyptaustralia.html" target="_blank" rel="no-follow">www.crystalinks.com/egyptaustralia.html</font></a></span></font>).</font></font></p>
                <p style="">
                Archeologowie i
                egiptolodzy nie potrafili odszyfrować hieroglifów a to, w połączeniu
                z pogłoskami, że jakiś starszy człowiek był widziany przez strażnika
                parku jak żłobi glify na ścianie skały, sprawiło, że glify tego
                rejonu uznano za podróbkę.</font></font></p>
                <p style="">
                Opinię tę
                podważyli liczni naukowcy, którzy przedstawili dowody na
                autentyczność miejsca, na to, że jest to prawdziwy grobowiec
                starożytnych Egipcjan.</font></font></p>
                <p style="">
                Słuchałam
                wykładu Steve Stronga, który mówił, że Egipcjanie przybyli tutaj 4500
                lat temu. Powiedział też, że wierzy iż przybyli tu w pielgrzymce,
                ponieważ wiedzieli, że starożytni Australijczycy byli tutaj przez
                bardzo długi czas. Pomyślałam: ‘</font></font><i>Zgadam
                się z tym…</i></font></font>’
                Narysowałam taki oto rysunek w egipskim stylu: </font></font>
                </p>
                <p style="">
                <br>
                </p>
                <p style="" class="text-center">
                <img src="../../../img/Kariong1.jpg" name="grafika2" width="300" height="451" border="0" align="BOTTOM"></font><br><br></font></font>
                Obraz reptilianina podobnego do drako widzianego na Cave Hill (Górze Groty)<br>
                w Centralnej Australii (rysunek wykonany za pozwoleniem)<br>
                [napisy na rysunku: 'małe spiczaste uszy' (u góry), '3 palce' (z prawej),<br>
                'ogon' (z lewej), '4 palce' (u dołu)]</i></font></font></p>
                <p style="">
                <br>
                </p>
                <p style="">
                Takie rysunki
                widziałam na sklepieniu w grocie Siedmiu Sióstr z Plejad na Cave
                Hill, w Centralnej Australii. Na tym sklepieniu zostały narysowane
                czarnym węglem drzewnym datowanym na 20 tysięcy lat. Postać ta
                wyglądała bardzo podobnie do ‘człowieka-krokodyla,’
                znajdującego się na papirusie obrazującym Dzień Sądu z egipskiej
                legendy.</font></font></p>
                <p style="">
                <br>
                </p>
                
                <p style="" class="text-center">
                <img src="../../../img/Kariong2.jpg" name="grafika3" width="600" height="449" border="0" align="BOTTOM"></font><br><br></font></font>Zdjęcie
                obrazu Dnia Sądu </font></font></font>
                </p>
                <p style="">
                <br>
                </p>
                <p style="">
                Mówi się, że
                człowiek-krokodyl o zielonej głowie zjadał część serca zmarłego,
                jeśli było zbyt ciężkie na przejście do nieba (</font></font><span style="text-decoration: none"><a href="http://www.valeriebarrow.com/jehanne-darc/travels-to-sacred-places/the-great-pyramid-of-giza.html" rel="no-follow">tutaj</font></a></span></font>
                jest artykuł na ten temat).</font></font></p>
                <p style="">
                Niedawno Steve
                Strong opublikował artykuł w ostatnim numerze </font></font><i>New
                Dawn Magazine</i></font></font>
                (January-February 2012).Steve spędził sporo czasu z rdzennymi
                mieszkańcami i przeszedł inicjację stania się jednym z nich. Przez
                lata on i jego syn Evan zebrali ogromną ilość informacji na temat
                istnienia starożytnych Egipcjan, którzy odwiedzili ten kraj 4500 lat
                temu. Twierdzą, że bardzo duży obszar z rysunkami naskalnymi
                wykonanymi przez rdzennych mieszkańców oraz nowo odkryte hieroglify,
                niezależne od tych spornych w Kariong, stanowią zbyt ważny materiał,
                aby go ignorować lub przypisywać dowcipnisiom. Ten obszar musi być
                chroniony.</font></font></p>
                <p style="">
                Więcej na ten
                temat możecie przeczytać w witrynie Stevego:
                </font></font><span style="text-decoration: none"><a href="http://forgottenorigin.com/" target="_blank" rel="no-follow">http://forgottenorigin.com/</font></a></span></font></p>
                <p style="">
                Dr Hans-Dieter
                von Senff niedawno napisał pracę złożoną w National Library
                (Bibliotece Narodowej). Mówi on: „Te hieroglify są prawdziwe i
                znajdowały się w Australii przez jakieś 4500 lat. Te proto-egipskie
                glify nie są graffiti, jak twierdzą różni ‘eksperci’ i
                ‘egiptolodzy,’ lecz stanowią zapis pozostawiony przez
                człowieka prehistorycznego. Niosą spójną treść zrozumiałą nawet po
                4500 latach. Miejsce to nie jest żadną podróbką, lecz autentycznym
                archeologicznym odkryciem, czego dowodzi niedawno odkryty drugi zbiór
                glifów i obecność podziemnego szybu wentylacyjnego.”</font></font></p>
                <p style="">
                Możecie pobrać i
                przeczytać książkę dr-a Hans-Dietera von Senffa, </font></font><span style="text-decoration: none"><a href="http://valeriebarrow.com/upload/Ancient-Egyptians-in-Australia.pdf" rel="no-follow"><i>Ancient
                Egyptians in Australia</i></font></a></span></font>
                (plik pdf, 4.5 MB; jest to wersja przedłożona National Library of
                Australia) oraz </font></font><span style="text-decoration: none"><a href="http://valeriebarrow.com/upload/Prohibited-Egyptology.pdf" rel="no-follow"><i>Prohibited
                Egyptology</i></font></a></span></font><i>
                </i></font></font>(plik
                pdf, 2.9 MB; opis badań egipskich glifów i jaskini pochówków w
                Kariong).</font></font></p>
                <p style="">
                Oczywiście,
                nasza praca dotyczyła gwiezdnych ludzi, albo bohaterów nieba, jak
                niektóre rdzenne ludy ich określają. Wierzę, że starożytni
                Egipcjanie, którzy przybyli tu 4500 lat temu znali pierwotnych
                rdzennych mieszkańców i ich pochodzenie od plejadańskich przodków
                oraz, jak sugerowałam, odwiedzili ten kraj w celach pielgrzymkowych.</font></font></p>
                <p style="">
                W roku 1982
                egipska gazeta </font></font><i>Cairo
                Times</i></font></font>
                donosiła, że archeologowie pracujący w Fayum w pobliżu Siwa Oasis w
                Egipcie odkryli skamieliny kangurów i innych australijskich torbaczy.
                Możecie o tym przeczytać </font></font><span style="text-decoration: none"><a href="http://members.ozemail.com.au/~classblu/egypt/article.htm" target="_blank" rel="no-follow">tutaj</font></a></span></font>.
                Byłoby ciekawe poznać wiek tych skamielin.</font></font></p>
                <p style="margin-top: 0.4cm; ">
                Ludzie mogą być
                zainteresowani uczestnictwem w innej prelekcji Steve Stronga, która
                ma zostać wygłoszona 18 lutego. Możecie przeczytać stosowne
                </font></font><span style="text-decoration: none"><a href="http://www.valeriebarrow.com/upload/kariong-meeting-feb-2012.pdf" rel="no-follow">ogłoszenie
                prasowe</font></a></span></font>
                o tym spotkaniu.</font></font></p>
                <p style="">
                „W tym
                obszarze znajdują się dowody w postaci rycin Aborygenów, form i
                malowideł łodzi przeznaczonych do podróży po otwartych morzach,
                konstrukcji astronomicznych, gamy starożytnych symboli egipskich oraz
                rozmaitości styli i technik. Style są tak liczne i nie pasujące do
                tego regionu, że wcześniej nazywaliśmy ten region jako odpowiednik
                Aleksandrii z epoki kamiennej.  Ilość, jakość i rozmaitość
                niesłychanie ważnych świętych miejsc jest taka, że bezwzględnie
                należy chronić te miejsca i przyległe obszary. Cały ten obszar, a w
                szczególności region Kariong/Bambera, ma międzynarodowe znaczenie. Co
                ważniejsze, to co wyryto na płytach skalnych, zbudowane i wymalowane
                na ścianach grot potwierdza prawdziwość wierzeń aborygeńskich
                Starszych i zachowanej tradycji o tym, że nie pochodzą oni od
                starożytnych Afrykańczyków, lecz zawsze byli Australijczykami, że
                byli pierwszymi morskimi podróżnikami międzykontynentalnymi,
                pierwszymi Homo Sapiens i że ‘wszyscy inni ludzie świata
                pochodzą od nas.’ Nie jest to nowa interpretacja historii, lecz
                tak mówią najstarsze dane faktograficzne, jakie kiedykolwiek
                istniały. Macie możność zapoznać się z niektórymi argumentami
                przemawiającymi za tym, że ten kraj jest tak specjalny i tak ważny
                dla rzucenia światła na o wiele większy zakres historii nie tylko
                Australii, ale całego świata.” </font></font>
                </p>
                <p style="" align="RIGHT">
                <i>Steven Strong</i></font></font></p>
                
                <p style="">
                <br><br>
                </p>
                <table class="text-center"><tbody><tr><td class="text-center">
                <p style="" class="text-center">
                <img src="../../../img/Kariong3.jpg" name="grafika4" width="606" height="453" border="0">
                <br><br><i>
                Valerie Barrow z zespołem filmowym w McMasters Beach.<br>Obok Valerie siedzi
                jej mąż, John Barrow; dalej — Steven Strong; <br>dr Hans-Dieter
                von Senff, w białej koszulce T-shirt, jest odwrócony tyłem do kamery,<br>
                a obok niego
                siedzi Nina Angello. (Zdjęcie dzięki uprzejmości Lavinia
                Seaton-Smith.)</i>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Kariong
                i starożytni Egipcjanie w Australi</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>