<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only">
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta w Saint
Maximin i La Sainte-Baume</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Wizyta w Saint
Maximin i La Sainte-Baume</h2>
               
<p><span
>Valerie Barrow i jej mąż John spędzili
koniec września, cały październik i początek listopada 2010 r. podróżując przez
Zjednoczone Królestwo, Francję i Egipt.<span style="
"> Poniżej
Valerie przedstawia ich wizytę w regionie Saint-Maximin la Saint-Baume, gdzie
Maria Magdalena mieszkała po ucieczce z Egiptu. Tutaj od czwartego wieku ciągle
znajdował się klasztor, w którym pielęgnowano pamięć (i relikwie) Marii
Magdaleny.</p>

<p class="text-center"><img id="Obraz 2" src="../../../img/obraz001.jpg" alt="Map of Saint-Maximin la Saint-Baume Region" width="525" height="410"><br>
<br>
Mapa regionu
Saint-Maximin la Saint-Baume. </p>
<p>Kliknij
na nią, by obejrzeć <a href="http://www.valeriebarrow.com/images/map-large.png" target="_new" rel="no-follow">mapę w większej rozdzielczości</a></p>



<p><span
>Obszar ten jest znany z formacji geologicznej zwanej masywem,
która odegra pewną rolę w historii, którą opowiemy. Z odkryć archeologicznych
wiadomo, że region ten był ośrodkiem religijnym już około 3000 lat temu.
Wyjaśnieniem jest obecność od czasów prehistorycznych w tym miejscu olbrzymich
zasobów wody zasilanych wszystkimi rzekami regionu. Rozwinęły się tu pogańskie
kulty poświecone bogini płodności. Niektórzy historycy wierzą, że w czasach
obecności Celtów od czwartego wieku p.n.e. tutejsze lasy nawiedzali „Druidzi.”</p>


<p class="text-center"><img id="Obraz 3" src="../../../img/obraz002.jpg" alt="Geological formation known as Massif at Sainte-Baume" width="525" height="389" border="0"><br>
<br>
Geologiczna
formacja znana jako Masyw w Sainte-Baume</p>
<p></p>

<p><span
>Saint-Maximin, atrakcyjne miasto targowe, leży 300 metrów nad
poziomem morza i jest otoczone plantacjami winogron. Osłaniają je trzy wielkie
łańcuchy górskie: Mont (Góra) Aurelien, Mont Sainte Victoire i Massif (Masyw)
Sainte Baume.</p>

<p><span
>To starożytne miasto, pierwotnie galijsko-rzymskie, położone na
północny wschód od Marsylii i Camargue, sławę zawdzięcza w znacznym stopniu
swojej historii naznaczonej tajemniczą i legendarną Marią Magdaleną.</p>


<p class="text-center"><img id="Obraz 4" src="../../../img/obraz003.jpg" alt="Basilica of St Mary Magdalene surrounded by the Royal Convent" width="600" height="366" border="0"><br>
<br>
Bazylika Św.
Marii Magdaleny otoczona Królewskim Klasztorem</p>
<p></p>

<p><span
>Szczątki tej świętej zostały tu odkryte w 1280 r. w krypcie datowanej
na czwarty wiek naszej ery i odtąd przechowywane w prostym miejscowym kościele.
<span
>Później, aby pomieścić ciągle rosnący napływ pielgrzymów,
Charles II z Anjou, hrabia Prowansji i bratanek Saint Louisa zarządził, z
błogosławieństwem papieża Bonifacego VIII (1294–1303), budowę Bazyliki Świętej
Marii Magdaleny i, w tym samym miejscu, klasztoru.</p>


<p class="text-center"><img id="Obraz 5" src="../../../img/obraz004.jpg" alt="Original plan of the Basilica of St Mary Magdalene showing the location of the crypt" width="525" height="338" border="0"><br>
<br>
Pierwotny plan
Bazyliki Św. Marii Magdaleny z zaznaczonym położeniem krypty. <br>
Budowa bazyliki nigdy nie została ukończona z powodu plagi Czarnej Zarazy<br>
w XIV w., dlatego wejście do bazyliki ma niewykończony front</p>

<p class="text-center"><img id="Obraz 6" src="../../../img/obraz005.jpg" alt="John Barrow standing in front of the Basilica of St Mary Magdalene; the unfinished front is visible" width="409" height="600" border="0"><br>
<br>
John
Barrow przed Bazyliką Św. Marii Magdaleny; </p>
<p>widać
niewykończoną ścianę frontową</p>
<p></p>

<p><span
>John i ja jesteśmy zachwyceni możliwością zamieszkania w
Królewskim Klasztorze, kiedyś zajmowanym przez mnichów Dominikanów, a obecnie
przekształconym w wygodny hotel i restaurację.</p>
<p class="text-center"><img id="Obraz 7" src="../../../img/obraz006.jpg" alt="View of the Dining Room of the Royal Convent at Saint-Maximin" width="600" height="446" border="0"><br>
<br>
Widok na Salę
Obiadową w Królewskim Klasztorze w Saint-Maximin.<br>
Zwróćcie uwagę na <i>orba</i> na tle bukietu róż, u góry z prawej strony</p>
<p class="text-center"><img id="Obraz 8" src="../../../img/obraz007.jpg" alt="A Dominican monk overlooks the menu in the dining room of the Royal Convent" width="600" height="459" border="0"><br>
<br>
Mnich
Dominikanin spogląda na menu w jadalnym pokoju Królewskiego Klasztoru </p>
<p></p>

<p><span
>Zaraz potem poszliśmy na zwiedzanie wspaniałej Bazyliki, która
znajduje się dosłownie po sąsiedzku. Wiedziałam, że szczątki Marii Magdaleny są
przechowywane w krypcie, dlatego już nie mogłam się doczekać obejrzenia ich.</p>
<p class="text-center"><img id="Obraz 9" src="../../../img/obraz008.jpg" alt="Entrance to the Basilica of St Mary Magdalene at Saint-Maximin" width="600" height="410" border="0"><br>
<br>
Wejście do
Bazyliki Św. Marii Magdaleny w Saint-Maximin</p>
<p></p>

<p><span
>Akurat po naszym przyjeździe kryptę zamknięto, gdyż odbywała się
uroczystość bierzmowania dzieci. Postanowiliśmy zaczekać na zakończenie
ceremonii (która trwała około godziny).</p>
<p class="text-center"><img id="Obraz 10" src="../../../img/obraz009.jpg" alt="Confirmation Mass was taking place in the Basilica of St Mary Magdalene at Saint-Maximin" width="600" height="445" border="0"><br>
<br>
Msza z
bierzmowaniem w Bazylice Św. Marii was Magdaleny w Saint-Maximin</p>
<p class="text-center"><img id="Obraz 11" src="../../../img/obraz010.jpg" alt="The High Altar in the Basilica of St Mary Magdalene at St Maximin" width="600" height="390" border="0"><br>
<br>
Główny
ołtarz w Bazylice Św. Marii Magdaleny w Saint-Maximin</p>
<p></p>

<p><span
>Gdy czekałam na otwarcie krypty po bierzmowaniu, tknęło mnie, by
podejść do pokazanego niżej zdjęcia w katedrze, <i>Trylogii</i>. Istnieje
przekonanie, że przedstawia ono duchy trzech Marii. </p>

<p class="text-center"><img id="Obraz 12" src="../../../img/trilogie.jpg" alt="Trilogie, depicting the spirits of the Three Marys at the Basilica of St Mary Magdalene at Saint-Maximin" width="349" height="398" border="0"><br>
<br>
<b><i>Trilogie</i></b> (fr. trylogia),
wyobrażająca duchy trzech Marii </p>

<p>w Bazylice Św. Marii Magdaleny w Saint-Maximin</p>
<p><b><i></i></b></p>
<p></p>

<p>text-align:
justify;line-height:130%"><b><span style="font-size:13.5pt;
">Krypta</b></p>
<p class="text-center"><img id="Obraz 13" src="../../../img/obraz012.jpg" alt="View of the Crypt at the Basilica of St Mary Magdalene at Saint-Maximin" width="349" height="514" border="0"><br>
<br>
Widok na
kryptę w
Bazylice Św. Marii Magdaleny w Saint-Maximin</p><br>

<p><span
>Gdy otwierają kryptę, proszę o pozwolenie zrobienia zdjęcia relikwiarza
Marii Magdaleny z jej czaszką w środku (patrz <u><a href="jehanne-third.htm" target="_new">h<span style="color:black">istoria otrzymana od
ducha Jehanne d'Arc</a></u>). Pytam mojego mentora, czy jest to
rzeczywiście ona. On odpowiedział: </p>

<p><b><i><span
>„Rzeczywiście jest, moja droga. Wszyscy w końcu rozpoznali ją i
błogosławili za jej pracę. Rozpoznali ci, którzy rozumieją i wiedzą od źródła,
z którego ona przyszła. </i></b></p><br>
<p class="text-center"><img id="Obraz 14" src="../../../img/obraz013.jpg" alt="Valerie's photo of the Shrine in the Crypt at the Basilica of St Mary Magdalene at Saint-Maximin" width="600" height="450" border="0"><br>
<br>
Zdjęcie
Relikwiarza w Krypcie wykonane przez Valerie<br>
w Bazylice
Św. Marii Magdaleny w Saint-Maximin</p>
<p></p>

<p><b><i><span
>Zdjęcie, które masz - JEST- nadzwyczajnym światłem, moja droga, dlatego
nie podawaj go w wątpliwość. Jest ono na potwierdzenie twojej obecności, a ona
jest bardzo zadowolona, że cię tam widzi. Zrozum, że jej duch nie jest tylko w tej
krypcie, ale jest wszechobecny – i pójdzie z tobą do górskiej groty.” </i></b></p>

<p class="text-center">
<span></span><img id="Obraz 15" src="../../../img/obraz014.jpg" alt="Notice at the Shrine in the Crypt at the Basilica of St Mary Magdalene at Saint-Maximin" width="600" height="450" border="0"><br>


<p class="text-center">Informacja przy Relikwiarzu w Krypcie <br>
    w Bazylice
    Św. Marii Magdaleny w Saint-Maximin<br><br>Treść napisu
na powyższym zdjęciu:</p>
 
<em>
    <p class="text-center"><b>Relikwiarz Marii Magdaleny</b></p>
    <p class="text-center">Relikwiarz
    ten zawiera czaszkę, która, według oficjalnych badań wykonanych w 1974 r., „należy
    do kobiety w wieku około 50 lat, typu śródziemnomorskiego.” Tradycja przypisuje
    ją Marii Magdalenie. Ten relikwiarz zawiera także kryształową tubę, „Noli Me
    Tangere,” w której znajduje się kawałek „skostniałej substancji,” która
    została oderwana z czoła czaszki podczas inwentaryzacji w 1780 r. Według
    tradycji jest to kawałek skóry z głowy Marii Magdaleny, którego dotknął
    Chrystus w czasie swojego zmartwychwstania, mówiąc do niej: „Nie dotykaj
    mnie, jeszcze nie odszedłem do mojego ojca.”</p>
    <p>Czaszka
    jest częścią kości odkrytych w ziemi krypty przez Charlesa II z
    Anjou w grudniu 1279 r.<span style=""
    >Zwykle trzymano ją w złotym i srebrnym relikwiarzu razem z
    koroną ozdobioną drogocennymi kamieniami ofiarowaną przez ojca Charlesa II. Relikwiarz
    z całą zawartością zniknął w listopadzie 1793 r.</p>
    <p>Obecny relikwiarz
    pochodzi z roku 1860 i w wielu aspektach jest podobny do pierwotnego. Jest to
    dzieło architekta Revoila i rzeźbiarza Didrona. Raz w roku, w lipcu, jest
    wynoszony podczas obchodów święta Marii Magdaleny.</p></em>

</td></tr></tbody></table><br><br>
<p class="text-center"><img id="Obraz 16" src="../../../img/obraz015.jpg" alt="Altar in the Crypt at the Basilica of St Mary Magdalene at Saint-Maximin" width="600" height="396" border="0"><br>
<br>
Ołtarz w Krypcie
<br>
w Bazylice
Św. Marii Magdaleny w Saint-Maximin</p>

<p class="text-center"><img id="Obraz 17" src="../../../img/obraz016.jpg" alt="Shrine with skull of Mary Magdalene" width="196" height="262" border="0"><br>
<br>
</p>

<p class="text-center">Relikwiarz z Czaszką Marii Magdaleny</p>


<p><span
>W Krypcie znajdują się także sarkofagi Świętych Maximina, Sidoine,
Marcelle i Suzanne – towarzyszy Świętej Marii Magdaleny w podróży łodziami.. </p><br>
<p class="text-center"><img id="Obraz 18" src="../../../img/replica.jpg" alt="Replica of the reliquary of Sainte Madeleine , St Mary Magdalene" width="290" height="417" border="0"><br>
<br>
Replika
Relikwiarza Św. Marii Magdaleny niesiona w procesji; <br>
święto Św. Marii Magdaleny przypada 22 lipca</p><br>

<p><span
>Podczas uroczystości wspominania dopłynięcia trzech Marii oraz
sześciu innych członków rodziny Jezusa mówiono, że Św. Maximin był jednym z
nich. Wydaje się, że przeniósł się w rejon gór wraz z Marią Magdaleną, by
głosić nauki.</p>



<p class="text-center"><img id="Obraz 19" src="../../../img/obraz018.jpg" alt="Cover of the Annales Ecclesiastici by Cardinal Caesar Baronius" width="360" height="480" border="0"><br>
<br>
Okładka <i>Annales Ecclesiastici</i> – dzieła kardynała
Caesara Baroniusa</p>

<p><span
>Istnieje inna legenda napisana przez kardynała Baroniusa, kustosza
Biblioteki Watykańskiej i zamieszczona w jego <i>Annales Ecclesiastici</i> (kościelne
roczniki od narodzenia Chrystusa do 1198 r.), składającego się z dwunastu tomów
dużego formatu. Jest to historia pierwszych 12 wieków kościoła
chrześcijańskiego. Autor podał tu pełną listę pasażerów, którzy podobno
przybyli do Marsylii, aby uniknąć niebezpieczeństw, zagrażających po
ukrzyżowaniu Jezusa. W tym miejscu otrzymałam pobudkę od ducha, aby przeszukać Internet
pod kątem Józefa z Arymatei. Oto strona, do której zostałam zaprowadzona: <a href="http://www.biblefacts.org/myth/j_arimathea.htm" target="_new" rel="no-follow">www.biblefacts.org/myth/j_arimathea.htm</a></p>

<p><i><span
>„Józef wraz z wieloma uczniami podróżował fenicką łodzią ze
świętej ziemi i dopłynął do Marsylii (fenickiej faktorii) w prowincji Vienoise
należącej do Galii (Francja) w roku 35 naszej ery. Stąd Józef udał się do
Anglii, aby tam ustanowić seminaria duchowne i wysyłać misjonarzy. Kardynał Baronius,
kustosz biblioteki Watykanu, w swoich ‘Ecclesiastical Annals’ podaje
następujący opis: ‘W tym roku wspomniana grupa znalazła się na morzu w statku
bez żagli i bez wioseł. Statek w końcu podryfował do Marsylii i załoga została
uratowana. Józef i jego towarzysze przenieśli się stąd do Brytanii i po
głoszeniu Ewangelii tam pomarli’.”</i><span style="
"> </p>

<p><span
>Oto pełna lista pasażerów według kardynała Baroniusa:</p>

<!--ul type=disc-->
 <li>Św. Maria, małżonka
     Kleopasa </li>
 <li>Św. Eutropius </li>
 <li>Św. Salome</li>
 <li>Św. Martial </li>
 <li>Św. Trophimus </li>
 <li>Św. Cleon </li>
 <li>Św. Saturninus</li>
 <li>Św. Maximin (ślepiec)
     </li>
 <li>Św. Sidonius
     (Restitutus)</li>
 <li>Św. Józef z Arymatei
     </li>
 <li>Św. Maria
     Magdalena</li>
 <li>Św. Marta</li>
 <li>Św. Łazarz </li>
 <li>Marcella, pokojówka
     sióstr z Betanii.</li>


<p><span
>„<i>Inne zapisy stwierdzają, że James (Jakub) i Maria, matka Jezusa,
także znajdowali się w łodzi. We Francji na podróżników czekał Filip. Istnieją
świadectwa na to, że miał misję w Galii i wszystkie stwierdzają, że został
przyjęty i konsekrowany [przez] Józefa Apostoła na misję w Brytanii, zanim tam
pojechał</i>.”</p>

<p><span
>Alcheringa (który często mówi w imieniu Kosmicznego Sai Baby) powiedział,
że wtedy było wiele statków z uciekinierami z Egiptu. Camargue nie leży daleko
od Marsylii. Cyganie z Camargue przechowują legendę, o której piszę w artykule „<a href="evocation.htm" target="_blank">Les Saintes Maries de la Mer</a>," mówiącą,
że Św. Salome, Św. Jacobe i Sarah, razem ze Św. Maximinem wylądowali w
Carmargue, a Alcheringa stwierdził, że Św. Maria Magdalena, Motka Maria i jej
dwie córki także lądowali wraz z Józefem z Arymatei i bratem Jezusa Jakubem. Byli
też inni, nie wymienieni z imienia.</p>

<p><span
>Świeci, którzy mają sarkofagi w pobliżu relikwiarza Marii
Magdaleny w Bazylice we wsi Saint Maximin to Św. Maximin, Św. Sidonius, Św.
Salome i Św. Suzanne, a są to ci sami ludzie, którzy zostali wymienieni w
powyższej liście (z wyjątkiem Św. Suzanne) </p>

<p><span
>Po 2000 lat trudno jest rozszyfrować zapisy ze starożytności. Towarzysz
lub uczeń często jest nazywany po imieniu, albo przez podanie miejsca skąd
pochodził, albo jako czyjś syn – na rozmaite sposoby, dlatego trudno jest
stwierdzić czy chodzi o tę samą osobę w manuskryptach różnych skrybów.</p>

<p><span
>Wielu ludzi wyjechało ze Świętej Ziemi przez Egipt z powodu
bezpieczeństwa po ukrzyżowaniu Jezusa. Tym, którzy przybyli do południowej
Francji (wtedy znanej jako Galia), szczególnie kobietom, ciągle groziło
niebezpieczeństwo, dlatego musieli realizować swoją misję głoszenia nauk bez
rozgłosu, niemal potajemnie.</p>

<p><span
>Józef z Arymatei pojechał z innymi do znanych mu miejsc na
Wyspach Brytyjskich i tam rozpoczął swoje nauczanie. Ustanowił pierwszy kościół
chrześcijański w Glastonbury. Tam nie było tak niebezpiecznie, mimo że tereny
te należały jeszcze do Imperium Rzymskiego. </p>

<p><b><i><span
>W następnym artykule będę mówiła o naszej wizycie w Glastonbury,
w Zjednoczonym Królestwie.</i></b></p>

<p><span
>Wracając do naszej wizyty w Saint Maximin, później
spacerowaliśmy po mieście, zauważając jak wąskie są tam niektóre ulice.</p>



<p class="text-center"><img id="Obraz 20" src="../../../img/obraz019.jpg" alt="Illustrating the narrow byways of Saint-Maximin" width="400" height="537" border="0"><br>
<br>
Wąskie
boczne uliczki w Saint-Maximin; 
niewiele
jest tu miejsca na przejazd samochodu!</p>

<p class="text-center"><img id="Obraz 21" src="../../../img/obraz020.jpg" alt="John Barrow  illustrates the narrow byways of Saint-Maximin" width="400" height="519" border="0"><br>
<br>
Wąskie
boczne uliczki w Saint-Maximin; pomieszczenie na rogu 
za
Johnem wydaje się za chwilę odpaść </p>
<p class="text-center"><img id="Obraz 22" src="../../../img/obraz021.jpg" alt="Cakes in shop at Saint-Maximin" width="525" height="392" border="0"><br>
<br>
Niektóre z
apetycznych ciast, jakie widzieliśmy podczas spaceru po Saint-Maximin </p>


<p><b><i>Proszę przejść do DRUGIEJ CZĘŚCI</i></b><span
>, do naszej wizyty w grocie <a href="la-sainte-baume.htm">LA
SAINTE-BAUME</a> </p>

</div>

<p>© <a href="copyright.htm">Copyright Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta w Saint
Maximin i La Sainte-Baume</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        http://www.astro.umk.pl/~kb/personal.html>my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>