<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Zielony kryształ – znany jako kamień Moldavite</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Zielony kryształ – znany jako kamień Moldavite</h2>
               <span style="font-:14.0pt;line-height:130%;font-:&quot;Arial&quot;,&quot;sans-serif&quot;;
:#000066"></span></font></b></h3>

<p class="MsoNormal" style="margin-top:0cm;margin-right:7.5pt;margin-bottom:0cm;
margin-left:7.5pt;margin-bottom:.0001pt"><font ="2" ="Calibri"><span style="font-:11.0pt">&nbsp;</span></font></p>

<p class="MsoNormal" style="margin-top:0cm;margin-right:7.5pt;margin-bottom:0cm;
margin-left:7.5pt;margin-bottom:.0001pt"><font ="2" ="Calibri"><span style="font-:11.0pt">&nbsp;</span></font></p>

<p class="MsoNormal" style="margin-top:0cm;margin-right:7.5pt;
margin-bottom:12.0pt;margin-left:7.5pt;text-align:center" align="center"><font ="2" ="Tahoma" ="#000066"><span style="font-:11.0pt;font-:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
:#000066"><img src="../../../img/320px-Moldavite_Besednice.jpg" style="margin-left:35px" alt="moldavite from Besednice" width="319" height="224" border="1"></span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">&nbsp;</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">We wcześniejszych latach, gdy
przenieśliśmy się na Południowe Pogórze (Southern Highlands w Australii),
zbudziłam się z głębokiego snu i głos z ‘góry’ kazał mi <i><span style="font-style:italic">znaleźć zielony kryształ</span></i>.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Pomyślałam, że to dziwne, gdyż nigdy
nie widziałam zielonego kryształu. Jak zwykle wątpiąc w swoje duchowe kierownictwo,
pojechałam do Sydney w innych sprawach, ale także z zamiarem wstąpienia do cieszącej
się uznaniem „Księgarni Ezoterycznej,” gdzie sprzedawano też kryształy.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Wstąpiwszy do tej księgarni, spytałam
czy mają jakieś zielone kryształy. Ku memu zaskoczeniu pokazano mi tacę z maławymi
zielonymi kryształami, które nazywali <i><span style="font-style:italic">szklanymi
kamieniami Moldavite</span></i>. Wyjaśniono mi, że w istocie były to tektyty,
które pochodzą z przestrzeni kosmicznej i można je znaleźć jedynie w pobliżu
rzeki Moldau w Czechosłowacji.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Gdy patrzyłam na te kamienie na tacy,
jeden zwrócił moją uwagę, gdyż zdawał się mówić ‘<i><span style="font-style:
italic">Weź mnie, weź mnie</span></i>.’ Gdy podniosłam ten mały kamień,
ogarnęło mnie oślepiające białe światło i mocny męski głos nieucieleśnionej istoty
powiedział „<b><i><span style="font-weight:bold;font-style:italic">Idziesz do
domu</span></i></b>.” „Idziesz do domu?” – o czym u licha on mówi. Bardzo
trzęsłam się i musiałam usiąść. Właścicielka księgarni zauważywszy moją
reakcję, posadziła mnie na krześle. Faktycznie zaproponowała, abym położyła się
na łóżku do masażu w innym pomieszczeniu i pozostała tam aż nie dojdę do
siebie. Powiedziała też „Nie jest to pierwszy raz, że ktoś w jakiś sposób
reaguje na te <i><span style="font-style:italic">moldawity</span></i>.”</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Uspokojenie się zajęło mi całą
godzinę. Dowiedziałam się, że kamień miał wagę 17 karatów a numerologiczna
liczba jego ceny wyniosła 17. Moje urodziny przypadają na 17-tego, dlatego
uznałam to za znak i zdecydowałam się na zakup kamienia. Ciągle jednak nie
mogłam dotknąć go, dlatego właścicielka księgarni, rozumiejąc dobrze, co się
dzieje, zapakowała go w pudełko i włożyła mi do torebki. Minęło kilka tygodni
zanim mogłam trzymać kamień. Przez ten czas dotykałam go jednym palcem,
przyjmując w siebie jego energię do czasu aż czułam się z tym swobodnie.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Działo się to w roku 1986. Aż do
czasu otrzymania świętego kamienia Aborygenów w 1994 r. i zdarzeń, które się z
tym wiązały, nie zdawałam sobie sprawy, że otrzymane słowa ‘Idziesz do domu’
odnosiły się do pamięci mojej duszy o tym, że kiedyś byłam Gwiezdną Osobą
przybyłą z Plejad w ogromnym statku bazowym Rexegena. Owa historia mówiła o
50000 Gwiezdnych Ludzi przybyłych w Pokoju na Ziemię, aby tu podtrzymać Boskie
Światło i pomóc w przekształceniu włochatej wyprostowanej małpy w postać Człowieka,
które to słowo (ang. <i><span style="font-style:italic">Human</span></i>)
oznacza ‘Świetlnego człowieka.’ </span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Znaleźliśmy się na Ziemi po tym, jak
nasz bezbronny statek bazowy został zaatakowany i wysadzony w powietrze. Z
trudem walczyliśmy o przetrwanie, nie mając możliwości powrotu tam, skąd
przybyliśmy. Ta podróż ma się wkrótce dopełnić. Jeśli chcecie przeczytać o tej
katastrofie i jej pozytywnych skutkach, historia ta jest dostępna w postaci
e-książki, a wkrótce ukaże się też wznowione wydanie książki <em><b><i><font ="Arial"><span style="font-:&quot;Arial&quot;,&quot;sans-serif&quot;;font-weight:bold">Alcheringa,
when the first ancestors were created</span></font></i></b></em> (Alcheringa –
kiedy stworzono pierwszych naszych przodków).</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Z moich ostatnich poszukiwań wynika,
że kamień Moldavite jest też znany jako ‘Kamień Graala’ lub ‘Kamień Pochodzący
z gwiazd.’</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Naukowcy mówią, że miliony lat temu
wystąpił deszcz meteorów, którego skutkiem był ten rzadki kryształ o barwie
szkła butelkowego. Należy on do grupy tektytów, które są fragmentami obiektów
pozaziemskich, takich jak meteoryty, stopionymi z ziemskimi skałami w procesie
zderzenia.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><i><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%;font-style:italic">Moldawity</span></font></i>
otrzymały nazwę od rejonu w Czechosłowacji, gdzie odkryto duże pole kraterowe.
Kamienie te należą do najrzadszych minerałów na ziemi, rzadszych niż diamenty,
szmaragdy czy rubiny i cenionych przez ludzi od tysięcy lat.</p>

<p class="MsoNormal" style="margin-top:0cm;margin-right:7.5pt;
margin-bottom:12.0pt;margin-left:7.5pt;text-align:center" align="center"><font ="2" ="Tahoma" ="#000066"><span style="font-:11.0pt;font-:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
:#000066"><img src="../../../img/leonardo-san-graal.jpg" alt="Holy Grail with Green Stone from Leonardo da Vinci" width="273" height="323"></span></font></p>

<p class="MsoNormal" style="margin-top:0cm;margin-right:7.5pt;
margin-bottom:12.0pt;margin-left:7.5pt;text-align:center" align="center"><font ="2" ="Tahoma" ="#000066"><span style="font-:11.0pt;font-:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
:#000066">Odwrócony obraz nałożony na <i><span style="font-style:italic">Ostatnią
Wieczerzę</span></i> Leonardo <br>
ujawnia Świętego Graala z zielonym kamieniem </span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Zgodnie z legendą, przezroczysty,
intensywnie zielony kamień w Świętym Graalu był <i><span style="font-style:
italic">moldawitem</span></i>, a każdy, kto dotknie ‘Kamienia Graala’
doświadczy duchowej przemiany. (Czyżby starożytni wiedzieli coś, co zostało do
dziś zapomniane, zanim przypomnieliśmy sobie źródło <i><span style="font-style:
italic">moldawitów</span></i>?)</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Kamień ten uaktywnia ‘stany snów’ i
podobno wzbudza pozytywne zmiany w życiu jak również pomaga poszerzyć naszą
kosmiczną świadomość. Jest pomocny w osobistym duchowym wzroście i uwalnianiu się
ze starych nawyków. O potrzebie pozbycia się tych przypadłości dana osoba jest w
głębi siebie świadoma.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Ja niewątpliwie zyskałam kosmiczną
świadomość i teraz potrafię pomagać innym w połączeniu się z taką ich świadomością.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Posiadam pamięć statku bazowego
Rexegena (patrz <i><span style="font-style:italic"><a href="rexegena1.htm">Opowieści
Gwiezdnych Ludzi</a></span></i>) oraz miałam sen, w którym byłam świadkiem eksplozji,
kawałek po kawałku, po jego zaatakowaniu (por. też<i><span style="font-style:
italic"> <a href="rexegena3.htm">Uwagi o technice na statku bazowym</a></span></i>).
W mojej pamięci (i w pamięci wielu innych ludzi) ten statek bazowy stacjonował
na zewnątrz ziemskiej atmosfery. Statek był organiczny. Kiedy tworzono go na
ósmej planecie gwiazdy w Plejadach, dzięki swojej zaawansowanej technice
gwiezdni ludzie potrafili sprawić, że wyrósł on na wspaniały najnowocześniejszy
twór.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Eksplozja w moim śnie wyglądała na
eksplozję jądrową – gorętszą niż słońce – prowadzącą do stopienia statku. Wielu
ludzi zginęło na pokładzie.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Resztki MOGŁY SPAŚĆ NA ZIEMIĘ i stały
się właśnie tym, co dzisiaj nazywa się <i><span style="font-style:italic">moldawitem</span></i>.
Nasze wspomnienia mówią, że szczątki statku spadły do wody, a część na ląd –
głównie w Bohemii i na Morawach Republiki Czeskiej.</span></font></p>

<p class="MsoNormal" style="margin-top:0cm;margin-right:7.5pt;margin-bottom:0cm;
margin-left:7.5pt;margin-bottom:.0001pt;text-align:justify"><font ="2" ="Tahoma" ="#000066"><span style="font-:11.0pt;font-:&quot;Tahoma&quot;,&quot;sans-serif&quot;;
:#000066"><img src="../../../img/moldavite.jpg" style="float:right;margin-left:15px" alt="raw moldavite from Besednice" width="221" height="267" border="0"></span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Naukowcy ciągle mają kłopot z
określeniem pochodzenia Moldavitów (patrz materiały o <a href="http://www.e-moldavite.com/origin.php?language=en" rel="no-follow">pochodzeniu <i><span style="font-style:italic">moldawitów</span></i></a> i w tej samej witrynie o <i><span style="font-style:italic"><a href="http://www.e-moldavite.com/info.php?language=en" rel="no-follow">moldawitach</a></span></i>).</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Z geologicznego punktu widzenia <i><span style="font-style:italic">moldawity</span></i> należą do tzw. tektytów. Słowo
to wywodzi się z greckiego <i><span style="font-style:italic">tektos</span></i>,
co oznacza ‘stopiony’ i zostało po raz pierwszy użyte przez geologa Franza Suesa
w roku 1900.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Początkowo, kiedy Duch przebudził
mnie i kazał znaleźć ‘zielony kryształ,’ nie miałam pojęcia, że on istnieje,
nie mówiąc już o całej historii o statku bazowym Rexegena, która ujawniła się później.</span></font></p>

<p class="sub" style="margin-top:5.0pt;margin-right:7.5pt;margin-bottom:5.0pt;
margin-left:7.5pt;text-align:justify"><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%">Czeskie <i><span style="font-style:
italic">moldawity</span></i> zajmują szczególnie znaczące miejsce wśród
tektytów. Są to jedyne tektyty, które są przezroczyste (jak szkło) i wyróżniają
się rozmaitością odcieni zieleni.</span></font></p>

<div style="border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;
margin-left:7.5pt;margin-right:7.5pt">

<p class="sub" style="margin-top:5.0pt;margin-right:0cm;margin-bottom:0cm;
margin-left:0cm;margin-bottom:.0001pt;text-align:justify;border:none;
padding:0cm"><font ="3" ="Arial" ="#000066"><span style="font-:
12.0pt;line-height:130%">Nie mam żadnych oporów w przyjęciu, że Statek Bazowy
uległ stopieniu i spadł na ziemię i że nieokreśloność datowania <i><span style="font-style:italic">moldawitów</span></i> może wynikać z faktu, że
substancja, z której składają się <i><span style="font-style:italic">moldawity</span></i>,
została pierwotnie stworzona przez Gwiezdnych ludzi, a zatem wymaga innego podejścia
we współczesnych badaniach naukowych.</span></font></p>

<p class="sub" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
border:none;padding:0cm"><font ="3" ="Tahoma" ="#000066"><span style="font-:12.0pt;line-height:130%;font-:&quot;Tahoma&quot;,&quot;sans-serif&quot;">&nbsp;</span></font></p>

</div>

<p class="sub" style="text-align:center" align="center"><font ="3" ="Tahoma" ="#000066"><span style="font-:12.0pt;line-height:130%;font-:&quot;Tahoma&quot;,&quot;sans-serif&quot;">©
<a href="http://www.valeriebarrow.com/copyright.php" rel="no-follow">Copyright Valerie Barrow</a></span></font></p>

<p class="sub" style="text-align:right" align="right"><b><font ="3" ="Arial" ="#000066"><span style="font-:12.0pt;line-height:130%;
font-weight:bold"><a href="index.html">Powrót do strony Val</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Zielony kryształ – znany jako kamień Moldavite</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>