<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Po odejściu Sathya Sai Baby </li>
                </ol>
            </nav>
            <article class="container">
               <h2>Po odejściu Sathya Sai Baby </h2>
               


<b><p>Witam Wszystkich</p>
</span></font></b><p>Jak wielu z was wie, 24 kwietnia 2011 r., w Niedzielę Wielkanocną Sai Baba opuścił swoją fizyczną formę. Następnego dnia rano zaraz po wstaniu postanowiłam skontaktować się z Kosmicznym Sai Babą. Odebrałam przekaz, który możecie wysłuchać poniżej. </p></font></dir>

<br>
<p class="text-center my-5">
<embed wmode="transparent" src="http://www.google.com/reader/ui/3523697345-audio-player.swf" flashvars="audioUrl=http://www.cosmicsaibaba.com/20110425.mp3" pluginspage="http://www.macromedia.com/go/getflashplayer" width="400" height="27"><br> 
<br> 
(Jest to plik mp3 o rozmiarze 1.9 MB i czasie odtwarzania 2:40) </p></font>

</font><p>Treść tego przekazu możecie przeczytać </font><a href="http://www.cosmicsaibaba.com/pl/20110425.php" rel="no-follow"><u>tutaj</span></font></u></a> (w witrynie Kosmicznego Sai Baby; link otworzy się w nowym oknie).</span></font></p>

<hr width="60%" align="center">

</font><p>Pewna kobieta, Irene Watson, napisała książkę o własnych przeżyciach: "<b><i>From the Form to the Formless" a personal journey to God </i></b>(Od Ucieleśnionego do Bezpostaciowego – osobista podróż do Boga). W książce tej jest wyjaśnienie, dlaczego Sai Baba opuścił swoje ciało ‘wcześniej.’ Jest ona do nabycia w Księgarni Sai Towers. Polecam szczególnie <b>Volume III</b> (Tom III). Autorkę spotkałam w aśramie Prashanti Nilayam w 2006 roku. Gorco polecam. Oto link do zamówiń </font><a href="http://puttaparthi.info/shopping/shp/bookdetail.asp?itemid=B2372/t_blank" rel="no-follow"><u>here</span></font></u></a> (otworzy się w nowym oknie).</span></font></p>
</font><p>Będziemy przedstawiali niektóre z innych przesłań od Sai Baby z innych światów. Znajdą się one w nowym dziale tej witryny pt. “Personal Experiences" (osobiste doświadczenia). Już teraz możecie poczytać o doświadczeniach </font><a href="http://www.valeriebarrow.com/pate.php" rel="no-follow"><u>Belindy Pate</span></u></a>.</span></font></p>

<hr width="60%" align="center">

</font><p>Pomyślałam, że poinformuję was, że przekaz kosmicznego Sai Baby z dnia 5 kwietnia był bardzo łagodny i budujący. Stało się tak z ważnych powodów – stanu zdrowia ciałą Sai Baby i ‘poprawkami’, którym obecnie podlega nasz ukochany dom, Matka Ziemia. Prosi się nas, abyśmy skupiali się na Uniwersalnej miłości w naszych sercach, abyśmy ją pielęgnowali i dzielili się nią. Najlepiej, jeśli obejrzycie poniższe wideo i pozwolili przemówić Kosmicznemu Sai Babie.</p>
<br>
<p class="text-center my-5"><center><object width="600" height="450"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=22164291&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ff9933&amp;fullscreen=1&amp;autoplay=0&amp;loop=0"><embed wmode="transparent" src="http://vimeo.com/moogaloop.swf?clip_id=22164291&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ff9933&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="450"></object>

</center></p>
<br>
<br>
<hr width="60%" align="centre"><br>
<p>Możemy więc czerpać pocieszenie z bycia instrumentami Uniwersalnej miłości i rozpowszechniać to wokół.</p>
</font><p>Z innych wiadomości, zajmowałam się pisaniem książki, o której napisanie prosili mnie moi Mentorzy, gdy stałam na piramidzie w Gizie. Opisane jest to w artykule o </font><a href="cairo.htm"><u>Wielkiej piramidzie Gizy</span></font></u></a>. Moja przyjaciółka Mary Shaw była uprzejma udostępnić mi zdjęcia ukazujące wnętrze tej piramidy i Boskie Światło <b><i>Kobry</i></b>, które ewidentnie wpływa na ludzi, którzy wchodzą do Komory Królów. Mój mąż John już nie jest ten sam po wejściu w tamto miejsce i twierdzi, że “ta wizyta całkowicie zmieniła moje pojmowanie życia.” Równie ja czuję się zmieniona w wyniku stania na zewnątrz Wielkiej Piramidy.</span></font></p>
</font><p>Z tego powodu polecam rozważenie dołączenia się do grupy, którą Mary Shaw 11.11.2011 r. zabierze na wyjazd do STARGATE of EGYPT (Gwiezdnej Bramy Egiptu). Stosowne ogłoszenie i szczegóły podano </font><a href="http://www.valeriebarrow.com/stargate-egypt-2011.pdf" rel="no-follow"><u>tutaj</span></font></u></a>.</span></font></p>
<p>Tymczasem ciągle czekam na przesyłkę z Indii z egzemplarzem mojej książki <b><i>Alcheringa, When the ancestors were first created</i></b>. Gdy przesyłka nadejdzie, poinformuję o tym. Książka jest obecnie dostępna w Księgarmi Sai Towers. W celu zamówienia można się z nią skontaktować przez email bookshop@saitowers.com lub zadzwonić na numer 91-8555 287270.</p>
<p>Zostałam szczodrze obdarzona ogromną liczbą zdjęć wykonanych cyfrowym aparatem, które pokazują obrazy z drugiego świata. Udostępnimy ich całą serię, najpierw zdjęcia pokazujące ‘ektoplazmy’, potem ‘aury’ a potem ‘orby światła’ i wreszcie elementale. Na wielu z nich widać formy fizyczne – będziecie mogli je uznać lub nie.</p>
<p>Mam nadzieję, że dalej będziecie przyłączać się do mnie w modlitwie za tych, którzy cierpią na tej planecie w tych ‘trudnych czasach’, jakich doświadczamy.</p></font></dir>

</font><b><font><p align="CENTER">Niech towarzyszą wam błogosławieństwa i Uniwersalna miłość. Val. </p></font></b><font></font><font><b>

</b></font></font><p>Starsze strony tych wprowadzeń możecie znaleźć na początku </font><a href="./valerie.html"><u>tej strony</span></u></a>  (lub ich angielskie oryginały w dziale </span></font><a href="http://www.valeriebarrow.com/newsletter.php" rel="no-follow"><u>Newsletters). </span></font></u></a></p>

<hr width="60%" align="center">
<p style="margin-bottom: 0.5cm" align="CENTER">©
								</font><a href="copyright.htm"><u>Copyright</u></font> Valerie Barrow</font></a></p>
			
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Po odejściu Sathya Sai Baby </li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>