<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    
                </ol>
            </nav>
            <article class="container">
               <h2>Newsletter, sierpień 2012 r.</h2>
<h5 class="text-center my-5">Witam wszystkich!</h5>

<p>Oto najnowszy newsletter z mojej witryny. John i ja wkrótce
wyjedziemy w podróż przez ‘Szczyt Ziemi.’ Od końca sierpnia do końca września
2012 r. będziemy w drodze. Będę robiła notatki i po powrocie zamierzam pisać na
ich podstawie artykuły. </span></p>

<p style=""></span></p>

<p><b>Letnia burza arktyczna</span></b></p>

<p style=";text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_02.jpg" width="400" height="400" border="0"></span></p>

<p style="text-align:center" align="center"><i><span style="">Zdjęcie satelitarne
(NASA)</span></i></p>



<p><span style="">Ta
rzadka letnia burza arktyczna jest małym wyzwaniem. W planie nie mamy odwiedzin
Grenlandii, ale będziemy w Islandii. Zobaczymy, co się stanie.</span></p>



<p><span style="">Zanim
przejdziecie do dalszego czytania rzućcie okiem na to krótkie </span><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=s4f2YhGnRwQ" rel="no-follow"><span style="">wideo</span></a><span style=""> przedstawiające morski
lód i warunki pogodowe w środku Oceanu Arktycznego między początkiem lipca a 8
sierpnia zapisane przez </span><a href="http://www.arctic.noaa.gov/gallery_np.html" rel="no-follow"><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;">dwie autonomiczne kamery</span></a><span style=""> instalowane każdej
wiosny na morskim lodzie w pobliżu bieguna północnego przez </span><a href="http://psc.apl.washington.edu/northpole/" rel="no-follow"><span style="">zespół
badawczy Uniwersytetu Washingtona</span></a>.</span></p>

<p><span style="">Uwaga:
środek burzy znajduje się setki mil od kamer dryfujących na lodach.</span></p>



<p style="">NASA udostępniła niezwykłe satelitarne zdjęcie (powyżej) burzy
arktycznej omawianej poniżej. </span><a href="http://www.flickr.com/photos/gsfc/7748264358/in/photostream" rel="no-follow"><span style="">Kliknijcie tutaj, by zapoznać się z
dodatkowymi szczegółami.</span></a></p><a href="http://www.flickr.com/photos/gsfc/7748264358/in/photostream" rel="no-follow"></a>

<table width="350" align="right"><tbody><tr><td><img src="../../../img/newsAug2012_03.gif" alt="Pole tekstowe:  Mapy koncentracji morskiego lodu w dniach 4 i 9 sierpnia 2012 r. Kolor purpurowy i brązowy oznacza koncentrację bliską 100%, a żółty, zielony i jasno-niebieski - od 60% do 20%." width="350" height="192" align="middle"><p><i><font face="Arial"><small>
Mapy koncentracji morskiego lodu w zachodniej Arktyce (na północny-wschód od Alaski) w dniach 4 i 9 sierpnia 2012 r. ze Special Sensor Microwave Imager/Sounder (SSMIS) wskazują na szybkie zanikanie lodu podczas silnej burzy arktycznej. Kolor purpurowy i brązowy oznacza koncentrację bliską 100%, a żółty, zielony i jasno-niebieski – od 60% do 20%</small></font></i></p></td></tr></tbody></table>
<i><span style="">

    <p>National Snow and Ice
        Data Center</span></i><span style="">
        udostępniło coś, co nazywa „</span></a><a href="http://nsidc.org/arcticseaicenews/2012/08/a-most-interesting-arctic-summer/" rel="no-follow"><span style="">najciekawszym arktycznym latem</span></a><span style="">” i tak z pewnością jest
        w obliczu potężnej i rzadkiej letniej burzy z tego tygodnia, która redukuje i
        tak już cienką i pomniejszoną pokrywę lodową Ocenu Arktycznego. Blog poświęcony
        arktycznemu lodowi morskiemu w trzecim artykule z serii na temat tej silnej
        burzy zaproponował nazwać ją „</span><a href="http://neven1.typepad.com/blog/2012/08/arctic-storm-part-3-detachment.html" rel="no-follow"><span style="">Wielkim Cyklonem Arktycznym 2012 Roku</span>.”</a></p>

<p>Skutki pojedynczej burzy takiej jak ta z początku sierpnia
bywają złożone. O ile duża część obszaru będącego pod wpływem tego cyklonu
doznała nagłego spadku temperatury, to regiony podlegające wpływowi
południowych wiatrów doznały wzrostu temperatury. Równolegle z tą burzą nagle
stopniały koncentracje lodów na Morzu Wschodnio-Syberyjskim (gdzie typowe
pokrycie lodami wynosi 50%). W ciągu trzech kolejnych dni (7–9 sierpnia) obszar
morskiego lodu zmalał o prawie 200 tys. kilometrów kwadratowych. Może być to
wynik mechanicznego kruszenia się lodu i zwiększonego topnienia spowodowanego
przez silne wiatry i fale podczas burzy. Jednakże może być to zwykły zbieg
przypadków, gdyż mała koncentracja lodów mogła się szybko stopić także bez
burzy.</span></p>

<p></span></p>

<p><b>Nasz Układ Słoneczny</span></b></p>

<p>Nawiązując do niedawnych „objawień” naszych niebiańskich „nie z
tej planety” sąsiadów, którzy przedstawili się na Stadionie lekkoatletycznym
podczas Igrzysk Olimpijskich, pomyślałam, że na czasie będzie podsunięcie wam
ładnej witryny, która prezentuje dość malowniczy i interaktywny przegląd
naszego Układu Słonecznego oraz gwiazd naszej Galaktyki.</span></p>

<p style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_04.jpg" width="592" height="337" border="0"></span><br>
<br>
<i>Witryna </i>Solar System Scope</span></p>





</a><p><a href="http://neven1.typepad.com/blog/2012/08/arctic-storm-part-3-detachment.html" rel="no-follow"><span style="">Witryna
nazywa się </span></a><a href="http://www.solarsystemscope.com/" rel="no-follow"><span style="">Solar System Scope</span></a><i><span style=""> </span></i><span style="">a wraz z dźwiękiem daje
odwiedzającemu całkiem ciekawe przeżycie audio-wizualne. Można odwiedzać
planety, obracać je, mierzyć odległości między planetami i odległymi gwiazdami
oraz oglądać konstelacje i pojedyncze gwiazdy. Co oni jeszcze wymyślą? </span></p>

<p><b>Badacze twierdzą, że na <i>Google Earth</i> odkryto piramidy
egipskie </span></b></p>

<p>Oto ciekawa wiadomość o odkryciu starożytnych piramid egipskich.</span></p>

<p><a href="http://archaeologynewsnetwork.blogspot.com.au/2012/08/possible-egyptian-pyramids-found-using.html" rel="no-follow"><span style="">Archeology News Network</span></a><span style=""> opisuje jeden z możliwych
kompleksów piramid. Zawiera on wyraźny czworokątny, o boku 130 stóp, obiekt w
kształcie ściętej piramidy. Na tym miejscu są też trzy mniejsze kopce w
formacji podobnej do piramid na plateau Gizy.</span></p>

<p><span style="font-family:&quot;Georgia&quot;,&quot;serif&quot;;"></span></p>

<p style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_05.jpg" width="470" height="453" border="0"></span><br>
<br>
<i>‘Zagubione’ piramidy</i></span></p>

<p>Potrzeba dalszych badań, chociaż Micol uważa, że te obrazy mówią
wszystko.</span></p>

<p><span style="">„Te
obrazy mówią same za siebie. Jest bardzo oczywiste, co to miejsce może
zawierać, ale potrzeba jeszcze sprawdzenia na miejscu, czy rzeczywiście są to
piramidy” – powiedział Micol, jak donoszą </span><a href="http://news.discovery.com/history/lost-egyptian-pyramids-found-120810.html" rel="no-follow"><span style="">Discovery News</span></a><span style="">.</span></p>

<p><span style="">Według
GoogleEarthAnomalies.com, pewien egiptolog </span><a href="http://www.googleearthanomalies.com/Anomalies/tabid/56/articleType/ArticleView/articleId/43/Default.aspx" rel="no-follow"><span style="">stwierdził,</span></a><span style=""> że miejsca te były
wcześniej nieznane.</span></p>

<p><span style="">Oryginalny
artykuł znajduje się na stronie </span><a href="http://www.huffingtonpost.com/2012/08/13/egypt-pyramids-discovered_n_1772551.html?ir=World" rel="no-follow"><span style="">Huffington Post</span></a><i><span style="">.</span></i></p>

<p><b></span></b></p>

<p><b>Olimpijska piramida?</span></b></p>

<p>Wczoraj podczas olimpijskich zawodów lekkoatletycznych w
Wielkiej Brytanii księżyc przedstawił własny show. Ciemno-złocista tarcza
księżyca utworzyła na krótko szóste olimpijskie koło na bannerze zawieszonym na
londyńskim Tower Bridge.</span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_06.jpg" width="580" height="326" border="0"></span><br>
<br>
<i>Olimpijski księżyc tworzy wyjątkowe szóste koło na londyńskim moście</i></span></p>

<p>Wszechświat do olimpiady dołożył też piękny symbol odwróconej
piramidy.</span></p>

<p style=""></span></p>

<p style="text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_07.jpg" width="580" height="326" border="0"></span><br>
<br>
<i>Księżyc łączy się z kołami olimpijskimi na londyńskim moście tworząc
‘olimp[ijską piramidę’ </i></span></p>

<p><b></span></b></p>

<p><b></span></b></p>

<p><b>Przesłania na rok 2012: Przewidywania i objawienia na temat roku
2012 i Wielkiej Zmiany Epok </span></b></p>

<p><img src="../../../img/newsAug2012_08.jpg" width="212" height="320" align="right"><i>2012 Messages</span></i> (Przesłania na rok 2012) to kolekcja szczegółowych przepowiedni
i wglądów uznanych mediów na temat roku 2012 i później. Jeden z rozdziałów
zawiera prace Valerie Barrow.</span></p>

<p>Wkraczamy na nowe terytorium, gdzie panują nowe reguły. Obecnie
ludzkość i Ziemia przechodzi błyskawiczną ewolucję. Otrzymujemy szansę
ponownego zawładnięcia naszymi mocami i wykorzystania ich do stworzenia Nowej
Ziemi.</span></p>

<p>W tym przejściu jesteśmy po pas a droga przed nami może być
jeszcze jakiś czas wyboista, ale dzięki wiedzy o tym, co nas czeka, duchowemu
zrozumieniu i uwolnieniu strachu przed zmianą i niewiadomym staniemy się
częścią narodzin nowej świadomości.</span></p>

<p>Niezbędna informacja o okresie czasu, w którym żyjemy teraz, w
2012 r., przychodzi przez różne media a także od starszych spośród Majów</span></p>

<p>Valerie Barrow od wielu lat jest tzw. pracownikiem światła.
Autor, Craig Howell, włączył do książki materiał pochodzący od </span><a href="http://www.cosmicsaibaba.com/" rel="no-follow"><span style="">Kosmicznego
Sai Baby</span></a><span style="">
a przekazany przez Valerie Barrow. Wspomina on też jak pomocne były przesłania
od Alcheringi. </span></p>

<p>Czy jest to ‘czas końca,’ czy tylko koniec jednego czasu i
początek następnego? Źródła te mówią, że jesteśmy u progu narodzin nowej świadomości,
ale że z narodzinami przychodzą wstrząsy, gdyż stare przyzwyczajenia starają
się przetrwać w nowym świecie, w którym nie ma dla nich miejsca. Jesteśmy w
przejściu od starego do nowego. Nowe nadchodzi tak szybko, że ledwie nam
starczy czasu na złapanie oddechu między ogromnymi zmianami, które mają właśnie
nastąpić w naszych systemach ekonomicznych, na ziemi i w nas samych.</span></p>

<p>Czas ten był przepowiadany w proroctwie za proroctwem od tysięcy
lat, ale obecnie jest znany głównie poprzez kalendarz Majów nazywany <i>tzolkin</i>,
o którym niektórzy mówią, że po 5200 latach kończy się dnia 21 grudnia 2012 r.
Wywołało to wśród mas wielki strach i niepewność.</span></p>

<p>Książka ta odpowiada na wiele pytań o ten rok i okres czasu, w
którym się znajdujemy: Wielką Zmianę Epok. Istnieje wiele możliwości, ale jedna
rzecz jest pewna: gdy przejście się już dokona, nic już nie będzie takie same.</span></p>

<p><span style="">·<span style="">
</span></span>Co może stać się 21 grudnia 2012 r.? </span></p>

<p><span style="">·<span style="">
</span></span>Czy nastąpi przesuniecie biegunów albo przebiegunowanie pola
magnetycznego? </span></p>

<p><span style="">·<span style="">
</span></span>Czy czas przyśpiesza wraz ze spowalnianiem rotacji ziemi? </span></p>

<p><span style="">·<span style="">
</span></span>Czy wstępujemy w ‘czas prawdy’ i wszystko zostanie ujawnione? </span></p>

<p><span style="">·<span style="">
</span></span>Czy będzie to rok niemal natychmiastowej manifestacji tego, na
czym się skupiamy? </span></p>

<p><span style="">·<span style="">
</span></span>Czy znajdujemy się na skrzyżowaniu dróg naszej ewolucji i którą
drogę wybierzemy? </span></p>

<p><span style="">·<span style="">
</span></span>W jaki sposób uwolnienie strachu przed rokiem 2012 będzie naszą
najlepszą ochroną? </span></p>

<p><span style="">·<span style="">
</span></span>Czy światowy system finansowy może przejść do nowego modelu
funkcjonowania? </span></p>

<p><span style="">·<span style="">
</span></span>Czy będziemy świadkami początku upadku systemu politycznego USA?
</span></p>

<p><span style="">·<span style="">
</span></span>Jakie i gdzie mogą nastąpić wielkie zmiany klimatu i ziemi? </span></p>

<p><span style="">·<span style="">
</span></span>Czy przechodzimy wraz z Ziemią do wyższego wymiaru? </span></p>

<p><span style="">·<span style="">
</span></span>Czy potężny rozbłysk na Słońcu może spowodować zamęt? </span></p>

<p><span style="">·<span style="">
</span></span>Jakie przesłania mają dla świata starsi Majowie z własnych
przepowiedni i nauk? </span></p>

<p><i><span style="">Craig
Howell jest pisarzem od 1993 r., kiedy to stworzył i zaczął publikować swój
holistyczno-metafizyczny miesięcznik „The Wheel” (Koło). Od tego czasu napisał
cztery książki: „A Flower Unfolds" (duchowa książka na prezent), „Through
the Eyes of Kwan Yin" (pytania do medium Kwan Yina i jego odpowiedzi),
„Spiritual Teachings for Young Souls" (podstawowe nauki dla duchowego
wzmocnienia młodzieży) i „2012 Messages." Napisał też wiele artykułów
opublikowanych w internecie i czasopismach, a ostatnio w „Dell Horoscope
Magazine.” </span></i></p>



<p><span style="">Omawiana
książka jest dostępna w kilku wersjach. Można ją </span><a href="http://www.lulu.com/spotlight/crhowell" rel="no-follow"><span style="">zamówić
przez internet</span></a>. </span></p>

<p>Słuchałam płyty kompaktowej Craiga i uznałam, że głos pochodzi z
innego świata. Słuchając <i>Mayan Days of Sound</i> (Dni dźwięków Majów) poczułam
jasność widzenia i dreszcze w całym ciele. Dźwięk, którego słuchałam,
oczyszczał i równoważył moje pole energii. Poprosiłam męża Johna o posłuchanie.
On też drżał; powiedział, że również przeszły go dreszcze. Gorąco polecam
wysłuchanie tego dzieła Craiga. </span></p>

<p><b></span></b></p>

<p><b>Kobieta kryształowych świateł</span></b></p>

<p><span style="">Jedna
z przyjaciółek Valerie pisze o kryształowych światłach w swoich włosach. Jest ona
pracownikiem światła i pracuje z kryształami. Na zdjęciu rozmyliśmy jej twarz,
dla zachowania prywatności.</span></p>

<p></p>

<p><span style="">Światła
na zdjęciach nie zawsze są wyraźne. Mam bardzo ciemne włosy, a wszystko co tam
jaśnieje to te światła. Czasami zmieniają barwę moich włosów na zdjęciach na
fioletową lub niebieską. Są niczym ruchoma chmura we włosach. Czuję je stale,
czasami mocniej, czasami słabiej.</span></p>

<p></p>

<p><span style="font-family:&quot;Georgia&quot;,&quot;serif&quot;;"></span></p>

<p style=";text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_09.jpg" width="240" height="320" border="0"></span><br>
<br>
</span><span style=""><img src="../../../img/newsAug2012_10.jpg" width="240" height="320" border="0"></span><span style=""><br>
<br>
</span><span style=""><img src="../../../img/newsAug2012_11.jpg" width="320" height="240" border="0"></span><span style=""><br>
<br>
</span><span style=""><img src="../../../img/newsAug2012_12.jpg" width="240" height="320" border="0"></span><span style=""><br>
<br>
</span><span style=""><img src="../../../img/newsAug2012_13.jpg" width="240" height="320" border="0"></span><span style=""><br>
<br>
</span><span style=""><img src="../../../img/newsAug2012_14.jpg" width="240" height="320" border="0"></span></p>

<p><b>Anomalia UFO w Bałtyku</span></b></p>

<p>John i ja podróżujemy też po Morzu Bałtyckim. Poniżej jest
ciekawa informacja do przemyślenia podczas naszej podróży do Szwecji i
Finlandii.</span></p>

<p>Grupa nurków-poszukiwaczy odkryła tajemniczy obiekt spoczywający
na dnie Morza Bałtyckiego w pobliżu Szwecji (</span><a href="http://i.cdn.turner.com/cnn/.element/apps/cvp/3.0/swf/cnn_416x234_embed.swf?context=embed&amp;videoId=world/2012/01/25/pkg-bowman-shipwreck-treasure-hunters.cnn" rel="no-follow"><span style="">wideo </span></a><a href="http://i.cdn.turner.com/cnn/.element/apps/cvp/3.0/swf/cnn_416x234_embed.swf?context=embed&amp;videoId=world/2012/01/25/pkg-bowman-shipwreck-treasure-hunters.cnn" rel="no-follow"><span style="">CNN</span></a><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;">). „Kiedy ta rzecz się ukazała,
powiedziałem moim kompanom, że mamy tu na dnie UFO” – powiedział Peter
Lindberg, lider amatorskich poszukiwaczy skarbów. Odczyty z sonara
(hydrolokatora) wskazują, że obiekt ma średnicę 60 m, czyli ma mniej więcej
rozmiary <i>jumbo jeta</i>. I nie jest sam. W pobliżu na dnie morza znajduje
się inny, mniejszy obiekt o podobnym kształcie. Jeszcze bardziej fascynujące
jest to, że oba mają za sobą 'ślady ciągnięcia' po dnie na przestrzeni większej
niż 400 stóp (1 stopa to 30.48 cm). Być może jest to drugi wrak statku. A może
tylko muł. Ale Lindberg powiada, że teoria statku nie bardzo pasuje, bo obiekty
mają niezwykle duże rozmiary.</span></p>

<p><span style="">Więcej
na ten temat można przeczytać na stronach </span><a href="http://news.cnet.com/8301-17938_105-20087038-1/mysterious-ufo-like-object-spotted-on-sea-floor/" rel="no-follow"><span style="">CNET News</span></a><span style="color:#9A2016">.</span></p>

<p><b></span></b></p>

<p><b>Sprzęt elektroniczny przestaje pracować w pobliżu UFO w Bałtyku</span></b></p>

<p><img src="../../../img/newsAug2012_15.jpg" width="400" height="249" align="right">Zespół Ocean X badający obiekt o kształcie UFO na dnie Morza
Bałtyckiego twierdzi, że ich sprzęt elektroniczny przestaje pracować, gdy
zbliżą się na 200 m. Zawodowy nurek Stefan Hogerborn, który jest członkiem
zespołu Ocean X, powiedział, że niektóre z ich aparatów fotograficznych i
telefonów satelitarnych odmawiały pracy, gdy znajdowali się bezpośrednio nad
obiektem, ale zaczynały działać zaraz po odpłynięciu.</span></p>

<p>„Wszystko elektryczne – także telefony satelitarne – przestawało
działać, gdy byliśmy nad obiektem” – cytuje go gazeta <i>Daily Mail</i>.
„Odsunęliśmy się na około 200 m i wtedy urządzenia ponownie włączały się, a gdy
znów wróciliśmy nad obiekt, one przestały działać” – powiedział. Nurek Peter
Lindberg przyznał: „Doświadczyliśmy rzeczy, których nie mógłbym sobie
wyobrazić. W zespole jestem największym sceptykiem, jeśli chodzi o te rozmaite
teorie. Byłem przygotowany znaleźć tu po prostu klif, odsłoniętą skałę lub zwał
mułu, ale nie było to nic z tych rzeczy. Muszę więc przyznać, że jest to dla
mnie nowe doświadczenie” – powiedział.</span></p>

<p>„Jestem na sto procent przekonany i wierzę, że w maju ubiegłego
roku znaleźliśmy coś bardzo, bardzo wyjątkowego” – powiedział członek zespołu
Dennis Asberg.</span></p>

<p>Na załączonym zdjęciu widać doskonale proste linie i kąty w
materiale gładkiej struktury obiektu. Z prawej strony u dołu znajduje się
nurek.</span></p>

<p>Linie mogą być skutkiem naturalnych czynników, ale wyglądają na
dzieło człowieka. Rowki mają szerokość 1 – 1,5 m i głębokość 0,5 – 1,5 m. Dysk
ma kształt pełnego koła o obwodzie 180 m z kupulastą zewnętrzną stroną. Obiekt
ma rozmiar 200 stóp i kształt grzyba z grubą nóżką i kapeluszem o grubości
czterech metrów wiszącym na wysokości 12 m nad otaczającym dnem morza.</span></p>

<p>Na szczycie obiektu zwracają uwagę formacje pod kątem 90 stopni,
które wyglądają na przejścia lub ściany, oraz coś co przypomina schody. </span></p>

<p>Na tej kopule znajdują się kamienne okręgi, niczym „paleniska” z
twardymi niemal stopionymi kamieniami, każdy o średnicy kilku cali, niczym 4
lub 5 pereł w naszyjniku w różnych układach na szczycie kopuły. Czy jest to
meteoryt, baza U-bota, a może UFO?</span></p>

<p>„Zespół Ocean X wykonał pewną liczbę zdjęć, takich jak te z
'omszonymi' skałami, które otaczają otwór w kształcie jaja w środku obiektu.
Nie mam pojęcia, co one znaczą. Jest tam też pas, o długości 985 stóp, jakby
ślad poślizgu albo płaska ścieżka w dół zbocza na dnie morza, na której końcu
znajduje się ten obiekt.”</span></p>

<p><span style="font-family:&quot;Georgia&quot;,&quot;serif&quot;;"></span></p>

<p><b>Zimne morza ... zimne lądy</span></b></p>

<p style=";text-align:center" align="center"><span style=""><img src="../../../img/newsAug2012_16.jpg" width="640" height="428" border="0"></span></p>

<p><span style="">To
zdjęcie zostało zrobione nad lodowcami Patagonii <b>23 listopada 2009 r</b>.
[dzień i miesiąc urodzin Śri Sathya Sai Baby]. Hmmm, pomyślałam, że 'góra'
zrobiła nam mały żart, dając to zdjęcie wykonane w <b>tym</b> dniu.</span></p>





<p><span style="">Mamy
już egzemplarze mojej drugiej książki pt. <em><span style="">Alcheringa,
When the ancestors were first created</span></em><em><span style="">. Miło nam zaoferować promocyjnie dwie
książki za 20,00 dolarów australijskich: </span></em><em><b><span style="">Alcheringa, when the first ancestors
were created</span></b></em> oraz <em><b><span style="">The
Book of Love, by a Medium.</span></b></em></span></p>

<p><span style="">Prześlijcie
mi zamówienie ze strony </span><a href="http://www.valeriebarrow.com/books-and-news/order-books.html" rel="no-follow"><span style="">Book Order</span></a><span style=""> a ja wam odpiszę.</span></p>

<p style=""></span></p>

<p style="
;text-align:center" align="center"><span style=""><img src="../../../img/alcheringa-new.jpg" width="257" height="387" border="0"></span></p>

<p style=""></span></p>

<p><span style="">Wielu
ludzi doznaje różnych przeżyć. Zapraszam wszystkich do modlitwy, za tych
wszystkich, którzy cierpią w tych czasach przemian. Czas zdaje się przyśpieszać
(co </span><a href="http://www.cosmicsaibaba.com/pl/20120605.php" rel="no-follow"><span style="">potwierdził</span></a><span style=""> Kosmiczny Sai Baba) ...</span></p>

<p style=""><i>Tak więc, nie powinniście
myśleć, że brakuje wam czasu, lecz raczej że zmienia się czas, który
zestrajacie z tym Wymiarem, w którym teraz jesteście. Możecie odczuć – czujecie
... że wszystko pędzi – nawet młodzi ludzie mówią, że nie mają czasu na
zrobienie wszystkiego, co chcą.</span></i></p>

<p><span style="">...
a świat w całości składa się z wibracji. Pielęgnujmy wzniosłe myśli i ślijmy
wibracje miłości wszystkim w potrzebie. Przypomnijmy afirmację, której ludzie
naszych czasów tak potrzebują: <br>

<em> <br> Jestem Czystym Światłem Świadomości<br>
    Przenikającym wszędzie<br>
    I prowadzącym każdego w Światło Boga.<br></em>

</p>

<p style="text-align:center
"><em><b>Niech będą z wami Błogosławieństwa i Uniwersalna miłość. Val.</span></b></em><span style=""> </span></p>

<p><span style=""><br>
<br>
</span></p>

<p><span style="">Źródła zdjęć: </span><a href="http://www.flickr.com/photos/gsfc/7748264358/sizes/m/in/photostream/" rel="no-follow"><span style="">NASA Goddard and Video</span></a><span style="">, </span><a href="http://www.arctic.noaa.gov/gallery_np.html" rel="no-follow"><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;">National Oceanic and Atmospheric Administration</span></a><span style="">, </span><a href="http://www.googleearthanomalies.com/Anomalies/tabid/56/articleType/ArticleView/articleId/43/Default.aspx" rel="no-follow"><span style="">Angela Micol / Google Earth</span></a><span style="">, Reuters - Luke
MacGregor - The Sun August 5th, </span><a href="http://www.listrocket.com/ktml2/user/1241_M837Hca3MN/images/uploads/1342108300/image017.jpg" rel="no-follow"><span style="">Listrocket</span></a><span style="">, CNN News, </span><a href="http://nsidc.org/gallery/coppermine/displayimage.php?album=topn&amp;cat=0&amp;pos=10" rel="no-follow"><span style="">National Snow and Ice Data Center</span></a></p>

<p></p>

<p>Materiał zaczerpnięty z innych stron internetowych nie
koniecznie jest wspierany przez Valerie Barrow czy jej witrynę. Materiały z
innych stron są reprodukowane tutaj dla wygody czytelnika. Obrazy i opisy NASA
są użyte za pozwoleniem i zgodnie z </span><a href="http://www.nasa.gov/audience/formedia/features/MP_Photo_Guidelines.html" rel="no-follow"><span style="">NASA Photo Guidelines</span></a><span style="">.</span></p>

<p></p>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>