<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Newsletter, czerwiec 2012r.</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Newsletter, czerwiec 2012r.</h2>

               <figure class="float-right">
                <img src="../../../img/newsJun2012-01.jpg" alt="">
                <figcaption></figcaption>
            </figure>

            <h5 class="text-center my-5">Witam wszystkich!</h5>

<p style="
"><span style="">Oto ostatni <i>Newsletter</i>
z mojej witryny. Omawiamy w nim niezwykłe wyniki prac wykopaliskowych w Gobekli
Tepe w Turcji. </span></p>

<p></span></p>

<p style="
"><span style="">Niedawno otrzymałam to
od <a href="mailto:heatherm47@bigpond.com">Heather Mills</a><span style="display:none">This e-mail address is being protected from spambots. You
need JavaScript enabled to view it. <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 
</script></span></span>, za co szczerze jej dziękuję. Sądzę, że jest to jedno z najbardziej
ekscytujących odkryć archeologicznych. </p>

<p style="<p>"><span style=""></span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/newsJun2012-02.jpg" alt="View of Excavations, Gobekli Tepe, Turkey" width="640" height="225" border="0"></span></p>

<p></span></p>

<p style="
"><b><span style="">Gobekli
Tepe w Turcji sprzed 12000 lat</span></b></p>

<p style="
"><img src="../../../img/newsJun2012-03.jpg" alt="Map of Turkey showing Gobekli Tepe," width="285" height="198" align="left"><span style="
">Struktury tego stanowiska zostały zbudowane ok. 12000 lat
temu (rok 10000 p.n.e.) i prawdopodobnie celowo zakopane w piasku ok. 8000 lat
temu. Nikt nie wie, kim byli ci ludzie, do czego służyły masywne budynki, ani
dlaczego zostały zasypane. Żeby mieć punkt odniesienia przypomnę, że te masywne
struktury powstały w czasie ostatniego zlodowacenia i są ponad 7000 lat starsze
niż jakakolwiek struktura, którą znamy na naszej planecie.</span></p>

<p style="
"><span style="">Istnieje doskonałe
wideo przedstawiające przegląd dotychczasowych wykopalisk. Kliknijcie na link z
tym wideo: <a href="http://www.wimp.com/unexplainedstructure/" target="_blank" rel="no-follow">http://www.wimp.com/unexplainedstructure/</a></span></p>

<p style="
"><span style="">Gdy je oglądałam czułam
respekt dla tego, co pokazano i omawiano. W ciągu 13 lat prac odkopano zaledwie
ok. 5% bubowli!!! Brak słów jak niesamowity musiałby być widok całości! (Więcej
informacji po polsku w <a href="http://pl.wikipedia.org/wiki/G%C3%B6bekli_Tepe" rel="no-follow">Wikipedii</a>.)</span></p>

<p style="
"><span style="">Archeolodzy wysuwają
teorię, że cały ten kompleks został zasypany przez kogoś w celu ochrony przed
zniszczeniem. Jestem przekonana, że odkrycia tego dokonano dzięki
skoordynowanej inspiracji „góry.” Odkrycia takie mają dowieść, że przed
upadkiem Atlantydy, ok. 12000 lat temu, na Ziemi żyła zaawansowana cywilizacja.</span></p>

<p style="
"><span style="">W poprzednim <i><a href="http://www.valeriebarrow.com/books-and-news/newsletters/194-newsletter-15-march-may-2012.html" target="_blank" rel="no-follow">Newsletterze</a></i> mówiliśmy o zagrzebanym Wielkim Sfinksie w
Gizie a także posągach Moai na Wyspie Wielkanocnej – prawdopodobnie przez
gigantyczne tsunami w tym samym czasie, ok. 12000 lat temu.</span></p>

<p style="
"><span style="">Gdy czytacie channeling
St. Germaine’a z plastycznym opisem Upadku Atlantydy, łatwo wyobrazicie sobie,
jak straszna katastrofa spadła na Ziemię powodując skrajny zamęt, po którym
nastał okres zlodowacenia. Przekaz St. Germaine możecie przeczytać <a href="germain-atlantis.htm">tutaj</a>.</span></p>

<p></span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/newsJun2012-04.jpg" alt="Excavations in progress at Gobekli Tepe, in Turkey" width="470" height="352" border="0"><br>
<br>
<i>Prace wykopaliskowe w Gobekli Tepe, Turcja</i></span></p>

<p></span></p>

<p style="text-align:center;
x" align="center"><span style="
"></span></p>

<span style="font-size:11.0pt;"><br style="page-break-before:always" clear="all">
</span>

<p></span></p>

<p style="
"><b><span style="">Panorama miejsc
Świętej Ziemi</span></b></p>

<p style="
"><b><span style=""></span></b></p>

<p style="0cm;.0001pt;line-height:
normal;x"><span style="
"><img src="../../../img/newsJun2012-06.jpg" alt="Panorama of Places in the Holy Land" width="650" height="471" border="0"></span></p>

<p style="
"><span style="">Ta strona budzi nabożną
cześć – mam nadzieję, że i wam się spodoba: <a href="http://www.p4panorama.com/panos/HOLYLAND/index.html" target="_blank" rel="no-follow">http://www.p4panorama.com/panos/HOLYLAND/index.html</a></span></p>

<p></span></p>

<p style="text-align:center;
x" align="center"><span style="
"></span></p>

<b><span style=""><br style="page-break-before:always" clear="all">
</span></b>

<p style="
"><b><span style="">Defilada
lotnicza z okazji jubileuszu Królowej</span></b></p>

<p style="
"><b><span style=""></span></b></p>

<p style="0cm;.0001pt;line-height:
normal;x"><span style="
"><img src="../../../img/newsJun2012-07.jpg" alt="World War II aircraft fly past Buckingham Palace" width="650" height="354" border="0"></span></p>

<p style="
"><span style="">„Tail-end Charlie" (Charlie
Koniec-Ogona) – tak nazywa się ostatni samolot z powietrznej flotylli. <a href="http://www.dailymail.co.uk/news/article-2155406/One-look-amazing-Jubilee-celebrations----seen-Tail-end-Charlie-Britains-airworthy-Lancaster.html" target="_blank" rel="no-follow">Tutaj znajdują się oszałamiające zdjęcia</a> z defilady
wykonane z samolotu z II wojny światowej podczas niedawnego jubileuszu Królowej
Elżbiety.</span></p>

<p></span></p>

<p style="text-align:center;
x" align="center"><span style="
"></span></p>

<p></span></p>

<b><span style=""><br style="page-break-before:always" clear="all">
</span></b>

<p style="
"><b><span style="">Kręgi
zbożowe, UFO, tajemnice starożytności, naukowe spekulacje </span></b></p>

<p></span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/newsJun2012-08.jpg" alt="Ground shot of crop circle" width="500" height="373" border="0"></span></p>

<p></span></p>

<p style="
"><span style="">Ostatni krąg zbożowy
powstał w Stowell Farms na Golden Ball Hill w pobliżu Alton, Wiltshire,
Zjednoczone Królestwo. Forma przypomina Vesica Piscis, a dyskusje toczą się
wokół zbliżających się zmian w naszym Słońcu. Na <a href="http://www.cropcircleconnector.com/2012/goldenballhill/goldenballhill2012a.html" rel="no-follow">stronie</a>
o tych kręgach można znaleźć e-mail od rolnika zirytowanego „otrzymaniem” dwóch
kręgów.</span></p>

<p></span></p>

<p style="text-align:center;
x" align="center"><span style="
"></span></p>

<p></span></p>

<b><span style=""><br style="page-break-before:always" clear="all">
</span></b>

<p style="
"><b><span style="">Tajemniczy
cień na Mount Connor w Centralnej Australii</span></b></p>

<p style="
"><span style="">Poniższe zdjęcie zostało
zrobione <a href="cave-hill.htm">w drodze z Uluru na Cave Hill</a>, która
zajęła nam 5 godzin – tam i z powrotem. Jest to zdjęcie Mount Connor, ale
spójrzcie na cień przed tą górą. Wygląda jak gdyby został dorysowany przez <i>górę</i>
– my tego nie zrobiliśmy. Zachmurzenie wydaje się zbyt małe, aby rzucić na
ziemię taki cień. </span></p>

<p style="

" align="center"><span style=""><br>
<img src="../../../img/newsJun2012-09.jpg" alt="Photograph of Mount Connor, Central Australia, showing an odd shadow in the foreground" width="553" height="415" border="0"></span></p>

<p style="
11
" align="center"><span style=""><br>
<i>Zdjęcie Mount Connor w Centralnej Australii pokazujące dziwny cień przed
górą</i></span></p>

<p style="
"><span style=""></span></p>

<p style="
"><span style="">Powiększony fragment
tego zdjęcia pokazany poniżej jest jeszcze bardziej intrygujący, zwłaszcza że wtedy
wystąpiły pewne dziwne zjawiska w środkowej Australii.</span></p>

<p style=".25pt;
margin-left:0cm;x"><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;">Widoczne chmury są zbyt słabe, aby rzucić
tak mocny cień, a na niebie nie było wtedy śladu tego rodzaju okrągłej chmury.
Jestem przekonana, że wjechaliśmy w zawirowanie wymiarowe (ang.: <i>dimensional
warp</i>), a cień pochodził od jakiegoś statku bazowego. Przypominam sobie, jak
wówczas zwróciłam uwagę na to, że w tamtej okolicy w ogóle brakowało wtedy jakiejkolwiek
aktywności zwierząt lub owadów.</span></p>

<p style="

" align="center"><span style=""><br>
<img src="../../../img/newsJun2012-10.jpg" alt="Photograph of Mount Connor, Central Australia, showing an odd shadow in the foreground" width="550" height="478" border="0"><br>
<br>
</span></p>

<p style="

" align="center"><i><span style="">Cień
przed Mount Connor (obraz powiększony)</span></i></p>

<b><span style=""><br style="page-break-before:always" clear="all">
</span></b>

<p style="
"><b><span style="">Ludzka ryba?
A może jest to <i>nommos</i>?</span></b></p>

<p style="
"><span style="">Skoro mówimy o <i>dziwnych</i>
rzeczach, oto zdjęcie ryby przysłane przez Warrena Mitchella, który pisze:</span></p>

<p style="
"><i><span style="">Załączone zdjęcie
„ludzkiej ryby” zrobił mój dziadek w North Queensland w 1915 r.</span></i></p>

<p></span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/newsJun2012-11.jpg" alt="Fish with odd human semblance caught in 1915" width="551" height="384" border="0"></span></p>

<p></span></p>

<p style="
"><span style="">Powiedział on, że istota
ta zanim zmarła wydawała płaczliwe dźwięki podobne do dziecka.</span></p>

<p style="
"><span style="">Czy jest to <i>merman*/nommos</i>?
Według Dogonów tysiące lat temu Ziemię odwiedziła rasa istot z systemu Syriusza
nazywana <i>nommos</i>. <i>Nommos</i> byli brzydkimi, zimnowodnymi istotami
przypominającymi syreny. Patrz <a href="http://www.valeriebarrow.com/images/newsletter/human-fish-large.jpg" rel="no-follow">zdjęcie
w większej rozdzielczości</a>.</span></p>
<hr width="30%" color="navy" align="left">
*<i>Merman</i> – syrena rodzaju męskiego; <i>mermaid</i> – syrena rodzaju żeńskiego (dop. tłum.).<p>

</p><p style="
"><b><span style=""></span></b></p>

<p style="
"><b><span style="">Kalendarz Majów
nie ma końca</span></b></p>

<p style="

"><span style="
">·<span style="">
</span></span><span style="line-height:160%;
"><a href="http://au.search.yahoo.com/search?fr=yfp-t-501-s&amp;p=mayan%202012%20prophecy&amp;ei=UTF-8" target="_blank" rel="no-follow"><span style="line-height:160%">Materiały w sieci: przepowiednia
Majów na 2012</span></a></span></p>

<p style="

"><span style="
">·<span style="">
</span></span><span style="line-height:160%;
"><a href="http://au.news.yahoo.com/odd/a/-/odd/13573306/one-in-seven-thinks-end-of-world-is-coming-poll/" target="_blank" rel="no-follow"><span style="line-height:160%">Jedna osoba na siedem myśli, że
będzie koniec świata</span></a></span></p>

<p style="
"><span style="">WASHINGTON (Reuters) – Na
ścianie niewielkiej budowli pod gruzami w Gwatemali archeolodzy odkryli zapis
notatek skryby na temat księżycowego kalendarza Majów, który, jak mówią, może
być pierwszym znanym zapisem oficjalnego kronikarza tej starożytnej
cywilizacji. </span></p>

<p style="
"><span style="">Notatki te odnoszą się
do tego samego kalendarza Majów, który czasami uważa się, że przewiduje koniec
świata dnia (lub około) 22 grudnia 2012 r. Badacze, którzy uczestniczyli w
odkryciu i rozszyfrowaniu owych napisów na ścianie powiedzieli, że ten
kalendarz Majów przewiduje dalszy ogromny bieg czasu, w którym data z grudnia
2012 r. stanowi początek nowego cyklu kalendarzowego nazywanego <i>baktun</i>. </span></p>

<p style="
"><span style="">‘Oni sprawdzali sposób,
w jaki te cykle następowały’ – powiedział William Saturno, autor artykułu na
temat tego odkrycia w czasopiśmie <i>Science</i>. ‘Kalendarz Majów będzie
zliczał czas jeszcze przez miliardy, tryliony, oktyliony lat – tak ogromną
liczbę, że aż nie mieści się w głowie.’”</span></p>

<p style="
"><span style="">Więcej jest na <a href="http://www.reuters.com/article/2012/05/10/us-science-maya-calendar-idUSBRE8491I520120510" target="_blank" rel="no-follow">Reuters</a>.</span></p>

<p></span></p>

<p style="text-align:center;
x" align="center"><span style="
"></span></p>

<p></span></p>

<b><span style=""><br style="page-break-before:always" clear="all">
</span></b>

<p style="
"><b><span style="">Wschód
słońca w kraju trzęsień ziemi</span></b></p>

<p style="
"><span style="">I na koniec: cudowne
zdjęcie wykonane przez Marian Laursen o wschodzie. </span></p>

<p style="
"><span style="">Zrobiono je na zewnątrz
domu, w którym ona mieszka – w Okaihau, Far North na Nowej Zelandii. Obszar ten
znany jest z ogromnych drzew <i>totara</i>. Widoczne na zdjęciu złote drzewo
jest jednym z nich.</span></p>

<p></span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/newsJun2012-12.jpg" width="548" height="729" border="0"></span></p>

<p></span></p>

<p style="
"><span style=""></span></p>

<p style="
"><span style="">A jeśli chodzi o
trzęsieniach ziemi (częste na Nowej Zelandii), wczoraj mieliśmy <a href="http://www.ga.gov.au/earthquakes/getQuakeDetails.do?quakeId=3227421&amp;orid=615617&amp;sta=YNG" target="_blank" rel="no-follow">niewielkie trzęsienie</a> niedaleko od naszego domu w Moss Vale.
Ale w stanie Wiktoria w ubiegłym tygodniu wystąpiło trzęsienie ziemi największe
od 100 lat.</span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/newsJun2012-13.jpg" alt="Earthquake map Australia and regions" width="550" height="416" border="0"></span></p>

<p style="text-align:center;
x" align="center"><i><span style="
">Mapa południowej Australii z zaznaczonymi epicentrami dwóch
ostatnich trzęsień ziemi</span></i></p>

<p style=""><span style="line-height:115%;
"></span></p>

<p style=""><span style="line-height:115%;
">W końcu na</span><span style="line-height:115%;">deszła
przesyłka z egzemplarzami mojej drugiej książki pt. <em><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;">Alcheringa, When the ancestors were first created</span></em><em><span style="font-style:normal">. </span></em></span></p>

<p style=""><em><span style="line-height:115%;
;font-style:normal">Miło nam
zaoferować promocyjnie dwie książki za 20,00 dolarów australijskich: </span></em><em><b><span style="line-height:115%;">Alcheringa,
when the first ancestors were created</span></b></em><span style="line-height:
115%;"> oraz <em><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">The Book of Love, by a Medium.</span></b></em></span></p>

<p style=""><span style="line-height:115%;
">Prześlijcie mi zamówienie ze
strony <a href="http://www.valeriebarrow.com/books-and-news/order-books.html" rel="no-follow">Book
Order</a> a ja wam odpiszę.</span></p>

<p></span></p>

<p style="
11
" align="center"><span style=""><img src="../../../img/alcheringa-new.jpg" alt="Book cover - Alcheringa, when the first ancestors were created" width="257" height="387" border="0"></span></p>

<p></span></p>

<p style="
"><span style="">Bardzo wielu ludzi
przeżywa doświadczenia. Czy przyłączycie się do mnie w modlitwie za tych
wszystkich, którzy cierpią w tych czasach przemiany? Czas zdaje się <i>przyśpieszać,</i>
jak to <a href="http://www.cosmicsaibaba.com/20120605.php" rel="no-follow">potwierdził</a>
Kosmiczny Sai Baba…</span></p>

<p class="main" style="margin-left:11.35pt"><i><span style="font-size:
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Tak więc, nie powinniście myśleć, że brakuje
wam czasu, lecz raczej że zmienia się czas, który zestrajacie z tym Wymiarem, w
którym teraz jesteście. Możecie odczuć – czujecie ... że wszystko pędzi – nawet
młodzi ludzie mówią, że nie mają czasu na zrobienie wszystkiego, co chcą.</span></i></p>

<p style="
"><span style="">A świat w całości składa
się z wibracji. Utrzymujmy nasze umysły na wzniosłych myślach i posyłajmy
wibracje miłości wszystkim, którzy są w potrzebie. Przypomnijmy afirmację,
której ludzie dzisiejszych czasów bardzo potrzebują: <br>

<em> <br> Jestem Czystym Światłem Świadomości<br>
    Przenikającym wszędzie<br>
    I prowadzącym każdego w Światło Boga.<br></em>

</p>

<p style="text-align:center;
" align="center"><em><b><span style="
<p>">Niech będą z wami Błogosławieństwa i Uniwersalna miłość. Val.</span></b></em><span style="<p>"> </span></p>



<p style="
"><b><span style="
">Nota bene</span></b></p>

<p style="
"><span style="line-height:115%;
">Materiały zaczerpnięte z innych
stron internetowych nie koniecznie wyrażają zdanie Valerie Barrow. Takie
materiały są tutaj reprodukowane jedynie dla zainteresowanych czytelników.</span>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Newsletter, czerwiec 2012r.</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>