<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Rennes-le-Château i Dolina Boga</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Rennes-le-Château i Dolina Boga</h2>
                <p class="text-center">
                <img src="../../../img/rennes-28f28ba3.jpg" name="grafika1" width="305" height="400" border="0" ></font><br><br></font></font></font>Widok
                na Magdala Tower w Rennes-le-Château </font></font></font>
                </p>
                <p>
                O
                Rennes-le-Château możecie też przeczytać na </font></font></font><u><a href="http://en.wikipedia.org/wiki/Rennes-le-Château" target="_blank">stronie
                Wikipedii</font></font></a></u></font>.
                </font></font></font>
                </p>
                <p class="text-center">
                <img src="../../../img/rennes-m3ce4ff9f.jpg" name="grafika2" width="335" hspace="6" height="323" border="0">
                </p><p>
                W
                drodze do Rennes-le-Château jechaliśmy z Carcassonne przez Dolinę
                Aude. Jest to kraina Katharów, gdzie Albigenowie [członkowie
                ascetycznej sekty chrześcijańskiej z francuskiego miasta Albi] byli
                torturowani i spaleni za herezje. Był to początek inkwizycji. Cały
                ten obszar jest pełen intryg, historii i tajemnic, a szczególnie
                rejon Góry Bugarach, który, jak się mówi, jest miejscem najczęstszych
                obserwacji UFO w całej Francji. Ten szczególny rejon nazywa się </font></font></font><i>Val
                de Dieu </i></font></font></font>czyli</font></font></font><i>
                </i></font></font></font><i><b>Dolina
                Boga </b></i></font></font></font>–
                ale tu wychodzę nieco na przód w swojej relacji. Chcieliśmy znaleźć
                jakieś miejsce na zatrzymanie się, skąd moglibyśmy robić wypady do
                cudownych miejsc w okolicy.</font></font></font></p>
                <p style=" ">Polecano
                nam Quillan, ale kiedy jechaliśmy samochodem w kierunku tego miejsca,
                John nagle skręcił w prawo i znaleźliśmy się przy pięknym Chateâu des
                Ducs de Joyeuse w miejscowości Couiza. Jest to średniowieczny zamek
                odnowiony i zaadoptowany na wspaniałą restaurację. Stoi on u zbiegu
                górskiego strumienia i rzeki Aude, w miejscu starożytnej
                galijsko-romańskiej osady, której pierwotna nazwa brzmiała  Couzanum.</font></font></font></p>
                <p>
                W
                krótkiej rozmowie z właścicielem John szybko załatwił dla nas tani
                pobyt przez cztery dni. Oboje czuliśmy, że już kiedyś odwiedzaliśmy
                ten zamek (</font></font></font><i>chateâu</i></font></font></font>);
                takie wrażenie pojawiało się szczególnie, gdy w drodze do naszego
                pokoju wchodziliśmy po starych spiralnych schodach.</font></font></font></p>
                <p >
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/rennes-5e8b0f95.jpg" name="grafika3" width="550" height="411" border="0" ></font><br><br></font></font></font>Wejście
                do Chateâu des Ducs de Joyeuse </font></font></font>
                </p>
                <p>
                Pierwszą
                naszą wyprawą był krótki wypad górską drogą do Rennes-le-Château. Gdy
                dojechaliśmy, przywitał nas spokojny, jasny i słoneczny dzień oraz
                widok na szczyty gór w kierunku Mt. Bugarach. </font></font></font>
                </p>
                <p >
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/rennes-db3fcf1.jpg" name="grafika4" width="550" height="415" border="0" ></font><br><br></font></font></font>Widok
                z Rennes-le-Chateâu w kierunku Góry Bugarach </font></font></font>
                </p>
                <p>
                Z
                tutejszym kościołem wiążą się tajemnice i spora historia. Nowy
                ksiądz, ojciec Bérenger Saunière przyjechał do tego klasztoru
                w 1885 r. W ciągu kilku lat na zawsze zmienił los małej wioski w
                Aude. Renowacje przeprowadzane przez Saunière, a szczególnie
                projekty rzucających się w oczy budynków szybko zrodziły pytania o
                źródła jego funduszy. Rozeszły się plotki, że odkrył jakiś skarb.</font></font></font></p>
                <p >
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/rennes-m1bef6210.jpg" name="grafika5" width="550" height="416" border="0" ></font><br><br></font></font></font>Muzealny
                model of ojca Saunière i jego gospodyni </font></font></font>
                </p>
                <p>
                Sprawiło
                to, że wielu badaczy, naukowców i historyków zaczęło sprawdzać wiele
                z tych pytań. W szczególności, dziwne rzeźby oraz tajne kody, jakie
                istnieją w Rennes-le-Château, zdawały się ukrywać informacje, które
                skłaniały badaczy do skomplikowanych poszukiwań w wielu kierunkach i
                aspektach. </font></font></font>
                </p>
                <p>
                Jedną
                z najsłynniejszych prac jest </font></font></font><i><b>The
                Holy Blood and The Holy Grail </b></i></font></font></font><i>(Święta
                Krew i Święty Graal)</i></font></font></font>,
                napisana przez Michaela Baigenta, Richarda Leigha i Henry’ego
                Lincolna. Publikacja tej książki w 1982 r. wywołała burzę
                kontrowersji, których oddźwięk na Zachodzie ciągle rozbrzmiewa. Była
                ona inspiracją wielu artykułów i pytań, a także teorii spiskowych –
                wszystkie można znaleźć w Internecie. Książka Dana Browna </font></font></font><i><b>The
                DaVinci Code </b></i></font></font></font><i>[Kod
                Leonardo da Vinci]</i></font></font></font>
                jest fikcyjnym dreszczowcem (opartym na faktograficznej książce „The
                Holy Blood and The Holy Grail”), której sprzedano ponad 80
                milionów egzemplarzy i przetłumaczono na 40 języków. </font></font></font>
                </p>
                <p>
                Oto
                niektóre z postawionych pytań:</font></font></font></p>
                <ul>
                    <li><p style="margin-right: 0.36cm; margin-top: 0.49cm; ">
                    <i>Skąd
                    ojciec Saunière miał fundusze na tak szeroko zakrojone
                    renowacje?</i></font></font></font></p>
                    </li><li><p style="margin-right: 0.36cm; ">
                    <i>Czym
                    były manuskrypty podobno znalezione przez Saunière (w tajnej
                    wnęce w kamiennej kolumnie) i czy Maria Magdalena rzeczywiście
                    została pochowana pod podłogą starego kościoła w Rennes-le-Château?</i></font></font></font></p>
                    </li><li><p style="margin-right: 0.36cm; ">
                    <i>Czy
                    istniało tajne stowarzyszenie o nazwie </i></font></font></font><i><b>Prieure
                    de Sion</b></i></font></font></font>?</font></font></font></p>
                    </li><li><p style="margin-right: 0.36cm; ">
                    <i>Czy
                    Rennes-le-Château i Dolina Bogalariusze przechowywali Świętego Graala we Francji, a jeśli tak,
                    to gdzie</i></font></font></font>?</font></font></font></p>
                    </li><li><p style="margin-right: 0.36cm; ">
                    <i>Czy
                    Jezus ożenił się z Marią Magdaleną i czy mieli dzieci, które
                    zapoczątkowały dynastię Świętej Krwi</i></font></font></font>?</font></font></font></p>
                    </li><li><p style="margin-right: 0.36cm; ">
                    <i>Czy
                    Jezus przeżył ukrzyżowanie i żył do sędziwego wieku</i></font></font></font>?
                    </font></font></font>
                    </p>
                    </li><li><p style="margin-right: 0.36cm; margin-bottom: 0.49cm;">
                    <i>Czy
                    Katharowie przechowywali tajny manuskrypt o nazwie </i></font></font></font><i><b>The
                    Book of Love </b></i></font></font></font><i>(Księga
                    miłości)</i></font></font></font><i>,
                    a jeśli tak, gdzie on się teraz znajduje?</i></font></font></font>
                    (</font></font></font>O
                    tym napiszę więcej w swoim artykule o Montségur.</font></font>)
                    </font></font></font>
                    </p>
                </li></ul>
                <p>
                Spróbuję
                omówić niektóre z tych pytań nieco później, a teraz chcę zacytować
                „Słowo od ojca Saunière.” Poniższy tekst pochodzi
                z broszury znajdującej się w Muzeum w Rennes-le-Château. Jest on
                napisany i podpisany przez Abbé B. Saunière w 1903 r.</font></font></font></p>
                <p style="margin-left: 1.06cm; margin-right: 1.32cm; margin-top: 0.49cm;  line-height: 120%">
                <i>Rennes
                Ie Chateau zawdzięcza swoje powstanie ufortyfikowanemu Rhedae, które
                zostało założone w V w. przez Wizygotów. Miasto leżało na  plateau,
                rozciągającym się w kierunku południowowschodnim, na obrzeżach
                współczesnej wioski i liczyło około 30&nbsp;000 mieszkańców. Ta
                stolica rozległego dystryktu Rhedae została zniszczona w 1170 r.
                przez armię króla Aragona. <br><br>W XIV w. Pierre II des Voisins,
                gospodarz Carcassonne, odrestaurował fortyfikacje i miasto ponownie
                rozkwitło. Wkrótce zostało jednak znów zajęte przez Hiszpanów, którzy
                pozostawili cało jedynie starożytny kościół poświęcony św. Marii
                Magdalenie, zamek panów Rennes i kilka zabudowań mieszkalnych. <br><br>W
                ten sposób rok 1362 stanowi koniec miasta Rhedae. Później stało się
                ono niewielką osadą Rennes-le-Château. <br><br>Wydaje się, że po tych
                katastrofach skromna wioska została zapomniana przez resztę świata.
                <br><br>Jednak w ostatnich latach stary feudalny zamek przeżywał
                wznowienie aktywności dawnych lat. Kościół, który popadał w ruinę,
                został całkowicie odrestaurowany i wspaniale udekorowany. <br><br>Teren
                wokół kościoła, wcześniej pełen gruzu, obecnie prezentuje okazałą
                Kalwarię [odwzorowanie ukrzyżowania] na poły ukrytą wśród kwiatów i
                krzewów. Właśnie udostępniono willę Bethany (Betania), pierwszorzędną
                rezydencję w bardzo wyszukanym stylu z wielkim ogrodem od frontu i z
                górującą piękną statuą Zbawiciela o szeroko rozłożonych rękach. Stare
                wały obronne zostały zmienione w szeroką aleję spacerową biegnącą
                wzdłuż grzbietu góry. Elegancka weranda występuje w roli wieży
                obronnej. Na drugim końcu za bibliotekę służy Magdala Tower z
                blankami, cud cywilnej i wojskowej architektury. <br><br>Te dzieła
                sztuki zajęły miejsce dawnej morderczej architektury. Wieżyczki i
                blanki służą teraz konRennes-le-Château i Dolina Bogalacji, blisko nieba, w obecności jak okiem
                sięgnąć wspaniałej panoramy z każdej strony.<br><br>A hordy
                wojowników zastąpiły pokojowe hordy. Przyjeżdżają tutaj, by w tej
                wyjątkowej oprawie podziwiać cuda sztuki misternie wykonane przez
                księdza o duszy artysty, kogoś, kto kocha swój kościół i swoich
                parafian. &nbsp;&nbsp;&nbsp;</i></font></font></font></p>
                <p style="margin-left: 1.06cm; margin-right: 1.32cm; margin-bottom: 0.49cm; line-height: 120%">
                &nbsp;<i>Bérenger
                Saunière, Rennes-le-Château, 1903</i></font></font></font></p>
                <p>
                Ksiądz
                katolicki powiedział mi następującą rzecz o mszach: „Mogą one
                być odprawiane w celu głoszenia ewangelii, dla dobra ludzi lokalnej
                parafii, dla biednych i potrzebujących (co często ma miejsce) i za
                wynagrodzenie duchownego, które może być albo prywatne, albo
                publiczne. W zakrystii jest rejestr – może pani go obejrzeć.
                Obecnie reguła mówi, że msze można odprawiać tylko dla ludzi
                diecezji; poza diecezją to inna sprawa. Istnieją pokaźne dowody, że
                Abbé Saunière otrzymywał wynagrodzenie za msze z bardzo
                daleka, spoza jego zrujnowanej kaplicy w Rennes-le-Château. W swoim
                życiu był oskarżony o sprzedawanie mszy i był zawieszony za
                niewytłumaczone dochody – ludzie po prostu myśleli, że
                sprzedawał msze. Oto wyciąg z rejestru parafialnego dla
                Rennes-le-Château” – patrz
                </font></font></font><u><a href="http://www.rennes-le-chateau-rhedae.com/bedu/bedu32.html" target="_blank">http://www.rennes-le-chateau-rhedae.com/bedu/bedu32.html</font></font></a></u></font></p>
                <p>
                „Jest
                to prosta lista jego wynagrodzeń za msze – po 50 lub 60
                franków; na poprzednim przełomie wieków była to niesłychana suma.  To
                prawie jak dzisiaj 500 lub 600 dolarów, a może więcej – po
                dwóch wojnach światowych wystąpiły ogromne inflacje.”</font></font></font></p>
                <p>
                Otrzymywano
                także datki od zamożnych gości na poprawianie budynków. Ojciec
                Sauniere nie gromadził pieniędzy dla własnego zysku, przeciwnie, jest
                zapisane, że umarł jako biedak. </font></font></font>
                </p>
                <p>
                W
                naszych podróżach po całej południowej Francji spotykaliśmy stare
                kościoły i posągi św. Marii Magdaleny. Była czczona i szanowana przez
                Rennes-le-Château i Dolina Bogalariuszy.</font></font></font></p><br>
                <p class="text-center">
                <img src="../../../img/rennes-m1127e949.jpg" name="grafika6" width="346" height="450" border="0" ></font><br><br></font></font></font>Maria
                Magdalena w kaplicy w Rennes-le-Château </font></font></font>
                </p>
                <p>
                Nie
                mam wątpliwości, że chodziła po górach tego regionu i że znała ważny
                kosmiczny aspekt tego obszaru (więcej o tym w przyszłości). Pisałam
                już o legendzie o jej przypłynięciu do Camargue i jej spędzeniu
                swoich ostatnich dni w Grocie Sainte La Baume. Grotę tę odwiedziły
                tysiące ludzi, włącznie z królami papieżami.</font></font></font></p>
                <p>
                Jestem
                przekonana, że moje ‘cudowne’ zdjęcie odwzorowania jej
                szczątków w całunie pod sklepieniem Groty potwierdza to, że jej
                szczątki znajdowały się w Grocie La Sainte Baume.</font></font></font></p>
                <br>
                <p class="text-center">
                <img src="../../../img/rennes-567c180a.jpg" name="grafika7" width="550" height="416" border="0" ></font><br></font></font></font><br><br>
                </p>
                <p>
                Istnienie
                tajnej organizacji pod nazwą Prieure de Sion podano w wątpliwość po
                opublikowaniu listy Wielkich Mistrzów i późniejszym odkryciu, że jest
                sfałszowana. </font></font></font>
                </p>
                <p>
                Kiedy
                z Johnem odwiedzaliśmy Kaplicę Marii w Mont St Michel (</font></font></font><u><a href="jehanne-new.htm" target="_blank">kliknijcie
                tutaj, aby przeczytać stosowny artykuł</font></font></a></u></font>),
                rozpoznałam szczątki Jehanne d’Arc wiszące na ścianie.
                Podniosłam też ulotkę napisaną po francusku a informującą o mającym
                się odbyć spotkaniu Prieure de Sion.</font></font></font></p>
                <p>
                Było
                to w 1990 r. Nie sugerowałam żadnej konspiracji.</font></font></font></p>
                <p>
                Wiem,
                że w przeszłości, sięgającej czasu Świątyni Solomona, masoni
                posiadali tajne znaki i inicjacje. Mieli Wielkich Mistrzów –
                moja rodzina w Szkocji to Wielcy Mistrzowie. Byli to dobrzy ludzie i
                chcieli jedynie pomagać społecznościom. Mam przyjaciela, który jest
                Maltańskim Rycerzem. W średniowiecznej Europie mogli zginąć na
                stosie, gdyby wyjawili ich tajemnice. Dzisiaj ich obrządki
                inicjacyjne są jawne, a na ich spotkania jest zapraszana publiczność.</font></font></font></p>
                <p>
                Ich
                tajemnice obejmowały wiedzę o Świętym Graalu i o małżeństwie Marii
                Magdaleny i Jezusa.</font></font></font></p>
                <p>
                Rennes-le-Château i Dolina Bogalariusze
                wiedzieli także, że Issa żył do późnej starości w Indiach po swoim
                ukrzyżowaniu. </font></font></font>
                </p>
                <p>
                Jezus
                urodził się z niepokalanego poczęcia. Dla mnie jest to łatwe do
                przyjęcia. Podobnie został poczęty Sai Baba w łonie swojej matki
                Iśwarammy, która na życzenie Sai Baby opowiedziała o tym zdarzeniu. W
                jej brzuch weszło Błękitne Światło i uformowało dziecko. Wkrótce po
                urodzeniu Sai Baby, pod jego kołyską znaleziono węża – symbol
                wiecznego życia. Wszystko to podobnie przebiegało w przypadku
                narodzin Jezusa.</font></font></font></p>
                <p>
                Mam
                przyjaciółkę, która mówi, że rodzina jej matki pochodzi ze Srinagaru w
                Kaszmirze. Powiedziała mi, że ta rodzina opiekowała się grobem w Srinagarze,
                w którym podobno pochowany jest Issa, przez ponad 2000 lat. Był
                znany jako „Prorok.” Możecie o tym przeczytać w artykule
                </font></font></font><u><a href="http://wn.com/is_the_tomb_of_jesus_at_khanyar_rozabal_in_kashmir" target="_blank">Tomb
                of the Prophet in Kashmir</font></font></a></u></font>
                (Grobowiec Proroka w Kaszmirze).</font></font></font></p>
                <p class="text-center">
                <img src="../../../img/rennes-7c20defc.jpg" name="grafika8" width="243" height="333" border="0" ></font><br></font></font></font><br>
                </p>
                <p class="text-center">
                Issa
                (Jezus) medytujący w Himalajach</font></font></font></p>
                <p>
                Istnieje
                książka zatytułowana </font></font></font><i>Jesus
                Died in Kashmir </i></font></font></font>(Jezus
                umarł w Kaszmirze)</font></font></font>
                napisana przez Andreasa Faber-Kaisera i wydana w 1978 r. Opowiada ona
                o podróży Jezusa w dzieciństwie, w wieku 13 lat, do Kaszmiru w celu
                poznania buddyzmu. Jego ewangelia miłości zachwyciła buddystów, ale
                Hindusi dostrzegli w niej zagrożenie dla systemu kastowego i władzy
                braminów. Jezus odwiedził Persję, ale tamtejsi kapłani
                zoroastrianizmu także widzieli w nim zagrożenie i kazali mu wyjechać.
                Wtedy Jezus wrócił do Izraela. </font></font></font>
                </p>
                <p>
                Autor
                ten otrzymał tę historię od niejakiego Nicholai Notovicha, a później,
                podróżując po Kaszmirze, który znany jest jako mały Tybet, odwiedził
                klasztor lamów. Tu powiedziano mu o „Issie synu Izraela,”
                który gościł w tym miejscu 2000 lat temu.</font></font></font></p>
                <p>
                Tenże
                autor przedstawia historię podróży Jezusa po ukrzyżowaniu, twierdząc,
                że jego rany wygoiły się i że w podróż wybrał się z matką Marią i
                Tomaszem w celu odnalezienia dziesięciu zaginionych plemion Izraela.
                Maria zmarła w Pakistanie, niedaleko od granicy Kaszmiru. Jezus
                pojechał dalej do Kaszmiru, który już znał, natomiast Tomasz
                skierował się na południe Indii, nauczając po drodze. Zmarł na górze,
                gdzie dzisiaj stoi miasto Chennai (Madras). </font></font></font>
                </p>
                <p>
                Cztery
                lata temu pracowałam z pewną kobietą w regresji, która pamiętała
                swoje życie jako Tomasz. Pamiętała mnóstwo szczegółów o tym, jak
                opiekowano się Issą po ukrzyżowaniu i to, że jego rany wygoiły się.
                Potem Tomasz potajemnie wyjechał z kilkoma osobami i Issą do Indii.
                Ta kobieta nie czytała wyżej wspomnianej książki. Pamiętała rozstanie
                z Jezusem w Indiach oraz późniejsze kontynuowanie jego nauczania w
                południowych Indiach do czasu, aż rozgniewał braminów i w końcu
                został zabity. </font></font></font>
                </p>
                <p>
                Przed
                tą regresją zastanawiałam się, co się stało z Matką Marią. Ktoś
                zaczął mówić o pochówku Matki Marii nad Eufratem i o tym, że apostoł
                Jan był tam z nią. Następnie dostałam artykuł o kimś, kto odwiedził
                Patmos w poszukiwaniu groty, o której się mówiło, że w niej Jan
                napisał Apokalipsę.</font></font></font></p>
                <p>
                Był
                to ciąg zdarzeń, dane mi ‘znaki,’ potwierdzający
                informacje otrzymane przeze mnie od mojego niewidzialnego Mentora. </font></font></font>
                </p>
                <p>
                Mój
                Mentor wcześniej powiedział mi, że Matka Maria podróżowała z
                południowej Francji do Syrii (Turcji) ze swoim synem Janem. W tamtym
                miejscu bezpiecznie żyło wielu Żydów. Ten obszar znajdował się na
                granicy Imperium Rzymskiego. </font></font></font>
                </p>
                <p>
                Jej
                córka, trzecia Maria, wyjechała z Issą do Indii. Niestety, zanim
                dotarli do Kaszmiru, ona zmarła i </font></font></font><u><a href="http://www.jesus-kashmir-tomb.com/Page2CMotherMaryGrave.html" target="_blank">jest
                obecnie pochowana w Pakistanie</font></font></a></u></font>.</font></font></font></p>
                <p class="text-center"><img src="../../../img/rennes-m73870edd.jpg" name="grafika9" width="191" height="385" border="0"><!--BR CLEAR=LEFT--></p>
                <p>
                Inna
                regresja innej kobiety dotyczyła jej pamięci życia Marii Magdaleny.
                Pamięta ona proste życie Esseńczyków oraz inicjację, którą Marie
                przyjęły. Pamiętała, że wyszła za Issę i miała dziecko. Ona go bardzo
                kochała. Po ukrzyżowaniu i ucieczce rodziny do południowej Francji
                większość z nich przeniosła się dalej do innych miejsc. Issa miał dar
                bilokacji i przychodził w ten sposób w odwiedziny do Marii Magdaleny
                w południowej Francji – po prostu by porozmawiać. Wtedy
                mieszkał w Indiach i tam ponownie ożenił się i miał dalsze dzieci.
                Ona pamięta go z tych odwiedzin i to, że stanowiło to dla niej duże
                pocieszenie, gdy umierała.</font></font></font></p>
                <p style=" ">
                Jezus
                urodził się z niepokalanego poczęcia, które obdarzyło go darem
                Świętej Krwi. Święty Graal jest w nas wszystkich. Wszyscy
                odziedziczyliśmy Świętą Krew i podwyższoną świadomość, która za tym
                idzie. Musimy tylko uświadomić sobie, że odziedziczyliśmy także
                ziemskie ciało i potrzebę podnoszenia jego świadomości. Możemy
                otrzymać pomoc od Oświeconych – musimy tylko poprosić.</font></font></font></p>
                <p>
                A
                jeśli spojrzeć na to z szerszej perspektywy, czyż ojciec Bérenger
                Saunière nie został zainspirowany przez Oświeconych, by
                stworzyć otoczkę tajemnicy wokół Rennes-le-Chateâu, która
                doprowadziła do całej tej kontrowersji?</font></font></font></p>
                <p>
                Dan
                Brown na swojej stronie internetowej stwierdza, że jego książki nie
                są antychrześcijańskie i że on sam znajduje się ciągle na ścieżce
                poszukiwań duchowych. Mówi, że jego książka </font></font></font><i><b>The
                Da Vinci Code</b></i></font></font></font>
                (Kod Leonarda da Vinci) jest po prostu „historią dla rozrywki,
                która prowokuje duchową dyskusję i debatę” i sugeruje, że
                książka ta może być wykorzystana jako „pozytywny katalizator do
                introspekcji i eksploracji naszej wiary.” </font></font></font>
                </p>
                <p>
                To
                samo można powiedzieć o książce </font></font></font><i><b>Holy
                Blood, Holy Grail</b></i></font></font></font>
                (Święta Krew, Święty Graal) napisanej przez Baigenta, Leigha i
                Lincolna.</font></font></font></p>
                <p lang="" class="text-center">
                <img src="../../../img/stonehenge_68f25051.png" name="grafika16" width="120" height="26" border="0" align="middle"><br clear="LEFT"><br><br>
                </p>
                <p lang="" class="text-center">
                <br><br>
                </p>
                <p>
                <b>Święte
                tereny i geometria bramy gwiezdnej</b></font></font></font></p>
                <p>
                <u><a href="http://www.en.wikipedia.org/wiki/Henry_Lincoln" target="_blank">Henry
                Lincoln</font></font></a></u></font>
                w ostatnich 30 latach stał się ekspertem w odkrywaniu historii,
                tajemnicy i fascynującej geometrii okolic Rennes-Le-Chateau i Doliny
                Aude. Jest on współautorem książki </font></font></font><i><b>Holy
                Blood, Holy Grail</b></i></font></font></font>.
                W tym czasie napisał i przedstawił na DVD „Guide to
                Rennes-le-Chateâu and the Aude Valley” (Przewodnik po
                Rennes-le-Chateâu i Dolinie Aude).  John uznał, że musimy zakupić tę
                pozycję, a jego upór w moim odczuciu świadczył, że przemawiał przez
                niego </font></font></font><i><b>Duch</b></i></font></font></font>.
                Na tym DVD Henry Lincoln zajmuje się odkryciem ósmego cudu świata –
                Rennes-le-Chateâu jako Pentagramu Gór oraz geometrii kryjącej się w
                zachwycającym pięknie otaczających to miejsce okolic.</font></font></font></p>

                <p class="text-center">
                <img src="../../../img/rennes-m4c2eab6b.jpg" name="grafika11" width="550" height="413" border="0" ></font><br><br></font></font></font>Mt
                Bugarach w pobliżu Rennes-le-Chateâu </font></font></font>
                </p>
                <p>
                Za
                pomocą rysunku wykonanego na mapie, który stanowi pięcioramienną
                gwiazdę, Henry pokazuje jak ta gwiazda łączy pięć szczytów górskich
                rozłożonych w jednakowych odległościach. Ten znaczący symbolizm wiąże
                on z Wenus. Jednym ze szczytów jest Rennes-le-Chateâu, a konkretniej
                Tower of Magdala (Wieża Magdali).</font></font></font></p>
                <p>
                W
                innym przypadku Henry Lincoln umieszcza koniec cyrkla na mieście
                Esperaza, następnie rysuje pełny okrąg. Włącznie ze szczytem
                Rennes-le-Chateâu tamte szczyty są w równych odległościach i tworzą
                gwiazdę sześcioramienną. Jest to też symbol Wenus, a także jest to
                Gwiazda Dawida.</font></font></font></p>
                <p>
                Pokazano
                mi, że gwiazda pięcioramienna Wenus reprezentuje człowieka, zaś
                sześcioramienna gwiazda Wenus symbolizuje wyniesienie człowieka do
                gwiezdnego człowieka. Błękitni Ludzie, którzy przybyli z Wenus, by
                ustanowić na Ziemi rozwiniętą cywilizację, przyszli w ten zakątek
                galaktyki, by przynieść tu więcej Światła. Błękitni Ludzie byli
                Istotami Światła, którzy zaludniali Ziemię przed </font></font></font><i>Upadkiem
                Atlantydy</i></font></font></font>.
                Już pisałam o Błękitnych Ludziach (w artykule o </font></font></font><u><a href="jehanne-third.htm" target="_blank">Jehanne
                d'Arc</font></font></a></u></font>).
                </font></font></font>
                </p>
                <p>
                Niektórzy
                z Gwiezdnych Ludzi postąpili wbrew ‘edyktowi,’ który
                stanowił, że nie powinni pobierać się z ludźmi Ziemi, gdyż
                spowodowałoby to umniejszenie ich własnego Światła. Jednak niektórzy
                współżyli z ziemskimi kobietami. Sądzę, że stąd wzięła się historia
                Adama i Ewy, w której mieli oni zakaz spożywania jabłek, a swoją rolę
                odegrał wąż. Dalsze wyjaśnienia o ‘Aniołach’
                współżyjących z ludźmi znajdują się </font></font></font><u><a href="http://www.valeriebarrow.com/jehanne-new.php#mating" target="_blank">tutaj</font></font></a></u></font>.
                Sprawa ta ma odniesienie w hebrajskim Starym Testamencie (tu są linki
                do  </font></font></font><u><a href="http://www.valeriebarrow.com/jehanne-third.php#jubilees" target="_blank">Księgi
                Jubileuszów</font></font></a></u></font>).</font></font></font></p>
                <p>
                Ludzi
                Ziemi stworzono z częścią krwi gadów, i to ma ciągle swoje skutki.
                Jednakże wraz z domieszką krwi ras Istot światła ludzie Ziemi
                odziedziczyli także ‘Świętą Krew.’ I dopiero, gdy zdołają
                opanować w sobie gadzią (i zwierzęcą) krew, staną się Mistrzami,
                osiągną swoje prawdziwe przeznaczenie i wstąpią do Uniwersalnej Rasy
                Istot Światła (lub, jeśli wolicie, Gwiezdnych Istot). Krew
                przechowuje świadomość.</font></font></font></p>
                <p >
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/rennes-44f15abf.jpg" name="grafika12" width="550" height="411" border="0" ></font><br><br></font></font></font>Dinozaur
                o długiej szyi i (w głębi) szkielet mniejszego dinozaura w muzeum w
                Esperaza </font></font></font>
                </p>
                <p>
                Wracając
                do odkrycia tej ważnej świętej geometrii w Dolinie Aude (albo Dolinie
                Boga, znanej we Francji pod nazwą </font></font></font><i>Val
                de Dieu</i></font></font></font>)
                przez Henry’go Lincolna, chciałabym opowiedzieć o naszej
                wizycie w Esperanza, która leży niedaleko od miejsca Couiza, gdzie
                zatrzymaliśmy się. Przypominam, że Henry Lincoln ustalił, iż miasto
                Esperaza leży w środku okręgu utworzonego przez szczyty gór, które
                tworzą Gwiazdę Dawida.</font></font></font></p>
                <p>
                Mijaliśmy
                Esperazę w drodze z Couizy do Quillan, kiedy poczułam, że </font></font></font><i><b>Duch</b></i></font></font></font>
                chce, abyśmy wstąpili do tego miejsca. Skusiło nas Muzeum Dinozaurów.
                Miałam nadzieję, że nie jest to jakaś amatorska placówka mająca
                przyciągać dzieci, bez żadnych prawdziwych skamielin bądź
                starożytnych kości.</font></font></font></p><br>
                <p class="text-center">
                <img src="../../../img/rennes-4b4723ee.jpg" name="grafika13" width="550" height="412" border="0" ></font><br><br></font></font></font>Szkielet
                dinozaura w muzeum w Esperaza </font></font></font>
                </p>
                <p>
                Nie
                mogłam bardziej się pomylić – jest to bajeczne muzeum z wielu
                skamieniałościami i kościami dinozaurów, które zostały znalezione w
                bezpośredniej bliskości placówki. Możecie </font></font></font><u><a href="http://www.languedoc-france.info/0705b_esperaza.htm" target="_blank">odwiedzić
                to Muzeum w sieci tutaj</font></font></a></u></font>.
                </font></font></font>
                </p>
                <p>
                Bogactwo
                tego obszaru skłoniło paleontologów do przeszukania górnej części
                Doliny Aude, co doprowadziło do odkrycia czterdziestu miejsc ze
                szczątkami dinozaurów, w tym wielu dinozaurzych jaj. Rejon ten jest
                obecnie najlepiej poznanym w Europie miejscem znalezisk dinozaurów z
                późnej Kredy. Wykopaliska są tutaj kontynuowane przez kilka miesięcy
                w roku przez zespół Muzeum Dinozaurów w Esperanza.</font></font></font></p>
                <p>
                Masowe
                wyginiecie dinozaurów nastąpiło 65 milionów lat temu.</font></font></font></p><br>
                <p style="margin-bottom: 0.2cm;" class="text-center">
                <img src="../../../img/rennes-795673c9.jpg" name="grafika14" width="550" height="409" border="0" ></font><br><br></font></font></font>Historia
                Katastrofy w muzeum w Esperaza </font></font></font>
                </p>
                <table width="85%" class="text-center"><tbody><tr><td>
                Angielski
                napis na plakacie widocznym na powyższym zdjęciu: </font></font></font>
                <div style=" ">
                <i><b>Historia
                katastrofy</b></i></font></font></font></div>
                <div style="  xline-height: 0.18cm" >
                Społeczność
                naukowców jako całość, </font></font></font><b>z
                niewielkimi wyjątkami</b></font></font></font>,
                obecnie zgadza się, że kryzys na granicy Kredy i Trzeciorzędu oraz
                wyginięcie dinozaurów były wynikiem upadku </font></font></font><b>meteorytu
                Chicxulub</b></font></font></font>.
                Kiedy 65 milionów lat temu meteoryt
                ten, </font></font></font><b>o średnicy przewyższającej 10 km,</b></font></font></font>
                uderzył w Ziemię, wzniósł gigantyczną chmurę
                pyłu, która przesłoniła promienie Słońca na kilka miesięcy. Rośliny
                pozbawione światła zwiędły. Z kolei roślinożerne dinozaury pozbawione
                pożywienia padały, a po nich te też mięsożerne. Po 170 milionach lat
                panowania w ciągu kilku miesięcy znikły wszystkie dinozaury. Przeżyły
                głównie zwierzęta, które nie żywiły się roślinami, szczególnie te
                żyjące w rzekach i jeziorach, tj. w środowiskach mniej narażonych na
                skutki tej katastrofy.</font></font></font></div></td></tr></tbody></table>

                <p>
                Moi
                przyjaciele niezależnie od siebie odwiedzili Val de Dieu i nabrali
                przekonania, że miejsce to ma związek ze Świętym Uluru. Niewątpliwym
                świadectwem jest czerwona ziemia, która występuje także w centralnej
                Australii. Mój Mentor powiedział, że Uluru jest Asteroidem, który
                został wysłany przez anielskie Królestwa, aby zniszczyć dinozaury
                (kliknijcie </font></font></font><u><a href="uluru.htm#delivery" target="_blank">tutaj,
                aby przeczytać stosowny artykuł</font></font></a></u></font>).</font></font></font></p>
                <p >
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/rennes-m4414fd31.jpg" name="grafika15" width="500" height="375" border="0" ></font><br></font></font></font><br>
                </p>
                <p class="text-center">
                Czerwona
                ziemia w Val de Dieu (Dolinie Boga) we Francji</font></font></font>
                </font></font></font>
                </p>

                <p>
                Znaczy
                to, że 65 milionów lat temu wystąpiły poważne zmiany w strukturze
                Ziemi w Dolinie Aude Valley. Myślę, że nadzwyczajne jest to, iż
                chociaż w tamtym zdarzeniu panował skrajny chaos, Anielskie Królestwa
                zdołały uformować szczyty górskie z taką precyzją, że powstała Święta
                Geometria, którą odkrył Henry Lincoln. Przedstawiając swoją pracę na
                DVD, potrząsał z niedowierzaniem głową, że odległości miedzy
                szczytami były tak dokładnie równe.</font></font></font></p>
                <p>
                Zauważyłam
                też, że okrąg łączący końce gwiazdy pięcioramiennej częściowo
                zachodzi na okrąg gwiazdy sześcioramiennej, tworząc </font></font></font><u><a href="http://en.wikipedia.org/wiki/Vesica_piscis#Gallery" target="_blank">Vesica
                Piscis</font></font></a></u></font>,
                która jest znakiem w symbolice Jezusa Chrystusa.</font></font></font></p>
                <p>
                To
                naprawdę jest Dolina Boga. Gdy byliśmy na Górze Bugarach, był tam
                piękny spokój, pokojowa i budująca energia. Trawa była szczególnie
                zielona a wszędzie widniały małe kwiaty; ciepłe powietrze zapełniały
                motyle. Jest to niebiańskie miejsce.  Zgodnie postanowiliśmy z Johnem
                usiąść przy niewielkim strumieniu, by pomedytować. Kiedy mieliśmy
                siąść na kamieniach </font></font></font><i><b>John
                znalazł małą paczkę z dwoma maleńkimi kluczykami</b></i></font></font></font>.</font></font></font></p>
                <p>
                Z
                pewnością był to znak od Boga. W mojej małej książce o alchemii
                wyjaśniono, że ‘klucz’ jest dawany jako Wewnętrzna
                świadomość, która otwiera drzwi do wszelkiej prawdy, mądrości i
                wiedzy. Czyżby był to nasz Święty Graal?</font></font></font></p>
                <p>
                <i><b>Przejdźcie
                do następnego artykułu</b></i></font>:
                o naszych odwiedzinach <a href="montsegur.htm">Montségur
                – ostatniego bastionu Katharów</a>.</font></font></p>
                <p style=" border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm;" >
                <br><br>
                </p>
                <p style="margin-bottom: 0.35cm" class="text-center">©
                </font></font></font><u><a href="copyright.htm">Copyright
                Valerie Barrow</font>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Rennes-le-Château i Dolina Boga</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>