<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Regresja do przeszłego życia<br>
Ruth, przyrodniej siostry Issy – Jezusa</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Regresja do przeszłego życia<br>
Ruth, przyrodniej siostry Issy – Jezusa</h2>

</font></b><p class="text-center"></p>
<p class="text-center"><img src="../../../img/isamed4.jpg" width="243" height="333"><br>
</p>
<font size="2"><p class="text-center">Issa - Jezus medytujący w Himalajach</p>
</font><b><p>&nbsp;</p>
<p>Zapis z dnia 1 stycznia 2007 r. – Rosemary/Ruth – czasy Jezusa</p>
<i></i></b><i></i><p><i><b>REGRESJA DO PRZESZŁEGO ŻYCIA</b></i> - <i>kursywa</i> oznacza pytania Val zadawane Rosemary.</p>
<p>Prosimy, abyś została zabrana do Komnaty Kronik i ty prosisz o zaprowadzenie księgi odnoszącej się do twojego życia w czasach Jezusa, tak jak widziałaś siebie w domu Miriam.</p>
<dir>

<p>"Rozumiem, że mam propozycję wyboru po przeniesieniu do jakiegoś pomieszczenia, w którym na biurkach znajduje się wiele albumów ze zdjęciami. Jest propozycja, abym popatrzyła na te albumy. Każdy z nich jest otwarty i zdaje się prezentować jakieś moje Życie.  Na biurku nad albumem jest tabliczka z latami ‘od – do.’</p>

<p>On sugeruje, abym przeszła wokół pokoju aż znajdę ten, który chcę przejrzeć. Jest to duże pomieszczenie, biurka są drewniane a albumy leżą na nich otwarte.</p>

<p>Maturalnie, moją uwagę przyciąga rok 33 p.n.e. Kartkuję album do miejsca, gdzie chcę się zatrzymać. To zabawne, gdyż gdy patrzę na strony, stają się one żywe i mogłabym w nie po prostu wejść, gdybym chciała. Farmerzy chodzą z wołami. Woły mają drewniane jarzma, a oni orzą pole.</p>

<p>Powiedziano mi, że jest to Józef, mąż Marii, który ma zostać moim ojcem. Ale teraz nie jest jeszcze ożeniony. On jest młodszy. (Wygląda to tak, jak gdyby pokazywano mi album mojej matki.) Są tu małe, białe, kamienne domy. Są pobielone. Są małe i mieszkają w nich ludzie. (Później powiedziała, że należały do esseńczyków.)</p>

<p>Po prostu bardzo zwykli wiejscy ludzie i życie.</p>
</dir>

<p>Następnie widzi Marię, noszącą w łonie dziecko, oraz idącego z nią Józefa.</p><dir>

<p>Mają sporą drogę do przejścia. Gdy przybywają do miasta (Betlejem) są witani i zaprowadzeni do małego domu. Jest w nim miejsce, gdzie gotuje się woda. Z upływem czasu, w kącie znajduje się olbrzymia bela siana przygotowanego na rodzenie, aby łatwo pozbyć się pozostałości po rodzeniu itp. (Nie jest to żłóblecz coś, o co ona może się oprzeć plecami podczas rodzenia.) Ma do pomocy cztery kobiety spełniające rolę położnych. Te narodziny były długo wyczekiwane przez wielu, gdyż wiedzieli, że dziecko jest zapowiedziane w proroctwach. Wszyscy się radują, śpiewając.</p></dir>

<i><p>Spytano ją, czy dostrzega w zapisie datę.</p></i><dir><i>

</i><p>Widzę tylko datę 29 lutego. Lata liczy się od panowania króla Heroda (zabrzmiało to bardziej jak Harolda) i jest to 16-ty rok. Rok pierwszy przypadł na pierwszy rok jego panowania.</p></dir>

<i><p>Spytana o kraj, powiedziała, że jest to Judea.</p>
</i><p>Powiedziała, że pokazywano jej to po tym, jak urodził się Jezus – dopiero potem Józef i Maria wzięli ślub, albo stali się mężem i żoną. (<i>Chcesz powiedzieć, że do tego czasu małżeństwo nie zostało skonsumowane?</i> Rosemary odpowiedziała: ‘Tak.’) Jezus był pierwszym dzieckiem, ale Józef nie był ojcem. Mary zapłodniło Światło od Boga i z tego narodził się Jezus. Tak więc, Rosemary w tamtym życiu nie pochodziła z tej samej linii rodowej co Jezus, lecz po jego urodzeniu jej rodzinny rodowód wywodził się od Józefa.</p><dir>

<p>Rosemary powiedziała: "Ja nie byłam pierwsza w rodzinie Marii i Józefa. Dziećmi byli James, Phillip i John, potem mieli dziewczynkę nazwaną Judith, potem Ruth. Później jeszcze dwójkę.</p>

<p>Dom należał do wspólnoty – dzieci należały do wszystkich. Nie byłaś oddzielona od swoich kuzynów lub krewnych – życie było plemienne – każdy należał do każdego. Wszyscy byli ciotkami i wujkami itd.</p>

<p>Kochałam Jezusa; on był o wiele starszy ode mnie. Gdy się urodziłam, on już był dorosłym mężczyzną. Miał 18 lat, gdy się urodziłam. Zwykł nazywać mnie Esmeraldą; zabawne, że w tym życiu, gdy byłam mała, tak samo nazywał mnie mój ojciec.</p>

<p>Jednym z moich obowiązków było dbać o piec. Czuję się w tym ciele jak wkładam drewno do ognia, starając się nie poparzyć. Wszyscy noszą brązowe okrycia. Białe noszą na specjalne okazje lub gdy gdzieś wychodzimy.</p></dir>

<p> (Nagranie na taśmie jest niewyraźne)</p>
<i></i><p><i>Przejdź dalej w czasie – czy widzisz siebie starszą</i>?</p><dir>

<p>Coś stało się w ostatnich trzech latach. Nazywam go Issą (wymawiane Iisa). Ciągle rozmawia z mężczyznami. Już nie jest tak, jak gdy byłam mała – wtedy więcej bawił się ze mną. Teraz ciągle jest zajęty i ciągle gdzieś wychodził. Chada w inne miejsca.</p></dir>

<i><p>Spytałam ją, czy On jest szczęśliwy.</p></i><dir><i>

</i><p>Ona odpowiedziała, że czasami śpiewał; kiedy indziej był poważny, ciągle nauczał.</p>

<p>Czasami lubił być sam – mówił, że właśnie wtedy był ze swoim ojcem. Myślałam, że Józef był jego ojcem, ale on powiedział, że nie. Wiele mówił o Bogu. Powiedział: ‘Przyszedłem wprost od Ojca, mała.’</p>

<p>Miał miłą twarz. Wielką twarz. Miał nie ciemne lecz ciemno-brązowawe włosy. Niekiedy jego broda bywała bujna. Miał piękne oczy. Szarpał mnie za warkocz i mówił: <b><i>Zbudź się! Zbudź się!</i></b> (Jej głos brzmiał młodo, gdy przeżywała to wspomnienie.)</p>

<p>Niekiedy brał mnie za rękę i zabierał na spacer, gdy nie był zbyt zajęty.</p>

<p>A potem przyszło coś jak ciemna chmura. Ludzie ciągle mówili o żołnierzach i niebezpiecznych czasach – choroby i śmierć. Chcieli wolności. Chcieli, aby mój brat został królem, by czemuś przewodził – rządowi? Po to, aby wyzwolić ludzi. On mawiał: ‘Ale to nie jest moje zadanie. Nie rozumiecie. Słuchacie, ale nie rozumiecie. Nie przszedłem, by to robić. Będziecie wyzwoleni.’ </p>

<p>‘Jeśli wierzycie mi, jeśli wierzycie i rozumiecie, prawda was wyzwoli.’</p></dir>

<p>W tym miejscu Ruth jest zmartwiona. Mówi:</p><dir>

<p>“Słuchajcie go –<b><i> Światło was wyzwoli</i></b>." </p>
<p>
Ale oni chcieli końca swojego cierpienia. Chcieli zakończenia walk i niewolnictwa, a także tych rzeczy świata, które widzieli, że są złe.</p>

<p>On próbował pokazać im inny świat – prawdziwe miejsce, prawdziwy świat. To, że wszystko, w co wierzyli było iluzją, wytworem umysłu. Próbował pokazać im, że znajdują się w pułapce umysłu, a nie żołnierzy. Ale oni nie potrafili go usłyszeć.</p>

<p>Słyszałam jak mówi: “Ci, którzy mają uszy do słuchania niech słuchają.”</p>

<p>Przyprawiało mnie to o smutek. Czułam, że to, co przyszedł zrobić, nie spełni się, gdyż oni nie mogli go usłyszeć (<i>teraz płakała</i>). Smutno mi było z tego powodu. Myślałam, że mogłabym być jak matka ...</p></dir>

<i><p>Poprosiłam, by przesunęła się do przodu we wspomnieniach – do czasu po ukrzyżowaniu Issy. ... Jest niebezpiecznie i zachodzi potrzeba odejść ...</p>
</i><p>Ruth przerwała i powiedziała:</p><dir>

<p>Muszę ci powiedzieć, że Marys wiedziały. Marys zebrały się, by opuścić kraj.  Marys czerpały siły ze Słowa. A Słowo było z nimi. Ale Słowo nie było (tak jak to widzę) z mężczyznami. Słowo było z Marys. I Marys zabrały to Słowo do Francji.</p></dir>

<i><p>Spytałam ją, czy podróżuje z nimi ktoś inny.</p></i><dir><i>

</i><p>Było kilka łodzi. Ale to Marys trzymały ... (do teraz już urosłam, jestem starsza, myślę, ze mam około 16 lat).  Jestem jedną ze służących czy służebnic Marys.</p></dir>

<p>Komentarz Val: Wydaje się to sensowne. Skoro Jezus miał 18 lat, gdy się urodziła, a teraz ona ma 16 lat, krótko po ukrzyżowaniu go w wieku 33 lat, znaczyłoby, że gdyby Jezus żył, miałby 34 lata.</p>
<i><p>Spytałam ją, kim były Marys.</p></i><dir><i>

</i><p>Marys to Maria Magdalena, moja matka (matka Jezusa) oraz kobieta nazywana Miriam – ona też jest Marią. Wydaje się, że jest kuzynką Jezusa.</p>

<p>Jest jeszcze jedna nazywana Marią. Zdaje się, że jest ich cztery, chociaż nie wiem, czy ta ostatnia jest z nimi, czy inną funkcję. Ale jest cztery kobiety. Nie wiem czy on pomaga tamtym trzem kobietom zachowywać Słowo, czy wszystkie cztery zachowują Słowo. Tak więc – o mój Boże – <b><i>one mają Świętego Graala</i></b>.</p>
</dir>

<p>Ruth mówi, że patrzy na Światło wychodzące z niego. Jest metalowy i ma kształt tworząc wzór.</p><dir>

<p>Przypomina mi puchar zwycięzców. Jest na nim coś wygrawerowane. Został zaprojektowany przez kogoś jeszcze w wiosce.</p>

<p>Zawsze jest umieszczony powyżej moich oczu – zawsze patrzę na niego do góry.</p></dir>

<i><p>Czy inne Marys opowiadają o nim?</p></i><dir><i>

</i><p>One zdają się oddawać mu cześć. Jezus zwykł pić z niego.</p></dir>

<i><p>Czy to ten, o którym mówi się, że był na Ostatniej Wieczerzy?</p></i><dir><i>

</i><p>Tak myślę – ale nie wiem, bo nie byłam na Ostatniej Wieczerzy.</p>

<p>Myślę, że jest to jedyna rzecz, jaką mamy z tych, co należały do niego. Ja ... Och! Myślę, że zaciekawi cię, iż jego ręce dotknęły go po zmartwychwstaniu.</p>
</dir>

<i><p>Czy ten czas to po jego wskrzeszeniu, po zmartwychwstaniu?</p></i><dir><i>

</i><p>Tak. Ma w sobie dźwięk. <br>
<br>
Emanuje dźwięk.<br>
<br>
Brzmi jak wyższy dźwięk.</p>

<p>W grocie jest półka i Marys zrobiły z niej część ich ołtarza. Składają mu podziękowania, gdyż osi w sobie Światło i dla nich reprezentuje Światło. Jest w nim moc – na nim się skupiają.</p>
<p>
Jest on jak wir do innego Świata. <br>

... Jest on niczym brama. Opalizuje. Połyskuje!<br>
... Ma w sobie wszystkie kolory.<br>
</p></dir>

<i><p>Spytałam ją, gdzie to jest.</p>
</i><p>Nie wiedziała, gdzie się znajduje.</p><dir>

<p>Przybiłyśmy do brzegu, gdzie przywitali nas pasterze. Ale Maria nazywa ich <b><i>mędrcami</i></b>. Tylko wydają mi się pasterzami. Wiedzieli, że przypływamy. Zabrali nas do tej groty, gdyż Graal musi być bezpieczny.</p>
</dir>

<i><p>Spytałam ją, czy byli daleko od morza.</p>
</i><p>Ruth powiedziała: tak.</p><dir>

<p>Okolica jest górzysta; tu znajduje się grota.</p></dir>

<p>Po tym musiała wrócić (z regresji w przeszłe życie).</p>
<i><p>Najpierw spytaliśmy, czy mogłaby spytać, czy wie gdzie obecnie znajduje się ten Kielich.</p></i><dir><i>

</i><p>O ile mogę dostrzec, Kielich został zdematerializowany. Powrócił do swojego prawdziwego świata. Ale może być ponownie podarowany.</p></dir>

<i><p>Jeszcze tylko jedno pytanie. Czy masz przy sobie Babę?</p></i><dir><i>

</i><p>On mówi, aby pamiętać o Pirenejach.</p>
<hr width="60%" size="7" color="red">
<br>
<p>Drogi Czytelniku: Przyjmij do uprzejmej wiadomości, że material udostępniany na tej stronie jest regresją w przeszłe życie, a zatem jest przeżyciem osoby z tego życia. Jest on chroniony prawami autorskimi (copyright "Rosemary"). Jest to dzieło Val Barrow. Materiał ten NIE może być kopiowany i umieszczany gdzie indziej w Internecie lub innych mediach. </p></dir>

</font></td>
</tr>
<tr><td valign="MIDDLE">
<p class="text-center">© <a href="http://www.valeriebarrow.com/copyright.php" rel="no-follow"><u><font color="#0000ff">Copyright Valerie Barrow</font>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Regresja do przeszłego życia<br>
Ruth, przyrodniej siostry Issy – Jezusa</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>