<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Alcheringa,
                Kariong i historia ludzi</li>
                </ol>
            </nav>
            <article class="container">
               <h2><a href="http://www.valeriebarrow.com/homepage/site-welcome.html" rel="no-follow">Alcheringa,
                Kariong i historia ludzi</a></h2>

                
                <div class="Section2">
                
                <h3><a name="ja-content-main1"></a><span style="font-size:16.0pt">Witam
                wszystkich!</span></h3>
                
                <p>W minionym tygodniu byliśmy
                na drugim filmowym nagraniu, <a href="Kariong%20i%20starozytni%20Egipcjanie%20w%20Australii.html">kontynuując
                pracę z zespołem przygotowującym film dokumentalny „<b>Wiritjin</b>”</a>, które
                to słowo jest używane do określania filozofii „Blackfella – Whitefella
                Dreaming, together (Ciemny i biały faceci śniący razem).”</span></p>
                
                <p>Gdy za pierwszym razem
                wstępowaliśmy w rejon Kariong, gdzie zachowały się wszystkie te historie,
                mieliśmy mistyczne odczucia.</span></p>
                
                
                <p style="text-align:center" align="center"><img src="../../../img/SiteWelcome-Val_1.jpg" alt="Tree photo in mist nearby Kariong" width="588" height="600" border="0"></span><br>
                <br>
                <i>Obraz we mgle – można dopatrzeć się tu ducha</i></span></p>
                
                
                <p style="text-align:center" align="center"><img src="../../../img/SiteWelcome-Val_2.jpg" alt="Cameraman walking in the mist with a large spider web nearby" width="600" height="449" border="0"></span><br>
                <br>
                <i>Operator filmowy idący we mgle obok wielkiej pajęczyny</i></span></p>
                
                
                <p>Alcheringa, duchowy przodek
                czasu Stwarzania przemawiał do nas, gdy siedziałam pod świętym drzewem nazywanym
                Grandmother (Babcia) – strażnikiem tego miejsca ze starożytnymi egipskimi
                hieroglifami w Kariong, w pobliżu Kuringai National Park (Parku Narodowego
                Kuringai).</span></p>
                
                <p>Wcześniej zapowiedział, że
                chciałby nam powiedzieć coś więcej. Przypomniał nam, że minęło 17 lat, od kiedy
                po raz pierwszy przemawiał do nas w Kariong. Wtedy powiedział, że hieroglify
                znaczą różne rzeczy dla różnych ludzi. Wspomniał też, że da klucze do Bram
                Wiedzy.</span></p>
                
                <p class="MsoQuote" style="margin-left:0cm">Te
                rzeczy nastąpiły. Dowiedzieliśmy się, że 900000 lat temu z Plejad przybyła
                Misja 50000 gwiezdnych ludzi w ogromnym statku nazywanym Rexegena. Miała ona w
                planach ustanowienie na tej planecie społeczności Istot Światła, która powinna
                zachować tutaj wyższą energię i rozjaśnić ten bardzo ciemny zakątek galaktyki.</span></p>
                
                <p>Plan ten nie powiódł się,
                gdyż statek bazowy został zaatakowany i zmieciony z nieba, a przy życiu
                uchowało się jedynie 90 ocalonych. Udało im się uciec w małych statkach
                zwiadowczych i wylądować w obszarze znanym dzisiaj jako Kariong. Ich nowo
                narodzone dzieci nie mogły przeżyć w nieprzyjaznej tutejszej atmosferze,
                dlatego postanowiono skrzyżować własne DNA z matkami wywodzącymi się z
                istniejących stworzeń podobnych do wyprostowanej małpy.</span></p>
                
                <p>Te nowe dzieci były
                uduchowionymi pierwotnymi Aborygenami. Miały duże czaszki, mniej włosów na
                swoich ciałach i rozwinięte zdolności parapsychiczne odziedziczone po
                gwiezdnych ludziach. Ci nowi ludzie we wszystkim postrzegali Boga.</span></p>
                
                <p>Alcheringa (albo Alchquaringa)
                był głównodowodzącym wspomnianej Misji. Zginął w tamtym ataku, ale od owego
                czasu jego duch zajął się opieką nad pierwszymi ludźmi.</span></p>
                
                
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;
                text-align:center" align="center"><span style="
                " lang="EN-GB"><img src="../../../img/SiteWelcome-Val_3.jpg" alt="Valerie Barrow with film crew, under the grandmother tree at Kariong" width="449" height="600" border="0"></span><br>
                <br>
                <i>Ja na zdjęciu pod drzewem ‘Grandmother.’ Liczy sobie ono setki </i></span></p>
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;
                text-align:center" align="center"><i>lat. Towarzyszy mi ekipa
                filmowa – Olivia Olley (reżyseria, </span></i></p>
                
                <p style="text-align:center" align="center"><i>scenariusz i produkcja), Gavin (kamera) i Ben (dźwięk)</span></i></p>
                
                
                <p style="text-align:center" align="center"><img src="../../../img/SiteWelcome-Val_4.jpg" alt="Valerie Barrow with film crew, under the grandmother tree at Kariong" width="600" height="449" border="0"></span><br>
                <br>
                <i>Inne ujęcie Valerie przy drzewie ‘Grandmother’ oraz filmującej ekipy </i></span></p>
                
                
                <p>Alcheringa powiedział nam,
                że obszar Kariong jest święty i przechowuje wiele tajemnej wiedzy, którą
                rozumieli Starsi tutejszych plemion. Ich sztuka naskalna obrazowała opowieści
                zawierające tę wiedzę – zapis bardzo starożytnej historii. Wiedza o odległej historii
                nie jest zapisana w książkach, lecz raczej zawarta jest w świadomości
                wszystkiego, co się znajduje na tej ziemi. Wszystko tutaj pochodzi z innych
                miejsc w Kosmosie. Powiedział, że ci ‘starzy faceci’ wiedzą o tym i że
                powinniśmy uszanować i wysłuchać tego, co mają do powiedzenia, zanim wiedza ta
                nie zostanie utracona.</span></p>
                
                <p>Zapewnił nas, że miejsce z
                hieroglifami stanowi starożytny Egipski Grobowiec, w którym później dokonano
                zmian, ale bliższe badanie może jeszcze ujawnić zachowane dowody na to, że
                starożytni Egipcjanie przybyli tu na łodziach 4000 do 5000 lat temu. Nie bardzo
                chciał wymieniać czasu, gdyż naukowcy mają odmienne sposoby mierzenia minionego
                czasu. Zauważył, że mądrzy ludzie wśród Aborygenów zachowali wiedzę o
                stworzeniu ziemi i że owe dawne wizyty Egipcjan stanowiły pielgrzymki w celu
                zdobycia od nich tej wiedzy.</span></p>
                
                
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;
                text-align:center" align="center"><span style="
                " lang="EN-GB"><a href="http://www.valeriebarrow.com/images/wall-glyphs-large.jpg" target="_blank" rel="no-follow"><span style="text-decoration:none"><img src="../../../img/SiteWelcome-Val_5.jpg" alt="Glyphs on moss encrusted slab at Kariong" width="449" height="600" border="0"></span></a></span><br>
                <br>
                <i>Widok na wejście do groty ze starożytnymi egipskimi glifami. </i></span></p>
                
                <p style="text-align:center" align="center"><i>U dołu znajduje się szyb wentylacyjny prowadzący do
                grobowca</span></i></p>
                
                
                <p style="margin-bottom:0cm;margin-bottom:.0001pt;
                text-align:center" align="center"><span style="
                " lang="EN-GB"><a href="http://www.valeriebarrow.com/images/entrance-large.jpg" target="_blank" rel="no-follow"><span style="text-decoration:none"><img src="../../../img/SiteWelcome-Val_6.jpg" alt="Air shaft said to lead to an ancient Egyptian tomb, filled in, at Kariong" width="600" height="449" border="0"></span></a></span><br>
                <br>
                <i>Zasypany szyb wentylacyjny prowadzący do grobowca. </i></span></p>
                
                <p style="text-align:center" align="center"><i>Kliknij na obrazek, by zobaczyć go w większej
                rozdzielczości</span></i></p>
                
                
                <p>Dalej przypomniał nam, że
                Ziemia kiedyś nie miała tylko trzech wymiarów, lecz była światem czwartego
                wymiaru, który jest następnym w stosunku do naszego i że ci mądrzy ‘faceci,’
                będąc tu na Ziemi, potrafili wchodzić do tych wymiarów i z nich wychodzić;
                wchodząc do następnego wymiaru znikali z oczu i pojawiali się gdzie indziej.
                Potrafili też sprawiać pojawianie się rzeczy i ich znikanie. </span></p>
                
                <p style="text-align:center" align="center"><img src="../../../img/SiteWelcome-Val_7.jpg" alt="The Grandmother tree at Kariong" width="600" height="449" border="0"></span><br>
                <br>
                <i>Zdjęcie liczącego sobie setki lat 'Grandmother Tree'</i></span></p>
                
                
                <p style="text-align:center" align="center"><img src="../../../img/SiteWelcome-Val_8.jpg" alt="John Barrow in the mist at Kariong" width="600" height="449" border="0"></span><br>
                <br>
                <i>John Barrow we mgle w Kariong </i></span></p>
                
                
                <p>Jeśli chcecie poczytać
                więcej o Alcherindze i o tym jak zostali stworzeni nasi praprzodkowie, możecie
                to znaleźć w e-książce <i><a href="starship.htm">Gwiezdni ludzie ponownie</a></i>.
                Zawiera ona całą opowieść Alcheringi. Angielską wersję (<i><a href="http://www.valeriebarrow.com/books-and-news/books-by-valerie/star-people-revisited.html" rel="no-follow">Star
                People Revisited</a></i>) można zamówić w dowolnym miejscu na świecie za 7.00
                AUD. </span></p>
                
                
                <p>W zakładce na naszej <a href="http://www.valeriebarrow.com/" rel="no-follow">stronie domowej</a> możecie zapisać się na
                otrzymywanie <i>Newsletterów</i>.&nbsp; A oto link do mojego <a href="http://www.facebook.com/profile.php?id=554738736" rel="no-follow">Facebook</a>a. </span></p>
                
                
                <p style="text-align:center" align="center"><span style="color:#9900FF">Wiele błogosławieństw dla was wszystkich
                i niechaj Pokój wypełnia wasze dni <br>
                <br>
                Valerie</span>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Alcheringa,
                Kariong i historia ludzi</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>