<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta
                w Glastonbury: Stonehenge i Avebury</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Wizyta
                w Glastonbury: Stonehenge i Avebury</h2>
                <p class="text-center">
                <img src="../../../img/stonehenge_3152d32d.jpg" name="grafika1" width="408" height="517" border="0" align="BOTTOM"></font><br><br></font></font></font>Zdjęcie
                lokalizacji Stonehenge World Heritage; <br>obejmuje ono  2600
                hektarów (6500 akrów) kredowych nizin <br>i pól uprawnych w Wiltshire</font></font></font></p>
                <p>
                John
                ja pojechaliśmy do Stonehenge i Avebury w Wiltshire, Zjednoczone
                Królestwo. W 1986 r. znalazły się one na liście miejsc Światowego
                Dziedzictwa (World Heritage Sites) z powodu wyjątkowych
                prehistorycznych pomników pochodzących z okresów neolitu i brązu. </font></font></font>
                </p>
                <p>
                Stonehenge
                (3000–1600 r.p.n.e.) jest najsłynniejszym i najbardziej
                wymyślnym kręgiem kamiennym na świecie. Budowla ta jest zgrana ze
                wschodem i zachodem Słońca podczas przesilenia. Starożytne i
                tajemnicze Stonehenge jest także zadziwiającym osiągnięciem
                prehistorycznej inżynierii.</font></font></font></p>
                <p>
                Patrząc
                z drogi na Stonehenge John pomyślał, że musi to być budowla
                pochodzenia pozaziemskiego. Bo nie widać sposobu, w jaki starożytni
                mieszkańcy tej krainy mogliby przenieść te olbrzymie kamienie na
                odległość 25 mil [44 km] przez równiny Salisbury z miejsca, gdzie je
                wydobywano w czasach starożytnych, na wysokość 330 stóp [100 m]
                n.p.m.</font></font></font></p>
                <p>
                Powiedział:
                „To musi być ta sama historia, co w przypadku olbrzymich figur
                kamiennych na Wyspie Wielkanocnej – skąd się wzięły, Bóg tylko
                wie.”</font></font></font></p>
                <p>
                <font><b>Mówi
                Alcheringa:</b></font></font></font></p>
                <p>
                (Informacje
                przekazane przez Alcheringę podano w innym kolorze.)</font></font></font></p>
                <p style="margin-left: 0.66cm; margin-right: 1.19cm; margin-bottom: 0.49cm;">
                <font><i><b>Valerie:</b></i></font></font></font><font>
                Spytałam Alcheringę o początki Stonehenge. Mówi się, że te kamienie
                zostały tam postawione 3000 lat przed naszą erą lub nawet 5000 lat
                p.n.e. Czy mógłbyś powiedzieć kiedy zostały tam umieszczone?</font></font></font></p>
                <p>
                <i><b>Alcheringa:</b></i></font></font></font><b>
                Pierwotne kamienie zostały umieszczone przed upadkiem Atlantydy –
                innymi słowy, ich wiek wynosi ponad 12000 lat. Jednak mniejsze
                kamienie zostały dodane przez kapłanów Druidów. My, jak Błękitni
                Ludzie, nauczyliśmy ludzi tamtych czasów rozumienia ceremonii
                związanych z astronomią i astrologią i robiliśmy co w naszej mocy, by
                pomóc im zrozumieć te wpływy na Ziemi.</b></font></font></font></p>
                <p>
                <b>Jak
                powiedziałem, miejsce to zmieniło się od czasu, gdy przedstawiliśmy
                je małym Ziemianom. Jednak, niestety, później wprowadzono pewne
                obrządki i składano ofiary. Nie takie były zamierzenia – nie
                tego ich uczyliśmy.</b></font></font></font></p>
                <p>
                <b>Z
                punktu widzenia gwiezdnych ludzi, bardzo łatwo było podnosić te
                olbrzymie kamienie za pomocą lewitacji i rozmieścić na okręgu. Od
                kiedy wzniesiono kamienne kręgi wystąpiły ruchy w ziemi i niektóre
                poprzewracały się; ale, jak już mówiłem, prze setki i tysiące lat
                dodawano coś do kręgów. Pierwotną ich rolą było zgranie ze Słońcem –
                podczas przesilenia letniego i zimowego.</b></font></font></font></p>
                <p>
                 (Więcej
                o letnim przesileniu w Stonehenge można przeczytać w </font></font></font><u><a href="http://news.nationalgeographic.com/news/2010/06/100621-summer-solstice-2010-first-day-of-summer-longest-year-science/" target="_blank">artykule
                National Geographic</font></a></u></font>;
                patrz też National Geographic o </font></font></font><u><a href="http://news.nationalgeographic.com/news/2010/12/101220-lunar-eclipse-winter-solstice-2010-science-shortest-day-first/" target="_blank">przesileniu
                zimowym</font></a></u></font>.)</font></font></font></p>
                <p>
                <i><b>Alcheringa:</b></i></font></font></font><b>
                Był to, i nadal jest, najlepszy czas na obrządki i podnoszenie
                energii za pomocą modlitw w tamtych czasach, do zgrania z centrum
                ziemi. </b></font></font></font>
                </p>
                <p style="margin-left: 0.66cm; margin-right: 1.19cm; margin-bottom: 0.49cm;">
                <font><i><b>Valerie:</b></i></font></font></font><font>
                Dziękuję. Czy jest cokolwiek innego, co mogłabym powiedzieć? Mam
                problem z pisaniem tego artykułu!</font></font></font></p>
                <p>
                <i><b>Alcheringa:</b></i></font></font></font><b>
                Możesz zacytować mnie, moja Droga. Możesz zasugerować, aby ludzie
                sami zbadali sprawę Stonehenge i Avebury.</b></font></font></font></p>
                <p>
                <b>Chcę
                przypomnieć ci, że w tym rejonie istnieje wiele, wiele kręgów
                zbożowych – nie jest to przypadkowe. Obszar ten jest punktem
                światła na tej ziemi, podobnie jak inne punkty takie jak piramidy w
                Egipcie i góra Uluru w środku Australii. Są też inne. Te punkty
                energii podnoszą świadomość.  Swiadomość ludzi może być podniesiona,
                jeśli są otwarci na zmiany. Tyle tylko masz powiedzieć, moja droga.</b></font></font></font></p>
                <p style="margin-left: 0.66cm; margin-right: 1.19cm; margin-bottom: 0.49cm;">
                <font><i><b>Valerie:</b></i></font></font></font><font>
                Ach, w porządku. Dziękuję ci. Mówi się o Druidach. A co powiedziałbyś
                o Celtach – czy spełniali jakąś rolę w starożytności? A także o
                Bóstwach (miałam na myśli Izydę i Ozyrysa z Egiptu)?</font></font></font></p>
                <p>
                <i><b>Alcheringa:</b></i></font></font></font><b>
                To jest to samo, moja droga. Bóstwa to gwiezdni ludzie. Oni
                rzeczywiście wpływali na ludzi. I właśnie to ci mówię – w tzw.
                obrzędach pogańskich skupiano się na Słońcu. </b></font></font></font>
                </p>
                <p style="margin-left: 0.66cm; margin-right: 1.19cm; margin-bottom: 0.49cm;">
                <font><i><b>Valerie:</b></i></font></font></font><font>
                Tak, rzeczywiści – słońce jest ich centralną sprawą,
                oczywiście. Dziękuję – dziękuje.</font></font></font></p>
                <p>
                <i><b>Alcheringa:</b></i></font></font></font><b>
                Cała przyjemność po mojej stronie.</b></font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_m2f04d17b.jpg" name="grafika2" width="525" height="293" border="0" align="BOTTOM"></font><br><br></font></font></font>Stonehenge
                podczas wschodu Słońca</font></font></font></p>
                <p>
                Kiedy
                z Johnem przyjechaliśmy do Stonehenge, było tam setki turystów
                czekających na przejście pod drogą, aby dojść na miejsce. Nie
                pozwolono nam na spacer blisko tych wielkich kamieni. Zauważyliśmy
                gromadkę ptaków, które siadały na jednym z nadproży akurat, gdy my
                przyszliśmy, a gdy odchodziliśmy, one odleciały. Uznaliśmy, że był to
                ‘znak’ od Ducha Świętego, sygnał, że są z nami.</font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_788733dd.jpg" name="grafika3" width="600" height="450" border="0" align="BOTTOM"></font><br><br></font></font></font>Stado
                ptaków przylatuje do Stonehenge</font></font></font></p>
                <p>
                W
                1953 r. odwiedziłam to miejsce jako młoda kobieta i wówczas byłam
                rozczarowana, że nie mogę chodzić wewnątrz kręgu ani dotykać
                ogromnych kamieni. Cały czas miałam nadzieję na znak od Świętego
                Ducha, ale poza tymi ptakami siadającymi na jednym szczególnym
                nadprożu, nie było już nic. </font></font></font>
                </p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_4dfcc0e8.jpg" name="grafika4" width="600" height="444" border="0" align="BOTTOM"></font><br><br></font></font></font>Na
                szczycie postumentu w Stonehenge widać stado ptaków</font></font></font></p>
                <p>
                Szczerze
                mówiąc, John i ja czuliśmy, że czegoś tu brakuje, a mogło to być to,
                że chodzili tu wszyscy ci ludzie w braku jakiegoś obrządku …
                dla uhonorowania tego starożytnego świętego miejsca. To nas smuciło. </font></font></font>
                </p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_m5015d9f9.jpg" name="grafika5" width="564" height="522" border="0" align="BOTTOM"></font><br><br></font></font></font>Stonehenge
                w śniegu</font></font></font></p>
                <p>
                Uzyskaliśmy
                też inny wgląd w związku z Kredą bądź wapniem znajdującym się na
                dużym obszarze południowej Anglii, a także północnej Francji, który
                wskazuje starodawny związek tych dwóch miejsc, ongiś, przed znacznymi
                ruchami tektonicznymi, połączonych.</font></font></font></p>
                <p>
                Z
                przyjemnością podróżowaliśmy po regionie Wiltshire, starożytnej
                krainie przesiąkniętej mitami i legendami. Słońce prześwitywało przez
                duże drzewa liściaste wiszące nad wąskimi drogami miedzy kamiennymi
                ścianami. Minęliśmy kilka Białych Koni wyżłobionymi wysoko ponad nami
                w kredzie wzgórz pokrytych zielenią, chociaż nie do wszystkich
                zdecydowaliśmy się maszerować długimi ścieżkami.</font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_24c4254d.jpg" name="grafika6" width="600" height="444" border="0" align="BOTTOM"></font><br><br></font></font></font>Jeden
                z Białych Koni w kredowych wzgórzach Wiltshire</font></font></font></p>
                <p>
                W
                istocie niewiele przejmowałam się białymi koniami, do czasu aż
                przeczytałam w pewnej witrynie internetowej następującą informację:</font></font></font></p>
                <p>
                "Wiltshire
                to kraj białych koni. W Brytanii istnieje lub istniało przynajmniej
                dwadzieścia cztery tego rodzaju figur na wzgórzach, a przynajmniej
                trzynaście z nich znajduje się w Wiltshire, zaś kolejny, najstarszy z
                białych koni leży tuż za granicą w Oxfordshire. Większość z tych
                białych koni jest wyrytych w kredowych wzgórzach. Kredowe wzgórza
                centralnego Wiltshire stanowi idealne miejsce dla takich figur.</font></font></font></p>
                <p>
                Spośród
                trzynastu białych koni, które znajdowały się w Wiltshire, osiem
                ciągle jest widocznych, a pozostałe albo całkiem znikły, albo są
                pokryte darnią, jednak dawno temu zarosły i już ich nie widać.</font></font></font></p>
                <p>
                Wbrew
                powszechnemu mniemaniu, większość białych koni nie pochodzi z
                dalekiej przeszłości. Jedynie biały koń z Uffington ma pochodzenie
                prehistoryczne, licząc sobie około trzech tysięcy lat. Większość z
                pozostałych datuje się w przybliżeniu na ostatnie trzysta lat. Biały
                koń na zboczu może być tworem niestabilnym, zsuwającym się, dlatego w
                niektórych przypadkach w ogóle nie można określić czasu ich
                powstania.</font></font></font></p>
                <p>
                Niniejsza
                witryna (</font></font></font><u><a href="http://www.wiltshirewhitehorses.org.uk/" target="_blank">Wiltshire
                White Horses</font></a></u></font><u>)</u></font></font></font>
                jest poświęcona koniom w Wiltshire, ale stara się włączyć wszystkie
                inne białe konie na zboczach w Brytanii oraz gdzie indziej. Obejmuje
                ona także takie, które nie są żłobieniami w kredzie, ale zostały
                stworzone innymi sposobami. Nie ma tam jednak innych figur poza
                białymi końmi.” </font></font></font>
                </p>
                <p>
                <font><b>Znaczenie
                Białego Konia </b></font></font></font>
                </p>
                <p>
                „Biały
                Koń  to jedno z najpopularniejszych haseł związanych z końmi w
                internecie. Baza danych Overture liczy 15261 zapytań w grudniu [2010
                r.] tylko w języku angielskim. Dlaczego? Cóż specjalnego jest w
                Białym koniu?</font></font></font></p>
                <p>
                 Odpowiedź
                zawiera się w tym, że Biały Koń ma skrajnie różne znaczenie czy wagę
                dla różnych ludzi i różnych religii świata. To zróżnicowanie
                interesów składa się na ogromną liczbę zapytań. Niemniej, dominuje
                jeden wspólny tu temat: religia, a raczej duchowość – obsesja
                na punkcie prawd o samym naszym przetrwaniu, o naszym, jako ludzkiej
                rasy, znaczeniu oraz obecność towarzyszącej temu ikonografii.</font></font></font></p>
                <p>
                Główne
                powody zainteresowania Białym Koniem są następujące:</font></font></font></p>
                <ul>
                    <li><p style="margin-right: 0.6cm; line-height: 110%">
                    Biały
                    Koń był religijnym symbolem Celtów i Rzymian. Istnieje wielka
                    fascynacja Druidami,  Stonehenge, religią Celtów oraz pochodzeniem
                    rzeźb w kredzie na nizinach Brytanii oraz w innych miejscach. Epona
                    i jej Biały Koń dzisiaj zyskała status kultu wśród ludzi
                    poszukujących odwiecznych prawd. Złotnicy wytwarzają amulety Epony i
                    naszyjniki.</font></font></font></p>
                    </li><li><p style="margin-right: 0.6cm; line-height: 110%">
                    Jezus
                    jechał na Białym Koniu, pisma święte wspominają o Białym Koniu w
                    Jeźdźcach Apokalipsy, a na Białym Koniu jechał Święty Jerzy w
                    wyprawie krzyżowej. Biały Koń zyskał ogromne znaczenie w ikonografii
                    u chrześcijan. Krzyżowcy, jeśli było to możliwe, jeździli na Białych
                    Koniach a legenda głosi, że zgromadzili armie z białymi flagami i
                    białymi końmi. Na początku Reformacji zwolennicy Martina Luthera
                    spotykali się w gospodzie White Horse (Biały Koń) w Cambridge, a
                    ikonografia przekroczyła Atlantyk wraz z Ojcami Pielgrzymami i
                    zagnieździła się w Stanach Zjednoczonych. Białe Konie stały się
                    symbolami potęgi. Zdobywcy i generałowie armii brali białe konie na
                    swoje wierzchowce. </font></font></font>
                    </p>
                    </li><li><p style="margin-right: 0.6cm; line-height: 110%">
                    Hodowla
                    białych koni jako koni wojennych stała się modna. Biały Koń stał się
                    symbolem statusu. </font></font></font>
                    </p>
                    </li><li><p style="margin-right: 0.6cm; line-height: 110%">
                    Białe
                    Konie hodowano z powodu ich piękna, wartości symbolicznej oraz jako
                    wierzchowce. </font></font></font>
                    </p>
                    </li><li><p style="margin-right: 0.6cm; margin-bottom: 0.21cm; line-height: 110%">
                    Białe
                    Konie stały się popularnymi tematami dla słynnych malarzy, takich
                    jak Gaugin i Constable.</font></font></font></p>
                    </li><li><p style="margin-right: 0.6cm; margin-bottom: 0.49cm;">
                    Białe
                    Konie z Hiszpani i Camargue stanowią opokę dla hodowli białych koni,
                    których posiadaniem dzisiaj się szczycimy i je ujeżdżamy dla
                    przyjemności."</font></font></font></p>
                </li></ul>
                <p>
                 Cytat
                z: </font></font></font><u><a href="http://www.hintsandthings.co.uk/kennel/White%20horse.htm" target="_blank">Hints
                and Things</font></a></u></font>.</font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_m7a98558c.jpg" name="grafika7" width="500" height="373" border="0" align="BOTTOM"></font><br><br></font></font></font>Stado
                białych koni w Camargue – Les Saintes Maries de la Mer</font></font></font></p>
                <p>
                Czyż
                to nie jest ciekawe – widzieliśmy białe konie w Camargue
                podczas </font></font></font><u><a href="evocation.htm" target="_blank">nocy
                Wspominania</font></font></a></u></font><u>.</u></font></font></font>
                Zobaczyliśmy tam miejsce, gdzie rodzina Jezusa przybiła do brzegu w
                południowej Francji po ucieczce z Egiptu.</font></font></font></p>
                <p>
                Symbol
                białego konia był najwyraźniej znany 5000 lat temu w Briton –
                nie mogę nie wspomnieć chwili, kiedy po raz pierwszy zbudziłam się na
                'Głos' niewidzialnej istoty. Później, gdy zastanawiałam się kim może
                być ta Istota, nagle zobaczyłam wewnętrznym okiem pięknego białego
                konia  ze skrzydłami. Pierwszą myślą było 'Pegaz.' </font></font></font>
                </p>
                <p>
                Innym
                razem, kiedy medytowałam o Sai Babie, wewnętrznym okiem zobaczyłam
                brodatego mężczyznę w białych szatach siedzącego na pięknym białym
                koniu. Podjechał do mnie i podał mi duży zwój. Niedługo potem
                otrzymałam materiał do książki „Alcheringa and the first
                ancestors" [Alcheringa i pierwsi przodkowie, pierwotny tytuł
                <a href="starship.htm">Gwiezdnych Ludzi</a>].</font></font></font></p>
                <p>
                John
                powiedział: „Napoleon posiadał mnóstwo białych koni –
                najsłynniejszym był Marengo. Nie udawał się bez niego na pole bitwy i
                mówi się, że przegrał bitwę pod Waterloo ponieważ stał na ziemi, a
                nie siedział na koniu.”</font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_m7ef7793b.jpg" name="grafika8" width="472" height="287" border="0" align="BOTTOM"></font><br><br></font></font></font>Napoleon
                na swoim Białym Koniu</font></font></font></p>
                <p>
                <br><br>
                </p>
                <p>
                Przychodzą
                mi na myśl ludzie posiadający pamięć bycia gwiezdnymi ludźmi i
                przodkami ludzkiej rasy. Czy nie ma związku tego, że rok w rok
                pojawia się tak wiele coraz bardziej złożonych kręgów zbożowych z
                naszym uświadomieniem sobie istnienia gwiezdnych ludzi, o których
                wiemy, że to właśnie oni tworzą te kręgi?</font></font></font></p>
                <p>
                Proszę
                popatrzeć na niektóre z tych kręgów zbożowych. Wiele z nich pojawiło
                się w południowej części Anglii, w szczególności w Wiltshire, w
                pobliżu tych świętych miejsc.</font></font></font></p>
                <p>
                <u><a href="http://www.google.com.au/images?um=1&amp;hl=en&amp;safe=active&amp;biw=1366&amp;bih=643&amp;as_st=y&amp;tbs=isch%3A1%2Citp%3Aphoto&amp;sa=1&amp;q=Crop+Circles+Wiltshire+2010&amp;aq=f&amp;aqi=&amp;aql=&amp;oq=&amp;gs_rfai=" target="_blank">Link
                do kręgów zbożowych w Wiltshire, Zjednoczone Królestwo, 2010</font></a></u></font></p>
                <p>
                <u><a href="http://www.cropcircleconnector.com/inter2010/inter2010.html" target="_blank">Link
                do kręgów zbożowych – reszta świata</font></a></u></font>
                </font></font></font>
                </p>
                
                <p lang=""class="text-center">
                <img src="../../../img/stonehenge_68f25051.png" name="grafika10" width="120" height="26" border="0" align="BOTTOM"></font></p>
                <p>
                <i><b>Avebury
                w Wiltshire</b></i></font></font></font>
                było naszym następnym celem podróży. Tutejszy obszar z kamiennymi
                kręgami jest tak duży, że łatwiej je oglądać na zdjęciach z lotu
                ptaka. Jest to też centrum ogromnej aktywności powstawania kręgów
                zbożowych.</font></font></font></p>
                <p>
                <u><a href="http://www.google.com.au/images?um=1&amp;hl=en&amp;biw=1366&amp;bih=643&amp;tbs=isch%3A1&amp;sa=1&amp;q=Avebury+stone+circle&amp;aq=f&amp;aqi=g1&amp;aql=&amp;oq=&amp;gs_rfai=" target="_blank">Kliknijcie
                tutaj, by obejrzeć zdjęcia kręgów kamiennych Avebury</font></a></u></font><u>.</font></font></u></font>
                </font></font></font>
                </p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_m411b8424.jpg" name="grafika11" width="600" height="449" border="0" align="BOTTOM"></font><br><br></font></font></font>Rów
                i kamienie w Avebury.</font></font></font></p>
                <p>
                <i><b>Avebury</b></i></font></font></font>
                jest miejscem starożytnego pomnika składającego się z wielkiego </font></font></font><i>henge</i></font></font></font>
                [obszar z kręgiem kamiennym otoczonego nasypem i rowem], kilku kręgów
                kamiennych i </font></font></font><i>barrow
                </i></font></font></font>(kurhanów),
                otaczających wioskę Avebury w angielskim hrabstwie Wiltshire. Jest to
                jeden z najpiękniejszych pomników neolitu w Europie a liczy sobie
                około 5000 lat. Chociaż jest starszy od megalitycznych kamieni
                Stonehenge, znajdujących się 32 km na południe, oba pomniki w
                szerokim sensie są sobie współczesne.</font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p style="margin-bottom: 0cm;"class="text-center">
                <img src="../../../img/stonehenge_m22149971.jpg" name="grafika12" width="600" height="400" border="0" align="BOTTOM"></font><br></font></font></font><br>
                </p>
                <p style="margin-left: 2cm; margin-right: 2cm; "class="text-center">
                Liczące
                sobie 5000 lat Silbury jest największym prehistorycznym kopcem
                usypanym przez człowieka w Europie </font></font></font>
                </p>
                <p>
                Wzgórze
                Silbury (Silbury Hill) jest sztucznym kopcem w pobliżu Avebury w
                hrabstwie Wiltshire. Jest częścią Stonehenge, Avebury i
                Stowarzyszonych Miejsc na liście miejsc Światowego Dziedzictwa
                UNESCO.</font></font></font></p>
                <p>
                Ze
                swoją wysokością 37 metres (120 stóp) Wzgórze, będące częścią
                neolitycznych pomników wokół Avebury (które obejmuje Avebury Ring i
                West Kennet Long Barrow), jest najwyższym wzniesionym przez człowieka
                kopcem w Europie i jednym z największych na świecie. Jego rozmiary są
                zbliżone do mniejszych z egipskich piramid z Gizy (Giza Necropolis).</font></font></font></p>
                <p class="text-center">
                <img src="../../../img/stonehenge_eb1df56.jpg" name="grafika13" width="600" height="450" border="0" align="BOTTOM"></font><br><br></font></font></font>Rów
                i krąg kamienny w  Avebury</font></font></font></p>
                <p>
                To
                wielkie Henge, którego wznoszenie rozpoczęło się ponad 5,000 lat
                temu, obejmuje obszar około 27 akrów [10 ha] . Budowniczowie,
                korzystając z jedynych narzędzi tamtych czasów, rogów jeleni jako
                kilofów i bydlęcych łopatek jako szufli, wykopali i przenieśli
                120&nbsp;000 metrów sześciennych materiału. Było to ogromne
                przedsięwzięcie w każdej mierze i wymagała 1500 000 roboczogodzin.</font></font></font></p>
                <p>
                W
                środku ogromnego koła znajduje się pub, w którym panuje duży ruch,
                jest hałaśliwie i i ludzie piją. John był tym bardzo zniesmaczony i
                krytykował ich. Nie podobała mu się tutejsza energia. Gdy się
                dostroiliśmy, stwierdziliśmy, że w czasach starożytnych był on
                kapłanem. Niewątpliwie z tego powodu gniewał się na zachowanie tych
                ludzi – oni nie okazywali szacunku dla środka tego bardzo
                dużego kamiennego kręgu.</font></font></font></p>
                <p>
                Położyłam
                dłonie na jednym z olbrzymich głazów – Strażniku – i
                poczułam, że niektóre z tych kamieni po ruchach w ziemi zostały
                przesunięte w niewłaściwe miejsca i że Błękitni Ludzie ponownie je
                poustawiali, tak jak wcześniej w przypadku Stonehenge, przed upadkiem
                Atlantydy.</font></font></font></p>
                <p align="JUSTIFY">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_m7fd2e054.jpg" name="grafika14" width="504" height="336" border="0" align="BOTTOM"></font><br><br></font></font></font>West
                Kennet Long Barrow</font></font></font></p>
                <p>
                Największy,
                długi kurhan w Anglii wznosi się na wysokości 107 m.n.p.m. na pagórku
                nad rzeką Kennet.  Przed 5000 lat został usypany z ziemi wykopanej z
                dwóch rowów po obu stronach. Obejmuje on pięć komnat o ścianach
                zbudowanych z głazów </font></font></font><i>sarsen
                </i></font></font></font><span>[kamieni
                piaskowca występującego w niektórych rejonach Anglii]</span></font></font></font>.
                Przez wiele wieków, przed zamknięciem i zapieczętowaniem wielkimi
                kamieniami, komory były używane jako miejsce rytualnych pogrzebów.</font></font></font></p>
                <p style="margin-right: 1.06cm; margin-bottom: 0.49cm;">
                <br><br>
                </p>
                <p class="text-center">
                <img src="../../../img/stonehenge_57cbc74e.jpg" name="grafika15" width="250" height="375" border="0" align="BOTTOM"></font><br><br></font></font></font>Wejście
                do komór  pogrzebowych w West Kennet Long Barrow</font></font></font></p>
                <p style="margin-bottom: 0cm;" align="JUSTIFY">
                <br>
                </p>
                <p style=" border-top: none; border-bottom: 0px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm;">
                <u><a href="rennes-le-chateau.htm"><b>Następny
                artykuł</b></font></font></a></u></font><b>
                będzie na temat tajemniczych Rennes Le Chateau oraz Val de Dieu
                (Dolinie Bogów w południowej Francji)</b></font></font></font>
                </font></font></font>
                </p>
                <p style="margin-left: 0.53cm; margin-right: 1.06cm; margin-top: 0.0cm; margin-bottom: 0.49cm; border-top: none; border-bottom: 0px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm; line-height: 1%" align="JUSTIFY">
                <br></p><hr>
                <p></p><divclass="text-center"><font>©
                <u><a xclass="western" href="copyright.htm">Copyright
                Valerie Barrow</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Wizyta
                w Glastonbury: Stonehenge i Avebury</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>