<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">„Góra" potwierdza znaczenie kurkumy</li>
                </ol>
            </nav>
            <article class="container">
               <h2>„Góra" potwierdza znaczenie kurkumy</h2>
               </span></a>
</span></p>

<p style="
"><img src="../../../img/upstairs-confirms1.jpg" alt="Turmic appeared miraculously" width="150" height="114" align="right"><span style="
">„Góra" (tak często się wyrażamy o sygnałach z tamtej strony)
dała mi proste potwierdzenie znaczenia <i>kurkumy</i>, gdy postanowiłam posypać
nią jedzenie.</span></p>

<p style="
"><span style="">Dla mnie był to naprawdę
mały cud. Dzień wcześniej czytałam jeden z tych przekazywanych dalej e-maili.
Było tam wszystko na temat właśnie <i>kurkumy</i> i m.in. jak ona może wyleczyć
łuszczycę. Wyjęłam więc kurkumę z kredensu, by posypać jedzenie.</span></p>

<p style="
"><span style="">Ów e-mail zaczynał się
tak: <br>
<br>
(NaturalNews) <i>Kurkuma</i> jest używana w Indiach od ponad dwóch tysięcy lat
jako pożywienie i lekarstwo nazywane Świętym Proszkiem. Medycyna ajurwedyjska
przewiduje użycie <i>kurkumy</i> do leczenia wielu przypadków, m.in. do
aplikacji na rany i infekcje. W medycynie chińskiej używa się jej jako środka
antydepresyjnego. Składnik czynny <i>kurkumy</i> to <i>curcumin</i>.
Współczesne badania pokazały, że <i>curcumin</i> ma własności antybiotyczne,
antywirusowe, przeciwzapalne i przeciwutleniające.</span></p>

<p style="
"><span style="">&nbsp;</span></p>

<p style="12.0pt;xbackground:
white"><span style="">&nbsp;</span></p>

<p style="
text-align:center;
" align="center"><span style=""><img id="Obraz 3" src="../../../img/upstairs-confirms2.jpg" alt="The bowl of turmeric" width="500" height="374" border="0"></span><span style=""><br>
<br>
<i>Talerzyk z </i>kurkumą </span></p>

<p style="
"><span style="">Gdy zaczęłam nabierać <i>kurkumę</i>
do posypania, poczułam coś twardego w proszku. Ku mojemu zaskoczeniu okazało
się, że jest tam 9 kapsułek z <i>kurkumą</i>. Otrzymałam informację, że należy
je użyć po jednej na dzień (dlatego na zdjęciu jest osiem kapsułek).</span></p>

<p style="12.0pt;xbackground:
white"><span style="">&nbsp;</span></p>

<p style="
text-align:center;
" align="center"><span style=""><img id="Obraz 4" src="../../../img/upstairs-confirms3.jpg" alt="The capsules were found in the turmeric" width="500" height="374" border="0"></span><span style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;"><br>
<br>
<i>Kapsułki znalezione w </i>kurkumie</span></p>

<p style="
"><span style="">&nbsp;</span></p>

<p style="
"><span style="">Wiem, że oddziaływuje na
wątrobę, w której tkwi problem u tych, którzy cierpią na łuszczycę.</span></p>

<p style="
"><b><i><span style="">Oto pełna treść e-maila:</span></i></b></p>

<p style="
"><span style="">Link: <a href="http://www.naturalnews.com/029525_turmeric_curcumin.html" rel="no-follow">http://www.naturalnews.com/029525_turmeric_curcumin.html</a></span></p>

<p style="
"><span style="">(NaturalNews) <i>Kurkuma</i>
jest używana w Indiach od ponad dwóch tysięcy lat jako pożywienie i lekarstwo
nazywane Świętym Proszkiem. Medycyna ajurwedyjska przewiduje użycie <i>kurkumy</i>
do leczenia wielu przypadków, m.in. do aplikacji na rany i infekcje. W
medycynie chińskiej używa się jej jako środka antydepresyjnego. Składnik czynny
<i>kurkumy</i> to <i>curcumin</i>. Współczesne badania pokazały, że <i>curcumin</i>
ma własności antybiotyczne, antywirusowe, przeciwzapalne i przeciwutleniające.</span></p>

<p style="
"><span style="">Badania prowadzone na University
of Michigan pokazały teraz, że <i>curcumin</i> w <i>kurkumie</i> pomaga
regulować pracę komórek poprzez osadzanie się w błonach komórkowych. Dzięki
temu komórki stają się mniej podatne na infekcję, a nawet na raka. To odkrycie
zaprzecza wcześniejszym założeniem, że skuteczność <i>curcumin</i> polega na
jego oddziaływaniu z proteinami w błonach komórkowych. Te nowe badania
pokazały, że błona komórkowa zmienia się pod wpływem obecności <i>curcuminu</i>
zawartego w <i>kurkumie</i>.</span></p>

<p style="
"><span style="">Badania przeprowadzone
przez Ayyalusamy Ramamoorthy’go zostały opublikowane w <i>Journal of the
American Chemical Society</i> w marcu 2009 r. Ramamoorthy w dzieciństwie, gdy
był chory, był odżywiany mlekiem z <i>kurkumą</i>, co zainspirowało go do
prowadzenia tych badań.</span></p>

<p style="
"><span style="">Ramamoorthy jest
chemikiem i biofizykiem, a jego laboratorium korzysta ze spektroskopii opartej
ma magnetycznym rezonansie jądrowym (NMR), by badać atomy i błony zbudowane z
rozmaitych protein i związków. Te studia pokazały korzyści z międzydysciplinarnego
podejścia do nauki. W tym przypadku chemik mógł coś dodać do wiedzy o
pożywieniu. W tej rozwijającej się nauce o pożywieniu pozostało wiele do
zrobienia. Grupa Ramamoorthy’go na University of Michigan prowadzi dalsze badania
<i>kurkumy</i> i curcuminu. Współpracuje z członkami Life Science Institute poszukując
związków przydatnych w leczeniu infekcji i chorób.</span></p>

<p style="
"><i><span style="">Kurkuma</span></i><span style=""> normalnie wchodzi w
skład hinduskich przypraw <i>curry</i>. Jest to żółty proszek, który używa się
też do barwienia. Inne badania pokazały korzystny wpływ <i>kurkumy</i>, która
powoduje spowolnienie rozprzestrzeniania się raka piersi u mysz, odtruwanie
wątroby, zapobiega postępowi choroby Alzheimera i zapobiega licznym formom raka
oraz dziecięcej białaczki. Pokazano, że stymuluje ona wzrost naczyń
krwionośnych, leczy zapalenia skóry takie jak łuszczyca, pobudza przemianę
tłuszczów i działa jako środek uśmierzający ból. <i>Kurkuma</i> okazała się też
skuteczna w leczeniu raka trzustki i zapalenia stawów (artretyzmu).</span></p>

<p style="
"><i><span style="">Kurkuma </span></i><span style="">jest dostępna w
większości sklepów spożywczych w działach z przyprawami oraz jest sprzedawana w
postaci tabletek w sklepach ze zdrową żywnością. Typowe dawkowanie to 250 do
500 mg. Nie jest polecana kobietom w ciąży, gdyż stymuluje macicę. Nie jest
polecana również ludziom cierpiącym na choroby pęcherzyka żółciowego i na
kamienie żółciowe.</span></p>

<p style="
"><span style="">&nbsp;[Uwaga redaktora: <i>NaturalNews
jest zdecydowanie przeciwne jakiemukolwiek wykorzystywaniu zwierząt do
testowania. W pełni popieramy stosowanie humanitarnych eksperymentów
medycznych, które przyczyniają się do poprawy zdrowia i mają na celu dobro
wszystkich żywych stworzeń.</i>]</span></p>

<p style="
"><span style="">Cały artykuł i więcej
linków można znaleźć pod adresem URL podanym w e-mailu: <a href="http://www.naturalnews.com/029525_turmeric_curcumin.html" rel="no-follow">http://www.naturalnews.com/029525_turmeric_curcumin.html</a>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">„Góra" potwierdza znaczenie kurkumy</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>