<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Czy nie urodziłeś się lecz wstąpiłeś?</li>
                </ol>
            </nav>
            <article class="container">
               <h2>Czy nie urodziłeś się lecz wstąpiłeś?</h2>
               <span style="font-size:18.0pt;
font-weight:bold"> </span></font></b></p><p><b><font><span style="font-size:18.0pt;
font-weight:bold">
<i><span style="font-style:italic">Znasz kogoś takiego?</span></i></span></font></b></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">&nbsp;</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Zjawisko to
może wyjaśnić dlaczego ktoś kochany lub przyjaciel zmienił się radykalnie!</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">&nbsp;</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Mój mąż John
stwierdził, że potrzebujemy odpoczynku i zorganizował tygodniowy pobyt w
Gościńcu Pinetrees. Wyspa Lord Howe została zaludniona już w 1834 r. Pierwotny
dom 'Pinetrees' zbudowano w 1884 r. i od tamtego czasu mieszkały tu rodziny Andrews-Nichols-Kirby.
Gościniec prowadzą dwie młodsze siostry ze swoimi mężami. John i ja
zaprzyjaźniliśmy się z jedną z nich, kiedy ich odwiedziliśmy i zostaliśmy
zaproszeni do prywatnego domu, który posiadał przepiękny widok na Mount
Lidgbird, mniejszą z dwóch wulkanicznych gór dominujących nad tą małą wyspą
koralową.</span></font></p>


<img src="../../../img/lord-howe.jpg" alt="Lord Howe Island" style="margin-left: 15px; float:right;" width="400" height="245" align="right">

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">To właśnie
Pixie zasugerowała Johnowi, abyśmy spróbowali wspiąć się najpierw na Mt.
Lidgbird w celu przygotowania się. Właściwie – jak się później okazało – mieliśmy
przekonać się, czy jesteśmy w stanie stawić czoło wyczerpującej wspinaczce na Mt.
Gower, gdyż to właśnie na nią John chciał pójść. Wydaje się nam, że tam jest
całkiem inna roślinność – tropikalna i bardzo stara. Wyspa Lord Howe znajduje
się na liście Obszarów Światowego Dziedzictwa.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Nie było
sposobu, aby odwieść Johna od wspinaczki na górę; jest Koziorożcem, który jest
znakiem urodzeniowym kozła! Nalegał, żebym poszła z nim. Ponieważ naszym celem
miała być grota ‘Dom Kozła’, wyobrażałam sobie, że nie może znajdować sie zbyt
wysoko na zboczu góry. Jakże się myliłam. Była ponad linią drzew w obszarze
gołych skał i w miejscu trudnodostępnym, wręcz niebezpiecznym. (Wszyscy ludzie
na Lord Howe byli typowymi pionierami ze skłonnością do znacznego zaniżania
odległości.) ‘Wiedziałam’, że prowadzący mnie duch chciał, abym podjęła się
wspinaczki z Johnem i że po wejściu na szczyt otrzymam wgląd w naszą duchową
podróż.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Zaraz po
wylądowaniu na lotnisku czuliśmy się jakoś ‘inaczej,’ w sposób trudny do
wyrażenia. Podziwialiśmy piękno miejsca i zachwycaliśmy się swobodą i
życzliwością wszystkich. Zauważyliśmy jednak jak bardzo miejscowi zdawali się
wszystko zaniżać. Tak jak gdybyśmy przybyli z innego kraju, mimo że przecież
byliśmy w Australii a miejscowi regularnie podróżowali na kontynent.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Źle nam się
spało, chociaż łóżko było bardzo wygodne. Dla nas była to niecodzienna
sytuacja, gdyż zwykle bardzo szybko przystosowujemy się do nowego otoczenia. Co
to było? Już pierwszego dnia John zdecydował się, że oboje będziemy wspinać
się.</span></font></p>


<img src="../../../img/ligbird-gower.gif" alt="Mt Ligbird and Mt Gower on Lord Howe Island" style="margin-left: 15px; float:right;" width="350" height="216">

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Aby dotrzeć do
Mt. Lidgbird trzeba było przejechać rowerem kilka kilometrów – "<i><span style="font-style:italic">Kilka cali w górę</span></i>," jak powiedzieli
miejscowi. Ja bym powiedziała: "<b><i><span style="font-weight:bold;
font-style:italic">Dość </span>stromo w górę</i></b>." Potem spory spacer
przez wybieg dla krów, przechodzenie przez kilka płotów i wreszcie początek
wspinaczki przez wilgotną tropikalną roślinność u podstawy góry. Im dalej
wchodziliśmy, tym stawało się stromiej.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Powiedziano
nam, że w niektórych miejscach są schody, ale często spotykaliśmy liny służące
do wciągania się wyżej albo liny i bardzo strome schody przypominające drabinę.
Było coraz stromiej, tak że już nie była to wędrówka przez las, ale raczej
półki skalne do pokonania a nawet jeszcze bardziej strome miejsca do przejścia,
czasami z wspomnianymi linami. Niekiedy bardzo drżałam z wysiłku i zaczynałam płakać.
Bałam się, że spadnę i narobię Johnowi kłopotów, bo będzie musiał sprowadzić
pomoc. Ciągle dodawał mi otuchy i zachęcał do kontynuacji wspinaczki. „To już
niedaleko” – mówił. (Skąd miał to wiedzieć? Nigdy wcześniej tu nie był.)</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Więc szłam, bo
i przewodni duch powiedział: „Otrzymasz nowy wgląd, gdy dojdziesz do szczytu.”
Później John przyznał, że i jemu się odechciało, ale w żadnym wypadku nie
zamierzał rezygnować.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Był piękny
dzień i kiedy w końcu wydostaliśmy się poza linię drzew do miejsca, skąd
mogliśmy widzieć całą koralową zatokę i drugą stronę wyspy, widok był cudowny.
Było ciepło. Postanowiłam usiąść w miejscu, gdzie akurat byłam, na bardzo
wąskiej ścieżce, i oprzeć się plecami o gołą pionową ścianę, która ciągnęła się
wysoko nade mną, przytrzymując się kępek trawy, by nie stracić równowagi.
Czułam się kompletnie wyczerpana i zdezorientowana, ale byłam rozradowana. John
zdecydował, że pójdzie dalej tą ścieżką trzymając się liny, która została przymocowana
wzdłuż pionowej ściany za pomocą żelaznych oczek w odstępach około metra i
ciągnęła się wokół ściany aż do „Koźlego Domu,” jeszcze jakieś 500 metrów
dalej.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Zabraliśmy ze
sobą kanapki, owoce i wodę na lunch, ale z jedzeniem postanowiłam zaczekać na
powrót Johna. Gdy siedziałam i oglądałam orła krążącego nad morzem na wysokości
oczu, zaczęłam zastanawiać się, co to miał być za przekaz od przewodniego
ducha.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">To był rodzaj
medytacji z otwartymi oczami wpatrzonymi w dal morza z uczuciem bycia nad
wszystkim. Zaczęłam uświadamiać sobie, że wyspa ta, inaczej niż główny ląd,
przetrwała w swej początkowej postaci, że istniała tu jakaś łączność z okresem
starożytnym, który ciągle tu trwał. Wewnątrz mnie zrodziło się uczucie
przebijania wiedzy duszy, która także była obecna na głównym lądzie. To ta
starożytna energia, do której nieświadomie podłączyliśmy się, kiedy po raz
pierwszy postawiliśmy stopę na wyspie Lord Howe. I to przez nią początkowo
byliśmy niespokojni i nie mogliśmy spać. Nasze ciała dosłownie przysposabiały
się do obecnej na tej wyspie osnowy dawnych czasów. &nbsp;Kiedy dzisiaj wspinaliśmy
się na górę, wytrzęśliśmy się tak bardzo, że komórki naszych ciał zostały wręcz
zmuszone do przystosowania się do innej osnowy czasowej. Oboje doznaliśmy
frustrujących emocji, które jak gdyby zrzucaliśmy w miarę postępu wspinaczki na
górę.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Gdy tak
siedziałam patrząc w przestrzeń, przypomniała sobie przeżycie doświadczenia
bliskiej śmierci przed 30 latami, gdy moi synowie byli jeszcze mali.
Wiedziałam, że umieram i modliłam się o pozwolenie pozostania, abym mogła się
nimi zaopiekować. Pamiętam wypływanie z ciała; pamiętam też głos, który
powiedział „Wydobrzejesz,” ale stało się to dopiero po tym, jak obiecałam pomóc
Bogu w zamian za pozwolenie pozostania. Teraz, kiedy siedziałam tutaj,
wspominałam, że kiedy wróciłam ze szpitala, patrzyłam na wszystko innymi
oczami. Wyglądało to tak, jak gdybym była obca we własnym domu. Mój wówczas pierwszy
mąż był mi obcy. Nie czułam tego samego wobec moich małych synów, ale z trudem
przychodziło mi identyfikowanie się z pamięcią własnego dzieciństwa.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Tu i teraz,
będąc pod wpływem tak wzniosłych uczuć, wiedziałam, że nie urodziłam się w tym
ciele, że weszłam w nie. To, że weszłam wtedy w to ciało, 30 lat temu, było
skutkiem umowy z poprzednim właścicielem. Pozwoliło mi to przyjść z Misją znając
Boga. Właśnie dlatego miałam tak wiele mistycznych przeżyć, jako przypomnienie
dlaczego przyszłam i co obiecałam zrobić.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Nie mogłam się
doczekać powrotu Johna, aby mu to opowiedzieć. Resztę czasu spędziłam
śpiewając.</span></font></p>


<img src="../../../img/ligbird.gif" alt="View from Mt Ligbird, Lord Howe Island" style="margin-left: 15px; float:right;" width="400" height="300">

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Kiedy wreszcie
wrócił, był z siebie bardzo zadowolony, gdyż udało mu się zakończyć wyprawę.
Powiedział: „’Koźli Dom’ jest po prostu grotą, ale znajduje się dość daleko po
drugiej stronie Góry, skąd rozciąga się zupełnie inny widok. Jest tam trochę
chłodniej i więcej cienia.” Usiadł obok mnie na równie wąskim kawałku ścieżki i
zaczęliśmy jeść lunch. Wtedy opowiedziałam mu o moim objawieniu.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Niespodzianką
była dla mnie jego gotowość na przyjęcie tego, co miałam do powiedzenia. Oznajmił,
że także był wstrząśnięty i że mógł także do siebie odnieść moje opowiadanie o ‘wejściu.’
Gdy tak siedzieliśmy, uświadomił sobie, że przyjechał do Australii w tym samym
roku, w którym ja niemal umarłam. Każdemu z nas zeszło dalsze 7 lat na
uporządkowanie wtedy jeszcze oddzielnego życia, zanim los nas połączył. Teraz
wiem, że niezależnie co by się stało, naszym przeznaczeniem było zejść się. Przyjście
razem uzgodniliśmy na długo zanim którekolwiek z nas przyszło na ziemię. John
powiedział, że wiedział, iż jest ze mną po to, aby wspierać mnie w Misji.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Z radością w
sercach schodziliśmy z góry. Teraz było łatwiej iść. W pewnym miejscu oboje
zatrzymaliśmy się i przyglądaliśmy się ptakowi na gałęzi na wysokości naszych
oczu. Zdawało się, że chce nam coś powiedzieć. Gdy tak słuchałam swojego
duchowego przewodnika, spytałam Johna, czy zgodziłby się, żebym potrzymała jego
ręce wspomagając przekaz uzdrawiania dla niego. Zgodził się. Wydawało się, że
pomogło to jemu i mnie na lepsze zakorzenienie się ducha w naszych ciałach. W
ciągu ostatnich około siedmiu lat wiele razy przeżywałam przebywanie poza
ciałem i miałam trudności z powrotem do ciała. To naprawdę dowodzi tego, że w
rzeczywistości jesteśmy istotami duchowymi – nie tylko John i ja, ale każdy na
tej ziemi jest istotą duchową chodzącą w fizycznym ciele.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">Cóż to za
Misja, spytacie? Jest to saga zachowana w pamięci starożytnej przeszłości tajemniczego
lądu, który obecnie nazywamy Australią. „The Book of Love by a Medium (Księga
miłości napisana przez medium)” jest początkiem tej historii przedstawionym przez
przewodniego ducha.</span></font></p>

<p style="margin-right:30.0pt;margin-left:15.0pt;"><font><span style="
">&nbsp;</span></font></p>

<div><font face="Tahoma"><span style="font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;"></span></font></div>




<p xclass="MsoNormal"><!--font size=3 face=Tahoma--><span style="font-size:11.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;"></span></p><hr width="100%" align="left">W internecie
można znaleźć o wiele więcej informacji o ludziach doświadczających zjawiska ‘wejścia.’
Wystarczy wpisać w wyszukiwarce <i><span style="font-style:italic">walk-ins</span></i>.
Spróbujcie <a href="http://www.searchme.com/#/&amp;q=Walk%20ins" target="new" rel="no-follow">visual 
search engine</a>! (Możecie też spróbować wyszukiwarki <a href="http://quintura.com/" rel="no-follow">http://quintura.com/</a>,
która daje pogrupowane wyniki wyszukiwania.) <hr width="100%" align="left"><p></p>

<p align="right">[Z <a href="http://www.valeriebarrow.com/?p=43" rel="no-follow">www.valeriebarrow.com/?p=43</a> tłum. KMB; 2009.08.11]
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">Czy nie urodziłeś się lecz wstąpiłeś?</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>