<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">WYWIAD Z JAN I BOBEM WRIGHT</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Zdjęcia Uluru i Kata Tjuta ze zbiorów Jan i Boba Wrightów</h2>
<u></u><p><u>Ostrzeżenie:</u> Aborygenów i mieszkańców Torres Strait Islander odwiedzających tę stronę ostrzega się, że mogą tu znajdować się obrazy osób zmarłych.</p>
<p>&nbsp;</p>
</font></b><p>Jan uprzejmie pozwoliła mi udostępnić swoje zdjęcia, uzupełniając je dalszymi szczegółami z ich zadziwiającej historii, umieszczonymi tutaj pod zdjęciami. Prawa autorskie do wszystkich zdjęć należą do Jan Wright. (Jeśli ktoś pragnie wykorzystać któreś z tych zdjęć, powinien, zgodnie z prawem autorskim, skontaktować się z właścicielem w celu uzyskania pozwolenia.) Krótka biografia i informacje kontaktowe znajdują się na końcu tej strony. </p></font><br>

</font><p class="text-center"><img src="../../../img/Image122.jpg" width="519" height="326"></p>
</font></font><p class="text-center">Wschód słońca widziany z Ansett Lodge. Tu skała trochę przypomina słonia. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/sunrise-uluru.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p>&nbsp;</p></span></font>

</font><b><p>Glen Helen Lodge</p></font></font></b><b>

</font></font></b><p class="text-center"><img src="../../../img/Image123.jpg" width="516" height="348"></p>
</font></font><p>Bob organizował wyścigi dla turystów w Glen Helen Lodge – coś w rodzaju małego Pucharu Melbourne. Nasz ‘puchar’ był wykonany z osłon lamp. Ścigały się wszystkie konie (a wszystkie należały do Micka Whaggo). Sygnał startu dawał Long Tall Harry ‘strzałem’ z bata. Naturalnie, zwyciężał jeden z koni Micka, bo wszystkie były jego. Potem rozdzielali nagrody, w tym także pieniężne. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/glen-races.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p class="text-center"><img src="../../../img/Image124.jpg" width="350" height="515"></p>
</span></font></font><p>Mick Whaggo, Long Tall Harry (Kadaichi Man) i wuj Micka (siedzący) przed Glen Helen Tourist Lodge przy <i>kamieniu smutku</i>. Mówili, że przybył z kosmosu. Ten kamień smutku jest wykorzystywany przez Aborygenów jako wspólnotowy kamień grobowy. Kamień ten został zabrany przez Franka Clune, pisarza, ale musiał go zwrócić.<br>
Mężczyźni ci byli opiekunami żywego inwentarza Briana Bowmana, który był właścicielem farmy bydła Glen Helen. Niektóre z takich farm w centrum Australii zajmują obszar większy niż stan Teksas w USA. Sąsiadów może dzielić odległość nawet do 200 mil (320 km), a mimo to jeździli na spotkania. Dawn Severin wieczorem przyjechał z Curtin Springs, niedaleko od Ayers Rock, do Alice Springs, by w kinie samochodowym obejrzeć <i>Jesus Christ Superstar</i>, a po seansie wrócił do domu tą samą wyboistą drogą z czerwonego piasku. Długość przebytej drogi w jedną stronę wynosiła 283 mile (455 km), ale odległość mierzono czasem, a nie długością. Takie eskapady były czymś normalnym dla większości Centralians (mieszkańców centralnej Australii).<br>
Curtin Springs to rodzaj przydrożnego zajazdu w odległości 45 mil (72 km) na wschód od Ayers Rock, w którym można kupić domowe ciastka, jest stacja benzynowa, odbiór przesyłek pocztowych, toalety i woda źródlana. Zajad prowadzili Dawn i Peter Severin, a musieli się tam zatrzymywać na odpoczynek i pokrzepienie wszyscy podróżujący do Ayers Rock, gdyż do tego miejsca jechało się po pustkowiu po wyboistych drogach przez cztery godziny. Farma Curtin Springs dostarczała mięso do wszystkich miejscowości w okolicach Uluru.<br>
Nie było wtedy telefonów, nie mówiąc już o telefonach komórkowych, tylko radia kryształkowe do łączności dwukierunkowej. Gdy ktoś rozmawiał przez taki telefon radiowy, łączył się z całym obszarem, tak że inni ludzie słuchali rozmowy – nie mogło być tu mowy o żadnych tajemnicach! <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/sorry-stone.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p><br>
</p></span></font>
</font><b><p>Wczesne lata w Ayers Rock (Uluru)</p></font></font></b><b>
</font></font></b><p class="text-center"><img src="../../../img/Image125.jpg" width="516" height="356"></p>
</font></font><p class="text-center">Na starym lotnisku przy Ayers Rock – Uluru. Ten samolot używano do przejażdżek.<br> Na zdjęciu są Bob, Jan i ich 3-letnia córka. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/old-airport.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image126.jpg" width="520" height="354"></p>
</span></font></font><p class="text-center">Ayers Rock – Uluru widziane z małego samolotu Cessna. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/cessna-uluru.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image127.jpg" width="519" height="348"></p>
</font></font><p class="text-center">Na tym zdjęciu, ale w większej rozdzielczości, można dostrzec obraz “Maggie” nad Maggie Springs. Widać tutaj także pierwotną drogę okrążającą Skałę. Miała 7 mil (11 km) długości. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/maggie.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image128.jpg" width="516" height="340"></p>
</span></font></font><p class="text-center">Formacja skalna wysoko na północno zachodniej stronie Ayers Rock,<br> w pobliżu groty starej kobiety. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/above-womens-cave.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image129.jpg" width="511" height="343"></p>
</font></font><p class="text-center">Południowy kraniec The Olgas niedługo po deszczu, gdy okolica zaroiła się od kwiatów.<br>
</font><!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/south-olgas.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image130.jpg" width="511" height="334"></p>
</font></font><p class="text-center">Kanjie Gorge na Ayers Rock podczas zachodu. Z prawej strony, niewidoczna na zdjęciu,<br> znajduje się trasa wspinaczkowa. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/kanjie-gorge-sunset.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><b><p>&nbsp;</p>

<p>The Olgas (Kata Tjuta)</p>

</font></font></b><p class="text-center"><img src="../../../img/Image131.jpg" width="511" height="347"></p>
</font></font><p>Pustynna <i>banksia</i> (<i>Banksia ornata</i>) to gatunek krzewu z rodzaju <i>banksia</i>. Wyrasta do wysokości 3 m. Występuje w stanach zachodnia Wiktoria i w Południowa Australia, gdzie jest powszechna na Eyre Peninsula (półwysep), Kangaroo Island (wyspa) i na wschód od Adelajdy, ale wydaje się, że nie ma jej na półwyspie York.<br>
Chętniej rośnie w środowiskach <i>mallee</i> (karłowate eukaliptusy) i na wrzosowiskach na piaszczystych i łatwo osuszających się glebach.<br>
Jej kwiatostany są cylindryczne, początkowo żółto-zielone do zielonych a z czasem, w dojrzałym stadium, przechodzące w brąz. Pustynna banksia kwitnie późną zimą i wiosną. Jej zielone liście są kształtu wydłużonych klinów (szerokość 2 cm i długość 10 cm) z ząbkowanymi brzegami. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/banskia-large.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image132.jpg" width="519" height="347"></p>
</font></font><p>Widok ze szczytu Mt. Olga na wschód w kierunku Uluru (tuż nad skałą). Nazwę Mt. Olga nadano na cześć królowej Hiszpanii. Uluru otrzymało swoją nazwę od <b><i>Sir Henry Ayersa</i></b>, a nadał ją badacz William Gosse, który był jako pierwszy przedstawił światu tę zadziwiającą skałę. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/banskia-large.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image133.jpg" width="514" height="350"></p>
</span></font></font><p class="text-center">Widok na Kata Tjuta z<b><i> Valley of the Winds</i></b> (Doliny Wiatrów). <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/valley-large.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image134.jpg" width="511" height="324"></p>
</font></font><p>The Olgas nocą. Element obrazu w kształcie liter V pod księżycem to Pungalunga Gorge (Wąwóz). The Olgas są miejscem żeńskim, a wspomniany wąwóz to miejsce "defloracji" młodych rdzennych dziewczyn, jak powiedział nam Lofty, nieoficjalny burmistrz osiedla. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/olga-night.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p>&nbsp;</p>
</span></font><p class="text-center"><img src="../../../img/Image135.jpg" width="510" height="330"></p>
</font></font><p>Chciałam zrobić zdjęcie gwiazd na nocnym niebie, ale spoza chmur wyszedł księżyc akurat, gdy je robiłam. Gdy je wywołałam, ukazał się piękny <i>orb</i> światła. Aborygeni mówią, że gdy odprawiają swoje święte obrządki w kole, psychicznie uzdolnieni ludzie widzą tak liczne orby, że wygląda to jak kąpiel w szamponowych bąbelkach. Nazywają je światłami <i>min min</i>. Przyjrzyjcie się lepiej zdjęciu w większej rozdzielczości – dostrzeżecie zewnętrzny blady <i>orb</i>. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/night-sky.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p><br>
</p></span></font></font><font "4" "#800000"><font "4" "#800000">
</font></font><b><p>Grota Katedralna</p></font></font></b><b>
</font></font></b><p class="text-center"><img src="../../../img/Image136.jpg" width="361" height="516"></p>
</font></font><p class="text-center">Wejście do Groty Katedralnej. O jej rozmiarach świadczy sylwetka człowieka w białej koszuli.<br>  Wewnątrz zmieści się cały autobus ludzi, tj. 30 do 38 osób. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/cathedral.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image137.jpg" width="514" height="347"></p>
</font></font><p class="text-center">Wnętrze Groty Katedralnej ze stalaktytami ze skał osadowych (<i>mud rock</i>). Uderzenie gumowym młotkiem w stalaktyt wywołuje dźwięk ‘bim-bom’ – jak z dzwonu. Dźwięki te różnią się zależnie od długości stalaktytów. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/inside-cathedral.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image138.jpg" width="510" height="342"></p>
</font></font><p>Długie pęknięcie, widoczne tu z lewej strony, na Uluru nazywa się Ogonem Kangura. Według mitu ogon pochodzi z Kanjie Gorge, a w Kanjie Gorge jest puste miejsce, które pasuje do kształtu tego ogona. Ma on około 3 m szerokości i można czołgać się między nim a skałą, na której leży. Faktycznie można pod nim widzieć błękitne niebo. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/tail.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p><br>
</p></span></font>
</font><b><font "4" "#800000"><p>Maggie Springs (Mutujulu Springs)</p></font></font></b><b><font "4" "#800000">
</font></font></b><p>&nbsp;</p>
</font><p class="text-center"><img src="../../../img/Image139.jpg" width="516" height="344"></p>
</font></font><p class="text-center">Widok na Skałę w podejściu do Maggie Springs (Źródła Maggie). <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/entrance-large.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości </span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image140.jpg" width="342" height="512"></p>
</span></font></font><p>Maggie Springs, obecnie znane jako Mutujulu Springs. Jeśli przyjrzeć się bliżej nachylonej skale, można zobaczyć wielką twarz kobiety, którą nazywaliśmy Maggie, chociaż Aborygeni nazywali ją <b><i>Goolagaia, Czarna Olbrzymka</i></b>.<br>
Twarz jest widoczna tylko po południu i tylko z pewnego kąta. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/maggie-rain.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image141.jpg" width="345" height="511"></p>
</span></font></font><p class="text-center">Srebrne pasma wody spływającej po Uluru do Maggie Springs zaraz po deszczu; u góry, nad szczytem<br> Uluru można dostrzec jak nisko są zawieszone chmury. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/silver-streak.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image142.jpg" width="353" height="511"></p>
</span></font></font><p>Maggie Springs ze spływającą wodą deszczową do zbiornika. W mitach mówi się o<b><i> Goolagaii</i></b> mieszkającej w skale. Aborygeni każą patrzeć przez skałę postrzegając ją jako energię. Mówią oni, że nie trzeba robić zdjęć – można je robić za pomocą ‘wewnętrznego oka’. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/maggie-springs.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p class="text-center"><img src="../../../img/Image143.jpg" width="515" height="330"></p>
</span></font></font><p class="text-center">Dolina ukryta w pobliżu szczytu Ayers Rock, w której rosną drzewa normalnych rozmiarów. Kiedy pada deszcz, woda zebrana w dolinie spływa po dolinie w dół do Maggie Springs. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/maggie-top.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font><span lang="P"> </span></font></p>
</font><p>&nbsp;</p></font>

</font><b><p>Uluru</p></font></font></b><b>

</font></font></b><p class="text-center"><img src="../../../img/Image144.jpg" width="514" height="326"></p>
</font></font><p class="text-center">Ayers Rock uchwycone podczas zachodu słońca w otoczeniu <i>bell fruit trees</i> (drzew o dzwonowatych owocach). Zielone kwiaty tych drzew zwisają jak kiście winogron. W istocie wyglądają jak zwisające do góry nogami dzwony. <!--/FONT--><a href="http://www.valeriebarrow.com/images/uluru/bell-trees.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p><br>
<span lang="P"><p class="text-center"><img src="../../../img/Image145.jpg" width="516" height="352"></p>
</span></font></font><p class="text-center">Ayers Rock w południe podczas suszy. <a href="http://www.valeriebarrow.com/images/uluru/drought.jpg" rel="no-follow"><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image146.jpg" width="514" height="324"></p>
</font></font><p class="text-center">Popołudniowe ujęcie różowego Ayers Rock bez drzew. To zadziwiające jak Skała<br> ciągle zmienia swoją barwę. <a href="http://www.valeriebarrow.com/images/uluru/pink-afternoon.jpg" rel="no-follow"><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image147.jpg" width="515" height="354"></p>
</font></font><p class="text-center">Ayers Rock po południu. Jeszcze nie ma drzew. Ujęcie z miejsca, gdzie zbierali się turyści, by robić zdjęcia o zachodzie słońca. Z biegiem lat stało się ono czymś w rodzaju zgromadzenia Ligi Narodów na pustkowiu. </font><a href="http://www.valeriebarrow.com/images/uluru/red-afternoon.jpg" rel="no-follow"><!--FONT "#800000" arial 2--><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości<!--/FONT--></span></a></p>
<font "4" "#800000"><font "4" "#800000"><span lang="P"><p>&nbsp;</p>
</span></font></font><p class="text-center"><img src="../../../img/Image148.jpg" width="514" height="323"></p>
</font></font><p class="text-center">Wszyscy liczą na takie ujęcie o zachodzie słońca. </font><a href="http://www.valeriebarrow.com/images/uluru/sunset.jpg" rel="no-follow"><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></p>
<span lang="P"><p>&nbsp;</p></span></font>

</font><b><p>Z biografii Bob i Jan Wrightów</p>
</font></font></b><p>Janice Relf po raz pierwszy spotkałem w drugiej połowie 1961 r. w przypadkowym dniu – sześć tygodni później pobraliśmy się w North Sydney, w kościele Crows Nest Methodist Church. Służyłem wtedy w marynarce (Navy) i właśnie zostałem powołany do Darwin, aby być tam kucharzem kapitana w Domu Admiralicji i Domu Rządu, gdzie mieszkał administrator Rodger Knott. Tak więc rozpoczęliśmy naszą wspólną podróż z Jan (jak woli być nazywana). Jan zwykła wyjeżdżać na zimę z babką i wujkiem Les Campbellem (który był artystą o znaczącym dorobku) do Alice Springs. </p>
<p>Zwykle obozowali w namiocie. Były to lata 1950-te.</p>
<p>Jan trudno znosiła wilgotność północy. Po służbie w Darwin i po urodzeniu się naszej córki Jane wróciliśmy do 404 Princes Highway w Bomaderry i planowaliśmy podróż do centralnej Australii. Po przyjeździe otrzymałem stanowisko u Lye Underdown jako szef jego nowego hotelu w Alice Springs. Później zaoferowano nam zarządzanie zajazdu dla turystów nazywanego wtedy Ayers Rock.</p>
<p>Wkrótce zadomowiliśmy się na tyle, że mogliśmy poznawać mitologię tego regionu, a nawet prowadzić wycieczki wokół Skały. Miałem też to szczęście, że miałem aparat fotograficzny i mogłem utrwalić liczne nastroje Skały. W zajeździe wieczorami zabawialiśmy turystów biura Ansett Pioneer pokazami slajdów. Po sezonie wyjechaliśmy z Australii w 6-miesięczną podróż wokół świata na statku linii Sitmar Line. W tym czasie zostaliśmy poproszeni o powrót. Odpowiedzieliśmy, że tak o ile dostaniemy w zarządzanie Glen Helen Lodge na zachód od Alice Springs. Zgodzono się.</p>
<p>Byliśmy tam jedyną trójką białych wśród społeczności Aborygenów. Niebawem poznaliśmy ich i byliśmy od nich zależni jeśli chodzi o wiadomości, gdyż oni mieli radio, a my nie mieliśmy. Oni sami wypiekali sobie <a name="damper1" href="#damper"><i>damper</i></a><!--sup-->*, posiadali mięso i stanowili bardzo szczęśliwą, zdrową, prosperującą grupę. Zostaliśmy odcięci od Alice Springs z powodu deszczy. Drogi zostały zmyte, nie było żadnej komunikacji. Wysłuchaliśmy opowiadań m.in. Long Tall Harry’go i Micka Whaggo. Wytwórnia filmów South Australian Film Corporation właśnie zakończyła nagrywanie filmu <b><i>The Sundowners</i></b>. (<i>Włóczędzy</i>, nazwa australijskich trampów).</p>
<p>Wróciliśmy do Ayers Rock by zarządzać przez jeszcze jeden sezon tamtejsze Lodge. Centrum Australii ostatecznie opuściliśmy w 1980 r. Ale w istocie tamtego miejsca nigdy się nie opuszcza. Obecnie jest rok 2010 a my ciągle sprawdzamy mapę pogody, sprawdzamy pogodę w Centrum a kiedy spotykamy ludzi stamtąd, traktujemy się jak rodzina. Historie ciągną się w nieskończoność a przyjaźnie pozostają na zawsze. Jan i ja obecnie jesteśmy kierownikami przedsiębiorstwa pogrzebowego w Nowra w Nowej Południowej Walii. Nasz telefon to (+61) (02) 4421-6009. </p></font>

</font><p class="text-center"><img src="../../../img/Image149.jpg" width="516" height="326"></p>
</font></font><p class="text-center">Zrobiłam to zdjęcie z innej posiadłości nazywanej Red Lion (Czerwony Lew), kiedy padało <br> i było zimno.Góra wygląda na białą. <a href="http://www.valeriebarrow.com/images/uluru/blue-uluru.jpg" rel="no-follow"><span lang="P">Zobacz to zdjęcie w pełnej rozdzielczości</span></a></font></p>
<span lang="P"><p></p>
</span><p class="text-center">

</p><hr width="30%" "navy" align="left"></font>
<!--sup--><big>*</big> <a name="damper" href="#damper1"><i>Damper</i></a> – znany w Australii rodzaj chleba wypiekanego z mąki, wody i tłuszczu na rozpalonych węglach ogniska lub w piecu (dop. tłum.).<p>


</p><hr><p></p><span lang="P"></span></font><p class="text-center"><br>
</font><font "Tahoma" "#000080"><font "Tahoma" "#000080">© </font></font><a href="copyright.htm"><font "Tahoma"><span lang="P">Copyright Valerie Barrow</span>
            </article>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="../../../index.html">Strona główna</a></li>
                  <li class="breadcrumb-item active">Artykuły</li>
                  <li class="breadcrumb-item active" aria-current="page">Rozmaitości z progu Złotego Wieku</li>
                    <li class="breadcrumb-item active" aria-current="page">Tłumaczenia z witryny Valerie Barrow</li>
                    <li class="breadcrumb-item active" aria-current="page">WYWIAD Z JAN I BOBEM WRIGHT</li> 
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>