<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Wywiad z Bhagawanem</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Wywiad z Bhagawanem</h2>
                

<p style="text-align:center" align="center"><span style="16.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><!--[if !supporWywiad z BhagawanemtyParas]-->&nbsp;<!--[endif]-->

<p style="margin-top:0cm;margin-right:39.1pt;margin-bottom:
0cm;margin-left:36.0pt;margin-bottom:.0001pt;tab-stops:432.0pt"><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Wywiad
z Sathya Sai Babą zaczerpnięty z drugiej książki nieżyjącego już prof. Abdula Razaka Korbu pt. <i style="mso-bidi-font-style:normal">Satya Sai Satya Sakha</i>, co znaczy Sathya
Sai — Prawdziwy Przyjaciel (w archiwach
Sai-Netu umieścił go Bala Subramanian). Cała książka dostępna jest też 
</span><span style="11.0pt;mso-bidi-10.0pt">
<a href="http://sss.vn.ua/sss_engl.htm" rel="no-follow">w internecie</a></span>
<span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
(w angielskim tłumaczeniu z marati opublikowanym w 2002 r.).<o:p></o:p></span></p></font>

<p><span style="11.0pt;mso-bidi-10.0pt"><!--[if !supporWywiad z BhagawanemtyParas]-->&nbsp;<!--[endif]--><o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><!--[if !supporWywiad z BhagawanemtyParas]-->&nbsp;<!--[endif]--><o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="11.0pt;
mso-bidi-10.0pt;&quot;Times New Roman&quot;">We wrześniu 1990 r.
udało mi się namówić moich przyjaciół do wyjazdu do Whitefield. Udaliśmy się
tam grupą liczącą dwadzieścia pięć osób obu płci. Po obiedzie w stołówce i
odpoczynku pod drzewem, kwadrans przed czwartą zebraliśmy się na placu. <o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tak
jak było uzgodnione, poszedłem do pokoju kierownika akademika, gdzie pod
drzwiami czekał już jeden z ochotników.<span style="mso-spacerun: yes">&nbsp;
</span>Kierownik wyszedł i powiedział: „Sai Ram. Chodźmy.” We trójkę
skierowaliśmy się przez tłum ku rezydencji Baby.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Nareszcie
ten wielki wywiad dochodził do skutku! Miałem świadomość, że zdania Baby były
precyzyjne i miały postać maksym.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><!--[if !supporWywiad z BhagawanemtyParas]-->&nbsp;<!--[endif]--><o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Jak się masz, <i style="mso-bidi-font-style:normal">sir</i>.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;">(O Boże! Takie zwracanie się (per <i style="mso-bidi-font-style:normal">sir</i>) Baby jest podpowiedzią, że moje ego
rośnie. Cóż, muszę znów dokonać introspekcji.)<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Świetnie.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Jaki masz plan?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Baba, mam zaćmę w obu oczach. Ulecz mnie, proszę.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Wiem. Ale żadnych cudów dla dojrzałych wielbicieli. Poddaj się operacji. Twoje
oczy będą zdrowe. Następne?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Gdy przyjechałem tu poprzednim razem, widziałem wielu mężczyzn i wiele kobiet.
Czy oni wszyscy są twoimi prawdziwymi wielbicielami?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Niewielu z nich. Ale tęsknią za mną. Tacy biedni ludzie są łatwi do kształtowania.
Jeśli chodzi o bogatych – trudno jest wykorzenić ich zarozumiałość, ich
przywiązania, ich fałszywy styl życia i ich życie na pokaz. Dlatego muszę
przyciągnąć ich nieco bliżej niż innych, by osiągnąć to samo. Są to osoby,
które ścigają się po doczesne szczęście i docierają dokładnie tam, gdzie
szczęścia nie ma. Czyż ci nie są także ludźmi? Gdy zaczną się poprawiać, staną
się pomocni dla mojej misji. Zamożność nie jest grzechem!<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Baba, tysiące nas biednych, ciężko pracujących i szczerych wielbicieli nie
rozumie. W rzeczywistości niewielu z takich przyjmujesz. Nie otrzymują niczego,
oprócz twojego <i style="mso-bidi-font-style:normal">darśanu</i>, ale i to z
bardzo daleka i z dużą trudnością.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Jedynie takim osobom bacznie się przyglądam. Zawsze jestem w sercach moich
zwykłych wielbicieli. Nie spuszczam ich z oka nawet na chwilę. Rozumiem ich
potrzeby i zaspokajam je. Ale nie spełniam ich życzeń i żądań! Życzenia wielu z
wielbicieli wynikają z żądzy bogactwa i z zazdrości. Gdybym dał im to, czego
chcą, byłoby to tak, jakby pozwolić im utonąć w oceanie zmartwień i
nieszczęścia. Byliby po tym podobni do tych wielbicieli, którzy tu przychodzą.
Ci, którzy są biedni materialnie, mogą pozostać biedni. Wielu zaś z bogatych w
rzeczywistości jest żebrakami. Chodzą trzymając kosztowne miski żebracze
żebrząc o pokój i szczęście. Jakże więc miałbym wystawiać moich biednych
wielbicieli na cierpienie, czyniąc ich jedynie majętnymi?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Mam odczucie, że trudno będzie tym ubogim wielbicielom zrozumieć i zgodzić się
na takie rozróżnienie.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Czy przynajmniej ty rozumiesz?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Teraz rozumiem.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
A co wy ludzie robicie w świecie? Tylko opowiadacie i próbujecie popisywać się
tym, jak bliskimi wielbicielami Sai Baby jesteście. Przełamcie to ego. Dla mnie
wszyscy wielbiciele są tacy sami. Dystans między mną i nimi wszystkimi jest
taki sam. W rzeczywistości nie ma żadnego dystansu. Wy ludzie potraficie
patrzeć tylko geograficznie i porównywać różnice. Zadaniem starszych
wielbicieli jest czuwać i usuwać takie nieporozumienia. Ty, na przykład – co<span style="mso-spacerun: yes">&nbsp; </span>zrobiłeś w tym kierunku?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Bardzo dużo im tłumaczę. Ale myślę, że nie wszyscy są przekonani.</span><span style="11.0pt;mso-bidi-10.0pt"><o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
To twoja wina. Nie masz siły przekonywania. W porównaniu do bogaczy, u ludzi
ubogich świadomość i rozumienie są bardzo elastyczne. Zawsze mów każdemu, że
jestem w nich cały czas. Gdy ich tu przyciągam, moim celem jest podładować ich
duchowe baterie. Przestań tylko rozróżniać między wielbicielami dalekimi i
bliskimi. Oddania nie można porównywać. Oddanie tworzy się samo, zaś co do
jakości samo w sobie jest pełne. Następne?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Dzisiaj w Indiach, a także innych krajach, wzmaga się grzeszność, przestępstwo,
przekupstwo, morderstwo, żądza władzy itd. Giną niewinni ludzie. Gdzie są
zbawiciele, Awatarzy – dlaczego nie naprawiasz tego stanu rzeczy? My,
wielbiciele, mamy również dylemat wobec takich pytań. Powiedz coś, proszę, na
ten temat.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Grzech i zasługa, dobro i zło, szczęście i zgryzota, życie i śmierć, dzień i
noc nie stoją we wzajemnej sprzeczności. Zawsze współistnieją. Są nieodłącznymi
częściami tego samego – wzajemnie się uzupełniają. Gdy jedno się przejawia,
drugiego nie widać. Tak jak dwie strony medalu – czy, gdy widać jedną stronę
medalu, możesz mówić, że drugiej nie ma? Tak samo jest z ludzkim życiem. Jego
narodziny wynikają z miłości. Miłość jest jego pierwotną naturą. Miłość jest
jego religią. Jeśli uznasz miłość za dzień, wtedy brak miłości może być nocą.
Brak zasług jest grzechem. Brak dobroci jest złem. Brak szczęścia jest
nieszczęściem. Brak dobrego zachowania jest złym zachowaniem. Oto dlaczego te
na pozór złe cechy nie są podstawowymi cechami istoty ludzkiej. Są jej
negatywnymi częściami. Jeśli z jakichś powodów jej podstawowa natura miłości
zostanie przesłonięta i dobre cechy przestaną być widoczne, ten okres jest nocą
zła i przewin. Od zarania cywilizacji do dzisiaj, a nawet w czasach Awatarów,
dobrzy ludzie byli zawsze w mniejszości. Takie jest prawo natury. W <i style="mso-bidi-font-style:normal">Bhagawad Gicie</i> wspomina się, że należy
ochraniać dobrych ludzi. Kogo chronić i przed kim? Mniejszość trzeba chronić
przed większością. Większość, czyli złe cechy, będąc silna, nie obawia się
mniejszości, czyli dobrych cech. Z istotą ludzką jest tak samo. Dobro i zło są
razem i stanowią jedność. Gdyby wszyscy byli dobrzy, jak można by ich
porównywać i nagradzać? W charakterze noża jest cięcie. Lekarz tnie, by ratować
życie, rzeźnik tnie, by zabrać życie. Obaj są istotami ludzkimi. Każda osoba
posiada swoje wrodzone podstawowe pierwiastki i instynkty. Gdy te cechy ulegną
rozdęciu do większych rozmiarów, powstają sytuacje, o których wspomniałeś. Ale
jest to faza przejściowa. Rodzaj wyładowania. To leży także w naturze przyrody
(<i style="mso-bidi-font-style:normal">prakriti</i>). A człowiek jest małą
cząstką tej przyrody. Żadna osoba nie może być w stu procentach dobra albo w
stu procentach zła. Ludzie są tacy sami. Jedynie ta część, którą widać, zmienia
się. To, co widać, może się zmienić lub poprawić.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Twoi wielbiciele nie są stuprocentowo dobrzy?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Każdy jest przestępcą. Tylko to, co widać lub jest pokazywane, różni się od
osoby do osoby.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Nie bardzo rozumiem.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Jesteś dyrektorem koledżu prawa. Skończyłeś studia prawnicze i jesteś w tej
dziedzinie biegły. Załóżmy, że jutro twój syn coś skradnie i ty o tym wiesz.
Policja aresztuje go. Ty go wyciągniesz za kaucją, nieprawdaż? Czy, gdy sprawa
stanie przed sądem, najmiesz dla niego obrońcę, czy nie? Nie zaprzeczaj.
Zrobisz to, nie bacząc na koszty. W tej sytuacji ty też będziesz przestępcą!
Ale za to przestępstwo nie karze się! Bronienie kryminalisty w oparciu o prawo
z powodu przywiązania w świetle prawa nie jest przestępstwem. Mam wielu
wielbicieli, którzy posiadają oba rodzaje cech – oddanie i jednoczesne
przywiązanie do rzeczy doczesnych. Jednak nie odrzucę ich. Będę próbował usunąć
ich przywiązanie.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Ale dlaczego nie zmienisz dzisiejszej chaotycznej i nieszczęsnej sytuacji?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Każdy Awatar działał jak magnes. W polu swojej aury mimowolnie przyciąga
wszystkie żelazne rzeczy. Jego ograniczenia nie są geograficzne lecz stanowione
oddaniem. Wielu ludzi, którzy zbliżą się do mnie, pozostają blisko mnie w
Puttaparthi lub na zewnątrz. Ci, którzy nie idą za mną, krytykują. Jak można
ująć mój stosunek do nich? Tych, którzy są zardzewiali pod względem umysłu i
zachowania ten magnes nie przyciąga. No ale jeśli będziesz próbował usunąć tę
rdzę, albo przynajmniej zapragniesz tego w sercu, ten magnes potrafi zewsząd
przyciągnąć żelazne cząstki.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="11.0pt;
mso-bidi-10.0pt;&quot;Times New Roman&quot;">Natura dała każdemu
całkowitą swobodę wyboru zachowania. Kim jestem, by zmieniać prawa natury?
Awatar nigdy nie działa sprzecznie z prawami natury.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Chociaż
Awatar jest dla zwykłych ludzi i sam jest podobny do zwykłego człowieka, jednak
różni się bardzo i jest potężny. By ludzi przekonać, że tak jest, w wyjątkowych
przypadkach okazuje swoje nadprzyrodzone moce – to także dzieje się w ramach
praw natury. W każdym ciele płynie siła życiowa, naturalny prąd wszechmocnego
Boga. W moim przypadku napięcie związane z tym prądem jest o wiele wyższe.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Mówiłeś,
że przybyło przestępstw i grzechów. Na jakiej podstawie tak twierdzisz? W
porównaniu do czego? Czy nie jest to dowodem na to, że w tym społeczeństwie gdzieś
istnieje moralność i cnotliwi ludzie? Nie ma innego sposobu na sprawdzenie czy
zmierzenie.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="11.0pt;
mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ciemności nie można
zobaczyć bez najmniejszej choćby lampki czy latarki. Jest społeczna ciemność i
widać ją. Znaczy to, że pali się gdzieś jakaś lampka cnót. Do mnie należy
zachowanie jej.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Kiedy zmieni się dzisiejsza przerażająca sytuacja?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Zamiast pytać, kiedy zmieni się sytuacja, zapytaj mnie kiedy zmieni się
człowiek. Powiadam ci, człowiek na pewno się zmieni. Obecnie w tym świecie jego
podstawowy pierwiastek, cnota miłości, jest przesłonięty, ale nie zanikł.
Jednocześnie na tej ziemi jeszcze tlą się żywe lampki miłości. Ponieważ są
małe, noc zdaje się niezmiernie ciemna i przerażająca. W rzeczywistości nie ma
nocy. Jedyną prawdą jest światło. Gdy nadejdzie pora, światło rozejdzie się
wszędzie. Takie jest odwieczne prawo natury – ciągle płynąć.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Przynajmniej dla powstrzymania zabijania niewinnych ludzi mógłbyś...<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Dlaczego przykładasz tak wielką wagę do śmierci? Życie, żyć, oznaki życia są
zawsze, są wieczne, zaś śmierć jest przerwą na kilka chwil. Śmiercią jest
odstęp czasu pomiędzy dwoma urodzeniami! Powinna to być pomyślna chwila. Twoje
pytanie ma źródło w namiętnym przywiązaniu do życia. Jest to ignoranckie
pytanie. W takich naturalnych katastrofach jak wybuchy wulkanów, trzęsienia
ziemi, huragany, powodzie i inne, giną setki tysięcy ludzi, zwierząt i ptaków.
Czy wtedy pytasz, dlaczego się to dzieje?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Każdy
uważa śmierć za smutne zdarzenie. Ale w kontekście naturalnego prawa
'nieustającej zmiany' jest ona nieunikniona. Wzrastają prymitywne instynkty
ludzi. Już niedługo uspokoją się. Wtedy wszystko zmieni się na korzyść
pomyślności ludzkości. Dokonam wszystkiego, co mam do osiągnięcia w 'Erze Sai.'
Następne?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Dlaczego kłótnie religijne stały się mordercze?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Nie da się pogodzić religii z kłótnią. Tam gdzie jest religia, tam nie ma
kłótni ani wojny. Obowiązkiem każdej religii jest powstrzymywać kłótnie,
wykorzeniać je. Tylko takie religie są prawdziwe.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Religia
jest rzeczą osobistą, a nie społeczną. Jest domowa, a nie na handel. Gdy
religia stanie się osobista i domowa, wówczas będą jedynie ludzkie stosunki. W
przeciwnym przypadku ludzkość pozostanie tylko tłumem ludzi rozpychających się
wzajemnie łokciami.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Co Baba rozumie przez religię osobistą?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Osobista religia to wrodzona natura każdej istoty ludzkiej czyli miłość bez
egoizmu, bez żadnej odpłaty. Dla takiej religii nie ma innej nazwy jak miłość.
Żaden Awatar swoich nauk nie nazwał religią. Boskie nauki są wszechobecne i
wieczne, bez jakichkolwiek granic geograficznych czy publicznych!<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="11.0pt;
mso-bidi-10.0pt;&quot;Times New Roman&quot;">Takie obecne nazwy jak
hinduska, muzułmańska, chrześcijańska, sikhijska, nie są nazwami prawdziwych
religii. Powstały one z ego tych społeczności. Dzisiejsze spory i wojny nie są
religijne – są to spory i wojny ego. Brak miłości oznacza wrogość, zawiść,
nienawiść, samolubstwo i morderstwa. Gdy miłość zostaje przesłonięta,
społeczność jest przesłonięta i cierpi.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Baba, jaka na to rada?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Zburz obecne religie (różnice), a człowiek będzie prawdziwie religijny.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Czy zdołasz tego dokonać?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Oczywiście. Tylko to robię. Wielbiciele Sai nie mają innej religii oprócz
religii miłości.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Dlaczego więc głosisz wszystkie religie? Czy nie wystarczyłyby same twoje
nauki? Czy w swoim nauczaniu nie wspierasz wszystkich religii?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Dlatego wszystkie religie, że one głoszą tylko jedną rzecz – Miłość! Jeśli ktoś
rozumie 'Miłość,' nie potrzebuje podpory religii. Gdy osiągniesz drugi brzeg
rzeki, dlaczego miałbyś pompatycznie maszerować z łódką na głowie? Zebrałem
razem wszystkie religie, by wykorzenić różnice między nimi, by rozpuściły się w
sobie wzajemnie i stały się jedną religią miłości! Nie uczę niczego innego,
niczego swojego. Żaden Awatar jak dotąd tego nie robił. Wszyscy uczyli tylko
jednej wewnętrznej religii miłości.</span><span style="11.0pt;
mso-bidi-10.0pt"><o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="11.0pt;
mso-bidi-10.0pt;&quot;Times New Roman&quot;">Matematyka jest
pojedynczym przedmiotem. Chociaż jest wielu nauczycieli uczących jej na swój
sposób, matematyka pozostaje ta sama. Nie pomnaża się.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Czy rząd zaniedbuje szukania środków zaradczych?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Gdzie jest rząd? Jest tylko wyzysk. Czy skończyłeś?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Ostatnie pytanie, Baba. Jeśli jesteś reinkarnacją Awatara Śirdi Baby, dlaczego
nigdy nie odwiedziłeś miejsca swojego poprzedniego pobytu?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Jestem wszechobecny. To obejmuje także Shirdi. Skoro już tam jestem, gdzie jest
kwestia odwiedzin?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Jesteś tam w tej postaci, czy postaci Śirdi Baby?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Oczywiście, tylko w tej postaci. Witalność Śirdi Baby scaliła się ze mną. Jak
więc postać Śirdi miałaby być żywa? Dzisiejszą postacią Śirdy Baby jestem tylko
ja.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
To znaczy, że bez twojej witalności nie ma tam Śirdi Baby. Tylko ty tam jesteś.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
I ty nie potrafisz zrozumieć tak prostej rzeczy. Czy nie wierzysz w
reinkarnację?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Oczywiście że wierzę, gdyż reinkarnacja jest prawdą naukową.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Czy zgadzasz się, że ja w tym ciele jestem reinkarnacją Śirdi Baby?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
W stu procentach.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Zatem, zgodnie z regułą odradzania, jak<span style="mso-spacerun: yes">&nbsp;
</span>w tym samym czasie jedno życie może być w dwóch postaciach czy ciałach?
Opierając się na tej regule, zawsze mówię „Jestem we wszystkich Awatarach i
wszyscy Awatarowie są we mnie.” Form jest wiele, fizycznych okryw jest wiele,
lecz witalność życia jest tylko jedna. Jest to jedyna wieczna religia, wieczna
prawda!<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Czy znaczy to, że jeżdżenie twoich wielbicieli do Shirdi jest bezcelowe?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Znów złe pytanie. Jedź do Shirdi, albo chodź do mandiru Ramy, albo Kriszny,
albo meczetu, albo kościoła. Idź tam, gdzie czujesz się lepiej. Jestem
wszędzie, w każdym. Jestem wszechobecny. Gdy ci, którzy mi nie wierzą, a wierzą
Śirdi Babie, odwiedzają Shirdi i widzą Śirdi Babę, przyjmuję tamtą postać, by
ich zadowolić. Dla wielbicieli Śiwy, staję się Śiwą. Podobnie staję się Ramą,
Jezusem i Mahometem. Jestem w nich wszystkich. Jest to prawda odwiecznej
niedwoistości. Jest to jedyna religia na świecie, religia miłości.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Ale wtedy...?<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Baba:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Dosyć już. Za dużo mówisz.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">Ja:</span></b><span style="11.0pt;mso-bidi-10.0pt;&quot;Times New Roman&quot;">
Ostatnia wątpliwość. Powiedziałeś, że jesteś w tamtej postaci w Shirdi. Jak to
się więc dzieje, że dopuszcza się, by w Shirdi były pięciogwiazdkowe hotele,
luksusowe pokoje do wynajęcia, hazard i niewłaściwe zachowania? Dlaczego
wielbiciele za twój <i style="mso-bidi-font-style:normal">darśan</i> muszą tam
płacić robiąc <i style="mso-bidi-font-style:normal">abhiszekę </i>[ablucje],
otrzymując <i style="mso-bidi-font-style:normal">prasad</i> [święcone
pożywienie] itd. Jeśli jest to całkowicie w porządku tam, czemu tak się nie
robi w Puttaparthi ani tutaj? Dlaczego w Shirdi nie można dostać twoich zdjęć i
książek? Tutaj widzę zdjęcia, i inne artykuły związane z Śirdi Babą.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;">Baba:</b> Jest to wynik niewłaściwego zarządzania, a
nie wina Śirdi Sai, czy moja lub wielbicieli. Ci, którzy na to pozwalają i ci,
którzy w tym uczestniczą poniosą konsekwencje i przejdą cykl prób i kłopotów.
Prawdziwy wielbiciel tak nie postępuje. W zatłoczonych miejscach wraz z
prawdziwymi monetami w obiegu są też fałszywe. Takie rzeczy dzieją się też we
wszystkich miejscach pielgrzymek. Oni poniosą konsekwencje. Chociaż jestem
wszędzie, tutaj jestem w ludzkiej postaci. W innych miejscach płyną tylko moje
boskie fale. To też jest moja natura.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Nie
powinieneś też czynić różnic mówiąc 'senior Sai,' 'junior Sai' itd. Zrozum
Ostateczną prawdę niedwoistości. Tą prawdą jest miłość. Miłość jest jedna, bez
drugiej.<o:p></o:p></span></p>

<p><span style="11.0pt;mso-bidi-10.0pt;
&quot;Times New Roman&quot;"><!--[if !supporWywiad z BhagawanemtyParas]-->&nbsp;<!--[endif]--><o:p></o:p></span></p>

<p style="35.4pt"><span style="11.0pt;
mso-bidi-10.0pt;&quot;Times New Roman&quot;">Tu Baba wstał.
Pośpiesznie pokłoniłem się mu do stóp i wyszedłem. Wywiad trwał ponad półtorej
godziny. Na zewnątrz moi przyjaciele ciągle siedzieli i czekali z
niecierpliwością. Spytali: „Dla nas nie będzie audiencji?” Odpowiedziałem:
„Dzisiaj Baba udzielił audiencji nie tylko dla was, ale dla całego świata!
Chodźmy.”<o:p></o:p></span></p>

<p style="text-align:right" align="right">[dla <i>ŚM</i> tłum.
KMB; 2005.05.07]<span style="mso-tab-count:2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Wywiad z Bhagawanem</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>