<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Summer Showers 1990</h2>
                
<p style=" text-align: center;"><font size="5"><b>



2.<br><br>

UŚWIĘCAJCIE CIAŁO
</b></font><br><br>
	 <br>
 



</p><p style=" text-align: center;"><i> 
 

Nie jesteś ciałem, workiem mięsa, krwi i kości! <br>
Nie jesteś utajonym pragnieniem ani przejawionym umysłem; <br>
Nie jesteś także oślepiającą ułudą, która udaremnia wyzwolenie, <br>
Lecz jesteś wieczną paramatmą,<br>
O ile tylko rozpoznasz swoją wrodzoną moc. <br></i>

 
</p><p class="py-4">
<b>

Uczniowie i studenci! Ucieleśnienia boskiej miłości!</b><br>

</p><p>

 Ciało, zmysły, umysł i intelekt są tylko szatami nałożonymi na
człowieka. Tylko wtedy, gdy zrozumiemy naturę i znaczenie tego
ekwipunku, możemy zrobić z niego właściwy użytek. Ubieracie spodnie,
podkoszulek, koszulę i marynarkę. Gdy wiecie, jak poprawnie użyć każdej
z tych rzeczy, możecie posłużyć się nimi we właściwy sposób i odnieść
korzyść. W przeciwnym razie możecie używać ich dziwacznie, np. wkładając
podkoszulek na koszulę lub ubierając spodnie tyłem do przodu. Zatem na
ogół dbacie o to, aby założyć wasz codzienny ubiór właściwie, aby
wyglądać przyzwoicie i atrakcyjnie. Podobnie, ciało jest naszą
garderobą. Jednak tylko wtedy, gdy wiemy, jak je włożyć i odpowiednio
użyć, możemy zrobić z niego dobry użytek i uzyskać największą korzyść.

</p><p>

  <i>Dahjati iti dehah</i> - to, co podlega spaleniu, nazywa się ciałem.
Jest to etymologiczne znaczenie słowa deha (ciało). Powszechnie wiadomo,
że ciało po śmierci zostaje spalone. Jednak nawet za życia ciało
doświadcza wypalania spowodowanego zmartwieniami. Ciało jest bezwładne.
Jest ono składnicą nieczystości, narażoną na wszelkiego rodzaju choroby.
Jako zbitka kości i mięsa nie może pomóc wam w przekroczeniu oceanu
narodzin i śmierci. A zatem, o umyśle!, zamiast polegać na tym kruchym
ciele, lepiej uchwyć się mocno lotosowych stóp Pana Hari. Tak modlili
się mędrcy. Ciało utworzone z pięciu żywiołów jest nietrwałe. Jednak wy,
którzy przywdzialiście ciało, jesteście doprawdy najwyższym Bogiem,
który jest wieczny i niezmienny. Do was zatem należy stosowanie
zdolności rozróżniania tak, aby roztropnie używać ciała i dzięki temu
czerpać z niego radość.
</p><p>

  Inną nazwą ciała jest śarira. <i>Śirjathe iti śariraha</i>. To, co
podlega rozkładowi, nazywa się śarira. W czasie narodzin ciało jest
bryłą mięsa i kości. Gdy rośnie, pięknieje i wchodzi w okres
dojrzewania. Potem, gdy pęcznieje z dumy z powodu swego piękna, wigoru
itd., osiąga dorosłość. Z biegiem czasu dopadają je skutki starości,
powodujące utratę żywotności i podatność na choroby. Zatem ciało jest
przedmiotem wielu zmian.
</p><p>

  Jeszcze inną nazwą ciała jest mandir (świątynia), ponieważ przechowuje
w sobie dźiwę (indywidualną duszę), która faktycznie nie jest niczym
innym jak wiekuistym Bogiem (najwyższą duszą). Zatem ciała jako świętego
mieszkania Boga nie powinno się używać niewłaściwie, ale wykorzystywać
dla utrzymywania dobrych myśli, mówienia dobrych słów i dla wykonywania
dobrych czynów. Tak więc dla ułatwienia takiego właściwego użytku z
ciała powinno się je utrzymywać w dobrym stanie.
</p><p>

  Każdy przyrząd powinien być utrzymywany we właściwym stanie, aby mógł
zadowalająco wypełniać swoją funkcję. Na przykład, możecie wygodnie
pisać piórem wiecznym tylko wtedy, gdy jest ono napełnione odpowiednim
atramentem i gdy stalówka również jest w dobrym stanie. Tak samo nóż
może być użyty do cięcia pod warunkiem, że jest dostatecznie ostry, ma
odpowiedni uchwyt itd. Podobnie ciało, które jest instrumentem do
wykonywania prawych czynów, powinno być utrzymywane w odpowiednim do
tego celu stanie. Możecie użyć noża do krojenia warzyw, owoców itd., ale
nie do pokrojenia kawałka żelaza. Zatem i ciała powinniśmy używać
rozważnie, aby realizować cele, do których jest ono przeznaczone.
Zawsze, zanim coś zrobicie, powinniście zapytać siebie: "Skoro jestem
brahmanem mieszkającym w tym ciele jako indywidualny atman, to czy
postąpię właściwie podejmując to działanie czy nie?". Tylko wtedy
będziecie używać ciała we właściwy sposób. Tylko dlatego, że macie to
ciało, nie powinniście używać go dla spełniania zachcianek i fantazji,
zapominając o prawdzie, że jest ono świątynią Boga, która powinna być
używana dla świętych celów.
</p><p>

  Ciało nazywa się także kszetrą (miejscem, polem). Ten, kto poznaje tę
kszetrę, jest kszetradźnią (znawcą kszetry). Ty jesteś znawcą kszetry, a
ciało jest kszetrą, które jest ci znane. Zatem jesteś świadkiem tego
ciała. Kszetra oznacza święte miejsce związane z boskością i napełnione
świętymi wibracjami, jak na przykład miejsca pielgrzymek w rodzaju Kaśi
(Benares, Waranasi), Tirupati, Badri itd. Kszetry takie są przeznaczone
do odprawiania nabożeństw, oddawania czci, wypełniania religijnych
ślubowań, dobroczynności i innych podobnych świętych czynów.
Analogicznie, w kszetrze ciała powinny panować jedynie dobre myśli i
dobre czyny. Takie jest wewnętrzne znaczenie określenia 'kszetra'
użytego w stosunku do ciała.
</p><p>

  Innym znaczeniem słowa kszetra jest pole. Owoce, które zbieramy na
polu ciała, zależą od nasion, które wysiewamy. Jeśli siejemy dobre
myśli, możemy zebrać dobre owoce. Złe myśli będą rodzić tylko złe
rezultaty. Zatem ciało jest polem, na którym sieje się nasiona punji
(zasługi) i papy (grzechu). Powinniśmy jednak pamiętać, że ciało jako
pole ma pewne zalety w porównaniu do pola uprawnego. Uprawiając pole w
celu uzyskania plonów musimy czekać na odpowiednią porę roku i na
optymalne warunki siewu, w zależności od gatunku uprawianej rośliny.
Należy wziąć pod uwagę rodzaj gleby, aby była odpowiednia dla danej
uprawy. Siew nie może być wykonywany bez rozróżniania. Jednak w
przypadku pola naszego ciała, nie ma takich ograniczeń. Może być ono
uprawiane we wszelkich warunkach, o wszystkich porach, także w dzień i w
noc. Kiedy siejesz nasiona na ziemi uprawnej, możesz otrzymać dobry lub
niski plon. Możesz nie zrealizować swych oczekiwań. Jednak w przypadku
ludzkiego ciała jesteś zmuszony zebrać owoce dobrych lub złych myśli i
czynów, które zasiałeś jako nasiona. Możesz być pewien, że wszystko do
ciebie wróci co do procenta. Co zasiejesz, to zbierzesz. To jest
niezmienne prawo. Musisz zatem zadbać, aby siać jedynie nasiona w formie
dobrych myśli i dobrych czynów. Nie powinieneś niewłaściwie używać
swojego ciała, wedle własnych upodobań. Powinieneś rozróżniać między
zmiennym a nieprzemijającym i używać ciała dla osiągnięcia najwyższego
dobra.
</p><p>

Ci, którzy pragną używać swego ciała właściwie i mieć gwarancję, że
żywią dobre myśli, by dokonać dobrych czynów i zebrać dobre rezultaty,
powinni skrupulatnie przestrzegać dwóch rzeczy: uregulowanej diety i
uregulowanych nawyków życiowych. Nie powinniście spożywać każdego
rodzaju pokarmu jedynie po to, by zaspokoić głód lub dogodzić
podniebieniu. Musicie jeść tylko sattwiczny (czysty) pokarm. Nasze myśli
są zdeterminowane przez rodzaj pożywienia, jakie spożywamy. Na przykład,
jakiego drewna użyje się na opał, taki będzie ogień i dym: jeśli
użyjecie drewna sandałowego, otrzymacie pachnący dym, a jeśli użyjecie
cuchnącego rodzaju opału, otrzymacie cuchnący dym. Zatem rodzaj zapachu
zależy od rodzaju ognia. I dalej, jaki dym, taka chmura; jaka chmura,
taka woda; jaka woda, taki deszcz; jaki deszcz, taki plon; jaki plon,
taka żywność; jaka żywność, taka głowa, czyli myśli. Nasze myśli są
zatem rezultatem typu pokarmu, jaki jemy. Ciało myje się wodą, natomiast
umysł oczyszcza się przez prawdę. Tylko wtedy, gdy przyjmujemy pokarm,
który sprzyja prawdzie, możemy podążać ścieżką prawdy. Ponieważ ciało
jest świątynią, powinniście całkowicie unikać przyjmowania jakichkolwiek
odurzających substancji. Artykuły żywnościowe, które sprzyjają cechom
radżasowym, które rozbudzają pasje, powinny być wyeliminowane.
</p><p>

  Co rozumiemy przez pokarm sattwiczny? Przeważająca opinia jest taka,
że sattwiczny pokarm stanowią owoce i mleko. Jednak nie tylko o to
chodzi. To, co jest spożywane przez usta, nie jest jedynym pokarmem,
który wnika do ciała. Inne narządy zmysłów jak oczy, uszy, nos i ręce
także konsumują obiekty świata zewnętrznego. Tylko z tego powodu, że
ktoś spożywa owoce i mleko przez jeden z pięciu zmysłów, nie można
utrzymywać, że przyjmuje on sattwiczny pokarm, dopóki pokarm przyjmowany
przez wszystkie pięć zmysłów tej osoby nie będzie w swej naturze
sattwiczny. Oczami musicie oglądać tylko to, co jest czyste. Oglądanie
wszystkiego bez rozróżniania oznaczać będzie katastrofę. Zdolność
widzenia powinna być użyta tylko do świętych celów. Na nieszczęście
jednak sposób patrzenia dzisiejszej młodzieży staje się coraz bardziej
zepsuty, na podobieństwo kićaka-driszti (patrzenia lubieżnego). W
rezultacie podzielą los Kićaki z Mahabharaty, którego zabił Bhima.
Uczniowie i studenci powinni być szczególnie ostrożni pod tym względem.
Tylko wtedy, gdy będą używać oczu w sposób czysty i święty, otrzymają
sattwiczne wrażenia przez oczy.
</p><p>

  Uszy również potrzebują czystego pokarmu. Oznacza to, że powinniśmy
słuchać tylko słów świętych i dotyczących boskości. Słuchajmy zawsze
dobrych i miłych rzeczy o innych ludziach. Tym sposobem musicie
ochraniać uszy, aby nie stały się zanieczyszczone przez słuchanie złych
rzeczy. Tylko tak możemy zapewnić spożywanie sattwicznego pokarmu przez
uszy.
</p><p>

  Przez nos powinny być przyjmowane tylko aromatyczne, słodkie zapachy.
Wdychanie nieprzyjemnych woni przyniesie w rezultacie chorobę. Jeśli
wciągacie cuchnące powietrze, będziecie wdychać chorobotwórcze zarazki.
Musicie oddychać czystym powietrzem w czystej, otwartej przestrzeni.
</p><p>

  Ręka również powinna być używana do konsumowania pokarmu czystego.
Innymi słowy, musicie wykonywać swymi rękami tylko dobre czyny,
stosownie do określenia ciała jako świątyni.
</p><p>

  Kiedy wyeliminujesz pięć rodzajów zła związanych z zanieczyszczeniem
mowy, wzroku, słuchu, myślenia i działania, będziesz w stanie
zrealizować swą własną boskość i stać się paramatmą (najwyższą duszą).
Jeżeli zmysły odżywiają się zanieczyszczonym pokarmem, nie możesz stać
się czysty jedynie przyjmując mleko i owoce. Musisz przyjmować czysty,
sattwiczny pokarm przez wszystkie pięć zmysłów.
</p><p>

  Zazwyczaj świątynia ma wiele bram. Są one przeznaczone do wpuszczania
tylko wyznawców, którzy chcą wielbić bóstwo wewnątrz świątyni, a nie
wszystkich ludzi bez wyjątku. Podobnie, świątynia ciała posiada pięć
bram. Jakie jest ich przeznaczenie? Jeśli budujemy dom i wstawiamy do
niego drzwi, to są one przeznaczone do wpuszczania tylko naszych
krewnych i znajomych, a nie wszystkich zbłąkanych zwierząt jak psy,
świnie, osły itd. Jeśli takie niechciane zwierzęta próbują wejść, drzwi
się przed nimi zamyka. Podobnie drzwi pięciu zmysłów w tym świętym ciele
powinny stać otworem tylko dla świętych i boskich gości. Tylko wtedy
ciało będzie zasługiwało na miano kszetry lub mandiru. Z drugiej strony,
jeśli bezbożnym przedmiotom i ideom pozwala się wchodzić, przestanie ono
być świętym przybytkiem. Widać zatem, że sattwiczny pokarm jest bardzo
istotny dla właściwego użytkowania ciała.
</p><p>

  Następnie mamy wiharę - przebywanie lub związek z miejscami, osobami,
przedmiotami itd. Musicie poważnie zastanowić się, jakie miejsca możecie
odwiedzać, w jakim otoczeniu powinniście żyć i z jakimi osobami
powinniście się spotykać. Powiedz mi, z kim się spotykasz, a powiem ci
kim jesteś, mówi przysłowie. Powinniście unikać wszelkiego złego
towarzystwa, ponieważ towarzystwo, w którym przebywacie, ma wpływ na wasze myśli  .
</p><p>

 Dzisiejsza młodzież chętnie przebywa w złym towarzystwie. Łatwo schodzi
na złe drogi. Jest to równoznaczne z umniejszaniem i dewaluacją
ludzkiego ciała, które pisma święte określają jako najcenniejszy i
najrzadszy nabytek wśród wszystkich stworzeń. Rozumiejąc to, dawni
mędrcy wybierali życie w odosobnieniu, aby poświęcić się świętym myślom
i działaniom, takim jak nabożne śpiewy, medytacja i asceza. Jednak nawet
to z pewnego punktu widzenia może być uważane za oznakę słabości. Na
przykład, jeśli chcecie pokonać gniew, to czy możecie to zrobić przez
odejście do lasu i wykonywanie umartwień przez ileś tam lat? Skoro wasz
gniew pojawia się pośród ludzi, to musi on być przezwyciężony tylko w
tym samym środowisku, a nie w bezludnym lesie. Możecie pozostawać
spokojni, kiedy przebywacie w lesie, lecz kiedy powrócicie do ludzi,
będziecie tą samą dawną zirytowaną osobą. Jeśli chcecie kontrolować
swoje zmysły, nie łudźcie się wyobrażając sobie, że możecie to zrobić
przez uciekanie się do religijnej pokuty. Można to osiągnąć łatwo, o ile
zrozumiecie subtelne funkcjonowanie ciała, ale w żaden inny sposób.
Przypuśćmy, że kupujecie nowy samochód. Musicie wiedzieć, jak prawidłowo
nim kierować. Tylko dlatego, że nabyliście go za własne pieniądze i
zarejestrowaliście we właściwy sposób, nie możecie usiąść za kierownicą
i kierować nim, jak się wam podoba, bo mogłoby to być niebezpieczne dla
samochodu, dla was jak i dla innych ludzi. Pomimo że samochód byłby
wasz, musicie wiedzieć, jak właściwie go używać. Należy zauważyć, że
wszystkie problemy i kłopoty człowieka biorą się stąd, że nie wie on,
jak używać prawidłowo własnego ciała. Dlatego staje się łatwą ofiarą
smutku i choroby. O jednej rzeczy należy zawsze pamiętać. Nikt nie może
postąpić wbrew boskiej woli. Nikt nie może zmienić prawa Pana, które
jest niezmienne.
</p><p>

  Ciało jest bezwładne. Wielu może oponować przeciwko nazywaniu ciała
bezwładnym, skoro widać, że jest ono zdolne do wzrostu. Odpowiedź na tę
wątpliwość jest taka, że kiedy sprzątacie swój dom każdego dnia i
zgarniacie śmieci w jedno miejsce, kupa śmieci będzie rosła w wielką
stertę. Podobnie, kiedy wrzucacie do swojego ciała różnego rodzaju
pokarm wiele razy dziennie, wasze ciało, chociaż pozbawione czucia,
będzie rosło jak sterta odpadków. Należy jednak zrozumieć, że ciało jest
w stanie wykonywać funkcje jedzenia, mówienia, chodzenia i wzrostu
dzięki wewnętrznej ćajtanji (świadomości). Z tego względu ciało można
porównać do samochodu. Oczy są jak reflektory, język jak klakson, uszy
to głośniki. Ponieważ wewnątrz samochodu jest akumulator, wymienione
wyżej części są w stanie działać. Podobnie różne narządy w bezwładnym
ciele mogą funkcjonować tylko dzięki mocy atmy wewnątrz ciała. Podam
inny przykład. Bezwładne opiłki żelaza są w stanie poruszać się, kiedy
przyciąga je magnes. Tak samo działanie wszystkich organów ciała, które
samo w sobie jest bezwładne, jest możliwe dzięki obecności atmy. Szkoda,
że tracimy wiele czasu, wysiłku i pieniędzy, aby dbać o piękno
przemijającego i bezwładnego ciała, zapominając o naszej prawdziwej
atmie, jaźni, która jest trwała i wrażliwa.

</p><p>


  W związku z ciałem człowiek ma skłonność do trzech rodzajów błędnych
wyobrażeń. Pierwsze to błędne utożsamianie się z czymś, co nie jest
rzeczywistą jaźnią. Następne to traktowanie osób lub rzeczy, które nie
należą do niego, jako własne. Trzecie to wiara, że ulotne jest wieczne.
Człowiek traktuje ciało jako swoją prawdziwą jaźń. Jeśli tak jest, to
dlaczego miałby mówić, że "to jest moje ciało". Z tego stwierdzenia
wyraźnie wynika, że jest on różny od ciała, ponieważ właściciel jest
czymś innym niż posiadana przez niego rzecz. Na przykład, kiedy człowiek
mówi: to jest moja chusteczka, to jest on czymś osobnym od chusteczki.
Zatem jak można mówić, że jest się ciałem? To pierwszy i podstawowy błąd.
</p><p>

  Po drugie, w sprawach doczesnych człowiek myli się wierząc, że jest
właścicielem różnego rodzaju mienia takiego jak domy, ziemie, pojazdy
itd. Budujesz dom i nazywasz go twoim. Kiedy sprzedajesz go, nie jest
dłużej twój. Podobnie, kupujesz samochód i mówisz, że jest twój. Lecz
sprzedany, przestaje być twój. Tak więc rzeczy są wasze tylko dopóty,
dopóki posiadacie je i używacie ich. Zapominając, że całe to mienie jest
tymczasowe niczym przelotne chmury, rozwijacie nieuzasadnione
przywiązanie do nich. Faktycznie nic nie jest twoje. Jak może być twoje
to, co należy do ciała? Wszystkie te błędne wyobrażenia są spowodowane
zasłoną maji (złudzenia) i wynikającym z niej poczuciem bycia
posiadaczem oraz aberracjami umysłu. Przed ślubem nikt nie może
powiedzieć, kto jest mężem, a kto jest żoną. Przed narodzinami nikt nie
może powiedzieć, kto jest matką, a kto dzieckiem. Tylko po ślubie
mówisz: "To jest moja żona". Dopiero gdy dziecko się urodzi,
stwierdzasz: "To jest mój syn". Jednak relacje te są przemijające i
nietrwałe oraz bazują na błędnej identyfikacji siebie z ciałem. Nikt nie
przynosi z sobą nawet maleńkiego skrawka odzieży, gdy się rodzi i nikt
nie zostawia nawet swojego adresu, gdy umiera. Jeśli oni rzeczywiście
należą do ciebie, dlaczego nie zostawią ci swojego adresu, gdy
ostatecznie odchodzą? Nic nie należy do ciebie. Zapominając o własnej
rzeczywistości i błędnie biorąc nierzeczywiste za rzeczywiste w tym
iluzorycznym świecie, stwarzasz sobie problemy. Jesteś zawsze tylko
sobą. Nie należysz do nikogo, ani też nikt nie należy do ciebie. Jest
tylko jedna rzecz, która istnieje. Wbrew jednoznacznemu orzeczeniu pism
świętych, że rzeczywistość jest Jednym, mimo iż mędrcy nazywają ją
różnie, w dalszym ciągu mylnie wierzymy, że różnorodność jest realna.
</p><p>

  Rozważmy przykład kogoś, kto jest głową rodziny. Żona mówi o nim: "Mój
drogi mąż". Syn nazywa go: "Mój drogi ojciec". Matka mówi: "Mój drogi
syn", a synowa zwraca się do niego: "Mój drogi teść". Zatem jedną i tę
samą osobę nazywa się różnie, zgodnie z różnymi stopniami pokrewieństwa
z jej ciałem. Jak głoszą pisma święte - Jeden stał się wielością. Tak
więc istnieje jedność leżąca u podłoża zróżnicowania. Istnieje tylko
Jeden. Ten Jeden - Bóg - to Heros, a cała reszta - czyli świat - to zero
[ang.: Hero - zero]. Kiedy stawiacie jedno zero przy jedynce, staje się
ono dziesiątką; z jeszcze jednym zerem staje się setką, a z trzecim
zerem staje się tysiącem itd. Skąd wszystkie te zera biorą swoją
wartość? Tylko od Herosa. Jeśli usuniecie Herosa, dowolna liczba zer
jest bez wartości. Zatem wyłącznie Bóg jest Herosem. Złudzenia ciała,
umysłu, intelektu itd. są jedynie zerami. Tak więc ważne jest, byśmy
trzymali się Herosa - Boga. To nie oznacza, że powinniście zrezygnować
ze świata lub porzucić obowiązki związane ze światem.
</p><p>

  Musicie wypełniać swoje obowiązki względem krewnych i znajomych.
Jednak podczas wypełniania obowiązków nie powinniście nigdy zboczyć z
duchowej ścieżki. Wasze świeckie życie powinno być w harmonii z życiem
duchowym. Jak długo żyjecie na tym świecie, musicie dostosować się do
reguł i zasad rządzących sprawami doczesnymi. Jednak cokolwiek robicie,
nie możecie tracić z oczu najwyższego duchowego celu życia. Powinniście
uznać fakt, że nic nie należy do was, ani matka, ani ojciec, brat,
krewny, majątek, dom itd. Wszystkie te tymczasowe rzeczy dotyczą
zmieniającego się ciała, które jest podstawą wszystkich umysłowych
aberracji.
</p><p>

  Ciało podlega różnym zmianom powodowanym przez pożywienie i inne
życiowe nawyki. Jakie nie byłyby te zmiany, indywidualność pozostaje
niezmieniona. Zmiany imienia i formy takie jak dzieciństwo, młodość,
dojrzałość i starość odnoszą się do ciała i dlatego są iluzoryczne. Nie
powinniście zatem w ogóle traktować ciała jako coś rzeczywistego i
trwałego. Niemniej jest waszym obowiązkiem zadbać, by ciało nie uległo
chorobie i aby pozostawało sprawnym instrumentem. Jak długo żeglujecie
po rzece życia, musicie uważać, aby w łodzi waszego ciała nie powstawały
dziury i inne uszkodzenia, a także macie zapobiegać przedostawaniu się
przez nie wody do łodzi. Łódź może być w wodzie, ale nie powinno być
wody w łodzi. Pozostawajcie w świecie i spełniajcie swoje obowiązki, ale
nie pozwólcie wniknąć zmartwieniom do umysłu i czynić ciało podatnym na
wszelkie rodzaje schorzeń. Traktujcie ciało jedynie jako instrument.
</p><p>

  Aby utrzymać instrument ciała w dobrym stanie, musicie uregulować
swoje nawyki żywieniowe i inne. Traktujcie też ciało jak okrywę lub
ubranie i od czasu do czasu czyście je, tak jak zabrudzoną odzież czyści
pracz. Pracz usuwa brud z odzieży tak, by odzyskała pierwotną biel.
Podobnie też, czystość jest naturalna dla ludzkiego ciała, lecz staje
się ono brudne z powodu niewłaściwego użycia. Powinniście zatem
utrzymywać je w czystości z pomocą Boga jako pracza przez stosowanie
takich praktyk jak modlitwa, dżapa, medytacja i miłość do Boga. Tylko
pracz może wyprać odzież, fryzjer tego nie zrobi . Także tylko Bóg
i nikt inny może oczyścić wasze serce z zanieczyszczeń. Nigdy nie
zapominajcie, że to ciało jest tylko garderobą. To ignorancja powoduje,
że traktujecie ciało jak prawdziwą jaźń. Tylko wtedy, gdy pozbędziecie
się tej ignorancji, będziecie jaśnieć jak promienne słońce mądrości.
</p><p>

  Uczniowie i studenci! Oprócz ciała musicie zrozumieć rolę i znaczenie
pozostałych związanych z nim rzeczy, takich jak narządy zmysłów, umysł i
intelekt oraz musicie utrzymywać je w dobrym stanie. Jeśli włożycie
laddu (indyjskie słodycze) lub goździki do kieszeni swojej koszuli i
zapomniawszy o tym dacie koszulę do prania, to kiedy pracz zwróci ją,
odkryjecie, że na kieszeni pojawiły się plamy. Podobnie, umysł plamią
złe wrażenia, jeśli pozwolicie złym myślom wejść do niego. Tylko wtedy,
gdy natura każdej z tych składowych części waszej osobowości, to jest
ciała, zmysłów, umysłu i intelektu, jest właściwie zrozumiana, będziecie
w stanie wieść zintegrowane i celowe ludzkie życie. W przeciwnym razie
staniecie się ofiarą wszelkiego rodzaju trudności i problemów. Nie
musicie marnować czasu na rutynowe praktyki duchowe takie jak dżapa i
dhjana (medytacja). Prawdziwą sadhaną (ćwiczeniem duchowym) jest
poznawanie prawdy. Kiedy żywność jest ugotowana, drewno opałowe nie jest
już potrzebne. Podobnie, kiedy już pozna się prawdę, nie ma potrzeby
sadhany.

 </p><p>


              Jeśli podczas tych dwóch tygodni zdołacie uchwycić naturę
i znaczenie ciała, zmysłów, umysłu, intelektu, a także atmy (Boga),
która jest najwyższym świadkiem przewodniczącym nad resztą wymienionych
składowych, będziecie w stanie opanować tajemnicę kosmosu składającego
się z pięciu podstawowych żywiołów (pańća-bhutów). W końcu, ponieważ Bóg
jest podstawą wszystkiego, musicie rozwijać wiarę i zaufanie do Boga.

 
</p><p class="text-right py-4">   
tłum. Jacek Rzeźnikowski, współpr. Kazik Borkowski <br>
red. Iwona Owczarek, Izabela Szaniawska
</font></p><br>


<p class="text-center pt-5">
[Źródło: http://www.sssbpt.info/html/sum1990.htm]<br>
[5.08.2007]


</font></p>
                    
                                <p class="text-center pb-5">   
                     Copyright © 2001-2007 Stowarzyszenie Sathya Sai                </p>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>