<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Summer Showers 1990</h2><p class="text-center" ><br>
                8</b></p>

                <p class="text-center">WOŹNICA BUDDHI</p>
                
                <p style=""><i><span style="
                ">Czystość umysłu jest drogą rozwoju.</span></i></p>
                
                <p style=""><i><span style="
                ">Czystość umysłu oznacza potężną moc.</span></i></p>
                
                <p style=""><i><span style="
                ">Czysty umysł jest jak drogocenna perła w
                morzu.</span></i></p>
                
                <p style=""><i><span style="
                ">Nigdy nie zapomnij tych słów mądrości.</span></i></p>
                
                <p style=""><i><span style="
                ">&nbsp;</span></i></p>
                
                <p style=""><i><span style="
                ">Nie patrz na zło, nie mów źle</span></i></p>
                
                <p style=""><i><span style="
                ">Nie słuchaj zła – kiedykolwiek i
                gdziekolwiek na świecie.</span></i></p>
                
                <p style=""><i><span style="
                ">Zawsze pamiętaj obraz trzech małp.</span></i></p>
                
                <p style=""><i><span style="
                ">To co mówię jest szczerą prawdą!</span></i></p>
                
                <p style="
                margin-bottom:3.75pt;margin-left:3.75pt;text-align:center;line-height:normal" align="center"><span style="">&nbsp;</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Powiedziano wam wcześniej, że zgodnie
                z Upaniszadami ciało ludzkie jest powozem, organy zmysłów są końmi, a umysł
                jest lejcami. Niezależnie jak piękny jest powóz, jak posłuszne konie, jak pewne
                i bezpieczne lejce, wszystkie są bezużyteczne bez woźnicy. Tak samo, jakkolwiek
                sprawne jest ciało, zmysły i umysł, niczemu nie służą pod nieobecność woźnicy,
                którym jest buddhi (intelekt). W podróży życia intelekt ma najwyższe znaczenie.
                Jest on nazywany niśćajatmika buddhi, co znaczy, że buddhi ma zdolność
                podejmowania decyzji. W życiu codziennym od czasu do czasu pojawia się wiele
                trudności, problemów i zamieszania. Naszym oparciem w przezwyciężenia
                wszystkich tych przeszkód jest buddhi. Bez interwencji buddhi żaden z naszych
                problemów nie może być rozwiązany. „Samśajatma winaśjati” mówi Gita, co znaczy,
                że człowiek wypełniony wątpliwościami zginie. Ponieważ buddhi burzy
                wątpliwości, Gita zapewnia: „Buddhi grahajam atindrijam” (buddhi może pojąć to,
                co jest poza pojmowaniem zmysłów).</span></p>
                
                <p class="MsoBodyText" style="margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;
                Bhagawad Gita ustanowiła dwa brzegi, aby ukierunkować swoje przesłanie. Pod
                nieobecność tych brzegów rzeka życia będzie narażona na liczne problemy,
                trudności i ryzykowne sytuacje. Dwa brzegi są symbolizowane przez dwie mantry.
                Pierwsza to: Śraddhawan labhate dźnianam (Człowiek wiary zdobywa najwyższą
                mądrość). Duga to: Samśajatma winaśjati (człowiek pełen wątpliwości, zginie).
                Kiedy rzeka życia płynie pomiędzy tymi dwoma brzegami mantr, będzie pobłogosławiona
                pokojem i szczęściem i ostatecznie osiągnie morze Boskiej Łaski, które jest jej
                celem.</span></p>
                
                <p class="MsoBodyText" style="margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;
                „Antarwani” (głos wewnętrzny) jest inną nazwą buddhi. Zachowaniu człowieka w
                życiu przewodniczy ten wewnętrzny głos. Kiedykolwiek pojawiają się problemy,
                człowiek oczekuje wskazówek głosu wewnętrznego. Jeśli zadowalające odpowiedzi
                głosu wewnętrznego nie nadchodzą, człowiek nie ma satysfakcji w życiu. Innymi
                słowy, jego zadowolenie z zewnętrznego świata jest funkcją satysfakcji z jego
                świata wewnętrznego, reprezentowanego przez głos wewnętrzny. Czasami słyszy się
                ludzi mówiących: „moje sumienie nie jest zadowolone” lub „sumienie mi na to nie
                pozwala”. Tutaj sumienie odnosi się do głosu wewnętrznego. Tak więc kiedy
                jesteście nawoływani aby „podążać za Mistrzem (Follow the Master)”, to „Mistrz”
                oznacza wasze sumienie. Tylko wtedy, gdy podążacie za nakazami waszego sumienia
                możecie osiągnąć właściwy cel.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Określenie widźniana jest także czasem
                przypisywane buddhi. Nie jest to jednak prawidłowe, ponieważ widźniana oznacza
                tak zwaną wiedzę naukową lub doczesną, która pomaga człowiekowi odkrywać fakty
                związane z obiektywnym, zjawiskowym światem, podczas gdy buddhi dotyczy
                subtelnej rzeczywistości świata wewnętrznego. Rolę buddhi trzeba właściwie
                rozumieć.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Raz po raz zdarza się, że buddhi
                ulegania zakryciu przez ahamkarę (ego). W tym kontekście należy pamiętać, że
                zmysły są bardziej subtelne niż ciało, umysł jeszcze bardziej subtelny niż
                zmysły, a buddhi jest dużo bardziej subtelne niż umysł. Atma jest oczywiście
                najsubtelniejsza. W świetle tego faktu, kiedy mówimy, że ahamkara jest zdolna
                przesłonić buddhi oznacza to, że ahamkara jest bardziej subtelna niż buddhi.
                Tak więc ahamkara jako niezwykle subtelna przenika wszystko, również wszystkie
                nasze działania. To dlatego człowiek jest niezdolny do przekroczenia ahamkary i
                doświadczenia Atmy (Jaźni).</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Pewnego razu król zebrał na swoim
                dworze wielkich uczonych. Postawił przed nimi następujące pytanie: „Wszyscy
                jesteście wybitnymi uczonymi, którzy opanowali święte teksty. Czy możecie
                powiedzieć mi ilu spośród was jest w stanie osiągnąć wyzwolenie?” Pomimo całego
                akademickiego wykształcenia jakie posiadali, żaden z panditów nie miał odwagi
                wstać i dać twierdzącej odpowiedzi. Całe zgromadzenie zamilkło. Wtedy spośród
                publiczności podniósł się zwykły człowiek i śmiało oświadczył: (w telugu) „Nenu
                pothe powaczczunu.” Jego odpowiedź ma dwa znaczenia:</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">(i) Możliwe, że ja mogę dojść do
                mokszy,&nbsp;&nbsp;&nbsp; oraz</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">(ii) Jeśli ja odejdzie, można osiągnąć
                wyzwolenie.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">Drugie znaczenie nie przyszło na myśl
                żadnemu z uczonych. Tak więc, przyjmując pierwsze znaczenie, wszyscy pandici
                poczuli się obrażeni zuchwalstwem tej niewykształconej osoby, która wydawała
                się być kompletnym ignorantem w dziedzinie świętych tekstów, jak również nie
                wyglądała na kogoś, kto wykonał duchową praktykę (sadhana). Kiedy uczeni
                zaczęli mruczeć między sobą, król zapytał tę zwyczajnie wyglądającą osobę: „Na
                jakiej podstawie tak twierdzisz? To brzmi jak zniewaga dla wszystkich obecnych
                tu uczonych.” Człowiek odpowiedział uprzejmie: „Ekscelencjo! Proszę o
                wybaczenie. Znaczenie mojej wypowiedzi jest następujące: Jeśli ja odejdzie,
                wyzwolenie można osiągnąć. Jestem pewien, że nikt nie ma żadnych zastrzeżeń co
                do tego mojego stwierdzenia.” Celem tej historyjki jest pokazanie, że ahamkara,
                która zakrywa buddhi i która prowadzi do błędnej identyfikacji ciała z Jaźnią,
                powinna zostać usunięta zanim będzie możliwe urzeczywistnienie Atmy.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Buddhi jest bardzo blisko Atmy i
                dzięki takiemu umiejscowieniu może otrzymywać 90% atmicznej energii i iluminacji.
                Umysł czerpie swą moc z buddhi, zmysły z umysłu, a ciało ze zmysłów. W tym
                procesie przepływu mocy etapami od Atmy do ciała, następuje stopniowe ilościowe
                i jakościowe ubywanie mocy. Podam ilustrację tego ilościowego spadku. Załóżmy,
                że mamy ciemny pokój, do którego nie dociera bezpośrednio światło słoneczne.
                Jeśli chcecie oświetlić ten pokój, możecie to uczynić trzymając lustro w
                oświetlonym miejscu znajdującym się w pobliżu i kierując promienie słońca
                odbite od lustra do środka pokoju. Jednak w porównaniu do bezpośrednich
                promieni słońca, promienie odbite od lustra mają mniejszą moc, a odbite światło
                w pokoju jest znacznie słabsze. Co do stopniowego spadku jakości, rozpatrzmy
                przykład rzeki. U samego źródła, które daje początek rzece, woda jest czysta i
                krystalicznie przejrzysta. Jednak kiedy dołącza do niej wiele strumyczków i
                dopływów i kiedy płynie przez zamieszkałe tereny, rzeka staje się coraz
                bardziej zanieczyszczona w miarę jak ludzie zaczynają z niej korzystać.
                Podobnie atmiczna czystość stopniowo ulega zabrudzeniu, gdy moc przepływa przez
                buddhi, umysł, zmysły i w końcu dociera do ciała. Niemniej poprzez wysiłek
                można zminimalizować ten ilościowy i jakościowy spadek poprzez uświęcenie i
                oczyszczenie buddhi, oraz przez ułatwianie bezpośredniego wpływu buddhi na
                ciało.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; W Upaniszadzie Taittirija, która jest
                jedną z najważniejszych spośród dziesięciu podstawowych Upaniszad, buddhi jest
                opisane jako ptak. Śraddha (wiara, gorliwość, sumienność) jest głową ptaka.
                Prawe skrzydło ptaka to ritam (kosmiczny rytm), a jego lewe skrzydło to satjam
                (prawda). Korpus ptaka to mahat tattwa (wielka zasada,wielki pierwiastek
                intelektu), jego ogon jest nazywany jogą. Buddhi w swej pełnej postaci jest
                zatem zbudowane z pięciu części składowych i posiada nadzwyczajną moc.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Kiedyś król Wikramaditja zwołał
                zgromadzenie wielkich uczonych i zapytał ich o opinię, czy najważniejsza jest
                śraddha, medha czy buddhi. Uczeni wypowiadali się dając różne odpowiedzi. W
                końcu zgodzili się, że medha (talent) jest najważniejsza. Rozczarowany tym
                wnioskiem król rzekł do zgromadzenia: „O pandici! Astha znaczy aśakti (zapał)
                lub śraddha (zapał i wiara), swastha znaczy sthiratwa (stałość, determinacja,
                stanowczość). Bez aśakti i sthiratwy medha (talent) jest bezużyteczna.” Innymi
                słowy, byłoby daremne ze strony człowieka liczyć tylko na swój talent i
                bystrość, aby prowadzić życie, które ma cel i sens. Człowiek powinien rozwijać
                wiarę i zapał razem z sumiennością, stałością i determinacją. Tylko wtedy
                będzie on zdolny do osiągania wielkich rzeczy w życiu. Śraddha lub wiara ma
                najwyższe znaczenie. Bez śraddhy niczego nie możecie osiągnąć. Jeśli macie
                niewielki rozżarzony węgielek, możecie podsycić go i stworzyć zeń wielkie
                ognisko pod warunkiem, że macie śraddhę. Jeśli brak wam zapału (śraddhy)
                dopuścicie, że wygaśnie wam nawet ognisko buchające płomieniami. Podobnie mając
                wiarę, możecie otrzymać potężne drzewo banjanu z drobnego nasienia. Współczesny
                człowiek niewątpliwie posiada śraddhę, ale tylko w sięganiu po owoc, a nie w
                pracy wymaganej do jego uzyskania. Nie ma w nim ducha pracy. Postępy w nauce i
                technice uczyniły z człowieka miłośnika wygody i beztroski, nie
                zainteresowanego ciężką pracą. Nie ma niczego złego w nauce jako takiej. To
                niewłaściwy użytek z nauki sprowadza człowieka na manowce. Dzisiaj trzeba, aby
                miłość i duchowy postęp szły w parze z postępem naukowym. Różnica pomiędzy
                nauką a duchowością jest wyraźnie, choć zwięźle uwypuklona w dwóch prostych
                równaniach:</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">i) duch miłości = duchowość&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                (spirit of love = spirituality)</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">ii) analiza miłości =
                nauka.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (split of love = science).</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">Skoro W sytuacji, gdy dające przyjemność
                przedmioty są krótkotrwałe i gdy ciało cieszące się przyjemnościami także jest
                nietrwałe, jakże nielogiczne jest oczekiwanie trwałego szczęścia z udogodnień i
                wygód oferowanych przez naukę i technikę! Jeśli chcecie trwałego szczęścia,
                musicie oczyścić antahkaranę i rozwijać uniwersalną miłość, podążając ścieżką
                duchową. </span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Dzisiaj jesteśmy świadkami szybkich i
                głębokich przemian w niemal każdej dziedzinie życia – politycznej,
                ekonomicznej, społecznej, naukowej itd. Jednak nie towarzyszy im mentalna,
                etyczna ani duchowa transformacja. Powodem tego jest brak wysiłków w kierunku
                zrozumienia natury i roli ludzkiego umysłu. Żywność konsumowana przez człowieka
                stanowi źródło powstania, podtrzymania i rozwoju jego umysłu. Po strawieniu
                nieprzyswojone grube składniki pożywienia zostają wydalone w postaci odchodów.
                Subtelne składniki stają się krwią i mięśniami, zaś najsubtelniejsze przyjmują
                postać umysłu. Zatem natura umysłu zależy od jakości i ilości zjadanego
                pokarmu. Podczas gdy nasze ciało grube czyli powłoka cielesna (annamaja kosza)
                pochodzi głównie z pożywienia, subtelna część wody, którą pijemy wchodzi w
                skład powłoki życiowej (pranamaja kosza). Grubsza część wody wydalana jest jako
                mocz. Powłoka pokarmu i powłoka życiowa zapewniają podstawę dla innych trzech
                powłok, mianowicie dla manomaji powłoki mentalnej), widżnianamaji
                (intelektualnej) i anandamaji koszy (błogości). Ukazuje to najwyższe znaczenie
                pokarmów i napojów w formowaniu i rozwoju ludzkiej osobowości.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Wcześniej powiedziane było o wielkiej
                potrzebie uwolnienia buddhi od ahamkary, która często je przykrywa. Powinniście
                zrozumieć różnicę pomiędzy ahamkarą czyli ego i Atmą (Jaźń). Atma jest ojcem
                ahamkary, dziadkiem umysłu lub myśli, pradziadkiem wak (mowy). Zatem Atma,
                ahamkara, umysł (manas) i wak są wszystkie członkami tej samej rodziny.
                Ahamkara jest tym, co przychodzi i odchodzi, podczas gdy w przypadku Atmy nie
                ma żadnego przychodzenia czy odchodzenia. Zazwyczaj sanskryckie słowo ahamkara
                jest tłumaczone na język angielski jako „ego”. Obydwa te słowa są używane
                zamiennie w znaczeniu ambicji, poczucia własnej wartości lub dumy zrodzonej z
                ułudy bogactwa, uczoności itd. Jest to niewłaściwe użycie tych słów. Ich
                właściwe znaczenie to błędne identyfikowanie siebie z ciałem. Nie wszyscy mogą
                pysznić się majątkiem lub wiedzą, lecz każdy jest ofiarą ahamkary w tym sensie,
                że uważa siebie za ciało. To właśnie ta ahamkara zakrywa buddhi i zwodzi je na
                złą drogę. Zatem jeśli buddhi ma sprawić rozwój śraddhy, powinniśmy najpierw
                wyeliminować ahamkarę.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Jak zostało wspomniane wcześniej, ritam
                jest prawym skrzydłem ptaka buddhi. W wedyjskim języku ritam i satjam zostały
                użyte jako synonimy. Jednak jest różnica pomiędzy nimi. Satjam oznacza
                wprowadzanie waszych słów w czyn i relacjonowanie słowami tego, co faktyczne
                zrobiliście. Z drugiej strony ritam ma szersze znaczenie, mianowicie oznacza
                czystość, harmonię i jedność trikaran (myśli, słów i czynów). Możemy także
                powiedzieć, że satjam bardziej dotyczy zewnętrznego świata, podczas gdy ritam
                jest związane bardziej ze światem wewnętrznym umysłu i jego form. Mówi się, że
                satjam wykracza ponad czas – przeszłość, teraźniejszość i przyszłość, podczas
                gdy ritam wykracza ponad czas i przestrzeń.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Joga to ogon ptaka buddhi. Jest on
                potrzebny do utrzymywania wymaganej równowagi pomiędzy skrzydłami satjam i
                ritam, tak jak ogon samolotu służy zbalansowaniu obu skrzydeł maszyny.
                Rozpatrywanej tutaj jogi nie należy mylić z asanami, fizycznymi ćwiczeniami
                różnego rodzaju. Joga, jak ją tutaj rozumiemy, oznacza kontrolę umysłu i
                zmysłów.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Ciałem ptaka buddhi jest mahat tattwa.
                Oznacza ona realizację mahawakji „Tat – twam – asi”, wielkiego aforyzmu
                Upaniszadów „Ty jesteś Tym”. Innymi słowy, mahat tattwa&nbsp; to doświadczenie
                rzeczywistego Ja – Jaźni jako Sat – Czit – Ananda (byt – świadomość – błogość).
                Buddhi nie należy zatem mylić z medhą, która odnosi się do posiadania
                związanych ze światem talentów, inteligencji, pomysłowości itd. bez posiadania
                wiedzy o Jaźni. Tak więc buddhi składające się ze śraddhy, satjam, ritam, mahat
                tattwam i jogi może być uważane za oddźwięk, odbicie i reakcję Atmy. Z drugiej
                strony medha śakti (moc światowej wiedzy) odpowiada maja śakti (boskiej mocy
                łudzenia).</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Po powrocie Ramy do Ajodhji z
                czternastoletniego okresu wygnania do lasu, Kajka, która poczuła głęboką
                skruchę wobec ciężaru zła wyrządzonego Ramie, podeszła do Niego gdy był sam i
                błagała: „Mój kochany Ramo, mimo że wiedziałam o Twej boskiej naturze,
                sprawiłam Ci wiele niepotrzebnego cierpienia, zaślepiona ograniczonym poczuciem
                ’ja’ i ’moje’. Czy mógłbyś udzielić mi upadeszy (duchowej nauki) tak, abym
                mogła uwolnić się od ohydnego grzechu, jaki popełniłam przeciwko tak
                szlachetnej osobie jak Ty?” </span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; W odpowiedzi na jej prośbę Rama nie
                dał bezpośrednio upadeszy, lecz podsunął pośrednie wskazówki. Jest to
                charakterystyczne dla wszystkich Awatarów od niepamiętnych czasów. Awatarzy
                rzadko udzielają rad bezpośrednio. Cokolwiek zapragną oni zakomunikować,
                przekazują to częściej drogą pośrednich sugestii a rzadko&nbsp; przez bezpośrednie
                pouczenia. Powodem tego jest fakt, że w każdej ludzkiej istocie znajduje się
                wrodzona boskość, która&nbsp; w sprzyjających okolicznościach może przejawić
                spontanicznie, tak jak nasienie wykiełkuje i wyrośnie na drzewo z powodu swej
                wrodzonej natury, jeśli tylko zapewnione zostaną odpowiednie, dogodne warunki
                dla zamanifestowania się jego potencjału. Człowiekowi&nbsp; trzeba umożliwić
                poprawienie się własnymi wysiłkami, raczej otrzymując od czasu do czasu
                sugestie, niż przez narzucane z zewnątrz dyrektywy, które ośmieszają jego
                wolność i godność. Krótko mówiąc, ludziom najlepiej pomagać zarówno w
                światowych sprawach jak i na polu duchowym zgodnie z maksymą „pomóż im pomóc
                samym sobie” lub „najlepszą pomocą jest samo – pomoc”. </span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Tak więc trzymając się tej strategii,
                Śri Rama powiedział w tej sytuacji do Kajki: „Matko! Proszę weź kąpiel w
                świętej rzece Śaraju i wróć do Mnie po upadeszę. Podczas kąpieli w Śaraju
                proszę zauważ, co dzieje się na brzegu.” Kajka poszła z towarzyszącą świtą do
                rzeki i po kąpieli powróciła do Ramy. Rama zapytał: „Matko! Powiedz mi teraz,
                co zauważyłaś na brzegach rzeki Śaraju”. Kajka odpowiedziała, że widziała owce
                i kozy pasące się na zielonej trawie na brzegach, beczące , jak zwykle od czasu
                do czasu: „mee, mee”. Wtedy Rama powiedział jej, że to „mee, mee” było Jego
                upadeszą dla niej. Wyjaśnił jej, że beczenie owiec i kóz oznacza: „Kim jestem?
                Kim jestem?” Dalej&nbsp; zauważył, że skoro nawet owce zajmuje pytanie „Kim
                jestem?”, jeśli człowiek nie rozważa tej kwestii, to jest gorszy od owcy.</span></p>
                
                <p style="margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="
                ">&nbsp; Każdy powinien najpierw starać się
                poznać odpowiedź na pytanie „Kim jestem?” Jeśli nie wiecie kim jesteście, jaki
                pożytek z prób dowiedzenia się wszystkiego o innych? Rodząc się krzyczycie:
                „Koham (kim jestem)?”. Nie powinniście umierać z tym samym pytaniem na ustach.
                Kiedy będziecie umierać, powinniście być w stanie stwierdzić radośnie: „Soham
                (jestem Tym/Tobą)”. Tylko wtedy możecie usprawiedliwić swoje narodziny jako
                człowiek i cieszyć się z wypełnienia celu ludzkiego życia. Jest tylko jeden
                sposób na pozbycie się ahamkary, mianowicie przez prowadzenie świętego trybu
                życia. Kiedykolwiek doznacie poczucia ego, usiądźcie cicho w kącie i
                obserwujcie, co mówi wam wasz oddech. On stwierdza: „So...Ham”. „So” podczas
                wdechu i „Ham” podczas wydechu. Dwie sylaby So i Ham które razem tworzą słowo
                Soham niosą znaczenie „jestem Brahmanem”. Jeśli ciągle medytujecie nad tym,
                wasze poczucie ego, które znamionuje idea „jestem ciałem” przestanie was
                dręczyć. Ta mantra „So – Ham” powtarza się w każdym z was 21 600 razy dziennie.
                Zatem „jestem Brahmanem” jest stałym przesłaniem waszego wewnętrznego głosu.
                Ignorując jednak je, każdy utożsamia się z tymczasowym, sztucznym imieniem
                nadanym jego ciału. Myśląc o sobie, że jesteście Ramaiah, Krishnaiah lub
                Seenaiah (imiona nadane waszemu ciału), jak długo byście nie angażowali się w
                duchowe praktyki, nie osiągniecie żadnego postępu. Pozostaniecie tym, czym
                byliście zgodnie z imieniem nadanym waszemu ciału. „Soham jest imieniem, z
                którym narodziliście się. To jest wasze jedyne naturalne i niezmienne imię.
                Jest faktycznie waszą Rzeczywistością lub Prawdą. Zrozumcie to i doświadczcie
                Sat – Czit – Anandy. Kriszna jest znany jako Partha Sarathi (Woźnica Parthy).
                Partha nie oznacza tylko Ardżuny. Ono dotyczy wszystkich dzieci prithwi
                (ziemi). Zatem uczyńcie Krisznę swoim woźnicą. Ponieważ buddhi jest odbiciem
                boskiej Atmy, czyńcie pożytek z niego jako woźnicy w waszej podróży ku
                realizacji Atmy. Pamiętajcie także, że aby osiągnąć powodzenie w każdym
                przedsięwzięciu, bardzo ważna jest prema (uniwersalna miłość). Pan jest
                ucieleśnieniem Miłości – Słońca Prawdy. Zatem poprzez Miłość próbujcie poznać
                wasze prawdziwe Ja czyniąc to z pomocą buddhi i oczyszczajcie swój umysł. Tego
                od was oczekuję.</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>