<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
           <h1> Kazik Borkowski (PL)</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Summer Showers 1990</h2>
<p class="text-center">12</p>
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;
                margin-bottom:10.0pt;margin-left:3.75pt;text-align:center" align="center"><b><span style="font-size:16.0pt;line-height:115%;">&nbsp;</span></b></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;
                margin-bottom:10.0pt;margin-left:3.75pt;text-align:center" align="center"><b><span style="font-size:16.0pt;line-height:115%;">SAMOPOZNANIE</span></b></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="font-size:12.0pt;line-height:115%;
                ">&nbsp;</span><span style="font-size:14.0pt;
                line-height:115%;">&nbsp;Drodzy studenci!</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Bóg jest bardziej nieskazitelny niż
                niebo. Słońce, księżyc i gwiazdy to Jego oczy. Jest wszechprzenikający jak
                powietrze. Jedynie wtedy, gdy gruntownie poznamy naturę upadhi czyli szat
                człowieka takich jak ciało, zmysły, umysł i buddhi, będziemy mogli zrozumieć
                świętą, czystą i nieskończoną Atmę, czyli boski Pierwiastek.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:78.75pt;margin-bottom:.0001pt"><i><span style="font-size:14.0pt;
                line-height:115%;">Poznaj Mnie jako
                kszetradźnię (znawcę pól) obecnego na wszystkich kszetrach (polach).</span></i></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:78.75pt;margin-bottom:.0001pt"><i><span style="font-size:14.0pt;
                line-height:115%;">Wiedzę o kszetrze i
                kszetradźni uważam za jedyną prawdziwą wiedzę.</span></i></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="font-size:12.0pt;line-height:115%;
                ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                (Gita, XIII.2)</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp;&nbsp;Cały świat jest kombinacją kszetr i
                kszetradźni (pól i znawcy pól). Kszetra ludzkiego ciała jest tylko odbiciem
                prakriti (natury). W ludzkim ciele znajdują się wszystkie czujące i pozbawione
                czucia aspekty wszechświata. Cały wszechświat jest odbiciem wewnętrznej istoty
                człowieka. Nie wystarczy posiadać wiedzę tylko o ciele, zmysłach, umyśle i
                intelekcie. Istnieje oddzielny od nich Kszetradźnia, który ożywia wszystkie
                kszetry. Jeśli rozumiecie Kszetradźnię, nie ma potrzeby poznawania kszetry, ale
                zanim to nastąpi, powinniście poświęcić kszetrze należytą uwagę. Aby zrozumieć
                Kszetradźnię potrzebujecie specjalnego rodzaju wiedzy. Wiedza książkowa, wiedza
                powierzchowna, wiedza ogólna, wiedza rozróżniająca, wiedza pochodząca z
                doświadczeń czyli wiedza praktyczna – wszystkie one dotyczą bezwładnej materii
                i spraw doczesnych i noszą piętno indywidualizmu. Wszystkie te rodzaje wiedzy
                nie pomogą w zrozumieniu Jaźni. Trzeba diamentu, aby ciąć inny diament. Trzeba
                ciernia, aby usunąć inny cierń wbity w stopę. Aby doświadczyć Jaźni (Atmy)
                potrzebne jest jedynie samopoznanie, Atma dźniana. Obecnie to co uważamy za
                wiedzę (dźnianę) w tym fizycznym świecie jest niczym innym jak ignorancją
                (adźnianą). Jedynie samopoznanie jest wiedzą prawdziwą. W gruncie rzeczy czy
                nazywacie to Atmą (Jaźnią) czy dźnianą (wiedzą), jest to jedno i to samo.
                Prawdziwa świadomość jest dźnianą. Dźniana, dźnejam i dźnianam (poznawanie,
                poznawane i poznający), orzeczenie, przedmiot i podmiot – takie triady nie mają
                zastosowania do Atma-dźniany czyli samopoznania.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Te triady i inne podobne klasyfikacje
                dotyczą poziomu umysłu, podczas gdy samopoznanie objawia się po unicestwieniu
                umysłu. Niczym niezmącona, spokojna cisza, która następuje po destrukcji umysłu
                jest sama w sobie prawdziwą wiedzą. Ta prawdziwa wiedza jest naszą prawdziwą
                naturą, a nie czymś, co może być nabyte. Jednak ta wiedza zakryta jest przez
                umysł i jego aberracje, podobnie jak rozżarzony żużel pokryty jest popiołem
                przez tenże żużel wytworzonym, lub jak woda pokryta jest dywanem rzęsy wodnej,
                która na niej wyrasta, czy jak oko zasłonięte jest kataraktą (zaćmą) z niego
                powstałą. Usuńcie kataraktę a odzyskacie wzrok. Usuńcie umysł a samopoznanie
                objawi się automatycznie.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Tej wiedzy nie można uzyskać z
                książek, nie mogą jej dać duchowi nauczyciele (guru), ani nie może być nadana
                błogosławieństwem Paramatmy (Najwyższej Duszy). W istocie wy sami jesteście
                Paramatmą lub Atmą czy Dźnianą. Siedząc w samotności, kiedy spokojnie
                dociekacie, w jaki sposób ta Dźniana jest obecna we wszystkim, usłyszycie z
                własnego wnętrza spontaniczny głos, który jest wieczny i niezmienny. Wszystkie
                rzeczy w tym przejawionym świecie podlegają ciągłym zmianom spowodowanym przez
                proces łączenia się i rozdzielania atomów, który nigdy się nie kończy. Jednak
                ten boski głos wewnątrz jest nie tylko ten sam we wszystkich istotach, jest nie
                tylko wieczny, ale w ogóle pozostaje nieporuszony przez cokolwiek. Zmiany
                wywołane starzeniem się lub będące wynikiem zmieniających się stanów
                świadomości takich jak stan jawy, sen i sen głęboki, oddziałują tylko na ciało
                fizyczne, subtelne i przyczynowe, ale w żaden sposób nie wpływają na ten głos.
                Zatem czym jest ten głos? Jest to boski wewnętrzny głos emanujący z Atmy jako
                Ja, Ja, Ja – Aham, Aham, Aham. To Aham jest źródłem mantry Soham, która trwa w
                nas wszystkich, powtarzając się bez żadnego świadomego wysiłku w trakcie
                oddychania. To samo Aham pojawia się jako ahamkara, gdy utożsamia się z ciałem.
                Ahamkara jest ludzka, Aham jest boskie. To Aham można osiągnąć tylko przez
                oczyszczanie serca, nigdy zaś przez studiowanie pism i zostanie uczonym.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Widzicie zjawiskowy wszechświat tylko
                tak długo, dopóki nie przekroczyliście progu umysłu. Kiedy wykroczycie ponad
                umysł, nie będziecie doświadczać niczego innego jak tylko Jaźni. Gdy rzeka
                wpada do morza, traci swą indywidualność, nazwę i formę i staje się jednym z
                morzem. Tak więc, ten kto poznaje Brahmana naprawdę staje się Brahmanem.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Jeśli macie garnek z wodą, zobaczycie
                w nim odbicie słońca. Jednak nawet wtedy, gdy garnka i wody nie ma, słońce i
                tak jest zawsze obecne. Podobnie, nawet gdy nieobecne są media
                odzwierciedlające Jaźń tj. ciało (garnek) i umysł (woda), to Jaźń zawsze jest
                obecna, chociaż można nie być w stanie zobaczyć jej samej a nawet jej odbicia.
                W związku z tym warto zwrócić uwagę, że obraz Atmy, jaki otrzymujecie przez
                pośredniczące media ciała i umysłu nie oddaje dokładnie prawdy o oryginalnej Atmie.
                To jest tak jak z odbiciem waszej twarzy w wodzie, gdzie lewe oko wydaje się
                być prawym a prawe lewym. Podobnie, gdy podróżujecie pociągiem, wzrok oszukuje
                was sprawiając wrażenie, że drzewa, góry i inne obiekty na zewnątrz są w ruchu.
                Oba przykłady mają zobrazować fakt, że całe zróżnicowanie, które widzicie w
                świecie zjawiskowym jest spowodowane tylko przez zniekształcenia waszego
                umysłu. Musicie wyjść ponad umysł, aby zrozumieć tę odwieczną prawdę.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Ludzie wierzą, że każdy człowiek ma
                wolną wolę. Jest to całkowicie błędne przekonanie. Wyobrażają oni sobie, że to
                dzięki swej woli, determinacji, sadhanie i wysiłkowi człowiek jest w stanie
                osiągnąć powodzenie. Ten błędny pogląd wywołany jest aberracjami ich ahamkary i
                jest odbiciem fałszywego poczucia bycia sprawcą. Weźmy przykład Karny, bohatera
                wojny na Kurukszetrze z eposu Mahabharata. Miał wszystko, co potrzeba, aby
                odnieść zwycięstwo: potężny oręż, wielkie fizyczne i intelektualne moce,
                nieposkromioną odwagę itd. itp. Jednak z całym tym potencjałem, doznał na polu
                bitwy druzgoczącej klęski i poniósł upokarzającą śmierć. Dlaczego? Ponieważ
                brakowało mu tylko jednej rzeczy, mianowicie łaski, pomocy i wsparcia Boga.
                Zatem aby osiągnąć powodzenie, głupotą jest polegać na swych fizycznych, mentalnych
                i intelektualnych zdolnościach i zasobach, nawet w dziedzinie samopoznania. To
                czego potrzeba, to rozpoznać i pielęgnować poczucie jedności wszystkiego, co
                istnieje.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Faktem jest, że obecnie w obfitości
                dostępne są nowoczesne środki ułatwiające życie i&nbsp; gadżety takie jak samoloty,
                samochody, kina, telewizory, komputery, radia, odtwarzacze wideo itd. Jednak w
                związku z tym należy postawić podstawowe i stosowne pytanie: „Kto odnosi
                korzyść z tych wszystkich udogodnienień?” Bez wątpienia odpowiedzią będzie:
                „Ja”. Przede wszystkim musi istnieć „Ja”, aby cała reszta mogła nastąpić. Pod
                nieobecność tego „Ja” nie ma producenta ani konsumenta, nie ma wiec żadnej
                potrzeby wytwarzania. Zatem widać, że wszystko obraca się wokół „Ja”. Innymi
                słowy „Ludzie są cenniejsi od całego bogactwo świata.” Jednak ważne jest, aby
                uświadomić sobie, że człowiek jest w swej istocie boski. Ta boskość nie może
                być doświadczona w inny sposób jak tylko przez Atma-dźnianę czyli samopoznanie.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Bhakti (oddanie) jest najlepszą metodą
                doświadczenia tej Atma-dźniany i radowania się Atmanandą (błogością Jaźni).
                Czym jest bhakti? Jest to stała kontemplacja Jaźni. Bhakti i dźniana nie są
                różnymi rzeczami. Bhakti samo w sobie jest dźnianą. Dźniana sama w sobie jest
                bhakti. Są one blisko ze sobą powiązane i wzajemnie od siebie zależne. Bhakti i
                dźnianę w szczególny sposób wiąże i łączy prema – boska miłość. Używając
                świętego sznura premy, możecie związać samego Pana.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Bhagawadgita wzywa: „<i>Uddharet
                atmana atmanam</i>” (Wznoście siebie własnym wysiłkiem.) Na przekór temu
                wezwaniu wiele osób trwa w błędnym przekonaniu, że jeśli spłodzą syna, to
                pomoże on dostać się im po śmierci do nieba, przez odprawienie ceremonii
                śraddha. Głupotą jest myśleć, że posiadający synów idą do wyższych światów, a
                ci którzy nie mają synów spadną do światów podziemnych. Ponadto, śraddha nie
                polega na tym, aby zaprosić bramińskiego kapłana, umyć mu stopy, wystawnie go
                ugościć i otrzymać od niego błogosławieństwa. Prawdziwe znaczenie śraddhy to
                ofiarowanie pindy i śraddhy (wiary) Lotosowym Stopom Pana. A co to jest pinda?
                To nie ryżowa kulka jak się zazwyczaj uważa, ale ludzkie ciało. Zatem prawdziwa
                pindadana (ofiara kulek ryżowych podczas ceremonii śraddhy) to ofiarowanie
                własnego ciała, wszystkich fizycznych i mentalnych zdolności i umiejętności w
                służbie Panu, który manifestuje się jako wszechświat.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; W terminologii wedanty ciało ludzkie
                nazywane jest również tunga-bhadra. Tunga znaczy bardzo wysoki, rozległy,
                wielki itd. Bhadra znaczy dobry, uświęcony, pomyślny, promienny itd. Zatem
                nazwanie ludzkiego ciała tunga-bhadrą sugeruje, że jest ono przeznaczone do
                podejmowania takich szlachetnych czynów, które przyczynią się do dobrobytu
                społeczeństwa. Tak więc, aby być godnym tego imienia, powinniście poświęcić
                ciało i umysł pełnej miłości służbie wszystkim istotom. W związku z tym
                powinniście pamiętać o wybitnym przykładzie wielkiego muzyka, świętego
                Tjagaradży, który okazał się godnym swego imienia, znaczącego dosłownie „Król
                wyrzeczenia”. Kiedy władca Tandżawur wysłał mu klejnoty i zapasy żywności
                niezbędne do utrzymania domu, odmówił ich przyjęcia i zaimprowizował pieśń
                kierowaną do swego umysłu; „O mój drogi umyśle! Co daje prawdziwe szczęście,
                bogactwo czy Lotosowe Stopy Pana? Proszę, powiedz mi prawdę.” Potem zaśpiewał
                też modlitwę do Pana: „O mój ukochany Panie Ramo! Czy chcesz skusić mnie tym
                bogactwem aby pod tym pretekstem mnie opuścić? Uchwyciłem się mocno Twych
                Lotosowych Stóp obiema rękami. Jakże mogą te ręce puścić teraz Twe święte
                stopy, które są moim niezmiennym i drogocennym skarbem po to, by przyjąć te
                przemijające błyskotki kuszącego bogactwa?” Zatem niczym Tjagaradża, który
                okazał się godnym swego imienia, powinniście również być godni miana
                tunga-bhadra, które pisma święte nadały ludzkiemu ciału.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp; Studenci! Ten letni kurs jest dla was
                wyjątkową okazją. Tak wiele starszych i wybitnych osób z bogatym doświadczeniem
                przekazuje wam bardzo cenne informacje. Powinniście jednak wykorzystać
                wszystkie te wiadomości do transformacji, która jest możliwa tylko wtedy, gdy zaczniecie
                praktykować parę rzeczy z wielu, o których słyszeliście.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt">&nbsp;</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.0pt;margin-left:3.75pt"><span style="font-size:12.0pt;line-height:115%;
                ">&nbsp;</span>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>