<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                            <a class="dropdown-item" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Teksty naukowe i popularne</a>
                         <a class="dropdown-item" href="../wychowanie/spis.html">Wychowywanie w wartościach ludzkich</a>
                         <a class="dropdown-item" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                     </div>
                 </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materiały do ściągnięcia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../../materialy/programy_i_tabele.html">Programy i tabele</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Summer Showers 1990</h2>
                <p class="text-center">
                    15
                </p>
                <p class="text-center">
                    <b>WZNOSZENIE SIĘ CZŁOWIEKA</b>
                </p>
                <p class="text-center">
                    To, co widzicie na szarpiących chmury szczytach wysokich gór,<br>

to wielkość, wspaniałość i majestat Boga.<br>

To, co odkrywacie w dalekich lasach i na rozległych pustyniach<br>

to Jego wzniosłe milczenie i Jego najwyższy spokój.<br>

To, czego jesteście świadkami, gdy patrzycie na słońce, księżyc i niezliczone<br>

galaktyki na niebie, to jego chwalebna promienność i pełna piękna wspaniałość.<br>

To, czego odbicie znajdujecie w mieszkańcach zdobiących ziemię wsi i miast<br>

to Jego miłość i kreatywność.<br>

Cokolwiek pięknego spotkacie w tym wszechświecie, jest to przypomnieniem i hołdem<br>

Temu, który jest „Źródłem wszelkiego piękna” – Boskiemu Panu!<br>
                </p>
                <p style=""><span style=""> Mallamma ze
                stanu Karnataka w prosty lecz uroczy sposób opisała wszechobecne piękno Boga:
                „Kwiat lotosu jest ozdobą jeziora. Domy są ozdobą wsi. Fale są ozdobą oceanu.
                Księżyc jest ozdoba nieba.” Cokolwiek pięknego widzicie na tym świecie, jest to
                tylko odbiciem jedynego źródła wszelkiego piękna – Boskiego Pana. To dlatego
                Upaniszady opisują Boga jako Stajam, Śiwam i Sundaram – prawdę, dobro i piękno.
                Ozdobą rodzaju ludzkiego jest manawatwam (człowieczeństwo). Manawatwam jest dla
                ludzkiej społeczności niezbędne. Niezależnie czy jest się sławnym znawcą pism,
                czy wybitnym uczonym lub świetnym administratorem, dla każdego najistotniejsze
                jest rozwijanie ludzkich cech . Rozwój społeczeństwa, regionu i państwa jest
                proporcjonalny do rozwoju manawatwam czyli człowieczeństwa. Jeśli ludzkie cechy
                zostaną utracone, honor straci społeczeństwo i naród.</span></p>
                
                <p style=""><span style=""> Honor rodzaju
                ludzkiego zależy od jego moralności i integralności. Dla współczesnych uczniów
                jest zasadniczą sprawą pielęgnowanie ludzkich cech. Wartości ludzkie mogą się
                rozwijać i kwitnąć jedynie w środowisku duchowym. Tylko wtedy, gdy nasiona
                zostaną zasiane w ziemi i będą regularnie podlewane, wykiełkują i wyrosną na
                wielkie drzewa, które wydadzą dobry owoc. Jeśli natomiast nasiona będą trzymane
                w puszce i podlewane, tylko zgniją i zniszczeją. Podobnie moralność i
                integralność mogą dobrze się rozwijać i prosperować jedynie w ludzkim sercu.
                Moralność jest spełnieniem charakteru i zachowania. Moralność wznosi człowieka
                na wyższy poziom. Od niepamiętnych czasów Indie dzieliły się swym duchowym
                bogactwem z innymi narodami świata i rozpowszechniały wśród nich posłanie moralności
                i integralności. Tylko moralność i integralność są prawdziwymi i wiecznymi
                świątyniami Boga. Pod nieobecność moralności rasa ludzka popada w ruinę.
                Obecnie najwyższą potrzebą tego kraju i świata jest moralność. Jest absolutnie
                konieczne, by przestrzegać moralności wszędzie i w każdej sytuacji. Marshal
                Pope uczył, że moralność nie powinna być naruszana nawet w czasie wojny lub w
                jakichkolwiek innych krytycznych sytuacjach, z zagrożeniem życia włącznie.
                William Gladstone, premier Królowej Wiktorii, czynił wszystko by cały czas
                strzec moralności i dlatego ludzie poważali go nawet bardziej niż królową.</span></p>
                
                <p style=""><span style=""> Moralność
                osiąga się przez kontrolę zmysłów. Jedynie ten może rządzić innymi, kto potrafi
                panować nad samym sobą. Jak ktoś, kto nie ma samodyscypliny, może narzucać
                dyscyplinę innym? Tylko wtedy, gdy jest harmonia między słowami a czynami,
                człowiek może osiągnąć coś wielkiego w swym życiu.</span></p>
                
                <p style=""><span style=""></span></p>
                
                <p><i><span style="">Jeśli człowiek
                praktykuje to, co głosi,</span></i></p>
                
                <p><i><span style="">Nie jest zwykłym
                człowiekiem, lecz mahatmą (wielkim człowiekiem).</span></i></p>
                
                <p><i><span style="">Jeśli człowiek
                mówi jedno, a robi coś innego</span></i></p>
                
                <p><i><span style="">Jest tylko
                zwierzęciem, a nie człowiekiem.</span></i></p>
                
                <p style=""><span style=""></span></p>
                
                <p style=""><span style=""> W nowoczesnym
                społeczeństwie nie ma zgodności między słowami i czynami. Jeśli istnieje taka
                harmonia, jest to stajam. Jeśli istnieje harmonia między myślami, słowami i
                czynami, jest to ritam.</span></p>
                
                <p style=""><span style=""> Dzisiejsi
                studenci nie wiedzą, co to kontrola zmysłów. Nazywa się ją samjamą,
                samoopanowaniem. Jedynie człowiek jest zdolny do samjamy. Puszczając wodze
                swoich zmysłów, człowiek traci swoją boskość. Kontrola nad narządami zmysłów
                nazywa się w sanskrycie damam. Kto posiadł damam nazywany jest danta. W
                dzisiejszym świecie potrzebujemy właśnie dantulu, ludzi, którzy panują nad
                swoimi narządami zmysłów, a nie wedantulu, ludzi biegłych w wedancie. Obecnie
                wedanta jest ograniczona do krasomówstwa i ostentacji, zaś praktyka wedanty
                chyli się ku upadkowi. Nic dziwnego zatem, że mamy niedostatek anandy czyli
                błogości.</span></p>
                
                <p style=""><span style=""> Każdy student
                powinien stać się dantą. Jeszcze zanim przyswoi sobie wiedzę, dzisiejszy uczeń
                przesiąka egoizmem, pychą i działaniem na pokaz i szaleje wśród ludzi.
                Uczniowie nie są nawet świadomi dyscypliny i posłuszeństwa. Nie wiedzą jak
                rozmawiać i zachowywać się wobec starszych. Oczywiście winni za ten stan rzeczy
                nie są wyłącznie uczniowie. Ani rodzice, ani nauczyciele nie dają im
                odpowiedniego przykładu, ani nie dają im ku temu zachęty. To dlatego postawa
                uczniów pogarsza się z dnia na dzień. Uczniowie powinni starać się zachowywać
                właściwie, kontrolować zmysły i w ten sposób krzewić pokój w społeczeństwie.
                Dzisiejsza młodzież lubuje się w błahej gadaninie. To się stało ich hobby.
                Reagują alergicznie na uprzejme i łagodne słowa. Duchowość jest dla nich
                przedmiotem kpin. Taka pożałowania godna atmosfera wśród uczniów wciąż narasta,
                do tego stopnia, że nie są oni w stanie zrozumieć nawet celu edukacji. Przede
                wszystkim powinni wyprowadzić swoje umysły z błędnego przeświadczenia, że celem
                edukacji jest zapewnienie pracy i zarabianie pieniędzy. Nie powinni zapominać,
                że edukacja ma pomóc im w osiągnięciu celu życia. Oczywiście powinni podjąć
                jakąś pracę, aby zarobić na swoje utrzymanie. Jednak w trakcie wykonywania
                swoich obowiązków powinni skrupulatnie przestrzegać moralności i integralności,
                bez zniżania się do niemoralnych praktyk, takich jak łapówkarstwo, oszukiwanie
                itd. Wiedza i pieniądze nie są same w sobie złe. Ich dobro i zło zależy od
                tego, jaki zrobicie z nich użytek. </span></p>
                
                <p style=""><span style=""> Studenci!
                Powietrze, które wdychacie musi wyjść z wydechem, inaczej płuca zostaną
                uszkodzone. Podobnie wiedza, którą przyswajacie i pieniądze, które zarabiacie
                powinny zostać użyte dla dobra społeczeństwa. W przeciwnym razie będą
                bezwartościowe jak kurz pod waszymi stopami. Powinniście spłacić dług
                zaciągnięty wobec społeczeństwa, dzięki któremu zdobyliście wykształcenie i
                zarabiacie. To jest prawdziwa sewa czyli służba. Nieobecność tego rodzaju ducha
                poświęcenia jest jednak powszechna wśród dzisiejszych uczniów. Zarabianie i
                gromadzenie – ten jednokierunkowy tryb życia wydaje się im ideałem! Wielu z was
                umie pływać. Na pewno wiecie, że jeśli nie odepchniecie wody w tył, nie
                będziecie mogli poruszać się do przodu. To pokazuje, że bez poświęcenia nie
                możecie dokonać postępu w życiu. Musicie poświęcić nie tylko wasze pieniądze,
                ale również wasze złe cechy. Porzucenie złych cech jest największym
                poświęceniem, czyli wyrzeczeniem. Wyrzeczenie się żony i dzieci lub majątku i
                dóbr nie jest wielkim poświęceniem. To jest łatwiejsze niż rezygnacja z waszych
                złych skłonności. Ale jedynie taka rezygnacja doprowadzi do pełnego rozkwitu
                ludzkiej osobowości.</span></p>
                
                <p style=""><span style=""> Studenci!
                Wielkim zadaniem człowieka jest żyć jako prawdziwa ludzka istota. Życie na
                poziomie zwierzęcia jest splamieniem człowieczeństwa. Człowieczeństwo w w
                ludziach niszczy aż do całkowitego zaniku ariszadwarga, banda sześciu
                wewnętrznych wrogów, mianowicie kama, krodha, lobha, moha, mada i matsarja
                (żądza, gniew, chciwość, ułuda, pycha i zazdrość). Księżyc może oblewać ziemię
                swym chłodnym, jasnym blaskiem w najwyższym stopniu jedynie wtedy, gdy
                przeszedł wszystkie 16 kal faz– do pełni. Z drugiej strony, człowiek może
                promieniować na społeczeństwo swym blaskiem jedynie wtedy, gdy pozbędzie się
                szesnastu złych cech, mianowicie sześciu wewnętrznych wrogów (ariszadwarga),
                ośmiu rodzajów pychy (mada) i dwóch cech: radżasu (niepokoju) i tamasu (bezwładu).
                Musi również porzucić kartritwę i bhoktritwę (poczucie bycia sprawcą i poczucie
                bycia cieszącym się owocami działania). Z wiarą, że wszystko jest Brahmanem
                (sarwam Brahman), angażując się w dobre czyny i dedykując je Bogu, możecie
                otrzymać Boską łaskę i niezbędną pomoc od Boga. Potana, który był wielkim
                wielbicielem Boga i poetą, autorem wersji Bhagawatam w telugu, na wstępie
                zadedykował swoją pracę Panu Ramie stwierdzając, że Rama był prawdziwym
                autorem, a on, Potana, jedynie instrumentem w ręku Ramy. W wersecie Potany o
                dedykacji tkwi wielkie duchowe znaczenie, które polega na innym sformułowaniu
                słynnej mahawakji (sentencji) „Tat twam asi” (Owym jesteś ty). W tym przypadku
                Tat (Ów) jest reprezentowane przez Boskiego Pana Ramę, twam (ty) przez poetę –
                wielbiciela Potanę i asi (jest) – przez księgę Bhagawatam. Innymi słowy,
                Bhagawan, bhakta i Bhagawata (Bóg, wielbiciel i święta księga) są trzema w
                jednym. Ponadto pięć zgłosek sanskryckich „Bha-ga-wa-ta-mu” posiada własne,
                duchowe znaczenie. Te pięć zgłosek może być uważane za pięć żywiołów, pięć
                zmysłów, pięć powłok czyli pańczakoszy i pięć tchnień życiowych, czyli
                pańcza-pran. Sylaba bha znaczy bhakti (oddanie), ga – gyana lub dźniana
                (mądrość), wa – wajragja (wyrzeczenie), ta – tattwam (realizacja), zaś mu –
                mukti (wyzwolenie). Zatem te pięć sylab reprezentuje kolejne kroki ku
                wyzwoleniu człowieka ze zniewolenia, czyli niewiedzy.</span></p>
                
                <p style=""><span style=""> Studenci! Wy
                kawalerzy, czyli brahmaczarjowie, stanowicie fundament pałacu życia. Życie
                głowy rodziny (grihastha) może być porównane do ścian, a życie pustelnicze
                (wanaprastha) do dachu. Jeśli fundament nie jest solidny, cały pałac zawali
                się. Dlatego musicie rozwijać dobre cechy, bez których nie może być pokoju ani
                w was samych, ani w społeczeństwie. Niestety, współczesny człowiek myśli
                jedynie o sobie i swojej rodzinie, lekceważąc społeczeństwo. Czym jesteście wy
                i wasza rodzina bez społeczeństwa? Ten rodzaj zawężającego egoizmu jest
                powszechny również wśród tak zwanych wielbicieli. Taki wielbiciel myśli
                najpierw o sobie i swojej pracy, a potem o Bogu i Jego pracy, jeśli w ogóle o
                tym myśli. Z powodu takiego egocentryzmu, człowiek jest niezdolny by cieszyć
                się pokojem i błogością. Kaurawowie kierowali się zasadą: „Najpierw ja, potem
                świat, a na końcu Bóg.” Dlatego stracili wszystko, włącznie z życiem. Z drugiej
                strony, Pandawowie kierowali się zasadą: ”Najpierw Bóg, potem świat, na końcu
                ja.” Dlatego zwyciężyli. W naszej historii jest wiele takich przykładów,
                ilustrujących podstawową konieczność zabicia ego.</span></p>
                
                <p style=""><span style=""> Studenci! W
                waszym młodym wieku naturalną rzeczą jest być dumnym i pochopnym czy
                impulsywnym. Jednak efektem prawdziwej edukacji powinna być pokora. Uświęcajcie
                swoje życie, ciało, młodość, swój czas i czyny. Uczcie się dobrze i ukończcie
                naukę z wyróżnieniem. Używajcie swojej wiedzy dla dobra społeczeństwa.
                Zrozumcie, że pycha i duchowość są przeciwnymi końcami huśtawki. Kiedy pycha
                unosi się, duchowość opada i na odwrót. Człowiek zapomina się wyłącznie z
                powodu ahamkary. Największym i prawdziwym zniewoleniem jest zapomnienie własnej
                rzeczywistości. Rozpoznanie własnej rzeczywistości jest prawdziwą sakszatkarą
                czyli urzeczywistnieniem. Jeśli nie zmienia się wasza postawa, to wszystkie
                wasze duchowe praktyki, takie jak dżipa, medytacja, joga, karma czy sewa
                (służba) niczemu nie służą. To nie człowiek, lecz umysł powinien ulec
                przemianie. Przemiana charakteru jest ważniejsza niż zmiana odzienia. </span></p>
                
                <p style=""><span style=""> Są trzy
                rzeczy, których nigdy nie powinniście zapominać: staja, dharma i njaja (prawda,
                prawość i sprawiedliwość). Nasi przodkowie w swym codziennym życiu byli wierni
                tym trzem zasadom. Jednak obecnie te wartości są zaniedbywane w samych Indiach,
                nie mówiąc już o innych krajach. Jako przyszli opiekunowie indyjskiej kultury i
                tradycji, musicie odbudować te wartości przez faktyczne wcielanie w życie tego,
                czego nauczyliście się tutaj podczas ostatnich dwóch tygodni. Pielęgnujcie
                miłość do swojego kraju, swojej kultury i swojej religii. Jednak pod żadnym
                pozorem nie powinniście nienawidzić lub krytykować innych krajów, innych kultur,
                innych religii i innych osób. Porzućcie ograniczone, małostkowe myślenie, a
                kultywujcie wielkoduszność. Zawsze módlcie się o pomyślność dla całego świata,
                zgodnie z wedyjską modlitwą „Loka samasta sukhino bhawantu” (Niech wszystkie
                światy będą szczęśliwe).</span></p>
                
                <p style=""><span style=""> Rozwijajcie
                miłość do Boga. Nie rezygnujcie ze swego oddania Bogu, nawet gdy inni
                wyśmiewają was z tego powodu. Nie traćcie wiary w Niego, kiedy macie trudności.
                Traktujcie wszystko – ból i przyjemność, stratę i zysk, radość i smutek – jako
                prasad (dar lub łaska) od Boga. Bez względu na okoliczności nie zapominajcie
                śpiewać Jego imienia. Imię Boga jest jedyną pewną łodzią, którą możecie
                przeprawić się przez rzekę życia.</span></p>
                
                <p style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                10.5pt;margin-left:3.75pt;line-height:normal"><span style="
                "></span></p>
                
                <p>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../../index.html">Strona główna</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
             <p><i class="far fa-envelope" id="envelope"></i>
                    <span><a href="mailto:kb@astro.umk.pl">Wyślij email.</a>
                        </span></p>
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="../../../index_en.html">my site in <img src="./img/united-kingdom.svg" alt="English"
                            class="flag">English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
                    <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>