<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    
                </ol>
            </nav>
            <article class="container">
                <h2>Summer Showers 1990</h2>
               
                <p style=" text-align: center;"><b>
                
                4.<br><br>
                
                OPANOWANIE ZMYSŁÓW
                 </b></font><br><br>
                     <br>
                
                
                
                </p><p style=" text-align: center;"><i> 
                Można zdobyć wielką erudycję i odnieść zwycięstwo w debacie uczonych.<br>
                Można być wielkim bohaterem i wygrać wiele bitew. <br>
                Można urodzić się wielkim królem i rządzić rozległym królestwem.<br>
                Można wspaniałomyślnie i miłosiernie rozdać złoto i krowy.<br>
                Można zliczyć niezliczone gwiazdy, które zdobią niebo.<br>
                Można nazwać niezliczone gatunki żyjących istot.<br>
                Można być biegłym w asztanga widji (ośmiorakiej ścieżce jogi). <br>
                Można osiągnąć sukces w zdobywaniu księżyca. <br>
                Jednak nikt nie potrafi kontrolować swojego ciała i zmysłów,<br>
                Ani pokonać umysłu i utrzymać go<br>
                wewnątrz w stanie nieporuszonego spokoju. </i><br>
                
                 
                
                 
                </p><p style="  ">
                  Prawdą jest, że ciało ma pewien wpływ na zmysły. Jednak zmysły w
                większym stopniu  wpływają na ciało. Nie może istnieć ciało bez zmysłów
                ani zmysły bez ciała. Są one nierozdzielne i współzależne. Ładunek
                ujemny bez dodatniego ani dodatni bez ujemnego (w przypadku prądu
                elektrycznego) nie może służyć żadnemu celowi. Podobnie, nie może
                funkcjonować ciało bez zmysłów ani też zmysły bez ciała. Zatem,  każdy
                człowiek powinien właściwie dbać o swoje ciało.
                </p><p style="  ">
                  Rola zmysłów jest niezwykła. Nie da się opisać cudów dokonywanych
                przez Boga. A jednak rola, jaką odgrywają zmysły, jest jeszcze bardziej
                zdumiewająca i tajemnicza. Osobliwe, nie do przewidzenia i nie do
                opisania są zachowania ludzkich narządów zmysłów. Zmysły są bardziej
                subtelne niż ciało. Chociaż zdolność mowy, dotyku, widzenia, słyszenia i
                smaku istnieją w ciele tak samo jak gazy, żółć i flegma, zmysły sprawują
                nadzwyczajną kontrolę w jednakowym stopniu nad nimi wszystkimi. Człowiek
                doświadcza radości i smutku, gorąca i zimna tylko wtedy, gdy narządy
                zmysłów wchodzą w kontakt z zewnętrznymi przedmiotami. Bez nich zmysły
                nie mogą funkcjonować ani przez chwilę. Cała aktywność zmysłów
                skierowana jest ku przedmiotom w ich otoczeniu. Niemożliwe jest pojęcie
                czy opisanie nieskończonej ilości aspektów organów zmysłowych i ich
                aktywności.
                </p><p style="  ">
                  Zmysły określa się również mianem <i>matrah</i>, co znaczy "instrumenty
                pomiarowe". W jaki sposób odbywa się proces odmierzania? Weźmy na
                przykład owoc. Który zmysł ma zdolność określić, czy jest on słodki czy
                kwaśny? Który narząd zmysłu mierzy lub określa smak przedmiotu? Jest to
                język. Język określa smak pokarmu, decyduje, czy jest on dobry czy zły i
                powiadamia o tym wszystkich zainteresowanych.
                </p><p style="  ">
                  Który organ jest w stanie stwierdzić, czy widok jest atrakcyjny czy
                brzydki? Jedynie oko jest narzędziem mierniczym odpowiednio
                przeznaczonym do tego zadania. Podobnie, zdolność określania, czy
                przedmiot jest pachnący czy cuchnący przypada nosowi. Tak samo ucho może
                rozróżniać między melodyjnym, muzycznym tonem a tonem nieharmonijnym.
                Tak więc organy zmysłów nazywa się matrah, ponieważ są wyposażone w
                zdolność mierzenia i wyznaczania poszczególnych cech różnorodnych
                przedmiotów.
                </p><p style="  ">
                  W upaniszadzie Katha zmysły opisane są jako konie zaprzężone do
                rydwanu ciała. Jakie jest głębokie znaczenie określania zmysłów końmi (w
                sanskrycie aśwa)?  Aśwa znaczy to, co jest zawsze niespokojne. Wszystkim
                wiadomo, że koń przez cały czas, czy to stoi, czy biegnie, czy nawet
                śpi, porusza jakąś częścią swojego ciała -  ogonem, nogą, bokiem, nosem
                czy szczękami. Z powodu tej niespokojnej natury konie nazywa się aśwam.
                Podobnie, figowiec (ficus religiosa, znany również jako drzewo
                bodhi) - czy wieje wiatr czy nie, jego liście nieustannie szeleszczą.
                Stąd jego nazwa - aśwattha.
                </p><p style="  ">
                  W starożytności indyjscy władcy mieli zwyczaj odprawiać ofiarę (jagę)
                o nazwie Aśwamedha. Aśwa znaczy niespokojny, niestały. Medha to buddhi
                (intelekt). Zatem "aśwamedha" znaczy "o niestałym umyśle". Koń użyty do
                tej ofiary symbolizuje niestały umysł. Tego, kto zdoła pojmać i ujarzmić
                owego konia, określa się dhimanthą -  człowiekiem o heroicznej
                inteligencji, godnym walki. Widzimy tutaj zewnętrzne i głębokie, duchowe
                znaczenie pojęcia aśwamedha. Dopiero, gdy bierzemy pod uwagę obydwa
                znaczenia, otrzymujemy pełną prawdę.
                </p><p style="  ">
                Obecnie obowiązkiem każdego człowieka jest kontrolowanie podobnych do
                koni zmysłów. Tylko wtedy możemy nazwać się bohaterami w prawdziwym tego
                słowa znaczeniu. Niezależnie od tego, jakie jagi, jadżnie lub inne
                rytuały ktoś odprawi, jakie opanuje święte pisma, jeśli brakuje mu
                umiejętności panowania nad zmysłami, wszystkie te dokonania okażą się
                bezcelowe.
                </p><p style="  ">
                  Słowo matrah w kontekście zmysłów posiada jeszcze inne znaczenie.
                Wskazuje, że granice tego, czego każdy narząd zmysłowy może doświadczyć,
                zostały nakreślone przez Pana. Na przykład, oko może tylko widzieć, ale
                nie może słyszeć. Usta mogą tylko mówić, lecz nie mogą widzieć. Zatem
                każdy narząd został wyposażony przez Boga w tylko jemu właściwą
                zdolność. Tylko ci, którzy używają tych organów zgodnie z przypisaną im
                przez Boga funkcją, postępują zgodnie z Jego wolą. Ci, którzy naruszają
                nakazane ograniczenia,  przekraczają boską wolę i muszą ponieść za to
                konsekwencje .
                </p><p style="  ">
                             Zatem każdy człowiek powinien używać organów zmysłów
                pamiętając o przypisanych im funkcjach i ograniczeniach. Na przykład,
                nos ma specyficzne zadanie wdychania i wydychania powietrza dla
                zachowania zdrowia oraz rozróżniania pomiędzy dobrymi a złymi zapachami
                i przyjmowania tylko tego, co jest dobre i pachnące. Ignorując tę
                specyficzną rolę nosa, współczesny człowiek używa go niewłaściwie
                zażywając tabakę i wdychając cuchnące wonie. Popełnia przez to podwójne
                przewinienie: po pierwsze, naruszając boski nakaz, a po drugie, szkodząc
                swemu zdrowiu. Nic dziwnego zatem, że współczesny człowiek stał się
                ofiarą wszelkiego rodzaju chorób.
                </p><p style="  ">
                  Podobnie, język został dany człowiekowi do spożywania zdrowego
                pokarmu, sprzyjającego zdrowiu, a także do mówienia w sposób łagodny i
                miły tak, aby sprawiać radość innym i przekazywać im swoje najgłębsze
                myśli i odczucia. Język, którym zostaliśmy obdarzeni dla tych
                szlachetnych celów, jest obecnie skrajnie nadużywany. Używa się go do
                zażywania narkotyków, do spożywania pokarmu pochodzenia zwierzęcego, do
                palenia papierosów, obrażania innych, plotkowania, robienia docinków,
                używania szorstkich słów, które ranią, itd. Używając języka w tak
                niewłaściwy sposób, przez całkowite ignorowanie ustalonych granic,
                narusza się boskie nakazy. W konsekwencji człowiek musi doświadczyć
                niezliczonych zmartwień.
                </p><p style="  ">
                  Tylko dzięki właściwemu użyciu danych przez Boga zmysłów do celów, dla
                których zostały one przeznaczone, człowiek może wznieść się na boskie
                wyżyny. Nie powinniście używać zmysłów tak, jak wam się tylko żywnie
                podoba z samego faktu ich posiadania. Są one niczym konie zaprzężone do
                rydwanu. Musicie wiedzieć, jak należy się nimi posługiwać, aby rydwan
                jechał gładko i bezpiecznie po właściwej drodze do ostatecznego celu
                życia. Konie muszą iść z przodu rydwanu. Dzisiaj, na odwrót, konie 
                umieszcza się na tylnym siedzeniu rydwanu, co prowadzi do
                niebezpiecznych konsekwencji. Jeśli argumentując, że zmysły powinny
                zostać uszanowane i uhonorowane, umieścicie konie (zmysły) wewnątrz
                rydwanu, czy rydwan będzie mógł w ogóle ruszyć z miejsca? Dbając o
                zmysły z zewnątrz nie czyni się żadnego wysiłku, by wewnętrznie nad nimi
                zapanować. Jest to równoznaczne z nadmiernym karmieniem i
                nieuzasadnionym tuczeniem konia, bez dawania mu możliwości wykonywania
                odpowiedniej pracy. Z pewnością będą tego niekorzystne skutki. Obecnie
                rozpieszczamy zmysły, lecz nie dajemy im żadnego zajęcia. Z tego powodu
                wpadają w szał, a to oznacza nieszczęście dla ich właściciela. Zmysłów
                należy właściwie używać, jak zostało to nakazane przez Boga. W
                przeciwnym wypadku człowiek będzie cierpiał z powodu braku spokoju.
                
                </p><p style="  ">
                  Tę sytuację można porównać do sytuacji człowieka, który ma wiele żon.
                Król Uttanapada miał dwie żony i z powodu różnic między nimi dziecko
                Dhruwa musiało odejść do lasu, by pokutować. Król Daśaratha miał trzy
                żony. Aby spełnić żądania najmłodszej, musiał znieść wygnanie do lasu
                swego najdroższego syna - Ramy, ostatecznie tracąc życie z powodu bólu
                rozłąki. Jeśli posiadanie dwóch lub trzech żon może wpędzić człowieka w
                takie tarapaty, wyobraźmy sobie kogoś, kto musi dać sobie radę z
                dziesięcioma! Bowiem ten VIP (very important person - bardzo ważna
                osoba), czyli umysł musi poradzić sobie z pięcioma narządami zmysłów i
                pięcioma narządami działania. Każdy narząd domaga się sprawiających mu
                przyjemność przedmiotów według jego własnego wyboru. Na przykład nos
                jest przyciągany przez zapach masala dosy (przysmak z Pd. Indii) i chce
                ją mieć. Ucho żąda radia nastawionego na melodyjną muzykę. Oczy łakną
                oglądania nowego filmu. Jak więc mistrz (umysł) może zadowolić
                jednocześnie wszystkie zmysły, skoro każdy pragnie czegoś innego? Nie
                mogąc tego dokonać, umysł popada we frustrację. Czy umysł, który
                poślubił dziesięć żon, może cieszyć się spokojem? Tylko wtedy, gdy
                zmysły są trzymane pod należytą kontrolą, człowiek sam może doświadczać
                szczęścia i dzielić się tym szczęściem ze wszystkimi wokół.
                
                </p><p style="  ">
                  Istnieje metoda, dzięki której żądania zmysłów można pogodzić i
                zharmonizować. Polega ona na traktowaniu ze zrównoważonym umysłem
                zarówno dobra jak i zła. Tukaram jest pod tym względem chwalebnym
                przykładem. Był on wielkim wielbicielem Boga i z natury człowiekiem
                łagodnym. Jego żona była złośnicą. Mimo to, dzięki spokojowi i
                wyrozumiałości, Tukaramowi udawało się żyć z nią w zgodzie. Tylko ten,
                kto musi odwzajemnić słowo za słowo, wet za wet i ząb za ząb, musi
                stawić czoła niezgodzie i zmartwieniom. Jednak Tukaram był prawdziwym
                ucieleśnieniem wyrozumiałości. Posiadał on niewielkie, półakrowe pole
                [około 0,2 ha] z uprawy którego utrzymywał rodzinę. Pewnego razu,
                namówiony przez sąsiadów, uprawiał trzcinę cukrową. Kiedy plon dojrzał,
                wielu przechodniów nadużywając dobroci Tukarama, częstowało się trzciną.
                W końcu Tukaram zebrał to, co zostało, związał trzciny i powiózł na swym
                wozie do domu. Po drodze dzieci z wioski zgromadziły się wokół niego i
                każde prosiło o kawałek trzciny. Ze zwykłą sobie dobrodusznością
                pozwolił częstować się dzieciom. W końcu, gdy dotarł do domu, w wozie
                została tylko jedna trzcina. Widząc to jego żona wpadła w furię i
                porządnie go złajała, zarzucając mu, że nie nadaje się do życia
                rodzinnego. W przypływie złości wzięła tę jedyną trzcinę z wozu i
                uderzyła nią Tukarama. Trzcina pękła na trzy kawałki, z których dwa
                upadły na ziemię, a trzeci został jej w dłoni. Tukaram stwierdził ze
                spokojem: "Całą drogę zastanawiałem się, jak rozdzielić pozostałą
                trzcinę na trzech członków naszej rodziny. Cieszę się, że zgrabnie
                rozwiązałaś ten problem za mnie. Możesz zjeść kawałek, który trzymasz, a
                te dwa, co upadły, daj dzieciom". Rzadko można znaleźć taką
                wyrozumiałość i opanowanie; wyjątkiem są nieliczne, wysoko rozwinięte
                dusze. Takie cnoty można zdobyć tylko dzięki oddaniu i wierze. Nie
                musicie odczuwać przygnębienia z powodu obawy, że nie będziecie w stanie
                kontrolować swoich zmysłów. Zmysły  można niewątpliwie opanować
                rozwijając jednopunktowe oddanie i całkowicie poddając się Bogu.
                
                </p><p style="  ">
                  Kabir stanowi inny przykład pobożnego człowieka, ale w odmiennej
                sytuacji. W przeciwieństwie do żony Tukarama, żona Kabira była
                prawdziwie oddana i wierna; całkowicie poświęcała się służeniu mężowi i
                była mu bezwzględnie posłuszna. Pewnego dnia Kabir tkał na swoim
                krośnie, śpiewając jak zwykle nieustannie imię Pana Ramy. Nagle zawołał
                żonę i tłumacząc jej, że pękła mu nić, poprosił o przyniesienie lampy.
                Było południe, więc kiedy żona przyniosła zapaloną lampę, Kabir poprosił
                o odniesienie jej, gdyż nie była potrzebna. Każda inna żona w tej
                sytuacji odparowałaby: "Nie masz oczu, nie widzisz, że jest widno?
                Dlaczego marnujesz mój czas i energię, niepotrzebnie prosząc o
                przyniesienie lampy i odniesienie jej z powrotem?" i tak dalej. Jednak
                żona Kabira była ulepiona z innej gliny. W milczeniu odniosła lampę, bez
                szemrania, bez choćby jednego słowa oburzenia. Mając tak obowiązkową i
                posłuszną żonę, Kabir był w stanie rozwijać swoje oddanie w sposób
                nieskrępowany i wyrażał wdzięczność Bogu za łaskę otrzymania tak dobrego
                partnera w życiu.
                </p><p style="  ">
                  Były to dwa przykłady świątobliwych ludzi, którzy mimo zdecydowanie
                odmiennych sytuacji rodzinnych, równie dobrze postępowali swoją duchową
                ścieżką. Zatem wniosek z tego, że otoczenie nie jest ważne dla zdobycia
                umiejętności panowania nad zmysłami i emocjami. Bardziej pod tym
                względem liczy się czystość intencji, szczerość zamiarów i determinacja
                w kroczeniu duchową ścieżką niż otoczenie, które ma niewielkie znaczenie
                lub wcale go nie ma.
                </p><p style="  ">
                  Musieliście słyszeć o Einsteinie, który był zarówno wielkim uczonym,
                jak i mędrcem - rzadkie to połączenie. Miał on bardzo głupią żonę. Była
                nie tylko niewykształcona, ale też prostacka w zachowaniu. Einstein był
                zawsze zajęty eksperymentami, badaniami, a także kontemplacją. Tak
                bardzo był zawsze pochłonięty swą pracą, że nigdy nie przychodził
                punktualnie na posiłki, mimo że  żona często go napominała. Była
                zdegustowana jego zachowaniem, wyprowadzało ją to z równowagi i dosyć
                często złościła się. Pewnego razu była bardzo głodna. Postawiła
                wszystkie dania na stole i wielokrotnie prosiła męża, aby przyszedł i
                zjadł posiłek. Jednak Einstein nie zwracał uwagi na jej słowa, gdyż
                całkowicie pochłonięty swoimi myślami zapomniał o całym świecie. Jego
                żona wpadła we wściekłość, pognała do niego z dzbanem wody i wylała mu
                go na głowę, zasypując przy tym gradem reprymend. Einstein pozostał
                niewzruszony, choć był całkowicie przemoczony. Uśmiechnął się do żony i
                spokojnie odpowiedział: "Codziennie tylko błyska się i grzmi. Ale
                dzisiaj spadła mi na głowę potężna ulewa!". Wyobraźcie sobie
                wyrozumiałość, cierpliwość, opanowanie i poczucie humoru Einsteina w tak
                bardzo trudnej do zniesienia i prowokującej sytuacji! Każdy inny mąż w
                tej sytuacji uderzyłby żonę w głowę tym samym pustym dzbanem wyrwanym
                jej z ręki. Jednak Einstein nigdy nie myślał w kategoriach odwetu, czy
                choćby słownej riposty. Tak potrafił panować nad zmysłami!
                </p><p style="  ">
                  Starożytni mędrcy traktowali kontrolę zmysłów jako formę pokuty. Aby
                zdyscyplinować zmysły, należy zrozumieć ich działanie. Dla zilustrowania
                tego zagadnienia oto historyjka o chrześcijańskim księdzu, który nauczył
                się lekcji kontroli zmysłów od woźnicy powozu, którym podróżował. Ksiądz
                zauważył, że woźnica srodze bił konia, gdy zbliżali się do przejazdu
                kolejowego. Ksiądz, który mocno wierzył w przesłanie miłości i
                współczucia Chrystusa, poczuł litość do zwierzęcia i zapytał woźnicę,
                dlaczego bez potrzeby bije konia, choć biegnie on właściwie. Woźnica
                wyjaśnił, że na przejeździe znajdują się pomalowane na biało kamienie,
                które budziły przerażenie konia. Bił zwierzę, ponieważ bardziej bało się
                ono bata niż białych kamieni i wówczas przebiegało przez przejazd bez
                zatrzymania. Tak więc ksiądz nauczył się, że kiedy uwaga któregoś zmysłu
                jest przez coś rozproszona, to powinno się go skierować ku innej
                pożądanej rzeczy za pomocą silniejszego bodźca zachęty, bądź
                zniechęcenia. Tylko wtedy zrezygnuje z szaleńczych zapędów i powróci na
                właściwą drogę.
                </p><p style="  ">
                             Przypuśćmy, że mamy zwierzę, które wykształciło zły nawyk
                podjadania upraw z cudzych pól. Jak wyleczyć je z tego nałogu? Jeśli
                nakarmicie zwierzę w swej oborze lub stajni świeżą paszą, która jest
                bardziej smakowita od upraw na polu, przywyknie do jedzenia w oborze i
                tym samym porzuci zły nawyk. Tą samą metodą zmysły należy oduczać złych
                nawyków i właściwie wyćwiczyć w nawykach dobrych.
                </p><p style="  ">
                  Zmysły porównuje się do paśu (zwierzęcia). Słowo <i>paśu</i> oznacza kogoś,
                kto zdolność postrzegania ukierunkował na świat zewnętrzny. Ktoś, kto
                posiada wzrok wewnętrzny, nazywa się paśupatim lub "panem zwierząt"
                (Śiwa). Do tego miana powinien aspirować człowiek i dokładać starań, aby
                stać się paśupatim - mistrzem zmysłów, a nie paśu - niewolnikiem
                zmysłów. Szkoda, że dzisiaj ludzie stali się niewolnikami zmysłów.
                Istnieje wiele sposobów ich poskromienia i skierowania na właściwą
                drogę. W związku z tym ważne jest, aby unikać pobłażania zmysłom.
                </p><p style="  ">
                  Jeśli starannie zbadacie, w jakim miejscu rodzą się zmysłowe
                przyjemności, odkryjecie, że mają one swoje źródło wyłącznie w smutku.
                To dlatego w każdej przyjemności zmysłowej tkwi żądło smutku.
                Przyjemność płynąca ze zmysłów jest chwilowa i ostatecznie kończy się
                tylko żalem. Pożądania pojawiają się w jednej chwili, by w następnej
                odejść. Przypuśćmy, że pragniecie zjeść laddu (indyjski deser). Zaledwie
                zjedliście dwa kawałki laddu, a już czujecie przesyt lub nawet awersję
                do tego smakołyku. Pragnienie w jednej chwili i wstręt w chwili
                następnej! Przyjemność i cierpienie - jedno szybko po drugim! Dzięki
                takiej kontemplacji chwilowej i zwodniczej natury tak zwanych
                przyjemności zmysłowych możemy rozwinąć zdolność rozróżniania i
                nieprzywiązania i utrzymać zmysły pod kontrolą.
                </p><p style="  ">
                Inną ważną sprawą, na jaką powinniście zwrócić uwagę jest to, że jeśli
                zmysły są zajęte we właściwy sposób, to nie ma z nimi kłopotów. W
                przeciwnym razie stajecie się ich niewolnikami.
                </p><p style="  ">
                  Chociaż mogę nie być fizycznie obecny, wiem, co dzieje się w
                określonym miejscu i czasie, tak samo jak znam duchowe odczucia
                związanych z tym ludzi. Na przykład, tego popołudnia dr Hemalatha,
                dyrektorka żeńskiego koledżu w Anantapur, raczyła was głęboko
                pouczającym wykładem o Prahladzie, przeplatanym melodyjnymi pieśniami i
                wierszami w języku telugu. Jedną z najważniejszych rzeczy wspomnianych w
                jej wystąpieniu był epizod o tym, jak Hiranjakaśipu, który nienawidził i
                obrzucał obelgami Pana Hari (Wisznu), został przez niego zabity, dzięki
                czemu dostąpił zbawienia. Podobnie było w przypadku Pana Kriszny. Był
                on  zawsze mocno obrażany przez ludzi takich jak Śiśupala i Dantawakra.
                Pewnego razu w wielkiej sali posiedzeń króla Dharmadży (Judhiszthiry)
                zebrały się znakomite i sławne osobistości. Pojawiła się wątpliwość,
                komu należy złożyć hołd najwyższej czci <i>agra tambulam</i> (dosłownie
                mówiąc, najwyższe ofiarowanie "pan supari", czyli liści betelu i
                orzechów arekowych). Chociaż było tam kilka wybitnych postaci jak
                Bhiszma, Drona i inni, Pandawowie postanowili oddać ten szczególny honor
                Śri Krisznie, który był dla nich wszystkim, który pozostał przy nich na
                dobre i na złe i który przychodził im na ratunek podczas wielu kryzysów.
                Dharmadża obmył Krisznie stopy i złożył mu  najwyższy hołd szacunku i
                honoru.
                </p><p style="  ">
                  Nikczemni ludzie nie mogą zrozumieć głębokiego  znaczenia postępowania
                i motywacji innych ludzi. Z powodu złej woli i zawiści, kierując się
                jedynie zewnętrznymi formami i egoizmem, krytykują i lżą innych. Tak
                właśnie zrobił przy tej okazji ograniczony Śiśupala. Nie mógł znieść
                tego, że Kriszna został uhonorowany na tak wielkim zgromadzeniu
                dostojnych osobistości. Wprost przed wielkimi nauczycielami, słynnymi
                mędrcami i ludźmi wielkiego honoru i zasług, nikczemny Śiśupala zaczął
                zasypywać Śri Krisznę zjadliwymi obelgami, wypominając na przykład to,
                że Kriszna był złodziejem i  wykradał masło z cudzych domów, że zabrał
                niewinnym pasterkom sari, uwłaczając ich skromności, a także oddawał się
                igraszkom i figlom z nimi. Twierdził więc, że składanie najwyższego
                hołdu Krisznie było rozmyślną obrazą tego czcigodnego zgromadzenia.
                Kiedy Śiśupala w swych obelgach przebrał miarę, Kriszna nagle rzucił w
                niego ten sam talerz, na którym Dharmadża złożył mu ofiarę. Niektórzy
                głoszą, że Kriszna rzucił swój dysk Sudarśana Czakra. Tak nie było.
                Kriszna ściął głowę Śiśupali jedynie rzucając talerz. Dharmadża
                niezmiernie ucieszył się ze zgładzenia nikczemnego Śiśupali. Jednak już
                w następnej chwili jego szczęście zmieniło się w całkowite zaskoczenie i
                dezorientację, jakby w jego umysł uderzył gwałtowny cyklon, gdy
                zobaczył, jak krew z przeciętej szyi Śiśupali popłynęła na święte stopy
                Kriszny i, co było jeszcze bardziej zaskakujące, jak płomień życia
                wyłaniający się z ciała Śiśupali połączył się z Kriszną. Zdumiony tym
                dziwnym zjawiskiem Dharmadża zapytał Naradę, jak to możliwe, żeby taki
                zdrajca i zdeprawowany wróg Kriszny jak Śiśupala, mógł tak chwalebnie
                zakończyć życie przez połączenie swej duszy ze Śri Kriszną -
                zakończenie, na jakie trudno liczyć nawet wielbicielom, którzy poddali
                się Bogu. Narada wyjaśnił: "Obraza lub pochwała, obmowa czy okazywanie
                szacunku odnoszą się jedynie do ciała, a nie do atmy, która istnieje
                ponad wszelkimi przeciwieństwami. Ona jedna tylko, najwyższa paramatma,
                mieszka we wszystkich istotach. W takim razie kto lży, a kto jest lżony?
                Kto jest przyjacielem, a kto wrogiem? Wszyscy są tym samym. Krew, która
                jest przepojona ciągłym rozpamiętywaniem Boga staje się ofiarą złożoną
                Bogu. Niezależnie od tego, czy robi się to z nienawiści, czy z miłości,
                pożądania czy zazdrości, egoizmu czy poddania, wystarczy, że nieustannie
                wspomina się imię Pana". Śiśupala powtarzał imię Śri Kriszny częściej
                niż wielu innych wielbicieli. Wielbiciele pamiętają o Bogu tylko wtedy,
                gdy widzą świątynie i ich wieże, bądź wizerunki lub posągi wewnątrz
                nich. A Śiśupala, z powodu swej wielkiej nienawiści do Kriszny, miał w
                swoim umyśle Krisznę w każdym miejscu i o każdej porze, niezależnie od
                tego, czy chodził czy spał. To dzięki temu nieustannemu rozpamiętywaniu
                Śri Kriszny dusza Śiśupali połączyła się z Nim.
                </p><p style="  ">
                  Ci, którzy zainteresowani są jedynie światem, patrzą tylko na
                powierzchowne i zewnętrzne aspekty rzeczy i czynów. Jednak Pan nie widzi
                tego w ten sposób. On wolny jest od nienawiści lub zawiści, upodobania
                czy uprzedzenia. Jeśli odczucia takie przypisuje się Panu, fakt ten
                odzwierciedla jedynie wasze własne odczucia. Bóg jest niczym czyste
                zwierciadło. To, co w nim dostrzegacie, jest tylko odbiciem waszych
                własnych czynów i postaw - uśmiech za uśmiech, cześć za cześć itd. Dla
                Boga nie ma akcji ani reakcji. Bóg nigdy nikogo nie karze, ani nie
                nagradza. Jesteście karani lub nagradzani przez swoje własne czyny. Stąd
                nikt nie jest upoważniony do kwestionowania czynów Boga, oskarżając Go o
                faworyzowanie jednych i obojętność wobec innych. Któż ma prawo dyktować
                Bogu, jak powinien się zachowywać? Boskość obecna w każdym człowieku
                może wyrażać się w różnym zachowaniu. Jednak działania Boga są zawsze
                pełne miłości i całkowicie wolne od egoizmu. Dlatego są absolutnie bez
                skazy. Z tego właśnie powodu Boga określa się takimi oto przymiotami:
                "nie posiadający atrybutów, nieskazitelny, starożytny, mieszkanie dla
                wszystkich, wiekuisty, czysty, oświecony, wolny" itd. Boskie oko nie
                widzi czystości lub nieczystości. To wszystko jest tylko w waszym
                postrzeganiu. Jak o sobie myślicie, tym się stajecie. Patrzycie na świat
                przez kolorowe okulary i błędnie przypisujecie te kolory światu. To
                wasze ułomne postrzeganie powoduje, że widzicie wady, których nie ma w
                stworzeniu.
                </p><p style="  ">
                  W rzeczywistości wady, które przypisujecie zmysłom, są wadami w waszym
                własnym procesie myślowym i uczuciach. Jeśli zmysłów używa się w
                poprawny sposób, ofiarują właściwe wrażenia. Na przykład, Tukaram żywił
                pozytywne uczucia i dzięki temu życzliwie interpretował nawet prymitywne
                i negatywne zachowanie żony. Jego zmysły nie stawały na drodze duchowego
                rozwoju i opanowania, mimo trudnych do zniesienia sytuacji w jego domu.
                Podobnie Kabir nieustannie myślał o Bogu, więc zachowanie jego żony było
                zgodne z jego postępem duchowym. Tak samo Einstein miał w sobie
                wewnętrzną równowagę, w związku z tym w ogóle nie dotykało go gwałtowne
                zachowanie żony. Z tych przykładów jasno wynika, że musicie tylko
                zharmonizować własne myśli i uczucia dzięki prawidłowej sadhanie
                (dyscyplinie duchowej), zamiast zrzucać winę za swoje niedociągnięcia na
                otoczenie i innych ludzi.
                </p><p style="  ">
                  Jednak niektórzy ludzie, uparci i mający skłonność do próżnej
                argumentacji, winią Boga za to, że kieruje ludzkie zmysły na zewnątrz.
                Dowodzą oni, że Bóg dał im oczy, które są jak drzwi otwarte na
                zewnętrzny świat, uszy, które mogą słyszeć zewnętrzne dźwięki, nosy,
                które mogą wdychać jedynie powietrze z zewnątrz. Zatem twierdzą oni, że
                błąd leży tylko po stronie stwórcy, a nie ich. Próbują usprawiedliwić
                swoje zmysłowe zachowanie mówiąc, że "błądzić jest rzeczą ludzką". Takie
                bałamutne usprawiedliwianie jest parodią prawdy i jest godne
                zdecydowanego potępienia, zwłaszcza gdy pozwala sobie na nie młodzież.
                Jeśli zwierzęta zachowują się niewłaściwie, jest to całkiem zrozumiałe,
                ponieważ nie są one wyposażone w zdolność rozróżniania, by móc
                kontrolować swoje zmysły i panować nad nimi. Lecz jeśli człowiek, który
                został pobłogosławiony przez Boga mocą rozróżniania, schodzi na złą
                drogę ulegając zmysłom, jest to w wysokim stopniu niewybaczalne. Jakie
                to absurdalne i śmiechu warte urodzić się człowiekiem i zachowywać się
                jak zwierzę. Zatem prowadźcie się, jak przystało ludzkiej istocie.
                </p><p style="  ">
                  Niektórzy studenci, uważający się za bardzo sprytnych, próbują
                argumentować w następujący sposób: "Spójrz na ptaki, bydło i dzikie
                zwierzęta. One mają całkowitą wolność, by jeść, co chcą, parzyć się, jak
                chcą i wędrować, gdzie tylko chcą. Dlaczego człowiekowi odmawia się
                takiej wolności, którą cieszą się te niższe istoty?". Rzeczywiście,
                pozornie słuszny argument! Lecz spytajmy tych mędrków, jakim rodzajem
                wolności cieszą się zwierzęta? Odpowiedź z pewnością brzmi: "wolnością
                zwierzęcą". Zwierzęta cieszą się wolnością zwierzęcą. Nie ma w tym nic
                złego. Jednak będąc człowiekiem, czy jest właściwe i stosowne chcieć
                wolności zwierzęcia? Próbujecie podać różne niepoprawne znaczenia i
                wprowadzające w błąd interpretacje słowa "wolność". Powinniście dążyć do
                wolności od zmysłów, a nie do wolności zmysłów. Prawdziwa wolność to
                kontrola zmysłów i niższego ja w drodze do osiągnięcia wyższego ja,
                czyli prawdziwej jaźni i doświadczenia odwiecznej błogości atmy (atmanandy).
                </p><p style="  ">
                  Wraz z posiadaniem wiedzy, ważne jest również posiadanie prawego
                charakteru, gdyż tylko wtedy możecie cieszyć się doskonałą równowagą w
                życiu. Jaka szkoda, że współczesna edukacja troszczy się tylko o rozwój
                inteligencji i sprytu, całkowicie ignorując charakter i wartości
                ludzkie. Jaki jest pożytek ze zdobywania ogromu wiedzy dostępnej na
                świecie, jeśli nie posiada się charakteru? To jest powodem utraty
                równowagi u współczesnych ludzi w ogóle, a szczególnie wśród ludzi
                wykształconych. Jeśli utracicie równowagę jadąc na rowerze, narażacie
                się na wypadek. Podobnie, jeśli w podróży waszego życia brak równowagi
                między wiedzą a charakterem, z całą pewnością narażacie się na poważne
                wypadki. Zatem z jednej strony musicie kontrolować zmysły, a z drugiej
                strony - musicie żyć prawym życiem. Dla studentów sprawą najwyższej wagi
                powinno być utrzymanie równowagi między tymi dwoma aspektami.
                </p><p style="  ">
                Studenci! Nie wystarczy, że zapanujecie nad zmysłami. Powinniście
                również je zharmonizować. Zgodnie z Patańdżalim, joga jest kontrolą nad
                bezcelowymi wędrówkami umysłu. Jednak taka kontrola umysłu jest
                niezwykle trudna, jeśli nie całkiem niemożliwa do osiągnięcia. W
                przeciwieństwie do niej, odpowiedni i łatwy sposób to osiągnięcie
                umysłowej harmonii i równowagi. Koncentrujcie się na tym, co dobre,
                wtedy w sposób naturalny będziecie trzymać się z dala od tego, co złe. 
                Wszystkie wasze problemy mają swoje źródło w słabości umysłu.
                </p><p style="  ">
                Żył kiedyś pisarz o nazwisku Carlyle. Był niezwykle inteligentny, lecz z
                powodu braku kontroli nad zmysłami stał się bardzo słaby. Cierpiał na
                bezsenność. Pewnego dnia zawołał sąsiada i poskarżył się, że nie jest w
                stanie spać w nocy z powodu piania koguta będącego własnością tego
                sąsiada. Sąsiad odparł, że kogut nie mógłby piać przez całą noc, co
                najwyżej dwa lub trzy razy i jemu, mimo to, śpi się znakomicie. Carlyle
                odrzekł, że zdaje sobie sprawę, że kogut pieje tylko dwa lub trzy razy,
                lecz nie może zasnąć, ponieważ przez całą noc myśli o kogucie i o tym,
                że w każdej chwili może on zapiać. Morał z tej historyjki polega na tym,
                że bezsenność Carlyle'a nie była wywołana pianiem koguta, jak
                utrzymywał, lecz jedynie jego własną, wyimaginowaną obawą. Podobnie,
                dzisiaj większość ludzi cierpi nie z powodu swoich zmysłów, lecz wskutek
                wszelkiego rodzaju błędnych wyobrażeń. Tak więc człowiek powinien
                całkowicie porzucić swoje wyimaginowane i bezpodstawne obawy, gdyż one
                mu szkodzą.
                </p><p style="  ">
                W ciągu następnych paru dni będziemy rozważać kolejne aspekty zmysłów,
                panowania nad nimi i harmonizowania ich.
                
                
                
                 </p><p class="text-right">  
                tłum. Jacek Rzeźnikowski, współpr. Kazik Borkowski <br>
                red. Iwona Piotrowska, Izabela Szaniawska
                </font></p><br>
                
                
                <p align="left">
                [Źródło: http://www.sssbpt.info/html/sum1990.htm]<br>
                
                
                
                </font></p>
                </td> 
                
                
                
                                     
                                    
                                    </tr></tbody></table>
                <p>
                                
                                                <p class="stopka" align="center">   
                                     Copyright © 2001-2007 Stowarzyszenie Sathya Sai                </p>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>