<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/c1246e0d6d.js" crossorigin="anonymous"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../../main.css">

    <title>Kazik Borkowski (PL)</title>
</head>

<body>
    <header>
        <div class="header">
            <h1>Strona Kazika B.</h1>
            
        </div>
         <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../../index.html">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../inne/osobie.html">O sobie</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            O Sathya Sai Babie<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../nauki_sai_baby/spis.html">Nauki Sathya Sai Baby</a>
                            <a class="dropdown-item" href="../o_sai_babie/spis.html">O Bhagawanie Śri Sathya Sai Babie</a>
                            <a class="dropdown-item" href="../sukszma_baba/spis.html">Bhagawan w świetlistej postaci — Sukszma Baba</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../valerie_barrow/valerie.html">Z publikacji Valerie Barrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../zloty_wiek/spis.html">Rozmaitości z progu Złotego Wieku</a>
                    </li>
                    <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Materiały na serwerze
                           UMK<span class="sr-only"></span>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item disabled" href=""></a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-praca">Programy i tabele</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-artykuly">Artykuły naukowe i popularne</a>
                         <a class="dropdown-item" href="http://www.astro.umk.pl/~kb/kb.htm#kb-wwl">Wychowywanie w wartościach ludzkich</a>
                         
                     </div>
                 </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="article">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
            <article class="container">
                <h2>Summer Showers 1990</h2>
                <p class="text-center">13</p>

                <p class="text-center"><i>
                    Jakże migotliwa i drżąca jest kropla wody na liściu lotosu!<br>

Takie też jest ludzkie życie w tym przemijającym świecie.<br>

Życie obfituje w konflikty, choroby i złudzenia.<br>

Niestety! Smutek i cierpienie niepodzielnie rządzą w tym obskurnym świecie.<br>

Zatem o głupi umyśle! Przyjmij schronienie<br>

W imieniu Pana – Gowinda, Gowinda, Gowinda!<br></i>
                </p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">Drodzy
                studenci!</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp; &nbsp;Ludzie
                w ogóle nie mogą zrozumieć czym jest adjaatmikam czyli duchowość i czym jest wolność
                jednostki. Duchowość nie oznacza życia w odosobnieniu, z dala od społeczeństwa.
                Prawdziwa duchowość polega na zasiewaniu nasion miłości w sercach wszystkich
                ludzi i sprzyjaniu rozkwitowi pokoju i boskiej miłości wśród całego rodzaju
                ludzkiego. Jeśli gruntownie zbadacie naturę duchowego pierwiastka odkryjecie,
                że duchowość i wolność jednostki nie są dwiema różnymi rzeczami.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Swoboda wyrażania swoich uczuć i myśli publicznie bez niczyich pozwoleń i
                przeszkód jest nazywana wolnością jednostki. Jednak prawdą jest, że nikt nie ma
                absolutnej wolności w tym wszechświecie. Czym jest wolność? Słowo wolność było
                używane często i w dowolny sposób w polityce. Pozbycie się zagranicznego rządu
                i ustanowienie własnego, narodowego rządu było uważane za wolność zanim Indie
                uzyskały polityczną niezależność. Jednak nie była to ani wolność jednostki, ani
                wolność w sensie fundamentalnym. To było tylko zastąpienie zagranicznego rządu
                przez rząd miejscowy, z niewielką, albo żadną zmianą w aspekcie wolności jako
                takiej. Po odejściu obcokrajowców myśleliśmy, że rdzenni mieszkańcy odzyskali
                wolność. Jednak w jakim aspekcie zdobyliśmy wolność? Jaki jest pożytek z
                prostego powtarzania „wolność, wolność”? Jedynie wtedy, gdy osiągniemy jedność,
                możemy utrzymywać, że osiągnęliśmy wolność. Jeśli mówimy o wolności bez
                osiągnięcia jedności, to jest to jedynie wolność słowa, a nie wolność jednostki.
                Prawdziwa wolność wytryska z poziomu serca.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Co rozumiemy przez serce? Nie chodzi o fizyczne serce z krwi i mięsa.
                Rzeczywiste serce nie ma nic wspólnego z żadnym określonym miejscem, czasem,
                jednostką czy krajem. Jest to boski pierwiastek, jednakowo obecny we wszystkich
                osobach, we wszystkich czasach, we wszystkich miejscach i krajach. To serce nie
                ma formy. To co uważamy za serce wewnątrz ludzkiego ciała przychodzi i odchodzi.
                Jednak to co nazywamy sercem w znaczeniu duchowym nie zna przychodzenia i
                odchodzenia. Jest wieczne i niezmienne. Zatem prawdziwa wolność polega na
                rozpoznaniu i zrozumieniu serca lub duchowego pierwiastka, przez poznanie
                którego, poznaje się wszystko. </span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                „Jatha andande tatha Brahmande”. Jaki mikrokosmos, taki makrokosmos.
                Mikrokosmos odpowiada jednostce, a makrokosmos ogólnej sumie wszystkich
                jednostek. Kto zna swoją jaźń, zna wszystko. Współczesny człowiek próbuje
                dowiedzieć się wszystkiego o świecie. Czuje się dumny, że wie wszystko.
                Zapomina jednak o tym, że nie zna samego siebie. W jednej z Upaniszad
                (Czandogja) jest wzmianka o wielkim mędrcu o imieniu Uddalaka, który posłał
                swego syna Swetaketu do innego guru, aby go kształcił. Swetaketu zabrało 12 lat
                osiągniecie biegłości we wszystkich dziedzinach, które studiował. Pełen dumy
                powrócił do ojca i pochwalił się swoim dogłębnym wykształceniem. Wtedy ojciec
                zapytał: „Mój synu, jest coś, przez poznanie czego poznaje się wszystko. Czy
                poznałeś to?” Syn poczuł się zbity z tropu tym pytaniem. To był druzgoczący
                cios w jego dumę z wykształcenia. Ze wszystkich rodzajów dumy, duma z
                posiadanej wiedzy lub wykształcenia jest najgorsza. Stawiając pytanie które
                zaintrygowało jego syna, mędrzec Uddalaka ukazał mu wyższość samopoznania czyli
                Atma Dźnianam nad loka dźnianam czyli wiedzą świecką.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Gdyby ktoś na wasze pytanie „Kim jesteś?” odpowiedział „Nie wiem kim jestem”,
                co pomyślelibyście o nim? Uznalibyście go za szaleńca. Podobnie, jeśli
                próbujecie poznać wszystko z wyjątkiem tego kim jesteście, czy jesteście w
                jakikolwiek sposób lepsi od tego szaleńca? Zatem przede wszystkim powinniście
                starać się poznać kim sami jesteście. Możecie powiedzieć: ”Ja jestem Ramaiah”,
                ale Ramaiah to imię nadane waszemu ciału. Lecz kim jest to „ja” w waszej
                odpowiedzi, które jest oddzielne od Ramaiaha? Powinniście zrozumieć nature tego
                „ja”. To „ja” to nic innego, jak hridajam czyli serce. To „ja” jest Atmą lub
                Jaźnią. To „ja” jest Brahmanem lub najwyższą rzeczywistością. To serce przenika
                wszystko i jest&nbsp; wszechobecne.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Rozważmy następujący przykład: artysta namalował na arkuszu papieru piękny
                obraz tańczącej dziewczyny. Obraz ukazuje jej ciało i kończyny powyginane i
                skręcone w tańcu, przedstawia wznoszenie i opadanie. Na innym obrazie są wysokie
                góry i głębokie doliny. Jednak kiedy palcami dotkniecie papieru, nie poczujecie
                żadnego wznoszenia ani opadania, nie znajdziecie żadnych wzniesień ani
                zagłębień. Tak samo w świecie fizycznym odkrywacie wiele różnic jak wzloty i
                upadki, dobro i zło, grzechy i zasługi, prawda i nieprawda, ból i przyjemność.
                Jednak na poziomie serca w ogóle nie znajdziecie takich dualności lub par
                przeciwieństw.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Rozważmy inny przykład. Jest tu kubek. Ma nazwę i formę. Jeśli usuniecie lub
                zignorujecie nazwę i formę, to co pozostanie? Jedynie srebro. Srebro istniało
                zanim stało się kubkiem. Również kiedy ma formę kubka, jest to tylko srebro.
                Jeśli kubek zostaje zniszczony i zamieniony w okrągłą bryłę, nadal będzie tylko
                srebrem. Zatem na początku, w trakcie i na końcu nie ma nic innego jak tylko
                srebro. Nazwa i forma kubka były tylko pośrodku, lecz nie było ich ani na
                początku, ani na końcu. To co nie istnieje na początku ani na końcu, ale
                istnieje pośrodku ( w trakcie?), uważane jest w rzeczywistości za nieistniejące
                również pośrodku. Jego pozorne istnienie pośrodku jest tylko mitem lub iluzją.
                To dlatego świat zjawiskowy nazywany jest mitjadżagat (wszechświat
                iluzoryczny).</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Ekam Sath (Istnienie jest jedno). Kiedy nie ma drugiego, jak może pojawić się
                pytanie o wolność lub zniewolenie? Zatem te pojęcia są wytworem waszego
                własnego umysłu. Zwracamy uwagę na księżyc i cenimy go tylko wtedy, gdy nie
                świeci słońce. Dlaczego nadajemy wartość księżycowi, gdy nie ma słońca? Księżyc
                nie daje blasku sam z siebie. Jego blask jest jedynie odbiciem promieni
                słonecznych. Podobnie kiedy nie widzimy słońca Jaźni, nadajemy wartość
                księżycowi umysłu. Wedy objawiły, że umysł jest odbiciem księżyca. Dlatego
                pielęgnujemy umysł i odżywiamy go, poświęcając mu coraz więcej czasu i uwagi,
                tak długo, dopóki nie zaangażujemy się w atma wicharę, czyli dociekanie własnej
                jaźni. Tylko gdy posiadacie umysł, postrzegacie wszystkie te różnice jak
                duchowe i świeckie, święte i światowe, wolność i zniewolenie, mężczyzna i
                kobieta, Prakruti i Para Tatwam, Natura i Absolutna rzeczywistość. Wszystkie te
                dualizmy są wytworami umysłu.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Pragnę wyjaśnić kilka kwestii dotyczących debaty na temat wolności i
                zniewolenia, jaka miała tu miejsce. Przypuśćmy, że jakiś człowiek cierpi
                straszną biedę. Jest bardzo głodny. Chociaż słabnie, to nikt nie daje mu
                jedzenia. Wtedy czuje , że może kraść, aby zaspokoić głód. Chociaż powodowany
                swym ego może usprawiedliwiać kradzież, jego sumienie nie aprobuje tego. Ja
                więc może to być nazwane wolnością, skoro nie jest akceptowane przez sumienie?
                To może być co najwyżej nazwane wolnością w zniewoleniu. Kiedy jest się
                rzeczywiście wolnym? Jedynie wtedy, gdy umysł jest unicestwiony. Gdy używacie
                słów „swabhawa” i „swechcha”, musicie rozumieć ich prawidłowe znaczenie. „Swa”
                znaczy jaźń lub atma. Zatem „swabhawa” znaczy natura atmy. Podobnie swa +
                ichcha = swechcha, atmiczna wola. Ściśle mówiąc, powinno to być rozumiane jako
                wola, która jest zgodna z atmą, gdyż atma sama przez się nie posiada woli.
                Zatem niewłaściwe jest używanie słów</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">„swabhawa”
                i „swechcha” w odniesieniu do spraw związanych z aktywnością ciała, zmysłów,
                umysłu i intelektu. Należy rozpoznać, że życie ludzkie jest regulowane przez
                prawa natury z jednej strony, a z drugiej strony przez zasady stworzone przez
                człowieka. W tych okolicznościach bezpodstawne jest myślenie, że ktokolwiek ma
                wolność czynienia co tylko zechce. Jedynie o Bogu można powiedzieć, że ma
                wolność. Nawet to jest prawdą względną, gdyż w istocie istnienie jest tylko
                jedno, wiec słowo „wolność” w tym kontekście jest nie na miejscu.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Ludzie z łatwością mówią o poddaniu. Niektórzy narzekają: „Całkowicie oddałem
                się Swamiemu, a jednak nie ma końca moim problemom, trudnościom, cierpieniu i
                smutkowi.” Według mnie, to w ogóle nie jest oddanie. Prawdziwe oddanie nigdy nie
                zwraca uwagi na obecność lub nieobecność smutku, cierpienia, niedoli i temu
                podobnych. Są inni, którzy mówią: „Kiedy siedzę w medytacji, wchodzę czasami w
                samadhi.” Jednak czym jest samadhi? W książkach napisanych przez świeckich
                ludzi z ich doczesnego punktu widzenia, znaleźć można różne określenia na
                samadhi. Podczas medytacji osoba może utracić świadomość cielesną. Jednak nie
                jest prawidłowe nazywać to samadhi. To może być objawem słabości, ataków
                histerii lub emocji, ale nigdy oznaką samadhi. Jedynie zatopienie umysłu w
                atmie jest samadhi. W tym stanie nie postrzega się ani nie doświadcza dualizmu.
                Samadhi = sama + dhi, co w istocie oznacza nieporuszoność umysłu. Wtedy nie
                będzie śladu takich dualizmów jak przyjemność i ból, zysk i strata, cnota i grzech
                lub Prakruthi i Paramatma (natura i Bóg). Jedynie to jest oznaką nieporuszoności
                umysłu.. To naprawdę jest swabhawą (naturą jaźni). Dla kontrastu, jeżeli
                człowiek ma aspiracje do czegokolwiek w swym życiu i goni za tym starając się
                osiągnąć to na wszelkie sposoby, możecie traktować to wszystko jako oznakę
                aberracji umysłowych.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Dopóki istnieje umysł, nikt nie może utrzymywać, że cieszy się wolnością. W
                świeckim znaczeniu można powiedzieć: „Mam pieniądze, daję je jemu. To jest moja
                wolność itd.” Lecz prawdę mówiąc, nie jest to wolność ani wolna wola. Umysł
                jest mieszanką trzech gun – sattwy, radżasu i tamasu. Jedna lub więcej z tych
                trzech cech może stać się dominująca w danym czasie u danej osoby. W powyższym
                przykładzie umysł człowieka, który daje pieniądze innej osobie jest motywowany
                przez sattwogunę do dawania w miłosierdziu potrzebującemu. Zatem gdy człowiek
                działa pod wpływem gun, jak możecie twierdzić, że ma wolna wolę? Tym samym
                posiadanie wolności jest niemożliwe dla kogokolwiek, kto jest częścią
                stworzenia. Justice Khastagir powiedział wam przed chwilą, że człowiek w swoim
                domu ma wolność by ćwiczyć wymachując kijem jak mu się podoba, ale nie ma
                takiej wolności na drodze publicznej, ponieważ nie jest to zgodne z prawem i
                może zostać aresztowany. Jednak ściśle mówiąc, gdy człowiek wykonuje ćwiczenia
                wymachując kijem w swoim domu, nie jest to wolność, a jedynie spełnienie woli
                lub pragnienia. Kiedykolwiek człowiek robi coś dla własnej korzyści, oznacza to
                tylko przywiązanie. Jedynie to można nazwać prawdziwą wolnością, co emanuje z
                serca, bez względu na miejsce, czas, osobę czy rzecz.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Najbardziej utalentowane osoby na różnych życiowych ścieżkach nie zdobywały
                swych umiejętności od kogokolwiek z zewnątrz. Te umiejętności były jedynie
                manifestacją ich własnego wewnętrznego potencjału. Jest jawną ignorancją
                myśleć, że jakakolwiek osoba może rozwinąć się przez jakąś inną osobę. Wszystko
                jest wyłącznie w was. Wszystko co robicie własnym wysiłkiem służy do
                zamanifestowania lub wyrażenia na zewnątrz tego, co już jest wam wrodzone.
                Zatem, nawet na polu duchowym, wszystkie sadhany jakie potrzebujecie wykonać,
                to usunąć przeszkodę, mianowicie ignorancję, która nie pozwala przejawić się
                boskości już w was obecnej. Również Kriszna nauczał tej wielkiej prawdy Ardżunę
                w następujących słowach: „Ardżuno, kiedy się urodziłeś, nie znałeś sztuki
                łucznictwa. Masz wrażenie, że to Drona instruował cię i dlatego posiadłeś
                umiejętności wojenne od kogoś z zewnątrz. To nie jest właściwe myśleć, że Drona
                uczył cię, a ty zdobywałeś umiejętności od zera. Wszystko co Drona czynił, to
                ułatwiał zamanifestować się temu, co już było w tobie.” Pamiętajcie, że żaden
                nauczyciel ani nawet wielki człowiek wyposażony w nadnaturalne moce nie może
                wydobyć czegoś, czego nie było już wcześniej w was. Szczęście lub nieszczęście,
                błogość lub niedola – one wszystkie są w was. Przypuśćmy, że kopiecie studnię.
                Dochodząc do głębokości powiedzmy 100 stóp od poziomu gruntu, dokopujecie się do czystego źródła obfitego w wodę. Czy w tym momencie stworzyliście wodę lub
                przynieśliście ją skądś? Nie, nie. Woda była tu cały czas. Ona pojawiła się
                ponieważ ziemia, która ją skrywała została usunięta. Tak samo istnieje w was
                zawsze obecna boskość. Lecz zapomnieliście o niej. Dlaczego? Z powodu waszej
                błędnej identyfikacji z ciałem.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Jak długo istnieje umysł, człowiek nie może uciec od różnego rodzaju myśli. To
                wskazuje na wolność umysłu, ale nie na wolność człowieka. Sampath powiedział
                wam, że uczeń ma wolność zadawać pytania nauczycielowi i otrzymywać odpowiedzi.
                To jednak nie kwestia wolności, a obowiązku. Obowiązkiem ucznia jest stosować
                się do przepisów systemu edukacji, które zapewniają możliwość zadawania pytań i
                otrzymywania odpowiedzi. Powinniście rozumieć różnicę między wolnością a
                obowiązkiem. Obowiązek może być rozpatrywany w trzech kategoriach: sambandham
                (relacja), nirbandham (przymus) i kartawjam (zobowiązanie). Różnice między nimi
                staną się jasne, gdy rozważymy kilka przykładów.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Chcecie zaprosić przyjaciół na herbatkę w niedzielny wieczór. Zgodnie z tym,
                zawczasu zapraszacie przyjaciół. Jednak w niedzielę o 16-tej dostajecie
                wysokiej gorączki. Wobec tego informujecie wszystkich zaproszonych, że herbatka
                jest odłożona. W tej sytuacji możecie zrobić przyjęcie lub nie, jak sobie
                życzycie. To jednak nie jest wolność, jest to sambandham (relacja), coś
                dobrowolnego i dowolnego.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Następnie powiedzmy o nirbandham. Jesteście w biurze. Nagle dostajecie ataku gorączki.
                Właśnie tego dnia wasz szef przybywa do was na inspekcję. Tak więc nie możecie
                wziąć urlopu. Jedziecie zatem do lekarza, dostajecie zastrzyk i parę tabletek
                na waszą chorobę i obowiązkowo stawiacie się w biurze mimo cierpienia
                wywołanego gorączką. Ten przypadek to nirbandham czyli przymus.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Po trzecie, kartawjam. Z jakichś powodów dochodzi do sprzeczki między tobą, a
                twoją żoną. W ataku gniewu uderzasz ją. Ona wychodzi do sypialni i kładzie się,
                szlochając. Nie zajmuje się kuchnią. Siedzisz w salonie. Jesteś wściekły z
                dwóch powodów: najpierw z powodu, o który się pokłóciliście, a następnie,
                ponieważ twoja żona nie przygotowuje posiłku, a ty jesteś bardzo głodny. Zatem
                z powodu gniewu i głodu jesteś bardzo niespokojny. Właśnie wtedy wasz dobry
                znajomy przychodzi do was z wizytą. Witasz go z uśmiechem mówiąc: „witamy,
                witamy” i po posadzeniu go idziesz do żony i mówisz spokojnym głosem, ale ze
                złością: „Mój przyjaciel przyszedł; przygotuj kawę.” Okazujesz gniewną twarz
                swojej żonie, ale swojemu przyjacielowi oblicze szczęśliwe. Nie chcesz aby twój
                przyjaciel widział, że kłócisz się z żoną, ani nie chcesz, by twoja żona
                widziała, że dobrze się bawisz z przyjacielem. Ponieważ jesteś zobowiązany
                dostosować swoje zachowanie do różnych osób i sytuacji zgodnie z normami
                społecznymi i etykietą, jest to nazywane kartawjam czyli zobowiązanie.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                W dzisiejszych czasach ludzie w ogóle lekceważą wszystkie trzy rodzaje
                obowiązku: sambandham, nirbandham i kartawjam (relacja, przymus i
                zobowiązanie). Stąd bierze się dharmaglani (postępujący wokół upadek prawości w
                nowoczesnym społeczeństwie). Należy zauważyć, że w działaniu zgodnym z relacją,
                przymusem i zobowiązaniem człowiek nie ma wolności, jak to zostało pokazane.
                Wolność istnieje tylko na poziomie atmy lub jaźni.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Angażujcie się w dowolną działalność, ale zawsze pamiętajcie, że waszą
                prawdziwą naturą jest jaźń lub atma. Tak postępując bez wątpienia będziecie
                cieszyć się prawdziwą wolnością. Nie ma dwóch rodzajów wolności – indywidualnej
                i duchowej. „Adhi atmikam” lub sama duchowość jest swatantrijam czyli
                wolnością. Sama wolność jest już duchowością. Niemożliwe jest, by te dwie
                wolności istniały oddzielnie. Jest tylko jedno istnienie które przyjmuje różne
                nazwy i formy. Tak jak to samo mleko przyjmuje różne nazwy i formy jako twaróg,
                jogurt, maślanka, śmietana czy masło, tak salokjam (przebywanie w tym samym
                świecie), samipjam (bliskość), sarupjam (upodobnienie) i sajudżjam (stopienie)
                są różnymi nazwami tego samego doświadczenia duchowego. Ponadto są to kolejne
                stopnie w procesie realizacji Boga. Salokjam to nieustanne myślenie o Bogu i
                życie w duchowym lub boskim świecie, który jest jak gdyby przeciwny do świata
                materialnego. Samipjam wskazuje na zbliżanie się do Swamiego lub Boga. Sarupjam
                to stanie się jednym ze Swamim. Sajudżjam to ostateczny stopień zjednoczenia ze
                Swamim, tzn. całkowite połączenie bez jakiegokolwiek śladu dualizmu.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Jeśli ktokolwiek w tym zjawiskowym świecie twierdzi, że posiadł wolność, to
                możemy jedynie nazwać ją „werri swatantrijam” czyli szaloną wolnością. Taka
                wolność może być nazwana także „ahamkara swatantrijam”, swobodą ego i „abhimana
                swatantrijam”, swobodą namiętności lub przywiązań. Jest głupotą z waszej strony
                sądzić, że macie wolność aby łajać i bić żonę czy dzieci. Jeśli chcecie
                zwiększyć swoją wolność prze ograniczanie wolności innych, jest to jedynie
                kompletny egoizm. Prawdziwa wolność polega na nie ingerowaniu w&nbsp; wolność
                innych. Nie znajdujecie takiej wolności na tym świecie. To co znajdujecie, to
                hierarchia władzy, gdzie ten kto jest na wyższym poziomie kontroluje tego, kto
                jest na niższym poziomie. W efekcie nikt nie jest wolny za wyjątkiem być może
                jednej osoby znajdującej się na samym szczycie hierarchii. Jednak ściśle
                mówiąc, nawet ta jedna osoba zajmująca najwyższy szczebel na drabinie władzy
                nie może powiedzieć, że jest wolna, ponieważ kwestia wolności nie pojawia się,
                gdy istnieje tylko jeden bez drugiego. To co nazywamy „wolnością jednostki” i
                „podstawowymi prawami” może być pomocne do prowadzenia doczesnych interesów.
                Jednak w sensie absolutnym za tymi pojęciami nie kryje się prawdziwa wolność.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Z tej dyskusji wychodzimy z wnioskiem, że pod jakimkolwiek kątem by nie
                rozpatrywać tej kwestii, dla człowieka nie ma wolności i nie może być wolności
                dla człowieka. Faktycznie człowiek nie wie co oznacza prawdziwa wolność. Ktoś
                kto jest wolny nie rodzi się w tym świecie. Ktoś kto przychodzi na ten świat z
                ciałem, nie może mieć wolności. Dżajamma dał wam przykład zwierzęcia
                przywiązanego do kołka sznurem długości dziesięciu stóp, aby zobrazować, że
                zwierzę ma ograniczoną wolność w promieniu do dziesięciu stóp. Ale jak możecie
                mówić o wolności, gdy zwierzę jest przywiązane sznurem za szyję do kołka i nie
                może pójść dalej niż na dziesięć stóp? Nie można i nie powinno się mówić o
                czymś, co jest ograniczone w jakikolwiek sposób, że posiada wolność. To tylko
                pokazuje, że mamy nawyk używania słów bez znajomości ich poprawnego znaczenia.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Jeśli zrozumiecie prawdziwe znaczenie słowa „serce”, poznacie, że jest ono
                ponad wszelkimi ograniczeniami. To samo serce, które jest w was, jest również
                we wszystkich innych ludziach, włącznie z tymi, których darzycie nienawiścią,
                lub którzy nienawidzą was. Możecie mieć wątpliwość, że skoro wszyscy maja to
                samo serce, to jak mogłyby ich myśli, postawy i działania różnić się od siebie.
                Uczniowie! Pamiętajcie, że wszystkie różnice są stworzone przez umysł i nie
                mają nic wspólnego z sercem. To nie jest fizyczne serce, lecz duchowe serce,
                które jest wszechobecne. Ono nie ma formy, lecz jest podłożem dla wszystkich form,
                tak jak cukier jest wspólną bazą dla wszystkich rodzajów cukrowych laleczek czy
                zwierzątek, które są lubiane przez różne dzieci.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Wszystkie różnice jakie znajdujecie w świecie są jedynie odbiciem waszego
                umysłu. Czy kochacie kogoś, czy nienawidzicie lub kpicie z kogoś, oni są tylko
                waszymi odbiciami. Jeśli odpuścicie sobie te „reakcje, oddźwięki i odbicia”
                waszego umysłu, które ukazują się wam w zjawiskowym świecie, a będziecie
                trzymać się Serca nazywanego Rzeczywistością, wtedy wszystkie te różnice w
                myślach, odczuciach, działaniach itd. znikną. Bóg nie ma żadnego rodzaju myśli
                ani odczuć. Jednak pojawia się On, aby stosownie odpowiedzieć zgodnie z
                myślami, odczuciami, postawami i czynami wielbicieli takimi jak wielbienie, modlitwa
                itd. On nie ma upodobań ani niechęci. Nie jest też na jednych zły a z innych
                zadowolony. Nie miewa humorów zmieniających się od czasu do czasu, dotyczących
                jakiejś osoby lub różnych osób, jak wielu z was sobie wyobraża. Oczywiście w
                wyniku użycia ciała, Awatarzy również wydają się mieć takie reakcje, oddźwięki
                i odbicia, lecz jest to tylko po to, by dać przykład innym i pomóc im zmienić
                się tak, by mogli dokonać potrzebnego postępu w swojej duchowej podróży. Bóg
                nie dzieli ani nie rozróżnia „wyższych” kast i „niższych”, młodych i starych,
                kobiet i mężczyzn, ludzi z jednego kraju i z innego itd. itp. To wszystko są
                doczesne różnice należące do świata zjawiskowego, ale nie mają nic wspólnego z
                boskością. To jest tylko objaw ciasnego myślenia sądzić, że Rama urodził się w
                rodzinie kszatrijów, Kriszna w jadawa czyli rodzinie pasterzy lub Sai Baba w
                rodzinie radżu – kszatrijów i tak dalej.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Bóg nigdy nie ma takich rozróżnień. Jeśli rozumie się poprawnie naturę boskiego
                pierwiastka atmy, nie ma miejsca na takie małostkowe, ograniczone rozróżnienia
                i podziały.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Żyjąc w tym rozległym wszechświecie musicie rozwijać szerokie myślenie i
                odczuwanie, aby zrozumieć naturę nieskończonej atmy. Duchowość nie przyjdzie z
                ciasnego i ograniczonego punktu widzenia. Wielbienie, badżany lub śpiewy
                duchowe, medytacja i temu podobne są uważane przez wielu za oznaki duchowości.
                Jednak są one tylko zaburzeniami (poruszeniami-JR) umysłu i służą jedynie
                mentalnej satysfakcji praktykujących. Modlicie się do Boga mówiąc: „Panie,
                jesteś moją matką, moim ojcem i moim przyjacielem” i tak dalej. Ale po co to
                całe „mambo-dżambo” czyli bełkotanie? Dlaczego nie powiedzieć po prostu: „Ty
                jesteś mną, a ja Tobą” i żyć zgodnie z tym? W związku z tym nie jest właściwe
                mówić „Ty i ja jesteśmy jednym”, ponieważ ty i ja to jesteśmy my, lecz nigdy
                jeden. Lepiej powiedzieć: „My i my jesteśmy jednym”, ponieważ ja jestem w tobie
                i ty jesteś we mnie. Zatem jeśli zbliżamy się do siebie, stajemy się jednym.
                Jednak w zdaniu „My i my jesteśmy jednym” istnieje dualność, ponieważ to „my”
                składa się z ciała fizycznego i boskiego pierwiastka atmy. Jeśli rozumiecie
                naturę tych dwóch aspektów waszej osobowości, nie będziecie myśleć o relacjach między
                wami a Bogiem takich jak matka, ojciec, przyjaciel itd. Obaj jesteście jednym,
                chociaż to jedno może wam się objawiać jako dwa. Oto dokładna ilustracja tego
                faktu. Mikrofon przede mną wygląda jak dwa, lecz działa tylko jak jeden,
                wzmacniając mój głos, tak abyście wszyscy mogli go słyszeć. Podobnie
                powinniście uzmysłowić sobie i zrozumieć jedność ciała i hridajam lub atmy. To
                jest jedyna sadhana jaką powinniście praktykować.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Studenci!</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Duchowość oznacza połączenie z Bogiem. Nie jesteście różni od Boga. Jesteście
                Bogiem, Bóg jest wami. Jeśli jesteście mocno utwierdzeni w tej wierze, nie
                potrzebujecie podejmować żadnej innej sadhany, czyli duchowej praktyki.
                Oczywiście niektórzy ludzie powtarzają jak papuga: „Ja i Ty jesteśmy jednym”,
                lecz nie żyją zgodnie z tym. Oto historyjka, która to ilustruje. Pewien guru
                dał mantrę „Śiwoham” jednemu ze swoich uczniów i wyjaśnił mu, że znaczy ona „Ja
                jestem Śiwą”. Gdy uczeń wypowiadał „Śiwoham, Śiwoham”, przyszedł jego kolega i
                spytał o znaczenie tej mantry. Zapytał: „Jeśli ty jesteś Śiwą, to kim dla
                ciebie jest Parwati?” Uczeń niezwłocznie odparł: „Oby Bóg mi wybaczył obrazę!
                Bogini Parwati dalece mnie przewyższa i zasługuje na moją adorację i
                uwielbienie.”( Co chyba oznacza: traktuję ją jak należy traktować małżonkę.-JR)
                Problem który trzeba tu zauważyć jest taki: jeśli uczeń ma prawdziwą wiarę i
                przekonanie do mantry Śiwoham z której wynika, że jest tylko jeden Bóg
                manifestujący się we wszelkich imionach i formach, zarówno wszystkich bogów i
                bogiń, jak i wszystkich istot w całym wszechświecie, to właściwa odpowiedź
                powinna być: „Jestem również Parwati”. Zamiast takiej odpowiedzi, dał odpowiedź
                pochodzącą z jego wiary w&nbsp; tradycyjny układ mąż – żona, w to, że Parwati była
                małżonką Śiwy. Zatem tego rodzaju komplikacje pojawia się, gdy będziecie myśleć
                o Bogu w kategoriach świeckich, fizycznych relacji jak matka, ojciec itd.
                Zamiast tego powinniście mieć niezachwianą wiarę w jedność Bóstwa i trwać w
                przekonaniu, że „Ja jestem Tobą, Ty jesteś mną, nie jesteśmy dwoma, lecz
                jednym”. To jest prawdziwa wolność, która jest wam wrodzona. W takim kontekście
                powinniście zrozumieć właściwe znaczenie słów „swa dharma” i „para dharma”
                użytych w Gicie. Znaczenie „swa dharma” to „atma dharma” a nie dharma, czyli
                obowiązki zalecane różnym kastom takie jak brahmana dharma, kszatrija dharma i
                tak dalej. Podobnie „para dharma” oznacza „deha dharma” (dharma odnosząca się
                do ciała). W takim sensie powinniście rozumieć stwierdzenie w Gicie „Paradharmo
                bhajawahah”, które w efekcie znaczy że jeśli postępujecie zgodnie z „deha
                dharmą” czyli dharmą fizycznego ciała, będziecie mieli życie wypełnione
                strachem. Z drugiej strony, jeśli będziecie podążać za „atma dharmą”, nie
                doznacie żadnych obaw. Wobec tego jeśli rozumiecie prawdziwe znaczenie wersetów
                i słów z Gity i kształtujecie odpowiednio do nich swoje życie, nie będziecie
                bać się oszczerstw, kpin, smutku i cierpienia.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Studenci! Możecie mi wierzyć lub nie, gdy mówię: „Ja nie wiem co to jest
                smutek, zmartwienie, ani co to znaczy niewygoda”. Niektórzy wychwalają mnie i
                wielbią mnie. Inni mogą mnie krytykować i oczerniać. W obu przypadkach jest to
                ich wola i ich przyjemność. W ogóle się tym nie przejmuję. Moja postawa wobec
                złorzeczących jest taka: jeśli robią to na głos, mówię: „przeminęło z wiatrem”,
                jeśli w myślach, to mówię: „to rani tylko ich, ponieważ mnie nie dosięga”.
                Dlaczego w obu przypadkach miałbym w ogóle się przejmować? Zatem jeżeli
                jesteście utwierdzeni w prawdzie, nigdy nie będziecie dotknięci ani
                wychwalaniem, ani potępianiem, ani przez radość, ani przez smutek. Ludzie
                przybywają do mnie i skarżą się z powodu żałoby w ich rodzinie lub innego
                cierpienia, bólu itd. Odpowiadam im: „Czalla santoszam”, co znaczy: „Bardzo
                szczęśliwy”. Powinniście zwrócić uwagę, że ten rodzaj szczęśliwości pozostaje
                taki sam we wszelkich okolicznościach, ponieważ opiera się na Atma Tattwie
                czyli zasadzie „Wszystko jest atmą”. Jednak czasami udaję, że jestem zły na
                uczniów z powodu ich złego zachowania. Jest to tylko zewnętrzny gniew; on nie
                wypływa z wnętrza. Mogę miesiącami nie odzywać się do niektórych osób. To moje
                lekarstwo, które ma wyleczyć ich z ich choroby złego zachowania i osadzić na
                drodze prawości. Jakie prawo ma ktokolwiek by pytać, dlaczego Swami nie odzywa
                się do niego?</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Mały przykład na to. Czterech pacjentów przychodzi do lekarza. Wszyscy z tą
                samą dolegliwością bólu brzucha. Lekarz bada ich po kolei. Jednego odsyła z
                zaleceniem robienia gorących okładów. Drugiemu daje miksturę z siarczanu magnezu
                i węglanu sodu i mówi mu, że uwolni się od bólu, który jest wywołany wzdęciem. Trzeciemu
                daje pewne tabletki. Jednak czwartej osobie każe natychmiast poddać się
                operacji, ponieważ jego ból brzucha jest spowodowany zapaleniem wyrostka
                robaczkowego. Podobnie traktuję różnych ludzi w różny sposób kierując się ich
                potrzebami i ich własnym dobrem. Na pewnych ludzi w ogóle nie spoglądam. Do
                pewnych nie odzywam się. Unikam lub omijam niektórych, pomimo że próbują
                zwrócić na siebie moją uwagę. To wszystko są moje recepty na ich indywidualne
                dolegliwości. Dlaczego daję takie lekarstwa? Przyjąłem zasady. Moje słowo jest
                bardzo cenne. Nawet jeśli wy nie przykładacie wagi do mojego słowa, ja
                przywiązuję do niego wielkie znaczenie i wartość. Jeśli ktoś nie zważa na moją
                mowę, to ja nie lubię marnować moich słów na rozmowy z nim. Aby więc zachować
                wartość mojej mowy, przestaję mówić do takiej osoby. Zamiast skarżyć się, że
                Swami nie odzywa się do ciebie, dlaczego nie obwiniasz siebie, że nie
                postępujesz zgodnie z zaleceniami Swamiego? To nie jest „droga
                jednokierunkowa”. To kwestia dawania i brania. Jeśli jesteście bezwarunkowo posłuszni
                zaleceniom Swamiego, jego łaska spływa na was automatycznie. Nie potrzebujesz
                specjalnie modlić się o jego łaskę. Przede wszystkim przywiązuj wagę do swoich
                własnych słów. Pamiętaj mądrość: „Prawda jest życiem świata, batalion
                walecznych żołnierzy jest życiem twierdzy, skromność jest życiem kobiety, a
                podpis jest życiem weksla”.</span></p>
                
                <p class="MsoNormal" style="margin-top:0cm;margin-right:3.75pt;margin-bottom:
                0cm;margin-left:3.75pt;margin-bottom:.0001pt"><span style="font-size:14.0pt">&nbsp;&nbsp;
                Nikt nie potrafi zrozumieć natury boskości. Bóg nigdy nie jest podekscytowany,
                ani w depresji. Nawet jeśli cały świat oskarża mnie i oczernia, nie wpadnę w
                przygnębienie. Nawet jeśli cały świat wychwala mnie, nie będę podniecony. Jest
                tak, ponieważ jestem ugruntowany w prawdzie. Nie będzie miejsca na jakiekolwiek
                zmartwienie i niepokój, gdy będziecie mocno osadzeni w sercu, atmie lub
                prawdzie – wszystkie znaczą to samo. Próbujcie zrozumieć boskość Swamiego,
                który jest niezmienną podstawą, adharą, wszystkiego co się zmienia (adheja) i w
                ten sposób uświęcajcie i czyńcie zasadnym waszą obecność tutaj, na tym letnim
                kursie.</span></p>
                
                <p class="MsoNormal">&nbsp;</p>
            </article>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Strona Kazika B.</a></li>
                    <li class="breadcrumb-item active">Artykuły</li>
                    <li class="breadcrumb-item active" aria-current="page">Nauki Sai Baby</li>
                    <li class="breadcrumb-item active" aria-current="page">Summer Showers 1990</li>
                </ol>
            </nav>
        </section>
    </main>
    <footer>
        <div class="container">
            <p> <small>This page is in Polish only. If the language is exotic to you, you may wish to check <a
                        href="http://www.astro.umk.pl/~kb/personal.html">my site in <img src="../../../img/united-kingdom.svg" alt="English"
                            class="flag">&nbsp;English.</a></small></p>
            <p> <small>Icons are from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> and
                    from <a href="https://fontawesome.com/">www.fontawesome.com</a></small></p>
            <p><small>Projekt strony: <a href="https://grombor.github.io/">KM</a></small></p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>